Repository kubernetes/website, pull requests merged in 2019-11, with the labels that each got.

#17327 Improve previously translated documents
  content/zh/docs/reference/glossary/mirror-pod.md
  content/zh/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
  content/zh/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#17331 Remove requirement for unsupported k8s version for NodeRestriction.
  content/en/docs/concepts/configuration/assign-pod-node.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17320 zh-trans: docs/setup/production-environment/turnkey/aws.md
  content/zh/docs/setup/production-environment/turnkey/aws.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17329 Fix misspell of type of Pod condition at init container explanation
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17296 change minikube install cmd on macOS
  content/en/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17026 Watch bookmarks to GA
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/using-api/api-concepts.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17349 Broken link in `Extending your kubernetes Cluster`
  content/en/docs/concepts/extend-kubernetes/extend-cluster.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17351 change kubectl get deployment output
  content/en/docs/reference/kubectl/docker-cli-to-kubectl.md
  content/en/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
  content/en/docs/tasks/administer-cluster/namespaces-walkthrough.md
  content/en/docs/tasks/administer-cluster/namespaces.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/en/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#17301 update zh trans /generated/kubeadm_join_phase_.* files
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_all.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_etcd.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_update-status.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_all.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_certs.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_download-certs.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_kubeconfig.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17242 remove the daemonset specific exception
  content/en/docs/tasks/administer-cluster/out-of-resource.md
Labels: Needs Tech Review, approved, cncf-cla: yes, language/en, lgtm, sig/apps, sig/docs, size/S

#17147 Add content/es/docs/reference/glossary/sig.md
  content/es/docs/reference/glossary/sig.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/S

#16547 Promote VolumeSubpathEnvExpansion to GA
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17344 add zh /docs/reference/glossary/pod-disruption-budget.md
  content/zh/docs/reference/glossary/pod-disruption-budget.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17197 zh-trans: modify /docs/tasks/access-kubernetes-api/configure-aggregation-layer.md
  content/zh/docs/tasks/access-kubernetes-api/configure-aggregation-layer.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17350 feat: graduate ScheduleDaemonSetPods to GA
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#17366 Fix grammar
  README-ko.md
Labels: approved, area/blog, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#17237 Fix awkward sentences
  content/ko/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md
Labels: approved, cncf-cla: yes, language/en, language/id, language/ko, language/zh, lgtm, sig/docs, size/XS

#17357 fixing the correct word from "anda" to "kamu"
  content/id/docs/concepts/cluster-administration/manage-deployment.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#17390 add zh trans content/zh/docs/reference/setup-tools/kubeadm/generated/…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_controller-manager.conf.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_scheduler.conf.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node_phase.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17381 add zh trans content/zh/docs/reference/setup-tools/kubeadm/generated/…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_scheduler.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_control-plane.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17380 add zh trans content/zh/docs/reference/setup-tools/kubeadm/generated/…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-kubelet-client.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_mark-control-plane.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_kubelet-start.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17383 add zh trans content/zh/docs/reference/setup-tools/kubeadm/generated/…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_coredns.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_bootstrap-token.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#17385 add zh trans content/zh/docs/reference/setup-tools/kubeadm/generated/…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_certificate-key.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset_phase_preflight.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset_phase_update-cluster-status.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17384 add zh trans content/zh/docs/reference/setup-tools/kubeadm/generated/…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_front-proxy-client.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting_pivot.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17324 add zh /docs/reference/glossary/limitrange.md
  content/zh/docs/reference/glossary/limitrange.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#16775 Translate concepts/storage/volume-pvc-datasource in Japanese
  content/ja/docs/concepts/storage/volume-pvc-datasource.md
  content/ja/docs/reference/glossary/container.md
  content/ja/docs/reference/glossary/csi.md
  content/ja/docs/reference/glossary/persistent-volume-claim.md
  content/ja/docs/reference/glossary/persistent-volume.md
  content/ja/docs/reference/glossary/storage-class.md
  content/ja/docs/reference/glossary/volume.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#17321 add zh trans content/zh/docs/setup/best-practices/cluster-large.md
  content/zh/docs/setup/best-practices/cluster-large.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17356 Change Word anda to kamu indonesia language
  content/id/docs/concepts/cluster-administration/manage-deployment.md
  content/id/docs/concepts/configuration/overview.md
  content/id/docs/concepts/workloads/controllers/garbage-collection.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#16926 upgrade ubuntu docker image 14.04 → 18.04
  content/en/examples/application/job/rabbitmq/Dockerfile
  content/ja/examples/application/job/rabbitmq/Dockerfile
Labels: approved, cncf-cla: yes, language/en, language/ja, lgtm, sig/docs, size/XS

#17407 Update kubeadm-upgrade.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#17405 Update Docker installation instructions
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#17335 Update network-policies.md
  content/en/docs/concepts/services-networking/network-policies.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17398 Fix punctuation
  content/zh/docs/home/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#17415 Fix misspell of type of Pod condition at init container explanation (ko)
  content/ko/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#17416 Fix misspell of type of Pod condition at init container explanation (zh)
  content/zh/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#17300 add zh /docs/reference/glossary/cluster-operations.md
  content/zh/docs/reference/glossary/cluster-operations.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17419 add zh /docs/reference/glossary/applications.md
  content/zh/docs/reference/glossary/applications.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#17367 add resource to be the same as kubectl api-resources
  content/en/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17309 Fix #17113 - Remove references to federation pages which have been deleted.
  content/en/docs/reference/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17183 modify terminated-pod-gc-threshold explanation (#15272)
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17176 Improve readability in persistent volume introduction
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17318 Custom args 20191031
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#17379 update zh trans kubelet
  content/zh/docs/reference/command-line-tools-reference/kubelet.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#17394 add the same namespace
  content/en/docs/concepts/overview/working-with-objects/names.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17418 add zh /docs/reference/glossary/static-pod.md
  content/zh/docs/reference/glossary/static-pod.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17423 add zh /docs/reference/glossary/preemption.md
  content/zh/docs/reference/glossary/preemption.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17421 add zh /docs/reference/glossary/pod-priority.md
  content/zh/docs/reference/glossary/pod-priority.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17425 add zh /docs/reference/glossary/control-plane.md
  content/zh/docs/reference/glossary/control-plane.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17413 Fix misspell of type of Pod condition at init container explanation (fr)
  content/fr/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#17431 remove duplicate yaml
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#17428 Use exact version numbers when installing Docker in Ubuntu
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17314 Grokkin' the Docs: Experiences of a New Contributor blog post
  content/en/blog/_posts/2019-11-05-grokkin-the-docs.md
  static/images/blog/grokkin-the-docs/grok-definition.png
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#17402 Update Korean l10n guide
  content/ko/docs/contribute/localization_ko.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#17424 add zh /docs/reference/glossary/cluster-infrastructure.md
  content/zh/docs/reference/glossary/cluster-infrastructure.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17225 Translate tasks/manage-kubernetes-objects/kustomization in Korean
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#17444 zh-trans: modify content/zh/docs/reference/using-api/api-overview.md
  content/zh/docs/reference/using-api/api-overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17235 Update file outdated korean docs in dev-1.16-ko.4
  content/ko/docs/concepts/architecture/cloud-controller.md
  content/ko/docs/concepts/cluster-administration/federation.md
  content/ko/docs/concepts/overview/working-with-objects/names.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/reference/glossary/applications.md
  content/ko/docs/reference/glossary/replica-set.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/setup/_index.md
  content/ko/docs/setup/best-practices/certificates.md
  content/ko/docs/setup/best-practices/node-conformance.md
  content/ko/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
  content/ko/docs/tasks/manage-kubernetes-objects/declarative-config.md
  content/ko/docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#17443 rcs can not be a shortcut in kubectl command
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17439 fix issue 17420
  content/en/docs/reference/access-authn-authz/controlling-access.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17446 Fix trivial typo in IPVS proxy mode explanation
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17435 zh-trans: modify content/zh/docs/concepts/workloads/controllers/daemonset.md
  content/zh/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17375 Translate docs/reference/glossary/selector.md in Japanese
  content/ja/docs/reference/glossary/selector.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#17194 Remove a space previous a tooltip text
  layouts/partials/docs/glossary-terms.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#17456 update phase command to upload certs after expiration
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16703 kubeadm: add note about 'upgrade apply --config'
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, priority/important-longterm, sig/cluster-lifecycle, sig/docs, size/XS

#17307 test redirect of api ref index page
  content/es/docs/reference/kubernetes-api/api-index.md
  content/zh/docs/reference/kubernetes-api/api-index.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, language/es, language/zh, lgtm, sig/docs, size/XS

#17412 assign inductor as sig-docs-ja approver
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#17445 zh-trans: modify content/zh/docs/concepts/workloads/controllers/garbage-collection.md
  content/zh/docs/concepts/workloads/controllers/garbage-collection.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17442 zh-trans: modify /docs/reference/glossary/qos-class.md
  content/zh/docs/reference/glossary/qos-class.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17404 Clarify init container use case for security
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17328 Update deployment.md
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#17465 Fix #17342 - Fix indentation / markdown formatting for list numbering.
  content/en/docs/tasks/administer-cluster/namespaces.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#17430 add link to running a replicated stateful application
  content/en/docs/concepts/workloads/controllers/statefulset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17472 change the link of restart-policy
  content/en/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17334 Add new case study stylesheet
  static/css/case-studies-gradient.css
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/L

#16630 Translate concepts/workloads/pods/ephemeral-containers.md in Korean.
  content/ko/docs/concepts/workloads/pods/ephemeral-containers.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#17464 fix QoS Class to QoS 类
  content/zh/docs/reference/glossary/qos-class.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#17427 zh-trans: modify /docs/reference/access-authn-authz/abac.md
  content/zh/docs/reference/access-authn-authz/abac.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17345 zh-trans:docs/setup/production-environment/turnkey/alibaba-cloud.md
  content/zh/docs/setup/production-environment/turnkey/alibaba-cloud.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17254 Remove 'experimental' from high-availability, and '.' from etcd bullet
  content/en/docs/tasks/debug-application-cluster/debug-cluster.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#17473 fixed a typo
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17481 Forth Korean l10n work for release-1.16
  content/ko/docs/concepts/architecture/cloud-controller.md
  content/ko/docs/concepts/cluster-administration/federation.md
  content/ko/docs/concepts/overview/working-with-objects/names.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/ko/docs/concepts/workloads/pods/ephemeral-containers.md
  content/ko/docs/contribute/localization_ko.md
  content/ko/docs/reference/glossary/applications.md
  content/ko/docs/reference/glossary/replica-set.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/setup/_index.md
  content/ko/docs/setup/best-practices/certificates.md
  content/ko/docs/setup/best-practices/node-conformance.md
  content/ko/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
  content/ko/docs/tasks/manage-kubernetes-objects/declarative-config.md
  content/ko/docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#17468 zh-trans: modify /docs/reference/glossary/endpoint-slice.md
  content/zh/docs/reference/glossary/endpoint-slice.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17469 zh-trans: modify /docs/reference/glossary/taint.md
  content/zh/docs/reference/glossary/taint.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17467 zh-trans: modify /docs/reference/glossary/operator-pattern.md
  content/zh/docs/reference/glossary/operator-pattern.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/M

#17433 zh-trans: modify content/zh/docs/concepts/workloads/controllers/statefulset.md
  content/zh/docs/concepts/workloads/controllers/statefulset.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17440 zh-trans: /docs/reference/glossary/admission-controller.md
  content/zh/docs/reference/glossary/admission-controller.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17441 zh-trans: modify /docs/reference/glossary/containerd.md
  content/zh/docs/reference/glossary/containerd.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17466 zh-trans: modify /docs/reference/glossary/app-container.md
  content/zh/docs/reference/glossary/app-container.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17126 Update _index.md
  content/de/docs/concepts/_index.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/S

#17218 Add content/es/docs/reference/glossary/label.md
  content/es/docs/reference/glossary/label.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/S

#17484 Link (PodDisruptionBudget) fix
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17373 Typo, should be extension's instead of extensions
  content/en/docs/concepts/extend-kubernetes/extend-cluster.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17503 add zh-trans content/zh/docs/setup/_index.md、content/zh/docs/setup/re…
  content/zh/docs/setup/_index.md
  content/zh/docs/setup/release/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17504 zh-trans: modify content/zh/docs/tasks/administer-cluster/enabling-endpoint-slices.md
  content/zh/docs/tasks/administer-cluster/enabling-endpoint-slices.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17495 update zh trans content/zh/docs/reference/setup-tools/kubeadm/kubeadm…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_kubelet.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-upgrade-phase.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17491 zh-trans: modify /docs/reference/glossary/logging.md
  content/zh/docs/reference/glossary/logging.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17486 zh-trans: modify /docs/reference/glossary/cri.md
  content/zh/docs/reference/glossary/cri.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17482 add zh-trans:docs/setup/production-environment/turnkey/azure.md
  content/zh/docs/setup/production-environment/turnkey/azure.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17485 pattern translate into 模式
  content/zh/docs/reference/glossary/operator-pattern.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#17393 fix zk affinity description in zh trans
  content/zh/docs/tutorials/stateful-application/zookeeper.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#17487 zh-trans: modify /docs/reference/glossary/ephemeral-container.md
  content/zh/docs/reference/glossary/ephemeral-container.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17513 Fix font style *フィルター* to _フィルター_
  content/ja/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#17489 zh-trans: modify /docs/reference/glossary/data-plane.md
  content/zh/docs/reference/glossary/data-plane.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17490 zh-trans: modify /docs/reference/glossary/cncf.md
  content/zh/docs/reference/glossary/cncf.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#16920 zh-trans add content\zh\docs\tools\install-minikube.md
  content/zh/docs/tasks/tools/install-minikube.md
  content/zh/docs/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17492 zh-trans: modify /docs/reference/glossary/extensions.md
  content/zh/docs/reference/glossary/extensions.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17493 zh-trans: modify /docs/reference/glossary/toleration.md
  content/zh/docs/reference/glossary/toleration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17422 Modify terminated-pod-gc-threshold explanation in Japanese (#15272)
  content/ja/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#17521 Revert "update zh trans content/zh/docs/reference/setup-tools/kubeadm/kubeadm…"
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_kubelet.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-upgrade-phase.md
Labels: cncf-cla: yes

#16220 Translate tasks/configure-pod-container/share-process-namespace/ into Japanese
  content/ja/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md
  content/ja/docs/tasks/configure-pod-container/share-process-namespace.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#16270 Translate tasks/access-application-cluster/connecting-frontend-backend/ into Japanese
  content/ja/docs/tasks/access-application-cluster/connecting-frontend-backend.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#16455 Translate concepts/extend-kubernetes/operator/ into Japanese
  content/ja/docs/concepts/extend-kubernetes/operator.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#16662 Translate concepts/extend-kubernetes/api-extension/apiserver-aggregation/ into Japanese
  content/ja/docs/concepts/extend-kubernetes/api-extension/_index.md
  content/ja/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#17517 backport assign inductor as sig-docs-ja approver (#17412) to dev-1.15-ja.1
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#17524 motidy extensions in content/zh/docs/reference/glossary/extensions
  content/zh/docs/reference/glossary/extensions.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#17523 motidy toleration in content/zh/docs/reference/glossary/toleration.md
  content/zh/docs/reference/glossary/toleration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#17526 improve zh-trans in content/zh/docs/setup/_index.md
  content/zh/docs/setup/_index.md
  content/zh/docs/setup/release/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#17338 ja-trans: content/ja/case-studies/sos
  content/ja/case-studies/sos/index.html
  content/ja/case-studies/sos/sos_featured_logo.png
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#17535 Expand feature gates page
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#17530 fix - broken link
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17522 Fix deprecation warning on example execution
  content/en/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17502 Update feature gate status for VolumePVCDataSource
  content/en/docs/concepts/storage/volume-pvc-datasource.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17506 Tidy “clean up local state” for Minikube install
  content/en/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/S

#17483 Drop vestigial paragraph about kube-proxy feature compatibility
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, sig/network, size/XS

#17477 Update label selectors caution about OR operator
  content/en/docs/concepts/overview/working-with-objects/labels.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17525 Updated Gardener line
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17529 fix - broken link
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#17531 Update AppArmor requirement section
  content/en/docs/tutorials/clusters/apparmor.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#17540 change version to param
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17313 Fix #17250 - Add details for TaintNodesByCondition.
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17330 Remove reference of unsupported k8s versions for CPUManager.
  content/en/docs/tasks/administer-cluster/cpu-management-policies.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/S

#17546 (ZH) Link to `PodOverhead` configuration page fix.
  content/zh/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#17551 Returning Cert Manager mention.
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17310 Update kubeadm-upgrade.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16937 update doc for client-go
  content/en/docs/tasks/access-application-cluster/access-cluster.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16879 Remove OutOfDisk from node condition
  content/en/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17543 (EN) Link to `PodOverhead` configuration page fix.
  content/en/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16639 ja-trans: content/ja/case-studies/appdirect
  content/ja/case-studies/appdirect/appdirect_featured_logo.png
  content/ja/case-studies/appdirect/index.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#17544 (KO) Link to `PodOverhead` configuration page fix.
  content/ko/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#17395 Update trans kubeadm_upgrade_plan.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_plan.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#17541 kubeadm: clarify the usage of kubeadm commands in our external etcd guide
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17157 #13332 No diagram on /concepts/overview/components/
  content/en/docs/concepts/overview/components.md
  static/images/docs/components-of-kubernetes.png
  static/images/docs/components-of-kubernetes.svg
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XXL

#17536 No need cask
  content/fr/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#17478 CSI Migration and CSI Migration GCE going to Beta in 1.17
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/S

#17564 Updating the latest svcat versions in repo
  content/en/docs/tasks/service-catalog/install-service-catalog-using-helm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17559 Release Notes (correction)
  content/en/docs/setup/release/notes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17558 PVCProtection related conent cleanup
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17567 Update images.md
  content/ko/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#13398 Translate a contribute to French
  content/fr/docs/contribute/style/content-organization.md
  content/fr/docs/contribute/style/hugo-shortcodes/example1.md
  content/fr/docs/contribute/style/hugo-shortcodes/example2.md
  content/fr/docs/contribute/style/hugo-shortcodes/index.md
  content/fr/docs/contribute/style/hugo-shortcodes/podtemplate.json
  content/fr/docs/contribute/style/page-templates.md
  content/fr/docs/contribute/style/style-guide.md
  content/fr/docs/contribute/style/write-new-topic.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XXL
