Repository kubernetes/website, pull requests merged in 2019-06, with the labels that each got.

#14662 Update minikube.md
  content/en/docs/setup/minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14680 fix typo in install-kubeadm.md
  content/zh/docs/setup/independent/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#14630 New upstream commit for code of conduct (Portuguese)
  content/pt/community/code-of-conduct.md
Labels: cncf-cla: yes, kind/cleanup, language/pt, lgtm, sig/docs, size/XS

#14663 Fix Container Environment Variables full link
  content/en/docs/reference/glossary/container-env-variables.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14661 fix typo in romana-network-policy.md
  content/en/docs/tasks/administer-cluster/network-policy-provider/romana-network-policy.md
  content/zh/docs/tasks/administer-cluster/network-policy-provider/romana-network-policy.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/XS

#14650 fix typos in configure-aggregation-layer.md
  content/en/docs/tasks/access-kubernetes-api/configure-aggregation-layer.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14669 Link to 'Add image pull secret to service account'
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14677 change to documentation ip adress #14664
  content/en/docs/tasks/access-application-cluster/create-external-load-balancer.md
  content/en/docs/tasks/configure-pod-container/translate-compose-kubernetes.md
  content/en/docs/tasks/tls/managing-tls-in-a-cluster.md
  content/zh/docs/tasks/access-application-cluster/create-external-load-balancer.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/S

#14635 update feature-gates.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14489 Add german slack channel and maintainer
  README-de.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/S

#14628 ko: add tasks/access-application-cluster/configure-dns-cluster
  content/ko/docs/tasks/access-application-cluster/configure-dns-cluster.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#14702 Updates kubernetes-basics
  content/en/docs/tutorials/kubernetes-basics/_index.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14700 Add documentation for PVC in use protection
  content/en/docs/concepts/storage/volume-snapshots.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14698 Updated target environments supported by Kublr
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14697 Update ICP version 3.1.2 to 3.2.0
  content/en/docs/setup/turnkey/icp.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14699 clean up feature state examples, style guide
  content/en/docs/contribute/style/hugo-shortcodes/index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14693 small grammar fixes in overview/components.md
  content/en/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14690 Update docs/concepts/configuration/secret.md
  content/zh/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#14684 document version changes of critical pod
  content/en/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14658 zh-trans:/docs/tasks/federation/administer-federation/cluster.md
  content/zh/docs/tasks/federation/cluster.md
  content/zh/includes/federation-deprecation-warning-note.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#14636 Adapt docs for kubectl completion on macOS
  content/en/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14643 Add a placeholder doc
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/S

#14412 setup/independent: update cilium documentation to v1.5
  content/zh/docs/setup/independent/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#14711 zh-trans: update content/zh/docs/setup/independent/create-cluster-kubeadm.md
  content/zh/docs/setup/independent/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#14606 Clarify behavior of parallel pod management policy of stateful sets
  content/en/docs/concepts/workloads/controllers/statefulset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14706 Fix typo: Update to hello-minikube
  content/en/docs/setup/minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14283 corrected example for private image string format
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14317 Tweak glossary definition for Node
  content/en/docs/reference/glossary/node.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14708 unhold the binaries on the worker nodes during upgrade
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-12.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-13.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#14648 Improve Pivotal row in Production Setup table
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14647 Prefer "minikube delete" over "rm -rf ~/.minikube"
  content/en/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14526 Reword documentation for Service concept
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/glossary/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#14726 Link from Security concept to related pages
  content/en/docs/concepts/security/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, priority/backlog, sig/docs, size/S

#14535 Translate overview/working-with-objects/field-selectors.md in Japanese (#14350)
  content/ja/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#14723 Remove unneeded "groups" from CSR yaml example
  content/en/docs/tasks/tls/managing-tls-in-a-cluster.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14586 fix homepage redirect of localized documentations
  static/_redirects
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#14749 fix typo card name | docs-fr | tutorials | create-cluster
  content/fr/docs/tutorials/kubernetes-basics/_index.html
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#14740 changed sample domain to be sub-domain of **example.com**
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14743 Fix a small typo
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14736 Update images.md
  content/en/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14737 Add KubeOne as AWS turnkey solution
  content/en/docs/setup/turnkey/aws.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#14730 Fix typo in limit-range.md.
  content/en/docs/concepts/policy/limit-range.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14738 zh-trans: update Manage HugePages
  content/zh/docs/tasks/manage-hugepages/scheduling-hugepages.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#14732 zh-trans: blog-non-code-contributors-guide
  content/zh/blog/_posts/2018-10-04-non-code-contributors-guide.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/L

#14721 use glossary defs in overview/components.md
  content/en/docs/concepts/overview/components.md
  content/en/docs/reference/glossary/container-runtime.md
  content/en/docs/reference/glossary/kube-proxy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14717 Kubespray supports Custom VM and BareMetal
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14756 fix markdown format
  content/zh/docs/setup/independent/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#14755 Issue #14752 - Update guestbook-logs-metrics-with-elk.md
  content/en/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14757 Issue #14703 - Update Images.md
  content/en/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14707 Update CSI migration docs
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/S

#14758 update pod-overview.md
  content/en/docs/concepts/workloads/pods/pod-overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14716 kubeadm-1.15-certs-renewal
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/L

#14605 Translate docs/tasks/configure-pod-container/attach-handler-lifecycle-event in Chinese
  content/zh/docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md
  content/zh/examples/pods/lifecycle-events.yaml
  content/zh/includes/task-tutorial-prereqs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#14622 move podresources endpoint to beta
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14525 Update “Autoscale the DNS Service in a Cluster”
  content/en/docs/tasks/administer-cluster/dns-horizontal-autoscaling.md
  content/en/examples/admin/dns/dns-horizontal-autoscaler.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14490 Explain motivation for RuntimeClass
  content/en/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/S

#14501 Update Calico to v3.7
  content/en/docs/setup/independent/create-cluster-kubeadm.md
  content/fr/docs/setup/independent/create-cluster-kubeadm.md
  content/ja/docs/setup/independent/create-cluster-kubeadm.md
  content/zh/docs/setup/independent/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, language/fr, language/ja, language/zh, lgtm, sig/cluster-lifecycle, sig/docs, size/M

#14482 Fix "Basic Working Knowledge of Kubernetes" links and standardize wording
  content/en/docs/tasks/federation/administer-federation/cluster.md
  content/en/docs/tasks/federation/administer-federation/configmap.md
  content/en/docs/tasks/federation/administer-federation/daemonset.md
  content/en/docs/tasks/federation/administer-federation/deployment.md
  content/en/docs/tasks/federation/administer-federation/events.md
  content/en/docs/tasks/federation/administer-federation/hpa.md
  content/en/docs/tasks/federation/administer-federation/ingress.md
  content/en/docs/tasks/federation/administer-federation/job.md
  content/en/docs/tasks/federation/administer-federation/namespaces.md
  content/en/docs/tasks/federation/administer-federation/replicaset.md
  content/en/docs/tasks/federation/administer-federation/secret.md
  content/en/docs/tasks/federation/federation-service-discovery.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14461 Emphasize that cluster API v1 is deprecated
  content/en/docs/tasks/federation/administer-federation/cluster.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14462 Rs rollingupdate
  content/en/docs/concepts/workloads/controllers/replicaset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14440 Adding annotation example
  content/en/docs/concepts/overview/working-with-objects/annotations.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14411 setup/independent: fix cilium installation guide for kubeadm
  content/en/docs/setup/independent/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, sig/network, size/XS

#14439 Adding example to show labels in POD yaml
  content/en/docs/concepts/overview/working-with-objects/labels.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14631 New upstream commit for code of conduct (Spanish)
  content/es/community/code-of-conduct.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/es, lgtm, sig/docs, size/XS

#13967 zh-trans: add /content/zh/docs/tasks/administer-cluster/namespaces-wa…
  content/zh/docs/tasks/administer-cluster/namespaces-walkthrough.md
  content/zh/examples/admin/namespace-dev.json
  content/zh/examples/admin/namespace-prod.json
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/L

#14751 revert on a name translation of card made by mistake
  content/fr/docs/home/_index.md
  content/fr/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#14750 Revert "fix typo card name | docs-fr | tutorials | create-cluster"
  content/fr/docs/tutorials/kubernetes-basics/_index.html
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#13742 docs-fr | concepts | services-networking | ingress
  content/fr/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#14403 Translate overview/working-with-objects/common-labels/ in Japanese (#14397)
  content/ja/docs/concepts/overview/working-with-objects/common-labels.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#14772 docs-fr | tutorials | hello-minikube | fix typo and wrong url
  content/fr/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#14783 Fix typo, missing 's' for plural
  content/fr/_index.html
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#14765 small typo: extra verb
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14659 correct typo in home directory name
  content/en/docs/setup/independent/high-availability.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14627 ko: add tasks/access-application-cluster/communicate-containers-same-…
  content/ko/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md
  content/ko/examples/pods/two-container-pod.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#13234 ZH-trans: add overview.md
  content/zh/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/XL

#13113 Use Hugo to generate CSS from SASS
  .gitignore
  Dockerfile
  Makefile
  assets/sass/OWNERS
  assets/sass/_base.sass
  assets/sass/_case-studies.sass
  assets/sass/_desktop.sass
  assets/sass/_reset.sass
  assets/sass/_size.sass
  assets/sass/_skin.sass
  assets/sass/_tablet.sass
  assets/sass/style.sass
  content/en/docs/contribute/style/content-organization.md
  layouts/partials/css.html
  sass/case-study-styles.sass
  scripts/sass.sh
  static/css/case-study-styles.css
  static/css/case-study-styles.css.map
  static/css/styles.css
  static/css/styles.css.map
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#13918 zh-trans: content/zh/docs/concepts/overview/working-with-objects/comm…
  content/zh/docs/concepts/overview/working-with-objects/common-labels.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/L

#13878 zh-trans:content/zh/docs/reference/kubectl/cheatsheet.md
  content/zh/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/XL

#14794 zh-trans: update daemonset.md
  content/zh/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#13798 zh-trans: content/zh/docs/setup/minikube.md
  content/zh/docs/setup/minikube.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/XL

#14671 Webhook admission 1.15 docs
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
  content/en/docs/setup/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#14801 Minor change: fix typo for Chinese localization.
  content/zh/docs/tutorials/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#14796 Correction: sysctl entries aren't annotations
  content/en/docs/concepts/policy/pod-security-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14788 Fixes PDB rounding docs (percentage as string instead of float)
  content/en/docs/tasks/run-application/configure-pdb.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14753 improve arch/nodes.md info on Conditions and Allocatable
  content/en/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14780 Add missing logrotate component to logging with streaming sidecar image
  static/images/docs/user-guide/logging/logging-with-streaming-sidecar.png
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#14784 recommended admission controllers are already enabled by default
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14492 Add custom resource quota example
  content/en/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14607 kubeadm: Document new v1beta2 config format
  content/en/docs/concepts/cluster-administration/cloud-providers.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_migrate.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/setup/independent/control-plane-flags.md
  content/en/docs/setup/independent/high-availability.md
  content/en/docs/setup/independent/setup-ha-etcd-with-kubeadm.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14704 CSI Inline Ephemeral Documentation Update
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14519 Documentation for PDB support for custom resource with scale subresource
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md
  content/en/docs/tasks/run-application/configure-pdb.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13846 VolumeSubpathEnvExpansion Beta Documentation
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14808 add link to default admission controllers
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14798 Add description for CSI pv accessMode
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14594 kubeadm: update the setup documentation for 1.15
  content/en/docs/setup/independent/create-cluster-kubeadm.md
  content/en/docs/setup/independent/ha-topology.md
  content/en/docs/setup/independent/high-availability.md
  content/en/docs/setup/independent/install-kubeadm.md
  content/en/docs/setup/independent/troubleshooting-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/L

#14140 Federation Remediation Part Deux
  content/en/docs/contribute/generate-ref-docs/federation-api.md
  content/en/docs/reference/command-line-tools-reference/federation-apiserver.md
  content/en/docs/reference/command-line-tools-reference/federation-controller-manager.md
  content/en/docs/reference/federation/_index.html
  content/en/docs/reference/federation/extensions/v1beta1/definitions.html
  content/en/docs/reference/federation/extensions/v1beta1/operations.html
  content/en/docs/reference/federation/federation/v1beta1/definitions.html
  content/en/docs/reference/federation/federation/v1beta1/operations.html
  content/en/docs/reference/federation/v1/definitions.html
  content/en/docs/reference/federation/v1/operations.html
  content/en/docs/reference/setup-tools/kubefed/_index.md
  content/en/docs/reference/setup-tools/kubefed/kubefed.md
  content/en/docs/reference/setup-tools/kubefed/kubefed_init.md
  content/en/docs/reference/setup-tools/kubefed/kubefed_join.md
  content/en/docs/reference/setup-tools/kubefed/kubefed_options.md
  content/en/docs/reference/setup-tools/kubefed/kubefed_unjoin.md
  content/en/docs/reference/setup-tools/kubefed/kubefed_version.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XXL

#14804 Update service.md
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14807 fix padding for docs home on nav
  assets/sass/_base.sass
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#14789 Fixes the IP addresses shown in the ip-masq diagram at k8s.io/docs/tasks/administer-cluster/ip-masq-agent/
  static/images/docs/ip-masq.png
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#14776 Update install-minikube.md
  content/en/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14451 promote AWS-NLB Support from alpha to beta
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14599 Launch docs for non-preempting PriorityClass option (alpha)
  content/en/docs/concepts/configuration/pod-priority-preemption.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14764 Updated podpreset.md to reflect changes in #71479
  content/en/docs/concepts/workloads/pods/podpreset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14769 Remove Port Proxy reference
  content/en/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14759 add clux/kube-rs client
  content/en/docs/reference/using-api/client-libraries.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14729 Update control-plane-flags.md
  content/en/docs/setup/independent/control-plane-flags.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14496 Add a section for service load balancer cleanup
  content/en/docs/tasks/access-application-cluster/create-external-load-balancer.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14709 add related note with pod deleted
  content/en/docs/concepts/workloads/controllers/jobs-run-to-completion.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14811 Update persistent-volumes.md
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14388 Add a user document for the scheduling framework
  content/en/docs/concepts/configuration/scheduling-framework.md
  static/images/docs/scheduling-framework-extensions.png
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/L

#14425 Graduate node PIDS limiting to beta
  content/en/docs/reference/command-line-tools-reference/kubelet.md
  content/en/docs/setup/release/notes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14812 Drop .travis.yml from dev-1.15 branch
  .travis.yml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#14728 Update HPA Algorithm Docs for v1.15
  content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13264 Add recommendation to use kms provider
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#13815 Add comment about where to run probe
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-probes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#13895 updated recommend key path for multiple certificates .
  content/en/docs/setup/certificates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/S

#13256 update kubectl "$" format
  content/en/docs/concepts/configuration/assign-pod-node.md
  content/en/docs/concepts/services-networking/dns-pod-service.md
  content/en/docs/concepts/workloads/controllers/jobs-run-to-completion.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-join.md
  content/en/docs/setup/independent/create-cluster-kubeadm.md
  content/en/docs/tasks/administer-cluster/access-cluster-api.md
  content/en/docs/tasks/manage-gpus/scheduling-gpus.md
  content/en/docs/test.md
  content/en/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#14147 Downloadable examples for “Run applications” section
  content/en/docs/tasks/run-application/configure-pdb.md
  content/en/docs/tasks/run-application/rolling-update-replication-controller.md
  content/en/docs/tasks/run-application/run-replicated-stateful-application.md
  content/en/examples/controllers/replication-nginx-1.7.9.yaml
  content/en/examples/controllers/replication-nginx-1.9.2.yaml
  content/en/examples/examples_test.go
  content/en/examples/policy/zookeeper-pod-disruption-budget-maxunavailable.yaml
  content/en/examples/policy/zookeeper-pod-disruption-budget-minavailable.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#14013 Split minikube install task into tabs (per-OS)
  content/en/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#14194 Add Ref to shared process namespaces
  content/en/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14243 Check all commits in branch for examples (to trigger testing)
  scripts/test_examples.sh
Labels: approved, cncf-cla: yes, lgtm, sig/docs, sig/testing, size/S

#14785 Fix several potential issues with existing translation
  content/fr/docs/contribute/_index.md
  content/fr/docs/contribute/generate-ref-docs/kubernetes-api.md
  content/fr/docs/contribute/start.md
  content/fr/docs/home/_index.md
  content/fr/docs/setup/_index.md
  content/fr/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#14292 Add accessibility guidelines to the style guide
  content/en/docs/contribute/style/style-guide.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14313 Improve concept page for Ingress
  content/en/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#14583 concepts/extend-kubernetes/api-extension: add 1.15 features
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#14595 kubeadm: update the docs for tasks for 1.15
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-12.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-15.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-ha-1-12.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XL

#14674 Document webhook and kube-aggerator port configuration
  content/en/docs/tasks/access-kubernetes-api/configure-aggregation-layer.md
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md
  content/en/docs/tasks/debug-application-cluster/audit.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/L

#14625 Create nodelocaldns.md to describe NodeLocal DNSCache feature.
  content/en/docs/tasks/administer-cluster/nodelocaldns.jpg
  content/en/docs/tasks/administer-cluster/nodelocaldns.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14744 Add all the _index files for the French translation
  content/fr/blog/_index.md
  content/fr/docs/concepts/configuration/_index.md
  content/fr/docs/concepts/extend-kubernetes/_index.md
  content/fr/docs/concepts/extend-kubernetes/api-extension/_index.md
  content/fr/docs/concepts/extend-kubernetes/compute-storage-net/_index.md
  content/fr/docs/concepts/overview/working-with-objects/_index.md
  content/fr/docs/concepts/policy/_index.md
  content/fr/docs/concepts/security/_index.md
  content/fr/docs/concepts/storage/_index.md
  content/fr/docs/concepts/workloads/_index.md
  content/fr/docs/concepts/workloads/controllers/_index.md
  content/fr/docs/concepts/workloads/pods/_index.md
  content/fr/docs/getting-started-guides/_index.md
  content/fr/docs/getting-started-guides/fedora/_index.md
  content/fr/docs/reference/access-authn-authz/_index.md
  content/fr/docs/reference/command-line-tools-reference/_index.md
  content/fr/docs/reference/issues-security/_index.md
  content/fr/docs/reference/kubernetes-api/_index.md
  content/fr/docs/reference/setup-tools/_index.md
  content/fr/docs/reference/setup-tools/kubeadm/_index.md
  content/fr/docs/reference/setup-tools/kubeadm/generated/_index.md
  content/fr/docs/reference/setup-tools/kubefed/_index.md
  content/fr/docs/reference/using-api/_index.md
  content/fr/docs/setup/on-premises-vm/_index.md
  content/fr/docs/setup/turnkey/_index.md
  content/fr/docs/setup/windows/_index.md
  content/fr/docs/tasks/_index.md
  content/fr/docs/tasks/access-application-cluster/_index.md
  content/fr/docs/tasks/access-kubernetes-api/_index.md
  content/fr/docs/tasks/access-kubernetes-api/custom-resources/_index.md
  content/fr/docs/tasks/administer-cluster/_index.md
  content/fr/docs/tasks/administer-cluster/kubeadm/_index.md
  content/fr/docs/tasks/administer-cluster/manage-resources/_index.md
  content/fr/docs/tasks/administer-cluster/network-policy-provider/_index.md
  content/fr/docs/tasks/configure-pod-container/_index.md
  content/fr/docs/tasks/debug-application-cluster/_index.md
  content/fr/docs/tasks/federation/_index.md
  content/fr/docs/tasks/federation/administer-federation/_index.md
  content/fr/docs/tasks/inject-data-application/_index.md
  content/fr/docs/tasks/job/_index.md
  content/fr/docs/tasks/manage-daemon/_index.md
  content/fr/docs/tasks/manage-kubernetes-objects/_index.md
  content/fr/docs/tasks/run-application/_index.md
  content/fr/docs/tasks/service-catalog/_index.md
  content/fr/docs/tasks/tls/_index.md
  content/fr/docs/tasks/tools/_index.md
  content/fr/docs/tutorials/clusters/_index.md
  content/fr/docs/tutorials/configuration/_index.md
  content/fr/docs/tutorials/kubernetes-basics/deploy-app/_index.md
  content/fr/docs/tutorials/kubernetes-basics/explore/_index.md
  content/fr/docs/tutorials/kubernetes-basics/expose/_index.md
  content/fr/docs/tutorials/kubernetes-basics/scale/_index.md
  content/fr/docs/tutorials/kubernetes-basics/update/_index.md
  content/fr/docs/tutorials/online-training/_index.md
  content/fr/docs/tutorials/services/_index.md
  content/fr/docs/tutorials/stateful-application/_index.md
  content/fr/docs/tutorials/stateless-application/_index.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#14683 ko: Update outdated files of setup and tasks in dev-1.14-ko.5 partly
  content/ko/_index.html
  content/ko/docs/concepts/_index.md
  content/ko/docs/concepts/architecture/cloud-controller.md
  content/ko/docs/concepts/overview/_index.md
  content/ko/docs/concepts/workloads/pods/init-containers.md
  content/ko/docs/concepts/workloads/pods/pod-overview.md
  content/ko/docs/reference/glossary/docker.md
  content/ko/docs/setup/certificates.md
  content/ko/docs/setup/multiple-zones.md
  content/ko/docs/tasks/tools/install-minikube.md
  content/ko/docs/tutorials/configuration/configure-redis-using-configmap.md
  content/ko/docs/tutorials/online-training/overview.md
  content/ko/docs/tutorials/stateful-application/cassandra.md
  content/ko/examples/pods/config/redis-pod.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#14237 translate to content/ko/docs/concepts/cluster-administration/cluster-…
  content/ko/docs/concepts/cluster-administration/cluster-administration-overview.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#14793 docs-fr | docs | reference | setup-tools | kubeadm
  content/fr/docs/reference/setup-tools/kubeadm/kubeadm.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#14645 Update _index.md for Spanish
  content/es/docs/_index.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS

#14546 Add content/es/docs/reference/glossary/kubeadm.md
  content/es/docs/reference/glossary/kubeadm.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/S

#14710 Update renamed or deleted files in dev-1.14-ko.5
  content/ko/docs/concepts/overview/object-management-kubectl/_index.md
  content/ko/docs/concepts/overview/working-with-objects/object-management.md
  content/ko/docs/setup/pick-right-solution.md
  content/ko/docs/tasks/manage-kubernetes-objects/_index.md
  content/ko/docs/tasks/manage-kubernetes-objects/declarative-config.md
  content/ko/docs/tasks/manage-kubernetes-objects/imperative-command.md
  content/ko/docs/tasks/manage-kubernetes-objects/imperative-config.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#14553 Add content/es/docs/reference/glossary/docker.md
  content/es/docs/reference/glossary/docker.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/S

#14705 Translate content/id/docs/concepts/cluster-administration/cluster-administration-overview.md into Portuguese
  content/pt/docs/concepts/cluster-administration/cluster-administration-overview.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/M

#14836 fix a mistake in limit-range.md
  content/en/docs/concepts/policy/limit-range.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14839 Update field-selectors.md
  content/en/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14835 fix-zh-home
  content/zh/docs/home/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#14840 Update install-kubectl.md
  content/en/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14417 Add content/es/docs/tutorials/kubernetes-basics/create-cluster, deploy-app
  content/es/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/es/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/M

#14790 Create website/content/zh/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html and deploy-interactive.html
  content/zh/docs/tutorials/kubernetes-basics/cluster-intro.html
  content/zh/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/zh/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#14782 Added blog post about the upcoming Contributor Summit Shanghai.
  content/en/blog/_posts/2019-06-12-contributor-summit-shanghai.md
  static/images/blog/2019-06-11-contributor-summit-shanghai/panel.png
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14862 Update out-of-resource.md
  content/en/docs/tasks/administer-cluster/out-of-resource.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14824 zh-trans: update static-pod.md
  content/zh/docs/tasks/administer-cluster/static-pod.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#14866 update pick-right-solution to setup page
  content/id/docs/concepts/cluster-administration/cluster-administration-overview.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#13927 Create pod.md
  content/ko/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, kind/feature, language/ko, lgtm, sig/docs, size/L

#14844 remove useless file: whatisk8s.md
  content/zh/docs/whatisk8s.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#14864 fix some typos in kubeadm init
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS
