Repository kubernetes/website, pull requests merged in 2019-09, with the labels that each got.

#16130 Fix typo in static pod page
  content/zh/docs/tasks/administer-cluster/static-pod.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#16070 Translate concepts/workloads/controllers/replicaset.md in Korean
  content/ko/docs/concepts/workloads/controllers/replicaset.md
  content/ko/examples/controllers/frontend.yaml
  content/ko/examples/controllers/hpa-rs.yaml
  content/ko/examples/pods/pod-rs.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#16162 Update outdated content in dev-1.15-ko.5
  content/ko/docs/concepts/workloads/pods/disruptions.md
  content/ko/docs/reference/glossary/mirror-pod.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/setup/learning-environment/minikube.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/windows/flannel-master-kubectl-get-ds.png
  content/ko/docs/setup/production-environment/windows/user-guide-windows-nodes.md
  content/ko/docs/setup/production-environment/windows/windows-docker-error.png
  content/ko/docs/tasks/debug-application-cluster/resource-usage-monitoring.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/ko/docs/tutorials/stateless-application/expose-external-ip-address.md
  content/ko/examples/application/mysql/mysql-pv.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#16171 Second Japanese l10n work for release-1.14
  content/ja/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ja/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#16118 zh-trans: add docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16076 Create zh-trans:resource-metrics-pipeline.md
  content/zh/docs/tasks/debug-application-cluster/zh-trans:resource-metrics-pipeline.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16073 Create zh-trans:Interactive Tutorial - Scaling Your App.md
  content/zh/docs/tutorials/kubernetes-basics/scale/zh-trans:Interactive Tutorial - Scaling Your App.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#15997 Create zh-trans:docs/user-journeys/users/cluster-operator/foundational.md
  content/zh/docs/user-journeys/users/cluster-operator/foundational.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16035 zh-trans:/docs/tasks/administer-cluster/dns-horizontal-autoscaling.md
  content/zh/docs/tasks/administer-cluster/dns-horizontal-autoscaling.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16075 zh-trans: add content/zh/docs/setup/learning-environment/minikube.md
  content/zh/docs/setup/learning-environment/minikube.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#16055 Translate tasks/configure-pod-container/assign-memory-resource/ in Japanese
  content/ja/docs/tasks/configure-pod-container/_index.md
  content/ja/docs/tasks/configure-pod-container/assign-memory-resource.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#16098 ZH-trans: add kubectl-plugins.md
  content/zh/docs/tasks/extend-kubectl/kubectl-plugins.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#16185 Rename zh-trans file names
  content/zh/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
  content/zh/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#16071 Add translation for Logging in ID localization
  content/id/docs/concepts/cluster-administration/logging.md
  content/id/examples/admin/logging/fluentd-sidecar-config.yaml
  content/id/examples/admin/logging/two-files-counter-pod-agent-sidecar.yaml
  content/id/examples/admin/logging/two-files-counter-pod-streaming-sidecar.yaml
  content/id/examples/admin/logging/two-files-counter-pod.yaml
  content/id/examples/debug/counter-pod.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#16183 Translate tasks/access-application-cluster/communicate-containers-same-pod-shared-volume/ in Japanese
  content/ja/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#16165 Translate Pod Lifecycle to Bahasa Indonesia
  content/id/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#16197 Fix broken link anchor
  content/en/docs/concepts/configuration/manage-compute-resources-container.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16191 fix typo
  content/fr/docs/setup/custom-cloud/kubespray.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#13430 Translate the participating in SIG Docs page to French
  content/fr/docs/contribute/participating.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#15604 Adding content for allowVolumeExpansion field in StorageClass
  content/en/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#15942 Change to VolumeSnapshot CRD v1beta1
  content/en/docs/concepts/storage/volume-snapshot-classes.md
  content/en/docs/concepts/storage/volume-snapshots.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16207 Revert #15942 (VolumeSnapshot CRD to v1beta1)
  content/en/docs/concepts/storage/volume-snapshot-classes.md
  content/en/docs/concepts/storage/volume-snapshots.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#16182 Translate using-api/client-libraries into korean
  content/ko/docs/reference/using-api/client-libraries.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#16206 correct field name; lower camel case
  content/en/docs/tasks/configure-pod-container/share-process-namespace.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16217 feat: remove the statement of deprecating node selector
  content/en/docs/concepts/configuration/assign-pod-node.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16179 Add OpenStack vendor implementation link
  content/en/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16137 Update Dashboard version
  content/en/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16125 Document node-role replacement labels
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16105 Make CRD w/ webhook conversion strategy example usable
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16132 Correct improper use of "comprised"
  content/en/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16045 update example nginx to 1.17
  content/en/examples/service/access/Dockerfile
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15987 Rework glossary definition of Workloads
  content/en/docs/reference/glossary/workload.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#15968 Update FlexVolume casing
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16089 Swap out link for Kubernetes blog submission form
  content/en/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16226 remove extra space character between the end of the "Applications" de…
  content/en/docs/reference/glossary/applications.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15989 Add RuntimeClass scheduling docs
  content/en/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16204 Add examples for webhook client auth
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16016 kubeadm: update setup docs for 1.16
  content/en/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/self-hosting.md
Labels: approved, cncf-cla: yes, language/en, lgtm, priority/important-soon, sig/cluster-lifecycle, sig/docs, size/M

#16020 Update service load balancer finalizer doc for beta
  content/en/docs/tasks/access-application-cluster/create-external-load-balancer.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16043 add docs for csi expansion going beta
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16231 Fifth Korean l10n work for release-1.15
  content/ko/docs/concepts/cluster-administration/proxies.md
  content/ko/docs/concepts/scheduling/_index.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/concepts/workloads/controllers/replicaset.md
  content/ko/docs/concepts/workloads/pods/disruptions.md
  content/ko/docs/reference/glossary/mirror-pod.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/reference/using-api/client-libraries.md
  content/ko/docs/setup/learning-environment/minikube.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/windows/flannel-master-kubectl-get-ds.png
  content/ko/docs/setup/production-environment/windows/user-guide-windows-nodes.md
  content/ko/docs/setup/production-environment/windows/windows-docker-error.png
  content/ko/docs/tasks/debug-application-cluster/resource-usage-monitoring.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/ko/docs/tutorials/stateless-application/expose-external-ip-address.md
  content/ko/examples/application/mysql/mysql-pv.yaml
  content/ko/examples/controllers/frontend.yaml
  content/ko/examples/controllers/hpa-rs.yaml
  content/ko/examples/controllers/nginx-deployment.yaml
  content/ko/examples/pods/pod-rs.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#16170 Fix: typo in assign-pods-nodes.md (Chinese version)
  content/zh/docs/tasks/configure-pod-container/assign-pods-nodes.md
  content/zh/includes/task-tutorial-prereqs.md
  i18n/zh.toml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#15982 docs: CRD v1
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#15985 Admission v1 docs
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#16015 kubeadm: update upgrade documentation for 1.16
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-13.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-ha-1-13.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, priority/important-soon, sig/cluster-lifecycle, sig/docs, size/XL

#15714 Add docs related to KEP #950 (startupProbe)
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-probes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/M

#16013 Update cloning docs to reflect beta for 1.16
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/volume-pvc-datasource.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16014 kubeadm: update reference documentation for 1.16
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-config.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-join-phase.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-join.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-reset-phase.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, priority/important-soon, sig/cluster-lifecycle, sig/docs, size/L

#15990 Details for resource bin packing using RequestedToCapacityRatioResourceAllocationPriority Function
  content/en/docs/concepts/configuration/resource-bin-packing.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#15706 Update GMSA credspec specification to refer to pod spec fields instead of annotations
  content/en/docs/tasks/configure-pod-container/configure-gmsa.md
Labels: approved, cncf-cla: yes, kind/bug, language/en, lgtm, sig/docs, sig/windows, size/S

#16232 Update Japanese links
  content/ja/docs/concepts/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#15514 Documenting how to use EvenPodsSpread feature
  content/en/docs/concepts/scheduling/kube-scheduler.md
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/command-line-tools-reference/kube-apiserver.md
  content/en/docs/reference/command-line-tools-reference/kube-scheduler.md
  content/en/examples/pods/topology-spread-constraints/one-constraint-with-nodeaffinity.yaml
  content/en/examples/pods/topology-spread-constraints/one-constraint.yaml
  content/en/examples/pods/topology-spread-constraints/two-constraints.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/L

#16017 Update Persistent Volume documentation for Windows
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16163 Zh trans content/case studies/ygrene
  content/zh/case-studies/buffer/index.html
  content/zh/case-studies/ygrene/index.html
  content/zh/case-studies/ygrene/ygrene_featured_logo.png
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16187 ZH-trans: add device-plugin.md
  content/zh/docs/reference/glossary/device-plugin.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#16200 zh translation: horizontal-pod-autoscale-walkthrough
  content/zh/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#16216 Add and translate Horizontal scaling.
  content/zh/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#16238 Add webhook monitoring documentation
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
  content/en/docs/tasks/debug-application-cluster/audit.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#15970 pod-overhead: add documentation
  content/en/docs/concepts/configuration/pod-overhead.md
  content/en/docs/concepts/containers/runtime-class.md
  content/en/docs/concepts/scheduling/kube-scheduler.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#15994 Document Ephemeral Containers for 1.16
  content/en/docs/concepts/workloads/pods/ephemeral-containers.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/glossary/ephemeral-container.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#16026 Add comprehensive CRD versioning flow to documentation
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16248 Fixed typo
  content/en/docs/concepts/extend-kubernetes/operator.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15193 docs | tasks | configure-pod-container | Quality of Service
  content/fr/docs/tasks/configure-pod-container/quality-service-pod.md
  content/fr/examples/pods/qos/qos-pod-2.yaml
  content/fr/examples/pods/qos/qos-pod-3.yaml
  content/fr/examples/pods/qos/qos-pod-4.yaml
  content/fr/examples/pods/qos/qos-pod.yaml
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#16031 Update Gardener info
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15716 Added documentation to support Topology Manager feature in Kubelet.
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/configuration/assign-pod-node.md
  content/en/docs/concepts/scheduling/kube-scheduler.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/administer-cluster/topology-manager.md
  content/en/docs/tasks/configure-pod-container/quality-service-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#15705 storage: CSI inline volumes in beta
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16010 IPv4/IPv6 dual stack docs
  content/en/docs/concepts/services-networking/dual-stack.md
  content/en/docs/tasks/network/_index.md
  content/en/docs/tasks/network/validate-dual-stack.md
  content/en/examples/service/networking/dual-stack-default-svc.yaml
  content/en/examples/service/networking/dual-stack-ipv4-svc.yaml
  content/en/examples/service/networking/dual-stack-ipv6-lb-svc.yaml
  content/en/examples/service/networking/dual-stack-ipv6-svc.yaml
  data/concepts.yml
  data/tasks.yml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/L

#15948 ServerSide Apply Documentation
  content/en/docs/reference/using-api/api-concepts.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#15876 Add admission webhook best practices and warnings
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#16018 Adding initial EndpointSlice documentation
  content/en/docs/concepts/services-networking/endpoint-slices.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/glossary/endpoint-slice.md
  content/en/docs/tasks/administer-cluster/enabling-endpoint-slices.md
  data/concepts.yml
  data/tasks.yml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/L

#16060 Drop vestigial note about StatefulSet stability
  content/en/docs/concepts/workloads/controllers/statefulset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16267 Removing some tiny redundant parts of the EndpointSlice documentation
  content/en/docs/concepts/services-networking/endpoint-slices.md
  content/en/docs/reference/glossary/endpoint-slice.md
  content/en/docs/tasks/administer-cluster/enabling-endpoint-slices.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16210 Add announcement shortcode and partial so the docs can display an announcement
  config.toml
  content/en/_index.html
  layouts/docs/baseof.html
  layouts/partials/announcement.html
  layouts/shortcodes/announcement.html
  static/css/announcement.css
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16255 Update links to /ja/docs/ in /ja/docs/tasks/ if ja page exists
  content/ja/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/ja/docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md
  content/ja/docs/tasks/debug-application-cluster/debug-stateful-set.md
  content/ja/docs/tasks/run-application/delete-stateful-set.md
  content/ja/docs/tasks/run-application/run-replicated-stateful-application.md
  content/ja/docs/tasks/run-application/run-single-instance-stateful-application.md
  content/ja/docs/tasks/run-application/scale-stateful-set.md
  content/ja/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#15789 Add a helper script for localization
  scripts/README.md
  scripts/diff_l10n_branches.py
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/L

#16302 Revert "Update abac.md"
  content/en/docs/reference/access-authn-authz/abac.md
Labels: cncf-cla: yes, language/en, sig/docs, size/XS

#16265 Fix some misspelling on document
  content/ko/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#16298 Fix typo
  content/ko/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#16272 Fix list in SSA docs
  content/en/docs/reference/using-api/api-concepts.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16168 Translate Assign Pod Node to Bahasa Indonesia
  content/id/docs/concepts/configuration/assign-pod-node.md
  content/id/examples/pods/pod-nginx.yaml
  content/id/examples/pods/pod-with-node-affinity.yaml
  content/id/examples/pods/pod-with-pod-affinity.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#16190 Replace html tables with markdown
  content/en/docs/contribute/style/style-guide.md
  content/en/docs/contribute/style/write-new-topic.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#16205 Update announcing-etcd-3.4.md
  content/en/blog/_posts/2019-08-30-announcing-etcd-3.4.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16355 zh-tran-ahanabi-2
  content/zh/blog/_posts/2015-12-00-Managing-Kubernetes-Pods-Services-And-Replication-Controllers-With-Puppet.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16353 zh-trans add content/case-studies/netease
  content/zh/case-studies/netease/index.html
  content/zh/case-studies/netease/netease_featured_logo.png
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16352 zh-trans add content/case-studies/wikimedia
  content/zh/case-studies/wikimedia/index.html
  content/zh/case-studies/wikimedia/wikimedia_featured.png
  content/zh/case-studies/wikimedia/wikimedia_logo.png
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16306 zh_trans content/en/docs/reference/setup-tools/kubeadm/generated/kube…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubelet.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16311 zh-trans docs/reference/kubectl/overview.md
  content/zh/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#16354 zh-trans add content/case-studies/ibm
  content/zh/case-studies/ibm/ibm_featured_logo.png
  content/zh/case-studies/ibm/ibm_featured_logo.svg
  content/zh/case-studies/ibm/index.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#16274 Create zh-trans:kubeadm-certs.md
  content/zh/docs/tasks/administer-cluster/kubeadm/zh-trans:kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16264 [zh] translate debug application introspection
  content/zh/docs/tasks/debug-application-cluster/debug-application-introspection.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#16258 zh-tran-ahanabi-1
  content/zh/blog/_posts/2018-08-29-kubernetes-testing-ci-automating-contributor-experience.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16239 localization: logging architecture
  content/zh/docs/concepts/cluster-administration/logging.md
  content/zh/examples/admin/logging/fluentd-sidecar-config.yaml
  content/zh/examples/admin/logging/two-files-counter-pod-agent-sidecar.yaml
  content/zh/examples/admin/logging/two-files-counter-pod-streaming-sidecar.yaml
  content/zh/examples/admin/logging/two-files-counter-pod.yaml
  content/zh/examples/debug/counter-pod.yaml
  content/zh/examples/debug/event-exporter.yaml
  content/zh/examples/debug/fluentd-gcp-configmap.yaml
  content/zh/examples/debug/fluentd-gcp-ds.yaml
  content/zh/examples/debug/node-problem-detector-configmap.yaml
  content/zh/examples/debug/node-problem-detector.yaml
  content/zh/examples/debug/termination.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#16260 zh-translation:2015-07-00-Announcing-First-Kubernetes-Enterprise.md
  content/zh/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#16229 zh-trans:docs/concepts/extend-kubernetes/service-catalog.md
  content/zh/docs/concepts/extend-kubernetes/service-catalog.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16223 trans-Why-Kubernetes-Doesnt-Use-Libnetwork
  content/zh/blog/_posts/2016-01-00-Why-Kubernetes-Doesnt-Use-Libnetwork.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#16331 generated kubectl reference doc for 1.16
  static/docs/reference/generated/kubectl/kubectl-commands.html
  static/docs/reference/generated/kubectl/navData.js
  static/docs/reference/generated/kubectl/node_modules/jquery/dist/jquery.min.js
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/L

#16317 Update 1.16 config.toml
  config.toml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16358 docs | tasks | configure-pod-container | pods storage
  content/fr/docs/tasks/configure-pod-container/configure-volume-storage.md
  content/fr/examples/pods/storage/redis.yaml
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#15065 docs | tasks | configure-pod-container | assign cpu
  content/fr/docs/tasks/configure-pod-container/assign-cpu-resource.md
  content/fr/examples/pods/resource/cpu-request-limit-2.yaml
  content/fr/examples/pods/resource/cpu-request-limit.yaml
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#16052 docs-fr | reference | glossary | customresourcedefinition
  content/fr/docs/reference/glossary/customresourcedefinition.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#16148 docs-fr | docs | reference | glossary | container-lifecycle-hooks
  content/fr/docs/reference/glossary/container-lifecycle-hooks.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#16271 Add instructions for switching to iptables-legacy
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, kind/bug, kind/documentation, language/en, lgtm, priority/important-soon, sig/docs, sig/network, size/M

#16372 add latency requirements to aggregated apiserver discovery
  content/en/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16369 Add instructions for switching to iptables-legacy (#16271)
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16370 Add instructions for switching to iptables-legacy (#16271)
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16289 Fix links to locate Korean docs
  content/ko/docs/home/_index.md
  content/ko/docs/tasks/tools/install-minikube.md
  content/ko/docs/tutorials/_index.md
  content/ko/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/ko/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/ko/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#16304 Fix typo
  content/ko/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#16277 Fix links to locate Korean docs
  content/ko/docs/home/_index.md
  content/ko/docs/tasks/tools/install-minikube.md
  content/ko/docs/tutorials/_index.md
  content/ko/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/ko/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/ko/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#16368 zh: update file name
  content/zh/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#16388 zh trans device-plugin.md
  content/zh/docs/reference/glossary/device-plugin.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#16389 Tune feature-gates table
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#16403 Clarify deprecated API versions and releases
  content/en/blog/_posts/2019-07-18-some-apis-are-being-deprecated.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16419 Merged master into dev 1.16 before release
  content/en/blog/_posts/2019-01-17-update-volume-snapshot-alpha.md
  content/en/blog/_posts/2019-03-22-e2e-testing-for-everyone.md
  content/en/blog/_posts/2019-07-18-some-apis-are-being-deprecated.md
  content/en/blog/_posts/2019-08-30-announcing-etcd-3.4.md
  content/en/docs/concepts/configuration/scheduling-framework.md
  content/en/docs/concepts/policy/pod-security-policy.md
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/storage-classes.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/contribute/style/write-new-topic.md
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/reference/glossary/flexvolume.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-probes.md
  content/en/docs/tasks/debug-application-cluster/audit.md
  content/fr/docs/concepts/storage/volumes.md
  content/fr/docs/reference/glossary/container-lifecycle-hooks.md
  content/fr/docs/reference/glossary/customresourcedefinition.md
  content/fr/docs/tasks/configure-pod-container/assign-cpu-resource.md
  content/fr/docs/tasks/configure-pod-container/configure-volume-storage.md
  content/fr/examples/pods/resource/cpu-request-limit-2.yaml
  content/fr/examples/pods/resource/cpu-request-limit.yaml
  content/fr/examples/pods/storage/redis.yaml
  content/id/docs/concepts/architecture/cloud-controller.md
  content/id/docs/concepts/storage/persistent-volumes.md
  content/ko/docs/home/_index.md
  content/ko/docs/tasks/tools/install-minikube.md
  content/ko/docs/tutorials/_index.md
  content/ko/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/ko/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/ko/docs/tutorials/stateless-application/guestbook.md
Labels: approved, area/blog, cncf-cla: yes, language/en, language/fr, language/id, language/ko, lgtm, sig/docs, size/XL

#16418 Merged master into release 1.15 before release
  content/en/blog/_posts/2019-01-17-update-volume-snapshot-alpha.md
  content/en/blog/_posts/2019-03-22-e2e-testing-for-everyone.md
  content/en/blog/_posts/2019-07-18-some-apis-are-being-deprecated.md
  content/en/blog/_posts/2019-08-30-announcing-etcd-3.4.md
  content/en/docs/concepts/configuration/scheduling-framework.md
  content/en/docs/concepts/policy/pod-security-policy.md
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/storage-classes.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/contribute/style/write-new-topic.md
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/reference/glossary/flexvolume.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-probes.md
  content/en/docs/tasks/debug-application-cluster/audit.md
  content/fr/docs/concepts/storage/volumes.md
  content/fr/docs/reference/glossary/container-lifecycle-hooks.md
  content/fr/docs/reference/glossary/customresourcedefinition.md
  content/fr/docs/tasks/configure-pod-container/assign-cpu-resource.md
  content/fr/docs/tasks/configure-pod-container/configure-volume-storage.md
  content/fr/examples/pods/resource/cpu-request-limit-2.yaml
  content/fr/examples/pods/resource/cpu-request-limit.yaml
  content/fr/examples/pods/storage/redis.yaml
  content/id/docs/concepts/architecture/cloud-controller.md
  content/id/docs/concepts/storage/persistent-volumes.md
  content/ko/docs/home/_index.md
  content/ko/docs/tasks/tools/install-minikube.md
  content/ko/docs/tutorials/_index.md
  content/ko/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/ko/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/ko/docs/tutorials/stateless-application/guestbook.md
Labels: approved, area/blog, cncf-cla: yes, language/en, language/fr, language/id, language/ko, lgtm, sig/docs, size/XL

#16312 Update config.toml(release-1.15) for 1.16
  config.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#16315 Update config.toml(release-1.13) for 1.16
  config.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#16314 Update config.toml(release-1.14) for 1.16
  config.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#16435 Add Kubernetes 1.16 Release Blog
  content/en/blog/_posts/2019-09-18-kubernetes-1-16-release-announcement.md
  static/images/blog/2019-09-18-kubernetes-1-16-release-announcement/mascot.png
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#16436 add 1.16 release notes
  content/en/docs/setup/release/notes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XXL

#16437 updated 1.12 config.toml
  config.toml
Labels: approved, cncf-cla: yes, lgtm, size/M

#16407 Fixup reference problems
  content/zh/docs/reference/_index.md
  content/zh/docs/reference/access-authn-authz/_index.md
  content/zh/docs/reference/command-line-tools-reference/_index.md
  content/zh/docs/reference/issues-security/_index.md
  content/zh/docs/reference/kubectl/_index.md
  content/zh/docs/reference/kubernetes-api/_index.md
  content/zh/docs/reference/kubernetes-api/index.md
  content/zh/docs/reference/kubernetes-api/labels-annotations-taints.md
  content/zh/docs/reference/setup-tools/_index.md
  content/zh/docs/reference/setup-tools/kubeadm/_index.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16444 Update Kubernetes 1.16 Release Blog (#16435)
  content/en/blog/_posts/2019-09-18-kubernetes-1-16-release-announcement.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16398 Delete document:content/en/docs/user-journeys/users/cluster-operator/…
  content/en/docs/user-journeys/users/cluster-operator/_advanced.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16425 Issue with k8s.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/
  content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16406 zh add translation content/zh/docs/tasks/administer-cluster/kubeadm/k…
  content/zh/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#16442 Update url for flannel
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16447 Fix typo in v1.16 release notes
  content/en/docs/setup/release/notes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16450 Fix links for kubectl commands
  content/en/docs/reference/kubectl/kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16459 Fix doc about promote AWS-NLB Support from alpha to beta
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16465 Typo in 1.16 Release Blog Post
  content/en/blog/_posts/2019-09-18-kubernetes-1-16-release-announcement.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16497 resolving merge conflict
  content/en/docs/setup/production-environment/tools/kubeadm/high-availability.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16489 zh trans Create kubeadm_init_phase_certs_etcd-healthcheck-client.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-healthcheck-client.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#16467 Modify #16415, #16417 korean docs.
  content/ko/docs/concepts/overview/working-with-objects/labels.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#16473 Create overview.md
  content/zh/docs/concepts/configuration/overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16445 zh-trans Create kubeadm-upgrade-1-13.md
  content/zh/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-13.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#16420 Create ip-masq-agent.md
  content/zh/docs/tasks/administer-cluster/ip-masq-agent.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16392 Create custom-resource-definition-versioning.md
  content/zh/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#16391 Create kubeadm_join_phase_control-plane-join.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16390 Create kube-controller-manager.md
  content/zh/docs/reference/command-line-tools-reference/kube-controller-manager.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#16382 Zh trans /docs/reference/glossary/rkt.md
  content/zh/docs/reference/glossary/rkt.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/S

#16381 translate content/zh/docs/reference/setup-tools/kubeadm/generated/kub…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16375 [zh]Translate contribute/participating.md
  content/zh/docs/contribute/participating.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#16363 add content/zh/docs/sitemap.md translation
  content/zh/docs/sitemap.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16275 zh-translation:reconfigure-kubelet.md
  content/zh/docs/tasks/administer-cluster/reconfigure-kubelet.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#16360 zh-tran-ahanabi-2
  content/zh/blog/_posts/2015-12-00-Managing-Kubernetes-Pods-Services-And-Replication-Controllers-With-Puppet.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#16486 Fix ApiVersion on EndpointSlice example
  content/en/docs/concepts/services-networking/endpoint-slices.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16485 Removed uninitialized flag reference from kubectl cheetsheet
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16483 promote AWS-NLB Support from alpha to beta (#14451) (#16459)
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16470 Removing broken link
  content/en/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16475 Change title to add Startup probe
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  data/tasks.yml
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S
