Repository kubernetes/website, pull requests merged in 2019-07, with the labels that each got.

#15220 fixed broken links to api_changes.md and api-conventions.md
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15215 fix for issue #15214
  content/en/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15198 Fix alignment in examples/pods/storage/pv-pod.yaml
  content/en/examples/pods/storage/pv-pod.yaml
  content/ja/examples/pods/storage/pv-pod.yaml
Labels: approved, cncf-cla: yes, language/en, language/ja, lgtm, sig/docs, size/XS

#15205 Update CCM vendor implementations links
  content/en/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15206 Update CCM vendor implementations links
  content/en/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, size/XS

#15219 Update service.md
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15211 docs-fr | concepts | containers | container-lifecycle-hooks.md
  content/fr/docs/concepts/containers/container-lifecycle-hooks.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#15239 fix for issue #15238 removed extra "for"
  content/en/docs/concepts/security/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15236 flexvolume link fix
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15237 Update pod.md
  content/en/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15194 kubectl config set-context --current
  content/en/docs/concepts/policy/limit-range.md
  content/es/docs/concepts/overview/working-with-objects/namespaces.md
  content/id/docs/concepts/overview/working-with-objects/namespaces.md
  content/ko/docs/concepts/overview/working-with-objects/namespaces.md
Labels: approved, cncf-cla: yes, language/en, language/es, language/id, language/ko, lgtm, sig/docs, size/XS

#14861 Update and organize the content on Deployments
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: Docs Review: Open Issues, approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XXL

#15074 Review and update
  content/en/docs/concepts/services-networking/service.md
Labels: Docs Review: Open Issues, approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#15216 Review and update the Ingress page
  content/en/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#15253 Adding shavidissa as an approver for en content
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#15255 fix typo
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15175 add kubeadm ClusterConfiguration usage
  content/en/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#15177 Issue with k8s.io/ja/docs/tutorials/kubernetes-basics/scale/scale-intro/
  content/ja/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#15249 docs-fr | reference | glossary | contributor.md
  content/fr/docs/reference/glossary/contributor.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#15252 kubeadm: apply some fixes to the self-hosting doc
  content/en/docs/setup/production-environment/tools/kubeadm/self-hosting.md
Labels: approved, cncf-cla: yes, kind/bug, language/en, lgtm, priority/backlog, sig/cluster-lifecycle, sig/docs, size/S

#15265 Fix typo
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15182 fix broken link
  content/en/docs/concepts/configuration/scheduling-framework.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15159 added missing EOF
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#15155 📰 fix the scheduling framework figure link
  content/en/docs/concepts/configuration/scheduling-framework.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#15113 Added the hyperlink for pod in the page
  content/en/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14116 ja-trans: concepts/containers/container-environment-variables/
  content/ja/docs/concepts/containers/container-environment-variables.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#14146 ja-trans: Translate tasks/debug-application-cluster/get-shell-running…
  content/ja/docs/tasks/debug-application-cluster/get-shell-running-container.md
  content/ja/includes/task-tutorial-prereqs.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#14169 ja-trans: concepts/containers/container-lifecycle-hooks/
  content/ja/docs/concepts/containers/container-lifecycle-hooks.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#14488 ja-trans: tasks/debug-application-cluster/debug-init-containers/
  content/ja/docs/tasks/debug-application-cluster/debug-init-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#14641 Translate concepts/workloads/controllers/replicaset/ in Japanese (#14634)
  content/ja/docs/concepts/workloads/controllers/_index.md
  content/ja/docs/concepts/workloads/controllers/replicaset.md
  content/ja/examples/pods/pod-rs.yaml
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#15275 Fixed case (previously: allocateS)
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15246 fixed a typo in Kustomize Feature List
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15099 ko: Update outdated 1.14-ko.4 branch
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/cluster-administration/federation.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/containers/runtime-class.md
  content/ko/docs/concepts/overview/components.md
  content/ko/docs/concepts/overview/kubernetes-api.md
  content/ko/docs/concepts/overview/what-is-kubernetes.md
  content/ko/docs/concepts/overview/working-with-objects/annotations.md
  content/ko/docs/concepts/overview/working-with-objects/names.md
  content/ko/docs/concepts/workloads/pods/pod-overview.md
  content/ko/docs/concepts/workloads/pods/podpreset.md
  content/ko/docs/reference/glossary/container-env-variables.md
  content/ko/docs/reference/glossary/container-runtime.md
  content/ko/docs/reference/glossary/etcd.md
  content/ko/docs/reference/glossary/kube-proxy.md
  content/ko/docs/reference/glossary/minikube.md
  content/ko/docs/reference/glossary/node.md
  content/ko/docs/reference/glossary/service.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/setup/release/_index.md
  content/ko/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/ko/docs/tasks/tools/install-minikube.md
  content/ko/docs/tutorials/clusters/apparmor.md
  content/ko/docs/tutorials/kubernetes-basics/_index.html
  content/ko/docs/tutorials/services/source-ip.md
  content/ko/docs/tutorials/stateful-application/zookeeper.md
  content/ko/docs/tutorials/stateless-application/expose-external-ip-address.md
  content/ko/examples/service/load-balancer-example.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#14653 Remove initializers (ko)
  content/ko/docs/concepts/workloads/pods/podpreset.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#15241 fix typo
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15229 Fix bullet list output in CRD schema blog
  content/en/blog/_posts/2019-06-20-Future-of-CRDs-Structural-Schemas.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15121 Translate tasks/access-application-cluster/configure-access-multiple-clusters in Korean
  content/ko/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#15295 fix broken link in krib.md
  content/en/docs/setup/production-environment/tools/krib.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15299 docs-fr | reference | glossary | cronjob.md
  content/fr/docs/reference/glossary/cronjob.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#15165 Taint
  content/fr/docs/reference/glossary/taint.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#14396 Translate concepts/overview/working-with-objects/annotations/ in Japanese (#13382)
  content/ja/docs/concepts/overview/working-with-objects/annotations.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#15278 Translate standardized glossary items in Tag Network into Korean
  content/ko/docs/reference/glossary/cni.md
  content/ko/docs/reference/glossary/ingress.md
  content/ko/docs/reference/glossary/istio.md
  content/ko/docs/reference/glossary/network-policy.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#15315 Cloud Providers - Openstack [Route] vs [Router]
  content/en/docs/concepts/cluster-administration/cloud-providers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15311 Fix typo and path of file from the task "Configure a Pod to Use a ConfigMap"
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#15285 Remove --allow-privileged as it is deprecated in latest 1.15.0
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15270 fix old link to logging devel docs
  content/en/docs/concepts/cluster-administration/logging.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15290 Update Dashboard install and access links
  content/en/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15296 Provide the default values for sync period and ttl
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15267 Fix link in service.md
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15260 change the service account name in tutorial
  content/en/examples/pods/pod-projected-svc-token.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15248 Fix several issues in "Using sysctls in a Kubernetes Cluster"
  content/en/docs/tasks/administer-cluster/sysctl-cluster.md
  content/zh/docs/concepts/cluster-administration/sysctl-cluster.md
  content/zh/docs/tasks/administer-cluster/sysctl-cluster.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/M

#15228 correct request payload for imagepolicy webhook
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15226 nit: fix awkward phrasing around pruning behavior
  content/en/blog/_posts/2019-06-20-Future-of-CRDs-Structural-Schemas.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15227 Remove myself from review of almost all files
  content/en/docs/concepts/cluster-administration/manage-deployment.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/reference/access-authn-authz/controlling-access.md
  content/en/docs/reference/kubectl/cheatsheet.md
  content/en/docs/reference/kubectl/conventions.md
  content/en/docs/reference/kubectl/docker-cli-to-kubectl.md
  content/en/docs/reference/kubectl/overview.md
  content/en/docs/reference/using-api/api-concepts.md
  content/en/docs/reference/using-api/api-overview.md
  content/en/docs/tasks/tools/install-kubectl.md
  content/es/docs/tasks/tools/install-kubectl.md
  content/zh/docs/concepts/workloads/controllers/deployment.md
  content/zh/docs/reference/access-authn-authz/controlling-access.md
  content/zh/docs/reference/kubectl/docker-cli-to-kubectl.md
  content/zh/docs/reference/kubectl/kubectl-overview.md
Labels: approved, cncf-cla: yes, language/en, language/es, language/zh, lgtm, sig/docs, size/S

#15199 update kubectl ref contrib guide
  content/en/docs/contribute/generate-ref-docs/kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#15190 Use networking.k8s.io/v1beta1 for ingress apiVersion
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
  content/fr/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/en, language/fr, lgtm, sig/docs, size/S

#15183 Issue with kubernetes.io/case-studies/chinaunicom/
  content/en/case-studies/chinaunicom/index.html
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#15176 Remove APT hold for kubectl during kubeadm upgrade
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-15.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15146 update generator table for kubectl run
  content/en/docs/reference/kubectl/conventions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#15181 Update what-is-kubernetes.md
  content/en/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15124 update multi-language description
  content/en/docs/contribute/style/style-guide.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15111 Issue with k8s.io/docs/setup/production-environment/tools/kubeadm/ins…
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15114 Update api reference contrib doc
  content/en/docs/contribute/generate-ref-docs/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#15126 Tidy assign-cpu-resource page
  content/en/docs/tasks/configure-pod-container/assign-cpu-resource.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/M

#15309 Fix the nodename typo of the untaint command in zh-cn-doc-taint
  content/zh/docs/concepts/configuration/taint-and-toleration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#15174 add how to install kubeadm
  content/en/docs/reference/setup-tools/kubeadm/kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15090 kubeadm: recommend installing calico 3.8
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, kind/feature, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#14391 Translate content/pt/docs/concepts/cluster-administration/Addons to Portuguese
  content/pt/docs/concepts/cluster-administration/_index.md
  content/pt/docs/concepts/cluster-administration/addons.md
Labels: approved, cncf-cla: yes, language/pt, sig/docs, size/M

#15339 Issue with k8s.io/de/docs/tutorials/kubernetes-basics/scale/scale-intro/
  content/de/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#15333 Fix broken links
  content/en/blog/_posts/2018-07-10-coredns-ga.md
  content/ja/docs/setup/on-premises-metal/krib.md
Labels: approved, area/blog, cncf-cla: yes, language/en, language/ja, lgtm, sig/docs, size/XS

#14913 Add readme & requirements for scripts
  scripts/README.md
  scripts/requirements.txt
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#14927 Translate Init Containers docs to Bahasa Indonesia
  content/id/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#15130 Update korean pick right solution solves issue #14479
  content/ko/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, language/ko, lgtm, sig/docs, size/S

#15350 zh-trans:/docs/tasks/tls/managing-tls-in-a-cluster.md
  content/zh/docs/tasks/tls/managing-tls-in-a-cluster.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#15345 Update pause image based on kubernetes#75479
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/en/docs/setup/production-environment/windows/user-guide-windows-nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/windows, size/S

#15340 Issue with k8s.io/docs/tasks/administer-cluster/dns-debugging-resolution/
  content/en/docs/tasks/administer-cluster/dns-debugging-resolution.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15338 Updated index.html
  content/en/case-studies/spotify/index.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15331 Separate commands from output in concepts | cluster-administration | logging.md
  content/en/docs/concepts/cluster-administration/logging.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15326 Issue with k8s.io/docs/tasks/administer-cluster/namespaces-walkthrough
  content/en/docs/tasks/administer-cluster/namespaces-walkthrough.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15328 configure-upgrade-etcd.md: rename section header
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15354 Grammar Correction
  content/en/docs/reference/command-line-tools-reference/kube-apiserver.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15329 docs-fr | content | reference | glossary | daemon.md
  content/fr/docs/reference/glossary/daemonset.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#14637 Add scheduler concept guide
  content/en/docs/concepts/overview/components.md
  content/en/docs/concepts/scheduling/_index.md
  content/en/docs/concepts/scheduling/kube-scheduler.md
  content/en/docs/concepts/scheduling/scheduler-perf-tuning.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, priority/important-longterm, sig/docs, sig/scheduling, size/L

#15207 Update CCM vendor implementations links
  content/es/docs/concepts/architecture/cloud-controller.md
  content/it/docs/concepts/architecture/cloud-controller.md
  content/pt/docs/concepts/architecture/cloud-controller.md
  content/zh/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/es, language/it, language/pt, language/zh, lgtm, sig/docs, size/S

#15359 Update kubeadm-upgrade-1-14.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#15361 docs: note that kubectl port-forward supported in 1.15 on Windows
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15335 Add Indonesian Translation for Cloud Controller Manager Concepts page
  content/id/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#15357 Update podpreset and setup/_index in Korean
  content/ko/docs/concepts/workloads/pods/podpreset.md
  content/ko/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#15289 ja-trans: tasks/run-application/scale-stateful-set/
  content/ja/docs/setup/minikube.md
  content/ja/docs/tasks/run-application/scale-stateful-set.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#15371 typo fix in kubernetes-basics/_index.html
  content/zh/docs/tutorials/kubernetes-basics/_index.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#14328 ja-trans: tasks/configure-pod-container/attach-handler-lifecycle-event/
  content/ja/docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#15244 docs-fr | concepts | cluster-administration | logging.md
  content/fr/docs/concepts/cluster-administration/logging.md
  content/fr/examples/admin/logging/fluentd-sidecar-config.yaml
  content/fr/examples/admin/logging/two-files-counter-pod-agent-sidecar.yaml
  content/fr/examples/admin/logging/two-files-counter-pod-streaming-sidecar.yaml
  content/fr/examples/admin/logging/two-files-counter-pod.yaml
  content/fr/examples/debug/counter-pod.yaml
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#15381 machine-generated translations need human review
  content/en/docs/contribute/localization.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15257 fixes offline dependencies
  content/en/blog/_posts/2018-10-18-tips-for-first-kubecon-presentation-part-1.md
  content/en/blog/_posts/2018-10-26-tips-for-first-kubecon-presentation-part-2.md
  content/en/blog/_posts/2019-03-28-running-kubernetes-locally-on-linux-with-minikube.md
  layouts/shortcodes/upcoming-events.html
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#15355 cheatsheet.md: fix command that queries for label version
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14281 Improve init containers concept page
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#15384 update owners_aliases
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#15173 Revise Addons section of components
  content/en/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, language/en, lgtm, priority/backlog, sig/docs, size/S

#15334 Add --all-namespaces
  content/es/docs/concepts/overview/working-with-objects/field-selectors.md
  content/id/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: approved, cncf-cla: yes, language/es, language/id, lgtm, sig/docs, size/XS

#15076 Fix feature-state for ExpandInUsePersistentVolumes
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14967 Cluster tooltip update
  content/en/docs/concepts/_index.md
  content/en/docs/reference/glossary/cluster.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14278 Improve docs on “Assigning Pods to Nodes”
  content/en/docs/concepts/configuration/assign-pod-node.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14458 Add concept page for Operators
  content/en/docs/concepts/extend-kubernetes/extend-cluster.md
  content/en/docs/concepts/extend-kubernetes/operator.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/glossary/operator-pattern.md
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/L

#14537 Add “CNCF” to glossary
  content/en/docs/contribute/advanced.md
  content/en/docs/contribute/localization.md
  content/en/docs/contribute/start.md
  content/en/docs/reference/glossary/cncf.md
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/en/docs/tasks/administer-cluster/coredns.md
  content/en/docs/user-journeys/users/cluster-operator/intermediate.md
Labels: approved, cncf-cla: yes, kind/feature, language/en, lgtm, sig/docs, size/M

#14161 Translate overview/working-with-objects/namespaces.md in Japanese (#14045)
  content/ja/docs/concepts/overview/working-with-objects/namespaces.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#15376 ja-trans: includes/default-storage-class-prereqs.md
  content/ja/includes/default-storage-class-prereqs.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#15286 Fix kubeadm link
  content/en/docs/setup/production-environment/windows/user-guide-windows-nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15375 Update nodes.md to correct descriptions
  content/zh/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#15368 Translate tasks/run-application/run-replicated-stateful-application/ in Japanese
  content/ja/docs/tasks/run-application/run-replicated-stateful-application.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#15204 Cycle KubeCon info on landing page
  content/de/_index.html
  content/es/_index.html
  content/fr/_index.html
  content/it/_index.html
Labels: approved, cncf-cla: yes, language/de, language/es, language/fr, language/it, lgtm, priority/important-soon, sig/docs, size/S

#15388 Fix error link
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15385 Update contribution guidelines for approvers
  content/en/docs/contribute/intermediate.md
  content/en/docs/contribute/participating.md
  static/images/docs/contribute/netlify-pass.png
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14576 Translate concepts/workloads/pods/init-containers.md in Japanese (#14543)
  content/ja/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#15406 translate contribute/_index.md to japanese.
  content/ja/docs/contribute/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#15397 clean up label comments
  content/en/docs/contribute/intermediate.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#15407 typo fix: add the missing right parenthesis
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15400 zh-trans:/docs/tasks/administer-cluster/running-cloud-controller.md
  content/zh/docs/tasks/administer-cluster/running-cloud-controller.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#15391 fix chinese display bug in page “Creating a single control-plane cluster with kubeadm”
  content/zh/docs/setup/independent/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#15268 Update cli commands
  content/zh/docs/tasks/inject-data-application/define-command-argument-container.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#15408 Replace tabs by spaces in glossary-terms partials
  layouts/partials/docs/glossary-terms.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#15261 Add closure guidelines
  content/en/docs/contribute/advanced.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#15419 fix missing word "to" in kubeadm/kubelet-integration.md
  content/en/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15420 Upgrade calico canal to 3.8
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/fr/docs/setup/independent/create-cluster-kubeadm.md
  content/ja/docs/setup/independent/create-cluster-kubeadm.md
  content/zh/docs/setup/independent/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, language/fr, language/ja, language/zh, lgtm, sig/cluster-lifecycle, sig/docs, size/S

#15417 Fix command that queries for label version
  content/de/docs/reference/kubectl/cheatsheet.md
  content/fr/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/de, language/fr, language/ko, lgtm, sig/docs, size/XS

#15414 docs-fr | reference | glossary | device-plugin.md
  content/fr/docs/reference/glossary/device-plugin.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#15346 docs-fr | reference | glossary | data-plane.md
  content/fr/docs/reference/glossary/data-plane.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#15367 docs-fr | reference | glossary | deployment.md
  content/fr/docs/reference/glossary/deployment.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#15377 docs-fr | reference | glossary | developer.md
  content/fr/docs/reference/glossary/developer.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#15364 Adjusting Main README-pt.md
  README-pt.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/S

#15380 ko: Update outdated files partly in dev-1.14-ko.6
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/cluster-administration/federation.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/containers/runtime-class.md
  content/ko/docs/concepts/overview/components.md
  content/ko/docs/concepts/overview/kubernetes-api.md
  content/ko/docs/concepts/overview/working-with-objects/annotations.md
  content/ko/docs/concepts/workloads/pods/pod-overview.md
  content/ko/docs/concepts/workloads/pods/podpreset.md
  content/ko/docs/reference/glossary/container-env-variables.md
  content/ko/docs/reference/glossary/container-runtime.md
  content/ko/docs/reference/glossary/etcd.md
  content/ko/docs/reference/glossary/kube-proxy.md
  content/ko/docs/reference/glossary/node.md
  content/ko/docs/reference/glossary/service.md
  content/ko/docs/setup/_index.md
  content/ko/docs/setup/best-practices/_index.md
  content/ko/docs/setup/best-practices/certificates.md
  content/ko/docs/setup/best-practices/cluster-large.md
  content/ko/docs/setup/best-practices/multiple-zones.md
  content/ko/docs/setup/best-practices/node-conformance.md
  content/ko/docs/setup/custom-cloud/_index.md
  content/ko/docs/setup/independent/_index.md
  content/ko/docs/setup/learning-environment/_index.md
  content/ko/docs/setup/learning-environment/minikube.md
  content/ko/docs/setup/production-environment/_index.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/on-premises-vm/_index.md
  content/ko/docs/setup/production-environment/tools/kops.md
  content/ko/docs/setup/production-environment/turnkey/_index.md
  content/ko/docs/setup/release/_index.md
  content/ko/docs/setup/release/building-from-source.md
  content/ko/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/tools/install-minikube.md
  content/ko/docs/tutorials/kubernetes-basics/_index.html
  content/ko/docs/tutorials/online-training/overview.md
  content/ko/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#15449 update sig-docs-ja-owners and sig-docs-ja-reviewers
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#15403 add Japanese readme
  README-ja.md
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#15416 Fix serve_hostname image
  content/en/docs/tasks/administer-cluster/namespaces.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15386 Rename blog files to include date in names
  content/en/blog/_posts/2019-03-15-Kubernetes-setup-using-Ansible-and-Vagrant.md
  content/en/blog/_posts/2019-04-17-future-of-cloud-providers.md
  content/en/blog/_posts/2019-04-19-Introducing-kube-iptables-tailer-Better-Networking-Visibility-in-Kubernetes-Clusters.md
  content/en/blog/_posts/2019-05-17-Kubernetes-Cloud-Native-and-the-Future-of-Software.md
Labels: approved, area/blog, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#15453 Changed a confusing heading
  content/en/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15445 specify local port as argument
  content/en/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#15456 translate /docs/concepts/architecture/_index.md into Japanese
  content/ja/docs/concepts/architecture/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#15458 Translate /docs/concepts/extend-kubernetes/_index.md in Japanese
  content/ja/docs/concepts/extend-kubernetes/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#15401 Reference/tools/v0.1
  content/ko/docs/reference/tools.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#15433 Translate reference/glossary/contributor.md in Korean
  content/ko/docs/reference/glossary/contributor.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#15436 Translate reference/glossary/cla in Korean
  content/ko/docs/reference/glossary/cla.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#15446 Update what-is-kubernetes.md
  content/ko/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#15452 kubeadm: modify the step for upgrading control plane kubelets
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-15.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, priority/important-longterm, sig/cluster-lifecycle, sig/docs, size/M

#15427 Changed inter-pod affinity section
  content/en/docs/concepts/configuration/assign-pod-node.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15203 Add blog post about upcoming API removals
  content/en/blog/_posts/2019-07-18-some-apis-are-being-deprecated.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#15481 Add Banzai Cloud (PKE) to production environment solutions table
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15479 Fix command
  content/en/docs/tasks/manage-daemon/update-daemon-set.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15475 Admission webhook default for failure policy is Fail in v1
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15464 secret.md: add an example of editing a secret
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#15421 clarify better where 10-kubeadm.conf comes from in kubeadm/kubeadm-init.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS
