Repository kubernetes/website, pull requests merged in 2019-10, with the labels that each got.

#16614 Update file outdated korean docs in dev-1.16-ko.2.
  content/ko/docs/concepts/overview/working-with-objects/namespaces.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ko/docs/contribute/_index.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/setup/learning-environment/minikube.md
  content/ko/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#16641 Broken links to english documentation that contain `/en/`
  content/id/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#16642 Fixed link in `/id/` localization to `extending api` page
  content/id/docs/reference/glossary/platform-developer.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#16643 Fx adds forgotten slash at the the beginning of `/ko` url.
  content/ko/docs/concepts/workloads/controllers/replicaset.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#16638 Tweak formatting of Ephemeral Containers concept
  content/en/docs/concepts/workloads/pods/ephemeral-containers.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#16617 Update overview.md
  content/en/docs/tutorials/online-training/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16611 fix: typo: extra whitespace indentation
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16598 Fix typos: missing indefinite article and tense
  content/en/docs/tasks/administer-cluster/cluster-management.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16599 fix: removes dead link
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#16612 Fix typo in glossary with CRI
  content/en/docs/reference/glossary/cri.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16647 Cherry pick PR - Fix site build (#16531)
  content/en/docs/tutorials/clusters/apparmor.md
  content/en/docs/tutorials/clusters/deny-write.profile
  content/ko/docs/tutorials/clusters/apparmor.md
  content/ko/docs/tutorials/clusters/deny-write.profile
Labels: approved, cncf-cla: yes, language/en, language/ko, lgtm, sig/docs, size/M

#16646 Cherry pick PR - Fix site build (#16531)
  content/en/docs/tutorials/clusters/apparmor.md
  content/en/docs/tutorials/clusters/deny-write.profile
  content/ko/docs/tutorials/clusters/apparmor.md
  content/ko/docs/tutorials/clusters/deny-write.profile
Labels: approved, cncf-cla: yes, language/en, language/ko, lgtm, sig/docs, size/M

#16648 Modify apparmor.md based on PR - Fix site build (#16531)
  content/en/docs/tutorials/clusters/apparmor.md
  content/en/docs/tutorials/clusters/deny-write.profile
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16613 Translate docs/templates/feature-state-*.txt in Korean
  content/ko/docs/templates/feature-state-alpha.txt
  content/ko/docs/templates/feature-state-beta.txt
  content/ko/docs/templates/feature-state-deprecated.txt
  content/ko/docs/templates/feature-state-stable.txt
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#16104 Upgrade 1.13 to Hugo 0.57.2
  layouts/case-studies/list.html
  layouts/docs/list.html
  layouts/partials/docs/top-menu.html
  layouts/partials/git-info.html
  layouts/partials/templates/blocks.html
  layouts/shortcodes/capture.html
  layouts/shortcodes/code.html
  layouts/shortcodes/codenew.html
  layouts/shortcodes/include.html
  layouts/shortcodes/tabs.html
  netlify.toml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M, ¯\_(ツ)_/¯

#15733 Add concept page about Controllers
  content/en/docs/concepts/_index.md
  content/en/docs/concepts/architecture/cloud-controller.md
  content/en/docs/concepts/architecture/controller.md
  content/en/docs/concepts/overview/components.md
  content/en/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/concepts/workloads/controllers/jobs-run-to-completion.md
  content/en/docs/concepts/workloads/controllers/replicaset.md
  content/en/docs/concepts/workloads/controllers/statefulset.md
  content/en/docs/reference/glossary/controller.md
  content/en/docs/reference/glossary/kube-controller-manager.md
  content/en/docs/reference/glossary/statefulset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#16650 Modify apparmor.md based on PR - Fix site build (#16531)
  content/en/docs/tutorials/clusters/apparmor.md
  content/en/docs/tutorials/clusters/deny-write.profile
  content/zh/docs/reference/setup-tools/kubeadm/generated/README.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, size/S

#16632 reflecting k8s-sig migration
  content/en/docs/contribute/generate-ref-docs/contribute-upstream.md
  static/docs/reference/generated/kubectl/diff-kubectl-cmds-1.11-1.12
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#16667 Fix broken link to Documentation style overview from Contribute page
  content/en/docs/contribute/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16668 Use HTTPS for links in header and footer
  layouts/partials/footer.html
  layouts/partials/header.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#16301 Added AWS ALB Ingress Controller
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16661 Add Indonesian translation for volume snapshots
  content/id/docs/concepts/storage/volume-snapshots.md
Labels: approved, cncf-cla: yes, language/id, lgtm, size/L

#16663 Trivial fixes to topology manager docs
  content/en/docs/tasks/administer-cluster/topology-manager.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16679 Add 2019 Steering Committee Election Results blog post.
  content/en/blog/_posts/2019-10-03-2019-Steering-Committee-Election-Results.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14852 Add content/es/docs/concepts_workloads_controllers/replicationcontroller_statefulset_and_ttl
  content/es/docs/concepts/workloads/controllers/replicationcontroller.md
  content/es/docs/concepts/workloads/controllers/statefulset.md
  content/es/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/es/docs/reference/glossary/container.md
  content/es/docs/reference/glossary/deployment.md
  content/es/docs/reference/glossary/statefulset.md
  content/es/examples/controllers/replication.yaml
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XL

#16572 updated pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#16349 Fix typo
  content/es/docs/concepts/_index.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS

#16537 Zh-trans:/docs/concepts/extend-kubernetes/extend-cluster.md
  content/zh/docs/concepts/extend-kubernetes/extend-cluster.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16676 Issue with k8s.io/docs/setup/production-environment/windows/user-guide-windows-containers/
  content/en/docs/setup/production-environment/windows/user-guide-windows-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16683 Fix steering backlog link.
  content/en/blog/_posts/2019-10-03-2019-Steering-Committee-Election-Results.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16687 fr: Remove kubectl stop
  content/fr/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#16626 Formatting fixes
  content/en/docs/setup/production-environment/tools/kubeadm/high-availability.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/M

#16695 add k-vswitch to networking plugin docs
  content/en/docs/concepts/cluster-administration/networking.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16633 Accessibility Updates
  assets/sass/_base.sass
  content/en/community/_index.html
  content/en/partners/_index.html
  layouts/docs/docsportal_home.html
  layouts/index.html
  layouts/partials/docs/top-menu.html
  layouts/partials/footer-scripts.html
  layouts/partials/footer.html
  layouts/partials/header.html
  layouts/shortcodes/blocks/case-studies.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/usability, size/L

#16154 Translate Volume page to Indonesian
  content/id/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XXL

#16653 Update to 0.57.2 via fixing Chinese content (see #16531)
  content/zh/docs/tutorials/clusters/apparmor.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#16688 zh: Remove kubectl stop
  content/zh/docs/reference/kubectl/kubectl-overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#16698 Replace CRI-O incubator links.
  content/de/docs/setup/minikube.md
  content/en/blog/_posts/2016-12-00-Container-Runtime-Interface-Cri-In-Kubernetes.md
  content/en/docs/setup/learning-environment/minikube.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/fr/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/fr/docs/setup/independent/install-kubeadm.md
  content/ja/docs/setup/independent/install-kubeadm.md
  content/ja/docs/setup/minikube.md
  content/ko/docs/setup/learning-environment/minikube.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/zh/docs/setup/independent/install-kubeadm.md
Labels: approved, area/blog, cncf-cla: yes, language/de, language/en, language/fr, language/ja, language/ko, language/zh, lgtm, sig/docs, size/S

#16684 Adding clarification that Endpoints are still required when EndpointSlices are enabled.
  content/en/docs/tasks/administer-cluster/enabling-endpoint-slices.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16677 Remove kubectl stop
  content/en/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16673 fix yaml in examples emptydir-pod.yaml
  content/en/examples/windows/emptydir-pod.yaml
  content/ja/examples/windows/emptydir-pod.yaml
Labels: approved, cncf-cla: yes, language/en, language/ja, lgtm, sig/docs, size/M

#16682 Update ExpandCSIVolumes feature gate docs for 1.16
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#16625 fix bug in work-queue implementation for 'Fine Parallel Processing Us…
  content/en/examples/application/job/redis/rediswq.py
  content/ja/examples/application/job/redis/rediswq.py
Labels: approved, cncf-cla: yes, language/en, language/ja, lgtm, sig/docs, size/XS

#16640 Blog related fixes
  content/en/blog/_posts/2018-04-11-migrating-the-kubernetes-blog.md
  content/en/blog/_posts/2018-07-16-kubernetes-1-11-release-interview.md
  content/en/blog/_posts/2019-02-12-building-a-kubernetes-edge-control-plane-for-envoy-v2.md
  content/en/blog/_posts/2019-03-20-A-Look-Back-And-Whats-In-Store-For-Kubernetes-Contributor-Summits.md
  content/en/blog/_posts/2019-03-29-kube-proxy-subtleties-debugging-an-intermittent-connection-resets.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16609 fix: incorrect path
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16592 Added missing HPAScaleToZero feature gate
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16715 Fix local build errors
  Makefile
  content/zh/docs/tasks/federation/policy.rego
  layouts/shortcodes/code.html
  netlify.toml
Labels: cncf-cla: yes, language/zh, sig/docs, size/M

#16708 Fix local build errors
  Makefile
  layouts/shortcodes/code.html
  netlify.toml
Labels: cncf-cla: yes, sig/docs, size/XS

#16693 Documentation update
  content/en/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
  content/en/docs/tasks/inject-data-application/environment-variable-expose-pod-information.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16678 add ZH translation /docs/tasks/federation/federation-service-discover…
  content/en/docs/tutorials/clusters/deny-write.profile
  content/zh/docs/tasks/federation/federation-service-discovery.md
  content/zh/docs/tutorials/clusters/deny-write.profile
Labels: cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/XL

#16696 Fixed typo in German text
  content/de/docs/tutorials/kubernetes-basics/_index.html
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#16712 Update CRD related feature gates
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16690 add ZH translation /docs/reference/setup-tools/kubeadm/generated/kube…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/M

#16672 add ZH translation of /docs/tasks/federation/set-up-cluster-federatio…
  content/zh/docs/tasks/federation/set-up-cluster-federation-kubefed.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/XL

#16674 add zh translation /docs/user-journeys/users/application-developer/in…
  content/zh/docs/user-journeys/users/application-developer/intermediate.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16620 Add KubeOne and extend Kubermatic entries in production environment tools
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15727 German I18n Cloud Controller
  content/de/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/L

#16593 Update kubectl conventions translation
  content/fr/docs/reference/kubectl/conventions.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/M

#16594 Update container images translation
  content/fr/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#16728 Fix typo
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#16731 Fix typos
  content/en/docs/concepts/policy/limit-range.md
  content/en/docs/concepts/scheduling/kube-scheduler.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16560 Fix the status of feature podResource
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#16732 Rephrase sentence in k8s.io/docs/reference/kubectl/conventions/
  content/en/docs/reference/kubectl/conventions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15946 Clarifying that you cannot mix Windows and Linux containers in a single pod
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15895 Update Platform9 service offering links
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14642 Removing Loadbalancer IP from the sample service file
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16746 Capitalize Pod, style guide edits
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16112 Update description about node Lease feature.
  content/en/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16189 Issue with k8s.io/docs/tasks/configure-pod-container/static-pod/
  content/en/docs/tasks/configure-pod-container/static-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16282 Add a example for union operator in the shell env
  content/en/docs/reference/kubectl/jsonpath.md
Labels: approved, cncf-cla: yes, language/en, lgtm, lifecycle/stale, sig/docs, size/XS

#16307 VolumeSubpathEnvExpansion feature gate is enabled by default from v1.15
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16461 Update access-cluster-api.md
  content/en/docs/tasks/administer-cluster/access-cluster-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16557 kubeadm: update notes for joining with discovery file
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-join.md
Labels: approved, cncf-cla: yes, language/en, lgtm, priority/backlog, sig/cluster-lifecycle, sig/docs, size/XS

#16720 Update CRI-O version to 1.15
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16734 Fix duplicated entry for aws ebs plugin
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16702 Add annotation aws-load-balancer-security-groups
  content/en/docs/concepts/cluster-administration/cloud-providers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16747 Update kubernetes-objects.md
  content/en/docs/concepts/overview/working-with-objects/kubernetes-objects.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16737 Minor updates
  content/en/docs/tasks/administer-cluster/topology-manager.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16738 PDBs are updateable since 1.15
  content/en/docs/tasks/run-application/configure-pdb.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15817 update set image command in a simpler way
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16704 ExternalName warning about HTTP/TLS
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16739 Remove Stackpoint.io page (#15262)
  content/en/docs/setup/production-environment/turnkey/stackpoint.md
  data/setup.yml
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#15956 remove section saying static pods can't have health checks
  content/en/docs/tasks/configure-pod-container/static-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16763 Correct the link of #sig-docs
  content/en/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16753 remove mikedanese from some reviewers lists
  content/en/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/en/docs/concepts/cluster-administration/manage-deployment.md
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-config.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-join.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-reset.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-token.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-upgrade.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-version.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16768 fix ordered list
  content/en/docs/tasks/manage-kubernetes-objects/imperative-config.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/S

#16701 completion for an alias also
  content/en/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16714 Add explanation for "CN"
  content/en/docs/concepts/cluster-administration/certificates.md
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/reference/access-authn-authz/authentication.md
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/tasks/access-kubernetes-api/configure-aggregation-layer.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16610 replace deprecated commands with new commands
  content/en/docs/tasks/administer-cluster/declare-network-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16294 Tweak glossary entry for kube-apiserver
  content/en/docs/reference/glossary/kube-apiserver.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16293 Add glossary entry for proxy
  content/en/docs/reference/glossary/proxy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16286 Rename architecture section
  content/en/docs/concepts/architecture/_index.md
  content/en/docs/concepts/overview/components.md
  content/en/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#16666 Minor doc fix for syntax and typo
  content/en/docs/setup/production-environment/tools/kubeadm/high-availability.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16088 Translate docs/tasks/administer-cluster/developing-cloud-controller-manager in ja
  content/ja/docs/tasks/administer-cluster/developing-cloud-controller-manager.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#16400 Translate concepts/overview/working-with-objects/object-management/ into Japanese
  content/ja/docs/concepts/overview/working-with-objects/object-management.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#16351 Translate content/ja/docs/concepts/cluster-administration/controller-…
  content/ja/docs/concepts/cluster-administration/controller-metrics.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#16654 Translate pod-topology-spread-constraints in Korean
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/ko/examples/pods/topology-spread-constraints/one-constraint-with-nodeaffinity.yaml
  content/ko/examples/pods/topology-spread-constraints/one-constraint.yaml
  content/ko/examples/pods/topology-spread-constraints/two-constraints.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#16786 Remove trailing spaces from DE documents(#16742)
  content/de/case-studies/_index.html
  content/de/community/_index.html
  content/de/docs/concepts/_index.md
  content/de/docs/concepts/architecture/cloud-controller.md
  content/de/docs/concepts/architecture/master-node-communication.md
  content/de/docs/concepts/architecture/nodes.md
  content/de/docs/concepts/cluster-administration/controller-metrics.md
  content/de/docs/concepts/cluster-administration/proxies.md
  content/de/docs/concepts/overview/components.md
  content/de/docs/concepts/overview/what-is-kubernetes.md
  content/de/docs/contribute/_index.md
  content/de/docs/reference/_index.md
  content/de/docs/reference/glossary/etcd.md
  content/de/docs/reference/glossary/kube-apiserver.md
  content/de/docs/reference/glossary/kube-controller-manager.md
  content/de/docs/reference/glossary/kube-scheduler.md
  content/de/docs/reference/glossary/kubelet.md
  content/de/docs/reference/kubectl/cheatsheet.md
  content/de/docs/reference/tools.md
  content/de/docs/setup/minikube.md
  content/de/docs/tasks/_index.md
  content/de/docs/tasks/tools/install-kubectl.md
  content/de/docs/tasks/tools/install-minikube.md
  content/de/docs/tutorials/_index.md
  content/de/docs/tutorials/hello-minikube.md
  content/de/docs/tutorials/kubernetes-basics/_index.html
  content/de/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/de/includes/federated-task-tutorial-prereqs.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/L

#16789 Remove trailing spaces from ID documents(#16742)
  content/id/docs/concepts/_index.md
  content/id/docs/concepts/architecture/master-node-communication.md
  content/id/docs/concepts/architecture/nodes.md
  content/id/docs/concepts/cluster-administration/federation.md
  content/id/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/id/docs/concepts/cluster-administration/logging.md
  content/id/docs/concepts/cluster-administration/manage-deployment.md
  content/id/docs/concepts/cluster-administration/proxies.md
  content/id/docs/concepts/configuration/assign-pod-node.md
  content/id/docs/concepts/configuration/taint-and-toleration.md
  content/id/docs/concepts/containers/container-environment-variables.md
  content/id/docs/concepts/containers/container-lifecycle-hooks.md
  content/id/docs/concepts/containers/runtime-class.md
  content/id/docs/concepts/extend-kubernetes/extend-cluster.md
  content/id/docs/concepts/overview/components.md
  content/id/docs/concepts/overview/kubernetes-api.md
  content/id/docs/concepts/overview/what-is-kubernetes.md
  content/id/docs/concepts/overview/working-with-objects/annotations.md
  content/id/docs/concepts/overview/working-with-objects/field-selectors.md
  content/id/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/id/docs/concepts/overview/working-with-objects/namespaces.md
  content/id/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md
  content/id/docs/concepts/services-networking/connect-applications-service.md
  content/id/docs/concepts/services-networking/ingress-controllers.md
  content/id/docs/concepts/services-networking/ingress.md
  content/id/docs/concepts/services-networking/network-policies.md
  content/id/docs/concepts/services-networking/service.md
  content/id/docs/concepts/storage/dynamic-provisioning.md
  content/id/docs/concepts/storage/persistent-volumes.md
  content/id/docs/concepts/storage/storage-classes.md
  content/id/docs/concepts/storage/storage-limits.md
  content/id/docs/concepts/storage/volumes.md
  content/id/docs/concepts/workloads/controllers/garbage-collection.md
  content/id/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/id/docs/concepts/workloads/pods/init-containers.md
  content/id/docs/concepts/workloads/pods/pod-lifecycle.md
  content/id/docs/concepts/workloads/pods/pod-overview.md
  content/id/docs/reference/glossary/cluster-operator.md
  content/id/docs/reference/glossary/contributor.md
  content/id/docs/reference/glossary/etcd.md
  content/id/docs/reference/glossary/ingress.md
  content/id/docs/reference/glossary/kube-apiserver.md
  content/id/docs/reference/glossary/kube-controller-manager.md
  content/id/docs/reference/glossary/kube-scheduler.md
  content/id/docs/reference/glossary/kubelet.md
  content/id/docs/reference/glossary/name.md
  content/id/docs/reference/glossary/platform-developer.md
  content/id/docs/reference/glossary/uid.md
  content/id/docs/setup/_index.md
  content/id/docs/tutorials/_index.md
  content/id/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XXL

#16785 Remove trailing spaces from ES documents(#16742)
  content/es/docs/concepts/architecture/cloud-controller.md
  content/es/docs/concepts/architecture/master-node-communication.md
  content/es/docs/concepts/architecture/nodes.md
  content/es/docs/concepts/containers/container-lifecycle-hooks.md
  content/es/docs/concepts/overview/what-is-kubernetes.md
  content/es/docs/concepts/overview/working-with-objects/annotations.md
  content/es/docs/concepts/overview/working-with-objects/common-labels.md
  content/es/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/es/docs/concepts/overview/working-with-objects/namespaces.md
  content/es/docs/concepts/workloads/controllers/replicationcontroller.md
  content/es/docs/concepts/workloads/controllers/statefulset.md
  content/es/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/es/docs/reference/glossary/application-architect.md
  content/es/docs/reference/glossary/application-developer.md
  content/es/docs/reference/glossary/certificate.md
  content/es/docs/reference/glossary/container.md
  content/es/docs/reference/glossary/deployment.md
  content/es/docs/reference/glossary/image.md
  content/es/docs/reference/glossary/job.md
  content/es/docs/reference/glossary/kops.md
  content/es/docs/reference/glossary/kube-proxy.md
  content/es/docs/reference/glossary/kubeadm.md
  content/es/docs/reference/glossary/kubectl.md
  content/es/docs/reference/glossary/kubelet.md
  content/es/docs/reference/glossary/minikube.md
  content/es/docs/reference/glossary/name.md
  content/es/docs/reference/glossary/persistent-volume-claim.md
  content/es/docs/reference/glossary/pod-priority.md
  content/es/docs/reference/glossary/pod.md
  content/es/docs/reference/glossary/replica-set.md
  content/es/docs/reference/glossary/secret.md
  content/es/docs/reference/glossary/selector.md
  content/es/docs/reference/glossary/statefulset.md
  content/es/docs/reference/glossary/sysctl.md
  content/es/docs/reference/glossary/uid.md
  content/es/docs/reference/glossary/volume.md
  content/es/docs/setup/_index.md
  content/es/docs/setup/release/building-from-source.md
  content/es/docs/tasks/run-application/configure-pdb.md
  content/es/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/L

#16709 Improved static pod task documentation
  content/en/docs/tasks/configure-pod-container/static-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#16568 Translate updates
  content/fr/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/M

#16788 Remove trailing spaces from FR documents(#16742)
  content/fr/community/code-of-conduct.md
  content/fr/community/static/cncf-code-of-conduct.md
  content/fr/docs/concepts/containers/container-lifecycle-hooks.md
  content/fr/docs/concepts/containers/images.md
  content/fr/docs/concepts/overview/components.md
  content/fr/docs/concepts/storage/volumes.md
  content/fr/docs/concepts/workloads/controllers/replicaset.md
  content/fr/docs/concepts/workloads/pods/init-containers.md
  content/fr/docs/concepts/workloads/pods/pod-lifecycle.md
  content/fr/docs/concepts/workloads/pods/pod-overview.md
  content/fr/docs/concepts/workloads/pods/pod.md
  content/fr/docs/contribute/start.md
  content/fr/docs/reference/glossary/contributor.md
  content/fr/docs/reference/glossary/etcd.md
  content/fr/docs/reference/glossary/init-container.md
  content/fr/docs/reference/glossary/kube-apiserver.md
  content/fr/docs/reference/glossary/kube-controller-manager.md
  content/fr/docs/reference/glossary/kube-proxy.md
  content/fr/docs/reference/glossary/kube-scheduler.md
  content/fr/docs/reference/kubectl/cheatsheet.md
  content/fr/docs/reference/kubectl/overview.md
  content/fr/docs/reference/setup-tools/kubeadm/generated/kubeadm_init.md
  content/fr/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/fr/docs/reference/setup-tools/kubeadm/kubeadm.md
  content/fr/docs/setup/_index.md
  content/fr/docs/setup/custom-cloud/coreos.md
  content/fr/docs/setup/independent/_index.md
  content/fr/docs/setup/independent/control-plane-flags.md
  content/fr/docs/setup/independent/ha-topology.md
  content/fr/docs/setup/independent/high-availability.md
  content/fr/docs/setup/independent/install-kubeadm.md
  content/fr/docs/setup/independent/kubelet-integration.md
  content/fr/docs/setup/independent/setup-ha-etcd-with-kubeadm.md
  content/fr/docs/setup/independent/troubleshooting-kubeadm.md
  content/fr/docs/setup/pick-right-solution.md
  content/fr/docs/setup/release/building-from-source.md
  content/fr/docs/tasks/configure-pod-container/assign-cpu-resource.md
  content/fr/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/fr/docs/tasks/configure-pod-container/assign-pods-nodes.md
  content/fr/docs/tasks/configure-pod-container/configure-volume-storage.md
  content/fr/docs/tasks/configure-pod-container/extended-resource.md
  content/fr/docs/tasks/configure-pod-container/quality-service-pod.md
  content/fr/docs/tasks/tools/install-kubectl.md
  content/fr/docs/tasks/tools/install-minikube.md
  content/fr/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XL

#16761 Continued Fixing Translate extend cluster
  content/id/docs/concepts/extend-kubernetes/extend-cluster.md
  content/id/docs/reference/glossary/cluster-operator.md
  content/id/docs/reference/glossary/contributor.md
  content/id/docs/reference/glossary/platform-developer.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#16744 san diego contributor summit schedule blog
  content/en/blog/_posts/2019-10-10-contributor-summit-san-diego-schedule.md
  static/images/blog/2019-10-10-contributor-summit-san-diego-schedule/DSCF0806.jpg
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16733 Correct the aws's URL in zh
  content/zh/docs/concepts/cluster-administration/cloud-providers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#16692 Add RuntimeClass description
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14173 Adjust string translation for Chinese localization
  i18n/en.toml
  i18n/zh.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/L

#16821 Fix simple type miss (「でき前に」=>「でき"る”前に」）
  content/ja/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#16822 Typo in San Diego city name
  content/en/blog/_posts/2019-10-10-contributor-summit-san-diego-schedule.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16815 Add CJ Cullen to summit schedule blog post
  content/en/blog/_posts/2019-10-10-contributor-summit-san-diego-schedule.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16836 Revert 16708
  Makefile
  layouts/shortcodes/code.html
  netlify.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#16749 Update windows containers deployment
  content/en/docs/setup/production-environment/windows/user-guide-windows-containers.md
Labels: approved, cncf-cla: yes, kind/bug, language/en, lgtm, sig/docs, sig/windows, size/M

#16767 fix spelling in contribute/start
  content/en/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16796 Add empty lines & remove trailing space
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16802 feature added for issue #16771
  content/en/docs/contribute/intermediate.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16831 Fixed invalid bash keyword
  content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16834 Fix spelling mistake
  content/en/docs/concepts/architecture/controller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16835 Fix mistake in docs/concepts/architecture/nodes
  content/en/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16735 zh-translation:assign-cpu-resource.md
  content/zh/docs/tasks/configure-pod-container/assign-cpu-resource.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16798 Add the -n for pod in kubectl command
  content/en/docs/contribute/style/style-guide.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16819 Fixing port related description
  content/en/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16136 Fix a minor spelling error
  content/de/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#16812 zh-trans:/docs/concepts/overview/working-with-objects/names.md
  content/zh/docs/concepts/overview/working-with-objects/names.md
  content/zh/docs/reference/glossary/name.md
  content/zh/docs/reference/glossary/uid.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#16726 kubeadm: include a couple of workarounds in kubeadm-certs.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, priority/important-soon, sig/cluster-lifecycle, sig/docs, size/S

#16636 Translate concepts/extend-kubernetes/extend-cluster/ and related glossaries into Japanese
  content/ja/docs/concepts/extend-kubernetes/extend-cluster.md
  content/ja/docs/reference/glossary/cluster-operator.md
  content/ja/docs/reference/glossary/contributor.md
  content/ja/docs/reference/glossary/member.md
  content/ja/docs/reference/glossary/platform-developer.md
  content/ja/docs/reference/glossary/sig.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#16784 Second Korean l10n work for release-1.16
  content/ko/docs/concepts/overview/working-with-objects/namespaces.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/ko/docs/contribute/_index.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/setup/learning-environment/minikube.md
  content/ko/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/tools/install-minikube.md
  content/ko/docs/templates/feature-state-alpha.txt
  content/ko/docs/templates/feature-state-beta.txt
  content/ko/docs/templates/feature-state-deprecated.txt
  content/ko/docs/templates/feature-state-stable.txt
  content/ko/examples/pods/topology-spread-constraints/one-constraint-with-nodeaffinity.yaml
  content/ko/examples/pods/topology-spread-constraints/one-constraint.yaml
  content/ko/examples/pods/topology-spread-constraints/two-constraints.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#16847 fix url to ReplicationController
  content/en/docs/tasks/run-application/rolling-update-replication-controller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16779 zh trans workload.md
  content/zh/docs/reference/glossary/workload.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#16843 Fixing links in markdown for `logs` and `metrics`
  content/en/docs/tasks/debug-application-cluster/events-stackdriver.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16792 Remove trailing spaces from 'no' documents(#16742)
  content/no/docs/reference/glossary/container.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#16857 add zh translation content/zh/docs/reference/glossary/workload.md
  content/zh/docs/reference/glossary/workload.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#16861 update zh translation content/zh/docs/reference/kubectl/overview.md
  content/zh/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#16865 update zh translation content/zh/docs/reference/glossary/kube-proxy.md
  content/zh/docs/reference/glossary/kube-proxy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#16804 add daminisatya as en owner
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#15935 fix(cheatsheet): update context cmd description
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16040 Fix broken links in container pattern blog
  content/en/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md
  static/images/blog/2015-06-00-The-Distributed-System-Toolkit-Patterns/adapter-containers.png
  static/images/blog/2015-06-00-The-Distributed-System-Toolkit-Patterns/ambassador-containers.png
  static/images/blog/2015-06-00-The-Distributed-System-Toolkit-Patterns/sidecar-containers.png
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16723 Add info about logging into shell before removing /mnt/data
  content/en/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16670 Update Endpoint Slice text with feedback from SIG
  content/en/blog/_posts/2019-09-18-kubernetes-1-16-release-announcement.md
  static/images/blog/2019-09-18-kubernetes-1-16-release-announcement/endpoint-slices.png
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#16745 Remove stale OWNERS files in k/website
  assets/sass/OWNERS
  static/images/blog/OWNERS
Labels: approved, area/blog, cncf-cla: yes, lgtm, priority/important-soon, sig/docs, size/S

#16760 Minor text edit
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16807 Clarify that v1beta1 CRDs have to opt-in in pruning feature
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16808 Fix #16806 - Update link for patch release manager in in skew support policy.
  content/en/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16824 a small fix in the delete all pods
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16841 Completeing AzureDisk storage class parameters
  content/en/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16845 modify the file name to increase the contrast
  content/en/docs/tasks/run-application/update-api-object-kubectl-patch.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16846 fix url
  content/en/docs/tasks/run-application/force-delete-stateful-set-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16852 fix for issue #16851
  content/en/docs/setup/best-practices/node-conformance.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#16853 fix for issue #16629
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16859 Pods count should be part of object-count's spec.
  content/en/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS
