Repository kubernetes/website, pull requests merged in 2019-05, with the labels that each got.

#14081 Fix minor typos for declarative-config.md in Indonesian
  content/id/docs/concepts/overview/object-management-kubectl/declarative-config.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#14089 Add Indonesian translation for container lifecycle hooks
  content/id/docs/concepts/containers/container-lifecycle-hooks.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#14079 Translate Connecting Applications with Services in Bahasa Indonesia
  content/id/docs/concepts/services-networking/connect-applications-service.md
  content/id/examples/service/networking/curlpod.yaml
  content/id/examples/service/networking/nginx-secure-app.yaml
  content/id/examples/service/networking/nginx-svc.yaml
  content/id/examples/service/networking/run-my-nginx.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#14119 Grammar fixes in concepts/index
  content/en/docs/concepts/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14047 Add files via upload
  content/en/blog/_posts/2019-05-02-kubecon-diversity-lunch-and-hack.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14133 Update security.md
  content/en/docs/reference/issues-security/security.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14134 Added mkorbi to the German translation team
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#14115 Translate concepts/overview/working-with-objects/annotations in Korean
  content/ko/docs/concepts/overview/working-with-objects/annotations.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#14139 update api ref index, 1.14
  content/en/docs/reference/kubernetes-api/index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14149 Clarify which types of lists are replaced
  content/en/docs/concepts/overview/object-management-kubectl/declarative-config.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14142 Fix password example for kubectl create secret
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14085 Fix func name PodResourcesLister
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14155 get a typo in images.md: Dokcer authentication
  content/zh/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#14154 Fix docker installation links
  content/en/docs/setup/independent/troubleshooting-kubeadm.md
  content/en/docs/user-journeys/users/application-developer/foundational.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#14158 Update advanced.md
  content/en/docs/contribute/advanced.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14018 update kubectl ref docs
  static/docs/reference/generated/kubectl/kubectl-commands.html
  static/docs/reference/generated/kubectl/navData.js
Labels: approved, cncf-cla: yes, lgtm, sig/cli, sig/docs, size/XL

#14118 Update SupportPodPidsLimit to Beta
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14097 Update install-minikube.md
  content/en/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14015 Add new translation in Bahasa Indonesia
  content/id/docs/concepts/cluster-administration/cloud-providers.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#14078 Correction on command: kubeadm config print join-defaults
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-join.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#13906 make the example consistent with the test
  content/en/examples/pods/pod-with-pod-affinity.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14148 Initialize Federation in Bahasa Indonesia.
  content/id/docs/concepts/cluster-administration/federation.md
  content/id/includes/federation-deprecation-warning-note.md
  content/id/includes/index.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#14156 Translation cluster admin overview in Bahasa Indonesia
  content/id/docs/concepts/cluster-administration/cluster-administration-overview.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#14178 Fix broken link in service-accounts-admin.md
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14166 Update list of drivers in minikube.md
  content/en/docs/setup/minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13969 Update pod-lifecycle.md
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13070 Update Kubelet RotateKubeletClientCertificate feature since v1.8
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14129 Update Kubermatic info
  content/en/docs/setup/pick-right-solution.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#13986 Add content/pt/docs/concepts/architecture/master-node-communication.md
  content/pt/docs/concepts/architecture/cloud-controller.md
  content/pt/docs/concepts/architecture/master-node-communication.md
Labels: cncf-cla: yes, language/pt, sig/docs, size/L

#14182 Fix broken links to examples
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14184 Readded the link to Instana and Sysdig
  content/en/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14189 Fix apiversion for apiVersion
  content/en/docs/concepts/cluster-administration/manage-deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14190 Fix order of yaml sample of configuration/secret
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14177 Change image name in redis_pod.yaml; k8s.io/docs/tutorials/configurat…
  content/en/examples/pods/config/redis-pod.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14191 Fix orders of yaml of policy/pod-security-policy
  content/en/docs/concepts/policy/pod-security-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14192 Fix orders of yaml of services-networking/ingress
  content/en/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13761 Fix typos and grammatical errors in README.md file
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#14117 Initialize Service translations in Bahasa Indonesia.
  content/id/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XXL

#14125 Initialize Working with Objects translations for Bahasa Indonesia.
  content/id/docs/concepts/overview/working-with-objects/_index.md
  content/id/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/id/examples/application/deployment.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#14128 translate Namespaces to Bahasa Indonesia
  content/id/docs/concepts/overview/working-with-objects/namespaces.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#14174 Issue #14012 - Update source.md
  content/en/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14136 Use sudo(8) to create directory and hosted file
  content/en/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13725 Update overview.md
  content/en/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14126 Update namespaces.md
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14198 Update Cilium version in installation guide
  content/en/docs/setup/independent/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14026 Add content/es/docs/content/overview/working-with-objects
  content/es/docs/concepts/overview/working-with-objects/annotations.md
  content/es/docs/concepts/overview/working-with-objects/common-labels.md
  content/es/docs/concepts/overview/working-with-objects/field-selectors.md
  content/es/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/es/docs/concepts/overview/working-with-objects/labels.md
  content/es/docs/concepts/overview/working-with-objects/names.md
  content/es/docs/concepts/overview/working-with-objects/namespaces.md
  content/es/docs/reference/glossary/name.md
  content/es/docs/reference/glossary/uid.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XL

#14203 Update Cilium version
  content/en/docs/tasks/administer-cluster/network-policy-provider/cilium-network-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14165 Add Bahasa Indonesia translation for addons
  content/id/docs/concepts/cluster-administration/addons.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#14185 Third Korean l10n work for release-1.14
  content/ko/docs/concepts/_index.md
  content/ko/docs/concepts/architecture/cloud-controller.md
  content/ko/docs/concepts/overview/what-is-kubernetes.md
  content/ko/docs/concepts/overview/working-with-objects/annotations.md
  content/ko/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/ko/docs/concepts/overview/working-with-objects/namespaces.md
  content/ko/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/setup/cri.md
  content/ko/docs/setup/pick-right-solution.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/ko/docs/tasks/tools/install-minikube.md
  content/ko/docs/tutorials/online-training/overview.md
  content/ko/docs/tutorials/stateful-application/zookeeper.md
  content/ko/docs/tutorials/stateless-application/expose-external-ip-address.md
  content/ko/examples/application/zookeeper/zookeeper.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#14199 Fix broken links to replicaset examples
  content/en/docs/concepts/workloads/controllers/replicaset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13866 Updated self-hosting documentation
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/setup/independent/create-cluster-kubeadm.md
  content/en/docs/setup/independent/self-hosting.md
Labels: approved, cncf-cla: yes, language/en, lgtm, priority/important-longterm, sig/cluster-lifecycle, sig/docs, size/L

#14214 Fix orders of yaml of pods/init-containers.md
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14212 Fix orders of yaml of services-networking/service
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14213 Fix orders of yaml of concepts/storage/*
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14086 Documentation LimitRange Policies
  content/en/docs/concepts/policy/limit-range.md
  content/en/examples/admin/resource/limit-mem-cpu-container.yaml
  content/en/examples/admin/resource/limit-mem-cpu-pod.yaml
  content/en/examples/admin/resource/limit-memory-ratio-pod.yaml
  content/en/examples/admin/resource/limit-range-pod-1.yaml
  content/en/examples/admin/resource/limit-range-pod-2.yaml
  content/en/examples/admin/resource/limit-range-pod-3.yaml
  content/en/examples/admin/resource/pvc-limit-greater.yaml
  content/en/examples/admin/resource/pvc-limit-lower.yaml
  content/en/examples/admin/resource/storagelimits.yaml
  content/en/examples/examples_test.go
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#13750 Update intro-windows-in-kubernetes.md - minor grammatical correction
  content/en/docs/setup/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14135 Add content/es/docs/templates
  content/es/docs/templates/feature-state-alpha.txt
  content/es/docs/templates/feature-state-beta.txt
  content/es/docs/templates/feature-state-deprecated.txt
  content/es/docs/templates/feature-state-stable.txt
  content/es/docs/templates/index.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/M

#14202 Clarification of init-container restart reasons #13022
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14209 Directly reference the PodDisruptionBudget
  content/en/docs/tasks/administer-cluster/safely-drain-node.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#13910 Localise readme.md in hindi
  OWNERS_ALIASES
  README-hi.md
  config.toml
  content/hi/OWNERS
  content/hi/_common-resources/index.md
Labels: approved, cncf-cla: yes, language/hi, lgtm, sig/docs, size/L

#14228 Removed unwanted spaces in "configure-projected-volume-storage" file
  content/en/docs/tasks/configure-pod-container/configure-projected-volume-storage.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14227 Fix glossary tooltip mismatch
  layouts/shortcodes/glossary_tooltip.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14110 Added error handling to find_pr script
  scripts/find_pr.py
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#14239 ingress: Use networking.k8s.io/v1beta1 in Ingress examples
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/en/examples/service/networking/ingress.yaml
  content/id/docs/concepts/services-networking/ingress.md
  content/id/examples/service/networking/ingress.yaml
  content/ja/examples/service/networking/ingress.yaml
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/zh/docs/concepts/services-networking/ingress.yaml
  content/zh/docs/user-guide/ingress.yaml
Labels: approved, cncf-cla: yes, language/en, language/id, language/ja, language/ko, language/zh, lgtm, sig/docs, size/M

#14229 Translation controller metrics in Bahasa Indonesia
  content/id/docs/concepts/cluster-administration/controller-metrics.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#14222 Add Indonesian translation for container runtime class
  content/id/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#14175 Subscribe button on the home page is not aligned. #13672
  layouts/index.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#14242 fix orders in yaml and json for multiple-zones.md
  content/en/docs/setup/multiple-zones.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14238 Fix orders of yaml of reference/kube*
  content/en/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-join.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14241 Fix orders of yaml for tasks/administer-cluster/[a-k]*.go
  content/en/docs/tasks/administer-cluster/declare-network-policy.md
  content/en/docs/tasks/administer-cluster/encrypt-data.md
  content/en/docs/tasks/administer-cluster/kms-provider.md
  content/en/docs/tasks/administer-cluster/kubelet-config-file.md
  content/en/examples/admin/sched/my-scheduler.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14236 Add Indonesian translation for field-selectors
  content/id/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#14217 Fixed minor issues on CenturyLink Cloud Page
  content/en/docs/setup/turnkey/clc.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14246 delete unnecessary space and character in sample yaml
  content/en/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14245 Fix orders of yaml for tasks/administer-cluster/[l-z]*.go
  content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md
  content/en/examples/admin/cloud/ccm-example.yaml
  content/en/examples/admin/namespace-dev.json
  content/en/examples/admin/namespace-prod.json
  content/en/examples/admin/resource/quota-objects-pvc-2.yaml
  content/en/examples/admin/resource/quota-objects-pvc.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14224 Add Indonesian translation for kubelet garbage collection
  content/id/docs/concepts/cluster-administration/kubelet-garbage-collection.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#14235 Add Indonesian translation for annotations
  content/id/docs/concepts/overview/working-with-objects/annotations.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#14252 Temp fix for more reliable builds
  Makefile
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#14195 fix orders of yaml for access-authn-authz/*
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14254 Fix orders of yaml of custom-resource-definitions
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14251 German localization for horizontal pod autoscaler
  content/de/_index.html
  content/de/docs/reference/_index.md
  content/de/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/de/docs/templates/feature-state-beta.txt
  content/de/docs/templates/index.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/L

#14259 Fix yaml sample order of configure-pod-container/
  content/en/docs/tasks/configure-pod-container/configure-gmsa.md
  content/en/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14260 Fix yaml sample order of /debug-application-cluster
  content/en/docs/tasks/debug-application-cluster/audit.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14253 Fix bad for in short options
  content/en/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14124 Removed duplicate bullet item on nginx version 1.7.9
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13876 Update kubespray.md
  content/en/docs/setup/custom-cloud/kubespray.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14265 Update i18n-zh work base branch in `PULL_REQUEST_TEMPLATE.md`
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#14282 Improve pod concept docs
  content/en/docs/concepts/workloads/pods/pod-overview.md
  content/en/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#14280 Fix glossary entry for Docker
  content/en/docs/reference/glossary/docker.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14274 Fix typo
  content/en/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14285 Translate concepts/overview/object-management-kubectl/declarative-config in Korean
  content/ko/docs/concepts/overview/object-management-kubectl/declarative-config.md
  content/ko/examples/application/simple_deployment.yaml
  content/ko/examples/application/update_deployment.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#13881 Add content/es/docs/concepts/architecture/nodes.md
  content/es/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/L

#14288 Removed junk character from the page
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14083 Entry for QoS (#5993)
  content/en/docs/reference/glossary/qos-class.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14206 Kubernetes 1.14 release interview
  content/en/blog/_posts/2019-05-09-kubernetes-1-14-release-interview.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#13849 Update device-plugins.md
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13949 Add content/es/docs/tasks/configure-pod-container/configure-volume-storage.md
  content/es/docs/tasks/configure-pod-container/configure-volume-storage.md
  content/es/examples/pods/storage/redis.yaml
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/L

#14299 Fix typo in https://kubernetes.io/docs/setup/certificates/
  content/en/docs/setup/certificates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14302 Correct publish date for blog post
  content/en/blog/_posts/2019-05-13-kubernetes-1-14-release-interview.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14305 Update pick-right-solution.md
  content/en/docs/setup/pick-right-solution.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14298 Fixes for https://kubernetes.io/docs/tasks/administer-cluster/cluster-management/
  content/en/docs/tasks/administer-cluster/cluster-management.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14131 Created nl.toml
  i18n/nl.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/L

#13999 Improve Kubernetes-setup-using-Ansible-and-Vagrant.md
  content/en/blog/_posts/Kubernetes-setup-using-Ansible-and-Vagrant.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14315 Add New Contributor Workshops blog post.
  content/en/blog/_posts/2019-05-14-expanding-our-contributor-workshops.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14320 Add Indonesian translation for Names
  content/id/docs/concepts/overview/working-with-objects/names.md
  content/id/docs/reference/glossary/name.md
  content/id/docs/reference/glossary/uid.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#14333 changed the formatting of example-ingress.yaml
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14324 add links to individual readme files
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#14219 Add co-chair role to advanced contributing
  content/en/docs/contribute/advanced.md
  static/images/docs/contribute/claim-host.png
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14348 updated the links of cherrypick guide
  content/en/docs/contribute/generate-ref-docs/contribute-upstream.md
  content/en/docs/contribute/generate-ref-docs/kubectl.md
  content/fr/docs/contribute/generate-ref-docs/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/en, language/fr, lgtm, sig/docs, size/XS

#14345 Update deployment.md
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14334 Fix code block
  content/en/docs/contribute/style/style-guide.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14335 Add links to the external cloud-provider repos
  content/en/docs/concepts/cluster-administration/cloud-providers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14339 List & watch can be authorized on named resources
  content/en/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14311 Fix sentence formation
  content/en/partners/_index.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14363 Add content\es\docs\reference\glossary\cla.md
  content/es/docs/reference/glossary/cla.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/S

#14269 Move Karbon to on-premisses
  content/en/docs/setup/pick-right-solution.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14263 Declare IPVS-based kube-proxy GA
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/XS

#14366 en/glossary: use title for all Pod occurrences
  content/en/docs/reference/glossary/rkt.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14250 kubectl should also be held by apt-mark
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#13801 Update create-cluster-kubeadm.md
  content/en/docs/setup/independent/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#14121 fix runasgroup psp policy
  content/en/docs/concepts/policy/pod-security-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/XS

#14295 YAML code-block within a list bug fixed (#14293)
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14145 Add content/es/docs/concepts/architecture
  content/es/docs/concepts/architecture/cloud-controller.md
  content/es/docs/concepts/architecture/master-node-communication.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/L

#14287 Initialize Network Policy in Bahasa Indonesia.
  content/id/docs/concepts/services-networking/network-policies.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#14024 translate cron-jobs.md to korean + add _index.md
  content/ko/docs/concepts/workloads/controllers/_index.md
  content/ko/docs/concepts/workloads/controllers/cron-jobs.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#14347 ko: update outdated files in dev-1.14-ko.4 #14207
  content/ko/docs/setup/minikube.md
  content/ko/docs/setup/pick-right-solution.md
  content/ko/docs/tutorials/kubernetes-basics/explore/explore-intro.html
  content/ko/docs/tutorials/services/source-ip.md
  content/ko/docs/tutorials/stateless-application/guestbook.md
  content/ko/examples/pods/config/redis-pod.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#14387 Fixing the output of jsonpath
  content/en/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14383 Correcting sequence of tasks for manage cluster daemon
  content/en/docs/tasks/manage-daemon/rollback-daemon-set.md
  content/en/docs/tasks/manage-daemon/update-daemon-set.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14379 Watch bookmarks documentation
  content/en/docs/reference/using-api/api-concepts.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14385 Updated DaemonSet page to include SignalFx Agent.
  content/en/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14374 move obj mgmt files to tasks
  content/en/docs/concepts/overview/_index.md
  content/en/docs/concepts/overview/object-management-kubectl/_index.md
  content/en/docs/concepts/overview/working-with-objects/object-management.md
  content/en/docs/tasks/manage-kubernetes-objects/_index.md
  content/en/docs/tasks/manage-kubernetes-objects/declarative-config.md
  content/en/docs/tasks/manage-kubernetes-objects/imperative-command.md
  content/en/docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#14389 Fixing grammatical error
  content/en/docs/concepts/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14354 Correcting example to avoid ambiguity
  content/en/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14276 Changed the redisslave version from v1 to v3.
  content/en/docs/tasks/configure-pod-container/translate-compose-kubernetes.md
  content/en/examples/application/guestbook/redis-slave-deployment.yaml
  content/fr/examples/application/guestbook/redis-slave-deployment.yaml
  content/ja/examples/application/guestbook/redis-slave-deployment.yaml
  content/ko/examples/application/guestbook/redis-slave-deployment.yaml
Labels: approved, cncf-cla: yes, language/en, language/fr, language/ja, language/ko, lgtm, sig/docs, size/S

#14163 Refactor the setup page
  content/en/docs/reference/glossary/applications.md
  content/en/docs/reference/glossary/cluster-infrastructure.md
  content/en/docs/reference/glossary/cluster-operations.md
  content/en/docs/reference/glossary/control-plane.md
  content/en/docs/reference/glossary/data-plane.md
  content/en/docs/setup/_index.md
  static/images/docs/KubernetesSolutions.svg
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#14303 Updated Linux Academy courses
  content/en/docs/tutorials/online-training/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14355 Correcting minikube quickstart steps
  content/en/docs/setup/minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#14384 Create blog post draft
  content/en/blog/_posts/Kubernetes-Cloud-Native-and-the-Future-of-Software.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14393 translation cluster-intro
  content/zh/docs/tutorials/kubernetes-basics/cluster-intro.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#14423 setup/_index.md: Edits for clarity
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#14208 Translate standardized glossary Tag Workload in Korean
  content/ko/docs/reference/glossary/app-container.md
  content/ko/docs/reference/glossary/cronjob.md
  content/ko/docs/reference/glossary/replication-controller.md
  content/ko/docs/reference/glossary/workload.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#14434 pick-right-solution.md
  content/en/docs/setup/pick-right-solution.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14438 Fix link
  content/en/docs/tasks/manage-kubernetes-objects/imperative-command.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14430 removed the junk character
  content/en/docs/tasks/debug-application-cluster/debug-service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14422 Switched to using GNU standard
  content/en/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14418 fix links to tool install
  content/en/docs/tasks/manage-kubernetes-objects/declarative-config.md
  content/en/docs/tasks/manage-kubernetes-objects/imperative-command.md
  content/en/docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14413 Remove extra '**'
  content/en/docs/tasks/administer-cluster/developing-cloud-controller-manager.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14400 Updated links to vendor specific implementions
  content/en/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#14321 document pod downwardAPI fieldRef & resourceFiledRef values
  content/en/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
  content/zh/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/M

#14309 Add containerd and CRI-O to glossary
  content/en/docs/reference/glossary/containerd.md
  content/en/docs/reference/glossary/cri-o.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#14414 Use glossary definitions in “Using sysctls in a Kubernetes Cluster”
  content/en/docs/tasks/administer-cluster/sysctl-cluster.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS
