Repository kubernetes/website, pull requests merged in 2019-04, with the labels that each got.

#13240 docs-fr | concepts | workloads | pod overview
  content/fr/docs/concepts/workloads/pods/pod-overview.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#13397 Translate the contribute index page to French
  content/fr/docs/contribute/_index.md
  content/fr/docs/contribute/style/_index.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/M

#13418 Remove command prompts
  content/en/docs/tasks/debug-application-cluster/audit.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#13540 Update console output as per configmap data
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13550 Fixed typo in German README
  README-de.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#13558 Adding 5 Days of K8s post on Windows Containers
  content/en/blog/_posts/2019-04-01-kubernetes-v1-14-delivers-production-level-support-for-nodes-and-windows-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#13570 Fixed typo
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13373 Fix#13372 - Issue template for bug, support, feature requests
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/support.md
  layouts/partials/git-info.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#13579 Updated links on kubectl documentation page
  content/en/docs/reference/kubectl/kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#13548 [DE] Removed unneeded de/index.md
  content/de/index.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#13541 zh: docs/cocepts/cluster-administration/logging.md
  content/zh/docs/concepts/cluster-administration/logging.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/L

#13588 Fixed typo
  content/zh/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#13591 zh-trans: update docker-cli-to-kubectl.md
  content/zh/docs/user-guide/docker-cli-to-kubectl.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/S

#13593 Final Korean I10n work for release-1.13
  content/ko/_index.html
  content/ko/case-studies/pinterest/index.html
  content/ko/docs/concepts/architecture/cloud-controller.md
  content/ko/docs/concepts/cluster-administration/federation.md
  content/ko/docs/concepts/overview/components.md
  content/ko/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/ko/docs/concepts/overview/working-with-objects/namespaces.md
  content/ko/docs/concepts/workloads/pods/init-containers.md
  content/ko/docs/setup/certificates.md
  content/ko/docs/setup/minikube.md
  content/ko/docs/setup/pick-right-solution.md
  content/ko/docs/setup/scratch.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/tools/install-minikube.md
  content/ko/docs/tutorials/_index.md
  content/ko/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/ko/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/ko/docs/tutorials/online-training/overview.md
  content/ko/docs/tutorials/stateful-application/_index.md
  content/ko/docs/tutorials/stateful-application/basic-stateful-set.md
  content/ko/docs/tutorials/stateless-application/guestbook.md
  content/ko/includes/federation-deprecation-warning-note.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#13580 add whitespace for clarity
  content/en/docs/concepts/configuration/assign-pod-node.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13596 Removed lledru from OWNERS_ALIASES
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#13592 zh-trans: update advanced.md
  content/zh/docs/contribute/advanced.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/XS

#13424 ZH-trans: add 2017-11-00-Autoscaling-In-Kubernetes.md
  content/zh/blog/_posts/2017-11-00-Autoscaling-In-Kubernetes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/M

#13439 ZH-trans: add fedora_manual_config.md
  content/zh/docs/getting-started-guides/fedora/fedora_manual_config.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/L

#13601 fix typo
  content/zh/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#12790 Add a script util to check which files are currently modified by open PullRequests
  scripts/find_pr.py
Labels: approved, cncf-cla: yes, lgtm, size/M

#13429 Translate the contribute start to French
  content/fr/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#13600 Local PV GA blog post
  content/en/blog/_posts/2019-04-04-local-persistent-volumes-ga.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#13575 Remove obsolete remark. German translation exists
  content/en/docs/contribute/localization.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13603 update url of kubelet-config-file types
  content/en/docs/tasks/administer-cluster/kubelet-config-file.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13608 Add Logging to glossary
  content/en/docs/reference/glossary/logging.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#13609 Fix typos
  content/en/docs/tasks/administer-cluster/dns-custom-nameservers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13610 Update start.md
  content/en/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13614 Fixed broken links to /docs/setup/scratch
  content/en/docs/setup/pick-right-solution.md
  content/en/docs/setup/windows/user-guide-windows-nodes.md
  content/fr/docs/setup/pick-right-solution.md
  content/ja/docs/setup/pick-right-solution.md
  content/ko/docs/setup/pick-right-solution.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, language/fr, language/ja, language/ko, lgtm, sig/docs, size/S

#13617 Fixed type in intermediate contributor page
  content/en/docs/contribute/intermediate.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13543 Init Spanish translation
  OWNERS_ALIASES
  README-es.md
  config.toml
  content/es/OWNERS
  content/es/_common-resources/index.md
  content/es/_index.html
  content/es/blog/_index.md
  content/es/case-studies/_index.html
  content/es/community/_index.html
  content/es/community/code-of-conduct.md
  content/es/community/static/README.md
  content/es/community/static/cncf-code-of-conduct.md
  content/es/docs/_index.md
  content/es/docs/_search.md
  content/es/docs/sitemap.md
  content/es/docs/update-user-guide-links.py
  content/es/includes/index.md
  content/es/partners/_index.html
  i18n/es.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XL

#13435 Translate kubernetes-api.md to French
  content/fr/docs/contribute/generate-ref-docs/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#13620 fix typo in home page
  content/en/docs/concepts/configuration/manage-compute-resources-container.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13622 Fix typo in service-networking page
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13624 Fix typo
  content/en/docs/concepts/cluster-administration/cloud-providers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13557 add China Unicom case study and update Case Study homepage with new f…
  content/en/case-studies/appdirect/index.html
  content/en/case-studies/chinaunicom/chinaunicom_featured_logo.png
  content/en/case-studies/chinaunicom/index.html
  content/en/case-studies/ibm/index.html
  content/en/case-studies/naic/index.html
  content/en/case-studies/nav/index.html
  content/en/case-studies/netease/index.html
  static/images/CaseStudy_chinaunicom_banner1.jpg
  static/images/CaseStudy_chinaunicom_banner3.jpg
  static/images/CaseStudy_chinaunicom_banner4.jpg
  static/images/chinaunicom_logo.png
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#13628 Fix typo in /docs/concepts/containers/images/
  content/en/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13626 Fix typo style guide
  content/en/docs/contribute/style/style-guide.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13389 Translate partners to French
  content/fr/includes/default-storage-class-prereqs.md
  content/fr/includes/federated-task-tutorial-prereqs.md
  content/fr/includes/federation-deprecation-warning-note.md
  content/fr/includes/index.md
  content/fr/includes/partner-script.js
  content/fr/includes/partner-style.css
  content/fr/includes/task-tutorial-prereqs.md
  content/fr/includes/user-guide-content-moved.md
  content/fr/includes/user-guide-migration-notice.md
  content/fr/partners/_index.html
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XXL

#13638 urgent!! typo in case study - removed extra letter
  content/en/case-studies/chinaunicom/index.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13165 Fixes Inconsistency with footer navigation tabs
  static/css/blog.css
Labels: approved, cncf-cla: yes, lgtm, size/S

#13531 [DOC-DE] Components
  content/de/docs/concepts/overview/_index.md
  content/de/docs/concepts/overview/components.md
  content/de/docs/reference/glossary/etcd.md
  content/de/docs/reference/glossary/kube-apiserver.md
  content/de/docs/reference/glossary/kube-controller-manager.md
  content/de/docs/reference/glossary/kube-scheduler.md
  content/de/docs/reference/glossary/kubelet.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/L

#13529 [DOCS-DE] Content Concepts
  content/de/docs/concepts/_index.md
  content/de/docs/concepts/architecture/master-node-communication.md
  content/de/docs/concepts/example-concept-template.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/L

#13635 [DOCS-DE] Add kubectl cheat sheet
  content/de/docs/reference/kubectl/_index.md
  content/de/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/L

#13642 [DOCS-DE] Tutorial Install Minikube
  content/de/docs/setup/minikube.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/L

#13639 [DOCS-DE] Install kubectl
  content/de/docs/tasks/tools/_index.md
  content/de/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/L

#13526 [DOCS-DE] Tutorial hello-minikube
  content/de/docs/tutorials/_index.md
  content/de/docs/tutorials/hello-minikube.md
  content/de/examples/minikube/Dockerfile
  content/de/examples/minikube/server.js
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/L

#13515 ko: add translation tutorial/stateful-application/cassandra #12450
  content/ko/docs/tutorials/stateful-application/cassandra.md
  content/ko/examples/application/cassandra/cassandra-service.yaml
  content/ko/examples/application/cassandra/cassandra-statefulset.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#13649 Typo in the deprecation warning and link is broken to latest docs (#13460)
  i18n/en.toml
  layouts/shortcodes/deprecationwarning.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#13549 Translate reference/kubectl/cheatsheet in Korean
  content/ko/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, language/ko, lgtm, sig/docs, size/L

#12277 zh-trans: content/zh/docs/concepts/overview/working-with-objects/labe…
  content/zh/docs/concepts/overview/working-with-objects/labels.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/L

#13661 Update fluentd image
  content/en/examples/controllers/daemonset.yaml
  content/ja/examples/controllers/daemonset.yaml
  content/zh/docs/concepts/workloads/controllers/daemonset.yaml
Labels: approved, cncf-cla: yes, language/en, language/ja, language/zh, lgtm, sig/docs, size/XS

#13495 update zh kubelet-config-file doc
  content/zh/docs/tasks/administer-cluster/kubelet-config-file.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/S

#13565 Translate tasks/access-application-cluster/access-cluster in Korean
  content/ko/docs/tasks/access-application-cluster/_index.md
  content/ko/docs/tasks/access-application-cluster/access-cluster.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#13516 ko: add tutorials/stateful-application/mysql-wordpress-persistent-vol…
  content/ko/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
  content/ko/examples/application/mysql/mysql-configmap.yaml
  content/ko/examples/application/mysql/mysql-deployment.yaml
  content/ko/examples/application/mysql/mysql-pv.yaml
  content/ko/examples/application/mysql/mysql-services.yaml
  content/ko/examples/application/mysql/mysql-statefulset.yaml
  content/ko/examples/application/wordpress/mysql-deployment.yaml
  content/ko/examples/application/wordpress/wordpress-deployment.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#12387 correct container hyperlinks in init container
  content/zh/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/XS

#13530 Incorrect details about startingDeadlineSeconds..
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13376 Fix typos
  content/en/docs/setup/independent/troubleshooting-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#13657 Issue 12838 object management kubectl imperative config
  content/ko/docs/concepts/overview/object-management-kubectl/imperative-config.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#13676 add Nokia case study
  content/en/case-studies/nokia/index.html
  content/en/case-studies/nokia/nokia_featured_logo.png
  static/images/CaseStudy_nokia_banner1.jpg
  static/images/CaseStudy_nokia_banner3.jpg
  static/images/CaseStudy_nokia_banner4.jpg
  static/images/nokia_logo.png
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#13687 Fix typo in API page
  content/en/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13689 fix typo in pod-lifecycle
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13692 fixed type in disruption page
  content/en/docs/concepts/workloads/pods/disruptions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13694 fix typo deployment page
  content/zh/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#13696 fix type cronjob
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13698 fix typo in volume page
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13700 fix typo in volumes pages
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13685 Link will be broken when deprecation is false
  i18n/en.toml
  layouts/shortcodes/deprecationwarning.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#13690 rename sieben to remyleone
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#13681 minor link update with the migration of conventions in the community repo
  content/en/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13677 Add 'get-contexts'
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13665 setting current context and finding running pod's YAML
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13654 Issue #13637 Update developing-cloud-controller-manager.md
  content/en/docs/tasks/administer-cluster/developing-cloud-controller-manager.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13636 kubelet-integration: Update kubeadm config command
  content/en/docs/setup/independent/kubelet-integration.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#13613 Update api-changes link
  content/en/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13645 Add a blog label, update blog OWNERS
  content/en/blog/OWNERS
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#13655 Issue #13506 Update Pod Security Policy
  content/en/docs/concepts/policy/pod-security-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13670 Correcting API version in example
  content/en/docs/concepts/configuration/scheduler-perf-tuning.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13678 Always load Mailchimp CSS over HTTPS
  layouts/index.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#13680 Make it compatible with Hugo 0.55
  layouts/case-studies/list.html
  layouts/docs/list.html
  layouts/partials/docs/top-menu.html
  layouts/partials/git-info.html
  layouts/partials/templates/blocks.html
  layouts/shortcodes/capture.html
  layouts/shortcodes/code.html
  layouts/shortcodes/codenew.html
  layouts/shortcodes/include.html
  layouts/shortcodes/tabs.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#13682 Update namespaces.md
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13684 clean-up, clarify glossary: taints and tolerations
  content/en/docs/reference/glossary/taint.md
  content/en/docs/reference/glossary/toleration.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#13703 fix typo in volume page
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13594 Update Ubuntu docs
  content/en/docs/getting-started-guides/ubuntu.md
  content/en/docs/getting-started-guides/ubuntu/_index.md
  content/en/docs/getting-started-guides/ubuntu/backups.md
  content/en/docs/getting-started-guides/ubuntu/decommissioning.md
  content/en/docs/getting-started-guides/ubuntu/glossary.md
  content/en/docs/getting-started-guides/ubuntu/installation.md
  content/en/docs/getting-started-guides/ubuntu/local.md
  content/en/docs/getting-started-guides/ubuntu/logging.md
  content/en/docs/getting-started-guides/ubuntu/monitoring.md
  content/en/docs/getting-started-guides/ubuntu/networking.md
  content/en/docs/getting-started-guides/ubuntu/operational-considerations.md
  content/en/docs/getting-started-guides/ubuntu/rancher.md
  content/en/docs/getting-started-guides/ubuntu/scaling.md
  content/en/docs/getting-started-guides/ubuntu/security.md
  content/en/docs/getting-started-guides/ubuntu/storage.md
  content/en/docs/getting-started-guides/ubuntu/troubleshooting.md
  content/en/docs/getting-started-guides/ubuntu/upgrades.md
  content/en/docs/getting-started-guides/ubuntu/validation.md
  content/en/docs/setup/pick-right-solution.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XXL

#13662 fix typo
  content/zh/docs/concepts/workloads/controllers/garbage-collection.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#13633 update start.md on `Submit a pull request` topic
  content/en/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13714 fix typo pod security page
  content/en/docs/concepts/policy/pod-security-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13707 fix type in volume page
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13712 fix typo resource quota page
  content/en/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13716 fix type in cluster-admin-networking page
  content/en/docs/concepts/cluster-administration/networking.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13718 fix type in cluster admin addons page
  content/en/docs/concepts/cluster-administration/addons.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13721 fix typo in device-plug page
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13735 fix typo in ha page
  content/en/docs/setup/independent/high-availability.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13632 zh: docs/contribute/start.md trans
  content/zh/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/XL

#13732 Remove enable resource quota note
  content/en/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13726 fix headers for federation tool references
  content/en/docs/reference/command-line-tools-reference/federation-apiserver.md
  content/en/docs/reference/command-line-tools-reference/federation-controller-manager.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#13729 zh-trans: update docs/reference/setup-tools/kubefed
  content/zh/docs/reference/setup-tools/kubefed/kubefed-options.md
  content/zh/docs/reference/setup-tools/kubefed/kubefed.md
  content/zh/docs/reference/setup-tools/kubefed/kubefed_init.md
  content/zh/docs/reference/setup-tools/kubefed/kubefed_options.md
  content/zh/docs/reference/setup-tools/kubefed/kubefed_unjoin.md
  content/zh/docs/reference/setup-tools/kubefed/kubefed_version.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/S

#13731 Fixing broken links on Pick the Right Solution page
  content/en/docs/setup/pick-right-solution.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13736 Removed extra "```shell" from the output box
  content/en/docs/concepts/cluster-administration/manage-deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13723 Add Info about OOM Kill
  content/en/docs/tasks/configure-pod-container/assign-memory-resource.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13652 Issue #13651 Update Debug Services Page to use Alpine instead of BusyBox
  content/en/docs/tasks/debug-application-cluster/debug-service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13619 Correct spelling kubeadm-upgrade-1-14.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#13587 fix note shortcode, lists
  content/en/docs/contribute/style/style-guide.md
  layouts/shortcodes/caution.html
  layouts/shortcodes/note.html
  layouts/shortcodes/warning.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#13560 'kubectl get services my-service' indicates a LoadBalancer type…
  content/en/docs/tutorials/stateless-application/expose-external-ip-address.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13538 Fixes `runAsGroup` security context example (#13535)
  content/en/docs/tasks/configure-pod-container/security-context.md
  content/en/examples/pods/security/security-context.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#13539 Details about multiple namespaces
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13519 Updated horizontal-pod-autoscale.md file with newer command names.
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13470 Fixed small bug in 2017-10-00-Five-Days-Of-Kubernetes-18.md (v1.14)
  content/en/blog/_posts/2017-10-00-Five-Days-Of-Kubernetes-18.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13472 Fixed small bug in 2017-10-00-Five-Days-Of-Kubernetes-18.md (v1.12)
  content/en/blog/_posts/2017-10-00-Five-Days-Of-Kubernetes-18.md
Labels: approved, cncf-cla: yes, language/en, lgtm, size/XS

#13471 Fixed small bug in 2017-10-00-Five-Days-Of-Kubernetes-18.md (v1.13)
  content/en/blog/_posts/2017-10-00-Five-Days-Of-Kubernetes-18.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13343 Document workaround for kubeadm Taints field issue
  content/en/docs/setup/independent/troubleshooting-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/S

#13117 Create table shortcode that allows for table captions
  content/en/docs/contribute/style/hugo-shortcodes/index.md
  layouts/shortcodes/table.html
Labels: approved, cncf-cla: yes, language/en, lgtm, size/M

#13739 Update intro-windows-in-kubernetes.md
  content/en/docs/setup/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/windows, size/XS

#13210 Update podManagementPolicy of StatefulSet object
  content/en/examples/application/zookeeper/zookeeper.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13067 Update abac.md
  content/en/docs/reference/access-authn-authz/abac.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/XS

#13014 Update command outputs to k8s 1.13 based and split command outputs
  content/en/docs/tasks/job/parallel-processing-expansion.md
Labels: approved, cncf-cla: yes, language/en, lgtm, size/M

#12993 remove docs on the PersistentVolumeLabler controller
  content/en/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, size/S

#13648 Create ES resource-metrics-pipeline.md
  content/es/docs/tasks/_index.md
  content/es/docs/tasks/debug-application-cluster/_index.md
  content/es/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/L

#13586 Added missing --rotate-server-certificates flag to kubelet cli reference
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13016 Fix code blocks secret.md
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#12673 the sentence does not make sense
  content/en/docs/concepts/services-networking/ingress.md
Labels: Docs Review: Open Issues, approved, cncf-cla: yes, language/en, lgtm, size/XS

#13492 zh-trans: add configure-multiple-schedulers.md
  content/zh/docs/tasks/administer-cluster/configure-multiple-schedulers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/L

#13551 zh-trans: add docs/tasks/configure-pod-container/share-process-namespace.md
  content/zh/docs/tasks/configure-pod-container/share-process-namespace.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/L

#13598 Remove Travis CI dependency
  .travis.yml
  Makefile
  scripts/test_examples.sh
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#13744 zh-trans: update docs/admin/accessing-the-api.md
  content/zh/docs/admin/accessing-the-api.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/M

#13303 zh-trans: add content/zh/blog/_posts/2018-10-11-topology-aware-volume-provisioning.md
  content/zh/blog/_posts/2018-10-11-topology-aware-volume-provisioning.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/L

#13765 docs-fr | concepts | services-networking | dns-policy
  content/fr/docs/concepts/services-networking/_index.md
  content/fr/docs/concepts/services-networking/dns-pod-service.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#13241 ZH-trans: add 2016-02-00-Kubecon-Eu-2016-Kubernetes-Community-In.md
  content/zh/blog/_posts/2016-02-00-Kubecon-Eu-2016-Kubernetes-Community-In.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/M

#13242 ZH-trans: add 2016-07-00-Citrix-Netscaler-And-Kubernetes.md
  content/zh/blog/_posts/2016-07-00-Citrix-Netscaler-And-Kubernetes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/M

#12878 ko: Add the Localization Korean page's link
  README-ko.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, size/XS

#13504 update PULL_REQUEST_TEMPLATE for Korean l10n
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#13770 zh-trans: update docs/admin/bootstrap-tokens.md
  content/zh/docs/admin/bootstrap-tokens.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/S

#13771 zh-trans: update content/zh/docs/admin/cluster-large.md
  content/zh/docs/admin/cluster-large.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/M

#13774 zh-trans: update content/zh/docs/admin/kube-apiserver.md
  content/zh/docs/admin/kube-apiserver.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/L

#13775 zh-trans: update content/zh/docs/admin/multiple-zones.md
  content/zh/docs/admin/multiple-zones.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/M

#13776 zh-trans: update node-conformance.md and ovs-networking.md
  content/zh/docs/admin/node-conformance.md
  content/zh/docs/admin/ovs-networking.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/S

#13780 zh-trans: update high-availability/_index.md and authorization/webhook.md
  content/zh/docs/admin/authorization/webhook.md
  content/zh/docs/admin/high-availability/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/L

#13779 zh-trans: update content/zh/docs/admin/authorization/_index.md
  content/zh/docs/admin/authorization/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/M

#13777 zh-trans: update content/zh/docs/admin/authorization/abac.md
  content/zh/docs/admin/authorization/abac.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/M

#13778 zh-trans: update content/zh/docs/admin/service-accounts-admin.md
  content/zh/docs/admin/service-accounts-admin.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/M

#13785 Improved markdown for Italian translation
  content/it/_index.html
  content/it/docs/concepts/_index.md
  content/it/docs/concepts/architecture/cloud-controller.md
  content/it/docs/concepts/architecture/nodes.md
  content/it/docs/concepts/cluster-administration/addons.md
  content/it/docs/concepts/cluster-administration/cloud-providers.md
  content/it/docs/concepts/cluster-administration/cluster-administration-overview.md
  content/it/docs/concepts/cluster-administration/controller-metrics.md
  content/it/docs/concepts/cluster-administration/federation.md
  content/it/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/it/docs/concepts/cluster-administration/logging.md
  content/it/docs/concepts/cluster-administration/manage-deployment.md
  content/it/docs/concepts/cluster-administration/networking.md
  content/it/docs/concepts/cluster-administration/proxies.md
  content/it/docs/concepts/overview/what-is-kubernetes.md
  content/it/includes/federation-deprecation-warning-note.md
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/XL

#13791 docs-fr | hello-minikube.md | fix header and add card
  content/fr/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#13794 an offense against the style guide.
  content/en/docs/concepts/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13659 Es/docs/tasks/tools/install kubectl.md
  content/es/docs/tasks/_index.md
  content/es/docs/tasks/tools/_index.md
  content/es/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XL

#13805 Create snippet for PLEG
  content/en/docs/concepts/_index.md
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#13810 Fix format for kubectl install guide
  content/en/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#13804 add log commands with label flag
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13802 Update deployment.md
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#13800 Define container environment variables using Secret data
  content/en/docs/tasks/inject-data-application/distribute-credentials-secure.md
  content/en/examples/pods/inject/pod-multiple-secret-env-variable.yaml
  content/en/examples/pods/inject/pod-secret-envFrom.yaml
  content/en/examples/pods/inject/pod-single-secret-env-variable.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#13797 zh-trans: update content/zh/docs/concepts/architecture
  content/zh/docs/concepts/architecture/master-node-communication.md
  content/zh/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, size/S
