Repository kubernetes/website, pull requests merged in 2020-04, with the labels that each got.

#19949 Add content/pt/docs/reference/tools.md
  content/pt/docs/reference/tools.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/M

#20005 Missing parameters --client for kubectl version
  content/en/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19546 fix readme pl link
  README-pl.md
Labels: approved, cncf-cla: yes, language/pl, lgtm, sig/docs, size/XS

#19687 align with english version
  i18n/it.toml
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/L

#20024 Ingress Path Types: Fix typo
  content/en/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19987 Topologymanager
  content/en/blog/_posts/2020-03-30-topology-manager-beta.md
  static/images/blog/2020-03-25-kubernetes-1.18-release-announcement/align-up.png
  static/images/blog/2020-03-25-kubernetes-1.18-release-announcement/example-numa-system.png
  static/images/blog/2020-03-25-kubernetes-1.18-release-announcement/numa-hint-provider1.png
  static/images/blog/2020-03-25-kubernetes-1.18-release-announcement/numa-hint-provider2.png
  static/images/blog/2020-03-25-kubernetes-1.18-release-announcement/numa-steps-during-loop.png
Labels: approved, area/blog, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/XL

#20032 Move the Job controller example
  content/en/docs/concepts/architecture/controller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19982 Kubernetes 1.18 Feature blog SSA Beta 2
  content/en/blog/_posts/2020-04-01-server-side-apply-beta2.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#20047 blog: Fix list of contributor in SSA Beta 2
  content/en/blog/_posts/2020-04-01-server-side-apply-beta2.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20053 Update pod-lifecycle.md 翻译内容缺失
  content/zh/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#20054 Update phrasing
  content/en/docs/concepts/workloads/controllers/replicaset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20018 Update zh translation in labels-annotations-taints.md
  content/zh/docs/reference/kubernetes-api/labels-annotations-taints.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#20010 update context in i18n/zh.toml
  i18n/zh.toml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#20008 Update zh translation in zookeeper.md
  content/zh/docs/tutorials/stateful-application/zookeeper.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#20038 Update From EN to FR - install minikube
  content/fr/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#20060 Move motivation section to the top
  content/en/docs/concepts/services-networking/endpoint-slices.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#20057 Fix document formatting errors
  content/zh/docs/concepts/workloads/controllers/garbage-collection.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#20063 This change has replaced &emdash; to &mdash; within the text (line 42).
  content/en/docs/contribute/style/content-guide.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20044 Remove untidy caution note from tutorial
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20025 fix community banner so it fills the whole space
  content/en/community/_index.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20027 Update phrasing
  content/en/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20021 install-kubeadm: update guides for RHEL and container linux
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, priority/important-longterm, sig/cluster-lifecycle, sig/docs, size/XS

#19956 Fix link in contributing guide
  content/en/docs/contribute/participating.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19929 Feature Blog Post 2nd of april
  content/en/blog/_posts/2020-04-02-Improvements-to-the-Ingress-API-in-Kubernetes-1.18.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#20056 Add update exclusion to kubernetes.repo
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#18543 Revise “Scheduler Performance Tuning”
  content/en/docs/concepts/scheduling/scheduler-perf-tuning.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/L

#19655 Improve wording for Configure Access to Multiple Clusters
  content/en/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#20007 fix capitalization
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20070 Fix left menu button on mobile
  content/pl/docs/home/_index.md
Labels: approved, cncf-cla: yes, language/pl, lgtm, sig/docs, size/XS

#20013 update context in i18n/es.toml
  i18n/es.toml
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS

#19783 de-drafting docs/concepts/overview/what-is-kubernetes.md
  content/it/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/M

#20072 Update the weight metadata on EndpointSlices
  content/en/docs/concepts/services-networking/endpoint-slices.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19805 Add docs/concepts/architecture/controller.md in portuguese
  content/pt/docs/concepts/architecture/controller.md
  content/pt/docs/reference/glossary/controller.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L

#20011 update context in i18n/vi.toml
  i18n/vi.toml
Labels: approved, cncf-cla: yes, language/vi, lgtm, sig/docs, size/XS

#20064 Add namespaces for node lease objects
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19896 update static _redirects, release-1.15
  static/_redirects
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#20073 add fstype parameter for gce pd
  content/en/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20019 Fix typo
  content/en/docs/concepts/configuration/pod-priority-preemption.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20080 update -enable-cadvisor-json-endpoints default value and tag deprecated
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19692 Add CKA/CKAD logos to Training Page
  content/en/training/_index.html
  static/css/training.css
  static/images/training/kubernetes-cka-white.svg
  static/images/training/kubernetes-ckad-white.svg
Labels: approved, cncf-cla: yes, language/en, lgtm, ok-to-test, sig/docs, size/L

#20069 Kubernetes 1.18 feature Windows CSIproxy (alpha) blog
  content/en/blog/_posts/2020-04-03-Introducing-Windows-CSI-support-alpha-for-Kubernetes.md
  static/images/blog/2020-04-03-Introducing-Windows-CSI-support-alpha-for-Kubernetes/CSIProxyArchitecture.png
  static/images/blog/2020-04-03-Introducing-Windows-CSI-support-alpha-for-Kubernetes/CSIProxyControlFlow.png
  static/images/blog/2020-04-03-Introducing-Windows-CSI-support-alpha-for-Kubernetes/CSIProxyOverview.png
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#20077 Updated line 167(PriorityLevelConfigurations) &170(FlowSchemas) for correct api reference.
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20094 Add a Korean l10n owner to OWNERS_ALIASES
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#20081 【zh】update -enable-cadvisor-json-endpoints default value and tag deprecated
  content/zh/docs/reference/command-line-tools-reference/kubelet.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#20085 Replace embedded examples with links to related task docs
  content/en/docs/concepts/policy/limit-range.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/L

#20078 Update adding-windows-nodes.md
  content/en/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/windows, size/S

#19343 Add a logo JSON-LD meta information about Kubernetes
  layouts/partials/head.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#20097 update content/zh/docs/concepts/overview/components.md
  content/zh/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#19909 Kube-scheduler ID Localization
  content/id/docs/concepts/scheduling/_index.md
  content/id/docs/concepts/scheduling/kube-scheduler.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#19815 Translating Ephemeral Container to ID Localization.
  content/id/docs/concepts/workloads/pods/ephemeral-containers.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#20099 Corrected link to Debug running pod
  content/en/docs/tasks/debug-application-cluster/debug-application.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19875 Operator Patterns ID Localization.
  content/id/docs/concepts/extend-kubernetes/operator.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#20101 reimport from https://raw.githubusercontent.com/cncf/foundation/maste…
  content/it/community/static/cncf-code-of-conduct.md
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/M

#20055 Translate reference/glossary/service-catalog.md in Korean #20052
  content/ko/docs/reference/glossary/service-catalog.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#19952 Translate storage/dynamic-provisioning.md in Korean.
  content/ko/docs/concepts/storage/dynamic-provisioning.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#20108 Update run-stateless-application-deployment.md
  content/en/docs/tasks/run-application/run-stateless-application-deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19799 Translate controller and container overview to ID localization
  content/id/docs/concepts/architecture/controller.md
  content/id/docs/concepts/containers/container-environment.md
  content/id/docs/concepts/containers/overview.md
  content/id/docs/reference/glossary/controller.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#20031 Translate extend-kubernetes/extend-cluster.md in Korean
  content/ko/docs/concepts/extend-kubernetes/extend-cluster.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#19906 Translate storage/persistent-volumes.md in Korean
  content/ko/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#20116 Update install-kubectl.md
  content/en/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19967 Translate partners/_index.html in Korean.
  content/ko/partners/_index.html
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#20048 Update PR template to specify desired git commit messages
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#20105 Check and fix the /include folder
  content/it/includes/federation-deprecation-warning-note.md
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/XS

#19144 Add a Progressive Web App manifest
  layouts/partials/head.html
  static/images/kubernetes-192x192.png
  static/images/kubernetes-512x512.png
  static/manifest.webmanifest
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#20127 Merge changes from dev-1.17-it.1 to dev-1.18-it.1
  config.toml
  content/it/_common-resources/index.md
  content/it/_index.html
  content/it/case-studies/_index.md
  content/it/case-studies/comcast/index.html
  content/it/community/code-of-conduct.md
  content/it/community/static/cncf-code-of-conduct.md
  content/it/docs/_index.md
  content/it/docs/concepts/_index.md
  content/it/docs/concepts/architecture/_index.md
  content/it/docs/concepts/architecture/cloud-controller.md
  content/it/docs/concepts/architecture/master-node-communication.md
  content/it/docs/concepts/architecture/nodes.md
  content/it/docs/concepts/cluster-administration/_index.md
  content/it/docs/concepts/cluster-administration/addons.md
  content/it/docs/concepts/cluster-administration/certificates.md
  content/it/docs/concepts/cluster-administration/cloud-providers.md
  content/it/docs/concepts/cluster-administration/cluster-administration-overview.md
  content/it/docs/concepts/cluster-administration/controller-metrics.md
  content/it/docs/concepts/cluster-administration/federation.md
  content/it/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/it/docs/concepts/cluster-administration/logging.md
  content/it/docs/concepts/cluster-administration/manage-deployment.md
  content/it/docs/concepts/cluster-administration/networking.md
  content/it/docs/concepts/cluster-administration/proxies.md
  content/it/docs/concepts/example-concept-template.md
  content/it/docs/concepts/overview/components.md
  content/it/docs/concepts/overview/what-is-kubernetes.md
  content/it/docs/home/_index.md
  content/it/docs/reference/glossary/cluster.md
  content/it/docs/reference/glossary/container-runtime.md
  content/it/docs/reference/glossary/etcd.md
  content/it/docs/reference/glossary/kube-apiserver.md
  content/it/docs/reference/glossary/kube-controller-manager.md
  content/it/docs/reference/glossary/kube-proxy.md
  content/it/docs/reference/glossary/kube-scheduler.md
  content/it/docs/reference/glossary/kubelet.md
  content/it/includes/federation-deprecation-warning-note.md
  content/it/partners/_index.html
  i18n/it.toml
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/XL

#17995 Update Cassandra StatefulSet tutorial
  content/en/docs/tutorials/stateful-application/cassandra.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/apps, sig/docs, size/L

#19917 add @tanjunchen to /zh reviewer
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#20090 Kubernetes 1.18 Blog: API Priority and Fairness Alpha
  content/en/blog/_posts/2020-04-06-API-Priority-and-Fairness-Alpha.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M, tide/merge-method-squash

#19550 Document that the API supports single resources
  content/en/docs/reference/using-api/api-concepts.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/S

#19894 update static _redirects, release-1.16
  static/_redirects
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#19682 open dual stack feature gate for apiserver is needed
  content/en/docs/concepts/services-networking/dual-stack.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19704 Revise setup page to follow content guidelines
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/S

#19746 Adding example to DaemonSet Rolling Update task
  content/en/docs/tasks/manage-daemon/update-daemon-set.md
  content/en/examples/controllers/fluentd-daemonset-update.yaml
  content/en/examples/controllers/fluentd-daemonset.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#19962 add a yaml exmaple for type nodeport
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#20128 Fix on PersistentVolume
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20113 Doc for Konnectivity service feature
  content/en/docs/concepts/architecture/master-node-communication.md
  content/en/docs/tasks/setup-konnectivity/_index.md
  content/en/docs/tasks/setup-konnectivity/setup-konnectivity.md
  content/en/examples/admin/konnectivity/egress-selector-configuration.yaml
  content/en/examples/admin/konnectivity/konnectivity-agent.yaml
  content/en/examples/admin/konnectivity/konnectivity-rbac.yaml
  content/en/examples/admin/konnectivity/konnectivity-server.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/L

#20037 Translate extend-kubernetes/operator.md in Korean
  content/ko/docs/concepts/extend-kubernetes/operator.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#19995 Amend 1.16 kubeadm upgrade guide
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/S

#20035 translate configure-pod-container/assign-pods-nodes to korean
  content/ko/docs/tasks/configure-pod-container/_index.md
  content/ko/docs/tasks/configure-pod-container/assign-pods-nodes.md
  content/ko/examples/pods/pod-nginx-specific-node.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#19731 doc: add precision on init container start order
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19686 fix docs home page on mobile renders poorly
  static/css/gridpage.css
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#20141 run command is deprecated
  content/en/docs/concepts/cluster-administration/manage-deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19383 Added endpoint-slices for language/fr
  content/fr/docs/concepts/services-networking/endpoint-slices.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#19576 Restructure and consolidate information in Contribute section
  content/en/docs/contribute/_index.md
  content/en/docs/contribute/advanced.md
  content/en/docs/contribute/intermediate.md
  content/en/docs/contribute/localization.md
  content/en/docs/contribute/new-content/_index.md
  content/en/docs/contribute/new-content/blogs-case-studies.md
  content/en/docs/contribute/new-content/new-features.md
  content/en/docs/contribute/new-content/open-a-pr.md
  content/en/docs/contribute/new-content/overview.md
  content/en/docs/contribute/participating.md
  content/en/docs/contribute/review/_index.md
  content/en/docs/contribute/review/for-approvers.md
  content/en/docs/contribute/review/reviewing-prs.md
  content/en/docs/contribute/start.md
  content/en/docs/contribute/style/content-guide.md
  content/en/docs/contribute/style/hugo-shortcodes/index.md
  content/en/docs/contribute/style/style-guide.md
  content/en/docs/contribute/style/write-new-topic.md
  content/en/docs/contribute/suggesting-improvements.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XXL

#20159 fix page formatting
  content/en/docs/concepts/cluster-administration/flow-control.md
  content/en/docs/tasks/setup-konnectivity/setup-konnectivity.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#20146 add zh/ prefix of links in zh/ directory
  content/zh/docs/tutorials/_index.md
  content/zh/docs/tutorials/clusters/apparmor.md
  content/zh/docs/tutorials/configuration/configure-redis-using-configmap.md
  content/zh/docs/tutorials/hello-minikube.md
  content/zh/docs/tutorials/services/source-ip.md
  content/zh/docs/tutorials/stateful-application/basic-stateful-set.md
  content/zh/docs/tutorials/stateful-application/cassandra.md
  content/zh/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
  content/zh/docs/tutorials/stateful-application/zookeeper.md
  content/zh/docs/tutorials/stateless-application/expose-external-ip-address.md
  content/zh/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#20098 Fix left menu button on mobile (home page)
  content/zh/docs/home/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#19879 Translate scheduling/kube-scheduler.md in Korean
  content/ko/docs/concepts/scheduling/kube-scheduler.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#17998 ko: Fix whitespace in ReplicationController glossary entry
  content/ko/docs/reference/glossary/replication-controller.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/ko, lgtm, sig/docs, size/XS

#19885 Translate concepts/containers/overview in Korean
  content/ko/docs/concepts/containers/overview.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#20173 update content/zh/docs/concepts/storage/storage-classes.md
  content/zh/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#19922 Translate policy/pod-security-policy.md in Korean
  content/ko/docs/concepts/policy/_index.md
  content/ko/docs/concepts/policy/pod-security-policy.md
  content/ko/examples/policy/example-psp.yaml
  content/ko/examples/policy/privileged-psp.yaml
  content/ko/examples/policy/restricted-psp.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#19912 Translate policy/limit-range.md in Korean
  content/ko/docs/concepts/policy/limit-range.md
  content/ko/examples/admin/resource/limit-mem-cpu-container.yaml
  content/ko/examples/admin/resource/limit-mem-cpu-pod.yaml
  content/ko/examples/admin/resource/limit-memory-ratio-pod.yaml
  content/ko/examples/admin/resource/limit-range-pod-1.yaml
  content/ko/examples/admin/resource/limit-range-pod-2.yaml
  content/ko/examples/admin/resource/limit-range-pod-3.yaml
  content/ko/examples/admin/resource/pvc-limit-greater.yaml
  content/ko/examples/admin/resource/pvc-limit-lower.yaml
  content/ko/examples/admin/resource/storagelimits.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#19931 Translate policy/resource-quotas.md in Korean
  content/ko/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#20172 Add content/pt/docs/templates
  content/pt/docs/templates/feature-state-alpha.txt
  content/pt/docs/templates/feature-state-beta.txt
  content/pt/docs/templates/feature-state-deprecated.txt
  content/pt/docs/templates/feature-state-stable.txt
  content/pt/docs/templates/index.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/M

#19928 update kubectl create commend in kubectl Usage Conventions page
  content/en/docs/reference/kubectl/conventions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#20178 Fix broken links
  content/en/docs/contribute/_index.md
  content/en/docs/contribute/localization.md
  content/en/docs/contribute/new-content/blogs-case-studies.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20093 Translate extend-kubernetes/api-extension/custom-resources.md in Korean
  content/ko/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#20150 Translate reference/glossary/managed-service.md in Korean
  content/ko/docs/reference/glossary/managed-service.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#19352 Updated Deployment description for clarity.
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19849 api-concepts.md: Watch bookmarks
  content/en/docs/reference/using-api/api-concepts.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20147 Pod Object is modified as per standards
  content/en/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20148 fix older content of 1.17.x
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20154 Suggest scaling deployment to 3 before rollout of update
  content/en/docs/concepts/cluster-administration/manage-deployment.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#20177 Update _index.md
  content/en/docs/contribute/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20180 Fix a broken link at docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/reference/glossary/container-runtime.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19742 Update the Mac autocomplete documentation to use bash_profile
  content/en/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#20022 Fix grammar problems and otherwise try to improve wording.
  content/en/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#20171 Update 2020-04-02-Improvements-to-the-Ingress-API-in-Kubernetes-1.18.md
  content/en/blog/_posts/2020-04-02-Improvements-to-the-Ingress-API-in-Kubernetes-1.18.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#20145 Adding Mengyi Zhou to APF thank list
  content/en/blog/_posts/2020-04-06-API-Priority-and-Fairness-Alpha.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20185 Modify RBAC Authorizer log message
  content/en/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/XS

#20187 Exec on correct pod name
  content/en/docs/tasks/debug-application-cluster/debug-running-pod.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#20104 Improve italian form for /partners
  content/it/partners/_index.html
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/L

#20096 Align community page with English version
  content/it/community/_index.html
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/L

#20138 Translate training/_index.md to Italian
  content/it/training/_index.html
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/L

#20139 Align Italian with current English version
  i18n/it.toml
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/XS

#20083 Adding content/pt/docs/concepts/extend-kubernetes/operator.md
  content/pt/docs/concepts/extend-kubernetes/_index.md
  content/pt/docs/concepts/extend-kubernetes/operator.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L

#20117 Add content/pt/docs/concepts/workloads/controllers/cron-jobs.md into Portugues
  content/pt/docs/concepts/workloads/controllers/_index.md
  content/pt/docs/concepts/workloads/controllers/cron-jobs.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/M

#20184 Email address placeholder localization
  i18n/uk.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#20135 Fix refs to old K8s releases on glossary entries
  content/en/docs/reference/glossary/cloud-controller-manager.md
  content/en/docs/reference/glossary/host-aliases.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/S

#20190 Fix deadlink
  content/zh/docs/concepts/cluster-administration/addons.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#20200 Make feature-state tag usage consistent
  content/en/docs/concepts/configuration/pod-priority-preemption.md
  content/en/docs/concepts/configuration/resource-bin-packing.md
  content/en/docs/concepts/configuration/taint-and-toleration.md
  content/en/docs/concepts/policy/resource-quotas.md
  content/en/docs/concepts/scheduling/scheduler-perf-tuning.md
  content/en/docs/concepts/scheduling/scheduling-framework.md
  content/en/docs/concepts/storage/storage-classes.md
  content/en/docs/concepts/storage/volume-snapshots.md
  content/en/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
  content/en/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md
  content/en/docs/tasks/administer-cluster/developing-cloud-controller-manager.md
  content/en/docs/tasks/administer-cluster/highly-available-master.md
  content/en/docs/tasks/manage-gpus/scheduling-gpus.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#20205 Adding quotes to examples in Ingress blog post
  content/en/blog/_posts/2020-04-02-Improvements-to-the-Ingress-API-in-Kubernetes-1.18.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#19787 Home page to italian
  content/it/_index.html
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/M

#20202 Fix feature-state typo
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#20203 Fix feature-state typo
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#20169 replace zh to /zh in content/zh/docs/tutorials/ directory
  content/zh/docs/tutorials/_index.md
  content/zh/docs/tutorials/clusters/apparmor.md
  content/zh/docs/tutorials/configuration/configure-redis-using-configmap.md
  content/zh/docs/tutorials/hello-minikube.md
  content/zh/docs/tutorials/services/source-ip.md
  content/zh/docs/tutorials/stateful-application/basic-stateful-set.md
  content/zh/docs/tutorials/stateful-application/cassandra.md
  content/zh/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
  content/zh/docs/tutorials/stateful-application/zookeeper.md
  content/zh/docs/tutorials/stateless-application/expose-external-ip-address.md
  content/zh/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#20215 update content/zh/docs/concepts/configuration/manage-compute-resource…
  content/zh/docs/concepts/configuration/manage-compute-resources-container.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#20222 fix visual view and delete merge artifacts
  content/ru/docs/contribute/start.md
  content/ru/docs/setup/learning-environment/minikube.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/M

#20223 Change Anda to Kamu in manage deployment
  content/id/docs/concepts/cluster-administration/manage-deployment.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#20224 Change anda to kamu in manage-deployment page
  content/id/docs/concepts/cluster-administration/manage-deployment.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#20225 Update typo obyek to objek on concept page
  content/id/docs/concepts/_index.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/S

#20123 Translate The Kubernetes API page into Russian
  content/ru/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/L

#20226 Translate Working with Kubernetes Objects section into Russian
  content/ru/docs/concepts/overview/working-with-objects/_index.md
  content/ru/docs/concepts/overview/working-with-objects/annotations.md
  content/ru/docs/concepts/overview/working-with-objects/common-labels.md
  content/ru/docs/concepts/overview/working-with-objects/field-selectors.md
  content/ru/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/ru/docs/concepts/overview/working-with-objects/labels.md
  content/ru/docs/concepts/overview/working-with-objects/names.md
  content/ru/docs/concepts/overview/working-with-objects/namespaces.md
  content/ru/docs/concepts/overview/working-with-objects/object-management.md
  content/ru/docs/reference/glossary/name.md
  content/ru/docs/reference/glossary/uid.md
  content/ru/examples/application/deployment.yaml
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XXL

#20227 Fix left menu button on mobile (docs home page)
  content/ja/docs/home/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#18044 Tweak glossary entry for ServiceAccount
  content/en/docs/reference/glossary/service-account.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19970 pod-topology-spread links - Language en
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#20237 update link to /ja/docs/concepts/overview/kubernetes-api/
  content/ja/docs/concepts/overview/kubernetes-api.md
  content/ja/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/ja/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#20033 zh-translation: update pod-security-policy.md (#17333)
  content/zh/docs/concepts/policy/pod-security-policy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#19938 Blog tranlation contributor summit san diego schedule
  content/zh/blog/_posts/2019-10-10-contributor-summit-san-diego-schedule.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#20124 update link to /ja/docs/concepts/overview/working-with-objects/labels/
  content/ja/docs/concepts/configuration/assign-pod-node.md
  content/ja/docs/concepts/configuration/overview.md
  content/ja/docs/concepts/overview/what-is-kubernetes.md
  content/ja/docs/concepts/overview/working-with-objects/annotations.md
  content/ja/docs/concepts/overview/working-with-objects/labels.md
  content/ja/docs/concepts/storage/persistent-volumes.md
  content/ja/docs/concepts/workloads/controllers/deployment.md
  content/ja/docs/concepts/workloads/controllers/replicaset.md
  content/ja/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ja/docs/concepts/workloads/pods/podpreset.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#20236 Update links to ru docs; update drivers info
  content/ru/docs/setup/learning-environment/minikube.md
  content/ru/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/S

#18220 docs | tasks | configure-pod-container | pull-image-private
  content/fr/docs/tasks/configure-pod-container/pull-image-private-registry.md
  content/fr/examples/pods/private-reg-pod.yaml
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#20194 Glossary for PersistentVolumeClaim added
  content/en/docs/concepts/storage/volume-snapshots.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20295 Fix link format
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#19270 Improve CronJob concept
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/apps, sig/docs, size/S

#17688 Improve Job parallel processing expansion task
  content/en/docs/tasks/job/parallel-processing-expansion.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#20301 Note CronJob timezone comes from system timezone
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
Labels: approved, cncf-cla: yes, kind/bug, language/en, lgtm, priority/important-soon, sig/docs, size/S

#20275 Revert "zh-translation: update pod-security-policy.md (#17333)"
  content/zh/docs/concepts/policy/pod-security-policy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#20308 (id): broken links fix
  content/id/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS
