Repository kubernetes/website, pull requests merged in 2020-06, with the labels that each got.

#21381 update format for blog kubernetes on mips
  content/zh/blog/_posts/2020-01-15-Kubernetes-on-MIPS.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#21225 Fix duplicating word
  content/ru/docs/concepts/overview/working-with-objects/kubernetes-objects.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#21390 Partial fix for debugging service page
  content/en/docs/tasks/debug-application-cluster/debug-service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21385 update the outdated ja tutorials/_index.md based on the v1.17 en page
  content/ja/docs/tutorials/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21386 ja: Make tutorials/hello-minikube.md follow v1.17 of the original text
  content/ja/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#20633 Translation-Appc-Support-For-Kubernetes-Through-Rkt
  content/zh/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#21150 review components page and related overview pages
  content/it/docs/concepts/overview/components.md
  content/it/docs/reference/glossary/cloud-controller-manager.md
  content/it/docs/reference/glossary/cluster.md
  content/it/docs/reference/glossary/container.md
  content/it/docs/reference/glossary/control-plane.md
  content/it/docs/reference/glossary/cri.md
  content/it/docs/reference/glossary/daemonset.md
  content/it/docs/reference/glossary/deployment.md
  content/it/docs/reference/glossary/docker.md
  content/it/docs/reference/glossary/kubeadm.md
  content/it/docs/reference/glossary/label.md
  content/it/docs/reference/glossary/master.md
  content/it/docs/reference/glossary/node.md
  content/it/docs/reference/glossary/pod.md
  content/it/docs/reference/glossary/statefulset.md
Labels: approved, cncf-cla: yes, language/it, lgtm, ok-to-test, sig/docs, size/L

#21403 use English for hash flagment #termination-of-pods
  content/ja/docs/concepts/containers/container-lifecycle-hooks.md
  content/ja/docs/concepts/workloads/pods/pod-overview.md
  content/ja/docs/concepts/workloads/pods/pod.md
  content/ja/docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md
  content/ja/docs/tasks/run-application/delete-stateful-set.md
  content/ja/docs/tasks/run-application/force-delete-stateful-set-pod.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21414 Add `IPv6DualStack` to feature gate reference
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/XS

#21289 feat: turn nodelocaldns image to svg
  content/en/docs/tasks/administer-cluster/nodelocaldns.md
  content/zh/docs/tasks/administer-cluster/nodelocaldns.md
  static/images/docs/nodelocaldns.jpg
  static/images/docs/nodelocaldns.svg
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/M

#21423 zh-trans: remove duplicated lines
  content/zh/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#21425 ja: Make docs/concepts/workloads/pods/pod-overview.md follow v1.17 of…
  content/ja/docs/concepts/workloads/pods/pod-overview.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21370 Translate /docs/tasks/configure-pod-container/configure-liveness-readiness-probes/ into Japanese
  content/ja/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#21427 ja: Make docs/reference/_index.md follow v1.17 of the original text
  content/ja/docs/reference/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21430 ja: Make /docs/tasks/access-application-cluster/connecting-frontend-backend/ follow v1.17 of the original text
  content/ja/docs/tasks/access-application-cluster/connecting-frontend-backend.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21141 Translate tasks/access-application-cluster/web-ui-dashboard/ into Japanese
  content/ja/docs/concepts/overview/components.md
  content/ja/docs/concepts/workloads/pods/pod.md
  content/ja/docs/setup/learning-environment/minikube.md
  content/ja/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#21431 Markdown code blocks described in Shell
  content/ja/docs/concepts/workloads/pods/podpreset.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#20972 ID Localization for "Get Shell Running Container" from Task.
  content/id/docs/tasks/debug-application-cluster/get-shell-running-container.md
  content/id/examples/application/shell-demo.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#21424 Update add-entries-to-pod-etc-hosts-with-host-aliases.md
  content/en/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21428 add @bells17 as sig-docs-ja reviewer
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#21261 Remove myself as a reviewer
  content/en/docs/concepts/architecture/control-plane-node-communication.md
  content/pt/docs/concepts/architecture/master-node-communication.md
  content/zh/docs/concepts/architecture/master-node-communication.md
Labels: approved, cncf-cla: yes, language/en, language/pt, language/zh, lgtm, sig/docs, size/XS

#21163 Revise Kubernetes API concept page
  content/en/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/api-machinery, sig/docs, size/L

#21196 Fix “custom” translation
  content/zh/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#21194 Fix "Control Plane" translation to meet translation tradition
  content/zh/docs/concepts/cluster-administration/monitoring.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#21446 Fix "hosted" translation
  content/zh/docs/tasks/administer-cluster/coredns.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#21197 Fix "control loop" translation to Chinese
  content/zh/docs/concepts/extend-kubernetes/operator.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#21387 Sync with the English document, revert #19959.
  content/zh/docs/concepts/workloads/controllers/cron-jobs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#21375 Update links on kubernetes-api page to ru docs
  content/ru/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#20945 Translate create-cluster-kubeadm into Bahasa Indonesia
  content/id/docs/setup/production-environment/_index.md
  content/id/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XL

#21405 ja: Make /docs/tasks/tools/install-kubectl/ follow v1.17 of the original text
  content/ja/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#21242 Translate concepts/policy/resource-quotas.md into Japanese #19282
  content/ja/docs/concepts/policy/_index.md
  content/ja/docs/concepts/policy/resource-quotas.md
  content/ja/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XL

#21433 ja: Make tutorials/kubernetes-basics/expose/expose-intro.html follow v1.17 of the original text
  content/ja/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21452 Document self-updating feature for ConfigMap
  content/en/docs/concepts/configuration/configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#21420 localization for subscribe button
  i18n/ja.toml
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#20913 ID Localization for Security Context (Tasks)
  content/id/docs/tasks/configure-pod-container/security-context.md
  content/id/examples/pods/security/hello-apparmor.yaml
  content/id/examples/pods/security/security-context-2.yaml
  content/id/examples/pods/security/security-context-3.yaml
  content/id/examples/pods/security/security-context-4.yaml
  content/id/examples/pods/security/security-context.yaml
Labels: approved, cncf-cla: yes, language/en, language/id, lgtm, sig/docs, size/L

#21222 Remove local serving issues by updating RBAC alias
  content/en/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21442 Add missing PSP restrictions to standard security profiles
  content/en/docs/concepts/security/pod-security-standards.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/S

#21162 Revise & tidy “Define environment variables for a container” task
  content/en/docs/tasks/inject-data-application/define-environment-variable-container.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#21447 Fix iptable s word errors
  content/zh/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#21434 Update tutorials/configuration/configure-redis-using-configmap.md to …
  content/ja/docs/tutorials/configuration/configure-redis-using-configmap.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21475 Change the way the RegisterCloudProvider function references the defi…
  content/ja/docs/tasks/administer-cluster/developing-cloud-controller-manager.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21468 ja: Make docs/concepts/workloads/controllers/replicaset.md follow v1.17 of the original text
  content/ja/docs/concepts/workloads/controllers/replicaset.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#21476 ja: Make docs/concepts/workloads/pods/pod-lifecycle.md follow v1.17 of the original text
  content/ja/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#21483 ja: Need to fix typo in docs/concepts/workloads/pods/pod-lifecycle.md
  content/ja/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21471 ja: Make docs/concepts/workloads/controllers/ttlafterfinished.md follow v1.17 of the original text
  content/ja/docs/concepts/workloads/controllers/ttlafterfinished.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21455 Follow upstream/release-1.16 to upstream/release-1.17 in Japanese
  content/ja/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21448 a misspelling
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21487 ja: Make docs/concepts/workloads/controllers/daemonset.md follow v1.17 of the original text
  content/ja/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21188 Fixed number of parameters in api.listPodForAllNamespaces and minor typo
  content/en/docs/tasks/administer-cluster/access-cluster-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/XS

#21488 ja: Make /docs/tasks/debug-application-cluster/debug-pod-replication-controller/ follow v1.17 of the original text
  content/ja/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#20506 Supporting the Evolving Ingress Specification in Kubernetes 1.18 blog
  content/en/blog/_posts/2020-06-05-Supporting-the-Evolving-Ingress-Specification-in-Kubernetes-1.18.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M, tide/merge-method-squash

#21465 Improve announcements implementation
  config.toml
  content/en/_index.html
  layouts/_default/baseof.html
  layouts/blog/baseof.html
  layouts/community/list.html
  layouts/docs/baseof.html
  layouts/partials/announcement.html
  layouts/partials/css.html
  layouts/partials/frontpage-announcement.html
  layouts/shortcodes/announcement.html
  static/css/announcement.css
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#21506 style announcement link
  static/css/announcement.css
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#21505 Black Lives Matter announcement
  config.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#21486 ja: Make docs/concepts/workloads/controllers/cron-jobs.md follow v1.17 of the original text
  content/ja/docs/concepts/workloads/controllers/cron-jobs.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21507 ja: Make docs/concepts/scheduling/kube-scheduler.md follow v1.17 of the original text
  content/ja/docs/concepts/scheduling/kube-scheduler.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21512 ja: Make tutorials/kubernetes-basics/update/update-intro.html follow v1.17 of the original text
  content/ja/docs/tutorials/kubernetes-basics/update/update-intro.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21511 ja: Make /docs/tasks/access-application-cluster/service-access-application-cluster/ follow v1.17 of the original text
  content/ja/docs/tasks/access-application-cluster/service-access-application-cluster.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21472 Update content/ja/docs/tasks/tools/install-minikube.md
  content/ja/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#21485 ja: Make docs/concepts/storage/persistent-volumes.md follow v1.17 of the original text
  content/ja/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21510 ja: Make /docs/tasks/access-application-cluster/configure-access-multiple-clusters/ follow v1.17 of the original text
  content/ja/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#21504 ja: Make docs/concepts/overview/working-with-objects/labels.md follow v1.17 of the original text
  content/ja/docs/concepts/overview/working-with-objects/labels.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21521 ja: Make docs/concepts/overview/working-with-objects/field-selectors.md follow v1.17 of the original text
  content/ja/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21492 Minor cleanup of standardized pod security
  content/en/docs/concepts/security/pod-security-standards.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#21525 ja: Make docs/concepts/services-networking/dns-pod-service.md follow v1.17 of the original text
  content/ja/docs/concepts/services-networking/dns-pod-service.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21524 Add hello-application.yaml file under ja directory
  content/ja/examples/service/access/hello-application.yaml
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21450 Update to Outdated files in the dev-1.18-ko.5 branch.
  content/ko/docs/concepts/cluster-administration/cloud-providers.md
  content/ko/docs/concepts/configuration/overview.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
  content/ko/docs/concepts/overview/working-with-objects/namespaces.md
  content/ko/docs/concepts/policy/pod-security-policy.md
  content/ko/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/ko/docs/concepts/services-networking/connect-applications-service.md
  content/ko/docs/concepts/workloads/controllers/daemonset.md
  content/ko/docs/concepts/workloads/controllers/jobs-run-to-completion.md
  content/ko/docs/concepts/workloads/pods/init-containers.md
  content/ko/docs/contribute/new-content/overview.md
  content/ko/docs/home/_index.md
  content/ko/docs/setup/production-environment/tools/kubeadm/ha-topology.md
  content/ko/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/ko/docs/tutorials/hello-minikube.md
  content/ko/docs/tutorials/stateful-application/zookeeper.md
  content/ko/training/_index.html
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#21532 Update /docs/tasks/configure-pod-container/quality-service-pod/ follo…
  content/ja/docs/tasks/configure-pod-container/quality-service-pod.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21526 ja: Make docs/setup/_index.md follow v1.17 of the original text
  content/ja/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#21116 Added description about the size of terminationMessage file
  content/en/docs/tasks/debug-application-cluster/determine-reason-pod-failure.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#21530 Update statefulset.md for v1.17
  content/ja/docs/concepts/workloads/controllers/statefulset.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21550 update kubelet-integration.md
  content/zh/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#21559 Fix numbering in the "Parallel Jobs" section
  content/en/docs/concepts/workloads/controllers/jobs-run-to-completion.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#21531 minor cleanup, remove links
  content/en/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#21533 Security issues: Fix link to PSC members
  content/en/docs/reference/issues-security/security.md
  content/ko/docs/reference/issues-security/security.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, language/ko, lgtm, sig/docs, size/XS

#21519 broken link on secret page to container environement
  content/en/docs/reference/glossary/container-env-variables.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21174 Translate tasks/run-application/run-single-instance-stateful-application in Korean
  content/ko/docs/tasks/run-application/run-single-instance-stateful-application.md
  content/ko/includes/default-storage-class-prereqs.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#21561 Follow "Update references to the patch release process" in Japanese
  content/ja/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21566 Update configmap.md
  content/en/docs/concepts/configuration/configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21571 Fix issue with k8s.io/docs/reference/kubectl/overview/
  content/en/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#21041 Move update-api-object-kubectl-patch.md to be under 'Manage Kubernete…
  content/en/docs/concepts/cluster-administration/manage-deployment.md
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/en/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21515 Translate tasks/debug-application-cluster/determine-reason-pod-failure in Korean
  content/ko/docs/tasks/debug-application-cluster/determine-reason-pod-failure.md
  content/ko/examples/debug/termination.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#21582 Workaround for new lines in field selector example
  content/en/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21592 Changes on Wrong Feature Gate Name #21357
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21267 Add ID translation for define-command-argument-container
  content/id/docs/tasks/inject-data-application/define-command-argument-container.md
  content/id/examples/pods/commands.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#21107 ID Localization for Setup - Best Practices - Multiple Zones.
  content/id/docs/setup/best-practices/_index.md
  content/id/docs/setup/best-practices/multiple-zones.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#21389 id add bahasa translation for task configure persistent volume storage
  content/id/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
  content/id/examples/pods/storage/pv-claim.yaml
  content/id/examples/pods/storage/pv-pod.yaml
  content/id/examples/pods/storage/pv-volume.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#21337 Translate tasks/manage-hugepages/scheduling-hugepages.md into Korean
  content/ko/docs/tasks/manage-hugepages/scheduling-hugepages.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#21572 Update ko localization guide
  content/ko/docs/contribute/localization_ko.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#21249 Allow specifying alternative tool for containerized local testing
  Makefile
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#21541 ja: Make docs/concepts/services-networking/service.md follow v1.17 of the original text
  content/ja/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21548 sig-release: Update references to the patch release process
  content/en/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21586 Reimplement announcements
  config.toml
  content/en/_index.html
  i18n/en.toml
  layouts/_default/baseof.html
  layouts/partials/announcement.html
  layouts/partials/css.html
  layouts/partials/deprecation-warning.html
  layouts/partials/frontpage-announcement.html
  static/css/deprecation-warning.css
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M, tide/merge-method-squash

#21272 parser typographer setting, en-dash
  config.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#21579 follow ja:glossary/controller.md v1.17
  content/ja/docs/reference/glossary/controller.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21620 Remove announcement and deprecationwarning shortcodes
  content/ja/_index.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21540 Cleanup tutorial title because singular is preferred
  content/id/docs/tutorials/_index.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#21539 Cleanup task title for Indonesian page
  content/id/docs/tasks/_index.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#21535 Localize liveness readiness startup probes page into Bahasa Indonesia
  content/id/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/id/examples/pods/probe/exec-liveness.yaml
  content/id/examples/pods/probe/http-liveness.yaml
  content/id/examples/pods/probe/tcp-liveness-readiness.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#21625 zh: fix cpu translation in manage-compute-resources-container
  content/zh/docs/concepts/configuration/manage-compute-resources-container.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#21591 Changed whitelist to allowlist and blacklist to denylist.
  content/en/docs/concepts/policy/pod-security-policy.md
  content/en/docs/concepts/security/pod-security-standards.md
  content/en/docs/concepts/services-networking/network-policies.md
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/tasks/administer-cluster/sysctl-cluster.md
  content/en/docs/tasks/debug-application-cluster/audit.md
  content/en/docs/tutorials/clusters/apparmor.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#21554 【zh】Clarify the explanation when environment variables refer to each other
  content/zh/docs/tasks/inject-data-application/define-environment-variable-container.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#21647 ja: Translate /partners/ into Japanese
  content/ja/partners/_index.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#21622 [VI] Remove announcement and deprecationwarning shortcodes
  content/vi/_index.html
Labels: approved, cncf-cla: yes, language/vi, lgtm, sig/docs, size/XS

#21378 Translate tasks/manage-daemon/rollback-daemon-set.md into Korean
  content/ko/docs/tasks/manage-daemon/rollback-daemon-set.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#14745 Add content/es/docs/concepts/workloads/pods/pod.md
  content/es/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/L

#21466 Translate contribute/generate-ref-docs/overview in Korean
  content/ko/docs/contribute/generate-ref-docs/_index.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#21552 Translate reference/kubectl/overview.md into Korean
  content/ko/docs/concepts/cluster-administration/manage-deployment.md
  content/ko/docs/concepts/overview/kubernetes-api.md
  content/ko/docs/reference/_index.md
  content/ko/docs/reference/kubectl/_index.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/reference/kubectl/overview.md
  content/ko/docs/reference/using-api/api-overview.md
  content/ko/docs/setup/production-environment/windows/user-guide-windows-containers.md
  content/ko/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#21600 Translate dmoonskim/configure-pod-initialization/v0.1 in Korean
  content/ko/docs/tasks/configure-pod-container/configure-pod-initialization.md
  content/ko/examples/pods/init-containers.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#21553 Clarify the explanation when environment variables refer to each other
  content/en/docs/tasks/inject-data-application/define-environment-variable-container.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21154 reconfigure-kubelet.md: Documentation error fixed
  content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21131 Revise prerequisites for “Configure Access to Multiple Clusters”
  content/en/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20768 Move Konnectivity service task page
  content/en/docs/concepts/architecture/control-plane-node-communication.md
  content/en/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/en/docs/concepts/overview/kubernetes-api.md
  content/en/docs/contribute/style/page-content-types.md
  content/en/docs/contribute/style/write-new-topic.md
  content/en/docs/reference/glossary/aggregation-layer.md
  content/en/docs/reference/glossary/customresourcedefinition.md
  content/en/docs/reference/using-api/api-overview.md
  content/en/docs/setup/best-practices/certificates.md
  content/en/docs/tasks/configure-pod-container/configure-gmsa.md
  content/en/docs/tasks/debug-application-cluster/debug-application-introspection.md
  content/en/docs/tasks/extend-kubernetes/_index.md
  content/en/docs/tasks/extend-kubernetes/configure-aggregation-layer.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/_index.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
  content/en/docs/tasks/extend-kubernetes/http-proxy-access-api.md
  content/en/docs/tasks/extend-kubernetes/setup-extension-api-server.md
  content/en/docs/tasks/extend-kubernetes/setup-konnectivity.md
  content/en/docs/tasks/run-application/configure-pdb.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/en/docs/tasks/setup-konnectivity/_index.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#21648 ja: Translate /training/ into Japanese
  content/ja/training/_index.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#20872 Change indentation for kubectl context samples
  content/en/docs/setup/learning-environment/minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21110 Clarified LimitRange is enabled by default
  content/en/docs/concepts/policy/limit-range.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21651 tasks/tls: add a page for manual CA rotation
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/en/docs/tasks/tls/certificate-rotation.md
  content/en/docs/tasks/tls/manual-rotation-of-ca-certificates.md
Labels: approved, cncf-cla: yes, kind/feature, language/en, lgtm, priority/important-longterm, sig/auth, sig/cluster-lifecycle, sig/docs, size/L

#21662 Fifth Korean l10n work for release 1.18
  content/ko/docs/concepts/cluster-administration/cloud-providers.md
  content/ko/docs/concepts/cluster-administration/manage-deployment.md
  content/ko/docs/concepts/configuration/overview.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
  content/ko/docs/concepts/overview/kubernetes-api.md
  content/ko/docs/concepts/overview/working-with-objects/namespaces.md
  content/ko/docs/concepts/policy/pod-security-policy.md
  content/ko/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/ko/docs/concepts/services-networking/connect-applications-service.md
  content/ko/docs/concepts/workloads/controllers/daemonset.md
  content/ko/docs/concepts/workloads/controllers/jobs-run-to-completion.md
  content/ko/docs/concepts/workloads/pods/init-containers.md
  content/ko/docs/contribute/generate-ref-docs/_index.md
  content/ko/docs/contribute/new-content/overview.md
  content/ko/docs/home/_index.md
  content/ko/docs/reference/_index.md
  content/ko/docs/reference/kubectl/_index.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/reference/kubectl/overview.md
  content/ko/docs/reference/using-api/api-overview.md
  content/ko/docs/setup/production-environment/tools/kubeadm/ha-topology.md
  content/ko/docs/setup/production-environment/windows/user-guide-windows-containers.md
  content/ko/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/ko/docs/tasks/configure-pod-container/configure-pod-initialization.md
  content/ko/docs/tasks/debug-application-cluster/determine-reason-pod-failure.md
  content/ko/docs/tasks/extend-kubectl/kubectl-plugins.md
  content/ko/docs/tasks/manage-daemon/_index.md
  content/ko/docs/tasks/manage-daemon/rollback-daemon-set.md
  content/ko/docs/tasks/manage-daemon/update-daemon-set.md
  content/ko/docs/tasks/manage-hugepages/scheduling-hugepages.md
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/ko/docs/tasks/run-application/run-single-instance-stateful-application.md
  content/ko/docs/tasks/tools/install-kubectl.md
  content/ko/docs/tutorials/hello-minikube.md
  content/ko/docs/tutorials/stateful-application/zookeeper.md
  content/ko/examples/controllers/fluentd-daemonset-update.yaml
  content/ko/examples/controllers/fluentd-daemonset.yaml
  content/ko/examples/debug/termination.yaml
  content/ko/examples/pods/init-containers.yaml
  content/ko/includes/default-storage-class-prereqs.md
  content/ko/training/_index.html
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#21668 ja: fix typo in /training/
  content/ja/training/_index.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21291 Add phanama to sig-docs-id-reviews
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#21584 localization for subscribe button
  i18n/fr.toml
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#20985 Add new words for API Objects to Korean glossary
  content/ko/docs/contribute/localization_ko.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#21676 Fix miss-use of a Secret vs ConfigMap in a configmap.md document.
  content/en/docs/concepts/configuration/configmap.md
  content/zh/docs/concepts/configuration/configmap.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/S

#21685 add new member to sig docs uk reviews
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, language/uk, lgtm, sig/docs, size/XS

#21151 Revise “Get a Shell to a Running Container”
  content/en/docs/tasks/debug-application-cluster/get-shell-running-container.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#21544 Make docs/contribute/_index.md follow v1.17 of the original text
  content/ja/docs/contribute/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#21691 Update ja/docs/tutorials/stateless-application/expose-external-ip-add…
  content/ja/docs/tutorials/stateless-application/expose-external-ip-address.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#21557 ja: Make docs/concepts/workloads/pods/init-containers.md follow v1.17 of the original text
  content/ja/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#21067 Added comments to RequestedToCapacityRatio formula
  content/en/docs/concepts/configuration/resource-bin-packing.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/S

#21693 ja: Make docs/concepts/overview/working-with-objects/kubernetes-objects.md follow v1.17 of the original text
  content/ja/docs/concepts/overview/working-with-objects/kubernetes-objects.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21694 ja: fix inconsistent translation of "init container"
  content/ja/docs/concepts/workloads/pods/init-containers.md
  content/ja/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ja/docs/tasks/debug-application-cluster/debug-init-containers.md
  content/ja/docs/tasks/debug-application-cluster/debug-stateful-set.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#21569 Bump docker recommended version to 19.03.11.
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#21493 modify security overview
  content/en/docs/concepts/security/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#21439 Tidy task page about using hostAliases
  content/en/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#21438 Drop vendor registry details from container image concept
  content/en/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#20880 Translate setup/production-environment/tools/kubeadm/create-cluster-kubeadm into Japanese
  content/ja/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/ja/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#21080 Tidy “Perform a Rollback on a DaemonSet”
  content/en/docs/tasks/manage-daemon/rollback-daemon-set.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#21653 Update content/ja/docs/concepts/services-networking/connect-applications-service.md
  content/ja/docs/concepts/services-networking/connect-applications-service.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#21148 Rename and tidy Job concept page
  content/en/docs/concepts/_index.md
  content/en/docs/concepts/configuration/overview.md
  content/en/docs/concepts/workloads/controllers/garbage-collection.md
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/en/docs/reference/glossary/cronjob.md
  content/en/docs/reference/glossary/job.md
  content/en/docs/tasks/job/automated-tasks-with-cron-jobs.md
  content/en/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
  static/_redirects
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/M

#21160 Revise kubectl overview
  content/en/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#21166 Revise cluster DNS task pages
  content/en/docs/tasks/administer-cluster/dns-custom-nameservers.md
  content/en/docs/tasks/debug-application-cluster/dns-debugging-resolution.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#21167 Fix incorrect Markdown in “Distribute Credentials Securely Using Secrets”
  content/en/docs/tasks/inject-data-application/distribute-credentials-secure.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/L

#21170 Clean up “StatefulSet Basics” tutorial
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XL

#21700 Translate /docs/tasks/debug-application-cluster/debug-service.md into Japanese / #21399
  content/ja/docs/tasks/debug-application-cluster/debug-service.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#21699 Fix dangling link for CRD
  content/en/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21705 Hint on making docker autostart
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21664 add more content about headings
  content/en/docs/contribute/style/page-content-types.md
  i18n/en.toml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#21217 add responsive table on blog
  assets/sass/_base.sass
Labels: approved, area/blog, cncf-cla: yes, lgtm, sig/docs, size/XS

#21372 Document retainKeys patch strategy
  content/en/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
  content/en/examples/application/deployment-retainkeys.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#21628 suspend cstoku and MasayaAoyama in sig-docs-ja
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS
