Repository kubernetes/website, pull requests merged in 2020-09, with the labels that each got.

#23628 Update translation in podpreset.md
  content/zh/docs/concepts/workloads/pods/podpreset.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22203 update `scheduling-hugepages` page
  content/zh/docs/tasks/manage-hugepages/scheduling-hugepages.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#23624 fix some format errors of Certificates
  content/zh/docs/concepts/cluster-administration/certificates.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23631 Updating Barnie Makonda's permissions
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#23102 blog: generic ephemeral volumes + storage capacity tracking
  content/en/blog/_posts/2020-09-01-generic-ephemeral-volumes.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#23635 Remove the feature gate part from immutable secrets/configmaps
  content/en/docs/concepts/configuration/configmap.md
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#23520 Revise “Supported Versions of the Kubernetes Documentation”
  content/en/docs/home/supported-doc-versions.md
  i18n/en.toml
  layouts/docs/supported-versions.html
  layouts/shortcodes/versions-other.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#23645 Change filesystem paths to monospace in Minikube setup guide
  content/en/docs/setup/learning-environment/minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#23564 [ko] Fix arguments for service account key pair
  content/ko/docs/setup/best-practices/certificates.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#23463 Update 2018-06-28-Airflow-Kubernetes-Operator.md
  content/zh/blog/_posts/2018-06-28-Airflow-Kubernetes-Operator.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23157 [zh] Resync TopologyManager task
  content/zh/docs/tasks/administer-cluster/topology-manager.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23159 [zh] Resync access cluster services task
  content/zh/docs/tasks/administer-cluster/access-cluster-services.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23163 [zh] Fix change PV reclaim policy task
  content/zh/docs/tasks/administer-cluster/change-pv-reclaim-policy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23172 [zh] Resync kubeadm-certs task
  content/zh/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23465 [zh] Translate tasks/tls/manual-rotation-of-ca-certificates.md
  content/zh/docs/tasks/tls/manual-rotation-of-ca-certificates.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23550 ja: Make docs/tasks/debug-application-cluster/debug-pod-replication-controller.md follow v1.18 of the original text
  content/ja/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#23403 ja: Make docs/tasks/debug-application-cluster/debug-service.md follow v1.18 of the original text
  content/ja/docs/tasks/debug-application-cluster/debug-service.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#23490 ja: Make docs/tasks/debug-application-cluster/determine-reason-pod-failure.md follow v1.18 of the original text
  content/ja/docs/tasks/debug-application-cluster/determine-reason-pod-failure.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23548 ja: Make docs/concepts/workloads/pods/init-containers.md follow v1.18 of the original text #23451
  content/ja/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23587 ja: Make docs/tasks/configure-pod-container/configure-pod-configmap.md follow v1.18 of the original text
  content/ja/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23644 ja: Make docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md follow v1.18 of the original text
  content/ja/docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23578 Update ja/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/ja/docs/tasks/access-application-cluster/connecting-frontend-backend.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#23630 Update ja/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/ja/docs/tasks/access-application-cluster/service-access-application-cluster.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23652 update secret.md fix typo
  content/zh/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23560 add feature blog endpointslice
  content/en/blog/_posts/2020-09-02-scaling-kubernetes-networking-endpointslices.md
  static/images/blog/2020-09-02-scaling-kubernetes-networking-endpointslices/endpoint-slices.png
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#23547 ja: Make docs/tasks/run-application/delete-stateful-set.md follow v1.18 of the original text
  content/ja/docs/tasks/run-application/delete-stateful-set.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23107 Add 3rd party content warning
  content/en/docs/concepts/cluster-administration/addons.md
  content/en/docs/concepts/cluster-administration/networking.md
  content/en/docs/reference/using-api/client-libraries.md
  content/en/docs/tasks/administer-cluster/declare-network-policy.md
  i18n/en.toml
  layouts/shortcodes/thirdparty-content.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#23658 kubeadm reset unmounts /var/lib/kubelet
  content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/S

#23524 Update basic-stateful-set.md
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23655 ja: Make docs/tutorials/_index.md follow v1.18 of the original text
  content/ja/docs/tutorials/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#23662 Update ja/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/ja/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23558 modify link title
  content/ja/docs/tasks/debug-application-cluster/debug-stateful-set.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23668 Fix ingress.md's links for ingress controller
  content/ja/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#23555 Update list-all-running-container-images.md to follow v1.18 of the original text
  content/ja/docs/tasks/access-application-cluster/list-all-running-container-images.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#23663 Update ja/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/ja/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23649 Update ja/docs/tutorials/services/source-ip.md
  content/ja/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#23400 Translate docs/concepts/security/overview into Japanese
  content/ja/docs/concepts/security/overview.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#23038 Retain the current search keywords in the search input form
  assets/js/search.js
Labels: approved, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/XS

#23517 Remove cloud providers page
  content/en/docs/concepts/cluster-administration/cloud-providers.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/reference/access-authn-authz/node.md
  content/en/docs/reference/glossary/cloud-provider.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/cloud-provider, sig/docs, size/L

#23500 Remove section: On-Premises VMs
  content/en/docs/setup/production-environment/on-premises-vm/_index.md
  content/en/docs/setup/production-environment/on-premises-vm/cloudstack.md
  content/en/docs/setup/production-environment/on-premises-vm/dcos.md
  content/en/docs/setup/production-environment/on-premises-vm/ovirt.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/L, tide/merge-method-squash

#23666 Revise list of available documentation versions (v1.18)
  content/en/docs/home/supported-doc-versions.md
  i18n/en.toml
  layouts/docs/supported-versions.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#23227 use docsy page edit/issue setup
  assets/scss/_variables_project.scss
  config.toml
  i18n/en.toml
  layouts/blog/baseof.html
  layouts/docs/baseof.html
  layouts/partials/docs/content-page.html
  layouts/partials/git-info.html
  layouts/partials/toc.html
Labels: approved, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/M

#23621 ja: Make docs/concepts/policy/resource-quotas.md follow v1.18 of the original text
  content/ja/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#23677 ja: Make docs/setup/best-practices/node-conformance.md follow v1.18 of the original text
  content/ja/docs/setup/best-practices/node-conformance.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23511 Updata ja/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
  content/ja/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#23415 [FR] Update install-minikube.md
  content/fr/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#23692 Fix typo in Ja concepts/overview/what-is-kubernetes.md
  content/ja/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23632 init blog intro structured logs
  content/en/blog/_posts/2020-09-04-introducing-structured-logs.md
Labels: approved, area/blog, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/M

#23687 Removes IPVS prerequisites in "Validate IPv4/IPv6 dual-stack"
  content/en/docs/tasks/network/validate-dual-stack.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23679 Fix issue with k8s.io/docs/reference/command-line-tools-reference/fea…
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23680 Update ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23661 Fix link anchor error
  content/zh/docs/tasks/administer-cluster/access-cluster-services.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23092 [zh] Rework kubectl install translation
  content/zh/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#23113 [zh] Resync config PV storage task
  content/zh/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23148 [zh] Tune KMS provider task
  content/zh/docs/tasks/administer-cluster/kms-provider.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23352 [zh] Translate tasks/manage-kubernetes-objects/kustomization.yaml
  content/zh/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#23698 Small fixes in structured logging post
  content/en/blog/_posts/2020-09-04-introducing-structured-logs.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#23686 Update pod-priority-preemption.md
  content/zh/docs/concepts/configuration/pod-priority-preemption.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23623 translate system metrics into Chinese
  content/zh/docs/concepts/cluster-administration/system-metrics.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22201 translate enabling service topology into chinese
  content/zh/docs/tasks/administer-cluster/enabling-service-topology.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#23357 [zh] Translate concepts/security/pod-security-standards.md
  content/zh/docs/concepts/security/pod-security-standards.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#23358 [zh] Translate tasks/configure-pod-container/security-context.md
  content/zh/docs/tasks/configure-pod-container/security-context.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#23076 [zh] Tweak localization for statefulset task
  content/zh/docs/tasks/run-application/run-replicated-stateful-application.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#23703 Fix typo in pod-priority-preemption.md
  content/zh/docs/concepts/configuration/pod-priority-preemption.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23704 Fix typo about "Node" in zh
  content/zh/docs/concepts/configuration/pod-priority-preemption.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23695 sync video block
  content/uk/_index.html
Labels: approved, cncf-cla: yes, language/uk, lgtm, sig/docs, size/XS

#23710 Fix issue with k8s.io/docs/concepts/services-networking/ingress.md
  content/en/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/XS

#22132 Add an slack invite link on README
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#23693 ja: Make docs/setup/best-practices/certificates.md follow v1.18 of the original text
  content/ja/docs/setup/best-practices/certificates.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#23495 Translate docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/ into Japanese. #23442
  content/ja/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#23627 Modify translation access by Korean glossary
  content/ko/docs/tasks/access-application-cluster/_index.md
  content/ko/docs/tasks/access-application-cluster/access-cluster.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#22941 [zh] Rework cloud controller
  content/zh/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23697 [zh] Translate API concepts reference
  content/zh/docs/reference/using-api/api-concepts.md
  content/zh/examples/application/ssa/nginx-deployment-no-replicas.yaml
  content/zh/examples/application/ssa/nginx-deployment-replicas-only.yaml
  content/zh/examples/application/ssa/nginx-deployment.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#23546 [zh] Translate custom-resources concept
  content/zh/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#23715 fix diagonal line mark up of "replication"
  content/ja/docs/concepts/workloads/pods/pod-overview.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23690 Translate reference/scheduling/policies.md in Korean
  content/ko/docs/reference/scheduling/_index.md
  content/ko/docs/reference/scheduling/policies.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#23683 Fix inconsistent translation in Ko stateful-application/mysql-wordpress-persistent-volume
  content/ko/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#23665 1.The ZH create-cluster-kubeadm.md should be in "content/zh/docs/setup/production-environment/tools/kubeadm"
  content/zh/docs/setup/independent/create-cluster-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#23720 Fix issue with ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/concepts/workloads/controllers/job.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#23721 [zh] Fix links in setup section (1)
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/zh/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubeadm/ha-topology.md
  content/zh/docs/setup/production-environment/tools/kubeadm/high-availability.md
  content/zh/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
  content/zh/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23545 [zh] Translate deprecation policy reference
  content/zh/docs/reference/using-api/deprecation-policy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#23724 [zh] Fix links in setup section (2)
  content/zh/docs/setup/best-practices/certificates.md
  content/zh/docs/setup/best-practices/cluster-large.md
  content/zh/docs/setup/learning-environment/minikube.md
  content/zh/docs/setup/release/notes.md
  content/zh/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#14649 Add content/es/docs/concepts/overview/kubernetes-api.md
  content/es/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/L, tide/merge-method-squash

#23736 Remove legacy capture shortcodes
  content/es/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/es, lgtm, sig/docs, size/S

#23478 Move eviction-policy from tasks to concepts
  content/en/docs/concepts/scheduling-eviction/eviction-policy.md
  content/en/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/en/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/en/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/en/docs/tasks/administer-cluster/out-of-resource.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#23526 Translate docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes/ into Japanese. #23525
  content/ja/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#23681 Update ja/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23712 ja: Make docs/setup/_index.md follow v1.18 of the original text
  content/ja/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#23329 [zh] Translate /docs/concepts/storage/persistent-volumes.md
  content/zh/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#23077 [zh] Rework stateful application tasks
  content/zh/docs/tasks/run-application/run-single-instance-stateful-application.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23063 [zh] Tune translation for debug service task
  content/zh/docs/tasks/debug-application-cluster/debug-service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22910 [zh] Rework Deployment concept
  content/zh/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#23740 [zh] Add eviction policy page
  content/zh/docs/concepts/scheduling-eviction/eviction-policy.md
  content/zh/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/zh/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/zh/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/zh/docs/tasks/administer-cluster/out-of-resource.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#23149 [zh] Resync namespace task
  content/zh/docs/tasks/administer-cluster/namespaces.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#23269 containerd config improvement
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#23544 Translate tasks/job/parallel-processing-expansion.md into Korean
  content/ko/docs/tasks/job/parallel-processing-expansion.md
  content/ko/examples/application/job/job-tmpl.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#23516 Fix nits in CRD task
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/L

#23752 Fix Broken layout for tabs page in Korean
  content/ko/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#23581 Update Japanese localization on concepts/workloads/controllers/daemon…
  content/ja/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#23700 Add ID translation for Explore Your App tutorial
  content/id/docs/tutorials/kubernetes-basics/explore/_index.md
  content/id/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/id/docs/tutorials/kubernetes-basics/explore/explore-intro.html
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#23717 Update ja/docs/reference/glossary/control-plane.md
  content/ja/docs/reference/glossary/control-plane.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#23593 Update Japanese localization on tasks/administer-cluster/running-clou…
  content/ja/docs/tasks/administer-cluster/running-cloud-controller.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#23764 Fix incorrect guidance on enabling EventRateLimit
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/XS

#23751 Updating readme files to use the right make functions for build and serve
  README-de.md
  README-es.md
  README-fr.md
  README-hi.md
  README-id.md
  README-it.md
  README-ko.md
  README-pl.md
  README-pt.md
  README-vi.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, sig/docs, size/M

#23491 [zh] Translate tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
  content/zh/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#23279 Add headings for Immutable ConfigMaps and Secrets
  content/en/docs/concepts/configuration/configmap.md
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#23772 Redirect to correct 1.19 release blog date
  static/_redirects
Labels: approved, area/blog, cncf-cla: yes, lgtm, sig/docs, size/XS

#23669 Fix errors/nits in api-concepts
  content/en/docs/reference/using-api/api-concepts.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#23771 Change links for localized tutorials in Polish
  content/pl/docs/tutorials/_index.md
  content/pl/docs/tutorials/kubernetes-basics/_index.html
Labels: approved, cncf-cla: yes, language/pl, lgtm, sig/docs, size/XS

#23731 [zh] fix links in setup section (4)
  content/zh/docs/setup/_index.md
  content/zh/docs/setup/production-environment/container-runtimes.md
  content/zh/docs/setup/production-environment/tools/kops.md
  content/zh/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/zh/docs/setup/production-environment/turnkey/aws.md
  content/zh/docs/setup/production-environment/turnkey/clc.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23725 sync video block
  content/ru/_index.html
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#23165 ID localization for debug application cluster
  content/id/docs/tasks/debug-application-cluster/debug-application-introspection.md
  content/id/examples/application/nginx-with-request.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#22912 Add ID localization task configure volume storage
  content/id/docs/tasks/configure-pod-container/configure-volume-storage.md
  content/id/examples/pods/storage/redis.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#22914 Add ID localization of force delete stateful pod
  content/id/docs/tasks/run-application/force-delete-stateful-set-pod.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#23762 Remove Roboto font from interactivity pages
  content/de/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/de/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/de/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/de/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/de/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/de/docs/tutorials/kubernetes-basics/update/update-interactive.html
  content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/en/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/en/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/en/docs/tutorials/kubernetes-basics/public/css/styles.css
  content/en/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/en/docs/tutorials/kubernetes-basics/update/update-interactive.html
  content/es/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/es/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/fr/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/fr/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/id/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/update/update-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/update/update-interactive.html
  content/pl/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/pl/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/pl/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/pl/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/pl/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/pl/docs/tutorials/kubernetes-basics/update/update-interactive.html
  content/ru/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/ru/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/ru/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/ru/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/ru/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/ru/docs/tutorials/kubernetes-basics/update/update-interactive.html
  content/uk/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/uk/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/uk/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/uk/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/uk/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/uk/docs/tutorials/kubernetes-basics/update/update-interactive.html
  content/vi/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/vi/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/vi/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/zh/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/zh/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/zh/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/zh/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/zh/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/zh/docs/tutorials/kubernetes-basics/update/update-interactive.html
Labels: approved, area/web-development, cncf-cla: yes, language/de, language/en, language/es, language/fr, language/id, language/ja, language/ko, language/pl, language/ru, language/uk, language/vi, language/zh, lgtm, sig/docs, size/XL

#23444 fixing spelling errors
  README-fr.md
  content/fr/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/M

#23800 Corrección al uso confuso de container
  content/en/docs/concepts/containers/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23188 Translate memory-constraint-namespace into Bahasa Indonesia
  content/id/docs/tasks/administer-cluster/_index.md
  content/id/docs/tasks/administer-cluster/manage-resources/_index.md
  content/id/docs/tasks/administer-cluster/manage-resources/memory-constraint-namespace.md
  content/id/examples/admin/resource/memory-constraints-pod-2.yaml
  content/id/examples/admin/resource/memory-constraints-pod-3.yaml
  content/id/examples/admin/resource/memory-constraints-pod-4.yaml
  content/id/examples/admin/resource/memory-constraints-pod.yaml
  content/id/examples/admin/resource/memory-constraints.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#22847 ID localization for administer cluster - sysctl
  content/id/docs/tasks/administer-cluster/sysctl-cluster.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#23796 Typo in 'What's next' section
  content/en/docs/concepts/workloads/pods/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23674 Move setup/independent files to setup/production-environment
  content/fr/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/fr/docs/setup/independent/_index.md
  content/fr/docs/setup/pick-right-solution.md
  content/fr/docs/setup/production-environment/_index.md
  content/fr/docs/setup/production-environment/on-premises-vm/_index.md
  content/fr/docs/setup/production-environment/tools/_index.md
  content/fr/docs/setup/production-environment/tools/kubeadm/_index.md
  content/fr/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
  content/fr/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/fr/docs/setup/production-environment/tools/kubeadm/ha-topology.md
  content/fr/docs/setup/production-environment/tools/kubeadm/high-availability.md
  content/fr/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/fr/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
  content/fr/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
  content/fr/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
  content/fr/docs/setup/production-environment/turnkey/_index.md
  content/fr/docs/setup/production-environment/windows/_index.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/M

#23801 [id] Fix typo on Web UI (Dashboard)
  content/id/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/S

#23815 Resolve conflicts on the Ko l10n milestone branch
  content/ko/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#23778 translate subscribe button
  i18n/id.toml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#23823 Fix broken layout for tabs on Container runtimes page in Korean
  content/ko/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#23812 added a missing word for clearer understanding
  content/en/docs/concepts/services-networking/endpoint-slices.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23826 Complete unfinished conflict resolution
  content/ko/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#22408 ID translation for tutorial deploy app
  content/id/docs/tutorials/kubernetes-basics/deploy-app/_index.md
  content/id/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/id/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#23833 ID localization for configure pod and container - assign memory resource
  content/id/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/id/examples/pods/resource/memory-request-limit-2.yaml
  content/id/examples/pods/resource/memory-request-limit-3.yaml
  content/id/examples/pods/resource/memory-request-limit.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#23831 Change language code placement for Polish tutorial links
  content/pl/docs/tutorials/_index.md
Labels: approved, cncf-cla: yes, language/pl, lgtm, sig/docs, size/XS

#23822 Fix for 23732
  content/en/docs/concepts/configuration/configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS, tide/merge-method-squash

#23795 Limited resources in quota when scoped for priority class
  content/en/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#23808 Update Japanese localization on tutorials/stateful-application/mysql-…
  content/ja/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23830 ja: Make docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md follow v1.18 of the original text
  content/ja/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23834 fixing language issues in Ingress.md
  content/fr/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/M

#23792 Make docs/tasks/configure-pod-container/_index.md follow v1.18 of the original text
  content/ja/docs/tasks/configure-pod-container/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23790 Make docs/tasks/access-application-cluster/_index.md follow v1.18 of the original text
  content/ja/docs/tasks/access-application-cluster/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23845 Update access-cluster.md
  content/zh/docs/tasks/access-application-cluster/access-cluster.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23746 ja: Make docs/concepts/overview/what-is-kubernetes.md follow v1.18 of the original text
  content/ja/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23844 fixing some typos / spelling issues in Ingress.md
  content/en/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#23789 Make docs/tasks/_index.md follow v1.18 of the original text
  content/ja/docs/tasks/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#23846 Update port-forward-access-application-cluster.md
  content/zh/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23851 [zh] fix wrong href on content/zh/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
  content/zh/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23852 [zh] add missing table in content/zh/docs/concepts/services-networking/service.md
  content/zh/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#23606 ja: Make docs/concepts/containers/_index.md follow v1.18 of the original text
  content/ja/docs/concepts/containers/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#23766 ja: Make docs/concepts/overview/working-with-objects/common-labels.md follow v1.18 of the original text
  content/ja/docs/concepts/overview/working-with-objects/common-labels.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23853 ja: Make docs/concepts/configuration/overview.md follow v1.18 of the original text
  content/ja/docs/concepts/configuration/overview.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23744 Improve object management page by adding a hint
  content/en/docs/tasks/manage-kubernetes-objects/imperative-config.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#23735 Fix false Object in persistentVolumeClaim explanation
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23782 Separating tasks from Secret concept
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/tasks/configmap-secret/_index.md
  content/en/docs/tasks/configmap-secret/managing-secret-using-config-file.md
  content/en/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
  content/en/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL
