Repository kubernetes/website, pull requests merged in 2020-12, with the labels that each got.

#25228 add docs for service.spec.allocateLoadBalancerNodePorts
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/S

#25314 [zh] Sync using-api
  content/zh/docs/reference/using-api/api-concepts.md
  content/zh/docs/reference/using-api/client-libraries.md
  content/zh/docs/reference/using-api/deprecation-policy.md
  content/zh/docs/reference/using-api/server-side-apply.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#25308 [zh]Sync changes under ` content/zh/docs/reference` folder for Issues kubernetes/website#25247.
  content/zh/docs/reference/_index.md
  content/zh/docs/reference/issues-security/security.md
  content/zh/docs/reference/kubernetes-api/labels-annotations-taints.md
  content/zh/docs/reference/scheduling/config.md
  content/zh/docs/reference/tools.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L, tide/merge-method-squash

#25322 [zh] Sync change from English (Issues 25247)
  content/zh/docs/reference/kubectl/cheatsheet.md
  content/zh/docs/reference/kubectl/jsonpath.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L, tide/merge-method-squash

#24904 Add documentation for downward API hugepages
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/S

#24906 Document SizeMemoryBackedVolumes feature for 1.20
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#25277 Update configure-liveness-readiness-startup-probes.md
  content/fr/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#24984 Translate tutorials/.../configure-java-microservice-interactive/ into Korean
  content/ko/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive.html
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#25321 Translate reference/glossary/api-group.md in Korean
  content/ko/docs/reference/glossary/api-group.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#23119 Replace master/slave with primary/replica in MySQL StatefulSet example
  content/en/docs/tasks/run-application/run-replicated-stateful-application.md
  content/en/examples/application/mysql/mysql-configmap.yaml
  content/en/examples/application/mysql/mysql-services.yaml
  content/en/examples/application/mysql/mysql-statefulset.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/M, wg/naming

#25350 [zh]Update cronjob.yaml
  content/zh/examples/application/job/cronjob.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25349 [zh] update external service note
  content/zh/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24897 [zh] Resync docs/concepts/configuration/secret.md
  content/en/docs/concepts/configuration/secret.md
  content/zh/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/XXL

#25229 add docs for EndpointSlice conditions
  content/en/docs/concepts/services-networking/endpoint-slices.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/M

#25352 Update md format to make it more easier to read
  content/en/docs/concepts/overview/working-with-objects/labels.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#25340 Revise running in multiple zones
  content/en/docs/setup/best-practices/multiple-zones.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25359 Initial commit to explain the dockershim deprecation
  content/en/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L, tide/merge-method-squash

#25330 [zh] Sync glossary reference
  content/zh/docs/reference/glossary/cluster-infrastructure.md
  content/zh/docs/reference/glossary/container.md
  content/zh/docs/reference/glossary/control-plane.md
  content/zh/docs/reference/glossary/cri-o.md
  content/zh/docs/reference/glossary/kubeadm.md
  content/zh/docs/reference/glossary/kubelet.md
  content/zh/docs/reference/glossary/node.md
  content/zh/docs/reference/glossary/platform-developer.md
  content/zh/docs/reference/glossary/pod-priority.md
  content/zh/docs/reference/glossary/preemption.md
  content/zh/docs/reference/glossary/quantity.md
  content/zh/docs/reference/glossary/replication-controller.md
  content/zh/docs/reference/glossary/taint.md
  content/zh/docs/reference/glossary/toleration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25342 Translate health-checks.md into Korean
  content/ko/docs/reference/using-api/health-checks.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#25360 Add dockershim faq
  content/en/blog/_posts/2020-12-02-dockershim-faq.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#25338 [zh]sync changes from english.
  content/zh/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25361 Add cross-link to FAQ to the first dockershim post.
  content/en/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25346 [zh] sync kube-controller-manager, kube-proxy and kubelet-authentication-authorization
  content/zh/docs/reference/command-line-tools-reference/kube-controller-manager.md
  content/zh/docs/reference/command-line-tools-reference/kube-proxy.md
  content/zh/docs/reference/command-line-tools-reference/kubelet-authentication-authorization.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#25329 [zh] sync command-line-tools reference of kube-apiserver
  content/zh/docs/reference/command-line-tools-reference/kube-apiserver.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#25356 update md format (zh)
  content/zh/docs/concepts/overview/working-with-objects/labels.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#24968 [zh] Resync docs/concepts/storage/volumes.md
  content/zh/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#25304 Sync concepts/cluster-administration/networking.md
  content/zh/docs/concepts/cluster-administration/networking.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#24981 Translate tutorials/.../configure-java-microservice/ into Korean
  content/ko/docs/tutorials/configuration/configure-java-microservice/_index.md
  content/ko/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#25363 Update horizontal-pod-autoscale.md，resolve 404 page
  content/zh/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25357 metrics for kubernetes system component
  content/en/docs/concepts/cluster-administration/system-metrics.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25369 [zh]: udpate content/zh/docs/concepts/configuration/overview.md
  content/zh/docs/concepts/configuration/overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25373 Correct dockershim release removal target
  content/en/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25331 Make docs/reference/kubectl/cheatsheet.md follow v1.18 of the origina…
  content/ja/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#24474 Tweak docs about Kubernetes API versions
  content/en/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#25374 update reference.yml for 1.20 reference docs
  update-imported-docs/reference.yml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, sig/docs, size/XS

#25226 Add docs for configuring kubelet credential provider plugins
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/kubelet-credential-provider/kubelet-credential-provider.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cloud-provider, sig/docs, sig/node, size/L

#25380 Add reference to AKS
  content/en/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25382 Fix blog typo
  content/en/blog/_posts/2020-12-02-dockershim-faq.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25200 Add links to volumes from persistent volumes
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/M

#25185 [zh] Resync tasks/.../custom-resource-definition-versioning.md
  content/zh/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#25279 Update the outdated file ja/docs/home/supported-doc-versions.md
  content/ja/docs/home/supported-doc-versions.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#25290 [zh] Sync changes from English (auth references)
  content/zh/docs/reference/access-authn-authz/_index.md
  content/zh/docs/reference/access-authn-authz/admission-controllers.md
  content/zh/docs/reference/access-authn-authz/certificate-signing-requests.md
  content/zh/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#24492 [zh] Translate cloud-controller-manager reference
  content/zh/docs/reference/command-line-tools-reference/cloud-controller-manager.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#25293 [zh] Sync English site changes for authentication ref
  content/zh/docs/reference/access-authn-authz/authentication.md
  content/zh/docs/reference/access-authn-authz/authorization.md
  content/zh/docs/reference/access-authn-authz/bootstrap-tokens.md
  content/zh/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#25312 [zh] Replace English CNCF code of conduct with Chinese one
  content/zh/community/code-of-conduct.md
  content/zh/community/static/cncf-code-of-conduct.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#25385 sync metrics for kubernetes system component
  content/zh/docs/concepts/cluster-administration/system-metrics.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25372 Update pod.md
  content/es/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/S

#25398 [zh] Fix links in zh localization (2)
  content/zh/docs/concepts/cluster-administration/_index.md
  content/zh/docs/concepts/cluster-administration/flow-control.md
  content/zh/docs/concepts/cluster-administration/logging.md
  content/zh/docs/concepts/cluster-administration/manage-deployment.md
  content/zh/docs/concepts/cluster-administration/system-metrics.md
  content/zh/docs/concepts/extend-kubernetes/_index.md
  content/zh/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/zh/docs/concepts/extend-kubernetes/extend-cluster.md
  content/zh/docs/concepts/extend-kubernetes/operator.md
  content/zh/docs/concepts/overview/kubernetes-api.md
  content/zh/docs/concepts/policy/pod-security-policy.md
  content/zh/docs/concepts/policy/resource-quotas.md
  content/zh/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25397 [zh] Fix links in zh localization (1)
  content/zh/docs/concepts/architecture/control-plane-node-communication.md
  content/zh/docs/concepts/architecture/controller.md
  content/zh/docs/concepts/architecture/nodes.md
  content/zh/docs/concepts/configuration/pod-priority-preemption.md
  content/zh/docs/concepts/configuration/secret.md
  content/zh/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/zh/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/zh/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/zh/docs/concepts/services-networking/service-topology.md
  content/zh/docs/concepts/storage/persistent-volumes.md
  content/zh/docs/concepts/storage/storage-capacity.md
  content/zh/docs/concepts/storage/volumes.md
  content/zh/docs/concepts/workloads/_index.md
  content/zh/docs/concepts/workloads/controllers/daemonset.md
  content/zh/docs/concepts/workloads/controllers/replicaset.md
  content/zh/docs/concepts/workloads/controllers/statefulset.md
  content/zh/docs/concepts/workloads/pods/_index.md
  content/zh/docs/concepts/workloads/pods/disruptions.md
  content/zh/docs/concepts/workloads/pods/ephemeral-containers.md
  content/zh/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25408 fix disruptions.md typo
  content/zh/docs/concepts/workloads/pods/disruptions.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25393 Remove problems in DaemonSet fixed by controllerRef
  content/en/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#25365 Update install minikube page
  content/de/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#25286 Updated Cheat sheet to include additional command to get shell access to a running pod
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25348 Corrected the field names in the secret
  content/en/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25404 Report for my GSoD'20 project: Update how the Kubernetes website serves API references
  content/en/blog/_posts/2020-12-04-gsod-2020-improving-api-reference-experience.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#25395 update typo
  content/zh/docs/tasks/access-application-cluster/access-cluster.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24418 Clarify external kubelet server approver requirements
  content/en/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/S

#25401 [zh] Fix links in zh localization (3)
  content/zh/docs/tasks/access-application-cluster/access-cluster.md
  content/zh/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
  content/zh/docs/tasks/administer-cluster/access-cluster-services.md
  content/zh/docs/tasks/administer-cluster/change-default-storage-class.md
  content/zh/docs/tasks/administer-cluster/change-pv-reclaim-policy.md
  content/zh/docs/tasks/administer-cluster/highly-available-master.md
  content/zh/docs/tasks/administer-cluster/limit-storage-consumption.md
  content/zh/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy.md
  content/zh/docs/tasks/administer-cluster/safely-drain-node.md
  content/zh/docs/tasks/configmap-secret/managing-secret-using-config-file.md
  content/zh/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
  content/zh/docs/tasks/debug-application-cluster/debug-running-pod.md
  content/zh/docs/tasks/debug-application-cluster/logging-elasticsearch-kibana.md
  content/zh/docs/tasks/debug-application-cluster/logging-stackdriver.md
  content/zh/docs/tasks/extend-kubernetes/configure-aggregation-layer.md
  content/zh/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
  content/zh/docs/tasks/extend-kubernetes/setup-extension-api-server.md
  content/zh/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
  content/zh/docs/tasks/manage-daemon/update-daemon-set.md
  content/zh/docs/tasks/run-application/configure-pdb.md
  content/zh/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/zh/docs/tasks/service-catalog/install-service-catalog-using-sc.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#25412 [zh] sync remove problems in DaemonSet fixed by controllerRef
  content/zh/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#24674 [zh] Translate docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/zh/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/zh/docs/tasks/configure-pod-container/configure-gmsa.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#25403 Update outdated files in the dev-1.19-ko.6 branch (2)
  content/ko/_index.html
  content/ko/docs/concepts/architecture/controller.md
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/cluster-administration/_index.md
  content/ko/docs/concepts/cluster-administration/addons.md
  content/ko/docs/concepts/cluster-administration/networking.md
  content/ko/docs/concepts/configuration/configmap.md
  content/ko/docs/concepts/configuration/pod-priority-preemption.md
  content/ko/docs/concepts/policy/resource-quotas.md
  content/ko/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/ko/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/ko/docs/concepts/services-networking/ingress-controllers.md
  content/ko/docs/concepts/services-networking/network-policies.md
  content/ko/docs/concepts/storage/storage-classes.md
  content/ko/docs/concepts/workloads/pods/_index.md
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/ko/docs/contribute/_index.md
  content/ko/docs/home/_index.md
  content/ko/docs/reference/access-authn-authz/service-accounts-admin.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/reference/kubectl/overview.md
  content/ko/docs/setup/best-practices/cluster-large.md
  content/ko/docs/setup/best-practices/node-conformance.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/turnkey/_index.md
  content/ko/docs/tasks/administer-cluster/cluster-management.md
  content/ko/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
  content/ko/docs/tasks/configure-pod-container/quality-service-pod.md
  content/ko/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
  content/ko/docs/tasks/extend-kubectl/kubectl-plugins.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/ko/docs/tutorials/kubernetes-basics/_index.html
  content/ko/docs/tutorials/stateful-application/zookeeper.md
  content/ko/training/_index.html
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#25318 Translate reference/glossary/object.md in Korean
  content/ko/docs/reference/glossary/object.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#25345 Translate version-skew-policy.md into Korean
  content/ko/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#25405 [zh] Fix links in zh localization (4)
  content/zh/docs/reference/_index.md
  content/zh/docs/reference/access-authn-authz/admission-controllers.md
  content/zh/docs/reference/access-authn-authz/extensible-admission-controllers.md
  content/zh/docs/reference/command-line-tools-reference/feature-gates.md
  content/zh/docs/reference/command-line-tools-reference/kubelet-authentication-authorization.md
  content/zh/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md
  content/zh/docs/reference/glossary/extensions.md
  content/zh/docs/reference/glossary/flexvolume.md
  content/zh/docs/reference/glossary/managed-service.md
  content/zh/docs/reference/glossary/operator-pattern.md
  content/zh/docs/reference/glossary/platform-developer.md
  content/zh/docs/reference/glossary/pod-lifecycle.md
  content/zh/docs/reference/issues-security/issues.md
  content/zh/docs/reference/kubectl/overview.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-join-phase.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-reset-phase.md
  content/zh/docs/reference/tools.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#25410 Fix spelling error
  content/en/blog/_posts/2020-12-02-dockershim-faq.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25418 Containers in a pod share their MAC address
  content/en/docs/concepts/cluster-administration/networking.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25415 Sixth Korean l10n work for release-1.19
  content/ko/_index.html
  content/ko/case-studies/newyorktimes/index.html
  content/ko/docs/concepts/architecture/controller.md
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/cluster-administration/_index.md
  content/ko/docs/concepts/cluster-administration/addons.md
  content/ko/docs/concepts/cluster-administration/networking.md
  content/ko/docs/concepts/configuration/configmap.md
  content/ko/docs/concepts/configuration/pod-priority-preemption.md
  content/ko/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/ko/docs/concepts/overview/working-with-objects/labels.md
  content/ko/docs/concepts/policy/resource-quotas.md
  content/ko/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/ko/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/ko/docs/concepts/security/controlling-access.md
  content/ko/docs/concepts/services-networking/dns-pod-service.md
  content/ko/docs/concepts/services-networking/ingress-controllers.md
  content/ko/docs/concepts/services-networking/network-policies.md
  content/ko/docs/concepts/storage/storage-classes.md
  content/ko/docs/concepts/storage/volume-snapshots.md
  content/ko/docs/concepts/workloads/pods/_index.md
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/ko/docs/contribute/_index.md
  content/ko/docs/home/_index.md
  content/ko/docs/reference/access-authn-authz/authorization.md
  content/ko/docs/reference/access-authn-authz/service-accounts-admin.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/reference/glossary/api-group.md
  content/ko/docs/reference/glossary/mirror-pod.md
  content/ko/docs/reference/glossary/object.md
  content/ko/docs/reference/glossary/uid.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/reference/kubectl/overview.md
  content/ko/docs/reference/using-api/health-checks.md
  content/ko/docs/setup/best-practices/cluster-large.md
  content/ko/docs/setup/best-practices/node-conformance.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/turnkey/_index.md
  content/ko/docs/setup/release/version-skew-policy.md
  content/ko/docs/tasks/administer-cluster/cluster-management.md
  content/ko/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
  content/ko/docs/tasks/configure-pod-container/quality-service-pod.md
  content/ko/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
  content/ko/docs/tasks/extend-kubectl/kubectl-plugins.md
  content/ko/docs/tasks/run-application/delete-stateful-set.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/ko/docs/tutorials/configuration/configure-java-microservice/_index.md
  content/ko/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive.html
  content/ko/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice.md
  content/ko/docs/tutorials/configuration/configure-redis-using-configmap.md
  content/ko/docs/tutorials/kubernetes-basics/_index.html
  content/ko/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
  content/ko/docs/tutorials/stateful-application/zookeeper.md
  content/ko/training/_index.html
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#25422 Update _index.md
  content/zh/docs/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25427 [ZH]sync en[PR 25418]
  content/zh/docs/concepts/cluster-administration/networking.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25368 Update managing-secret-using-kubectl.md
  content/zh/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24693 Update certificates.md
  content/zh/docs/setup/best-practices/certificates.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/zh, lgtm, sig/docs, size/XS

#25432 Update reserve-compute-resources.md
  content/zh/docs/tasks/administer-cluster/reserve-compute-resources.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25424 Update _index.md
  content/zh/docs/contribute/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#25435 Add a missing period in logging.md
  content/en/docs/concepts/cluster-administration/logging.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25437 Update user-guide-content-moved.md
  content/zh/includes/user-guide-content-moved.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS, tide/merge-method-squash

#25438 Update configure-service-account.md
  content/zh/docs/tasks/configure-pod-container/configure-service-account.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25446 Update certificates.md
  content/zh/docs/setup/best-practices/certificates.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25439 Update http-proxy-access-api.md
  content/zh/docs/tasks/extend-kubernetes/http-proxy-access-api.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25450 Update new-features.md
  content/zh/docs/contribute/new-content/new-features.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25421 Update kubectl-plugins.md
  content/zh/docs/tasks/extend-kubectl/kubectl-plugins.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25429 Update zh trans safely-drain-node.md
  content/zh/docs/tasks/administer-cluster/safely-drain-node.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#25458 Fix typo in Debug Running Pods task for 1.20
  content/en/docs/tasks/debug-application-cluster/debug-running-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25456 [zh] sync missing period in logging.md
  content/zh/docs/concepts/cluster-administration/logging.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25449 Update guestbook.md
  content/zh/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25146 Update container-runtimes.md
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25444 Update configure-dns-cluster.md
  content/zh/docs/tasks/access-application-cluster/configure-dns-cluster.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#24854 add metric and flag information for BoundServiceAccountTokenVolume
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/XS

#24911 document one should restart all system components after restoring etcd
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#25419 Remove usage of 'we' in kubelet-garbage-collection.md
  content/en/docs/concepts/cluster-administration/kubelet-garbage-collection.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25390 Update 1.18 config.toml for release 1.20
  config.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#25391 Update 1.17 config.toml for release 1.20
  config.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#25434 Update parallel-processing-expansion.md
  content/zh/docs/tasks/job/parallel-processing-expansion.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25447 Update style-guide.md
  content/zh/docs/contribute/style/style-guide.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#25453 Update kubectl.md
  content/zh/docs/contribute/generate-ref-docs/kubectl.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25496 Clarified kubectl generators being deprecated
  content/en/docs/reference/kubectl/conventions.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#25467 Update 1.19 config.toml for release 1.20
  config.toml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#25392 Update 1.16 config.toml for release 1.20
  config.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#25109 Add a mapping table from docker cli to crictl in crictl debugging doc
  content/en/blog/_posts/2020-12-02-dockershim-faq.md
  content/en/docs/tasks/debug-application-cluster/crictl.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/M

#25503 Update release notes for 1.20 release
  content/en/docs/setup/release/notes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XXL

#25494 Add sudo when running systemctl
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#25245 add `pid.available` to the eviction signals list
  content/en/docs/concepts/policy/pid-limiting.md
  content/en/docs/tasks/administer-cluster/out-of-resource.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/S

#25506 [zh] sync install-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23328 Shell script syntax highlighting in README.md
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#25491 Update rollout deployment command
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#25492 Fix broken link to metrics-server
  content/zh/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25479 [zh] Update service.md
  content/zh/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25027 Env var are not updated after a secret update
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25515 Fix formatting error in kubectl debug release note
  content/en/blog/_posts/2020-12-08-kubernetes-release-1.20.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25519 Update release notes for 1.20 release
  content/en/docs/setup/release/notes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#25523 sync install-kubeadm.md
  content/fr/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#25507 Add note shortcode to 'Debugging Kubernetes nodes with crictl'
  content/en/docs/tasks/debug-application-cluster/crictl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25535 Update Homepage French
  content/fr/_index.html
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#25538 Update _index.html
  content/zh/docs/tutorials/kubernetes-basics/_index.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#25511 Update pod-lifecycle.md
  content/zh/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25486 update referring link
  content/zh/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25509 Update zh trans configure-upgrade-etcd.md
  content/zh/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25482 Update kubernetes-api.md
  content/zh/docs/contribute/generate-ref-docs/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25463 Update guestbook-logs-metrics-with-elk.md
  content/zh/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS, tide/merge-method-squash

#25485 Update zh trans configure-pod-configmap.md
  content/zh/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25268 ja: Make docs/setup/release/version-skew-policy.md follow v1.18 of the original text
  content/ja/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#25428 Fix broken link to kubernetes-csi/external-snapshotter/config/crd
  content/en/blog/_posts/2019-12-09-volume-snapshot-beta.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25445 Feature blog for Release 1.20: Kubernetes Volume Snapshot Moves to GA
  content/en/blog/_posts/2020-12-10-Kubernetes-Volume-Snapshot-Moves-to-GA.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L, tide/merge-method-squash

#25550 Fix typo in AppDirect case study
  content/en/case-studies/appdirect/index.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25547 State that no more than one handler is allowed per lifecycle event
  content/en/docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25430 Update validate-dual-stack.md
  content/zh/docs/tasks/network/validate-dual-stack.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25539 Update kubeadm-certs.md
  content/zh/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25551 update install-kubeadm.md
  content/id/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#25569 Update cpu-constraint-namespace.md
  content/zh/docs/tasks/administer-cluster/manage-resources/cpu-constraint-namespace.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25552 Match API reference to version of Kubernetes we're documenting
  content/en/docs/reference/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25577 update reference index.md
  content/zh/docs/reference/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25573 Update memory-default-namespace.md
  content/zh/docs/tasks/administer-cluster/manage-resources/memory-default-namespace.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25570 change zh link for page support doc versions
  content/zh/docs/home/supported-doc-versions.md
  i18n/zh.toml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#25559 Update kubeadm-certs.md
  content/zh/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25560 Create 2019-05-14-expanding-our-contributor-workshops.md
  content/zh/blog/_posts/2019-05-14-expanding-our-contributor-workshops.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25582 Update assign-cpu-resource.md
  content/zh/docs/tasks/configure-pod-container/assign-cpu-resource.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25586 Update security-context.md
  content/zh/docs/tasks/configure-pod-container/security-context.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25572 Match API reference to version of Kubernetes we're documenting
  content/en/docs/reference/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25574 Match API reference to version of Kubernetes we're documenting
  content/en/docs/reference/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25591 Update quota-memory-cpu-namespace.md
  content/zh/docs/tasks/administer-cluster/manage-resources/quota-memory-cpu-namespace.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25590 Update memory-constraint-namespace.md
  content/zh/docs/tasks/administer-cluster/manage-resources/memory-constraint-namespace.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25594 [zh] fix typo
  content/zh/case-studies/appdirect/index.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25529 Update outdated files in the dev-1.19-ko.7 branch
  content/ko/docs/concepts/cluster-administration/networking.md
  content/ko/docs/concepts/cluster-administration/system-metrics.md
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/concepts/overview/working-with-objects/labels.md
  content/ko/docs/concepts/services-networking/ingress-controllers.md
  content/ko/docs/concepts/storage/persistent-volumes.md
  content/ko/docs/concepts/workloads/controllers/daemonset.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/examples/application/job/cronjob.yaml
  content/ko/examples/application/mysql/mysql-configmap.yaml
  content/ko/examples/application/mysql/mysql-services.yaml
  content/ko/examples/application/mysql/mysql-statefulset.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#25558 release-1.17, fix latest version to deprecated version
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/reference/_index.md
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/reference/_index.md
  content/pl/docs/reference/_index.md
  content/zh/docs/concepts/architecture/nodes.md
  layouts/shortcodes/latest-release-notes.html
Labels: approved, cncf-cla: yes, language/en, language/ko, language/pl, language/zh, lgtm, sig/docs, size/S

#25604 Update imperative-command.md
  content/zh/docs/tasks/manage-kubernetes-objects/imperative-command.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25556 [zh]Sync En, "State that no more than one handler is allowed per lifecycl…
  content/zh/docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25610 Update managing-secret-using-kubectl.md
  content/zh/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25557 release-1.18, fix latest version to deprecated version
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/reference/using-api/api-concepts.md
  content/ja/docs/concepts/architecture/nodes.md
  content/ja/docs/concepts/configuration/secret.md
  content/ja/docs/reference/_index.md
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/reference/_index.md
  content/pl/docs/reference/_index.md
  content/pt/docs/reference/_index.md
  content/ru/docs/concepts/architecture/nodes.md
  content/zh/docs/concepts/architecture/nodes.md
  content/zh/docs/concepts/configuration/secret.md
  layouts/shortcodes/latest-release-notes.html
Labels: approved, cncf-cla: yes, language/en, language/ja, language/ko, language/pl, language/pt, language/ru, language/zh, lgtm, sig/docs, size/M

#25553 release-1.19, fix latest and deprecated parameters
  config.toml
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/using-api/server-side-apply.md
  content/ja/docs/concepts/architecture/nodes.md
  content/ja/docs/concepts/configuration/secret.md
  content/ja/docs/reference/_index.md
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/reference/_index.md
  content/pl/docs/reference/_index.md
  content/pt/docs/reference/_index.md
  content/ru/docs/concepts/architecture/nodes.md
  content/zh/docs/concepts/architecture/nodes.md
  content/zh/docs/concepts/configuration/secret.md
  content/zh/docs/contribute/new-content/overview.md
  content/zh/docs/reference/_index.md
  content/zh/docs/reference/using-api/server-side-apply.md
Labels: approved, cncf-cla: yes, language/en, language/ja, language/ko, language/pl, language/pt, language/ru, language/zh, lgtm, sig/docs, size/M

#25555 Add links to other vendors and add PX-Backup for CSI Snapshot GA blog
  content/en/blog/_posts/2020-12-10-Kubernetes-Volume-Snapshot-Moves-to-GA.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#25470 feature blog for Kubernetes 1.20: Granular Control of Volume Permission Changes
  content/en/blog/_posts/2020-12-14-Granular-Control-of-Volume-Permission-Changes.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M
