Repository kubernetes/website, pull requests merged in 2020-07, with the labels that each got.

#21904 Update the correct values for allocated resources per namespace
  content/en/docs/concepts/configuration/manage-resources-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22061 add ServiceAccountIssuerDiscovery to feature gates docs
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22062 Update kops.md
  content/en/docs/setup/production-environment/tools/kops.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#20524 Add Endpoints into glossary
  content/en/docs/reference/glossary/endpoint.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/S

#22139 Adding HTTP(S) to the acceptable traffic
  content/en/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/XS

#22034 Add version skew policy for kube-proxy
  content/en/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/S

#22147 Fix a broken link in concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22177 Doc: Clarify PVC access modes in third paragraph
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#21999 Explain ConfigMap volume source items array
  content/en/docs/concepts/configuration/configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/apps, sig/docs, size/M

#22166 Add blog post: Overview of how to work with Terraform and Kubernetes
  content/en/blog/_posts/2020-06-29-working-with-terraform-and-kubernetes.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#22206 Add zh trans for docs/reference/glossary/mainfest.md
  content/zh/docs/reference/glossary/mainfest.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#22198 Add zh trans for content/en/docs/reference/glossary/disruption.md
  content/zh/docs/reference/glossary/disruption.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#22208 Add zh trans for docs/reference/glossary/master.md
  content/zh/docs/reference/glossary/master.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#22234 Fix Chinese page command line error in "content/zh/docs/tasks/configure-pod-container/configure-pod-configmap.md"
  content/zh/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22128 Update outdated files in dev-1.18-ko.7
  content/ko/docs/concepts/_index.md
  content/ko/docs/concepts/cluster-administration/cloud-providers.md
  content/ko/docs/concepts/configuration/configmap.md
  content/ko/docs/concepts/configuration/overview.md
  content/ko/docs/concepts/configuration/resource-bin-packing.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/extend-kubernetes/extend-cluster.md
  content/ko/docs/concepts/overview/what-is-kubernetes.md
  content/ko/docs/concepts/overview/working-with-objects/namespaces.md
  content/ko/docs/concepts/overview/working-with-objects/object-management.md
  content/ko/docs/concepts/security/overview.md
  content/ko/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md
  content/ko/docs/concepts/storage/volume-snapshot-classes.md
  content/ko/docs/concepts/storage/volumes.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/concepts/workloads/controllers/garbage-collection.md
  content/ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/ko/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ko/docs/contribute/advanced.md
  content/ko/docs/contribute/new-content/open-a-pr.md
  content/ko/docs/home/_index.md
  content/ko/docs/reference/glossary/cronjob.md
  content/ko/docs/reference/glossary/job.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/reference/kubectl/overview.md
  content/ko/docs/setup/best-practices/cluster-large.md
  content/ko/docs/setup/best-practices/node-conformance.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/tasks/_index.md
  content/ko/docs/tasks/access-application-cluster/_index.md
  content/ko/docs/tasks/administer-cluster/_index.md
  content/ko/docs/tasks/administer-cluster/network-policy-provider/cilium-network-policy.md
  content/ko/docs/tasks/configure-pod-container/_index.md
  content/ko/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/ko/docs/tasks/debug-application-cluster/_index.md
  content/ko/docs/tasks/extend-kubectl/kubectl-plugins.md
  content/ko/docs/tasks/inject-data-application/_index.md
  content/ko/docs/tasks/manage-daemon/_index.md
  content/ko/docs/tasks/manage-daemon/rollback-daemon-set.md
  content/ko/docs/tasks/manage-gpus/scheduling-gpus.md
  content/ko/docs/tasks/manage-hugepages/scheduling-hugepages.md
  content/ko/docs/tasks/manage-kubernetes-objects/_index.md
  content/ko/docs/tasks/network/_index.md
  content/ko/docs/tasks/run-application/_index.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/ko/docs/tasks/tls/_index.md
  content/ko/docs/tasks/tools/_index.md
  content/ko/docs/tasks/tools/install-kubectl.md
  content/ko/docs/tutorials/_index.md
  content/ko/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/ko/docs/tutorials/stateful-application/basic-stateful-set.md
  content/ko/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
  content/ko/partners/_index.html
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#22232 Fix issue with k8s.io/ko/docs/concepts/overview/components.md
  content/ko/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#22238 Fix uppercase letter in task index
  content/es/docs/tasks/_index.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS

#22237 Update replicationcontroller.md
  content/es/docs/concepts/workloads/controllers/replicationcontroller.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS

#22236 Update create-external-load-balancer.md
  content/zh/docs/tasks/access-application-cluster/create-external-load-balancer.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#22244 Update configure-pod-configmap.md
  content/zh/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22231 minor doc typo
  content/en/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22026 ja: Make docs/concepts/_index.md follow v1.17 of the original text
  content/ja/docs/concepts/_index.md
  content/ja/docs/concepts/overview/working-with-objects/kubernetes-objects.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#22257 Update configure-pod-configmap.md
  content/zh/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#22155 Fix incorrect notation of 'directory' into Korean
  content/ko/docs/concepts/overview/working-with-objects/annotations.md
  content/ko/docs/concepts/overview/working-with-objects/object-management.md
  content/ko/docs/concepts/policy/pod-security-policy.md
  content/ko/docs/concepts/workloads/controllers/daemonset.md
  content/ko/docs/contribute/style/write-new-topic.md
  content/ko/docs/reference/glossary/volume.md
  content/ko/docs/setup/best-practices/certificates.md
  content/ko/docs/tasks/access-application-cluster/access-cluster.md
  content/ko/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
  content/ko/docs/tasks/configure-pod-container/static-pod.md
  content/ko/docs/tasks/tools/install-kubectl.md
  content/ko/docs/tutorials/configuration/configure-redis-using-configmap.md
  content/ko/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#22263 Fix issue with k8s.io/ko/docs/concepts/overview/working-with-objects/
  content/ko/docs/concepts/overview/working-with-objects/_index.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#22202 Update access-cluster.md
  content/zh/docs/tasks/access-application-cluster/access-cluster.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22275 Update debug-application-introspection.md
  content/zh/docs/tasks/debug-application-cluster/debug-application-introspection.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22280 Add celestehorgan to sig-docs-en-owners
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#22268 Update zh trans kubeadm_upgrade_plan.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_plan.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22271 Update zh trans kubeadm_upgrade_diff.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_diff.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22245 [zh] Sync contribution guides (4)
  content/zh/docs/contribute/new-content/_index.md
  content/zh/docs/contribute/new-content/blogs-case-studies.md
  content/zh/docs/contribute/new-content/new-features.md
  content/zh/docs/contribute/new-content/open-a-pr.md
  content/zh/docs/contribute/new-content/overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#22007 Update nodes.md for v1.17
  content/ja/docs/concepts/architecture/nodes.md
  content/ja/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#22261 Fix issue with k8s.io/ko/docs/concepts/overview/kubernetes-api.md
  content/ko/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#22270 Fix issue of broken links to translated docs #2
  content/ko/docs/concepts/cluster-administration/cluster-administration-overview.md
  content/ko/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/ko/docs/concepts/extend-kubernetes/extend-cluster.md
  content/ko/docs/concepts/policy/limit-range.md
  content/ko/docs/concepts/policy/resource-quotas.md
  content/ko/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/ko/docs/concepts/storage/storage-classes.md
  content/ko/docs/contribute/style/write-new-topic.md
  content/ko/docs/reference/using-api/api-overview.md
  content/ko/docs/reference/using-api/client-libraries.md
  content/ko/docs/setup/best-practices/cluster-large.md
  content/ko/docs/setup/learning-environment/minikube.md
  content/ko/docs/setup/production-environment/tools/kops.md
  content/ko/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/ko/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#22180 update basic-stateful-set.md
  content/zh/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#22200 Add zh trans for docs/reference/glossary/host-aliases.md
  content/zh/docs/reference/glossary/host-aliases.md
Labels: approved, area/blog, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/M

#22289 Update last link on open-a-pr.md
  content/en/docs/contribute/new-content/open-a-pr.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22254 add no_list param
  content/en/docs/concepts/cluster-administration/_index.md
  content/en/docs/concepts/containers/_index.md
  content/en/docs/concepts/extend-kubernetes/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22295 fix broken link:http://kubernetes.io/docs/contribute/style/page-templ…
  README-uk.md
Labels: approved, cncf-cla: yes, language/uk, lgtm, sig/docs, size/XS

#22243 [zh] Sync contribution guidelines (3)
  content/zh/docs/contribute/style/_index.md
  content/zh/docs/contribute/style/content-guide.md
  content/zh/docs/contribute/style/content-organization.md
  content/zh/docs/contribute/style/hugo-shortcodes/example1.md
  content/zh/docs/contribute/style/hugo-shortcodes/example2.md
  content/zh/docs/contribute/style/hugo-shortcodes/index.md
  content/zh/docs/contribute/style/page-content-types.md
  content/zh/docs/contribute/style/page-templates.md
  content/zh/docs/contribute/style/style-guide.md
  content/zh/docs/contribute/style/write-new-topic.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#22228 Remove legacy data
  data/concepts.yml
  data/docs-home.yml
  data/globals.yml
  data/overrides.yml
  data/reference.yml
  data/repos.yml
  data/search.yml
  data/setup.yml
  data/tasks.yml
  data/tools.yml
  data/tutorials.yml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XL

#22307 Specify a Ruby version for netlify
  netlify.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#22219 Fix id broken link.
  content/id/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#22241 [zh] Sync contribution changes (1)
  content/zh/docs/contribute/_index.md
  content/zh/docs/contribute/advanced.md
  content/zh/docs/contribute/intermediate.md
  content/zh/docs/contribute/localization.md
  content/zh/docs/contribute/participate/_index.md
  content/zh/docs/contribute/participate/roles-and-responsibilties.md
  content/zh/docs/contribute/participating.md
  content/zh/docs/contribute/start.md
  content/zh/docs/contribute/suggesting-improvements.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#22304 Update ingress-controllers.md
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22225 add info about updating docsy theme
  README.md
  content/en/docs/contribute/new-content/open-a-pr.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#21811 add define interdependent environment variables page
  content/en/docs/tasks/inject-data-application/define-interdependent-environment-variables.md
  content/en/examples/pods/inject/dependent-envars.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#22317 Corrected a Typo
  content/en/docs/tasks/debug-application-cluster/determine-reason-pod-failure.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#15584 Add content/es/doc/contribute/start
  content/es/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/L

#22321 Replace deprecated shortcodes
  content/es/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/S

#22248 Fix issue with k8s.io/docs/reference/command-line-tools-reference/fea…
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22322 fix: zh doc missleading to english module 2
  content/zh/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22324 fix: zh doc missleading to english module 3
  content/zh/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22325 fix: zh doc missleading to english Start Interactive Tutorial
  content/zh/docs/tutorials/kubernetes-basics/explore/explore-intro.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22326 fix: zh doc missleading to english module 4, and translate.
  content/zh/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22331 fix: zh doc missleading to english module 5, and translate.
  content/zh/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22175 Remove capture shortcodes & warn on future use.
  content/en/docs/tasks/tls/manual-rotation-of-ca-certificates.md
  content/es/docs/concepts/workloads/controllers/deployment.md
  content/es/docs/concepts/workloads/controllers/garbage-collection.md
  content/es/docs/concepts/workloads/controllers/jobs-run-to-completion.md
  content/es/docs/concepts/workloads/controllers/replicaset.md
  content/es/docs/concepts/workloads/pods/pod.md
  content/fr/docs/reference/kubectl/kubectl.md
  content/fr/docs/tasks/configure-pod-container/configure-service-account.md
  content/id/docs/concepts/policy/limit-range.md
  content/id/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/id/docs/reference/access-authn-authz/rbac.md
  content/id/docs/setup/best-practices/multiple-zones.md
  content/id/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/id/docs/tasks/access-application-cluster/create-external-load-balancer.md
  content/id/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/id/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
  content/id/docs/tasks/configure-pod-container/security-context.md
  content/id/docs/tasks/debug-application-cluster/get-shell-running-container.md
  content/id/docs/tasks/inject-data-application/define-command-argument-container.md
  content/id/docs/tasks/run-application/horizontal-pod-autoscaler.md
  content/ko/docs/reference/kubectl/overview.md
  content/ko/docs/tasks/debug-application-cluster/determine-reason-pod-failure.md
  content/ru/docs/reference/kubectl/kubectl.md
  content/zh/docs/reference/command-line-tools-reference/kube-proxy.md
  content/zh/docs/reference/command-line-tools-reference/kube-scheduler.md
  content/zh/docs/reference/command-line-tools-reference/kubelet.md
  content/zh/docs/reference/kubectl/kubectl.md
  layouts/shortcodes/capture.html
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, language/es, language/fr, language/id, language/ko, language/ru, language/zh, lgtm, sig/docs, size/L

#22011 Fix example tests for English site
  content/en/examples/README.md
  content/en/examples/application/php-apache.yaml
  content/en/examples/examples_test.go
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/testing, size/XXL

#22279 Fix wrong uppercase in content/it/docs/concepts/index
  content/it/docs/concepts/_index.md
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/XS

#22338 ja: Make docs/setup/production-environment/on-premises-vm/_index.md follow v1.17 of the original text
  content/ja/docs/setup/production-environment/on-premises-vm/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#22310 Make "Versions" string on the navbar translatable
  config.toml
  i18n/en.toml
  i18n/ja.toml
  layouts/partials/navbar-version-selector.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#22333 fix: zh doc missleading to english module 6
  content/zh/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22334 fix: zh doc missleading to en link.
  content/zh/docs/tutorials/kubernetes-basics/update/update-intro.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22300 chore: Migrate existing master-node-communication to control-plane-node-communication
  content/id/docs/concepts/architecture/control-plane-node-communication.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#22349 Fix typo: Deploymnet→Deployment
  content/ja/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#22312 Add Bahasa Indonesia translation for managing tls
  content/id/docs/tasks/tls/_index.md
  content/id/docs/tasks/tls/managing-tls-in-a-cluster.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#22375 ja: remove docs/setup/production-environment/turnkey/stackpoint.md
  content/ja/docs/setup/production-environment/turnkey/stackpoint.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#22368 ja: Make docs/setup/production-environment/turnkey/_index.md follow v1.17 of the original text
  content/ja/docs/setup/production-environment/turnkey/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#21943 Translate glossary/cncf into Japanese
  content/ja/docs/reference/glossary/cncf.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#22332 fix: zh doc missleading to en link.
  content/zh/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22274 Update debug-service.md
  content/zh/docs/tasks/debug-application-cluster/debug-service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#22362 Fix issue with 'Linux' and 'Windows' notation in Korean docs
  content/ko/docs/concepts/configuration/organize-cluster-access-kubeconfig.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/workloads/pods/init-containers.md
  content/ko/docs/concepts/workloads/pods/pod.md
  content/ko/docs/reference/glossary/docker.md
  content/ko/docs/setup/learning-environment/minikube.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/tools/kops.md
  content/ko/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
  content/ko/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
  content/ko/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md
  content/ko/docs/tasks/tools/install-kubectl.md
  content/ko/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, kind/bug, language/ko, lgtm, sig/docs, size/L

#22376 Fix issue of document link in some documents
  content/en/docs/concepts/cluster-administration/monitoring.md
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/concepts/configuration/pod-overhead.md
  content/en/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/en/docs/contribute/style/content-guide.md
  content/en/docs/reference/access-authn-authz/certificate-signing-requests.md
  content/en/docs/reference/command-line-tools-reference/kube-scheduler.md
  content/en/docs/reference/glossary/volume.md
  content/en/docs/reference/using-api/api-concepts.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/setup/release/notes.md
  content/en/docs/tasks/administer-cluster/dns-custom-nameservers.md
  content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md
  content/en/docs/tasks/configure-pod-container/security-context.md
  content/en/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
  content/en/docs/tasks/inject-data-application/podpreset.md
  content/en/docs/tasks/tools/install-minikube.md
  content/en/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#22287 Update Japanese translation of config.toml
  config.toml
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#22250 Follow v1.17 ja version: concepts/overview/kubernetes-api.md
  content/ja/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#22121 update minikube drivers
  content/ja/docs/setup/learning-environment/minikube.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#22301 create archetype files, _index cleanup
  archetypes/concepts.md
  archetypes/tasks.md
  archetypes/tutorials.md
  content/en/docs/concepts/example-concept-template.md
  content/en/docs/contribute/_index.md
  content/en/docs/contribute/style/write-new-topic.md
  content/en/docs/setup/_index.md
  content/en/docs/tasks/_index.md
  content/en/docs/tasks/example-task-template.md
  content/en/docs/tutorials/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#22112 Make minor improvements throughout the Japanese translation
  content/ja/docs/concepts/_index.md
  content/ja/docs/concepts/containers/runtime-class.md
  content/ja/docs/concepts/overview/what-is-kubernetes.md
  content/ja/docs/concepts/overview/working-with-objects/namespaces.md
  content/ja/docs/concepts/workloads/pods/init-containers.md
  content/ja/docs/home/supported-doc-versions.md
  content/ja/docs/setup/_index.md
  content/ja/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
  content/ja/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/ja/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/ja/docs/tasks/debug-application-cluster/debug-init-containers.md
  content/ja/docs/tasks/debug-application-cluster/get-shell-running-container.md
  content/ja/docs/tutorials/kubernetes-basics/_index.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#21703 Mark StreamingProxyRedirects deprecated in 1.19
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22323 Fixed space issue
  content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22179 Adding SIG-Windows Spotlight blog post with images.
  content/en/blog/_posts/2020-06-30-SIG-Windows-Spotlight/KubernetesComputer_transparent.png
  content/en/blog/_posts/2020-06-30-SIG-Windows-Spotlight/PeopleDoodle_transparent.png
  content/en/blog/_posts/2020-06-30-SIG-Windows-Spotlight/cgroupsNamespacesComboPic.png
  content/en/blog/_posts/2020-06-30-SIG-Windows-Spotlight/index.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, sig/windows, size/L

#22316 Fix indentation of list and code snippet for kms-provider
  content/en/docs/tasks/administer-cluster/kms-provider.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#22396 svg color update
  static/images/copycode.svg
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#22397 Fix broken capture shortcode
  content/id/docs/concepts/extend-kubernetes/operator.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/id, lgtm, sig/docs, size/XS

#22319 ID translation for create cluster
  content/id/docs/tutorials/kubernetes-basics/create-cluster/_index.md
  content/id/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/id/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#22320 ID Localization for Setup - Container Runtime.
  content/id/docs/setup/production-environment/container-runtimes.md
  content/id/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#22346 [zh] fix examples test
  content/zh/examples/admin/sched/my-scheduler.yaml
  content/zh/examples/application/deployment-retainkeys.yaml
  content/zh/examples/controllers/fluentd-daemonset-update.yaml
  content/zh/examples/controllers/fluentd-daemonset.yaml
  content/zh/examples/examples_test.go
  content/zh/examples/policy/baseline-psp.yaml
  content/zh/examples/service/networking/network-policy-allow-all-egress.yaml
  content/zh/examples/service/networking/network-policy-allow-all-ingress.yaml
  content/zh/examples/service/networking/network-policy-default-deny-all.yaml
  content/zh/examples/service/networking/network-policy-default-deny-egress.yaml
  content/zh/examples/service/networking/network-policy-default-deny-ingress.yaml
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/L

#22402 fix: zh docs misleading to en link.
  content/zh/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#20590 Fix minikube image 'project:hello-minikube-zero-install' has been suspended.
  content/ru/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#22400 Fix HTML table content in kubectl.md
  content/ru/docs/reference/kubectl/kubectl.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XL

#22345 ID translation for suggest-improvements
  content/id/docs/contribute/suggesting-improvements.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#21776 Translate tasks/administer-cluster/access-cluster-services.md into Ko…
  content/ko/docs/tasks/administer-cluster/access-cluster-services.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#22379 Fix issue of document link in some ko documents
  content/ko/docs/concepts/configuration/manage-resources-containers.md
  content/ko/docs/concepts/configuration/pod-overhead.md
  content/ko/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/ko/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
  content/ko/docs/tasks/tools/install-minikube.md
  content/ko/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#22405 ja: remove docs/setup/release/building-from-source.md
  content/ja/docs/setup/release/building-from-source.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#21937 Translate /docs/tasks/inject-data-application/environment-variable-expose-pod-information/ into Japanese
  content/ja/docs/tasks/inject-data-application/environment-variable-expose-pod-information.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#22407 ja: remove docs/concepts/cluster-administration/controller-metrics.md
  content/ja/docs/concepts/cluster-administration/controller-metrics.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#22355 ID Localization for Contribute - Participate.
  content/id/docs/contribute/participate/_index.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#22142 German Styleguide
  content/de/docs/contribute/localization.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/S

#22383 Remove slack web hook integration script
  functions-src/deploy-succeeded.js
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#22342 Translate tutorials/stateful-application/mysql-wordpress-persistent-volume into Japanese
  content/ja/docs/tutorials/stateful-application/_index.md
  content/ja/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#22410 ja: Make docs/setup/release/version-skew-policy.md follow v1.17
  content/ja/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#22395 Fix typo in https://kubernetes.io/blog/2020/06/30/sig-windows-spotlight-2020/
  content/en/blog/_posts/2020-06-30-SIG-Windows-Spotlight/index.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22089 Document the deprecation of featuregate ResourceLimitsPriorityFunction (1.19)
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/XS

#21125 Translation update for Pods
  content/fr/docs/concepts/workloads/pods/pod-lifecycle.md
  content/fr/docs/concepts/workloads/pods/pod-overview.md
  content/fr/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#22423 fix: zh docs misleading to en link.
  content/zh/docs/tasks/configure-pod-container/assign-memory-resource.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#21210 Documentation for new feature setHostnameAsFQDN
  content/en/docs/concepts/services-networking/dns-pod-service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#21928 patch support: KEP 1498 Kubernetes yearly support period
  content/en/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21437 Add Scheduling Configuration reference doc
  content/en/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/en/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/scheduling/config.md
  content/en/docs/reference/scheduling/policies.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/L

#22431 fix: zh docs mislead to en link.
  content/zh/includes/task-tutorial-prereqs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22432 fix: zh doc mislead to en link.
  content/zh/docs/setup/learning-environment/minikube.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22390 docs: Translate Exposing External IP Address Tutorial
  content/id/docs/tutorials/stateless-application/_index.md
  content/id/docs/tutorials/stateless-application/expose-external-ip-address.md
  content/id/examples/service/load-balancer-example.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#22421 Rearrange paragraphs in iptables bridged traffic section in install kubeadm
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#22436 Fix wrong note shortcode
  content/en/docs/contribute/participate/roles-and-responsibilties.md
  content/zh/docs/contribute/participate/roles-and-responsibilties.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/S

#22259 Add content/es/docs/concepts/overview/components.md
  content/es/docs/concepts/overview/components.md
  content/es/docs/reference/glossary/controller.md
  content/es/docs/reference/glossary/etcd.md
  content/es/docs/reference/glossary/kube-apiserver.md
  content/es/docs/reference/glossary/kube-controller-manager.md
  content/es/docs/reference/glossary/kube-scheduler.md
  content/es/docs/reference/glossary/namespace.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/L, tide/merge-method-squash

#22403 docs: Translate Share Process Namespace between Containers in a Pod to ID.
  content/id/docs/tasks/configure-pod-container/share-process-namespace.md
  content/id/examples/pods/share-process-namespace.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#22437 Create 2020-03-25-kubernetes-1.18-release-announcement.md
  content/zh/blog/_posts/2020-03-25-kubernetes-1.18-release-announcement.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22439 fix: zh doc mislead to en link.
  content/zh/docs/concepts/workloads/controllers/cron-jobs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22433 Avoid using deprecated commands in task
  content/en/docs/tasks/extend-kubernetes/http-proxy-access-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22442 Fix the usage of skew shortcode in the version-skew-policy page
  content/en/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22183 Clean up style user joutneys css file
  static/css/style_user_journeys.css
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XL

#22277 Fix display of dropdown on case studies
  assets/scss/_custom.scss
  layouts/case-studies/single-baseof.html
  layouts/partials/navbar-lang-selector.html
  layouts/partials/navbar-version-selector.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#22284 Add page for PR wranglers
  content/en/docs/contribute/advanced.md
  content/en/docs/contribute/participate/pr-wranglers.md
  content/en/docs/contribute/participate/roles-and-responsibilties.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#22401 Mark `make docker-serve` as deprecated in the docs
  content/en/docs/contribute/generate-ref-docs/kubectl.md
  content/en/docs/contribute/generate-ref-docs/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22240 Translate reference/command-line-tools-reference/feature-gates.md int…
  content/ko/docs/reference/command-line-tools-reference/_index.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#22409 Localization ja
  content/ja/docs/contribute/localization.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#21588 Updating AppProtocol docs for 1.19 release
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/XS

#22468 zh: Remove redundancy content from deployment docs
  content/zh/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22456 fix portworx io priority parameter name [ZH]
  content/zh/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22454 fix portworx io priority parameter name [EN]
  content/en/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#22463 remove example-tutorial template
  archetypes/tutorials.md
  static/_redirects
  static/example-templates/example-tutorial-template.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#22273 Add a kubectl tip for working with keys with dots
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22452 Fix description of back-off count reset
  content/en/docs/concepts/workloads/controllers/job.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22380 fix zh doc misleading to en link.
  content/zh/docs/tutorials/kubernetes-basics/update/update-interactive.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22475 content/en/case-studies: remove OWNERS
  content/en/case-studies/OWNERS
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#22242 [zh] Sync contribution guidelines (2)
  content/zh/docs/contribute/generate-ref-docs/_index.md
  content/zh/docs/contribute/generate-ref-docs/contribute-upstream.md
  content/zh/docs/contribute/generate-ref-docs/kubectl.md
  content/zh/docs/contribute/generate-ref-docs/kubernetes-api.md
  content/zh/docs/contribute/generate-ref-docs/kubernetes-components.md
  content/zh/docs/contribute/generate-ref-docs/prerequisites-ref-docs.md
  content/zh/docs/contribute/generate-ref-docs/quickstart.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#22246 [zh] Sync contribution guidelines (5)
  content/zh/docs/contribute/review/_index.md
  content/zh/docs/contribute/review/for-approvers.md
  content/zh/docs/contribute/review/reviewing-prs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#21913 [zh] Sync control-plane-node-communication
  content/zh/docs/concepts/architecture/control-plane-node-communication.md
  content/zh/docs/concepts/architecture/master-node-communication.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22445 Update deployment.md
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#21318 [zh] Synchronize the README file
  README-zh.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22457 Fix the example values in the first examples
  content/en/docs/concepts/overview/working-with-objects/common-labels.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22422 escape the angle brackets for token to show in the table.
  content/en/docs/reference/using-api/api-concepts.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#22392 Fix erroneous RSS feed link in security.md
  content/en/docs/reference/issues-security/security.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22482 Fix markdown of header
  content/ru/docs/home/supported-doc-versions.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#22281 Add es/docs/concepts/configuration/pod-overhead.md
  content/es/docs/concepts/configuration/pod-overhead.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/M

#22455 fix portworx io priority parameter name [KO]
  content/ko/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#22352 Add translation of "taint and toleration" ja
  content/ja/docs/concepts/scheduling/taint-and-toleration.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#22424 fix: markdown formatting on version-skew-policy.md
  content/ja/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#22399 Updates for minor spelling correction
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22484 correct the sample content
  content/en/docs/concepts/policy/pod-security-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22486 Add content/es/docs/tasks/debug-application-cluster
  content/es/docs/concepts/_index.md
  content/es/docs/reference/_index.md
  content/es/docs/tasks/_index.md
  content/es/docs/tasks/debug-application-cluster/_index.md
  content/es/docs/tasks/debug-application-cluster/audit.md
  content/es/docs/tasks/debug-application-cluster/debug-init-containers.md
  content/es/docs/tasks/debug-application-cluster/logging-elasticsearch-kibana.md
  content/es/docs/tasks/debug-application-cluster/logging-stackdriver.md
  content/es/docs/tasks/manage-daemon/_index.md
  content/es/examples/audit/audit-policy.yaml
  content/es/examples/debug/counter-pod.yaml
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XXL
