Repository kubernetes/website, pull requests merged in 2020-10, with the labels that each got.

#23536 update README-id.md
  README-id.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#24152 Update ID Docs Setup Page
  content/id/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#24285 Fix Common Name in Ingress TLS docs to match the name used in example.
  content/en/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24327 Modify Understanding init containers section
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24306 Add a temporary banner in the PR template to try and reduce the volume of spam PRs
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#24333 Support canonical URIs for blog articles
  content/en/blog/_posts/2020-10-01-contributing-to-the-development-guide/index.md
  layouts/blog/baseof.html
Labels: approved, area/blog, area/web-development, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23537 update README-it.md
  README-it.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#24231 Correct a typo in horizontal-pod-autoscale file
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24288 Update certificate-signing-requests.md
  content/en/docs/reference/access-authn-authz/certificate-signing-requests.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24342 Hacktoberfest readme update
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#24343 Update triage/support label references to kind/support
  .github/ISSUE_TEMPLATE/support.md
  content/ko/docs/contribute/review/for-approvers.md
  content/ru/docs/contribute/intermediate.md
  content/zh/docs/contribute/review/for-approvers.md
Labels: approved, cncf-cla: yes, language/ko, language/ru, language/zh, lgtm, sig/docs, size/S

#24183 Add post-filter part in scheduling-framework for id
  content/id/docs/concepts/scheduling/scheduling-framework.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#24172 Update ja/docs/tasks/administer-cluster/developing-cloud-controller-manager.md
  content/ja/docs/tasks/administer-cluster/developing-cloud-controller-manager.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#23959 fixing language issues on HA-related FR content
  content/fr/docs/setup/production-environment/tools/kubeadm/ha-topology.md
  content/fr/docs/setup/production-environment/tools/kubeadm/high-availability.md
  content/fr/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#24319 Translate Minikube page to Bahasa Indonesia
  content/id/docs/setup/learning-environment/_index.md
  content/id/docs/setup/learning-environment/minikube.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XL

#24348 Update triage/support label in for-approvers doc
  content/en/docs/contribute/review/for-approvers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24037 Fix typos
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/reference/access-authn-authz/rbac.md
  content/en/docs/reference/using-api/health-checks.md
  content/en/docs/tasks/extend-kubectl/kubectl-plugins.md
  content/zh/docs/concepts/configuration/manage-resources-containers.md
  content/zh/docs/tasks/extend-kubectl/kubectl-plugins.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, language/id, language/zh, lgtm, sig/docs, size/S

#24297 Fix issue with tasks/administer-cluster/out-of-resource/
  content/en/docs/tasks/administer-cluster/out-of-resource.md
  content/en/examples/admin/resource/memory-available.sh
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#24311 Clarify the pod termination process.
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/S

#24353 Run Hugo as user "hugo" in local dev container
  Dockerfile
  Makefile
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#24159 add page: zh-task-define-interdependent-environment-variables, fix #24157
  content/zh/docs/tasks/inject-data-application/define-interdependent-environment-variables.md
  content/zh/examples/pods/inject/dependent-envars.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24085 Update ja/docs/concepts/overview/working-with-objects/labels.md
  content/ja/docs/concepts/overview/working-with-objects/labels.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#24360 reverting hacktoberfest changes
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#24110 Fix typo
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, sig/windows, size/XS

#23557 [zh] Translate declarative-config task
  content/zh/docs/tasks/manage-kubernetes-objects/declarative-config.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#24363 Removed core-object tag
  content/en/docs/reference/glossary/kubelet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24125 [zh] Localize /docs/tasks/debug-application-cluster/logging-stackdriver.md
  content/zh/docs/tasks/debug-application-cluster/logging-stackdriver.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#24368 i18n(zh): fix kubectl reference link issue
  content/zh/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24259 Remove zh/docs/concepts/cluster-administration/monitoring.md
  content/zh/docs/concepts/cluster-administration/monitoring.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/zh, lgtm, sig/docs, size/L

#24257 Clean up zh training content
  content/zh/docs/tutorials/_index.md
  content/zh/docs/tutorials/online-training/_index.md
  content/zh/docs/tutorials/online-training/overview.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/zh, lgtm, sig/docs, size/L

#24258 Clean up zh controller-metrics.md
  content/zh/docs/concepts/cluster-administration/controller-metrics.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/zh, lgtm, sig/docs, size/M

#24341 subscribe button translate
  i18n/vi.toml
Labels: approved, cncf-cla: yes, language/vi, lgtm, sig/docs, size/XS

#24374 Update encrypt-data.md
  content/zh/docs/tasks/administer-cluster/encrypt-data.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24375 Update kubectl.md
  content/zh/docs/reference/kubectl/kubectl.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#24376 Update 2019-06-19-kubernetes-1-15-release-announcement.md
  content/en/blog/_posts/2019-06-19-kubernetes-1-15-release-announcement.md
  content/zh/docs/concepts/overview/working-with-objects/labels.md
Labels: approved, area/blog, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/XS

#24378 glossary: translate applications and cgroup into Bahasa
  content/id/docs/reference/glossary/applications.md
  content/id/docs/reference/glossary/cgroup.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/S

#24379 glossary: translate cluster and cluster-operator into Bahasa
  content/id/docs/reference/glossary/cluster-operator.md
  content/id/docs/reference/glossary/cluster.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#24151 Update outdated files in the dev-1.19-ko.3 branch
  content/ko/docs/concepts/configuration/configmap.md
  content/ko/docs/concepts/configuration/manage-resources-containers.md
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/concepts/overview/kubernetes-api.md
  content/ko/docs/concepts/policy/resource-quotas.md
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ko/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/ko/docs/concepts/services-networking/endpoint-slices.md
  content/ko/docs/concepts/services-networking/ingress.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/storage/storage-classes.md
  content/ko/docs/concepts/storage/volumes.md
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/ko/docs/contribute/suggesting-improvements.md
  content/ko/docs/reference/kubectl/overview.md
  content/ko/docs/reference/scheduling/policies.md
  content/ko/docs/reference/using-api/api-overview.md
  content/ko/docs/setup/best-practices/node-conformance.md
  content/ko/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/ko/docs/tasks/administer-cluster/network-policy-provider/cilium-network-policy.md
  content/ko/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy.md
  content/ko/docs/tasks/manage-kubernetes-objects/imperative-command.md
  content/ko/docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/ko/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md
  content/ko/partners/_index.html
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#24218 Translate tasks/job/coarse-parallel-processing-work-queue in Korean
  content/ko/docs/tasks/job/coarse-parallel-processing-work-queue.md
  content/ko/examples/application/job/rabbitmq/job.yaml
  content/ko/examples/application/job/rabbitmq/worker.py
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#24370 Update ko/docs/concepts/overview/working-with-objects/common-labels/
  content/ko/docs/concepts/overview/working-with-objects/common-labels.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#24377 glossary: translate annotation and api-group into Bahasa
  content/id/docs/reference/glossary/annotation.md
  content/id/docs/reference/glossary/api-group.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#24186 Shrink site front page video banner background
  content/en/_common-resources/images/kub_video_banner_homepage.jpg
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24385 update tooltip styling to bootstrap
  assets/scss/_custom.scss
  assets/scss/_variables_project.scss
  config.toml
  layouts/partials/css.html
  layouts/shortcodes/glossary_tooltip.html
  static/css/custom-jekyll/tags.css
Labels: approved, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/M

#24391 Completing glossary translation for Bahasa pt. 4
  content/id/docs/reference/glossary/configmap.md
  content/id/docs/reference/glossary/container-env-variables.md
  content/id/docs/reference/glossary/container-runtime.md
  content/id/docs/reference/glossary/container.md
  content/id/docs/reference/glossary/control-plane.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#24302 Clarify signerName requirements for CertificateSigningRequest
  content/en/docs/reference/access-authn-authz/certificate-signing-requests.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/XS

#24051 Add curl to required packages in kubectl install
  content/en/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cli, sig/docs, size/XS

#24095 Update traefik links in ingress-controllers.md
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24293 Fix missing command in helm search statement
  content/en/docs/tasks/service-catalog/install-service-catalog-using-helm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24373 Add a util script for localization team
  scripts/lsync.sh
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#24392 Completing glossary translation for Bahasa pt. 5
  content/id/docs/reference/glossary/controller.md
  content/id/docs/reference/glossary/cri.md
  content/id/docs/reference/glossary/customresourcedefinition.md
  content/id/docs/reference/glossary/daemonset.md
  content/id/docs/reference/glossary/data-plane.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#24000 ja: Make docs/reference/kubectl/overview.md follow v1.18 of the original text
  content/ja/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#24193 Update ja/docs/reference/access-authn-authz/authentication.md
  content/ja/docs/reference/access-authn-authz/authentication.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#24401 Fix indent in docs/reference/access-authn-authz/rbac/
  content/en/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#24403 Fix dead links in docs/concepts/containers/runtime-class/
  content/en/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24233 Revise style of site front page
  assets/scss/_custom.scss
  content/en/_index.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#24394 Translated titles into korean
  content/ko/docs/reference/glossary/index.md
  content/ko/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#24356 ID localization for administrator cluster - cluster management
  content/id/docs/tasks/administer-cluster/cluster-management.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#24404 Startup probe is in beta since 1.18
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, sig/node, size/XS

#24140 Add a new known issue to the out-of-resource doc: active_file memory is not considered as available memory
  content/en/docs/tasks/administer-cluster/out-of-resource.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#24349 Clarify tokenreview API
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/L

#24221 update cassandra.md for v1.18
  content/ja/docs/tutorials/stateful-application/cassandra.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#24256 Update zh content_type param and kubeadm pages
  content/zh/docs/reference/access-authn-authz/_index.md
  content/zh/docs/reference/command-line-tools-reference/_index.md
  content/zh/docs/reference/issues-security/_index.md
  content/zh/docs/reference/setup-tools/_index.md
  content/zh/docs/reference/setup-tools/kubeadm/_index.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-join-phase.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-reset-phase.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-upgrade-phase.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm.md
  content/zh/docs/reference/using-api/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24122 Update names.md
  content/zh/docs/concepts/overview/working-with-objects/names.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23498 Revise page about multiple zones
  content/en/docs/setup/best-practices/multiple-zones.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#24427 Completing glossary translation for Bahasa pt. 6
  content/id/docs/reference/glossary/deployment.md
  content/id/docs/reference/glossary/device-plugin.md
  content/id/docs/reference/glossary/disruption.md
  content/id/docs/reference/glossary/docker.md
  content/id/docs/reference/glossary/ephemeral-container.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#24428 Completing glossary translation for Bahasa pt. 7
  content/id/docs/reference/glossary/extensions.md
  content/id/docs/reference/glossary/image.md
  content/id/docs/reference/glossary/init-container.md
  content/id/docs/reference/glossary/job.md
  content/id/docs/reference/glossary/kube-apiserver.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#24429 Update the example for kubectl port-forward
  content/en/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
  content/en/examples/application/guestbook/redis-master-service.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24437 Fix output of 'kubectl rollout status'
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24434 [zh] clean up reference page of zh, make it up-to-date
  content/zh/docs/reference/_index.md
  content/zh/docs/reference/kubernetes-api/api-index.md
  content/zh/docs/reference/kubernetes-api/labels-annotations-taints.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#24412 Updated localization contribute page with information about new localization subgroup.
  content/en/docs/contribute/localization.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23929 pid limiting documentation
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/concepts/policy/pid-limiting.md
  content/en/docs/concepts/policy/pod-security-policy.md
  content/en/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/L

#24400 Clean up case study images in content/ja/case-studies
  content/ja/case-studies/appdirect/index.html
  content/ja/case-studies/chinaunicom/index.html
  content/ja/case-studies/nav/index.html
  content/ja/case-studies/nordstrom/index.html
  content/ja/case-studies/sos/index.html
  content/ja/case-studies/spotify/index.html
Labels: approved, area/web-development, cncf-cla: yes, kind/cleanup, language/ja, lgtm, sig/docs, size/M

#24444 Add missing text
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#24442 Update API group url
  content/en/docs/reference/access-authn-authz/authorization.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24144 Translate docs/setup/production-environment/tools/kubespray.md in Korean
  content/ko/docs/setup/production-environment/tools/kubespray.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#24446 Fix grammar mistake in Nodes.md
  content/en/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24448 Clean up case study images in content/zh/case-studies
  content/zh/case-studies/adform/index.html
  content/zh/case-studies/ant-financial/index.html
  content/zh/case-studies/appdirect/index.html
  content/zh/case-studies/bose/index.html
  content/zh/case-studies/capital-one/index.html
  content/zh/case-studies/cern/index.html
  content/zh/case-studies/chinaunicom/index.html
  content/zh/case-studies/city-of-montreal/index.html
  content/zh/case-studies/netease/index.html
  content/zh/case-studies/nordstrom/index.html
  content/zh/case-studies/squarespace/index.html
Labels: approved, area/web-development, cncf-cla: yes, kind/cleanup, language/zh, lgtm, sig/docs, size/M

#22207 translate 'set up Konnectivity service' into chinese
  content/zh/docs/tasks/extend-kubernetes/setup-konnectivity.md
  content/zh/examples/admin/konnectivity/egress-selector-configuration.yaml
  content/zh/examples/admin/konnectivity/konnectivity-agent.yaml
  content/zh/examples/admin/konnectivity/konnectivity-rbac.yaml
  content/zh/examples/admin/konnectivity/konnectivity-server.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24204 Update weave-network-policy.md for zh
  content/zh/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24216 Translate Debug Running Pod into Chinese
  content/zh/docs/tasks/debug-application-cluster/debug-running-pod.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24452 zh: Fix output of 'kubectl rollout status'
  content/zh/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23699 clarify the execution contexts of hook handlers with different action
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24456 fr: Fix output of 'kubectl rollout status'
  content/fr/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#23100 upgrade example-ingress.yaml to file format
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
  content/en/examples/ingress/example-ingress.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/M

#24455 id: Fix output of 'kubectl rollout status'
  content/id/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#23332 Promote startupProbe to GA in 1.20
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: approved, area/blog, cncf-cla: yes, language/en, language/fr, language/id, language/ko, language/ru, language/zh, lgtm, sig/docs, sig/node, size/XS

#24416 Remove content/en/docs/tasks/tools/install-minikube.md
  content/en/docs/tasks/tools/_index.md
  content/en/docs/tasks/tools/install-minikube.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#24131 Translate docs/reference/kubectl/docker-cli-to-kubectl/ into Korean
  content/ko/docs/reference/kubectl/docker-cli-to-kubectl.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#24467 [zh] Resync federation content cleanup
  content/zh/docs/contribute/style/content-organization.md
  content/zh/includes/federated-task-tutorial-prereqs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#24464 [zh] Sync changes to partner square scripts
  content/zh/includes/partner-script.js
  content/zh/partners/_index.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#24471 [zh] Drop case studies that disappear from En site
  content/zh/case-studies/ccp-games/ccp_logo.png
  content/zh/case-studies/ccp-games/index.html
  content/zh/case-studies/comcast/comcast_logo.png
  content/zh/case-studies/comcast/index.html
  content/zh/case-studies/concur/concur_featured_logo.png
  content/zh/case-studies/concur/index.html
  content/zh/case-studies/ebay/ebay_featured.png
  content/zh/case-studies/ebay/ebay_logo.png
  content/zh/case-studies/ebay/index.html
  content/zh/case-studies/goldman-sachs/gs_logo.png
  content/zh/case-studies/goldman-sachs/index.html
  content/zh/case-studies/homeoffice/homeoffice_logo.png
  content/zh/case-studies/homeoffice/index.html
  content/zh/case-studies/jd/index.html
  content/zh/case-studies/jd/jd_logo.png
  content/zh/case-studies/liveperson/index.html
  content/zh/case-studies/liveperson/liveperson_logo.png
  content/zh/case-studies/monzo/index.html
  content/zh/case-studies/monzo/monzo_logo.png
  content/zh/case-studies/philips/index.html
  content/zh/case-studies/philips/philips_logo.png
  content/zh/case-studies/pokemon-go/index.html
  content/zh/case-studies/pokemon-go/pokemon_go_logo.png
  content/zh/case-studies/samsung-sds/index.html
  content/zh/case-studies/samsung-sds/sds_logo.png
  content/zh/case-studies/sap/index.html
  content/zh/case-studies/sap/sap_logo.png
  content/zh/case-studies/sap/sap_small.png
  content/zh/case-studies/soundcloud/index.html
  content/zh/case-studies/soundcloud/soundcloud_logo.png
  content/zh/case-studies/wepay/index.html
  content/zh/case-studies/wepay/wepay_logo.png
  content/zh/case-studies/zulily/index.html
  content/zh/case-studies/zulily/zulily_featured.png
  content/zh/case-studies/zulily/zulily_logo.png
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#24468 [zh] fix incorrect file name
  content/zh/docs/reference/glossary/manifest.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24463 fix hard code and make/zh/docs/setup/release/version-skew-policy.md up-to-date
  content/zh/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24469 [zh] Drop examples for federation
  content/zh/examples/federation/policy-engine-deployment.yaml
  content/zh/examples/federation/policy-engine-service.yaml
  content/zh/examples/federation/replicaset-example-policy.yaml
  content/zh/examples/federation/scheduling-policy-admission.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24024 Clarify what API versions mean
  content/en/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/S

#24473 [zh] Remove sitemap
  content/zh/docs/sitemap.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24466 [zh] Remove online training contents
  content/zh/docs/tutorials/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24465 [zh] Sync changes to Hello Minikube page
  content/zh/docs/tutorials/hello-minikube.md
  content/zh/examples/minikube/Dockerfile
  content/zh/examples/minikube/server.js
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24483 [zh] Remove install-minikube
  content/zh/docs/tasks/tools/_index.md
  content/zh/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#24485 [zh] Add missing glossary for Chinese
  content/zh/docs/reference/glossary/cloud-provider.md
  content/zh/docs/reference/glossary/endpoint.md
  content/zh/docs/reference/glossary/shuffle-sharding.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24491 [zh] Sync changes to Ingress concept
  content/zh/docs/concepts/services-networking/ingress.md
  content/zh/examples/service/networking/external-lb.yaml
  content/zh/examples/service/networking/ingress-resource-backend.yaml
  content/zh/examples/service/networking/ingress-wildcard-host.yaml
  content/zh/examples/service/networking/ingress.yaml
  content/zh/examples/service/networking/minimal-ingress.yaml
  content/zh/examples/service/networking/name-virtual-host-ingress-no-third-host.yaml
  content/zh/examples/service/networking/name-virtual-host-ingress.yaml
  content/zh/examples/service/networking/simple-fanout-example.yaml
  content/zh/examples/service/networking/test-ingress.yaml
  content/zh/examples/service/networking/tls-example-ingress.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#24475 Update local Hugo development target
  Makefile
  config.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#24498 Add "and"
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24499 [zh] Modify links from en version to zh verison
  content/zh/docs/concepts/overview/working-with-objects/object-management.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#18321 docs | tasks | configure-pod-container | namespace
  content/fr/docs/tasks/configure-pod-container/share-process-namespace.md
  content/fr/examples/pods/share-process-namespace.yaml
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#18221 docs | tasks | configure-pod-container | liveness readiness
  content/fr/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/fr/examples/pods/probe/exec-liveness.yaml
  content/fr/examples/pods/probe/http-liveness.yaml
  content/fr/examples/pods/probe/tcp-liveness-readiness.yaml
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#24517 [zh] fix broken link of kube-apiserver from glossary and sync it from en page
  content/zh/docs/reference/glossary/kube-apiserver.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#24523 Missing FR character
  content/fr/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#24522 Fix typo issues in Chinese translation "Declarative Management of Kubernetes Objects Using Kustomize"
  content/zh/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#24520 Use make-container serve by default
  content/en/docs/contribute/generate-ref-docs/kubectl.md
  content/en/docs/contribute/generate-ref-docs/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#24509 Move example-ingress.yaml
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
  content/en/examples/service/networking/example-ingress.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#24518 Fix a markup error on tasks/administer-cluster/running-cloud-controller
  content/en/docs/tasks/administer-cluster/running-cloud-controller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24519 Improve diagram for “Reserve Compute Resources for System Daemons”
  content/en/docs/tasks/administer-cluster/reserve-compute-resources.md
  static/images/docs/node-capacity.svg
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#24512 Fix Mistake in Resource Bin Packing for Extended Resources
  content/en/docs/concepts/scheduling-eviction/resource-bin-packing.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#24490 doc: update corefile
  content/en/docs/tasks/administer-cluster/dns-debugging-resolution.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24478 Remove statement about future of namespaces
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#24476 Hyperlink from https://k8s.io/docs/contribute/ to https://k8s.dev/
  content/en/docs/contribute/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24439 Update pod-lifecycle.md
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24101 changing image to nginx because game.example/demo-game does not exist
  content/en/docs/concepts/configuration/configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24344 Add missing annotation in en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24405 Update managing-tls-in-a-cluster.md
  content/en/docs/tasks/tls/managing-tls-in-a-cluster.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24450 Update PR template to include a requirment for release related docs
  .github/PULL_REQUEST_TEMPLATE.md
  content/en/docs/contribute/new-content/new-features.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23672 Add important note about expose port
  content/en/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23838 Make docs/reference/scheduling/config focus on v1beta1 over alpha versions
  content/en/docs/reference/scheduling/config.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23128 grammatical changes to resource metrics pipeline
  content/en/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#23404 Fix ambiguity around behavior of preStop hook
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#24262 Clarify HPA Scaling Policies
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#24402 Add explicit info about pod limits being applied to requests
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/tasks/configure-pod-container/assign-cpu-resource.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#24531 Remove rkt
  content/en/docs/reference/glossary/rkt.md
  content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, sig/node, size/S

#21268 Add MP Interactive Tutorial to Config Section
  content/en/docs/tutorials/configuration/configure-java-microservice/_index.md
  content/en/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive.html
  content/en/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#24076 kubeadm: improve links and information around using the config file
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-config.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-join.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/M

#24535 Steering Committee blog post
  content/en/blog/_posts/2020-10-12-steering-committee-results.md
Labels: approved, area/blog, area/contributor-comms, cncf-cla: yes, language/en, lgtm, sig/contributor-experience, sig/docs, size/M

#23873 Update horizontal-pod-autoscale-walkthrough.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23755 Revise node draining task page
  content/en/docs/tasks/administer-cluster/safely-drain-node.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#24026 Remove CNI alpha warning
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/S

#24149 Set sitemap priority for key pages
  config.toml
  content/en/_index.html
  content/en/docs/_index.md
  content/en/docs/concepts/overview/_index.md
  content/en/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#24494 [zh] correct broken link and sync from EN version
  content/zh/docs/reference/glossary/container-runtime.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#24552 Fix typo in Kubernetes docs
  content/en/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24515 [zh] translate docs/reference/using-api/health-checks.md
  content/zh/docs/reference/using-api/health-checks.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24543 [zh] translate kubeadm commands which are missing in zh version
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_generate-csr.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubelet-finalize.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubelet-finalize_all.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubelet-finalize_experimental-cert-rotation.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node_phase_preflight.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24559 Fix zh examples for topology.kubernetes.io
  content/zh/docs/reference/kubernetes-api/labels-annotations-taints.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24508 [zh] Sync changes to script location
  content/zh/docs/tasks/administer-cluster/out-of-resource.md
  content/zh/examples/admin/resource/memory-available.sh
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24510 [zh] Sync changes to Ingress example
  content/zh/docs/tasks/access-application-cluster/ingress-minikube.md
  content/zh/examples/service/networking/example-ingress.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, language/zh, lgtm, sig/docs, size/M

#24449 Clean up case study images in content/ko/case-studies
  content/ko/case-studies/newyorktimes/index.html
Labels: approved, area/web-development, cncf-cla: yes, kind/cleanup, language/ko, lgtm, sig/docs, size/XS

#24453 ko: Fix output of 'kubectl rollout status'
  content/ko/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#24147 Fix typo in german install-kubernetes.md
  content/de/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#24566 fix: upgrade apiVersion and content of Ingress resource
  content/fr/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#24557 Add links to dangling kubeadm reference pages
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-upgrade-phase.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/S

#23887 Update docs for ServiceAccountIssuerDiscovery beta
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/XS

#24571 Add a technical review requirement for feature documentation
  content/en/docs/contribute/new-content/new-features.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS
