Repository kubernetes/website, pull requests merged in 2020-03, with the labels that each got.

#19356 Minor formatting fix
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19376 fix: correct the kube-proxy cluster-cidr arg for ko
  content/ko/docs/concepts/services-networking/dual-stack.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#19402 Update zh translation in basic-stateful-set.md
  content/zh/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#19360 Localize “email address” placeholder on home page
  i18n/zh.toml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#19273 Clean up “Non-preempting PriorityClasses” page section
  content/en/docs/concepts/configuration/pod-priority-preemption.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19378 Added note for capacity of source volume
  content/zh/docs/concepts/storage/volume-pvc-datasource.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, sig/storage, size/XS

#19182 Latin Abbreviations "e.g." Updated To "for example"
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/cluster-administration/cloud-providers.md
  content/en/docs/concepts/cluster-administration/federation.md
  content/en/docs/concepts/cluster-administration/logging.md
  content/en/docs/concepts/configuration/assign-pod-node.md
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
  content/en/docs/concepts/storage/storage-classes.md
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
  content/en/docs/reference/using-api/api-concepts.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/tasks/access-application-cluster/list-all-running-container-images.md
  content/en/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md
  content/en/docs/tasks/administer-cluster/ip-masq-agent.md
  content/en/docs/tasks/administer-cluster/sysctl-cluster.md
  content/en/docs/tasks/configure-pod-container/static-pod.md
  content/en/docs/tasks/configure-pod-container/translate-compose-kubernetes.md
  content/en/docs/tasks/debug-application-cluster/audit.md
  content/en/docs/tasks/debug-application-cluster/debug-cluster.md
  content/en/docs/tasks/debug-application-cluster/logging-stackdriver.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#19173 Translate Localizing Kubernetes Documentation page into Russian
  content/ru/docs/contribute/localization.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/L

#19215 Translate Intermediate contributing page into Russian
  content/ru/docs/contribute/intermediate.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XL

#19374 Link modify to new docs added from previous branch.
  content/ko/docs/concepts/_index.md
  content/ko/docs/concepts/architecture/cloud-controller.md
  content/ko/docs/concepts/containers/container-environment-variables.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/workloads/pods/pod-overview.md
  content/ko/docs/concepts/workloads/pods/pod.md
  content/ko/docs/contribute/style/write-new-topic.md
  content/ko/docs/reference/glossary/volume.md
  content/ko/docs/tutorials/stateful-application/zookeeper.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#19230 Translate Advanced contributing page into Russian
  content/ru/docs/contribute/advanced.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/L

#19432 Fixed typo in German kubernetes concepts
  content/de/docs/concepts/_index.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#19326 Fixed typo in line 208
  content/de/docs/setup/minikube.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#19421 fix image display in firefox browser
  assets/sass/_tablet.sass
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19330 Modify sentences with poor translation
  content/zh/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#19407 Localize email address placeholder (Korean)
  i18n/ko.toml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#18922 Update what-is-kubernetes.md
  content/ru/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/ru, lgtm, sig/docs, size/XS

#19419 Various improvements in Contribute section of Russian translation
  content/ru/docs/contribute/intermediate.md
  content/ru/docs/contribute/participating.md
  content/ru/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/M

#19283 Clarify At-Most-One Semantic For DaemonSet Update
  content/en/docs/tasks/manage-daemon/update-daemon-set.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#19393 Localize 'email address' placeholder
  i18n/ru.toml
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#19214 Training page in the top nav
  assets/sass/_desktop.sass
  assets/sass/_tablet.sass
  content/en/training/_index.html
  layouts/partials/css.html
  layouts/partials/footer.html
  layouts/partials/header.html
  static/css/gridpage.css
  static/css/training.css
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#19472 Add post for Contributor Summit postponement
  content/en/blog/_posts/2020-03-04-Contributor-Summit-Delayed.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19441 fix markdown in readme it & anchor
  README-it.md
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/XS

#19140 Added note for capacity of source volume
  content/en/docs/concepts/storage/volume-pvc-datasource.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#19479 Update EU, add NA, rm Shanghai
  content/en/_index.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19481 Resolve typo in training blurb: Kuberenetes -> Kubernetes
  content/en/training/_index.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19470 Change version selector to retain current page when switching versions (for website v1.13)
  layouts/partials/header.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19469 Change version selector to retain current page when switching versions (for website v1.14)
  layouts/partials/header.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19450 Overview of kubectl: Escape pipes in syntax to fix operations table formatting
  content/en/docs/reference/kubectl/overview.md
  content/fr/docs/reference/kubectl/overview.md
  content/zh/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/en, language/fr, language/zh, lgtm, sig/docs, size/M

#19120 Resource name constraints (3)
  content/en/docs/concepts/policy/limit-range.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
  content/en/docs/concepts/workloads/controllers/jobs-run-to-completion.md
  content/en/docs/concepts/workloads/pods/pod.md
  content/en/docs/tasks/administer-cluster/namespaces.md
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
  content/en/docs/tasks/debug-application-cluster/audit.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19460 Update PDB output in run-application/configure-pdb.md
  content/en/docs/tasks/run-application/configure-pdb.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19495 remove extra spaces from template
  layouts/shortcodes/latest-semver.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19008 Update hugepages documentation
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/manage-hugepages/scheduling-hugepages.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/M

#19121 Resource name constraints (4)
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/concepts/policy/resource-quotas.md
  content/en/docs/concepts/services-networking/endpoint-slices.md
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
  content/en/docs/tasks/administer-cluster/declare-network-policy.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#19299 Minor correction on 'safely drain node' task page
  content/en/docs/tasks/administer-cluster/safely-drain-node.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19455 Update deploy-interactive to include note on pods
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19471 Modify wrong command
  content/zh/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#19074 Translate docs/concepts/storage/persistent-volumes.md into Japanese
  content/ja/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XL

#17172 Add content/es/docs/concepts/configuration/organize-cluster-access-kubeconfig.md
  content/es/docs/concepts/configuration/organize-cluster-access-kubeconfig.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/L

#19276 create zh-trans content/zh/docs/reference/access-authn-authz/rbac.md
  content/zh/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#19252 Csi volume cloning modification
  content/zh/docs/concepts/storage/volume-pvc-datasource.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#19193 Correct mismatched code examples
  content/zh/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#19379 Clean up extensions/v1beta1 in docs [zh/docs/tasks/manage-kubernetes-objects/imperative-config.md]
  content/zh/docs/tasks/manage-kubernetes-objects/imperative-config.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#19458 update zh-trans content/zh/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/zh/docs/tasks/configure-pod-container/assign-memory-resource.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#19250 Translation modification
  content/zh/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#19429 update zh-translation content/zh/docs/reference/glossary/manifest.md
  content/zh/docs/reference/glossary/manifest.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#19508 Polish configure-pod-configmap.md format
  content/zh/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#19433 update zh-translation content/zh/docs/reference/glossary/proxy.md
  content/zh/docs/reference/glossary/proxy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#19515 update link to /ja/docs/tutorials/hello-minikube/ and /ja/docs/concepts/architecture/nodes/
  content/ja/docs/concepts/configuration/assign-pod-node.md
  content/ja/docs/reference/command-line-tools-reference/feature-gates.md
  content/ja/docs/reference/glossary/node.md
  content/ja/docs/tutorials/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#19368 Update to Outdated files in dev-1.17-ko.6 branch.
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/configuration/overview.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/overview/working-with-objects/names.md
  content/ko/docs/concepts/services-networking/ingress.md
  content/ko/docs/concepts/workloads/controllers/cron-jobs.md
  content/ko/docs/concepts/workloads/controllers/replicaset.md
  content/ko/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/ko/docs/contribute/participating.md
  content/ko/docs/tasks/_index.md
  content/ko/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
  content/ko/docs/tutorials/online-training/overview.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#19510 update zh-trans content/zh/docs/reference/glossary/proxy.md
  content/zh/docs/reference/glossary/proxy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#19403 Add zh translation of `Metrics For The Kubernetes Control Plane`
  content/zh/docs/concepts/cluster-administration/monitoring.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#19521 Translate Documentation style overview section into Russian
  content/ru/docs/contribute/style/_index.md
  content/ru/docs/contribute/style/content-guide.md
  content/ru/docs/contribute/style/content-organization.md
  content/ru/docs/contribute/style/hugo-shortcodes/example1.md
  content/ru/docs/contribute/style/hugo-shortcodes/example2.md
  content/ru/docs/contribute/style/hugo-shortcodes/index.md
  content/ru/docs/contribute/style/hugo-shortcodes/podtemplate.json
  content/ru/docs/contribute/style/page-templates.md
  content/ru/docs/contribute/style/style-guide.md
  content/ru/docs/contribute/style/write-new-topic.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XXL

#19492 update zh-translation content/zh/docs/setup/best-practices/certificates.md
  content/zh/docs/setup/best-practices/certificates.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#19501 Merge master into dev 1.18
  README-it.md
  assets/sass/_desktop.sass
  assets/sass/_tablet.sass
  content/en/_index.html
  content/en/blog/_posts/2020-03-04-Contributor-Summit-Delayed.md
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/concepts/policy/limit-range.md
  content/en/docs/concepts/policy/resource-quotas.md
  content/en/docs/concepts/services-networking/endpoint-slices.md
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/volume-pvc-datasource.md
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
  content/en/docs/concepts/workloads/controllers/jobs-run-to-completion.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
  content/en/docs/concepts/workloads/pods/pod.md
  content/en/docs/reference/kubectl/overview.md
  content/en/docs/tasks/administer-cluster/declare-network-policy.md
  content/en/docs/tasks/administer-cluster/namespaces.md
  content/en/docs/tasks/administer-cluster/safely-drain-node.md
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
  content/en/docs/tasks/debug-application-cluster/audit.md
  content/en/docs/tasks/run-application/configure-pdb.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/en/training/_index.html
  content/fr/docs/reference/kubectl/overview.md
  content/zh/docs/reference/kubectl/overview.md
  i18n/ru.toml
  layouts/partials/css.html
  layouts/partials/footer.html
  layouts/partials/header.html
  layouts/shortcodes/latest-semver.html
  static/css/gridpage.css
  static/css/training.css
Labels: approved, area/blog, cncf-cla: yes, language/en, language/fr, language/zh, lgtm, sig/docs, size/L, tide/merge-method-merge

#19523 Added date metadata to blog articles #19503
  layouts/blog/post.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19522 Updated ingress address in Single Service Ingress
  content/en/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19319 User documentation for Priority and Fairness (flowcontrol/v1)
  content/en/docs/concepts/cluster-administration/flow-control.md
  content/en/docs/reference/glossary/shuffle-sharding.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/L

#19541 Merged master to dev 1.18
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/tutorials/_index.md
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/en/docs/tutorials/online-training/_index.md
  content/en/docs/tutorials/online-training/overview.md
  content/es/docs/concepts/configuration/organize-cluster-access-kubeconfig.md
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/configuration/overview.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/overview/working-with-objects/names.md
  content/ko/docs/concepts/services-networking/ingress.md
  content/ko/docs/concepts/workloads/controllers/cron-jobs.md
  content/ko/docs/concepts/workloads/controllers/replicaset.md
  content/ko/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/ko/docs/contribute/participating.md
  content/ko/docs/tasks/_index.md
  content/ko/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
  content/ko/docs/tutorials/online-training/overview.md
  content/ru/docs/contribute/style/_index.md
  content/ru/docs/contribute/style/content-guide.md
  content/ru/docs/contribute/style/content-organization.md
  content/ru/docs/contribute/style/hugo-shortcodes/example1.md
  content/ru/docs/contribute/style/hugo-shortcodes/example2.md
  content/ru/docs/contribute/style/hugo-shortcodes/index.md
  content/ru/docs/contribute/style/hugo-shortcodes/podtemplate.json
  content/ru/docs/contribute/style/page-templates.md
  content/ru/docs/contribute/style/style-guide.md
  content/ru/docs/contribute/style/write-new-topic.md
  content/zh/docs/concepts/cluster-administration/monitoring.md
  content/zh/docs/concepts/storage/storage-classes.md
  content/zh/docs/concepts/storage/volume-pvc-datasource.md
  content/zh/docs/reference/access-authn-authz/rbac.md
  content/zh/docs/reference/glossary/proxy.md
  content/zh/docs/setup/best-practices/certificates.md
  content/zh/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
  content/zh/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/zh/docs/tasks/configure-pod-container/configure-pod-configmap.md
  content/zh/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
  content/zh/docs/tasks/manage-kubernetes-objects/imperative-config.md
  layouts/blog/post.html
  static/_redirects
Labels: approved, area/blog, cncf-cla: yes, language/de, language/en, language/es, language/id, language/it, language/ja, language/ko, language/pl, language/zh, lgtm, sig/docs, size/XXL, tide/merge-method-merge

#19524 Update content in intermediate.md
  content/en/docs/contribute/intermediate.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19536 Fix rendering issue for blogs
  content/zh/blog/_posts/2015-03-00-Kubernetes-Gathering-Videos.md
  content/zh/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md
  content/zh/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md
  content/zh/blog/_posts/2015-04-00-Kubernetes-Release-0150.md
  content/zh/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md
  content/zh/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md
  content/zh/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md
  content/zh/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md
  content/zh/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md
  content/zh/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md
  content/zh/blog/_posts/2015-12-00-Managing-Kubernetes-Pods-Services-And-Replication-Controllers-With-Puppet.md
  content/zh/blog/_posts/2016-01-00-Simple-Leader-Election-With-Kubernetes.md
  content/zh/blog/_posts/2016-01-00-Why-Kubernetes-Doesnt-Use-Libnetwork.md
  content/zh/blog/_posts/2016-02-00-Kubecon-Eu-2016-Kubernetes-Community-In.md
  content/zh/blog/_posts/2016-02-00-Kubernetes-Community-Meeting-Notes.md
  content/zh/blog/_posts/2016-07-00-Citrix-Netscaler-And-Kubernetes.md
  content/zh/blog/_posts/2016-07-00-Dashboard-Web-Interface-For-Kubernetes.md
  content/zh/blog/_posts/2016-07-00-Oh-The-Places-You-Will-Go.md
  content/zh/blog/_posts/2017-10-00-Five-Days-Of-Kubernetes-18.md
  content/zh/blog/_posts/2017-11-00-Autoscaling-In-Kubernetes.md
Labels: approved, area/blog, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#19529 [zh] fix object overview page
  content/zh/docs/concepts/overview/working-with-objects/kubernetes-objects.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#19544 make doc easier to comprehend
  content/zh/docs/concepts/architecture/controller.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#19371 Translate storage/volume-snapshot-classes.md in Korean.
  content/ko/docs/concepts/storage/volume-snapshot-classes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#19533 update zh-translation content/zh/docs/concepts/extend-kubernetes/operator.md
  content/zh/docs/concepts/extend-kubernetes/operator.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#19539 Updated service.md
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, sig/network, size/S

#19493 Fix branch names in “Start Contributing”
  content/en/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19313 Update start.md, fix wrong traduction
  content/fr/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#19434 Translate content/pt/docs/concepts/cluster-administration/kubelet-garbage-collection.md into Portugues
  content/pt/docs/concepts/cluster-administration/kubelet-garbage-collection.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/M

#19412 Localize “email address” placeholder on home page
  i18n/fr.toml
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#19414 Localize “email address” placeholder on home page
  i18n/id.toml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#19514 Document minikube Podman support
  content/en/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19187 Fix pod.md (ko)
  content/ko/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#19562 Modify sentences with poor translation
  content/zh/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#19559 Update setup-ha-etcd-with-kubeadm.md Content
  content/zh/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#19547 update zh-translation content/zh/docs/tasks/configure-pod-container/configure-runasusername.md
  content/zh/docs/tasks/configure-pod-container/configure-runasusername.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#19410 Localize “email address” placeholder on home page
  i18n/de.toml
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#19557 Adding 'whats next' section to the PersistentVolume page
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19224 Added FIAAS Python client library
  content/en/docs/reference/using-api/client-libraries.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18958 Added cluster-health check instructions
  content/en/docs/tasks/debug-application-cluster/debug-cluster.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19388 Update deprecated API details
  content/en/blog/_posts/2019-07-18-some-apis-are-being-deprecated.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19572 Federation Cleanup (1) doc: clean some outdate redirects and its associated content.
  content/en/docs/concepts/services-networking/connect-applications-service.md
  content/en/docs/contribute/style/content-organization.md
  content/en/includes/federated-task-tutorial-prereqs.md
  data/tasks.yml
  data/tools.yml
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#18626 Tidy page about Poseidon/Firmament scheduler
  content/en/docs/concepts/extend-kubernetes/poseidon-firmament-alternate-scheduler.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/L

#19152 Do a top-to-bottom review of "debug-services"
  content/en/docs/tasks/debug-application-cluster/debug-service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#18716 Update nodelocaldns.md with config steps.
  content/en/docs/tasks/administer-cluster/nodelocaldns.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/M

#19464 Translate concepts/security/overview.md in Korean
  content/ko/docs/concepts/security/_index.md
  content/ko/docs/concepts/security/overview.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#19484 Change restore volume from snapshot feature status to beta
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19571 update zh-translation content/zh/docs/reference/command-line-tools-reference/feature-gates.md
  content/zh/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#19370 Translate storage/volume-pvc-datasource.md in Korean.
  content/ko/docs/concepts/storage/volume-pvc-datasource.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#18128 Harmonize PodPreset examples
  content/en/docs/tasks/inject-data-application/podpreset.md
  content/en/examples/podpreset/allow-db-merged.yaml
  content/en/examples/podpreset/allow-db.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#19589 fix readme markdown
  README-vi.md
Labels: approved, cncf-cla: yes, language/vi, lgtm, sig/docs, size/XS

#19293 fixes troubleshooting-kubeadm references to taint node-role.kubernetes.io/master
  content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#19600 Remove gochist from sig-docs-en-owners
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19468 Change version selector to retain current page when switching versions (for website v1.15)
  layouts/partials/header.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19329 Fix hudo anchor in readme (id)
  README-id.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#19607 Added new reviwer to the pt team members
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19602 sync en-zh zh/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#19369 Translate controllers/jobs-run-to-completion.md in Korean.
  content/ko/docs/concepts/workloads/controllers/jobs-run-to-completion.md
  content/ko/examples/controllers/job.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#19537 Create api-group.md
  content/zh/docs/reference/glossary/api-group.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#19567 Delete insecure external link.
  content/en/docs/tasks/administer-cluster/reserve-compute-resources.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19601 Update home in French
  content/fr/_index.html
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#19208 doc: Containerd alpha support on Windows
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, sig/windows, size/M

#19302 Taint based eviction promoted to GA in 1.18
  content/en/docs/concepts/configuration/taint-and-toleration.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/S

#19016 Removing beta references on RunAsUserName page
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/configure-pod-container/configure-runasusername.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19549 Document server-side dry-run is GA in 1.18
  content/en/blog/_posts/2019-01-14-apiserver-dry-run-and-kubectl-diff.md
  content/en/docs/reference/access-authn-authz/rbac.md
  content/en/docs/reference/kubectl/overview.md
  content/en/docs/reference/using-api/api-concepts.md
  content/en/docs/tasks/configure-pod-container/configure-gmsa.md
  content/en/docs/tasks/manage-daemon/update-daemon-set.md
  content/en/docs/tasks/manage-kubernetes-objects/imperative-command.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19328 ServiceAccountIssuerDiscovery: Add user facing documentation
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#18812 Remove references to heapster
  content/en/docs/concepts/configuration/manage-compute-resources-container.md
  content/zh/docs/concepts/configuration/manage-compute-resources-container.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, sig/node, size/XS

#19300 Changing all incorrect headings of task 'list-all-running-container-images'
  content/en/docs/tasks/access-application-cluster/list-all-running-container-images.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19615 Sixth Korean l10n work for release 1.17
  content/ko/docs/concepts/_index.md
  content/ko/docs/concepts/architecture/cloud-controller.md
  content/ko/docs/concepts/containers/container-environment-variables.md
  content/ko/docs/concepts/security/_index.md
  content/ko/docs/concepts/security/overview.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/storage/volume-pvc-datasource.md
  content/ko/docs/concepts/storage/volume-snapshot-classes.md
  content/ko/docs/concepts/workloads/controllers/jobs-run-to-completion.md
  content/ko/docs/concepts/workloads/pods/pod-overview.md
  content/ko/docs/concepts/workloads/pods/pod.md
  content/ko/docs/contribute/style/write-new-topic.md
  content/ko/docs/reference/glossary/volume.md
  content/ko/docs/tutorials/stateful-application/zookeeper.md
  content/ko/examples/controllers/job.yaml
  i18n/ko.toml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#19491 adding some glossaries for docs-reference-glossary
  content/vi/docs/reference/glossary/cluster.md
  content/vi/docs/reference/glossary/containerd.md
  content/vi/docs/reference/glossary/control-plane.md
  content/vi/docs/reference/glossary/cri-o.md
  content/vi/docs/reference/glossary/daemonset.md
  content/vi/docs/reference/glossary/etcd.md
  content/vi/docs/reference/glossary/kube-apiserver.md
  content/vi/docs/reference/glossary/kube-scheduler.md
Labels: approved, cncf-cla: yes, language/vi, lgtm, sig/docs, size/L

#19489 fix bad format
  content/zh/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#19297 Documentation for "Immutable Secrets/ConfigMaps" feature
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/apps, sig/docs, sig/node, sig/storage, size/M

#19616 Update from EN docs for install-kubectl task
  content/fr/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#19612 Update kubectl explain usage case
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19354 Promote CSIDriver to GA
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#19059 pod-overhead: updates for beta
  content/en/docs/concepts/configuration/pod-overhead.md
  content/en/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/L

#19050 Update Topology Manager for 1.18
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/administer-cluster/topology-manager.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/S

#19316 Updating docs for EndpointSlice changes in 1.18
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/administer-cluster/enabling-endpointslices.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/M

#19231 ingress: add docs on PathType and IngressClass features
  content/en/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/M

#19425 Improve kops macOS installation
  content/en/docs/setup/production-environment/tools/kops.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19637 Update expose-intro.html and remove a unnecessary side note
  content/en/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19240 Translate tasks/configure-pod-container/configure-projected-volume-storage.md into Japanese
  content/ja/docs/tasks/configure-pod-container/configure-projected-volume-storage.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#19623 Typo:Comma Instead of Semi-Colon
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19609 Correcting heading syntax
  content/en/docs/tasks/access-application-cluster/connecting-frontend-backend.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19641 Fix terminology in Japanese doc
  content/ja/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#19598 Adding Docker website reference
  content/en/docs/setup/learning-environment/minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19467 Change version selector to retain current page when switching versions (for website v1.16)
  layouts/partials/header.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19573 Translate content/pt/docs/concepts/cluster-administration/logging.md into Portugues
  content/pt/docs/concepts/cluster-administration/logging.md
  content/pt/examples/admin/logging/fluentd-sidecar-config.yaml
  content/pt/examples/admin/logging/two-files-counter-pod-agent-sidecar.yaml
  content/pt/examples/admin/logging/two-files-counter-pod-streaming-sidecar.yaml
  content/pt/examples/admin/logging/two-files-counter-pod.yaml
  content/pt/examples/debug/counter-pod.yaml
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L

#19209 Update user-guide-windows-containers.md
  content/en/docs/setup/production-environment/windows/user-guide-windows-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19608 Adding references to relevant tasks.
  content/en/docs/concepts/services-networking/connect-applications-service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19597 Update custom-resources.md
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19581 Federation Cleanup (2) doc: remove federation tests in example and some federation content.
  content/en/docs/tasks/administer-cluster/dns-debugging-resolution.md
  content/en/examples/examples_test.go
  content/en/examples/federation/policy-engine-deployment.yaml
  content/en/examples/federation/policy-engine-service.yaml
  content/en/examples/federation/replicaset-example-policy.yaml
  content/en/examples/federation/scheduling-policy-admission.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#19592 Signposting added in /docs/home to redirect users to /training
  content/en/docs/home/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19561 Instructions to upgrade Bash for shell autocompletion
  content/en/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19446 Update cluster-intro.html
  content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19353 Update D2iQ Kommander link
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19348 Clarify 2 second extended grace period for preStop
  content/en/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19336 remove example of deprecated option: kubectl get --export
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19334 Removing non required details about the context
  content/en/docs/tasks/administer-cluster/namespaces.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#19341 Changed 'caBundle' description
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19295 Correcting inconsistency of storage class name
  content/en/docs/tasks/administer-cluster/change-default-storage-class.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19294 Correcting example from namespaces-walkthrough task
  content/en/docs/tasks/administer-cluster/namespaces-walkthrough.md
  content/en/examples/admin/snowflake-deployment.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19200 Config elasticsearch installed in minikube host
  content/en/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19141 Reword API Server aggregation
  content/en/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/M

#19137 correct example for custom hpa
  content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19115 Update "what is kubernetes" subheading
  content/en/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19122 Resource name constraints (5)
  content/en/docs/concepts/configuration/pod-priority-preemption.md
  content/en/docs/concepts/containers/runtime-class.md
  content/en/docs/concepts/policy/pod-security-policy.md
  content/en/docs/concepts/storage/dynamic-provisioning.md
  content/en/docs/reference/access-authn-authz/rbac.md
  content/en/docs/tasks/inject-data-application/podpreset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19039 Update cheatsheet.md
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19007 Revise “Using Source IP” task
  content/en/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/L

#18961 Fix Typos and Styling for LimitRange Documentation
  content/en/docs/concepts/policy/limit-range.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L
