Repository kubernetes/website, pull requests merged in 2020-01, with the labels that each got.

#18243 fix kubectl proxy output for ko
  content/ko/docs/tasks/access-application-cluster/access-cluster.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#16504 docs-fr | reference | glossary | istio.md
  content/fr/docs/reference/glossary/istio.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#18371 /fr/ link to pods page corrected
  content/fr/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#16457 docs-fr | reference | glossary | helm-chart.md
  content/fr/docs/reference/glossary/helm-chart.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#16074 docs-fr | reference | glossary | downstream.md
  content/fr/docs/reference/glossary/downstream.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#18401 Fix misspelling in Korean contribution guide
  content/ko/docs/contribute/localization_ko.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/ko, lgtm, priority/backlog, sig/docs, size/XS

#18394 update Terminology for ingress.md
  content/zh/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18334 Correct name for Vietnamese language
  config.toml
Labels: approved, cncf-cla: yes, kind/cleanup, language/vi, lgtm, sig/docs, size/XS

#18251 Translate services-networking/dual-stack.md in Korean.
  content/ko/docs/concepts/services-networking/dual-stack.md
  content/ko/examples/service/networking/dual-stack-default-svc.yaml
  content/ko/examples/service/networking/dual-stack-ipv4-svc.yaml
  content/ko/examples/service/networking/dual-stack-ipv6-svc.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#18405 Fix typo
  content/id/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/id, lgtm, sig/docs, size/XS

#18295 release-1.17_zh issue tasks
  content/zh/docs/concepts/workloads/controllers/jobs-run-completion.md
  content/zh/docs/setup/independent/install-kubeadm.md
  content/zh/docs/tasks/administer-cluster/enabling-endpointslices.md
  content/zh/docs/tools/install-minikube.md
  content/zh/docs/tutorials/clusters/deny-write.profile
  content/zh/docs/user-journeys/users/app-developer/advanced.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#18407 bugfix: fix the incorrect translate
  content/zh/docs/concepts/configuration/assign-pod-node.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#18329 update zh-trans content/zh/docs/reference/kubectl/kubectl.md
  content/zh/docs/reference/kubectl/kubectl.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#18344 udpate zh-trans content/zh/docs/tasks/network/validate-dual-stack.md
  content/zh/docs/tasks/network/validate-dual-stack.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18346 udpate zh-trans content/zh/docs/tasks/administer-cluster/topology-man…
  content/zh/docs/tasks/administer-cluster/topology-manager.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18378 update zh-trans content/zh/docs/reference/setup-tools/kubeadm/generat…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node_phase_control-plane.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18354 udpate zh-trans content/zh/docs/concepts/storage/storage-limits.md
  content/zh/docs/concepts/storage/storage-limits.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18351 update zh-trans:content/zh/docs/setup/production-environment/windows/…
  content/zh/docs/setup/production-environment/windows/user-guide-windows-containers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18299 zh-trans zh/docs/tasks/configure-pod-container/static-pod.md
  content/zh/docs/tasks/configure-pod-container/static-pod.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18311 Zh translation: /docs/reference/glossary/rkt.md
  content/zh/docs/reference/glossary/rkt.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18325 zh-translation(1.16):/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#18326 zh-trans(1.17):/docs/setup/production-environment/tools/kubeadm/insta…
  content/zh/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#18408 update zh-trans content/zh/docs/reference/setup-tools/kubeadm/generat…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#18232 Update cluster-large.md
  content/ko/docs/setup/best-practices/cluster-large.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#18359 Update service mesh in the Korean glossary
  content/ko/docs/contribute/localization_ko.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#16590 Update kubectl translation
  content/fr/docs/reference/kubectl/kubectl.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#18223 docs | tasks | configure-pod-container | Kompose
  content/fr/docs/tasks/configure-pod-container/translate-compose-kubernetes.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XL

#18269 Translate services-networking/network-policies.md in Korean.
  content/ko/docs/concepts/services-networking/network-policies.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#18413 add missing backquote
  content/en/docs/tasks/debug-application-cluster/debug-service.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#18435 (en) - small link fix
  content/en/docs/reference/glossary/customresourcedefinition.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18387 Correct links 2016 10 00 helm charts making it simple to package and deploy apps on kubernetes.md
  content/en/blog/_posts/2016-10-00-Helm-Charts-Making-It-Simple-To-Package-And-Deploy-Apps-On-Kubernetes.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18415 delete zh SEE ALSO(1~5)
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_certificate-key.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_admin.conf.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18418 delete zh SEE ALSO(41-45)
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_all.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-etcd-client.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-kubelet-client.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18225 Fix broken NodeRestriction anchor reference
  content/en/docs/reference/access-authn-authz/node.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18369 cncf.io link fix
  content/en/blog/_posts/2018-07-10-coredns-ga.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18095 Adding helm3 command
  content/en/docs/tasks/service-catalog/install-service-catalog-using-helm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#18209 Add a Korean l10n reviewer to OWNERS_ALIASES
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#18214 Removed duplicated text
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/S

#18392 Update cluster health check command for newer etcd
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/S

#18397 kubeadm: improvements to the cert management documentation
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, priority/important-longterm, sig/docs, size/M

#18440 update zh-trans content/zh/docs/reference/command-line-tools-referenc…
  content/zh/docs/reference/command-line-tools-reference/kube-proxy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#17885 Add Indonesian Translation for Security Overview
  content/id/docs/concepts/security/_index.md
  content/id/docs/concepts/security/overview.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#18445 Release 1.17 delete others1
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_join-defaults.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#18439 zh-translation: content/zh/docs/concepts/architecture/controller.md
  content/zh/docs/concepts/architecture/controller.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18312 fix words issue
  content/en/docs/tasks/configure-pod-container/static-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18384 Translate page in English in the /it/ space
  content/it/blog/_index.md
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/XS

#18452 Add Contribute index page for Indonesian localization
  content/id/docs/contribute/_index.md
  content/id/docs/home/_index.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#18372 update windows.md url
  content/en/blog/_posts/2017-02-00-Caas-The-Foundation-For-Next-Gen-Paas.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18324 /etc/nginx/ssl/nginx.crt: No such file or directory. Use tls.crt
  content/en/docs/concepts/services-networking/connect-applications-service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18501 Update the list of approvers/reviewers for English content
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#18432 Modify reference links for translated documents added from previous branches.
  content/ko/docs/concepts/services-networking/endpoint-slices.md
  content/ko/docs/reference/issues-security/issues.md
  content/ko/docs/tutorials/services/source-ip.md
  content/ko/docs/tutorials/stateless-application/expose-external-ip-address.md
  content/ko/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#18449 update zh-trans content/zh/docs/reference/kubernetes-api/labels-annot…
  content/zh/docs/reference/kubernetes-api/labels-annotations-taints.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18448 update zh-trans content/zh/docs/tasks/administer-cluster/reserve-comp…
  content/zh/docs/tasks/administer-cluster/reserve-compute-resources.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18479 delete zh SEE ALSO(6~10)
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_all.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-etcd-client.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-kubelet-client.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_controller-manager.conf.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18258 Translate project slogan into Chinese
  config.toml
Labels: approved, cncf-cla: yes, kind/cleanup, language/zh, lgtm, priority/backlog, sig/docs, size/XS

#18507 Add install-kubectl doc
  content/vi/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/vi, lgtm, sig/docs, size/L

#17845 Improve Russian translation of Concepts
  content/ru/docs/concepts/_index.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/M

#18486 update zh trans for content/zh/docs/reference/setup-tools/kubeadm/gen…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_check-expiration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18505 Re-add commit from 18209
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#17843 Improve Russian translation of README file
  README-ru.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/S

#18398 List sftim as en-localization approver
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#16743 blog post about testing CSI drivers
  content/en/blog/_posts/2020-01-08-csi-driver-testing.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#18499 Fixes list rendering
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18513 Correct see also part 21-25
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_enable-dynamic.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting_pivot.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_completion.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_config.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18504 delete zh SEE ALSO(46-50)
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_ca.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-ca.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-healthcheck-client.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-peer.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-server.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18514 Correct see also part 26-30
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_list.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_pull.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_migrate.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18467 zh-translation: docs/concepts/services-networking/service-topology.md
  content/zh/docs/concepts/services-networking/service-topology.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18224 Add "rollout restart" to cheatsheet
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18234 Translate concepts/services-networking/ingress into Japanese #17741
  content/ja/docs/concepts/services-networking/ingress.md
  content/ja/docs/reference/glossary/ingress.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#18277 Update pod overview in Japanese
  content/ja/docs/concepts/workloads/pods/pod-overview.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#17796 Translate concepts/scheduling/scheduler-perf-tuning/ in Japanese #17119
  content/ja/docs/concepts/scheduling/scheduler-perf-tuning.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#18450 ja-trans:conetent/ja/casestudies/nav
  content/ja/case-studies/nav/index.html
  content/ja/case-studies/nav/nav_featured_logo.png
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#18395 Translate tasks/debug-application-cluster/debug-service/ in Japanese
  content/ja/docs/tasks/debug-application-cluster/debug-service.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XL

#18310 Zh-cn-trans Fix translation errors.
  content/zh/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#18350 update zh-trans content/zh/docs/tasks/administer-cluster/kubeadm/kube…
  content/zh/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18465 fix word for /docs/concepts/services-networking/service-topology.md
  content/en/docs/concepts/services-networking/service-topology.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18469 Omit broken links from https://k8s.io/docs/setup/
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#18508 zh-translation: /docs/tasks/configure-pod-container/configure-livenes…
  content/zh/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#18200 Translate concepts/extend-kubernetes/api-extension/custom-resources/ into Japanese
  content/ja/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#16173 Translate tasks/configure-pod-container/quality-service-pod/ into Japanese
  content/ja/docs/tasks/configure-pod-container/quality-service-pod.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#18495 Add French version of Service concept page
  content/fr/docs/concepts/services-networking/service.md
  content/fr/docs/reference/glossary/service.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XXL

#18276 Fix simple typos in feature-gates.md (#18275)
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17982 Added More Base64 Online Tool
  content/en/docs/tasks/inject-data-application/distribute-credentials-secure.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18437 Rename StackPointCloud to NKS
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18534 Add blog post to memorialize Brad Childs
  content/en/blog/_posts/2020-01-10-Remembering-Brad-Childs.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#18473 Changed to print the directory name according to the l10n language.
  scripts/diff_l10n_branches.py
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#18393 Resolve typo in dual-stack.md
  content/en/docs/concepts/services-networking/dual-stack.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18293 Fix typo in TLS bootstrapping document (#18292)
  content/en/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18421 Update _index.md
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17569 Add adidas case study
  content/en/case-studies/adidas/adidas-featured.svg
  content/en/case-studies/adidas/index.html
  static/css/case-studies-gradient.css
  static/images/Adidas1.png
  static/images/Adidas2.png
  static/images/Adidas3.png
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#18051 Update pull request template following v1.17 release
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, sig/release, size/XS

#18535 Clarify that nodes must be drained before upgrade for migration
  content/en/blog/_posts/2019-12-09-csi-volume-migration-beta.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, sig/storage, size/XS

#18546 Fix broken links for zh kubernetes-basics
  content/zh/docs/tutorials/kubernetes-basics/_index.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#18484 Translate docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md in Korean
  content/ko/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md
  content/ko/examples/service/networking/hostaliases-pod.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#18551 remove see also from zh file
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_all.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubeadm.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_all.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_etcd.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_mark-control-plane.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_update-status.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18550 Requesting for Approve permissions
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#18555 remove see also
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_version.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#18558 Use madison instead policy
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#18553 [typo]fix The fourth example translation error
  content/zh/docs/concepts/overview/working-with-objects/labels.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#18554 Improve CronJob page
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18482 Amend the StorageClass page
  content/en/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#18528 update zh-translation: docs/concepts/storage/volume-snapshot-classes.md
  content/zh/docs/concepts/storage/volume-snapshot-classes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18447 phase_addon
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18524 Delete SEE ALSO section under content/zh/docs/reference/setup-tools/k…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd_local.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18549 fix issue #18434
  content/zh/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#18390 Correct links 2016 10 00 helm charts making it simple to package and deploy apps on kubernetes 2
  content/en/blog/_posts/2016-10-00-Helm-Charts-Making-It-Simple-To-Package-And-Deploy-Apps-On-Kubernetes.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18388 Correct links 2016 10 00 helm charts making it simple to package and deploy apps on kubernetes
  content/en/blog/_posts/2016-10-00-Helm-Charts-Making-It-Simple-To-Package-And-Deploy-Apps-On-Kubernetes.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18386 Correct links in networking.md
  content/en/docs/concepts/cluster-administration/networking.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#18376 fix links
  content/en/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md
  content/zh/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md
Labels: approved, area/blog, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/XS

#18373 resolve typo in namespaces.md
  content/en/docs/tasks/administer-cluster/namespaces.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17847 Improve Russian translation of What is Kubernetes
  content/ru/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/M

#18576 ru: fix typos for templates/concept
  content/ru/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#17832 Added Azure Application Gateway Ingress Controller
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18578 Fix typo in quantity suffix
  content/en/docs/reference/glossary/quantity.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18562 Fix incorrect Chinese brackets in Markdown hyperlinks
  content/zh/blog/_posts/2018-06-28-Airflow-Kubernetes-Operator.md
  content/zh/blog/_posts/2018-08-29-kubernetes-testing-ci-automating-contributor-experience.md
  content/zh/docs/concepts/configuration/overview.md
  content/zh/docs/tasks/administer-cluster/dns-custom-nameservers.md
  content/zh/docs/tasks/configure-pod-container/assign-cpu-resource.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#18584 Fix broken link for zh/contribute/localization.md
  content/zh/docs/contribute/localization.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#18111 Add russian translation for install kubectl page
  content/ru/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/L

#18526 zh-trans: blog/_posts/2019-11-26-cloud-native-java-controller-sdk.md
  content/zh/blog/_posts/2019-11-26-cloud-native-java-controller-sdk.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18590 Link to current API reference on german translation
  content/de/docs/reference/_index.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#18047 fix error urls
  content/en/blog/_posts/2016-10-00-Helm-Charts-Making-It-Simple-To-Package-And-Deploy-Apps-On-Kubernetes.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#16766 Add CCM Hetzner
  content/en/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18571 Add blog image OWNERS
  static/images/blog/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#18592 Fix markdown syntax issue for zh kubeadm high availability.md
  content/zh/docs/setup/production-environment/tools/kubeadm/high-availability.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#17815 Adding Bahasa Indonesia translation for Deployment page
  content/id/docs/concepts/workloads/controllers/deployment.md
  content/id/examples/controllers/nginx-deployment.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XXL

#18366 kubeadm-join.md: correct alpha->beta wording
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-join.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#18348 fix some 404 urls
  content/en/blog/_posts/2018-03-26-kubernetes-1-10-stabilizing-storage-security-networking.md
  content/en/blog/_posts/2018-12-11-Kubernetes-Federation-Evolution.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18341 Fix link to Minikube in Task & tutorial page snippet
  content/en/includes/task-tutorial-prereqs.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, priority/important-longterm, sig/docs, size/XS

#18338 Use built-in version check & metadata for dual-stack validation page.
  content/en/docs/tasks/network/validate-dual-stack.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, sig/network, size/XS

#18337 Remove version checks for Job and CronJob task pages
  content/en/docs/tasks/job/automated-tasks-with-cron-jobs.md
  content/en/docs/tasks/job/coarse-parallel-processing-work-queue.md
  content/en/docs/tasks/job/fine-parallel-processing-work-queue.md
  content/en/docs/tasks/job/parallel-processing-expansion.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/S

#18335 Tidy concept page about container image(s)
  content/en/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/S

#18247 fixed minor typo
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18240 #18239 Make wordpress snippet copy/pastable
  content/en/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#18211 Remove useless blank line
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18170 Fix typo in install-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18160 axe two stray words in service.md
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18603 ru hello-minikube.md spelling mistake fix
  content/ru/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#18610 ru/docs/_index.md: minor improvements
  content/ru/docs/_index.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/S

#18614 content/ru/docs/reference/_index.md: sync and improve wording
  content/ru/docs/reference/_index.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#18264 id translation for project slogan
  config.toml
Labels: approved, cncf-cla: yes, kind/cleanup, language/id, lgtm, sig/docs, size/XS

#18530 An indentation corrected
  content/en/docs/concepts/services-networking/endpoint-slices.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18566 Fix CoreDNS requirement for ExternalName Service
  content/en/docs/concepts/services-networking/service.md
  content/zh/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, sig/network, size/XS

#18618 examples/minikube/Dockerfile: modify CMD to use exec form
  content/en/examples/minikube/Dockerfile
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17278 Update kops.md
  content/en/docs/setup/production-environment/tools/kops.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18622 ru/docs/tasks/tools/install-kubectl.md: rephrase and fix typos
  content/ru/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#18621 ru/examples/minikube/Dockerfile: modify CMD to use exec form
  content/ru/examples/minikube/Dockerfile
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#18611 ru/docs/tutorials/hello-minikube.md: minor improvements
  content/ru/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/M

#17943 Be more explicit about what kind of probe
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18076 Improve wording of “Connecting Applications with Services”
  content/en/docs/concepts/services-networking/connect-applications-service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/XS

#18081 kubectl-plugin example: Double-quote to prevent word splitting
  content/en/docs/tasks/extend-kubectl/kubectl-plugins.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18082 Explain how a config map could be updated immediately in a pod.
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS
