Repository kubernetes/website, pull requests merged in 2020-11, with the labels that each got.

#24632 Translate reference/glossary/service-broker.md in Korean
  content/ko/docs/reference/glossary/service-broker.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#24836 Update zh translation in configure-pod-configmap.md
  content/zh/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24813 [zh] Resync docs/setup/production-environment/container-runtimes.md
  content/zh/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#24842 [zh] Resync docs/concepts/overview/components.md
  content/zh/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#24841 Fix incorrect instructions for adding PGP keys to APT
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#24819 Add missing space
  content/en/docs/concepts/services-networking/network-policies.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24425 update web-ui-dashboard.md for v1.18
  content/ja/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#23523 Added docs about container resource metric source for HPA
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/autoscaling, sig/docs, size/M, tide/merge-method-squash

#24856 new blog post: Remembering Dan Kohn
  content/en/blog/_posts/2020-11-02-remembering-dan-kohn.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#22995 Improve front build
  Dockerfile
  Makefile
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#24866 Fix feature state for cluster-level default topology spread
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: approved, cncf-cla: yes, kind/bug, language/en, lgtm, sig/docs, sig/scheduling, size/XS

#24756 Documenting new default headers in HTTP probes
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, sig/node, size/M

#23931 Translate concepts/storage/storage-capacity into Japanese
  content/ja/docs/concepts/storage/storage-capacity.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#24852 Graduate DefaultPodTopologySpread to beta
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/S

#24155 update deployment.md for v1.18
  content/ja/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#24748 fix Docker file link
  content/ja/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/ja/docs/setup/production-environment/windows/user-guide-windows-nodes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#24014 add cncf-landscape shortcode for training page
  content/en/training/_index.html
  layouts/shortcodes/cncf-landscape.html
Labels: approved, area/web-development, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24440 ja: Removing references of `kubectl rolling-update`
  content/ja/docs/concepts/workloads/controllers/deployment.md
  content/ja/docs/reference/kubectl/cheatsheet.md
  content/ja/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#24863 Fix experimental flag example
  content/en/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/XS

#24768 clean up turnkey cloud solutions
  content/en/docs/setup/production-environment/container-runtimes.md
  content/en/docs/setup/production-environment/turnkey-solutions.md
  content/en/docs/setup/production-environment/turnkey/_index.md
  content/en/docs/setup/production-environment/turnkey/alibaba-cloud.md
  content/en/docs/setup/production-environment/turnkey/aws.md
  content/en/docs/setup/production-environment/turnkey/azure.md
  content/en/docs/setup/production-environment/turnkey/gce.md
  content/en/docs/setup/production-environment/turnkey/icp.md
  content/en/docs/setup/production-environment/turnkey/tencent.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  layouts/shortcodes/cncf-landscape.html
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#24831 Improve maintainability of case studies styling for KO
  content/ko/case-studies/adform/index.html
  content/ko/case-studies/amadeus/index.html
  content/ko/case-studies/ancestry/index.html
  content/ko/case-studies/blablacar/index.html
  content/ko/case-studies/blackrock/index.html
  content/ko/case-studies/box/index.html
  content/ko/case-studies/buffer/index.html
  content/ko/case-studies/capital-one/index.html
  content/ko/case-studies/crowdfire/index.html
  content/ko/case-studies/golfnow/index.html
  content/ko/case-studies/haufegroup/index.html
  content/ko/case-studies/huawei/index.html
  content/ko/case-studies/ibm/index.html
  content/ko/case-studies/ing/index.html
  content/ko/case-studies/naic/index.html
  content/ko/case-studies/newyorktimes/index.html
  content/ko/case-studies/nordstrom/index.html
  content/ko/case-studies/northwestern-mutual/index.html
  content/ko/case-studies/ocado/index.html
  content/ko/case-studies/openAI/index.html
  content/ko/case-studies/peardeck/index.html
  content/ko/case-studies/pearson/index.html
  content/ko/case-studies/pinterest/index.html
  content/ko/case-studies/slingtv/index.html
  content/ko/case-studies/squarespace/index.html
  content/ko/case-studies/wikimedia/index.html
  content/ko/case-studies/wink/index.html
  content/ko/case-studies/workiva/index.html
  content/ko/case-studies/ygrene/index.html
  content/ko/case-studies/zalando/index.html
Labels: approved, area/web-development, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#24783 Better docs for standard topology labels
  content/en/docs/concepts/configuration/pod-priority-preemption.md
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/en/docs/concepts/storage/storage-classes.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/reference/command-line-tools-reference/kubelet.md
  content/en/docs/reference/kubernetes-api/labels-annotations-taints.md
  content/en/examples/pods/pod-with-pod-affinity.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#24875 add shortcode for training page
  content/zh/training/_index.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24851 improve structure of finalizer section in CRD guide
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S, tide/merge-method-squash

#24880 Add link to KubeCon Virtual EU 2021
  content/en/_index.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24639 exec credential provider: cluster info details
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/M

#24823 TokenRequest and TokenRequestProjection are GA now
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S, tide/merge-method-squash

#24886 KEP 1659 topology labels, small revert
  content/en/docs/concepts/storage/storage-classes.md
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24865 fix heading level
  content/en/docs/concepts/services-networking/network-policies.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24753 .editorconfig: turning off trim_trailing_whitespace for markdown files
  .editorconfig
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#24891 Merge master into dev-1.20 to fix Integration Branch
  content/en/_index.html
  content/en/docs/concepts/services-networking/network-policies.md
  content/en/docs/concepts/storage/storage-classes.md
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#24825 document HPA's implicit deactivation
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/autoscaling, sig/docs, size/XS

#24855 fix kind download link
  content/en/blog/_posts/2020-05-21-wsl2-dockerdesktop-k8s.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24893 Fix logic in lsync script
  scripts/lsync.sh
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#24890 Add OVN-Kubernetes to list of cluster add-ons
  content/en/docs/concepts/cluster-administration/addons.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23355 Translate concepts/services-networking/endpoint-slices into Japanese
  content/ja/docs/concepts/services-networking/endpoint-slices.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#24830 Improve maintainability of case studies styling for JA
  content/ja/case-studies/appdirect/index.html
  content/ja/case-studies/chinaunicom/index.html
  content/ja/case-studies/nav/index.html
  content/ja/case-studies/nordstrom/index.html
  content/ja/case-studies/sos/index.html
  content/ja/case-studies/spotify/index.html
Labels: approved, area/web-development, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XL

#24902 Update localization guide for Japanese
  content/ja/docs/contribute/localization.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23235 Translate concepts/services-networking/network-policies into Japanese
  content/ja/docs/concepts/services-networking/network-policies.md
  content/ja/examples/service/networking/network-policy-allow-all-egress.yaml
  content/ja/examples/service/networking/network-policy-allow-all-ingress.yaml
  content/ja/examples/service/networking/network-policy-default-deny-all.yaml
  content/ja/examples/service/networking/network-policy-default-deny-egress.yaml
  content/ja/examples/service/networking/network-policy-default-deny-ingress.yaml
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#24903 Update the kubecon date
  content/ja/_index.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#24879 Update Japanese README
  README-ja.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#24892 update training page
  content/ja/training/_index.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#24887 KEP 1659 topology: trivial non-English changes
  content/id/docs/concepts/configuration/pod-priority-preemption.md
  content/ja/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ja/docs/setup/best-practices/multiple-zones.md
  content/ja/examples/pods/pod-with-pod-affinity.yaml
  content/ko/docs/concepts/configuration/pod-priority-preemption.md
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ko/examples/pods/pod-with-pod-affinity.yaml
  content/zh/docs/concepts/configuration/pod-priority-preemption.md
  content/zh/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/zh/docs/setup/best-practices/multiple-zones.md
  content/zh/examples/pods/pod-with-pod-affinity.yaml
Labels: approved, cncf-cla: yes, language/id, language/ja, language/ko, language/zh, lgtm, sig/docs, size/L

#23142 Translate concepts/cluster-administration/cloud-providers/ into Japanese
  content/ja/docs/concepts/cluster-administration/cloud-providers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#24922 Update SIG-docs-ja reviewers
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#24924 add shortcode to training page
  content/ko/training/_index.html
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#24943 fix typo on imperative-command page for Bahasa Indonesia
  content/id/docs/tasks/manage-kubernetes-objects/imperative-command.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#24944 edit content/id/docs/concepts/cluster-administration/logging.md
  content/id/docs/concepts/cluster-administration/logging.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#24945 fix typo file on declarative-config page
  content/id/docs/tasks/manage-kubernetes-objects/declarative-config.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/S

#24941 modify the error chinese word of how
  content/zh/docs/concepts/configuration/pod-priority-preemption.md
Labels: approved, cncf-cla: yes, kind/bug, language/zh, lgtm, sig/docs, size/XS

#24934 Fix formatting issue in Compute Resource Quota documentation
  content/en/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24936 Explicitly mention init containers in the QoS doc
  content/en/docs/tasks/configure-pod-container/quality-service-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24939 update training page
  content/it/training/_index.html
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/XS

#24894 [zh] Sync changes to docs/concepts/policy/resource-quotas.md
  content/en/docs/concepts/policy/resource-quotas.md
  content/zh/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/L

#24878 Update default admission plugins for 1.19
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24951 add shortcode to training page
  content/pl/training/_index.html
Labels: approved, cncf-cla: yes, language/pl, lgtm, sig/docs, size/XS

#24942 modify the chinese url
  content/zh/docs/concepts/scheduling-eviction/kube-scheduler.md
Labels: approved, cncf-cla: yes, kind/bug, language/zh, lgtm, sig/docs, size/S

#24847 Update kubectl debug docs for 1.20 release
  content/en/docs/concepts/workloads/pods/ephemeral-containers.md
  content/en/docs/tasks/debug-application-cluster/debug-running-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cli, sig/docs, size/L, tide/merge-method-squash

#24905 flow control metrics: switch to snake_case for labels
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, sig/instrumentation, size/M

#24963 Revert pull request 24905
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, sig/instrumentation, size/M

#24964 flow control metrics: switch to snake_case for labels
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, sig/instrumentation, size/M

#24947 fix typo in configuration secret page
  content/id/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#24796 update broken link
  README-vi.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/vi, lgtm, sig/docs, size/XS

#24958 fix link in /docs/tutorials/stateful-application/zookeeper.md
  content/en/docs/tutorials/stateful-application/zookeeper.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24786 Graduate KubeletPodResources to GA
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#24972 remove useless sign
  content/zh/docs/reference/kubectl/conventions.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23842 Improve ServiceAccount administration doc
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#24829 Improve maintainability of case studies styling for PT
  content/pt/case-studies/chinaunicom/index.html
Labels: approved, area/web-development, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L

#24424 Revise large cluster guidance
  content/en/docs/setup/best-practices/cluster-large.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/L

#24567 Fix broken url in docs
  content/en/docs/setup/release/notes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24909 separate RootCAConfigMap from BoundServiceAccountToken and Beta
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/S

#24914 Add usage for per-profile node affinity
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/M

#24692 ExecProbeTimeout feature gate introduction
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/S

#24993 fix branch name
  content/en/docs/contribute/new-content/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24913 Promote ConfigurableFSGroupPolicy feature to beta
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/configure-pod-container/security-context.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#24954 Introduce windows-priorityclass flag to kubelet
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/windows, size/XS

#24994 Fix branch name advice
  content/en/docs/contribute/new-content/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24974 Correct link to external-storage
  content/en/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24988 Update deploy-intro.html
  content/zh/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24201 translate docs/setup/production-environment/tools/kubespray.md
  content/zh/docs/setup/production-environment/tools/kubespray.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24977 Update replicaset.md
  content/es/docs/concepts/workloads/controllers/replicaset.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS

#24698 RuntimeClass GA
  content/en/docs/concepts/containers/runtime-class.md
  content/en/docs/concepts/scheduling-eviction/pod-overhead.md
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/setup/production-environment/windows/user-guide-windows-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/S

#24970 Adding button "Learn Kubernetes Basics"
  content/vi/docs/tutorials/kubernetes-basics/_index.html
Labels: approved, cncf-cla: yes, language/vi, lgtm, sig/docs, size/L

#24996 fix docs/tutorials/stateful-application/zookeeper.md
  content/en/docs/tutorials/stateful-application/zookeeper.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25000 [zh] change en links to zh for kubeadm _index.md
  content/zh/docs/reference/setup-tools/kubeadm/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#24868 Translate reference/kubectl/jsonpath into Korean
  content/ko/docs/reference/kubectl/jsonpath.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#24883 [zh] sync docs/tasks/run-application/horizontal-pod-autoscale.md
  content/zh/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24885 Add information how to enable cronjob controller v2
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/apps, sig/docs, size/S

#24997 [zh] Resync docs/tutorials/stateful-application/zookeeper.md
  content/zh/docs/tutorials/stateful-application/zookeeper.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#25002 Update ingress-controllers.md
  content/ja/docs/concepts/services-networking/ingress-controllers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#24410 kubeadm: promote the "kubeadm certs" command to GA
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_certificate-key.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_check-expiration.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_generate-csr.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_admin.conf.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_all.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_apiserver-etcd-client.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_apiserver-kubelet-client.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_apiserver.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_controller-manager.conf.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_etcd-healthcheck-client.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_etcd-peer.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_etcd-server.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_front-proxy-client.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_scheduler.conf.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-certs.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/setup/production-environment/tools/kubeadm/high-availability.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/L, tide/merge-method-squash

#24991 HTTP Probe - Update documentation about default headers
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, sig/node, size/XS

#24754 add doc for CSIServiceAccountToken
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, sig/storage, size/XS

#25005 update branch name
  content/zh/docs/contribute/new-content/overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25003 Add 3rd party content warning to Ingress Controllers concept
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#24141 Add missing steps to configure konnectivity-server
  content/en/docs/tasks/extend-kubernetes/setup-konnectivity.md
  content/en/examples/admin/konnectivity/egress-selector-configuration.yaml
  content/en/examples/admin/konnectivity/konnectivity-agent.yaml
  content/en/examples/admin/konnectivity/konnectivity-server.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/cloud-provider, sig/docs, size/M, tide/merge-method-squash

#24978 fix typo file in language id pod
  content/id/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#25024 Fix secret FR translation error
  content/fr/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#24849 Add doc for snapshot GA
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/volume-snapshot-classes.md
  content/en/docs/concepts/storage/volume-snapshots.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/M, tide/merge-method-squash

#25023 delete conflict message
  content/ja/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#24916 Move CSIVolumeFSGroupPolicy to beta
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, language/es, language/fr, language/id, language/vi, language/zh, lgtm, sig/docs, sig/storage, size/XS

#25006 [zh] Sync changes on quality-service-pod.md from English doc
  content/zh/docs/tasks/configure-pod-container/quality-service-pod.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24975 Update API Priority and Fairness doc for graduation to beta
  content/en/docs/concepts/cluster-administration/flow-control.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/examples/priority-and-fairness/health-for-strangers.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/M, tide/merge-method-squash

#24489 Translate reference/scheduling/config.md into Korean
  content/ko/docs/reference/scheduling/config.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#24961 Add ja translation of concepts/security/pod-security-standards.md
  content/ja/docs/concepts/security/pod-security-standards.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#25004 Use k8s more widely
  content/en/_index.html
  content/en/docs/contribute/_index.md
  content/en/docs/home/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#25021 [zh] translate content/en/docs/concepts/security/controlling-access.md
  content/zh/docs/concepts/security/controlling-access.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25044 remove 3 duplicate words
  content/zh/docs/tasks/configure-pod-container/static-pod.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25032 [zh] translate setup's Turnkey Cloud Solutions into Chinese
  content/zh/docs/setup/production-environment/turnkey-solutions.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25038 [zh] translate glossary object into Chinese
  content/zh/docs/reference/glossary/object.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#25048 [zh] translate tutorials configure-java-microservice into Chinese
  content/zh/docs/tutorials/configuration/configure-java-microservice/_index.md
  content/zh/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive.html
  content/zh/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25051 [zh] modify links to en-docs in tutorials to zh-docs
  content/zh/docs/tutorials/kubernetes-basics/explore/explore-intro.html
  content/zh/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/zh/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25059 Wrong translation of ServiceTypes:LoadBalancer
  content/zh/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#24554 Set code owners for /.github
  .github/OWNERS
  .github/workflows/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#25045 [zh] Resync concepts/workloads/_index.md
  content/zh/docs/concepts/workloads/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25049 [zh] Drop turnkey cloud solutions
  content/zh/docs/setup/production-environment/turnkey/_index.md
  content/zh/docs/setup/production-environment/turnkey/alibaba-cloud.md
  content/zh/docs/setup/production-environment/turnkey/aws.md
  content/zh/docs/setup/production-environment/turnkey/azure.md
  content/zh/docs/setup/production-environment/turnkey/gce.md
  content/zh/docs/setup/production-environment/turnkey/icp.md
  content/zh/docs/setup/production-environment/turnkey/tencent.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#24907 kubeadm: remove general output from "kubeadm init"
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/M

#25050 kubeadm: add instruction to check kubelet status
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#24719 [zh] Translate docs/test.md
  content/zh/docs/test.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#24998 [zh] Sync changes from English site (1)
  content/zh/docs/concepts/cluster-administration/_index.md
  content/zh/docs/concepts/cluster-administration/addons.md
  content/zh/docs/concepts/cluster-administration/flow-control.md
  content/zh/docs/concepts/cluster-administration/logging.md
  content/zh/docs/concepts/cluster-administration/networking.md
  content/zh/docs/concepts/cluster-administration/system-metrics.md
  content/zh/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#24999 [zh] Sync changes from English site (2)
  content/zh/docs/concepts/overview/_index.md
  content/zh/docs/concepts/overview/kubernetes-api.md
  content/zh/docs/concepts/overview/what-is-kubernetes.md
  content/zh/docs/concepts/overview/working-with-objects/annotations.md
  content/zh/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/zh/docs/concepts/overview/working-with-objects/labels.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24538 fix node-conformance apiserver adress flag error
  content/en/docs/setup/best-practices/node-conformance.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24817 Translate reference/command-line-tools-reference/kube-proxy into korean
  content/ko/docs/reference/command-line-tools-reference/kube-proxy.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#25072 【ZH】typo : 云控制器管理器的基础概念 #25060
  content/zh/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25036 [zh] Resync concepts/services-networking/network-policies.md
  content/zh/docs/concepts/services-networking/network-policies.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25085 Fix typo in container restart policy doc
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25084 Fix KubeCon banner
  config.toml
  i18n/en.toml
Labels: approved, cncf-cla: yes, lgtm, priority/important-soon, sig/docs, size/XS

#25083 Update dead Link to Docker EE Installation
  content/en/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, sig/windows, size/XS

#24826 fix "read more" button
  static/css/newcommunity.css
Labels: approved, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/XS

#25028 add description for CSIServiceAccountToken
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25071 Translate reference/glossary/container-lifecycle-hooks.md in Korean
  content/ko/docs/reference/glossary/container-lifecycle-hooks.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#25079 Update feature-gates: delete redundant description for ServiceAppProtocol
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25093 [zh] remove redundant content
  content/zh/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25068 Use configmap inside a k8s pod command, as entrypoint is docker specific
  content/en/docs/concepts/configuration/configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25092 Use card mode for cncf-landscape shortcode
  layouts/shortcodes/cncf-landscape.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#25088 Update health-checks.md
  content/en/docs/reference/using-api/health-checks.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#25089 Improve configmap usage as pod command and args
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
  content/en/examples/pods/pod-configmap-env-var-valueFrom.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24874 Document the support of mixed protocol values in the LoadBalancer type of Services
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/S

#25087 Add CKS to training page
  content/en/training/_index.html
  static/css/training.css
  static/images/training/kubernetes-cks-white.svg
Labels: approved, cncf-cla: yes, kind/feature, language/en, lgtm, priority/important-soon, sig/docs, sig/security, size/L

#25102 Update configmap.md
  content/en/docs/concepts/configuration/configmap.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#24643 Fix minor typo in StatefulSets docs
  content/en/docs/concepts/workloads/controllers/statefulset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25010 Adding cloud native security whitepaper blog post with image
  content/en/blog/_posts/2020-11-18-cloud-native-security-for-your-cluster/cloud-native-app-lifecycle-phases.svg
  content/en/blog/_posts/2020-11-18-cloud-native-security-for-your-cluster/index.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, sig/security, size/M, tide/merge-method-squash

#25086 remove a conflict marker from Japanese cheatsheet.md
  content/ja/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#25105 Update URL of krew plugin list
  content/en/docs/tasks/extend-kubectl/kubectl-plugins.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#25090 Update taint-and-toleration.md
  content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24899 Apply the common blue style to buttons under .main class
  assets/scss/_base.scss
Labels: approved, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/S

#25122 Remove automatic index from tutorials list
  content/en/docs/tutorials/kubernetes-basics/_index.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25126 video block sync
  content/uk/_index.html
Labels: approved, cncf-cla: yes, language/uk, lgtm, sig/docs, size/XS

#25047 update shortcode branch name
  content/ko/docs/contribute/new-content/overview.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#25112 [zh] synchronize zh for readme
  README-zh.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L
