Repository kubernetes/website, pull requests merged in 2020-08, with the labels that each got.

#22889 Fix broken links to pages under /en/docs/tasks/administer-cluster/manage-resources/
  content/en/docs/concepts/policy/limit-range.md
  content/en/docs/concepts/policy/resource-quotas.md
  content/en/docs/tasks/administer-cluster/extended-resource-node.md
  content/en/docs/tasks/administer-cluster/limit-storage-consumption.md
  content/en/docs/tasks/administer-cluster/manage-resources/cpu-constraint-namespace.md
  content/en/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace.md
  content/en/docs/tasks/administer-cluster/manage-resources/memory-constraint-namespace.md
  content/en/docs/tasks/administer-cluster/manage-resources/memory-default-namespace.md
  content/en/docs/tasks/administer-cluster/manage-resources/quota-memory-cpu-namespace.md
  content/en/docs/tasks/administer-cluster/manage-resources/quota-pod-namespace.md
  content/en/docs/tasks/administer-cluster/quota-api-object.md
  content/en/docs/tasks/administer-cluster/securing-a-cluster.md
  content/en/docs/tasks/configure-pod-container/assign-cpu-resource.md
  content/en/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/en/docs/tasks/configure-pod-container/quality-service-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#22891 Fix the translation of "learning environment"
  content/ja/docs/setup/learning-environment/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#22825 clean up extra h1 heading in blog post
  content/en/blog/_posts/2020-06-30-SIG-Windows-Spotlight/index.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22816 Update command output
  content/en/docs/tutorials/stateful-application/zookeeper.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#22797 Add non-exposed Pod DNS name
  content/en/docs/concepts/services-networking/dns-pod-service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S, tide/merge-method-squash

#22557 Fix links in concepts section
  content/en/docs/concepts/architecture/control-plane-node-communication.md
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/concepts/configuration/overview.md
  content/en/docs/concepts/configuration/pod-priority-preemption.md
  content/en/docs/concepts/extend-kubernetes/extend-cluster.md
  content/en/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/en/docs/concepts/services-networking/connect-applications-service.md
  content/en/docs/concepts/services-networking/ingress-controllers.md
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/storage-classes.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
  content/en/docs/concepts/workloads/controllers/statefulset.md
  content/en/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/en/docs/concepts/workloads/pods/disruptions.md
  content/zh/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, language/zh, lgtm, sig/docs, size/L

#22818 Clarify that CRDs can use the schema annotation
  content/en/docs/reference/using-api/api-concepts.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#22792 Add troubleshooting item for kubeadm cluster upgrade
  content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#22775 [zh] Fix links in contribute section
  content/en/docs/contribute/participate/_index.md
  content/zh/docs/contribute/advanced.md
  content/zh/docs/contribute/generate-ref-docs/_index.md
  content/zh/docs/contribute/generate-ref-docs/contribute-upstream.md
  content/zh/docs/contribute/generate-ref-docs/kubectl.md
  content/zh/docs/contribute/generate-ref-docs/kubernetes-api.md
  content/zh/docs/contribute/generate-ref-docs/kubernetes-components.md
  content/zh/docs/contribute/generate-ref-docs/quickstart.md
  content/zh/docs/contribute/localization.md
  content/zh/docs/contribute/new-content/open-a-pr.md
  content/zh/docs/contribute/participate/_index.md
  content/zh/docs/contribute/participate/roles-and-responsibilities.md
  content/zh/docs/contribute/review/for-approvers.md
  content/zh/docs/contribute/review/reviewing-prs.md
  content/zh/docs/contribute/style/hugo-shortcodes/index.md
  content/zh/docs/contribute/style/page-content-types.md
  content/zh/docs/contribute/style/style-guide.md
  content/zh/docs/contribute/style/write-new-topic.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/L

#22655 Document new API Priority and Fairness metrics
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: approved, cncf-cla: yes, kind/api-change, language/en, lgtm, sig/api-machinery, sig/docs, size/L

#22579 Disable analytics for non-production environment
  layouts/partials/git-info.html
Labels: approved, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/XS

#22898 modify k8s_release clone string
  update-imported-docs/reference.yml
  update-imported-docs/update-imported-docs.py
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#22558 Fix links in concepts section (2)
  content/en/docs/concepts/cluster-administration/_index.md
  content/en/docs/concepts/cluster-administration/addons.md
  content/en/docs/concepts/cluster-administration/cloud-providers.md
  content/en/docs/concepts/cluster-administration/logging.md
  content/en/docs/concepts/cluster-administration/manage-deployment.md
  content/en/docs/concepts/cluster-administration/networking.md
  content/en/docs/concepts/containers/container-environment.md
  content/en/docs/concepts/containers/images.md
  content/en/docs/concepts/extend-kubernetes/_index.md
  content/en/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/en/docs/concepts/extend-kubernetes/operator.md
  content/en/docs/concepts/overview/kubernetes-api.md
  content/en/docs/concepts/overview/working-with-objects/labels.md
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
  content/en/docs/concepts/overview/working-with-objects/object-management.md
  content/en/docs/concepts/policy/limit-range.md
  content/en/docs/concepts/policy/pod-security-policy.md
  content/en/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/L

#22881 Update translation in cheatsheet.md
  content/zh/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22848 [zh] Fix links in concepts section (2)
  content/zh/docs/concepts/configuration/secret.md
  content/zh/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/zh/docs/concepts/services-networking/connect-applications-service.md
  content/zh/docs/concepts/services-networking/dual-stack.md
  content/zh/docs/concepts/services-networking/endpoint-slices.md
  content/zh/docs/concepts/services-networking/ingress-controllers.md
  content/zh/docs/concepts/services-networking/network-policies.md
  content/zh/docs/concepts/services-networking/service.md
  content/zh/docs/concepts/storage/dynamic-provisioning.md
  content/zh/docs/concepts/storage/storage-classes.md
  content/zh/docs/concepts/storage/volume-pvc-datasource.md
  content/zh/docs/concepts/storage/volume-snapshots.md
  content/zh/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#22861 [zh] Tweak translation for DNS Pod service
  content/zh/docs/concepts/services-networking/dns-pod-service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22846 [zh] Localize ingress-minikube
  content/zh/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22845 Update http-proxy-access-api.md for zh
  content/zh/docs/tasks/extend-kubernetes/http-proxy-access-api.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#22884 Duplicated "nodo" word removed
  content/es/docs/concepts/overview/working-with-objects/namespaces.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS

#22874 Translate concepts/services-networking/service-topology into Japanese
  content/ja/docs/concepts/services-networking/service-topology.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#22906 Remove an unnecessary string
  content/ja/docs/tutorials/stateful-application/cassandra.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#22878 Translate tasks/administer-cluster/enabling-service-topology into Japanese
  content/ja/docs/tasks/administer-cluster/enabling-service-topology.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#22903 translate clc.md
  content/zh/docs/setup/production-environment/turnkey/clc.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#22911 delete redundant "。"
  content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#22901 fix indent on video block
  content/ko/_index.html
Labels: approved, area/web-development, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#22800 Translate tasks/access-application-cluster/service-access-application
  content/ko/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/ko/examples/service/access/hello-application.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#22896 [zh] Sync changes to Pod concept
  content/zh/docs/concepts/workloads/pods/_index.md
  content/zh/docs/concepts/workloads/pods/pod-overview.md
  content/zh/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#22890 Translate setup/learning-environment/kind into Japanese
  content/ja/docs/setup/learning-environment/kind.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#22902 adding helpful prow commands for PR wranglers
  content/en/docs/contribute/participate/pr-wranglers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#22606 Update the Slack channel creation example
  content/en/docs/contribute/localization.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22882 Add blog post for 1.18 release interview
  content/en/blog/_posts/2020-08-03-kubernetes-1-18-release-interview.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L, tide/merge-method-squash

#20569 Localize “email address” placeholder on home page
  i18n/pt.toml
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/XS

#22929 Fix duplicate localization strings for Portuguese
  i18n/pt.toml
Labels: approved, cncf-cla: yes, kind/cleanup, language/pt, lgtm, sig/docs, size/L

#22919 Update kubeadm installation
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#22936 subscribe button translate
  i18n/de.toml
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#22832 Fix the markdown format in authorization.md
  content/en/docs/reference/access-authn-authz/authorization.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22945 Remove a toc shortcode from concepts/services-networking/network-policies
  content/en/docs/concepts/services-networking/network-policies.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22949 Fixes broken link to website issues
  content/en/docs/contribute/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22925 Fixed an issue on custom-resource-definition-versioning.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22174 Autodetect content directory for capture cleanup tool
  scripts/replace-capture.sh
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#22683 Document the health-for-strangers workaround
  content/en/docs/concepts/cluster-administration/flow-control.md
  content/en/examples/priority-and-fairness/health-for-strangers.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/auth, sig/docs, size/M

#22795 Translate concepts/storage/storage-limits.md into Korean
  content/ko/docs/concepts/storage/storage-limits.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#22928 Containers concept intro
  content/it/docs/concepts/containers/_index.md
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/S

#22963 fix typo
  content/en/docs/concepts/workloads/pods/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#22887 [zh] Rework Pod Lifecycle page
  content/zh/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#22971 ADD missing space
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22974 ISSUE-22953: add missing information about etcd images
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#22684 Translate docs/reference/setup-tools/kubeadm/kubeadm.md in Korean
  content/ko/docs/reference/setup-tools/_index.md
  content/ko/docs/reference/setup-tools/kubeadm/_index.md
  content/ko/docs/reference/setup-tools/kubeadm/kubeadm.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#22708 Translate docs/setup/production-environment/windows/intro-windows-in-kubernetes/ into Japanese
  content/ja/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XL

#22470 Tweak paragraph to kill orphaned fragment
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/S

#23001 fix indent on video block
  content/ja/_index.html
Labels: approved, area/web-development, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23006 fix scheduling link and update
  content/ja/docs/concepts/architecture/controller.md
  content/ja/docs/concepts/overview/components.md
  content/ja/docs/concepts/scheduling-eviction/_index.md
  content/ja/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/ja/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/ja/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/ja/docs/concepts/scheduling/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#23007 Fix links in setup section
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
  content/en/docs/setup/production-environment/turnkey/gce.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22909 Translate concepts/services-networking/dual-stack into Japanese
  content/ja/docs/concepts/services-networking/dual-stack.md
  content/ja/examples/service/networking/dual-stack-default-svc.yaml
  content/ja/examples/service/networking/dual-stack-ipv4-svc.yaml
  content/ja/examples/service/networking/dual-stack-ipv6-lb-svc.yaml
  content/ja/examples/service/networking/dual-stack-ipv6-svc.yaml
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#22938 Translate concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases into Japanese
  content/ja/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#22873 Translate concepts/policy/limit-range into Japanese
  content/ja/docs/concepts/policy/limit-range.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#23012 Modify kubecon url
  content/ja/_index.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#22893 Translate /docs/concepts/workloads/controllers/job/ into Japanese
  content/ja/docs/concepts/workloads/controllers/job.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#22987 Translate tasks/access-application-cluster/ingress-minikube into Japanese
  content/ja/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#22966 Update cheatsheet.md
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23009 Modify text in top page for KubeCon announcement
  content/en/_index.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22940 typo found
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23008 Fix links in tutorials section
  content/en/docs/tutorials/hello-minikube.md
  content/en/docs/tutorials/services/source-ip.md
  content/en/docs/tutorials/stateful-application/cassandra.md
  content/en/docs/tutorials/stateful-application/zookeeper.md
  content/en/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#22996 Add docs for manual recovery from resize failure
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, kind/bug, language/en, lgtm, sig/docs, sig/storage, size/S

#22935 Add tasks, tutorials and setup main pages into pt documentation
  content/pt/docs/concepts/_index.md
  content/pt/docs/reference/glossary/cluster.md
  content/pt/docs/reference/glossary/control-plane.md
  content/pt/docs/reference/glossary/node.md
  content/pt/docs/setup/_index.md
  content/pt/docs/tasks/_index.md
  content/pt/docs/tutorials/_index.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L

#23023 fix ServiceAccount link URL Path in docs/concepts/containers/images
  content/en/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23014 Replace redirections in the reference section
  content/en/docs/reference/_index.md
  content/en/docs/reference/access-authn-authz/abac.md
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/reference/access-authn-authz/authentication.md
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/glossary/cri-o.md
  content/en/docs/reference/glossary/managed-service.md
  content/en/docs/reference/glossary/platform-developer.md
  content/en/docs/reference/glossary/service-broker.md
  content/en/docs/reference/kubectl/overview.md
  content/en/docs/reference/using-api/api-overview.md
  content/en/docs/reference/using-api/client-libraries.md
  content/en/docs/reference/using-api/deprecation-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#22984 Add a code block fence for example-ingress.yaml on tasks/access-application-cluster/ingress-minikube
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#23025 Fix pod-lifecycle typo bescheduled.
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#22913 Create 2018-01-00-Kubernetes-V19-Beta-Windows-Support.md
  content/zh/blog/_posts/2018-01-00-Kubernetes-V19-Beta-Windows-Support.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22894 Translate 2018-10-01-health-checking-grpc.md
  content/zh/blog/_posts/2018-10-01-health-checking-grpc.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22141 Add reviewer to French glossary
  content/fr/docs/reference/glossary/reviewer.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, ok-to-test, sig/docs, size/S

#22993 [zh] Resync/rework PSP concept
  content/zh/docs/concepts/policy/pod-security-policy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#22942 [zh] Fix links in Concepts section (4)
  content/zh/docs/concepts/workloads/controllers/cron-jobs.md
  content/zh/docs/concepts/workloads/controllers/daemonset.md
  content/zh/docs/concepts/workloads/controllers/garbage-collection.md
  content/zh/docs/concepts/workloads/controllers/job.md
  content/zh/docs/concepts/workloads/controllers/replicaset.md
  content/zh/docs/concepts/workloads/controllers/statefulset.md
  content/zh/docs/concepts/workloads/controllers/ttlafterfinished.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#22904 [zh] Fix links in concepts section (3)
  content/zh/docs/concepts/workloads/pods/disruptions.md
  content/zh/docs/concepts/workloads/pods/ephemeral-containers.md
  content/zh/docs/concepts/workloads/pods/init-containers.md
  content/zh/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/zh/docs/concepts/workloads/pods/podpreset.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#22951 [zh] Resync architecture Node page
  content/zh/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#22952 [zh] Tweak localization for service calalog
  content/zh/docs/concepts/extend-kubernetes/service-catalog.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22972 [zh] Rework Kubernetes API
  content/zh/docs/concepts/overview/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22977 [zh] Fix links in concepts section (6)
  content/zh/docs/concepts/containers/container-environment.md
  content/zh/docs/concepts/containers/container-lifecycle-hooks.md
  content/zh/docs/concepts/containers/runtime-class.md
  content/zh/docs/concepts/overview/components.md
  content/zh/docs/concepts/overview/working-with-objects/annotations.md
  content/zh/docs/concepts/overview/working-with-objects/field-selectors.md
  content/zh/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/zh/docs/concepts/overview/working-with-objects/labels.md
  content/zh/docs/concepts/overview/working-with-objects/names.md
  content/zh/docs/concepts/overview/working-with-objects/namespaces.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#22992 [zh] Fix links/translation in concepts section (7)
  content/zh/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/zh/docs/concepts/cluster-administration/manage-deployment.md
  content/zh/docs/concepts/cluster-administration/networking.md
  content/zh/docs/concepts/cluster-administration/proxies.md
  content/zh/docs/concepts/configuration/manage-resources-containers.md
  content/zh/docs/concepts/policy/limit-range.md
  content/zh/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#23004 [zh] Fix links in concepts section (8/last)
  content/zh/docs/concepts/cluster-administration/_index.md
  content/zh/docs/concepts/cluster-administration/addons.md
  content/zh/docs/concepts/cluster-administration/certificates.md
  content/zh/docs/concepts/cluster-administration/cloud-providers.md
  content/zh/docs/concepts/cluster-administration/logging.md
  content/zh/docs/concepts/cluster-administration/monitoring.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#23026 Use tooltip not glossary definition for Componentes de Kubernetes
  content/es/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, kind/bug, language/es, lgtm, sig/docs, size/XS

#23046 Fix issue with k8s.io/docs/concepts/workloads/pods/
  content/en/docs/concepts/workloads/pods/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23017 Tune links in tasks section (2/2)
  content/en/docs/tasks/access-application-cluster/access-cluster.md
  content/en/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md
  content/en/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/en/docs/tasks/access-application-cluster/list-all-running-container-images.md
  content/en/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/en/docs/tasks/administer-cluster/access-cluster-api.md
  content/en/docs/tasks/administer-cluster/access-cluster-services.md
  content/en/docs/tasks/administer-cluster/cluster-management.md
  content/en/docs/tasks/administer-cluster/dns-custom-nameservers.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/en/docs/tasks/administer-cluster/network-policy-provider/romana-network-policy.md
  content/en/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy.md
  content/en/docs/tasks/administer-cluster/out-of-resource.md
  content/en/docs/tasks/administer-cluster/securing-a-cluster.md
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/en/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
  content/en/docs/tasks/configure-pod-container/security-context.md
  content/en/docs/tasks/extend-kubernetes/configure-multiple-schedulers.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
  content/en/docs/tasks/inject-data-application/define-environment-variable-container.md
  content/en/docs/tasks/job/automated-tasks-with-cron-jobs.md
  content/en/docs/tasks/job/coarse-parallel-processing-work-queue.md
  content/en/docs/tasks/job/fine-parallel-processing-work-queue.md
  content/en/docs/tasks/job/parallel-processing-expansion.md
  content/en/docs/tasks/manage-daemon/update-daemon-set.md
  content/en/docs/tasks/tls/manual-rotation-of-ca-certificates.md
  content/en/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#22994 [zh] Fix links in concepts section (5)
  content/en/docs/concepts/extend-kubernetes/extend-cluster.md
  content/zh/docs/concepts/architecture/control-plane-node-communication.md
  content/zh/docs/concepts/architecture/controller.md
  content/zh/docs/concepts/extend-kubernetes/_index.md
  content/zh/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/zh/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/zh/docs/concepts/extend-kubernetes/extend-cluster.md
  content/zh/docs/concepts/extend-kubernetes/operator.md
  content/zh/docs/concepts/workloads/controllers/replicationcontroller.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/XL

#23041 [zh] Rework debugging application task
  content/zh/docs/tasks/debug-application-cluster/debug-application.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#19344 Add a search JSON-LD meta description
  layouts/partials/head.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#23048 add content_type param, kubeadm pages
  content/en/docs/reference/access-authn-authz/_index.md
  content/en/docs/reference/command-line-tools-reference/_index.md
  content/en/docs/reference/issues-security/_index.md
  content/en/docs/reference/setup-tools/_index.md
  content/en/docs/reference/setup-tools/kubeadm/_index.md
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-config.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-join-phase.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-join.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-reset-phase.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-reset.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-token.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-upgrade-phase.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-upgrade.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-version.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm.md
  content/en/docs/reference/using-api/_index.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/L

#23035 subscribe button translate
  i18n/es.toml
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS

#22426 Translate /docs/concepts/configuration/manage-resources-containers/ into Japanese
  content/ja/docs/concepts/configuration/manage-resources-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XL

#22647 Translate tutorials/stateless-application/guestbook-logs-metrics-with-elk into Japanese
  content/ja/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#22969 [zh] Resync image concept to Chinese
  content/zh/docs/concepts/containers/images.md
  content/zh/docs/concepts/containers/overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#23068 describe CSIMigrationvSphere and CSIMigrationvSphereComplete flags
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23081 Update _index.md
  content/en/docs/tasks/tools/_index.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#23061 storage capacity: mention API group
  content/en/docs/concepts/storage/storage-capacity.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#23016 Tune links in tasks section (1/2)
  content/en/docs/tasks/_index.md
  content/en/docs/tasks/debug-application-cluster/audit.md
  content/en/docs/tasks/debug-application-cluster/debug-application.md
  content/en/docs/tasks/debug-application-cluster/debug-cluster.md
  content/en/docs/tasks/debug-application-cluster/debug-init-containers.md
  content/en/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
  content/en/docs/tasks/debug-application-cluster/debug-service.md
  content/en/docs/tasks/debug-application-cluster/debug-stateful-set.md
  content/en/docs/tasks/debug-application-cluster/logging-elasticsearch-kibana.md
  content/en/docs/tasks/debug-application-cluster/logging-stackdriver.md
  content/en/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
  content/en/docs/tasks/debug-application-cluster/resource-usage-monitoring.md
  content/en/docs/tasks/debug-application-cluster/troubleshooting.md
  content/en/docs/tasks/manage-kubernetes-objects/declarative-config.md
  content/en/docs/tasks/manage-kubernetes-objects/imperative-command.md
  content/en/docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/en/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
  content/en/docs/tasks/run-application/force-delete-stateful-set-pod.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/en/docs/tasks/run-application/run-replicated-stateful-application.md
  content/en/docs/tasks/service-catalog/install-service-catalog-using-helm.md
  content/en/docs/tasks/service-catalog/install-service-catalog-using-sc.md
  content/en/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#23047 Ingress snippet conforms to ingress spec
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23072 [zh] fix links
  content/zh/docs/concepts/architecture/cloud-controller.md
  content/zh/docs/concepts/architecture/control-plane-node-communication.md
  content/zh/docs/concepts/cluster-administration/_index.md
  content/zh/docs/concepts/cluster-administration/logging.md
  content/zh/docs/concepts/cluster-administration/monitoring.md
  content/zh/docs/concepts/configuration/secret.md
  content/zh/docs/concepts/extend-kubernetes/_index.md
  content/zh/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/zh/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/zh/docs/concepts/extend-kubernetes/extend-cluster.md
  content/zh/docs/concepts/extend-kubernetes/operator.md
  content/zh/docs/concepts/overview/kubernetes-api.md
  content/zh/docs/concepts/overview/working-with-objects/object-management.md
  content/zh/docs/concepts/policy/pod-security-policy.md
  content/zh/docs/concepts/policy/resource-quotas.md
  content/zh/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/zh/docs/concepts/storage/dynamic-provisioning.md
  content/zh/docs/concepts/storage/storage-classes.md
  content/zh/docs/concepts/storage/volume-snapshots.md
  content/zh/docs/concepts/storage/volumes.md
  content/zh/docs/concepts/workloads/controllers/cron-jobs.md
  content/zh/docs/concepts/workloads/controllers/daemonset.md
  content/zh/docs/concepts/workloads/controllers/deployment.md
  content/zh/docs/concepts/workloads/controllers/job.md
  content/zh/docs/concepts/workloads/controllers/replicaset.md
  content/zh/docs/concepts/workloads/controllers/replicationcontroller.md
  content/zh/docs/concepts/workloads/controllers/statefulset.md
  content/zh/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/zh/docs/concepts/workloads/pods/_index.md
  content/zh/docs/concepts/workloads/pods/disruptions.md
  content/zh/docs/concepts/workloads/pods/ephemeral-containers.md
  content/zh/docs/reference/access-authn-authz/admission-controllers.md
  content/zh/docs/reference/command-line-tools-reference/feature-gates.md
  content/zh/docs/reference/glossary/pod-disruption-budget.md
  content/zh/docs/reference/glossary/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23078 [zh] Drop a page which was deleted in En site
  content/zh/docs/tasks/run-application/rolling-update-replication-controller.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#23106 Remove extra spaces on concepts/workloads/controllers/job
  content/ja/docs/concepts/workloads/controllers/job.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23021 modify layout of codenew shortcode
  layouts/shortcodes/codenew.html
Labels: approved, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/S

#23098 Add fale to IT approvers
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/XS

#23054 Improve order of workload resources
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/concepts/workloads/controllers/garbage-collection.md
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/concepts/workloads/controllers/replicaset.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
  content/en/docs/concepts/workloads/controllers/statefulset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#23094 Translate docs/reference/glossary/secret into Japanese
  content/ja/docs/reference/glossary/secret.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#23114 Update Creating a single control-plane cluster with kubeadm
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#22998 clean up analytics in footer
  layouts/partials/git-info.html
Labels: approved, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/XS

#23126 Add "community" to the word list for Japanese localization
  content/ja/docs/contribute/localization.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23127 Replate the word "コミュニティー" with "コミュニティ"
  content/ja/case-studies/appdirect/index.html
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23105 Translate reference/setup-tools/kubeadm into Japanese
  content/ja/docs/reference/setup-tools/_index.md
  content/ja/docs/reference/setup-tools/kubeadm/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#23134 This should not be shell
  content/en/docs/concepts/workloads/controllers/replicaset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23079 Blog: introducing hierarchical namespaces
  content/en/blog/_posts/2020-08-14-introducing-hierarchical-namespaces.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L, tide/merge-method-squash

#22344 ID translation for static pod
  content/id/docs/tasks/configure-pod-container/static-pod.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#23164 Fix -apiserver-advertise-address
  content/ja/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, area/blog, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23166 fix a typo
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23177 remove indent on video block
  content/fr/_index.html
Labels: approved, area/web-development, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#23183 Announce KubeCon + CloudNativeCon EU 2020
  config.toml
  i18n/en.toml
  static/images/kubecon_ad_eu_2020.png
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#22975 remove extra title in kubectl cheatsheet
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#23053 Fix the code block on concepts/storage/volume-snapshots page
  content/en/docs/concepts/storage/volume-snapshots.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23073 Relocate 'qosClass' under 'status' in examples
  content/en/docs/tasks/configure-pod-container/quality-service-pod.md
  content/fr/docs/tasks/configure-pod-container/quality-service-pod.md
  content/ja/docs/tasks/configure-pod-container/quality-service-pod.md
  content/ko/docs/tasks/configure-pod-container/quality-service-pod.md
  content/zh/docs/tasks/configure-pod-container/quality-service-pod.md
Labels: approved, cncf-cla: yes, language/en, language/fr, language/ja, language/ko, language/zh, lgtm, sig/docs, sig/scheduling, size/M

#21284 Remove third-party vendors from cloud provider docs
  content/en/docs/concepts/cluster-administration/cloud-providers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#23169 remove rkt reference
  content/en/docs/tutorials/kubernetes-basics/explore/explore-intro.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23039 Translate tasks/administer-cluster/declare-network-policy into Japanese
  content/ja/docs/tasks/administer-cluster/declare-network-policy.md
  content/ja/examples/service/networking/nginx-policy.yaml
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#22764 update default config for Openstack Cloud Controller Manager since v1.17.0 version release
  content/en/docs/concepts/cluster-administration/cloud-providers.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/XS

#22927 grammar and syntax errors
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23173 [zh] Resync DNS customization task
  content/zh/docs/tasks/administer-cluster/dns-custom-nameservers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#23091 Modify text in Korean top page for KubeCon announcement
  content/ko/_index.html
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#23143 object-management.md's korean translation revised
  content/ko/docs/concepts/overview/working-with-objects/object-management.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#23146 [zh] Resync cluster-management task doc
  content/zh/docs/tasks/administer-cluster/cluster-management.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23052 Remove /static/images/community_logos
  static/images/community_logos/adform_logo.png
  static/images/community_logos/appformix_logo.png
  static/images/community_logos/apprenda_logo.png
  static/images/community_logos/aqua_logo.png
  static/images/community_logos/box_logo.png
  static/images/community_logos/capitalone.png
  static/images/community_logos/citrix_logo.png
  static/images/community_logos/core_os_logo.png
  static/images/community_logos/crunchy_data_logo.png
  static/images/community_logos/datadog_logo.png
  static/images/community_logos/deis_logo.png
  static/images/community_logos/distelli_logo.png
  static/images/community_logos/ebay_logo.png
  static/images/community_logos/elastickube_logo.png
  static/images/community_logos/goldman_sachs_logo.png
  static/images/community_logos/ibm_logo.png
  static/images/community_logos/ing.png
  static/images/community_logos/intel_logo.png
  static/images/community_logos/kabam_logo.png
  static/images/community_logos/mesosphere_logo.png
  static/images/community_logos/mirantis_logo.png
  static/images/community_logos/new_york_times_logo.png
  static/images/community_logos/nordstrom.png
  static/images/community_logos/northwestern-mutual.png
  static/images/community_logos/nuage_network_logo.png
  static/images/community_logos/nyt.png
  static/images/community_logos/openai.png
  static/images/community_logos/pearson.png
  static/images/community_logos/pearson_logo.png
  static/images/community_logos/pinterest.png
  static/images/community_logos/platform9_logo.png
  static/images/community_logos/puppet_logo.png
  static/images/community_logos/rancher_logo.png
  static/images/community_logos/red_hat_logo.png
  static/images/community_logos/slingtv_logo.png
  static/images/community_logos/soundcloud_logo.png
  static/images/community_logos/sysdig_cloud_logo.png
  static/images/community_logos/sysdig_logo.png
  static/images/community_logos/ubuntu_cannonical_logo.png
  static/images/community_logos/viacom_logo.png
  static/images/community_logos/we_pay_logo.png
  static/images/community_logos/wercker_logo.png
  static/images/community_logos/wikimedia_foundation_logo.png
  static/images/community_logos/wikimedia_logo.png
  static/images/community_logos/workiva_logo.png
  static/images/community_logos/ygrene_logo.png
  static/images/community_logos/zulily_logo.png
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, sig/docs, size/XS

#21884 Reduce header height when announcement shown
  assets/scss/_custom.scss
  assets/scss/_tablet.scss
  static/css/announcement.css
Labels: approved, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/M

#23000 Fix CRI-O installation information
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#23208 Translate docs/concepts/security/_index into Japanese
  content/ja/docs/concepts/security/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#23201 [zh] Tidy up and fix links in tasks section (10/10)
  content/zh/docs/tasks/inject-data-application/define-command-argument-container.md
  content/zh/docs/tasks/inject-data-application/define-environment-variable-container.md
  content/zh/docs/tasks/manage-daemon/rollback-daemon-set.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23170 [zh] Resync access cluster API
  content/zh/docs/tasks/administer-cluster/access-cluster-api.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#23145 [zh] Rework the reconfig kubelet task
  content/zh/docs/tasks/administer-cluster/reconfigure-kubelet.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#23147 [zh] Resync DNS autoscaling task
  content/zh/docs/tasks/administer-cluster/dns-horizontal-autoscaling.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23115 [zh] Resync configure Pod ConfigMap task
  content/zh/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#23117 [zh] Tune translation for assign CPU resource
  content/zh/docs/tasks/configure-pod-container/assign-cpu-resource.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23158 [zh] Resync DNS debugging solution task
  content/zh/docs/tasks/administer-cluster/dns-debugging-resolution.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23161 [zh] Resync default storage class
  content/zh/docs/tasks/administer-cluster/change-default-storage-class.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23182 [zh] Resync downward API task
  content/zh/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23186 [zh] Rework PodPreset task
  content/zh/docs/tasks/inject-data-application/podpreset.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23189 [zh] Rework environment-variable-expose-pod-information
  content/zh/docs/tasks/inject-data-application/environment-variable-expose-pod-information.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#22967 Create 2018-07-10-coredns-ga.md
  content/zh/blog/_posts/2018-07-10-coredns-ga.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23060 Translate 2019-03-07-raw-block-volume-support-to-beta.md
  content/zh/blog/_posts/2019-03-07-raw-block-volume-support-to-beta.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23099 Translate 2018-04-25-open-source-charts-2017.md
  content/zh/blog/_posts/2018-04-25-open-source-charts-2017.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#23219 Update nodes.md
  content/en/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#23226 Update translation in cron-jobs.md
  content/zh/docs/concepts/workloads/controllers/cron-jobs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#23221 DE cluster verwalten index
  content/de/docs/tasks/administer-cluster/_index.md
  content/de/docs/tasks/administer-cluster/kubeadm/_index.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#22574 Translate tasks/extend-kubernetes/setup-extension-api-server.md into …
  content/ko/docs/tasks/extend-kubernetes/_index.md
  content/ko/docs/tasks/extend-kubernetes/setup-extension-api-server.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M
