Repository kubernetes/website, pull requests merged in 2020-02, with the labels that each got.

#18868 sync zh-trans content/zh/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/zh/docs/concepts/workloads/controllers/ttlafterfinished.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18907 See also removed file 60 to 63
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_admin.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_all.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_controller-manager.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18910 See also removed file 91 to 95
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset_phase_preflight.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset_phase_update-cluster-status.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_token.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_create.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18870 sync zh-trans content/zh/docs/concepts/workloads/pods/podpreset.md
  content/zh/docs/concepts/workloads/pods/podpreset.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18914 fix: fixed eating initial 2 spaces inside code.
  content/en/docs/concepts/configuration/taint-and-toleration.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18821 Update Calico section of kubeadm install guide
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#18911 See also removed file 96 to 100
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_delete.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_generate.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_list.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_apply.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18400 Revise Italian code of conduct localization
  content/it/community/code-of-conduct.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/it, lgtm, sig/docs, size/S

#18949 repair zh docs in kubeadm
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#18950 repair zh docs about kubeadm
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_scheduler.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#18951 Fix url in apparmor.md
  content/zh/docs/tutorials/clusters/apparmor.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#18952 Update url in basic-stateful-set.md
  content/zh/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#18936 Add missing hyperlink for pod-overhead
  content/zh/docs/concepts/configuration/pod-overhead.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#18480 Update service.md, make article reads more smoothly
  content/zh/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#18657 zh-trans update content/zh/docs/concepts/workloads/controllers/deploy…
  content/zh/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#18760 Update source-ip documentation
  content/zh/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18880 sync zh-trans /docs/concepts/workloads/pods/pod.md
  content/zh/docs/concepts/workloads/pods/pod.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18864 sync zh-trans /docs/concepts/workloads/controllers/cron-jobs.md and /…
  content/zh/docs/concepts/workloads/controllers/cron-jobs.md
  content/zh/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18867 sync zh-trans content/zh/docs/concepts/workloads/controllers/replicationcontroller.md
  content/zh/docs/concepts/workloads/controllers/replicationcontroller.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18604 Add a French version of Secret concept page
  content/fr/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XL

#18944 (refactor): Corrections (grammatical) in service.md file
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#18538 Italiano: Reword Kubernetes case studies title
  content/it/case-studies/_index.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/it, lgtm, sig/docs, size/XS

#18608 Update container-runtimes.md
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18924 Fix that dual-stack does not require Kubenet specifically
  content/en/docs/concepts/services-networking/dual-stack.md
  content/en/docs/tasks/network/validate-dual-stack.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/S

#18930 Update links to ja docs (home/, tasks/tools/install-kubectl/, concepts/services-networking/service/)
  content/ja/docs/concepts/_index.md
  content/ja/docs/concepts/architecture/nodes.md
  content/ja/docs/concepts/configuration/overview.md
  content/ja/docs/concepts/overview/what-is-kubernetes.md
  content/ja/docs/concepts/services-networking/connect-applications-service.md
  content/ja/docs/concepts/services-networking/dns-pod-service.md
  content/ja/docs/concepts/services-networking/ingress.md
  content/ja/docs/concepts/services-networking/service.md
  content/ja/docs/concepts/workloads/controllers/daemonset.md
  content/ja/docs/concepts/workloads/controllers/statefulset.md
  content/ja/docs/reference/command-line-tools-reference/feature-gates.md
  content/ja/docs/reference/glossary/service.md
  content/ja/docs/setup/production-environment/tools/kops.md
  content/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/ja/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
  content/ja/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/ja/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/ja/docs/tasks/run-application/run-replicated-stateful-application.md
  content/ja/docs/tasks/tools/install-kubectl.md
  content/ja/docs/tasks/tools/install-minikube.md
  content/ja/docs/tutorials/hello-minikube.md
  content/ja/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/ja/docs/tutorials/stateless-application/expose-external-ip-address.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#18963 Revert "Configurable Scaling for the HPA"
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#18965 Update version for Configuration HPA scaling enhancement
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18960 Update horizontal-pod-autoscale-walkthrough.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18916 doc: add link for type=LoadBalancer service in tutorial.
  content/en/docs/tutorials/stateless-application/expose-external-ip-address.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#18830 Typo fix
  content/en/docs/tutorials/kubernetes-basics/update/update-intro.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18869 sync zh-trans /docs/concepts/workloads/controllers/statefulset.md
  content/zh/docs/concepts/workloads/controllers/statefulset.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18744 Revise pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  content/en/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#18970 Update certificates.md fixed type
  content/en/docs/setup/best-practices/certificates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17974 Add web-ui-dashboard to French
  content/fr/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#18981 Added a translated code of conduct
  content/de/community/code-of-conduct.md
  content/de/community/static/README.md
  content/de/community/static/cncf-code-of-conduct.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/M

#18873 Translate tasks/administer-cluster/enabling-endpointslices.md in Japanese (#18140)
  content/ja/docs/tasks/administer-cluster/enabling-endpointslices.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#13425 Translate the contribute advanced page to French
  content/fr/docs/contribute/advanced.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/M

#18991 Fix typo in hello-minikube.md
  content/de/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#18784 Add note for LB behaviour for cordoned nodes.
  content/en/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#17860 Add KIND as the options for spinning up a test kubernetes environment
  content/en/docs/setup/learning-environment/kind.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#18997 fix typo in /ja/docs/concepts/workloads/pods/init-containers
  content/ja/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#18986 hide some original comments in translate docs
  content/zh/docs/concepts/storage/storage-classes.md
  content/zh/docs/concepts/workloads/controllers/deployment.md
  content/zh/docs/reference/access-authn-authz/node.md
  content/zh/docs/reference/kubectl/kubectl.md
  content/zh/docs/tasks/access-application-cluster/create-external-load-balancer.md
  content/zh/docs/tasks/administer-cluster/ip-masq-agent.md
  content/zh/docs/tasks/administer-cluster/nodelocaldns.md
  content/zh/docs/tasks/configure-pod-container/configure-volume-storage.md
  content/zh/docs/tasks/federation/administer-federation/job.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#19006 Fix code of conduct title (German localization)
  content/de/community/static/cncf-code-of-conduct.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/de, lgtm, priority/backlog, sig/docs, size/XS

#18979 Added a note about built-in priority-classes
  content/en/docs/concepts/configuration/pod-priority-preemption.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19001 Add description for TTL
  content/en/docs/concepts/workloads/controllers/ttlafterfinished.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18990 Fix whitespace on deployment page
  content/fr/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/L

#19014 Add details to the API deprecations blog post
  content/en/blog/_posts/2019-07-18-some-apis-are-being-deprecated.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#18977 Document list/map/structType and listMapKeys
  content/en/docs/reference/using-api/api-concepts.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S, wg/apply

#18956 Remove "Unschedulable" pod condition type from the pod lifecycle docs
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18810 Revise “Encrypting Secret Data at Rest”
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#18871 maintain the current relative path when switching to other site versions
  layouts/partials/header.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#18885 Update kubectl create configmap section
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#18712 Add common examples to Service Topology documentation
  content/en/docs/concepts/services-networking/service-topology.md
  content/en/docs/tasks/administer-cluster/enabling-service-topology.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#18787 updating contrib pages for ref docs
  content/en/docs/contribute/generate-ref-docs/_index.md
  content/en/docs/contribute/generate-ref-docs/contribute-upstream.md
  content/en/docs/contribute/generate-ref-docs/kubectl.md
  content/en/docs/contribute/generate-ref-docs/kubernetes-api.md
  content/en/docs/contribute/generate-ref-docs/kubernetes-components.md
  content/en/docs/contribute/generate-ref-docs/prerequisites-ref-docs.md
  content/en/docs/contribute/generate-ref-docs/quickstart.md
  update-imported-docs/README.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#19018 fix translate docs format
  content/zh/docs/tasks/configure-pod-container/configure-volume-storage.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#19019 trims typo
  content/ja/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#19011 Update share process namespace in Japanese
  content/ja/docs/tasks/configure-pod-container/share-process-namespace.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#18988 Revert trailing whitespaces
  content/ja/docs/concepts/overview/what-is-kubernetes.md
  content/ja/docs/concepts/services-networking/dns-pod-service.md
  content/ja/docs/concepts/services-networking/ingress.md
  content/ja/docs/concepts/services-networking/service.md
  content/ja/docs/concepts/workloads/controllers/daemonset.md
  content/ja/docs/concepts/workloads/controllers/statefulset.md
  content/ja/docs/tasks/tools/install-kubectl.md
  content/ja/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#19022 Translate Contribute index page into Russian
  content/ru/docs/contribute/_index.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/M

#19010 Added german translation for Addons page
  content/de/docs/concepts/cluster-administration/addons.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/M

#18877 (fix) Removed namespaced scope from kubectl command to get PV
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18996 Link to setup page about Kind
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18808 Create Deploying-External-OpenStack-Cloud-Provider-With-Kubeadm.md
  content/en/blog/_posts/2020-02-07-Deploying-External-OpenStack-Cloud-Provider-With-Kubeadm.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#16291 Revise glossary entry for Device Plugin
  content/en/docs/reference/glossary/device-plugin.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#17578 Document control plane monitoring
  content/en/docs/concepts/cluster-administration/controller-metrics.md
  content/en/docs/concepts/cluster-administration/monitoring.md
  data/concepts.yml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#17952 Document none driver compatibility with non docker runtime.
  content/en/docs/setup/learning-environment/minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18015 Refined unclear sentence on 3rd party dependencies
  content/en/docs/concepts/security/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18091 Improve network policies concept
  content/en/docs/concepts/services-networking/network-policies.md
  content/en/examples/service/networking/network-policy-allow-all-egress.yaml
  content/en/examples/service/networking/network-policy-allow-all-ingress.yaml
  content/en/examples/service/networking/network-policy-default-deny-all.yaml
  content/en/examples/service/networking/network-policy-default-deny-egress.yaml
  content/en/examples/service/networking/network-policy-default-deny-ingress.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#18320 clean up secret generators
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#18542 Use built-in version check & metadata for CRD versions task
  content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/api-machinery, sig/docs, size/XS

#18629 Revise “Reconfigure a Node's Kubelet in a Live Cluster”
  content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/L

#18851 kubeadm: add notes about deprecating kube-dns usage in 1.18
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/tasks/administer-cluster/coredns.md
Labels: approved, cncf-cla: yes, kind/deprecation, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/M

#18913 fix: add dns search record limit note.
  content/en/docs/tasks/administer-cluster/dns-debugging-resolution.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18920 Remove duplicate content: Roles & Responsibilities
  content/en/docs/contribute/_index.md
  content/en/docs/contribute/participating.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#18974 Fix of pull request #18960
  content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/en/examples/application/php-apache.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#18975 Update cheatsheet.md
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18983 Correct description of Knitter CNI plugin
  content/en/docs/concepts/cluster-administration/addons.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19024 Add Elastic metricbeat to examples of DaemonSets and rename logstash
  content/en/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19023 Updated "Use an HTTP Proxy to Access the Kubernetes API" to match style guide
  content/en/docs/tasks/access-kubernetes-api/http-proxy-access-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19027 Update KubeCon URLs
  content/en/_index.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19032 remove see also and close issue
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubelet.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#18865 sync zh-trans content/zh/docs/concepts/workloads/controllers/garbage-…
  content/zh/docs/concepts/workloads/controllers/garbage-collection.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#18856 trans zh content/zh/docs/reference/access-authn-authz/extensible-admi…
  content/zh/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#18992 Update zh/docs/concepts/services-networking/dns-pod-service.md#pods
  content/zh/docs/concepts/services-networking/dns-pod-service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#18059 enh: Adding contribution best practices in contribute docs
  content/en/docs/contribute/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#18853 Add kubectl patch example with quotes on Windows
  content/en/docs/tasks/administer-cluster/change-pv-reclaim-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/windows, size/S

#19009 cleanup /docs/concepts/workloads/pods/pod-lifecycle/
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#18987 update zh-trans content/zh/docs/concepts/architecture/nodes.md
  content/zh/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#18906 Remove command prompt from Windows example
  content/en/docs/reference/kubectl/jsonpath.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19036 Updated CHANGELOG-11 link in cheatsheet
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19005 update command used to create deployment
  content/en/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18954 Correct a wrong resource name: Endpoint
  content/ja/docs/concepts/services-networking/connect-applications-service.md
  content/ja/docs/concepts/services-networking/service.md
  content/ja/docs/reference/command-line-tools-reference/feature-gates.md
  content/ja/docs/tasks/debug-application-cluster/debug-service.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#19004 Update Korean localization guide
  content/ko/docs/contribute/localization_ko.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#18955 translate assign-pod-node.md
  content/ko/docs/concepts/configuration/assign-pod-node.md
  content/ko/examples/pods/pod-nginx.yaml
  content/ko/examples/pods/pod-with-node-affinity.yaml
  content/ko/examples/pods/pod-with-pod-affinity.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#19021 docs: fix broken etcd's official documents link
  content/de/docs/reference/glossary/etcd.md
  content/id/docs/reference/glossary/etcd.md
  content/ko/docs/reference/glossary/etcd.md
  content/zh/docs/reference/glossary/etcd.md
Labels: approved, cncf-cla: yes, language/de, language/id, language/ko, language/zh, lgtm, sig/docs, size/S

#19043 Update automated-tasks-with-cron-jobs.md
  content/en/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19054 Convert to {{ note }} shortcode
  content/en/docs/tasks/run-application/run-replicated-stateful-application.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19056 adding elixir k8s client
  content/en/docs/reference/using-api/client-libraries.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19062 Remove ryanmcginnis from OWNERS_ALIASES
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19038 Replace links with redirect destination
  content/en/docs/concepts/overview/working-with-objects/labels.md
  content/en/docs/tasks/run-application/run-single-instance-stateful-application.md
  content/en/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#18122 Tweak linking for Kubernetes object concept
  content/en/docs/concepts/_index.md
  content/en/docs/concepts/architecture/controller.md
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/en/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/en/docs/reference/using-api/api-concepts.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19035 Remove shortcode 'code'
  content/en/docs/tasks/federation/policy.rego
  content/en/docs/tasks/federation/set-up-placement-policies-federation.md
  content/zh/docs/tasks/federation/policy.rego
  content/zh/docs/tasks/federation/set-up-placement-policies-federation.md
  layouts/shortcodes/code.html
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/L

#18834 added rbac redirect
  content/en/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19063 correct the misspelling
  content/ko/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#18959 Update links to ja docs (concepts/workloads/)
  content/ja/docs/concepts/architecture/nodes.md
  content/ja/docs/concepts/configuration/assign-pod-node.md
  content/ja/docs/concepts/configuration/overview.md
  content/ja/docs/concepts/containers/container-lifecycle-hooks.md
  content/ja/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/ja/docs/concepts/overview/working-with-objects/labels.md
  content/ja/docs/concepts/workloads/controllers/daemonset.md
  content/ja/docs/concepts/workloads/controllers/deployment.md
  content/ja/docs/concepts/workloads/controllers/replicaset.md
  content/ja/docs/concepts/workloads/controllers/statefulset.md
  content/ja/docs/concepts/workloads/pods/init-containers.md
  content/ja/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ja/docs/concepts/workloads/pods/pod-overview.md
  content/ja/docs/concepts/workloads/pods/pod.md
  content/ja/docs/reference/glossary/deployment.md
  content/ja/docs/reference/glossary/pod.md
  content/ja/docs/reference/glossary/statefulset.md
  content/ja/docs/setup/production-environment/tools/kubeadm/self-hosting.md
  content/ja/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/ja/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
  content/ja/docs/tasks/run-application/run-single-instance-stateful-application.md
  content/ja/docs/tasks/run-application/run-stateless-application-deployment.md
  content/ja/docs/tutorials/hello-minikube.md
  content/ja/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/ja/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/ja/docs/tutorials/stateless-application/expose-external-ip-address.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#19070 Change rbac url to alias
  content/en/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18968 chore: update terminology list content and add ref link.
  content/en/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#17584 Clean up kubeadm install guide
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/M

#19052 Updated network-policies.md for default deny all ingress and egress traffic
  content/en/docs/concepts/services-networking/network-policies.md
  content/en/examples/service/networking/network-policy-default-deny-all.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18817 cleanup: remove hugo-version-check.sh.
  Makefile
  scripts/README.md
  scripts/hugo-version-check.sh
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#19082 Update SECURITY_CONTACTS
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19065 fix formatting errors
  content/zh/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#19077 adding in a docs alias
  content/en/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18793 Update daemonset to 1.17
  content/ja/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#19067 remove ctrl-h
  content/ja/docs/concepts/configuration/assign-pod-node.md
  content/ja/docs/concepts/overview/working-with-objects/labels.md
  content/ja/docs/concepts/services-networking/ingress.md
  content/ja/docs/concepts/workloads/controllers/daemonset.md
  content/ja/docs/concepts/workloads/controllers/deployment.md
  content/ja/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/ja/docs/tasks/run-application/run-replicated-stateful-application.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#19087 updating agenda meeting link
  content/en/docs/contribute/start.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#19091 remove reviewers block
  content/ja/docs/concepts/workloads/pods/pod-overview.md
  content/ja/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/ja/docs/setup/production-environment/windows/user-guide-windows-containers.md
  content/ja/docs/setup/production-environment/windows/user-guide-windows-nodes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#19092 cri-o version must match the k8 version
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18980 Clean up and implement style guidelines for “Declare Network Policy”
  content/en/docs/tasks/administer-cluster/declare-network-policy.md
  content/en/examples/service/networking/nginx-policy.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#19079 Add IPv6 DNS records to the dns pod service docs
  content/en/docs/concepts/services-networking/dns-pod-service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19098 fix error in StartupProbe feature gate
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18643 Add id/resource_quotas localization
  content/id/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XL

#19100 fix comment display
  content/zh/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#18430 Add note on `none` driver in minikube installation docs
  content/en/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#18928 Reduce ambiguity on nodePort
  content/en/docs/tasks/access-application-cluster/create-external-load-balancer.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19107 Fix Typo
  content/de/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#16790 Remove trailing spaces from it documents(#16742)
  content/it/community/code-of-conduct.md
  content/it/docs/concepts/architecture/nodes.md
  content/it/docs/concepts/cluster-administration/cloud-providers.md
  content/it/docs/concepts/cluster-administration/cluster-administration-overview.md
  content/it/docs/concepts/cluster-administration/controller-metrics.md
  content/it/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/it/docs/concepts/cluster-administration/manage-deployment.md
  content/it/docs/concepts/cluster-administration/networking.md
  content/it/includes/federation-deprecation-warning-note.md
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/L

#19118 fix format error
  content/zh/docs/tasks/administer-cluster/out-of-resource.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#19002 Update to Outdated files in dev-1.17-ko.4 branch.
  content/ko/docs/concepts/architecture/cloud-controller.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/containers/runtime-class.md
  content/ko/docs/concepts/overview/components.md
  content/ko/docs/concepts/overview/kubernetes-api.md
  content/ko/docs/concepts/services-networking/connect-applications-service.md
  content/ko/docs/concepts/services-networking/endpoint-slices.md
  content/ko/docs/concepts/services-networking/ingress-controllers.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/workloads/controllers/replicaset.md
  content/ko/docs/concepts/workloads/pods/ephemeral-containers.md
  content/ko/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ko/docs/contribute/style/write-new-topic.md
  content/ko/docs/reference/glossary/cluster.md
  content/ko/docs/reference/glossary/container-runtime.md
  content/ko/docs/reference/glossary/kube-controller-manager.md
  content/ko/docs/reference/glossary/kube-scheduler.md
  content/ko/docs/reference/glossary/pod-lifecycle.md
  content/ko/docs/reference/issues-security/security.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/setup/_index.md
  content/ko/docs/setup/best-practices/node-conformance.md
  content/ko/docs/setup/learning-environment/minikube.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/tools/kops.md
  content/ko/docs/tasks/administer-cluster/network-policy-provider/cilium-network-policy.md
  content/ko/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
  content/ko/docs/tasks/manage-kubernetes-objects/declarative-config.md
  content/ko/docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/ko/docs/tutorials/hello-minikube.md
  content/ko/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/ko/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
  content/ko/examples/minikube/Dockerfile
  content/ko/includes/task-tutorial-prereqs.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#18976 Add a theme-color
  layouts/partials/head.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19127 Fourth Korean l10n work for release 1.17
  content/ko/docs/concepts/architecture/cloud-controller.md
  content/ko/docs/concepts/configuration/assign-pod-node.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/containers/runtime-class.md
  content/ko/docs/concepts/overview/components.md
  content/ko/docs/concepts/overview/kubernetes-api.md
  content/ko/docs/concepts/services-networking/connect-applications-service.md
  content/ko/docs/concepts/services-networking/endpoint-slices.md
  content/ko/docs/concepts/services-networking/ingress-controllers.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/workloads/controllers/replicaset.md
  content/ko/docs/concepts/workloads/pods/ephemeral-containers.md
  content/ko/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ko/docs/contribute/style/write-new-topic.md
  content/ko/docs/reference/glossary/cluster.md
  content/ko/docs/reference/glossary/container-runtime.md
  content/ko/docs/reference/glossary/kube-controller-manager.md
  content/ko/docs/reference/glossary/kube-scheduler.md
  content/ko/docs/reference/glossary/pod-lifecycle.md
  content/ko/docs/reference/issues-security/security.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/setup/_index.md
  content/ko/docs/setup/best-practices/node-conformance.md
  content/ko/docs/setup/learning-environment/minikube.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/tools/kops.md
  content/ko/docs/tasks/administer-cluster/network-policy-provider/cilium-network-policy.md
  content/ko/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
  content/ko/docs/tasks/manage-kubernetes-objects/declarative-config.md
  content/ko/docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/ko/docs/tutorials/hello-minikube.md
  content/ko/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/ko/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/ko/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
  content/ko/examples/minikube/Dockerfile
  content/ko/examples/pods/pod-nginx.yaml
  content/ko/examples/pods/pod-with-node-affinity.yaml
  content/ko/examples/pods/pod-with-pod-affinity.yaml
  content/ko/includes/task-tutorial-prereqs.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#19117 Sync between master dev 1.18
  Makefile
  OWNERS_ALIASES
  SECURITY_CONTACTS
  content/de/docs/reference/kubectl/cheatsheet.md
  content/en/docs/concepts/_index.md
  content/en/docs/concepts/architecture/controller.md
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/en/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/en/docs/concepts/overview/working-with-objects/labels.md
  content/en/docs/concepts/services-networking/dns-pod-service.md
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/concepts/services-networking/network-policies.md
  content/en/docs/contribute/start.md
  content/en/docs/reference/access-authn-authz/rbac.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/using-api/api-concepts.md
  content/en/docs/reference/using-api/client-libraries.md
  content/en/docs/setup/production-environment/container-runtimes.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/tasks/access-application-cluster/create-external-load-balancer.md
  content/en/docs/tasks/administer-cluster/declare-network-policy.md
  content/en/docs/tasks/federation/policy.rego
  content/en/docs/tasks/federation/set-up-placement-policies-federation.md
  content/en/docs/tasks/run-application/run-replicated-stateful-application.md
  content/en/docs/tasks/run-application/run-single-instance-stateful-application.md
  content/en/docs/tasks/tools/install-minikube.md
  content/en/docs/tutorials/hello-minikube.md
  content/en/examples/service/networking/network-policy-default-deny-all.yaml
  content/en/examples/service/networking/nginx-policy.yaml
  content/id/docs/concepts/policy/resource-quotas.md
  content/zh/docs/concepts/services-networking/ingress.md
  content/zh/docs/concepts/workloads/controllers/deployment.md
  content/zh/docs/tasks/federation/policy.rego
  content/zh/docs/tasks/federation/set-up-placement-policies-federation.md
  layouts/shortcodes/code.html
  scripts/README.md
  scripts/hugo-version-check.sh
Labels: approved, cncf-cla: yes, language/de, language/en, language/id, language/zh, lgtm, sig/docs, tide/merge-method-merge

#19126 hidden original annotation
  content/zh/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#19132 Correct note shortcode for run-replicated-stateful-application.md
  content/en/docs/tasks/run-application/run-replicated-stateful-application.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19094 Update Korean glossary for l10n
  content/ko/docs/contribute/localization_ko.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#18560 Update Doc k8s.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/
  content/en/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#18985 Add localization guide specific for Polish translation
  content/pl/docs/contribute/localization-pl.md
Labels: approved, cncf-cla: yes, language/pl, lgtm, sig/docs, size/M

#19133 Polish zh translation for taint-and-toleration
  content/zh/docs/concepts/configuration/taint-and-toleration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#19135 Add missing "in" for DeploymentSpec link
  content/en/docs/concepts/overview/working-with-objects/kubernetes-objects.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19110 Add latest-semver shortcode
  layouts/shortcodes/latest-semver.html
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19131 Remove extra note in note shortcode
  content/zh/docs/contribute/style/hugo-shortcodes/index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#19037 update zh-trans content/zh/docs/concepts/policy/resource-quotas.md
  content/zh/docs/concepts/policy/resource-quotas.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#19136 A few tweaks to wording
  content/en/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#19084 Prune Bradamant3 from permissions
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#19147 update link to /ja/docs/tasks/tools/install-minikube/
  content/ja/docs/setup/learning-environment/minikube.md
  content/ja/docs/tasks/tools/install-kubectl.md
  content/ja/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#19124 Translate Start contributing page into Russian
  content/ru/docs/contribute/start.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/L

#18281 Upgrade command of homebrew installs minikube
  content/de/docs/tasks/tools/install-minikube.md
  content/es/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/de, language/es, lgtm, sig/docs, size/XS

#19134 translate networking
  content/ja/docs/concepts/cluster-administration/networking.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#19151 Tidy “Participating in SIG Docs”
  content/en/docs/contribute/participating.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#19148 Modify terminology
  content/ja/docs/concepts/architecture/cloud-controller.md
  content/ja/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/ja/docs/concepts/extend-kubernetes/extend-cluster.md
  content/ja/docs/concepts/scheduling/scheduler-perf-tuning.md
  content/ja/docs/concepts/services-networking/service.md
  content/ja/docs/concepts/workloads/controllers/ttlafterfinished.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S
