Repository kubernetes/website, pull requests merged in 2021-06, with the labels that each got.

#27615 [ja] Update CronJob example yaml apiversion: batch/v1beta1 --> batch/v1
  content/ja/examples/application/job/cronjob.yaml
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#24308 [de] Add missing git submodules init to german README.
  README-de.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/S, tide/merge-method-squash

#28155 [zh] translate tasks/Enabling Topology Aware Hints
  content/zh/docs/tasks/administer-cluster/enabling-topology-aware-hints.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#28157 [uk] Add configuration java microservice
  content/uk/docs/tutorials/_index.md
Labels: approved, cncf-cla: yes, language/uk, lgtm, sig/docs, size/S

#28179 zh: resync concepts workloads files
  content/zh/docs/concepts/workloads/pods/disruptions.md
  content/zh/docs/concepts/workloads/pods/init-containers.md
  content/zh/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#28214 [zh] translate concepts/API-initiated Eviction
  content/zh/docs/concepts/scheduling-eviction/api-eviction.md
  content/zh/docs/reference/glossary/api-eviction.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#28100 [ko] Translate docs/tasks/configure-pod-container/configure-runasusername in Korean
  content/ko/docs/tasks/configure-pod-container/configure-runasusername.md
  content/ko/examples/windows/configmap-pod.yaml
  content/ko/examples/windows/daemonset.yaml
  content/ko/examples/windows/deploy-hyperv.yaml
  content/ko/examples/windows/deploy-resource.yaml
  content/ko/examples/windows/emptydir-pod.yaml
  content/ko/examples/windows/hostpath-volume-pod.yaml
  content/ko/examples/windows/run-as-username-container.yaml
  content/ko/examples/windows/run-as-username-pod.yaml
  content/ko/examples/windows/secret-pod.yaml
  content/ko/examples/windows/simple-pod.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#28237 [ko] Translate concepts/storage/volume-health-monitoring in Korean
  content/ko/docs/concepts/storage/volume-health-monitoring.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#28210 [ko] Update outdated files in dev-1.21-ko.3 (p6)
  content/ko/docs/setup/production-environment/_index.md
  content/ko/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#28174 [ko] Update outdated files in dev-1.21-ko.3(M28-M36)
  content/ko/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
  content/ko/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/ko/docs/tasks/job/automated-tasks-with-cron-jobs.md
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/ko/docs/tasks/run-application/delete-stateful-set.md
  content/ko/examples/application/job/redis/worker.py
  content/ko/examples/controllers/daemonset.yaml
  content/ko/includes/task-tutorial-prereqs.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#28175 [ko] Restructure release directory and docs for Korean
  content/ko/docs/setup/release/_index.md
  content/ko/docs/setup/release/notes.md
  content/ko/releases/_index.md
  content/ko/releases/notes.md
  content/ko/releases/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#28134 Update outdated files in the dev-1.21-ko.3 branch (1)
  content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#28243 [zh]: fix names.md
  content/zh/docs/concepts/overview/working-with-objects/names.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27564 Translate content/ru/docs/concepts/architecture/controller.md to russian
  content/ru/community/_index.html
  content/ru/community/static/README.md
  content/ru/community/static/community-values.md
  content/ru/community/values.md
  content/ru/docs/_index.md
  content/ru/docs/concepts/architecture/_index.md
  content/ru/docs/concepts/architecture/cloud-controller.md
  content/ru/docs/concepts/architecture/control-plane-node-communication.md
  content/ru/docs/concepts/architecture/controller.md
  content/ru/docs/reference/glossary/cloud-controller-manager.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/L, tide/merge-method-squash

#28241 [zh]Update init-containers.md
  content/zh/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#28121 [ko] Translate /concepts/cluster-administration/system-logs.md into Korean
  content/ko/docs/concepts/cluster-administration/system-logs.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#28239 SCTP is stable as of 1.20
  content/en/docs/concepts/services-networking/network-policies.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#28234 Nit: Fix hrefs of some links
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/en/docs/concepts/workloads/pods/disruptions.md
  content/en/docs/reference/command-line-tools-reference/kube-scheduler.md
  content/en/docs/reference/scheduling/config.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_generate-csr.md
  content/en/docs/reference/using-api/deprecation-guide.md
  content/en/docs/setup/best-practices/cluster-large.md
  content/en/docs/setup/production-environment/_index.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/S

#28213 modify error of zh docs
  content/zh/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#28242 [zh]: fix common lables.md
  content/zh/docs/concepts/overview/working-with-objects/common-labels.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#28260 Fix translation
  content/zh/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md
  content/zh/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md
  content/zh/blog/_posts/2016-01-00-Why-Kubernetes-Doesnt-Use-Libnetwork.md
  content/zh/blog/_posts/2020-12-02-dockershim-faq.md
  content/zh/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md
  content/zh/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S, tide/merge-method-squash

#28247 links corrected
  content/en/releases/patch-releases.md
  content/en/releases/release.md
Labels: approved, area/release-eng, cncf-cla: yes, language/en, lgtm, sig/docs, sig/release, size/L

#27707 Translate tasks/job/indexed-parallel-processing-static/ into Japanese
  content/ja/docs/tasks/job/indexed-parallel-processing-static.md
  content/ja/examples/application/job/indexed-job-vol.yaml
  content/ja/examples/application/job/indexed-job.yaml
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#27952 [ja] Update links in ja/docs/concepts/storage/persistent-volumes.md
  content/ja/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#27595 Translate tasks/manage-kubernetes-objects/ into Japanese
  content/ja/docs/tasks/manage-kubernetes-objects/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27846 Translate concepts/cluster-administration/kubelet-garbage-collection into Japanese
  content/ja/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/ja/docs/concepts/containers/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#27950 [ja] Update HAProxy Protocol Link
  content/ja/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#28093 Translate concepts/configuration/organize-cluster-access-kubeconfig/ into Japanese
  content/ja/docs/concepts/configuration/organize-cluster-access-kubeconfig.md
  content/ja/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#28096 Add ExpandedDNSConfig feature gate
  content/en/docs/concepts/services-networking/dns-pod-service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/administer-cluster/dns-debugging-resolution.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/S

#28246 Improvement in Configure Service Accounts for Pods Task
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28225 Terminology: high-availability masters -> high-availability control plane
  content/en/docs/tasks/administer-cluster/highly-available-control-plane.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L, tide/merge-method-squash

#27984 Fixes a small typo in topology aware hints page
  content/en/docs/concepts/services-networking/topology-aware-hints.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28087 Deleted reference to removed file
  content/en/docs/contribute/generate-ref-docs/contribute-upstream.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28294 Fix Windows sample command
  content/en/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28030 Fix list all uniq container images
  content/en/docs/tasks/access-application-cluster/list-all-running-container-images.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28176 zh: resync scheduling files
  content/zh/docs/concepts/scheduling-eviction/_index.md
  content/zh/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/zh/docs/concepts/scheduling-eviction/pod-overhead.md
  content/zh/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/zh/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/zh/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/zh/docs/concepts/scheduling-eviction/taint-and-toleration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#28161 Update resource-bin-packing.md
  content/en/docs/concepts/scheduling-eviction/resource-bin-packing.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#28166 Delete logging-stackdriver.md
  content/en/docs/tasks/debug-application-cluster/logging-stackdriver.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#27918 fix(redirects): update broken /contribute/participating/ redirect
  static/_redirects
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#28297 [ko] Update assign-pod-node.md
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#28255 [ja] Fix emphasis tags in ja/docs/concepts/services-networking/service.md
  content/ja/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#28108 Fixed link to API priority and fairness enhancement proposal
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28321 Fix a typo on labels-annotations-taints page
  content/en/docs/reference/labels-annotations-taints.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#28263 Adding one line code for installation of kubectl
  content/en/docs/tasks/tools/install-kubectl-macos.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28250 [en]: fix client libraries
  content/en/docs/reference/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28208 replace http link to https
  content/en/blog/_posts/2018-01-00-Core-Workloads-Api-Ga.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28311 Improvement: Managing Service Accounts
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/XS

#28254 [ru] Fixed errors in instructions for generating ref docs
  content/ru/docs/contribute/generate-ref-docs/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/S

#28073 Clarify that Docker registry secrets are using type kubernetes.io/dockerconfigjson
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#27991 Add page for analytics dashboard
  content/en/docs/contribute/analytics.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#27904 chore(kubectl-cmds): add redirect to skip reundant page
  static/_redirects
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#27989 Clarify what must be the same
  content/en/docs/tasks/configure-pod-container/quality-service-pod.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/S

#25326 Add new make target `module-init` and update `module-check`
  Makefile
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#28332 Fix a few grammar issues and typos
  content/en/docs/reference/using-api/api-concepts.md
  content/en/docs/reference/using-api/server-side-apply.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/S, tide/merge-method-squash

#28183 Update 'Attend KubeCon' buttons
  content/en/_index.html
Labels: approved, area/web-development, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28330 [ru]: fix container-runtime full_link 404
  content/ru/docs/reference/glossary/container-runtime.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#28328 [fr]: fix container-runtime full_link 404
  content/fr/docs/reference/glossary/container-runtime.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#28219 Update configure-liveness-readiness-startup-probes.md
  content/fr/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#28107 fix(/contribute/page-templates): broken redirect
  static/_redirects
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, sig/docs, size/XS, tide/merge-method-squash

#28298 [zh]: Resync kube-scheduler references files.
  content/zh/docs/reference/command-line-tools-reference/kube-scheduler.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#28097 fix minor typo in configure-runasusername.md
  content/en/docs/tasks/configure-pod-container/configure-runasusername.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#28047 Update kustomization.md
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#27371 Gramma fix for change-pv-reclaim-policy.md
  content/en/docs/tasks/administer-cluster/change-pv-reclaim-policy.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#28343 doc: remove unneeded comma
  content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#27731 Adjust yaml indentation on allowedHostPaths example
  content/en/docs/concepts/policy/pod-security-policy.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/S, tide/merge-method-squash

#28238 [zh]Resync Reference files[11]
  content/zh/docs/reference/_index.md
  content/zh/docs/reference/labels-annotations-taints.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27573 Update custom-resource-definition-versioning.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#28366 [zh]fix two broken links and reconcile `sidecar` localization
  content/zh/docs/concepts/containers/runtime-class.md
  content/zh/docs/concepts/workloads/pods/_index.md
  content/zh/docs/concepts/workloads/pods/disruptions.md
  content/zh/docs/concepts/workloads/pods/ephemeral-containers.md
  content/zh/docs/contribute/localization_zh.md
  content/zh/docs/reference/glossary/pod.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#28333 [zh] Resync service account admin page
  content/zh/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#28372 release-managers: add adolfo/carlos as tech leads
  content/en/releases/release-managers.md
Labels: approved, area/release-eng, cncf-cla: yes, language/en, lgtm, sig/docs, sig/release, size/XS

#28125 Update client-libraries.md
  content/en/docs/reference/using-api/client-libraries.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#28120 Update determine-reason-pod-failure.md
  content/en/docs/tasks/debug-application-cluster/determine-reason-pod-failure.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#28119 Correcting entry in Multiple Resource Types
  content/en/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#28165 Remove Google SDK instructions.
  content/en/docs/tasks/tools/included/install-kubectl-gcloud.md
  content/en/docs/tasks/tools/install-kubectl-linux.md
  content/en/docs/tasks/tools/install-kubectl-macos.md
  content/en/docs/tasks/tools/install-kubectl-windows.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/M, tide/merge-method-squash

#28377 Merge master into dev-1.22 to keep in sync - SIG-Release 1.22 Docs team 6/11/21
  Makefile
  content/en/_index.html
  content/en/blog/_posts/2018-01-00-Core-Workloads-Api-Ga.md
  content/en/docs/concepts/cluster-administration/flow-control.md
  content/en/docs/concepts/policy/pod-security-policy.md
  content/en/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/en/docs/concepts/services-networking/topology-aware-hints.md
  content/en/docs/contribute/analytics.md
  content/en/docs/contribute/generate-ref-docs/contribute-upstream.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/labels-annotations-taints.md
  content/en/docs/reference/using-api/api-concepts.md
  content/en/docs/reference/using-api/server-side-apply.md
  content/en/docs/tasks/access-application-cluster/list-all-running-container-images.md
  content/en/docs/tasks/administer-cluster/change-pv-reclaim-policy.md
  content/en/docs/tasks/administer-cluster/highly-available-control-plane.md
  content/en/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
  content/en/docs/tasks/configure-pod-container/configure-runasusername.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
  content/en/docs/tasks/configure-pod-container/quality-service-pod.md
  content/en/docs/tasks/debug-application-cluster/logging-stackdriver.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning.md
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/en/docs/tasks/tools/install-kubectl-macos.md
  content/en/releases/release-managers.md
  content/fr/docs/reference/glossary/container-runtime.md
  content/fr/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/ja/docs/concepts/configuration/manage-resources-containers.md
  content/ja/docs/concepts/configuration/overview.md
  content/ja/docs/concepts/containers/runtime-class.md
  content/ja/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ja/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/ja/docs/concepts/services-networking/service.md
  content/ja/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/ru/docs/contribute/generate-ref-docs/kubernetes-api.md
  content/ru/docs/reference/glossary/container-runtime.md
  content/zh/docs/concepts/containers/runtime-class.md
  content/zh/docs/concepts/scheduling-eviction/_index.md
  content/zh/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/zh/docs/concepts/scheduling-eviction/pod-overhead.md
  content/zh/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/zh/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/zh/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/zh/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/zh/docs/concepts/workloads/pods/_index.md
  content/zh/docs/concepts/workloads/pods/disruptions.md
  content/zh/docs/concepts/workloads/pods/ephemeral-containers.md
  content/zh/docs/contribute/localization_zh.md
  content/zh/docs/reference/_index.md
  content/zh/docs/reference/access-authn-authz/service-accounts-admin.md
  content/zh/docs/reference/command-line-tools-reference/kube-scheduler.md
  content/zh/docs/reference/glossary/pod.md
  content/zh/docs/reference/labels-annotations-taints.md
  static/_redirects
Labels: approved, area/blog, area/release-eng, cncf-cla: yes, language/en, language/fr, language/ja, language/ru, language/zh, lgtm, sig/docs, sig/release, size/XXL

#28344 Translate concepts/policy/node-resource-managers into Korean
  content/ko/docs/concepts/policy/node-resource-managers.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#28349 Translate concepts/scheduling-eviction/api-eviction into Korean
  content/ko/docs/concepts/scheduling-eviction/api-eviction.md
  content/ko/docs/reference/glossary/api-eviction.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#28345 [ko] Update outdated files in dev-1.21-ko.4 (p2)
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/windows/user-guide-windows-containers.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#28322 Update ja/docs/contribute/suggesting-improvements.md
  content/ja/docs/contribute/suggesting-improvements.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#28131 Update feature availability for dns-pod-service
  content/en/docs/concepts/services-networking/dns-pod-service.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/S

#28358 Update the "hello minikube" tutorial to match updated output from minikube
  content/en/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#28356 Improve getting started page
  content/en/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M, tide/merge-method-squash

#28305 Updated ja/docs/reference/kubectl/overview.md
  content/ja/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#28152 Update default node pod limits for large cluster
  content/en/docs/setup/best-practices/cluster-large.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28339 ja: Make docs/reference/glossary/container.md follow v1.19 of the original text
  content/ja/docs/reference/glossary/container.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#28381 [ko] Update outdated files in dev-1.21-ko.4 (p1)
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/ko/docs/concepts/services-networking/network-policies.md
  content/ko/docs/concepts/workloads/pods/disruptions.md
  content/ko/docs/reference/command-line-tools-reference/kube-proxy.md
  content/ko/docs/reference/scheduling/config.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#28394 [zh] fix typo node-resource-managers.md
  content/zh/docs/concepts/policy/node-resource-managers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#28398 [zh] update release status
  content/zh/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#28388 [ko] Enhance ko/docs/setup/../certificates translation
  content/ko/docs/setup/best-practices/certificates.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#28327 [es]: fix container-runtime full_link 404
  content/es/docs/reference/glossary/container-runtime.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS

#28403 [zh] Fix wrong custom heading ID
  content/zh/docs/concepts/workloads/pods/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26806 add content/pt/docs/concepts/storage/persistent-volumes.md
  content/pt/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/XL

#28335 Translate concepts/services-networking/service-traffic-policy in Korean
  content/ko/docs/concepts/services-networking/service-traffic-policy.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#27010 Add blog article on writing labelling controller
  content/en/blog/_posts/2021-06-21-writing-a-controller-for-pod-labels.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/L

#28374 Updating --cascade=false to --cascade=orphan
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28408 Fix some links in the tasks section
  content/en/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/migrating-telemetry-and-security-agents.md
  content/en/docs/tasks/administer-cluster/reserve-compute-resources.md
  content/en/docs/tasks/manage-daemon/update-daemon-set.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#28400 Fix test cases for examples
  content/en/examples/examples_test.go
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#28382 doc: remove unneeded comma
  content/en/docs/contribute/suggesting-improvements.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28056 memory manager: update policies names according to the code
  content/en/docs/tasks/administer-cluster/memory-manager.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/S

#28312 Document recovery from broken kubelet certificate
  content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/S

#27129 Upgrade Mermaid to fix diagram render problem on ingress page
  layouts/partials/head.html
  static/js/mermaid.min.js
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#28423 Updated garbage-collection.md there was minor documentation mistake that is corrected!
  content/en/docs/concepts/workloads/controllers/garbage-collection.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#28399 [en] Fix link to param "version"
  content/en/docs/reference/_index.md
Labels: approved, cncf-cla: yes, kind/bug, language/en, lgtm, sig/docs, size/XS

#28431 [fr] Fix static pod manifests generation
  content/fr/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#28405 Fix feature state version for jobs ttl
  content/en/docs/concepts/workloads/controllers/job.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28391 [zh]Resync reference for glossary and sec issues
  content/zh/docs/reference/glossary/cloud-controller-manager.md
  content/zh/docs/reference/glossary/index.md
  content/zh/docs/reference/glossary/wg.md
  content/zh/docs/reference/issues-security/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#28401 resync reference for overview and cheatsheet
  content/zh/docs/reference/kubectl/_index.md
  content/zh/docs/reference/kubectl/cheatsheet.md
  content/zh/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#28373 [zh]translate node-pressure-eviction.md
  content/zh/docs/concepts/scheduling-eviction/node-pressure-eviction.md
  content/zh/docs/reference/glossary/node-pressure-eviction.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#28425 [en]: Remove duplicate content
  content/en/docs/tasks/tools/install-kubectl-macos.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28418 [en]: Add PATH note for install macos kubectl
  content/en/docs/tasks/tools/install-kubectl-macos.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28229 Promote CronJobControllerV2 flag to GA
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#28351 [zh] translate pod-priority-and-preemption.md
  content/zh/docs/concepts/scheduling-eviction/pod-priority-preemption.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/XL

#28378 [ja] fix broken link to Ansible in kubespray.md
  content/ja/docs/setup/production-environment/tools/kubespray.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#28336 Update ja/docs/reference/glossary/kubelet.md
  content/ja/docs/reference/glossary/kubelet.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#28371 ja: Make docs/reference/_index.md follow v1.19 of the original text
  content/ja/docs/reference/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27801 Translate contribute/review/for-approvers/ into Japanese
  content/ja/docs/contribute/review/for-approvers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#28362 [ja] Update kops versioned download URLs
  content/ja/docs/setup/production-environment/tools/kops.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#28414 ja/docs/reference/command-line-tools-reference/feature-gates.md
  content/ja/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#27856 Translate docs/tasks/configmap-secret/managing-secret-using-kustomize/ into Japanese
  content/ja/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
  content/ja/includes/task-tutorial-prereqs.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#24387 Add Container image build automation
  Makefile
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, kind/feature, lgtm, sig/docs, size/S

#28385 [ko] Add setup/pro../turnkey-solutions.md to Korean
  content/ko/docs/setup/production-environment/turnkey-solutions.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#28389 [ko] Enhance tutorials/services/source-ip.md translation
  content/ko/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#28376 [ja] Update OpenID Connect Flow diagram
  content/ja/docs/reference/access-authn-authz/authentication.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#28465 Update ja/docs/reference/kubectl/cheatsheet.md
  content/ja/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#28466 Adapt examples test for latest change
  content/en/examples/examples_test.go
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#28419 Fix links in the Runtime Class.
  content/en/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#28407 Fix some links in the concepts section
  content/en/docs/concepts/architecture/controller.md
  content/en/docs/concepts/cluster-administration/flow-control.md
  content/en/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/en/docs/concepts/policy/pid-limiting.md
  content/en/docs/concepts/policy/resource-quotas.md
  content/en/docs/concepts/scheduling-eviction/node-pressure-eviction.md
  content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/en/docs/concepts/services-networking/endpoint-slices.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/concepts/workloads/pods/disruptions.md
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/L

#28386 [ko] Fix and enhance extend-kubernetes Korean
  content/ko/docs/concepts/extend-kubernetes/_index.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#28470 [ko] 4th Korean localization work for v1.21
  content/ko/docs/concepts/extend-kubernetes/_index.md
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/ko/docs/concepts/policy/node-resource-managers.md
  content/ko/docs/concepts/scheduling-eviction/api-eviction.md
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ko/docs/concepts/services-networking/network-policies.md
  content/ko/docs/concepts/services-networking/service-traffic-policy.md
  content/ko/docs/concepts/workloads/pods/disruptions.md
  content/ko/docs/reference/command-line-tools-reference/kube-proxy.md
  content/ko/docs/reference/glossary/api-eviction.md
  content/ko/docs/reference/scheduling/config.md
  content/ko/docs/setup/best-practices/certificates.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/turnkey-solutions.md
  content/ko/docs/setup/production-environment/windows/user-guide-windows-containers.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/ko/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#28480 Fix links on patch release website
  content/en/releases/patch-releases.md
Labels: approved, area/release-eng, cncf-cla: yes, language/en, lgtm, sig/docs, sig/release, size/XS

#28483 Reflect latest patch release changes
  content/en/releases/patch-releases.md
  data/releases/schedule.yaml
Labels: approved, area/release-eng, cncf-cla: yes, language/en, lgtm, sig/docs, sig/release, size/L

#28486 chore: regenerate kubelet-config reference page
  content/en/docs/reference/config-api/kubelet-config.v1beta1.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/L

#28460 Bump Ruby version for Netlify
  netlify.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#28075 create topology-manager.md
  content/ja/docs/tasks/administer-cluster/topology-manager.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, ok-to-test, sig/docs, size/L

#28464 Update docs for primary branch rename: PodSecurityPolicy
  content/en/docs/concepts/security/pod-security-standards.md
  layouts/shortcodes/example.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#28463 Update docs for primary branch rename to "main"
  content/en/docs/concepts/cluster-administration/manage-deployment.md
  content/en/docs/contribute/generate-ref-docs/quickstart.md
  content/en/docs/contribute/localization.md
  content/en/docs/contribute/new-content/blogs-case-studies.md
  content/en/docs/contribute/new-content/open-a-pr.md
  content/en/docs/contribute/new-content/overview.md
  content/en/docs/contribute/participate/_index.md
  content/en/docs/contribute/participate/pr-wranglers.md
  content/en/docs/contribute/participate/roles-and-responsibilities.md
  content/en/docs/contribute/style/hugo-shortcodes/index.md
  content/en/docs/contribute/style/style-guide.md
  content/en/docs/test.md
  content/en/docs/tutorials/configuration/configure-redis-using-configmap.md
  layouts/partials/page-meta-links.html
  layouts/shortcodes/codenew.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#28434 Add tooltip for affinity
  content/en/docs/concepts/scheduling-eviction/pod-priority-preemption.md
  content/en/docs/reference/glossary/affinity.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#28496 docs: typo
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27636 Updating docs to reflect graduation of setHostnameAsFQDN feature to GA
  content/en/docs/concepts/services-networking/dns-pod-service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#28477 [zh] Resync container-runtimes page
  content/zh/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#28476 [zh] resync setup windows
  content/zh/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#28420 [zh]: Add PATH note for install macos kubectl
  content/zh/docs/tasks/tools/install-kubectl-macos.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#28499 [zh]Add synonym for namespace
  content/zh/docs/concepts/overview/working-with-objects/namespaces.md
  content/zh/docs/reference/glossary/namespace.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#28504 [ko] Enhance kubeadm/control-plane-flags.md
  content/ko/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
Labels: approved, cncf-cla: yes, language/ko, lgtm

#28478 [ko] Remove exec permission on markdown files
  content/ko/docs/concepts/cluster-administration/_index.md
  content/ko/docs/concepts/configuration/_index.md
  content/ko/docs/concepts/containers/_index.md
  content/ko/docs/concepts/overview/_index.md
  content/ko/docs/reference/glossary/annotation.md
  content/ko/docs/reference/glossary/cluster.md
  content/ko/docs/reference/glossary/configmap.md
  content/ko/docs/reference/glossary/container-env-variables.md
  content/ko/docs/reference/glossary/container.md
  content/ko/docs/reference/glossary/cronjob.md
  content/ko/docs/reference/glossary/customresourcedefinition.md
  content/ko/docs/reference/glossary/daemonset.md
  content/ko/docs/reference/glossary/deployment.md
  content/ko/docs/reference/glossary/docker.md
  content/ko/docs/reference/glossary/image.md
  content/ko/docs/reference/glossary/index.md
  content/ko/docs/reference/glossary/ingress.md
  content/ko/docs/reference/glossary/init-container.md
  content/ko/docs/reference/glossary/istio.md
  content/ko/docs/reference/glossary/job.md
  content/ko/docs/reference/glossary/kube-proxy.md
  content/ko/docs/reference/glossary/kubectl.md
  content/ko/docs/reference/glossary/kubernetes-api.md
  content/ko/docs/reference/glossary/label.md
  content/ko/docs/reference/glossary/limitrange.md
  content/ko/docs/reference/glossary/minikube.md
  content/ko/docs/reference/glossary/mirror-pod.md
  content/ko/docs/reference/glossary/name.md
  content/ko/docs/reference/glossary/namespace.md
  content/ko/docs/reference/glossary/network-policy.md
  content/ko/docs/reference/glossary/node.md
  content/ko/docs/reference/glossary/pod-security-policy.md
  content/ko/docs/reference/glossary/pod.md
  content/ko/docs/reference/glossary/qos-class.md
  content/ko/docs/reference/glossary/rbac.md
  content/ko/docs/reference/glossary/replica-set.md
  content/ko/docs/reference/glossary/replication-controller.md
  content/ko/docs/reference/glossary/resource-quota.md
  content/ko/docs/reference/glossary/selector.md
  content/ko/docs/reference/glossary/service-account.md
  content/ko/docs/reference/glossary/service.md
  content/ko/docs/reference/glossary/statefulset.md
  content/ko/docs/reference/glossary/static-pod.md
  content/ko/docs/reference/glossary/uid.md
  content/ko/docs/reference/glossary/volume.md
  content/ko/docs/reference/kubectl/_index.md
  content/ko/docs/tasks/access-application-cluster/_index.md
  content/ko/docs/tasks/administer-cluster/_index.md
  content/ko/docs/tasks/administer-cluster/kubeadm/_index.md
  content/ko/docs/tasks/debug-application-cluster/_index.md
  content/ko/docs/tasks/tools/_index.md
  content/ko/docs/tutorials/configuration/_index.md
  content/ko/docs/tutorials/stateless-application/_index.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#28421 fix deprecated translation
  content/zh/docs/concepts/policy/pod-security-policy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#28248 Kube config warnings for code execution
  content/en/docs/concepts/configuration/organize-cluster-access-kubeconfig.md
  content/en/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S, tide/merge-method-squash

#28511 update state for PodSecurityPolicy
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28433 [ja] Fix emphasis tags in ja/docs/concepts/workloads/pods/pod-lifecycle.md and so on
  content/ja/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#28514 [ja] Fix static pod manifests generation
  content/ja/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS
