Repository kubernetes/website, pull requests merged in 2021-01, with the labels that each got.

#25883 re-positioned drain/uncorden steps in kubeadm upgrade docs in release-1.19
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/M

#25885 re-positioned drain/uncorden steps in kubeadm upgrade docs in release-1.18
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/M

#25886 re-positioned drain/uncorden steps in kubeadm upgrade docs in release-1.17
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/M

#25897 zh:sync docs from en and delete the removed file
  content/zh/docs/concepts/workloads/pods/podpreset.md
  content/zh/docs/setup/learning-environment/kind.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25880 [zh]Miss url and something is error.
  content/zh/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#25909 Update namespaces.md
  content/zh/docs/concepts/overview/working-with-objects/namespaces.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25928 [zh] fix feature gate for hugepage
  content/zh/docs/tasks/manage-hugepages/scheduling-hugepages.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25930 [zh] The version number is outdate.
  content/zh/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25859 fix init container status describe fault
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25932 [zh] Url is outdate ...
  content/zh/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25891 Fix some typo in pod-overhead.md
  content/en/docs/concepts/scheduling-eviction/pod-overhead.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25914 Cloud Controller Manager: fix a broken link
  content/en/docs/tasks/administer-cluster/developing-cloud-controller-manager.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/XS

#25946 [zh] Cloud Controller Manager: fix a broken link
  content/zh/docs/tasks/administer-cluster/developing-cloud-controller-manager.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25887 re-positioned drain/uncorden steps in kubeadm upgrade docs in release-1.16
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/M

#25895 Update container-runtimes.md
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, sig/node, size/XS

#25896 Update install-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#25389 Update cheatsheet.md
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25940 Add content in replicationcontroller.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25931 Update connect-applications-service.md
  content/zh/docs/concepts/services-networking/connect-applications-service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#25952 changed numbered lists to bulleted in kubeadm-upgrade doc in release-1.17
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/M

#25948 Add Code blocks in limit-storage-consumption.md
  content/en/docs/tasks/administer-cluster/limit-storage-consumption.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#25924 Fix the score value in docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/en/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/ko/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/zh/docs/concepts/scheduling-eviction/resource-bin-packing.md
Labels: approved, cncf-cla: yes, language/en, language/ko, language/zh, lgtm, sig/docs, sig/scheduling, size/XS

#25771 Add automatic site deploys
  .github/workflows/netlify-periodic-build.yml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#25937 Modify words that may cause ambiguity in device-plugins.md
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#25951 [zh]The output is incorret.
  content/zh/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25968 [zh] update cheatsheet.md
  content/zh/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25812 [zh] Resync kubelet configuration
  content/zh/docs/reference/command-line-tools-reference/kubelet.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#25970 [zh] Incorrect url.
  content/zh/docs/tutorials/stateful-application/zookeeper.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25843 update the markdown file in the glossary directory for Chinese version.
  content/zh/docs/reference/glossary/kube-scheduler.md
  content/zh/docs/reference/glossary/kubelet.md
  content/zh/docs/reference/glossary/kubernetes-api.md
  content/zh/docs/reference/glossary/label.md
  content/zh/docs/reference/glossary/limitrange.md
  content/zh/docs/reference/glossary/logging.md
  content/zh/docs/reference/glossary/managed-service.md
  content/zh/docs/reference/glossary/manifest.md
  content/zh/docs/reference/glossary/master.md
  content/zh/docs/reference/glossary/member.md
  content/zh/docs/reference/glossary/minikube.md
  content/zh/docs/reference/glossary/mirror-pod.md
  content/zh/docs/reference/glossary/name.md
  content/zh/docs/reference/glossary/namespace.md
  content/zh/docs/reference/glossary/network-policy.md
  content/zh/docs/reference/glossary/node.md
  content/zh/docs/reference/glossary/object.md
  content/zh/docs/reference/glossary/operator-pattern.md
  content/zh/docs/reference/glossary/persistent-volume-claim.md
  content/zh/docs/reference/glossary/persistent-volume.md
  content/zh/docs/reference/glossary/pod-disruption-budget.md
  content/zh/docs/reference/glossary/pod-lifecycle.md
  content/zh/docs/reference/glossary/pod-priority.md
  content/zh/docs/reference/glossary/pod-security-policy.md
  content/zh/docs/reference/glossary/pod.md
  content/zh/docs/reference/glossary/proxy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25965 Network Policy: Add clarity about egress/ingress combination
  content/en/docs/concepts/services-networking/network-policies.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/XS

#25969 Add Code blocks in configure-service-account.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#25980 [zh] corrected instance of WordPress written incorrectly
  content/zh/docs/concepts/overview/working-with-objects/common-labels.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25915 Update outdated files in the dev-1.20-ko.2 (p1)
  content/ko/community/static/cncf-code-of-conduct.md
  content/ko/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/ko/docs/concepts/cluster-administration/system-metrics.md
  content/ko/docs/concepts/configuration/configmap.md
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/concepts/overview/kubernetes-api.md
  content/ko/docs/concepts/overview/working-with-objects/common-labels.md
  content/ko/docs/concepts/policy/pod-security-policy.md
  content/ko/docs/concepts/workloads/_index.md
  content/ko/docs/concepts/workloads/controllers/cron-jobs.md
  content/ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/concepts/workloads/pods/_index.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#25916 Update outdated files in the dev-1.20-ko.2 (p2)
  content/ko/docs/concepts/workloads/pods/init-containers.md
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/ko/docs/reference/_index.md
  content/ko/docs/reference/using-api/client-libraries.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/ko/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
  content/ko/docs/tasks/manage-hugepages/scheduling-hugepages.md
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/ko/docs/tutorials/stateless-application/expose-external-ip-address.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#25992 Fix typo
  content/en/docs/test.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25988 [zh] Yaml blocks miss 'yaml'.
  content/zh/docs/tasks/administer-cluster/limit-storage-consumption.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25987 [zh] Url is incorrect.
  content/zh/docs/contribute/generate-ref-docs/prerequisites-ref-docs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25863 Use https for link to contributor covenant
  content/es/community/static/cncf-code-of-conduct.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS

#25855 Add content/pt/docs/tutorials/kubernetes-basics/deploy-app
  content/pt/docs/tutorials/kubernetes-basics/_index.html
  content/pt/docs/tutorials/kubernetes-basics/deploy-app/_index.md
  content/pt/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/pt/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L

#25489 Update kubeadm install page
  content/fr/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#25769 Implement announcements as data-driven content
  OWNERS_ALIASES
  assets/scss/_custom.scss
  config.toml
  data/announcements/OWNERS
  data/announcements/scheduled.yaml
  i18n/en.toml
  layouts/partials/announcement.html
  layouts/partials/css.html
  layouts/partials/frontpage-announcement.html
  static/css/announcement.css
Labels: approved, area/web-development, cncf-cla: yes, kind/feature, lgtm, sig/docs, size/L

#25999 Fix a broken link in pod-overhead.md
  content/en/docs/concepts/scheduling-eviction/pod-overhead.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/XS

#25763 Update blog team reviewers
  OWNERS_ALIASES
Labels: approved, area/blog, cncf-cla: yes, lgtm, sig/docs, size/XS

#25462 Update grammar in Docker deprecation blog posts
  content/en/blog/_posts/2020-12-02-dockershim-faq.md
  content/en/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#25934 upgrade kubelet --eviction-hard default inodeFree
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25682 Scheduling plugins: fix typo for clarity
  content/en/docs/reference/scheduling/config.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26004 [zh] fix typo for clarity
  content/zh/docs/reference/scheduling/config.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25989 [zh] sync en.
  content/zh/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25809 [zh] sync /reference/using-api/_index.md
  content/zh/docs/reference/using-api/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25995 Fix pod name
  content/en/docs/tasks/debug-application-cluster/debug-running-pod.md
  content/zh/docs/tasks/debug-application-cluster/debug-running-pod.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/XS

#25575 Fixed link to configuring cgroup driver on control-plane node
  content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26007 [zh] fix init container status describe fault
  content/zh/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26005 [zh] sync content/zh/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/zh/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#26009 Fix typo
  content/en/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26011 [zh] Ymal blocks miss 'yaml'
  content/zh/docs/concepts/workloads/controllers/job.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26012 [zh] snapshot.storage.k8s.io/v1beta1 --> apiVersion: snapshot.storage.k8s.io/v1
  content/zh/docs/concepts/storage/volume-snapshot-classes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25567 Add missing word
  content/en/docs/concepts/storage/volume-snapshot-classes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#25871 Add content in init-containers.md
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25973 [zh] "/zh/docs/tutorials/stateless-application/expose-external-ip-address" page is outdate.
  content/zh/docs/tutorials/stateless-application/expose-external-ip-address.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#25991 Fix issue with links to already translated ko documents
  content/ko/docs/concepts/architecture/control-plane-node-communication.md
  content/ko/docs/concepts/cluster-administration/_index.md
  content/ko/docs/concepts/policy/resource-quotas.md
  content/ko/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/ko/docs/concepts/services-networking/connect-applications-service.md
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/ko/docs/reference/_index.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/reference/glossary/kube-proxy.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/reference/kubectl/overview.md
  content/ko/docs/setup/production-environment/tools/kubeadm/self-hosting.md
  content/ko/docs/setup/production-environment/tools/kubespray.md
  content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/ko/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
  content/ko/docs/tasks/administer-cluster/access-cluster-api.md
  content/ko/docs/tasks/extend-kubectl/kubectl-plugins.md
  content/ko/docs/tasks/tools/install-kubectl.md
  content/ko/docs/tutorials/stateful-application/basic-stateful-set.md
  content/ko/docs/tutorials/stateful-application/zookeeper.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#24959 Adding AKO (Avi Kubernetes Operator) to the list of ingress controllers
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/XS

#25935 kubeadm: remove deprecated alpha commands
  content/en/docs/reference/setup-tools/kubeadm/_index.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubeconfig.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_enable-dynamic.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting_pivot.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_kubeconfig.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_kubeconfig_user.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-kubeconfig.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/L

#25822 Add containerd installation on Debian
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#26025 [zh] fixed link to configuring cgroup driver on control-plane node
  content/zh/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#25183 Translate reference/kubectl/jsonpath/ into Japanese
  content/ja/docs/reference/_index.md
  content/ja/docs/reference/kubectl/jsonpath.md
  content/ja/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#26008 fix typo
  content/ja/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#26032 Fix a typo in persistent volumes pages
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25892 [zh] sync rbac.md
  content/zh/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#25994 [zh] Update admission-controllers.md
  content/zh/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#26021 [zh] fix volume mount path
  content/zh/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#26028 [zh] Fix links in persistent-volumes page
  content/zh/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#26029 [zh] Resync concepts/cluster-administration/flow-control.md
  content/zh/docs/concepts/cluster-administration/flow-control.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26033 [zh] Resync concepts/configuration/secret.md
  content/zh/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#26042 [zh] Resync setup/production-environment/container-runtimes.md
  content/zh/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26043 [zh] Resync tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
  content/zh/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#26017 Update cheatsheet.md (Add --sort-by option for `top` command)
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26003 Network Plugins: Add missing plugin to the summary section
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25950 Fix broken url in docs
  content/en/docs/concepts/workloads/pods/disruptions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/autoscaling, sig/docs, size/XS

#25899 Fix some typo in runtime-class.md
  content/en/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25985 Fixed deprecated delete cascade 'false' value
  content/en/docs/concepts/workloads/controllers/garbage-collection.md
  content/en/docs/concepts/workloads/controllers/replicaset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#25777 Update README.md #25646
  README.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26054 [zh] fix some typo
  content/zh/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#26044 [zh] Resync concepts/workloads/controllers/deployment.md
  content/zh/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#25791 Update overview.md
  content/en/docs/concepts/configuration/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26010 Update Japanese localization on concepts/configuration/manage-resourc…
  content/ja/docs/concepts/configuration/manage-resources-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#25549 Tidy list of generators for “kubectl create”
  content/en/docs/reference/kubectl/conventions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#24957 expand nodelocaldns docs with IPv6
  content/en/docs/tasks/administer-cluster/nodelocaldns.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/XS

#24986 Clarify pod phase Terminating
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25242 Added step to create /etc/docker/ folder in Ubuntu instruction
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25483 References api-priority-and-fairness slack channel in the docs
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/XS

#25490 Update feature-gates description for TopologyManager
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#25764 add notes for that strategic merge patch is unsupported for CR
  content/en/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/XS

#24648 short link for k8s cheat sheet
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25337 Update docker-cli-to-kubectl.md
  content/en/docs/reference/kubectl/docker-cli-to-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25966 Clean up too old content from Using Admission Controllers page
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/S

#24995 Update pod-lifecycle.md
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#25325 Update hello minikube tutorial intro page
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25856 Update rbac.md
  content/en/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26058 [zh] Minikube urls miss. Some lines are outdate.
  content/zh/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#26070 Fix typo
  content/zh/docs/reference/using-api/api-concepts.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26067 [zh] update pod-lifecycle.md
  content/zh/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26071 [zh] "tools/install-kubectl": some are incorrect and some is outdate.
  content/zh/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#26023 clean up too old comments for v1.9 or before in examples
  content/en/examples/application/deployment-patch.yaml
  content/en/examples/application/deployment-retainkeys.yaml
  content/en/examples/application/deployment-scale.yaml
  content/en/examples/application/deployment-update.yaml
  content/en/examples/application/deployment.yaml
  content/en/examples/application/guestbook/frontend-deployment.yaml
  content/en/examples/application/guestbook/redis-master-deployment.yaml
  content/en/examples/application/guestbook/redis-slave-deployment.yaml
  content/en/examples/application/mysql/mysql-deployment.yaml
  content/en/examples/application/wordpress/mysql-deployment.yaml
  content/en/examples/application/wordpress/wordpress-deployment.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/S

#26047 Translate reference/glossary/dynamic-volume-provisioning.md in Korean
  content/ko/docs/reference/glossary/dynamic-volume-provisioning.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#26075 [zh]Url of minikube is incorrect in task-tutorial-prereqs.md
  content/zh/includes/task-tutorial-prereqs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26072 [zh]Urls is incorrect. File: "tasks/administer-cluster/network-policy-provider/cilium-network-policy/"
  content/zh/docs/tasks/administer-cluster/network-policy-provider/cilium-network-policy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26049 [zh] Resync concepts/scheduling-eviction/assign-pod-node.md
  content/zh/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26066 add docs for version shortcodes
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/concepts/workloads/pods/_index.md
  content/en/docs/contribute/style/hugo-shortcodes/example1.md
  content/en/docs/contribute/style/hugo-shortcodes/index.md
  content/en/docs/reference/using-api/server-side-apply.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#26053 Update cheatsheet.md
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25377 Fix minor typo
  content/en/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#25613 Clarify pod anti-affinity description
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/XS

#26082 Update service.md, change 'master' to 'control plane'
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26038 Fix containerd config instructions
  content/en/docs/setup/production-environment/container-runtimes.md
  content/id/docs/setup/production-environment/container-runtimes.md
  content/ja/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, language/id, language/ja, language/ko, language/zh, lgtm, sig/docs, size/S

#26040 Fix examples in kustomization
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26085 [zh] clean up too old comments for v1.9 or before in examples
  content/zh/examples/application/deployment-patch.yaml
  content/zh/examples/application/deployment-retainkeys.yaml
  content/zh/examples/application/deployment-scale.yaml
  content/zh/examples/application/deployment-update.yaml
  content/zh/examples/application/deployment.yaml
  content/zh/examples/application/guestbook/frontend-deployment.yaml
  content/zh/examples/application/guestbook/redis-master-deployment.yaml
  content/zh/examples/application/guestbook/redis-slave-deployment.yaml
  content/zh/examples/application/mysql/mysql-deployment.yaml
  content/zh/examples/application/wordpress/mysql-deployment.yaml
  content/zh/examples/application/wordpress/wordpress-deployment.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#25927 Enhancements in clarity to access-application-cluster/connecting-frontend-backend.md
  content/en/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/en/examples/service/access/Dockerfile
  content/en/examples/service/access/backend-deployment.yaml
  content/en/examples/service/access/backend-service.yaml
  content/en/examples/service/access/frontend-deployment.yaml
  content/en/examples/service/access/frontend-nginx.conf
  content/en/examples/service/access/frontend-service.yaml
  content/en/examples/service/access/frontend.conf
  content/en/examples/service/access/frontend.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L, tide/merge-method-squash

#26030 [zh] Resync concepts/workloads/_index.md
  content/zh/docs/concepts/workloads/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#24840 Update uk translation in README-uk.md
  README-uk.md
Labels: approved, cncf-cla: yes, language/uk, lgtm, sig/docs, size/XS

#26088 Update CRI-O docs to the latest configuration
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/M

#25850 Add a Korean l10n reviewer to OWNERS_ALIASES
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#25602 Enhance diff_l10n_branches script output
  scripts/diff_l10n_branches.py
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#26094 Adding a line break in a list to resolve a run-on sentence (rbac.md)
  content/en/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#25597 Clarify compatibility guarantees around spec.preserveUnknownFields
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/S

#25839 Add tooltip for CSI in persistent volume page
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26089 Ko: Second Korean l10n work for release-1.20
  content/ko/community/static/cncf-code-of-conduct.md
  content/ko/docs/concepts/architecture/control-plane-node-communication.md
  content/ko/docs/concepts/cluster-administration/_index.md
  content/ko/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/ko/docs/concepts/cluster-administration/system-metrics.md
  content/ko/docs/concepts/configuration/configmap.md
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/concepts/overview/kubernetes-api.md
  content/ko/docs/concepts/overview/working-with-objects/common-labels.md
  content/ko/docs/concepts/policy/pod-security-policy.md
  content/ko/docs/concepts/policy/resource-quotas.md
  content/ko/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/ko/docs/concepts/services-networking/connect-applications-service.md
  content/ko/docs/concepts/workloads/_index.md
  content/ko/docs/concepts/workloads/controllers/cron-jobs.md
  content/ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/concepts/workloads/pods/_index.md
  content/ko/docs/concepts/workloads/pods/init-containers.md
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/ko/docs/reference/_index.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/reference/glossary/dynamic-volume-provisioning.md
  content/ko/docs/reference/glossary/kube-proxy.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/reference/kubectl/overview.md
  content/ko/docs/reference/using-api/client-libraries.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/tools/kubeadm/self-hosting.md
  content/ko/docs/setup/production-environment/tools/kubespray.md
  content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/ko/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
  content/ko/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
  content/ko/docs/tasks/administer-cluster/access-cluster-api.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/ko/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
  content/ko/docs/tasks/extend-kubectl/kubectl-plugins.md
  content/ko/docs/tasks/manage-hugepages/scheduling-hugepages.md
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/ko/docs/tasks/tools/install-kubectl.md
  content/ko/docs/tutorials/stateful-application/basic-stateful-set.md
  content/ko/docs/tutorials/stateful-application/zookeeper.md
  content/ko/docs/tutorials/stateless-application/expose-external-ip-address.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#26099 [fr] clean up too old comments for v1.9 or before in examples
  content/fr/examples/application/guestbook/frontend-deployment.yaml
  content/fr/examples/application/guestbook/redis-master-deployment.yaml
  content/fr/examples/application/guestbook/redis-slave-deployment.yaml
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#26027 Clean PodPreset docs, examples and links
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/reference/glossary/podpreset.md
  content/en/docs/tasks/inject-data-application/podpreset.md
  content/en/examples/examples_test.go
  content/en/examples/podpreset/allow-db-merged.yaml
  content/en/examples/podpreset/allow-db.yaml
  content/en/examples/podpreset/configmap.yaml
  content/en/examples/podpreset/conflict-pod.yaml
  content/en/examples/podpreset/conflict-preset.yaml
  content/en/examples/podpreset/merged.yaml
  content/en/examples/podpreset/multi-merged.yaml
  content/en/examples/podpreset/pod.yaml
  content/en/examples/podpreset/preset.yaml
  content/en/examples/podpreset/proxy.yaml
  content/en/examples/podpreset/replicaset-merged.yaml
  content/en/examples/podpreset/replicaset.yaml
  static/_redirects
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, sig/service-catalog, size/XL

#26022 Update ingress-controllers.md
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26055 fix some spelling mistakes
  content/zh/docs/contribute/style/content-guide.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26108 [zh] Resync install-kubeadm
  content/zh/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26041 [zh] Fix typo in kustomization example
  content/zh/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26031 [zh] Resync concepts/services-networking/ingress-controllers.md
  content/zh/docs/concepts/services-networking/ingress-controllers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26057 [zh] fix /zh/docs/setup/learning-environment/
  static/_redirects
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26114 Approval permission for 1.21 Release
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#26115 Typo correction.
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#24930 Explain the insecure by default nature of secrets
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/security, size/S

#26020 Document kubeadm for RHEL 8
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#24900 Add comments for the commands using container in Makefile
  Makefile
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#25324 Add [version-menu] section into i18n/zh.toml
  i18n/zh.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#26126 [zh] Localize concepts/policy/pid-limiting.md
  content/zh/docs/concepts/policy/pid-limiting.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26048 [zh] Resync concepts/cluster-administration/system-metrics.md
  content/zh/docs/concepts/cluster-administration/system-metrics.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26101 Fix typo and enhance description
  content/zh/docs/reference/access-authn-authz/authentication.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26098 Clarify that nodes must be drained before minor version kubelet upgrades
  content/en/docs/setup/release/version-skew-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#25778 Remove link to empty list for k8s metrics
  content/en/docs/concepts/cluster-administration/system-metrics.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/instrumentation, size/XS

#26128 [zh] add tooltip for CSI in persistent volume page
  content/zh/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26123 [zh]update ingress-controllers.md, add apisix-ingress-controller
  content/zh/docs/concepts/services-networking/ingress-controllers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26090 Completing glossary translation for Bahasa pt. 8
  content/id/docs/reference/glossary/kuantitas.md
  content/id/docs/reference/glossary/kube-controller-manager.md
  content/id/docs/reference/glossary/kube-proxy.md
  content/id/docs/reference/glossary/kube-scheduler.md
  content/id/docs/reference/glossary/kubectl.md
  content/id/docs/reference/glossary/kubelet.md
  content/id/docs/reference/glossary/quantity.md
  content/id/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#25684 Remove Static Password File section
  content/ja/docs/reference/access-authn-authz/authentication.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/auth, sig/docs, size/S

#26130 [zh] sync content/zh/docs/concepts/architecture/nodes.md
  content/zh/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#26129 [zh] Fix some nits in kubectl-plugins.md
  content/zh/docs/tasks/extend-kubectl/kubectl-plugins.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, ok-to-test, sig/docs, size/XS
