Repository kubernetes/website, pull requests merged in 2021-02, with the labels that each got.

#26321 Fix typo: simular
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26315 [zh] Fix links in concepts section
  content/zh/docs/concepts/cluster-administration/flow-control.md
  content/zh/docs/concepts/cluster-administration/system-metrics.md
  content/zh/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/zh/docs/concepts/policy/pod-security-policy.md
  content/zh/docs/concepts/services-networking/connect-applications-service.md
  content/zh/docs/concepts/services-networking/ingress-controllers.md
  content/zh/docs/concepts/services-networking/service.md
  content/zh/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#26285 Ko: add l10n contributor name in a blog post
  content/ko/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#26281 [ja] fix ttlafterfinished.md link
  content/ja/docs/concepts/workloads/controllers/ttlafterfinished.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#26331 [zh]fix init-containers.yaml
  content/zh/examples/pods/init-containers.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26338 Fix delete secret
  content/zh/docs/tasks/configmap-secret/managing-secret-using-config-file.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26289 Remove duplicated "la" word in french documentation
  content/fr/docs/tasks/configure-pod-container/assign-cpu-resource.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#26332 [zh] Sync web page for HA
  content/zh/docs/tasks/administer-cluster/highly-available-master.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#26300 [zh] sync and update fine-parallel-processing-work-queue
  content/zh/docs/tasks/job/fine-parallel-processing-work-queue.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#26309 [zh] Sync concepts pages for job.md
  content/zh/docs/concepts/workloads/controllers/job.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#25997 Fix explanation for --[hpa]-stabilization
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/autoscaling, sig/docs, size/XS

#26337 Fix delete secret
  content/en/docs/tasks/configmap-secret/managing-secret-using-config-file.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26329 syntax typo
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26322 [zh] Sync concepts pages for extean-cluster.md
  content/zh/docs/concepts/extend-kubernetes/extend-cluster.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#26301 kubeadm: Add backticks and mention Flatcar
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#26262 Fix net-conf.json fommat err
  content/en/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
  content/ko/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
  content/zh/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
Labels: approved, cncf-cla: yes, language/en, language/ko, language/zh, lgtm, sig/docs, sig/windows, size/XS

#26259 docs: rephrase sentence missing predicate
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#26263 Use https for link to contributor covenant
  content/ja/community/static/cncf-code-of-conduct.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#25633 ja: Translate reference/command-line-tools-reference/kubelet-authentication-authorization.md into Japanese
  content/ja/docs/reference/command-line-tools-reference/kubelet-authentication-authorization.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#25827 [ja] new file: memory-constraint-namespace.md
  content/ja/docs/tasks/administer-cluster/manage-resources/memory-constraint-namespace.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#26268 fix typo of MTU
  content/ja/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#26333 Update invalid web page link for api group
  content/en/docs/reference/glossary/api-group.md
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26307 Update nodes.md to remove ambiguity
  content/en/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26294 Update link to Cinder CSI driver documentation
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26092 Update cheatsheet.md
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26104 Add example of using `xargs`
  content/en/docs/concepts/cluster-administration/manage-deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25893 Reconfigure Kubelet: Update kubelet config link
  content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#26302 Update validatingadmissionwebhook and mutatingadmissionwebhook docs
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#26349 [zh] 更新 components.md 文档中语句
  content/zh/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26326 [zh] sync and update job.md
  content/zh/docs/concepts/workloads/controllers/job.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26355 fix typo
  content/zh/docs/tasks/manage-gpus/scheduling-gpus.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26356 fix workload translation
  content/zh/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26324 Cache scripts locally
  layouts/partials/scripts.html
  static/js/popper-1.14.3.min.js
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#26357 Use https for haproxy.org links
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#26287 [zh] sync install kubectl
  content/zh/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26291 [zh] Resync stateful application task
  content/zh/docs/tasks/run-application/run-replicated-stateful-application.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#26276 solved issue #26274
  content/en/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/XS

#24769 remove stackdriver, elastic task pages
  content/en/docs/concepts/cluster-administration/logging.md
  content/en/docs/tasks/debug-application-cluster/events-stackdriver.md
  content/en/docs/tasks/debug-application-cluster/logging-elasticsearch-kibana.md
  content/en/docs/tutorials/stateful-application/zookeeper.md
  static/_redirects
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/L

#26065 Rewording of paragraph about provideClusterInfo key on Authentication page
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/S

#26370 Update controller.md
  content/en/docs/concepts/architecture/controller.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#26345 [zh] Sync setup pages for kubeadm/create-cluster-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26196 documentation to static-pods for naming of pods
  content/en/docs/tasks/configure-pod-container/static-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25039 added example linking to hostPath volume definition
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#26316 [zh] Sync web page for crictl
  content/zh/docs/tasks/debug-application-cluster/crictl.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26381 Fix documents in rbac.md
  content/zh/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26379 Remove ServiceAccount Secret automounting section
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26006 Update README-pt.md
  README-pt.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L

#26386 Dual-stack docs correction
  content/en/docs/concepts/services-networking/dual-stack.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26256 fix default value of nodefs.inodesFree on linux
  content/en/docs/tasks/administer-cluster/out-of-resource.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26352 clean up use of word: easy
  content/en/docs/concepts/cluster-administration/_index.md
  content/en/docs/concepts/cluster-administration/manage-deployment.md
  content/en/docs/concepts/cluster-administration/system-logs.md
  content/en/docs/concepts/configuration/overview.md
  content/en/docs/concepts/overview/what-is-kubernetes.md
  content/en/docs/concepts/overview/working-with-objects/labels.md
  content/en/docs/concepts/overview/working-with-objects/object-management.md
  content/en/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
  content/en/docs/reference/access-authn-authz/authentication.md
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
  content/en/docs/reference/glossary/wg.md
  content/en/docs/reference/kubernetes-api/extend-resources/custom-resource-definition-v1.md
  content/en/docs/reference/kubernetes-api/extend-resources/mutating-webhook-configuration-v1.md
  content/en/docs/reference/kubernetes-api/extend-resources/validating-webhook-configuration-v1.md
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-join.md
  content/en/docs/reference/tools.md
  content/en/docs/reference/using-api/server-side-apply.md
  content/en/docs/setup/production-environment/tools/kops.md
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
  content/en/docs/tasks/administer-cluster/limit-storage-consumption.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning.md
  content/en/docs/tasks/job/coarse-parallel-processing-work-queue.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/en/docs/tutorials/kubernetes-basics/_index.html
  content/en/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/L

#26375 Fix typo
  content/fr/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#26354 [zh] Fix spelling errors
  content/zh/docs/reference/using-api/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26288 ko: update nodes.md by fixing mistranslation
  content/ko/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#26369 [zh] translate Migrating from dockershim
  content/zh/docs/tasks/administer-cluster/migrating-from-dockershim/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#26394 [zh] Sync task pages for administer-cluster/out-of-resource.md
  content/zh/docs/tasks/administer-cluster/out-of-resource.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#26392 correct name in service.md
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26400 fix an invalid location.hash
  content/en/docs/concepts/workloads/pods/ephemeral-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26380 fix fullwidth `！`
  content/zh/docs/concepts/overview/working-with-objects/labels.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26298 [zh] Resync connecting-frontend-backend
  content/zh/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/zh/examples/service/access/backend-deployment.yaml
  content/zh/examples/service/access/backend-service.yaml
  content/zh/examples/service/access/frontend-deployment.yaml
  content/zh/examples/service/access/frontend-nginx.conf
  content/zh/examples/service/access/frontend-service.yaml
  content/zh/examples/service/access/frontend.conf
  content/zh/examples/service/access/frontend.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26170 [zh] Translate kubelet-tls-bootstrapping
  content/zh/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#26363 [zh] Sych web page for topo manager
  content/zh/docs/tasks/administer-cluster/topology-manager.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26264 Use https for link to contributor covenant
  content/fr/community/static/cncf-code-of-conduct.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#26026 Update deployment.md
  content/zh/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26323 Modify Kompose Page: remove the up command
  content/en/docs/tasks/configure-pod-container/translate-compose-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#26265 Use https for link to contributor covenant
  content/vi/community/static/cncf-code-of-conduct.md
Labels: approved, cncf-cla: yes, language/vi, lgtm, sig/docs, size/XS

#26207 Update README.md
  README.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26086 Fix example tests
  content/en/examples/examples_test.go
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#26218 Redirects "Well-Known Labels, Annotations and Taints" page
  static/_redirects
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#24603 Replace alpine with busybox image for better response from nslookup
  content/en/docs/tasks/debug-application-cluster/debug-service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26068 Add Kubernetes project values to community page
  content/en/community/_index.html
  content/en/community/static/community-values.md
  content/en/community/values.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#25545 Add special localization guide for ID documentation.
  content/id/docs/contribute/_index.md
  content/id/docs/contribute/localization_id.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#26314 [zh] Resync configure-liveness-readiness-startup-probes
  content/zh/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26396 [zh] translate check if dockershim affects you
  content/zh/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26141 Remove Master/Slave terminology from stateless application tutorial.
  content/en/docs/tutorials/_index.md
  content/en/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md
  content/en/docs/tutorials/stateless-application/guestbook.md
  content/en/examples/application/guestbook/frontend-deployment.yaml
  content/en/examples/application/guestbook/frontend-service.yaml
  content/en/examples/application/guestbook/mongo-deployment.yaml
  content/en/examples/application/guestbook/mongo-service.yaml
  content/en/examples/application/guestbook/redis-master-deployment.yaml
  content/en/examples/application/guestbook/redis-master-service.yaml
  content/en/examples/application/guestbook/redis-slave-deployment.yaml
  content/en/examples/application/guestbook/redis-slave-service.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#24645 revise style guidelines for capitalization
  content/en/docs/contribute/style/style-guide.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#25425 Add a caution message on CronJob Controller workload if using startingDeadlineSeconds
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/apps, sig/docs, size/XS

#25814 Replaces the "Using a Service to Expose Your App" Page's Diagrams
  content/en/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/en/docs/tutorials/kubernetes-basics/public/images/module_04_labels.svg
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XXL

#26402 translate 2020-10-01
  content/zh/blog/_posts/2020-10-01-contributing-to-the-development-guide/index.md
  content/zh/blog/_posts/2020-10-01-contributing-to-the-development-guide/jorge-castro-code-of-conduct.jpg
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26418 [zh] Tidy list of generators for “kubectl create”
  content/zh/docs/reference/kubectl/conventions.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#25775 remove misleading instructions in kubeadm setup docs
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#26421 lose `not` in Chinese translation text
  content/zh/docs/concepts/scheduling-eviction/taint-and-toleration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26397 Add all docs-id reviewers as owners
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/S

#26350 Clarify PreStop hook behaviour
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#26422 Update to sync latest release of the Kompose version from 1.21.0 to 1.22.0
  content/en/docs/tasks/configure-pod-container/translate-compose-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26388 Update README-pt.md
  README-pt.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/M

#24706 Fix links MD syntax typo in FR documentation
  content/fr/docs/setup/learning-environment/minikube.md
  content/fr/docs/tasks/tools/install-minikube.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#26391 Translate reference/glossary/secret.md in Korean
  content/ko/docs/reference/glossary/secret.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#26342 Update outdated files in the dev-1.20-ko.4 branch (2)
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/ko/docs/reference/_index.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#26390 Translate reference/glossary/quantity.md in Korean
  content/ko/docs/reference/glossary/quantity.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#26430 [zh] update docker-cli-to-kubectl
  content/zh/docs/reference/kubectl/docker-cli-to-kubectl.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26273 Clarify ResourceQuota limit for PriorityClass
  content/en/docs/concepts/policy/resource-quotas.md
  content/en/examples/policy/priority-class-resourcequota.yaml
Labels: approved, cncf-cla: yes, kind/feature, language/en, lgtm, sig/docs, sig/scheduling, size/M

#26389 clean up use of word: simply
  content/en/docs/concepts/cluster-administration/manage-deployment.md
  content/en/docs/concepts/configuration/configmap.md
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
  content/en/docs/concepts/extend-kubernetes/service-catalog.md
  content/en/docs/concepts/overview/working-with-objects/labels.md
  content/en/docs/concepts/policy/pod-security-policy.md
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/en/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/en/docs/concepts/services-networking/dns-pod-service.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/storage-classes.md
  content/en/docs/concepts/storage/volume-pvc-datasource.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
  content/en/docs/contribute/participate/roles-and-responsibilities.md
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/reference/access-authn-authz/authentication.md
  content/en/docs/reference/using-api/server-side-apply.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/en/docs/setup/production-environment/windows/user-guide-windows-containers.md
  content/en/docs/tasks/access-application-cluster/access-cluster.md
  content/en/docs/tasks/administer-cluster/access-cluster-api.md
  content/en/docs/tasks/administer-cluster/access-cluster-services.md
  content/en/docs/tasks/administer-cluster/change-default-storage-class.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
  content/en/docs/tasks/configure-pod-container/translate-compose-kubernetes.md
  content/en/docs/tasks/debug-application-cluster/debug-service.md
  content/en/docs/tasks/extend-kubectl/kubectl-plugins.md
  content/en/docs/tasks/job/parallel-processing-expansion.md
  content/en/docs/tasks/run-application/delete-stateful-set.md
  content/en/docs/tasks/run-application/run-replicated-stateful-application.md
  content/en/docs/tutorials/clusters/apparmor.md
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
  content/en/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XL

#26435 Dual-stack docs correction
  content/en/docs/concepts/services-networking/dual-stack.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26297 Add docs for KEP 2200 (DenyServiceExternalIPs)
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/reference/command-line-tools-reference/kube-apiserver.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/L

#26429 Fix indentation
  content/en/docs/concepts/workloads/pods/ephemeral-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26451 Fix column alignment in debug-service.md
  content/en/docs/tasks/debug-application-cluster/debug-service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25986 Clarify binaryData handling by kubectl create and describe
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26453 remove command from output block
  content/en/docs/tasks/run-application/run-stateless-application-deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26446 service-network: add some clarity to headless service
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/XS

#26440 [pt] Add content for hello-minikube in português
  content/pt/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L

#26452 Clarify selection of default HPA scaling policy
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#26412 Fail links in compute-device-assignment.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26409 [zh] translate "Migrating telemetry and security agents from dockershim"
  content/zh/docs/tasks/administer-cluster/migrating-from-dockershim/migrating-telemetry-and-security-agents.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26467 fix an invalid location.hash
  content/en/docs/tasks/run-application/run-replicated-stateful-application.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26456 Minor - Systemd enable command to enable CRI-O at boot time
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26458 security: add container runtime class as an option to provider extra container security
  content/en/docs/concepts/security/overview.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25619 fix: errors in base64 and sed commands
  content/en/docs/tasks/tls/manual-rotation-of-ca-certificates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26471 fix: add missing end
  content/en/blog/_posts/2019-03-15-Kubernetes-setup-using-Ansible-and-Vagrant.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26464 style: separate commands from output
  content/en/docs/tasks/run-application/run-single-instance-stateful-application.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26480 chore: fix a broken link "FrameworkHandle"
  content/en/docs/concepts/scheduling-eviction/scheduling-framework.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25022 docs: add partition field for EBS
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#26477 Promote immutable secrets and configmaps to GA
  content/en/docs/concepts/configuration/configmap.md
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/S

#26417 [zh] correct name in test.md
  content/zh/docs/test.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26474 fixed some typos and grammatical mistakes
  content/en/docs/concepts/security/controlling-access.md
  content/en/docs/reference/access-authn-authz/authentication.md
  content/en/docs/reference/using-api/api-concepts.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#26487 [pt] Fix links in tutorial section
  content/pt/docs/tutorials/_index.md
  content/pt/docs/tutorials/kubernetes-basics/_index.html
  content/pt/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/pt/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/pt/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/S

#26501 [zh] Sync taint and toleration example
  content/zh/docs/concepts/scheduling-eviction/taint-and-toleration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26491 Tyk Operator list of 3rd party ingress controllers
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/XS

#26436 [zh] Dual-stack docs correction
  content/zh/docs/concepts/services-networking/dual-stack.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26500 Update control-plane-flags.md to fix bind-address on scheduler
  content/en/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26528 fix for how to enable flowcontrol.apiserver.k8s.io/v1alpha1
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26543 modify the chinese word of organizations
  content/zh/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, kind/bug, language/zh, lgtm, sig/docs, size/XS

#26545 Fix coreos.com broken link for Operator pattern
  content/en/docs/reference/glossary/cluster-operator.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26538 update cheatsheet.md
  content/ru/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#26531 ja: Make docs/setup/production-environment/windows/user-guide-windows-containhers.md follow v1.18 of the original text
  content/ja/docs/setup/production-environment/windows/user-guide-windows-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#26428 es: clean up capture stmts in Secret concept page
  content/es/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/es, lgtm, sig/docs, size/M

#25998 Revise the page to accurately document the well-known labels, annotations and taints
  content/en/docs/reference/labels-annotations-taints.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#26463 [zh] translate blog "Dockershim Deprecation FAQ"
  content/zh/blog/_posts/2020-12-02-dockershim-faq.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26565 Fix dockerhub API URL
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#26576 Remove "defalut" from the baseline policy name
  content/en/docs/concepts/security/pod-security-standards.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#26495 [ja] removed install-minikube.md
  content/ja/docs/setup/learning-environment/minikube.md
  content/ja/docs/tasks/tools/_index.md
  content/ja/docs/tasks/tools/install-kubectl.md
  content/ja/docs/tasks/tools/install-minikube.md
  content/ja/docs/tutorials/hello-minikube.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#26583 delete extra words of 'use'
  content/zh/docs/concepts/workloads/pods/_index.md
Labels: approved, cncf-cla: yes, kind/bug, language/zh, lgtm, sig/docs, size/XS

#26559 Update docs/setup/production-environment/turnkey/icp.md to follow v1.18 of the original text
  content/ja/docs/setup/production-environment/turnkey/icp.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#26569 modify the error chinese word
  content/zh/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, kind/bug, language/zh, lgtm, sig/docs, size/XS

#26568 modify the error chinese word
  content/zh/docs/concepts/architecture/controller.md
Labels: approved, cncf-cla: yes, kind/bug, language/zh, lgtm, sig/docs, size/XS

#26532 [zh] Sync changes that remove logging solutions
  content/zh/docs/concepts/cluster-administration/logging.md
  content/zh/docs/tasks/debug-application-cluster/events-stackdriver.md
  content/zh/docs/tasks/debug-application-cluster/logging-elasticsearch-kibana.md
  content/zh/docs/tutorials/stateful-application/zookeeper.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#26461 [zh] Fix some bad links in tasks section
  content/zh/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/zh/docs/tasks/administer-cluster/safely-drain-node.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#26455 [zh] Fix translation of hostname in TLS example
  content/zh/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26566 modify the word of and from english to chinese
  content/zh/docs/concepts/overview/working-with-objects/labels.md
Labels: approved, cncf-cla: yes, kind/bug, language/zh, lgtm, sig/docs, size/XS

#26586 modify error word of administrator
  content/zh/docs/concepts/workloads/pods/disruptions.md
Labels: approved, cncf-cla: yes, kind/bug, language/zh, lgtm, sig/docs, size/XS

#26553 ja: Make docs/setup/production-environment/tools/kubeadm/high-availability.md follow v1.18 of the original text
  content/ja/docs/setup/production-environment/tools/kubeadm/high-availability.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#26483 Add page listing removed beta versions, replacements, and notable changes
  content/en/docs/contribute/style/style-guide.md
  content/en/docs/reference/using-api/deprecation-guide.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/architecture, sig/docs, sig/release, size/L

#26598 Fix API group typo
  content/en/docs/reference/using-api/deprecation-guide.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26427 Update outdated files in the dev-1.20-ko.4 branch (1)
  content/ko/docs/concepts/cluster-administration/system-metrics.md
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/concepts/containers/container-lifecycle-hooks.md
  content/ko/docs/concepts/containers/runtime-class.md
  content/ko/docs/concepts/extend-kubernetes/extend-cluster.md
  content/ko/docs/concepts/services-networking/ingress-controllers.md
  content/ko/docs/concepts/services-networking/ingress.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#26419 [ko] Translate reference/glossary/storage-class.md in Korean
  content/ko/docs/reference/glossary/storage-class.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#26555 Reflects differences from the original (#26506)
  content/ja/docs/setup/production-environment/tools/kops.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#26599 Update outdated files in dev-1.20-ko.4 branch (3)
  content/ko/docs/reference/glossary/api-group.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/release/version-skew-policy.md
  content/ko/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#26401 [zh] Sync concepts pages for architecture nodes and controller
  content/zh/docs/concepts/architecture/controller.md
  content/zh/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#26439 [zh] sync and update statefulset.md
  content/zh/docs/concepts/workloads/controllers/statefulset.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#26610 chore: fix an invalid location.hash
  content/en/docs/tasks/run-application/force-delete-stateful-set-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26579 Update: docs/setup/production-environment/tools/kubeadm/ha-topology.md
  content/ja/docs/setup/production-environment/tools/kubeadm/ha-topology.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS
