Repository kubernetes/website, pull requests merged in 2021-09, with the labels that each got.

#29594 [zh] remove unneeded comma
  content/zh/docs/contribute/suggesting-improvements.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#29563 [zh] Setup files to sync for 1.22(kubeadm part-3)
  content/zh/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubeadm/high-availability.md
  content/zh/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#29575 [ja] Update default node pod limits for large cluster
  content/ja/docs/setup/best-practices/cluster-large.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#29598 request adding jlbutler to sig-docs-en-owners
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#29589 Fix typo in health-checks doc
  content/en/docs/reference/using-api/health-checks.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29490 [zh]sync contribution files for 1.22(Part-3)
  content/zh/docs/contribute/localization.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#29555 [pt-br] Adding brazilian portuguese translation of System Logs page
  content/pt-br/docs/concepts/cluster-administration/system-logs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#29127 Amend kubeadm join doc for node preparation
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/cluster-lifecycle, sig/docs, approved, language/en

#29529 docs: Add "KubeOps" operator SDK to third-party list
  content/en/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29608 [ru] Update the link to cloud interface
  content/ru/docs/concepts/architecture/cloud-controller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#29581 Fixed Portuguese componenets link (#29522)
  content/pt-br/docs/concepts/overview/what-is-kubernetes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#29488 [zh]sync contribution files for 1.22(Part-2)
  content/zh/docs/contribute/generate-ref-docs/contribute-upstream.md
  content/zh/docs/contribute/generate-ref-docs/kubectl.md
  content/zh/docs/contribute/generate-ref-docs/quickstart.md
  content/zh/docs/contribute/style/hugo-shortcodes/index.md
  content/zh/docs/contribute/style/style-guide.md
  content/zh/docs/contribute/suggesting-improvements.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#29607 [ko] fix a mistranslated sentence which explains pod-lifecycle
  content/ko/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#29619 update 1.22 release webinar date in release blog to rescheduled date
  content/en/blog/_posts/2021-08-04-kubernetes-release-1.22.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#29613 Use correct namespace
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#29623 [zh] Update the link to cloud interface
  content/zh/docs/concepts/architecture/cloud-controller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#29626 [ru] Add translate garbage-collection.md file in the content/ru/docs/…
  content/ru/docs/concepts/architecture/garbage-collection.md
  content/ru/docs/reference/glossary/garbage-collection.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ru

#29506 [ja] Improve Japanese expression in Secret
  content/ja/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#29579 [ja] Updating --cascade=false to --cascade=orphan
  content/ja/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#29621 Fix kubeadm-config links
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
  content/en/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
  content/en/docs/setup/production-environment/tools/kubeadm/high-availability.md
  content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#29209 Reword Go requirement for subordinate API servers
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/api-machinery, sig/docs, approved, kind/cleanup, language/en

#29616 Move to Minikube 1.20 image of Katacoda for Hello Minikube Tutorial
  layouts/partials/hooks/body-end.html
Labels: cncf-cla: yes, size/XS, team/katacoda, lgtm, sig/docs, approved

#29554 upgrade to mermaid 8.11.2
  layouts/partials/head.html
  static/js/mermaid.min.js
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#29249 Add jmyung to sig-docs-ko-reviews
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#29584 [zh]sync admin task files
  content/zh/docs/tasks/administer-cluster/access-cluster-api.md
  content/zh/docs/tasks/administer-cluster/controller-manager-leader-migration.md
  content/zh/docs/tasks/administer-cluster/cpu-management-policies.md
  content/zh/docs/tasks/administer-cluster/limit-storage-consumption.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#29636 [id] kubeadm-install: include env variable for ARCH
  content/id/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#29630 [fr] kubeadm-install: include env variable for ARCH
  content/fr/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/fr, triage/accepted

#28147 kube-proxy disclaimer about cleanup
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#27182 Reword “Create an External Load Balancer” task
  content/en/docs/tasks/access-application-cluster/create-external-load-balancer.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#29637 Follow-up to k/website pr 29529, fix small nit for .NET
  content/en/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#29547 Improvement: Remove Heapster content from HPA.
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#29447 Update controlling-access.md as --insecure-port flag deprecated
  content/en/docs/concepts/security/controlling-access.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#29600 [ko] Translate tasks/inject-data-application/environment-variable-expose-p…
  content/ko/docs/tasks/inject-data-application/environment-variable-expose-pod-information.md
  content/ko/examples/pods/inject/dapi-envars-container.yaml
  content/ko/examples/pods/inject/dapi-envars-pod.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#29628 Fix markdown link rendering & move image kubeadm-stacked-color.png to this repo
  content/en/docs/reference/setup-tools/kubeadm/_index.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/fr/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/id/docs/reference/setup-tools/kubeadm/_index.md
  content/id/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/id/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/ja/docs/reference/setup-tools/kubeadm/_index.md
  content/ja/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/ko/docs/reference/setup-tools/kubeadm/_index.md
  content/ko/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/zh/docs/reference/setup-tools/kubeadm/_index.md
  content/zh/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  static/images/kubeadm-stacked-color.png
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, language/ko, language/ja, language/zh, language/fr, language/id

#29620 [ja] Update the link to cloud interface
  content/ja/docs/concepts/architecture/cloud-controller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#29646 [ja] kubeadm-install: include env variable for ARCH
  content/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#29632 explaining the interactions of topology spread constraints and node affinity/selector
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/scheduling, approved, tide/merge-method-squash, language/en

#27262 Fix line separation in concepts/architecture/nodes
  content/fr/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#29652 update config.toml for 1.23 release
  config.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#29059 ReadWriteOncePod access mode alpha feature blog
  content/en/blog/_posts/2021-09-13-read-write-once-pod-access-mode-alpha.md
Labels: cncf-cla: yes, size/L, lgtm, sig/storage, sig/docs, approved, language/en, area/blog

#29650 Update nodelocaldns.md
  content/zh/docs/tasks/administer-cluster/nodelocaldns.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#29635 Fix service-catalog usage of apiserver aggregation
  content/en/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/en/docs/concepts/extend-kubernetes/service-catalog.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/service-catalog, sig/docs, approved, language/en

#28720 Replace ha-master-gce.png with SVG
  content/en/docs/images/ha-control-plane.svg
  content/en/docs/tasks/administer-cluster/highly-available-control-plane.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#29433 Add note about deprecated seccomp annotation
  content/en/docs/reference/labels-annotations-taints.md
  content/en/docs/tutorials/clusters/seccomp.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/docs, approved, language/en

#29631 [ru] Add translate addons.md file in the content/ru/docs/concepts/clu…
  content/ru/docs/concepts/cluster-administration/_index.md
  content/ru/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ru

#29662 zh: update scheduling-hugepages.md
  content/zh/docs/tasks/manage-hugepages/scheduling-hugepages.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#29486 Fix typo `a extension` and its related `en` doc sync
  content/zh/docs/tasks/extend-kubernetes/configure-aggregation-layer.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#29610 Update docs to reflect newly support shells with autocompletions
  content/en/docs/tasks/tools/included/optional-kubectl-configs-pwsh.md
  content/en/docs/tasks/tools/install-kubectl-linux.md
  content/en/docs/tasks/tools/install-kubectl-macos.md
  content/en/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#29666 [hi] Update sig-docs-hi owners and reviewers
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#29421 [hi] Add content/hi/docs/tutorials/kubernetes-basics/scale/_index.md
  content/hi/docs/tutorials/kubernetes-basics/scale/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#29413 [hi] Add content/hi/docs/setup/production-environment/windows/_index.md
  content/hi/docs/setup/production-environment/windows/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#29672 [id] Improvement: Runtime Class
  content/id/docs/concepts/containers/runtime-class.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#29639 Fix duplicate words in kubectl overview
  content/en/docs/reference/kubectl/overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#29372 [hi] Add content/hi/docs/home/supported-doc-versions.md
  content/hi/docs/home/supported-doc-versions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi

#29474 [hi] Add content/hi/docs/tasks/tools/included/optional-kubectl-configs-zsh.md
  content/hi/docs/tasks/tools/included/optional-kubectl-configs-zsh.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi

#29410 [hi] Add content/hi/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/hi/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/hi

#29681 [es] Improvement: Runtime Class
  content/es/docs/concepts/containers/runtime-class.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#29700 Fix Spelling
  content/en/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29691 Removed Big Switch Fabric
  content/en/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29705 [hi] Added hi/docs/tasks/tools/included/_index.md
  content/hi/docs/tasks/tools/included/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#29707 Fixed the link for Exemptions.
  content/en/docs/tasks/configure-pod-container/enforce-standards-admission-controller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29674 [hi] Enable Hindi localization
  config.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#29394 Replace cascade=false -> cascade=orphan
  content/en/blog/_posts/2021-05-14-using-finalizers-to-control-deletion.md
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
  content/en/docs/tasks/administer-cluster/use-cascading-deletion.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, sig/cli, language/en, area/blog

#26151 api-reference shortcode + script to test links
  content/en/docs/contribute/style/hugo-shortcodes/index.md
  layouts/shortcodes/api-reference.html
  scripts/linkchecker.py
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#29432 [hi] Add content/hi/docs/tutorials/kubernetes-basics/update/update-interactive.html
  content/hi/docs/tutorials/kubernetes-basics/update/update-interactive.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/hi

#29383 [hi] Add content/hi/docs/home/_index.md
  content/hi/docs/home/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/hi

#29624 [es] Add concepts/storage/volume-snapshots.md
  content/es/docs/concepts/storage/volume-snapshots.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/es

#29659 [pt-br] Fix secret name to be consistent with examples
  content/pt-br/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#29420 [hi] Add content/hi/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/hi/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/hi

#29344 Adjust broken link in service.md
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29177 [es] add concepts/storage/volumes
  content/es/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, do-not-merge/hold, approved, language/es

#29469 [hi] Add content/hi/docs/tasks/tools/included/verify-kubectl.md
  content/hi/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/hi

#29625 [ko] Translate /concepts/storage/storage-capacity.md in Korean
  content/ko/docs/concepts/storage/storage-capacity.md
  content/ko/docs/reference/glossary/csi.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#29405 [hi] Add content/hi/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/hi/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#29699 Add a ports and protocols reference page
  content/en/docs/reference/_index.md
  content/en/docs/reference/ports-and-protocols.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/cluster-lifecycle, sig/docs, sig/architecture, approved, language/en, sig/security

#29697 [pt-br] Improvement: Runtime Class
  content/pt-br/docs/concepts/containers/runtime-class.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#29746 kubeadm-upgrade should upgrade to current branch version other than the latest version
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  layouts/shortcodes/skew.html
Labels: cncf-cla: yes, size/M, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#29009 latest version in kubeadm upgrade clusters should be the current branch version
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  layouts/shortcodes/skew.html
Labels: cncf-cla: yes, size/M, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#29750 clean: remove 3rd party links
  content/es/docs/concepts/workloads/controllers/daemonset.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/es

#29757 releng: Update Release Managers
  content/en/releases/release-managers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#29694 Removed Apstra AOS from Cluster Networking
  content/en/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/en

#29743 修改错误文字
  content/zh/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#28355 Updating documentation to show ingress pods are deployed in ingress-nginx namespace for minikube v1.19.0 or later
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#29756 [de] Add seccomp tutorial to index
  content/de/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#29762 fix expiration of bound SA tokens
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29759 kubeadm upgrade to the latest patch release, not the latest stable
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#29721 [zh] using-api/health-checks.md: use consistent casing
  content/zh/docs/reference/using-api/health-checks.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#29754 Update kubeadm upgrade page to use current branch (backport from main and release-1.20)
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  layouts/shortcodes/skew.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#29682 kubelet-in-userns.md: update for minikube
  content/en/docs/tasks/administer-cluster/kubelet-in-userns.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#29380 Blog on SIG Node spotlight 2021
  content/en/blog/_posts/2021-08-13-SIG-Node-Spotlight/index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/blog

#29779 [es] Add seccomp tutorial to index
  content/es/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#29640 Fix release cadence in deprecation policy page
  content/en/docs/reference/using-api/deprecation-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29775 periodic merge of main onto dev-1.23
  OWNERS_ALIASES
  content/de/docs/tutorials/_index.md
  content/en/blog/_posts/2021-05-14-using-finalizers-to-control-deletion.md
  content/en/blog/_posts/2021-09-13-read-write-once-pod-access-mode-alpha.md
  content/en/docs/concepts/cluster-administration/networking.md
  content/en/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/en/docs/concepts/extend-kubernetes/service-catalog.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
  content/en/docs/concepts/workloads/controllers/statefulset.md
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/en/docs/contribute/style/hugo-shortcodes/index.md
  content/en/docs/images/ha-control-plane.svg
  content/en/docs/reference/_index.md
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
  content/en/docs/reference/kubectl/overview.md
  content/en/docs/reference/ports-and-protocols.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
  content/en/docs/tasks/administer-cluster/highly-available-control-plane.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/en/docs/tasks/administer-cluster/kubelet-in-userns.md
  content/en/docs/tasks/administer-cluster/use-cascading-deletion.md
  content/en/docs/tasks/configure-pod-container/enforce-standards-admission-controller.md
  content/en/releases/release-managers.md
  content/es/docs/concepts/containers/runtime-class.md
  content/es/docs/concepts/storage/volume-snapshots.md
  content/es/docs/concepts/storage/volumes.md
  content/es/docs/concepts/workloads/controllers/daemonset.md
  content/fr/docs/concepts/architecture/nodes.md
  content/id/docs/concepts/containers/runtime-class.md
  content/pt-br/docs/concepts/containers/runtime-class.md
  content/pt-br/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
  content/ru/docs/concepts/cluster-administration/_index.md
  content/ru/docs/concepts/cluster-administration/addons.md
  content/zh/docs/reference/using-api/health-checks.md
  content/zh/docs/tasks/administer-cluster/nodelocaldns.md
  content/zh/docs/tasks/extend-kubernetes/configure-aggregation-layer.md
  content/zh/docs/tasks/manage-hugepages/scheduling-hugepages.md
  content/zh/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  layouts/shortcodes/api-reference.html
  layouts/shortcodes/skew.html
  scripts/linkchecker.py
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, sig/release, approved, language/en, language/zh, language/fr, language/de, language/es, area/blog, language/pt, language/id, language/ru, area/release-eng

#29773 [zh] fix expiration of bound SA tokens
  content/zh/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#29430 [hi] Add content/hi/docs/tutorials/kubernetes-basics/expose/_index.md
  content/hi/docs/tutorials/kubernetes-basics/expose/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#29400 [hi] Add content/hi/docs/tutorials/kubernetes-basics/deploy-app/_index.md
  content/hi/docs/tutorials/kubernetes-basics/deploy-app/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#29780 Update kep link and release version for dockershim removal in faq
  content/en/blog/_posts/2020-12-02-dockershim-faq.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#29781 [ko] Fix link from 'param githubbranch' to 'master'
  content/ko/docs/concepts/cluster-administration/logging.md
  content/ko/docs/concepts/cluster-administration/manage-deployment.md
  content/ko/docs/concepts/configuration/overview.md
  content/ko/docs/concepts/containers/container-environment.md
  content/ko/docs/concepts/services-networking/connect-applications-service.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/storage/volumes.md
  content/ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/concepts/workloads/controllers/statefulset.md
  content/ko/docs/tasks/administer-cluster/access-cluster-api.md
  content/ko/docs/tasks/administer-cluster/dns-custom-nameservers.md
  content/ko/docs/tutorials/stateful-application/basic-stateful-set.md
  content/ko/docs/tutorials/stateful-application/zookeeper.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#29787 Sig node spotlight blog introduction update before publication date
  content/en/blog/_posts/2021-09-27-SIG-Node-Spotlight/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#29763 ClusterClass and managed topologies blog
  content/en/blog/_posts/2021-10-04-clusterclass-and-managed-topologies.md
  static/images/blog/2021-10-04-clusterclass-and-managed-topologies/clusterclass.svg
  static/images/blog/2021-10-04-clusterclass-and-managed-topologies/create-cluster.svg
Labels: cncf-cla: yes, size/L, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en, area/blog

#29777 Fix typo in control-plane-flags
  content/en/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, kind/cleanup, language/en

#29798 Update content/zh/docs/tasks/configure-pod-container/configure-gmsa.md
  content/zh/docs/tasks/configure-pod-container/configure-gmsa.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#29772 [zh] translation for section objects & network
  content/zh/docs/tasks/network/customize-hosts-file-for-pods.md
  content/zh/docs/tasks/network/validate-dual-stack.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#29792 [id] Add seccomp tutorial to index
  content/id/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#29774 [zh] Sync administer-cluster kubeadm-upgrade.md
  content/zh/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#29693 Replace k/security with k/committee-security-response
  content/en/releases/release-managers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, sig/security, area/release-eng

#29378 Clarified scenarios that could lead to privilege escalation
  content/en/docs/reference/access-authn-authz/authorization.md
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, sig/docs, approved, tide/merge-method-squash, language/en, sig/security

#28863 Update persistent-volumes.md
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29055 updating flannel link address
  content/en/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29782 remove 'Tools Included' from sidebar of translated page
  layouts/partials/sidebar-tree.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#29715 fix typo that is semantically important
  content/en/docs/concepts/containers/images.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29454 [hi] Add content/hi/docs/tutorials/kubernetes-basics/update/update-intro.html
  content/hi/docs/tutorials/kubernetes-basics/update/update-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/hi

#29767 [zh] translate concepts/Traces For Kubernetes System Components
  content/zh/docs/concepts/cluster-administration/system-traces.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#29797 [zh] translation for admin1
  content/zh/docs/tasks/administer-cluster/enabling-service-topology.md
  content/zh/docs/tasks/administer-cluster/kubelet-config-file.md
  content/zh/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you.md
  content/zh/docs/tasks/administer-cluster/safely-drain-node.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#29796 [zh] Update kep link and release version for dockershim removal in faq
  content/zh/blog/_posts/2020-12-02-dockershim-faq.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#29434 [hi] Add content/hi/docs/tasks/_index.md
  content/hi/docs/tasks/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi

#29811 Update hello-minikube.md
  content/en/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#29187 Added missing ServiceAccount, ClusterRole and ClusterRoleBinding to DNS Horizontal Autoscaler.
  content/en/examples/admin/dns/dns-horizontal-autoscaler.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#29803 [it] Add seccomp tutorial to index
  content/it/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/it

#29801 use k8s-staging-test-infra/gcb-docker-gcloud
  cloudbuild.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, wg/k8s-infra

#29808 Update nodes.md
  content/fr/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#29818 [zh] translate glossary/Garbage Collection
  content/zh/docs/reference/glossary/garbage-collection.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#29730 Update “What's next” section of Workloads concept pages
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/concepts/workloads/controllers/replicaset.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
  content/en/docs/concepts/workloads/controllers/statefulset.md
  content/en/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, sig/apps, kind/cleanup, tide/merge-method-squash, language/en

#29833 typos
  content/ru/docs/concepts/architecture/controller.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ru

#29823 [zh]sync content/zh/docs/concepts/configuration/secret.md
  content/zh/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#29839 remove addonmanager.kubernetes.io labels
  content/en/examples/admin/dns/dns-horizontal-autoscaler.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29744 patches: update releases for October cycle
  content/en/releases/patch-releases.md
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#29748 Remove unessesary indentation on code
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, sig/docs, approved, kind/cleanup, language/en

#29634 add blog post on handling data duplication in data-heavy environments
  content/en/blog/_posts/2021-09-29-data-duplication-in-data-heavy-k8s-env.md
  static/images/blog/2021-09-07-data-duplication-in-data-heavy-k8s-env/create-volume-snapshot-gcp.png
  static/images/blog/2021-09-07-data-duplication-in-data-heavy-k8s-env/identify-volume-aws.png
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#29846 Restrict width of blog figures for wide viewports
  assets/scss/_custom.scss
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#29768 Update translate-compose-kubernetes.md
  content/en/docs/tasks/configure-pod-container/translate-compose-kubernetes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29838 updated README-hi.md
  README-hi.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup

#29831 Including Oracle Cloud Infrastructure
  content/en/docs/concepts/security/overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29736 [ko] Update outdated files in dev-1.22-ko.1 (p1)
  content/ko/docs/tasks/manage-daemon/update-daemon-set.md
  content/ko/docs/tasks/manage-hugepages/scheduling-hugepages.md
  content/ko/docs/tasks/network/validate-dual-stack.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/ko/docs/tasks/tools/install-kubectl-macos.md
  content/ko/docs/tutorials/clusters/apparmor.md
  content/ko/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/ko/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/update/update-interactive.html
  content/ko/docs/tutorials/stateful-application/cassandra.md
  content/ko/docs/tutorials/stateful-application/zookeeper.md
  content/ko/docs/tutorials/stateless-application/guestbook.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#29814 [zh] translation for admin2
  content/zh/docs/tasks/administer-cluster/declare-network-policy.md
  content/zh/docs/tasks/administer-cluster/extended-resource-node.md
  content/zh/docs/tasks/administer-cluster/namespaces-walkthrough.md
  content/zh/docs/tasks/administer-cluster/network-policy-provider/antrea-network-policy.md
  content/zh/docs/tasks/administer-cluster/network-policy-provider/calico-network-policy.md
  content/zh/docs/tasks/administer-cluster/network-policy-provider/cilium-network-policy.md
  content/zh/docs/tasks/administer-cluster/reserve-compute-resources.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#29816 [zh]translate indexed-parallel-processing-static.md
  content/zh/docs/tasks/job/indexed-parallel-processing-static.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#29770 Added a note for improvement in documentation for ReadWriteOnce and ReadWriteOncePod access mode.
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/storage, sig/docs, approved, language/en

#29349 clarify declarative API in custom controller docs
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/en, wg/api-expression

#29742 [zh] sync admin cluster docs
  content/zh/docs/tasks/administer-cluster/access-cluster-services.md
  content/zh/docs/tasks/administer-cluster/certificates.md
  content/zh/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md
  content/zh/docs/tasks/administer-cluster/securing-a-cluster.md
  content/zh/docs/tasks/administer-cluster/sysctl-cluster.md
  content/zh/docs/tasks/administer-cluster/topology-manager.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#29860 Postpone ClusterClass blog
  content/en/blog/_posts/2021-10-08-clusterclass-and-managed-topologies.md
  static/images/blog/2021-10-08-clusterclass-and-managed-topologies/clusterclass.svg
  static/images/blog/2021-10-08-clusterclass-and-managed-topologies/create-cluster.svg
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#29799 Update debug-cluster.md
  content/zh/docs/tasks/debug-application-cluster/debug-cluster.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#29821 Sync 6 files under configure-pod-container/ with 1.22 version
  content/zh/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/zh/docs/tasks/configure-pod-container/configure-runasusername.md
  content/zh/docs/tasks/configure-pod-container/configure-service-account.md
  content/zh/docs/tasks/configure-pod-container/pull-image-private-registry.md
  content/zh/docs/tasks/configure-pod-container/quality-service-pod.md
  content/zh/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#29866 [zh] sync content/zh/docs/concepts/cluster-administration/flow-contro…
  content/zh/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#29102 encrypt-data: Don't recommend AES-CBC
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, language/en, sig/security
