Repository kubernetes/website, pull requests merged in 2021-04, with the labels that each got.

#27341 fixup rc text
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#27289 kubeadm: update create-cluster-kubeadm page as kubeadm will not do e2e tests against Calico CNI anymore
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#27362 fix bind-address on scheduler
  content/fr/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#27365 [zh] sync content/en/docs/concepts/overview/components.md
  content/zh/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27355 Update zh translation in self-hosting.md
  content/zh/docs/setup/production-environment/tools/kubeadm/self-hosting.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26595 Add kube-proxy config reference
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/config-api/_index.md
  content/en/docs/reference/config-api/kube-proxy-config.v1alpha1.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, sig/network, size/XL

#27363 [zh] Sync content/en/docs/concepts/storage/persistent-volumes.md
  content/zh/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#27337 [zh] update control-plane-flags.md to fix bind-address on scheduler
  content/zh/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27325 Corrected the description in 'Restrict a Container's Access to Resources with AppArmor'
  content/en/docs/tutorials/clusters/apparmor.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27327 Correct translation connect-applications-service.md
  content/zh/docs/concepts/services-networking/connect-applications-service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#27318 [zh] Fix custom heading ID
  content/zh/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27304 [zh] fix: errors in base64 and sed commands
  content/zh/docs/tasks/tls/manual-rotation-of-ca-certificates.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#27219 [ko] Translate tasks/tls/managing-tls-in-a-cluster.md in Korean
  content/ko/docs/tasks/tls/managing-tls-in-a-cluster.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#27196 [ko] Update to Outdated files in the dev-1.20-ko.7 (p1)
  content/ko/docs/concepts/architecture/control-plane-node-communication.md
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/cluster-administration/manage-deployment.md
  content/ko/docs/concepts/configuration/configmap.md
  content/ko/docs/concepts/configuration/overview.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/extend-kubernetes/operator.md
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ko/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/ko/docs/concepts/storage/dynamic-provisioning.md
  content/ko/docs/concepts/storage/volumes.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/reference/_index.md
  content/ko/docs/reference/access-authn-authz/_index.md
  content/ko/docs/reference/command-line-tools-reference/_index.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/reference/command-line-tools-reference/kube-proxy.md
  content/ko/docs/reference/glossary/index.md
  content/ko/docs/reference/issues-security/_index.md
  content/ko/docs/reference/kubectl/_index.md
  content/ko/docs/reference/kubectl/overview.md
  content/ko/docs/reference/scheduling/config.md
  content/ko/docs/reference/setup-tools/_index.md
  content/ko/docs/reference/tools/_index.md
  content/ko/docs/reference/using-api/_index.md
  content/ko/docs/setup/best-practices/certificates.md
  content/ko/docs/setup/best-practices/multiple-zones.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/tools/kops.md
  content/ko/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/ko/docs/setup/production-environment/tools/kubespray.md
  content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/ko/docs/setup/release/notes.md
  content/ko/docs/tasks/administer-cluster/access-cluster-api.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/ko/docs/tasks/manage-kubernetes-objects/declarative-config.md
  content/ko/docs/tasks/manage-kubernetes-objects/imperative-command.md
  content/ko/docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/ko/docs/tasks/tools/install-kubectl-linux.md
  content/ko/docs/tasks/tools/install-kubectl-macos.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#27376 Tidy sysctl task page for GA
  content/en/docs/tasks/administer-cluster/sysctl-cluster.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/S

#27375 [ko] Resolve conflicts on dev-1.20-ko.7 branch
  content/ko/docs/setup/best-practices/certificates.md
  content/ko/docs/setup/production-environment/tools/kubespray.md
  content/ko/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#26590 Document kubelet config format
  content/en/docs/concepts/configuration/configmap.md
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/command-line-tools-reference/kubelet-config.v1beta1.md
  content/en/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md
  content/en/docs/reference/config-api/kubelet-config.v1beta1.md
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
  content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
  content/en/docs/tasks/administer-cluster/kubelet-config-file.md
  content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md
  content/en/docs/tasks/configure-pod-container/static-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XXL

#26596 Kube scheduler config
  content/en/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/en/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/config-api/kube-scheduler-config.v1beta1.md
  content/en/docs/reference/scheduling/config.md
  content/en/docs/reference/scheduling/policies.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/XXL

#27346 add antrea in network addon list
  content/en/docs/concepts/cluster-administration/addons.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27300 Add portuguese translation for networking concepts
  content/pt/docs/concepts/cluster-administration/networking.md
  content/pt/docs/reference/glossary/cni.md
  content/pt/docs/reference/glossary/customresourcedefinition.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L, tide/merge-method-squash

#27322 [zh] translate task/Install and Set Up kubectl on Linux
  content/zh/docs/tasks/tools/included/optional-kubectl-configs-bash-linux.md
  content/zh/docs/tasks/tools/install-kubectl-linux.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27291 [zh] Resync cluster administration
  content/zh/docs/concepts/cluster-administration/_index.md
  content/zh/docs/concepts/cluster-administration/certificates.md
  content/zh/docs/concepts/cluster-administration/flow-control.md
  content/zh/docs/concepts/cluster-administration/manage-deployment.md
  content/zh/docs/concepts/cluster-administration/proxies.md
  content/zh/docs/concepts/cluster-administration/system-logs.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#27241 [es] Add content/es/docs/concepts/security/overview
  content/es/docs/concepts/security/_index.md
  content/es/docs/concepts/security/overview.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/L

#27389 [ID] remove cluster management to sync with upstream.
  content/id/docs/concepts/architecture/controller.md
  content/id/docs/tasks/administer-cluster/cluster-management.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/L

#26606 Add reference for audit API group
  content/en/docs/reference/_index.md
  content/en/docs/reference/config-api/apiserver-audit.v1.md
  content/en/docs/tasks/debug-application-cluster/audit.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#26608 Add reference for client-authentication v1beta1
  content/en/docs/reference/_index.md
  content/en/docs/reference/access-authn-authz/authentication.md
  content/en/docs/reference/config-api/client-authentication.v1beta1.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#26602 Add reference doc for kube-scheduler policy
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/config-api/kube-scheduler-policy-config.v1.md
  content/en/docs/reference/scheduling/policies.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#27156 update ja docs/concepts/containers/container-lifecycle-hooks.md v1.19
  content/ja/docs/concepts/containers/container-lifecycle-hooks.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#27391 Don't mention kubeadm dual-stack as a site front page feature
  content/en/docs/setup/production-environment/tools/kubeadm/dual-stack-support.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#27403 [ID] moving pod-overhead into scheduling-eviction.
  content/id/docs/concepts/scheduling-eviction/pod-overhead.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#27388 [ID] remove task template to sync with EN
  content/id/docs/tasks/example-task-template.md
Labels: approved, cncf-cla: yes, language/en, language/id, lgtm, sig/docs, size/M

#27263 Fix line separation in concepts/architecture/nodes
  content/id/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#27386 Fixed errors in instructions for generating ref docs
  content/en/docs/contribute/generate-ref-docs/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#27364 Fix content/en/docs/tutorials/stateless-application/guestbook.md
  content/en/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/M

#27302 Add initial portuguese translation to runtime class
  content/pt/docs/concepts/containers/runtime-class.md
  content/pt/docs/reference/glossary/containerd.md
  content/pt/docs/reference/glossary/cri-o.md
  content/pt/docs/reference/glossary/cri.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L, tide/merge-method-squash

#27396 Fix label selector in Using Source IP tutorial
  content/en/docs/tutorials/services/source-ip.md
  content/ja/docs/tutorials/services/source-ip.md
  content/ko/docs/tutorials/services/source-ip.md
  content/zh/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/en, language/ja, language/ko, language/zh, lgtm, sig/docs, size/XS

#27377 Improve docs for NamespaceDefaultLabelName
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
  content/en/docs/concepts/services-networking/network-policies.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/labels-annotations-taints.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/M

#26725 Change to inclusive naming
  content/en/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS, wg/naming

#27366 Update kubespray.md for link to ansible doc
  content/en/docs/setup/production-environment/tools/kubespray.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#27356 resolve some format errors
  content/zh/docs/reference/access-authn-authz/bootstrap-tokens.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27039 Update ja/docs/concepts/services-networking/service to v1.19
  content/ja/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#27418 [ru] "kubectl for Docker Users" use "kubectl create deployment" command
  content/ru/docs/reference/kubectl/docker-cli-to-kubectl.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/S

#27369 Add blog post describing PSP deprecation and next steps.
  content/en/blog/_posts/2021-04-06-PodSecurityPolicy-Past-Present-and-Future.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, sig/release, sig/security, size/M

#27415 [PT] Update content/pt/docs/concepts/architecture/control-plane-node-communication.md
  content/pt/docs/concepts/architecture/control-plane-node-communication.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/M, tide/merge-method-squash

#27399 Fix the position of the abbreviation text "CNCF" on the page /ja/docs/home/
  content/ja/docs/home/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27423 Fix wrong chinese translation (SELinux note)
  content/zh/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#27378 [ja] fix bind-address on scheduler
  content/ja/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#26319 [zh] Sync changes to feature-gates
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/zh/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/XL

#27441 [zh] update service.md
  content/zh/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#27054 [vi] update invalid web page link for api group
  content/vi/docs/reference/glossary/api-group.md
  content/vi/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/vi, lgtm, sig/docs, size/XL

#27267 ja: Make docs/concepts/configuration/manage-resources-containers.md follow v1.19 of the original text
  content/ja/docs/concepts/configuration/manage-resources-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27383 [zh] translate reference/Well-Known Labels, Annotations and Taints
  content/zh/docs/reference/kubernetes-api/labels-annotations-taints.md
  content/zh/docs/reference/labels-annotations-taints.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#27442 Tune code style in tables
  assets/scss/_custom.scss
Labels: approved, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/XS

#27247 [ja] remove command from output block
  content/ja/docs/tasks/run-application/run-stateless-application-deployment.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27387 [ja] updated labels for cli command in the PHP Guestbook tutorial
  content/ja/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27447 Update config.toml in dev-1.21 branch
  config.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#27448 Merge master into dev 1.21 - 4/7/21
  assets/scss/_custom.scss
  content/en/blog/_posts/2021-04-06-PodSecurityPolicy-Past-Present-and-Future.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/ja/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
  content/ja/docs/tasks/run-application/run-stateless-application-deployment.md
  content/ja/docs/tutorials/stateless-application/guestbook.md
  content/pt/docs/concepts/architecture/control-plane-node-communication.md
  content/vi/docs/reference/glossary/api-group.md
  content/vi/docs/reference/kubectl/cheatsheet.md
  content/zh/docs/concepts/services-networking/service.md
  content/zh/docs/reference/command-line-tools-reference/feature-gates.md
  content/zh/docs/reference/kubernetes-api/labels-annotations-taints.md
  content/zh/docs/reference/labels-annotations-taints.md
  content/zh/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, area/blog, cncf-cla: yes, language/en, language/ja, language/pt, language/vi, language/zh, lgtm, sig/docs, size/XXL

#27233 Create 2021-04-08-kubernetes-release-1.21.md
  content/en/blog/_posts/2021-04-08-kubernetes-release-1.21.md
  static/images/blog/2021-04-08-kubernetes-release-1.21/globe_250px.png
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, sig/release, size/L

#26604 Translate docs/contribute/participate into Japanese
  content/ja/docs/contribute/participate/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#27380 Fix content/ja/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/ja/docs/concepts/scheduling-eviction/kube-scheduler.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#26790 use targetPort instead of containerPort
  content/en/docs/tasks/debug-application-cluster/debug-application.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#27152 [ja] fix indent
  content/ja/docs/concepts/workloads/pods/ephemeral-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27430 [zh]fix words in content/zh/docs/concepts/services-networking/endpoint-slices.md
  content/zh/docs/concepts/services-networking/endpoint-slices.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27443 [zh] Sync contribute pages for kubernetes-api.md
  content/zh/docs/contribute/generate-ref-docs/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#26629 Add PSP to the deprecation guide
  content/en/docs/reference/using-api/deprecation-guide.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, size/S

#27453 Update 1.18 config.toml for release 1.21
  config.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#27454 Update 1.19 config.toml for release 1.21
  config.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#27455 Update 1.20 config.toml for release 1.21
  config.toml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#27469 Update release notes for 1.21 release
  content/en/docs/setup/release/notes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XXL

#27198 Blog: CronJob reaches GA
  content/en/blog/_posts/2021-04-08-cronjob-reaches-ga/controller-flowchart.svg
  content/en/blog/_posts/2021-04-08-cronjob-reaches-ga/index.md
  content/en/blog/_posts/2021-04-08-cronjob-reaches-ga/performance-impact-graph.svg
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#27474 Update config.toml
  config.toml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, sig/docs, size/XS

#27426 clean: update spanish owners file
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#27201 Update kubeadm-config.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-config.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS, tide/merge-method-squash

#27481 Addressing whitespace nits & grammatical errors
  content/en/blog/_posts/2021-04-08-kubernetes-release-1.21.md
Labels: approved, area/blog, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, sig/release, size/XS

#27477 Fix config.toml for release-1.20 branch
  config.toml
Labels: approved, cncf-cla: yes, lgtm, priority/important-soon, sig/docs, size/XS

#27434 [ID] Moving "assign-pod" and "taint & toleration" into scheduling-eviction.
  content/id/docs/concepts/architecture/nodes.md
  content/id/docs/concepts/containers/runtime-class.md
  content/id/docs/concepts/overview/working-with-objects/labels.md
  content/id/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/id/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/id/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/id/docs/concepts/services-networking/service.md
  content/id/docs/concepts/storage/storage-classes.md
  content/id/docs/concepts/workloads/controllers/daemonset.md
  content/id/docs/reference/glossary/taint.md
  content/id/docs/reference/glossary/toleration.md
  content/id/docs/tasks/administer-cluster/sysctl-cluster.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/M

#27197 blog: introducing suspended jobs
  content/en/blog/_posts/2021-04-12-introducing-suspended-jobs.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/apps, sig/docs, size/L

#27488 blog: make minor corrections to upcoming SuspendJob post
  content/en/blog/_posts/2021-04-12-introducing-suspended-jobs.md
Labels: approved, area/blog, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/apps, sig/docs, size/S

#27392 Mention API extensibility as a front-page feature
  content/en/docs/concepts/extend-kubernetes/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/XS

#27494 Revert "update container-lifecycle-hooks.md for third hook handler i,.e. TCP"
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#27287 Fix line separation in concepts/architecture/nodes
  content/de/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#26192 Add content/de/docs/concepts/workloads/pods/_index.md
  content/de/docs/concepts/workloads/pods/_index.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/L

#27501 Change the backgrounds of “Case studies” logos from gray to transparent
  content/en/case-studies/adform/adform_featured_logo.svg
  content/en/case-studies/adidas/adidas-featured.svg
  content/en/case-studies/amadeus/amadeus_featured.svg
  content/en/case-studies/ancestry/ancestry_featured.svg
  content/en/case-studies/ant-financial/ant-financial_featured_logo.svg
  content/en/case-studies/appdirect/appdirect_featured_logo.svg
  content/en/case-studies/babylon/babylon_featured_logo.svg
  content/en/case-studies/blablacar/blablacar_featured.svg
  content/en/case-studies/blackrock/blackrock_featured.svg
  content/en/case-studies/booking-com/booking.com_featured_logo.svg
  content/en/case-studies/booz-allen/booz-allen-featured-logo.svg
  content/en/case-studies/bose/bose_featured_logo.svg
  content/en/case-studies/box/box_featured.svg
  content/en/case-studies/buffer/buffer_featured.svg
  content/en/case-studies/capital-one/capitalone_featured_logo.svg
  content/en/case-studies/chinaunicom/chinaunicom_featured_logo.svg
  content/en/case-studies/city-of-montreal/city-of-montreal_featured_logo.svg
  content/en/case-studies/crowdfire/crowdfire_featured_logo.svg
  content/en/case-studies/denso/denso_featured_logo.svg
  content/en/case-studies/golfnow/golfnow_featured.svg
  content/en/case-studies/haufegroup/haufegroup_featured.svg
  content/en/case-studies/huawei/huawei_featured.svg
  content/en/case-studies/ibm/ibm_featured_logo.svg
  content/en/case-studies/ing/ing_featured_logo.svg
  content/en/case-studies/naic/naic_featured_logo.svg
  content/en/case-studies/nav/nav_featured_logo.svg
  content/en/case-studies/nerdalize/nerdalize_featured_logo.svg
  content/en/case-studies/netease/netease_featured_logo.svg
  content/en/case-studies/newyorktimes/newyorktimes_featured.svg
  content/en/case-studies/nokia/nokia_featured_logo.svg
  content/en/case-studies/nordstrom/nordstrom_featured_logo.svg
  content/en/case-studies/northwestern-mutual/northwestern_featured_logo.svg
  content/en/case-studies/ocado/ocado_featured_logo.svg
  content/en/case-studies/openAI/openai_featured.svg
  content/en/case-studies/peardeck/peardeck_featured.svg
  content/en/case-studies/pingcap/pingcap_featured_logo.svg
  content/en/case-studies/pinterest/pinterest_feature.svg
  content/en/case-studies/prowise/prowise_featured_logo.svg
  content/en/case-studies/ricardo-ch/ricardo.ch_featured_logo.svg
  content/en/case-studies/slamtec/slamtec_featured_logo.svg
  content/en/case-studies/slingtv/slingtv_featured_logo.svg
  content/en/case-studies/spotify/spotify-featured.svg
  content/en/case-studies/squarespace/squarespace_featured_logo.svg
  content/en/case-studies/thredup/thredup_featured_logo.svg
  content/en/case-studies/vsco/vsco_featured_logo.svg
  content/en/case-studies/wikimedia/wikimedia_featured.svg
  content/en/case-studies/wink/wink_featured.svg
  content/en/case-studies/woorank/woorank_featured_logo.svg
  content/en/case-studies/workiva/workiva_featured_logo.svg
  content/en/case-studies/yahoo-japan/yahoojapan_featured.svg
  content/en/case-studies/ygrene/ygrene_featured_logo.svg
  content/en/case-studies/zalando/zalando_feature_logo.svg
  layouts/case-studies/list.html
  static/images/babylon_featured.svg
  static/images/babylon_featured_logo.svg
  static/images/denso_featured_logo.svg
Labels: approved, area/web-development, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#27445 Revise extending kubernetes
  content/en/docs/concepts/extend-kubernetes/_index.md
  content/en/docs/concepts/extend-kubernetes/control-plane.png
  content/en/docs/concepts/extend-kubernetes/extend-cluster.md
  content/en/docs/concepts/extend-kubernetes/extension-points.png
  content/en/docs/concepts/extend-kubernetes/flowchart.png
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#27411 #20959 Localize Images page to Italian
  content/it/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/L

#27402 [ID] Updating learning environment minikube
  content/id/docs/setup/learning-environment/_index.md
  content/id/docs/setup/learning-environment/minikube.md
  content/id/docs/tutorials/hello-minikube.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XL

#27022 [en] update some links in Kustomize Feature List
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#27417 [zh] Fix label selector in "kubectl for Docker Users"
  content/zh/docs/reference/kubectl/docker-cli-to-kubectl.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27452 Correct dockershim runtime handler support
  content/en/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/XS

#27324 2021-03-31-kube-state-metrics-goes-v-2-0.md: Add kube-state-metrics 2.0
  content/en/blog/_posts/2021-04-13-kube-state-metrics-goes-v-2-0.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M, tide/merge-method-squash

#27311 blog: Volume Health Monitoring Alpha Update
  content/en/blog/_posts/2021-04-16-volume-health-monitoring-alpha.md
Labels: approved, area/blog, cncf-cla: yes, language/en, language/id, language/ja, language/zh, lgtm, sig/docs, sig/release, size/M

#27518 Update container-runtimes.md
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, sig/node, size/XS

#27485 Remove accidentally-included API reference files
  content/en/docs/reference/kubernetes-api/common-definitions/downward-api-volume-file.md
  content/en/docs/reference/kubernetes-api/common-definitions/exec-action.md
  content/en/docs/reference/kubernetes-api/common-definitions/http-get-action.md
  content/en/docs/reference/kubernetes-api/common-definitions/json-schema-props.md
  content/en/docs/reference/kubernetes-api/common-definitions/key-to-path.md
  content/en/docs/reference/kubernetes-api/common-definitions/node-affinity.md
  content/en/docs/reference/kubernetes-api/common-definitions/pod-affinity.md
  content/en/docs/reference/kubernetes-api/common-definitions/pod-anti-affinity.md
  content/en/docs/reference/kubernetes-api/common-definitions/tcp-socket-action.md
  content/en/docs/reference/kubernetes-api/policy-resources/pod-disruption-budget-v1beta1.md
  content/en/docs/reference/kubernetes-api/service-resources/endpoint-slice-v1beta1.md
  content/en/docs/reference/kubernetes-api/workload-resources/container.md
  content/en/docs/reference/kubernetes-api/workload-resources/cron-job-v1beta1.md
  content/en/docs/reference/kubernetes-api/workload-resources/cron-job-v2alpha1.md
  content/en/docs/reference/kubernetes-api/workload-resources/ephemeral-container.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XXL

#27535 Rename ID Docs "Scheduling: concept as "Scheduling and Eviction"
  content/id/docs/concepts/architecture/controller.md
  content/id/docs/concepts/scheduling-eviction/_index.md
  content/id/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/id/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/id/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/id/docs/concepts/scheduling/_index.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/S

#27512 Update macOS installation instructions
  content/en/docs/tasks/tools/install-kubectl-macos.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M, tide/merge-method-squash

#27240 blog: local storage features go beta
  content/en/blog/_posts/2021-04-14-local-storage-features-go-beta.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L, tide/merge-method-squash

#27220 Document using generators in Deployments
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#27257 Fixing typo.
  README-de.md
Labels: approved, cncf-cla: yes, language/de, lgtm, sig/docs, size/XS

#27239 add infos about docker setups
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#27529 Update Polish localization of README.md
  README-pl.md
Labels: approved, cncf-cla: yes, language/pl, lgtm, sig/docs, size/L

#27335 add 1.21 graceful node shutdown blog post
  content/en/blog/_posts/2021-04-21-Graceful-Node-Shutdown-Beta.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M, tide/merge-method-squash

#26749 add blog post on using kubectl annotate for human service discovery
  content/en/blog/_posts/2021-02-27-annotating-k8s-for-humans.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#27207 [ko] Translate generate-ref-docs (partial)
  content/ko/docs/contribute/generate-ref-docs/_index.md
  content/ko/docs/contribute/generate-ref-docs/prerequisites-ref-docs.md
  content/ko/docs/contribute/generate-ref-docs/quickstart.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#27462 [zh]update configure-upgrade-etcd.md
  content/zh/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XL

#27523 fix feature-gates-docs err
  content/zh/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27528 [zh] Sync setup pages for container-runtimes.md
  content/zh/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#27486 [zh]Sync content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/zh/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26605 Add WebhookAdmission reference
  content/en/docs/concepts/configuration/configmap.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
  content/en/docs/reference/config-api/apiserver-webhookadmission.v1.md
  content/en/docs/tasks/debug-application-cluster/audit.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/api-machinery, sig/docs, size/M

#27200 Add multi-tenancy usage models blog post
  content/en/blog/_posts/2021-04-15-Three-Tenancy-Models-for-Kubernetes.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M, tide/merge-method-squash

#27500 Fix small errors on setup/best-practices/multiple-zones
  content/ja/docs/setup/best-practices/multiple-zones.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27566 Fix Polish translation for API server glossary definition
  content/pl/docs/reference/glossary/kube-apiserver.md
Labels: approved, cncf-cla: yes, language/pl, lgtm, sig/docs, size/XS

#27555 Update CNCF security white-paper link
  content/en/blog/_posts/2021-04-15-Three-Tenancy-Models-for-Kubernetes.md
Labels: approved, area/blog, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, sig/security, size/XS

#27559 "*-controller-manager" typo fix
  content/en/blog/_posts/2021-04-08-cronjob-reaches-ga/index.md
  content/en/examples/admin/cloud/ccm-example.yaml
  content/ja/examples/admin/cloud/ccm-example.yaml
  content/zh/examples/admin/cloud/ccm-example.yaml
Labels: approved, area/blog, cncf-cla: yes, language/en, language/ja, language/zh, lgtm, sig/docs, size/XS

#27549 Fix a typo in README-pl
  README-pl.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#27299 [zh]translation optimization
  content/zh/docs/concepts/cluster-administration/system-metrics.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27570 Update kops versioned download URLs
  content/en/docs/setup/production-environment/tools/kops.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27567 [zh] translate task/Install and Set Up kubectl on Windows
  content/zh/docs/tasks/tools/install-kubectl-windows.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27601 Fixing small typo
  content/en/docs/concepts/workloads/pods/disruptions.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#27169 Blog: Introducing Indexed Jobs
  content/en/blog/_posts/2021-04-19-introducing-indexed-jobs.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/apps, sig/docs, size/M

#27393 Omit “Edit this page” links for generated content
  layouts/partials/page-meta-links.html
Labels: approved, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/M

#27599 Fix the typo of `-f` argument in scripts/linkchecker.py
  scripts/linkchecker.py
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#26791 Update documentation for AWS ELB
  content/en/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/S

#27553 [ko] Update outdated files in dev-1.21-ko.1 (p3)
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/reference/scheduling/config.md
  content/ko/docs/reference/scheduling/policies.md
  content/ko/docs/reference/setup-tools/kubeadm/_index.md
  content/ko/docs/setup/best-practices/cluster-large.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/ko/docs/setup/production-environment/tools/kubeadm/self-hosting.md
  content/ko/docs/setup/production-environment/tools/kubespray.md
  content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#27159 Create blog article “Defining Network Policy Conformance for Container Network Interface (CNI) providers”
  content/en/blog/_posts/2021-04-20-Defining-NetworkPolicy-Conformance-For-CNIs.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L, tide/merge-method-squash

#27604 [es] Fix typo on page configmap.md
  content/es/docs/concepts/configuration/configmap.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS

#27610 [zh]update setup/_index.md
  content/zh/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#27616 [id] Update CronJob example yaml apiversion: batch/v1beta1 --> batch/v1
  content/id/examples/application/job/cronjob.yaml
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#27359 metrics stability to GA blog post
  content/en/blog/_posts/2021-04-23-metrics-stability-ga/2021-04-23-metrics-stability-hits-ga.md
  content/en/blog/_posts/2021-04-23-metrics-stability-ga/lifecycle-metric.png
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, sig/release, size/M, tide/merge-method-squash

#27577 Fix errors #27565, #27569
  content/en/blog/_posts/2019-12-09-kubernetes-1.17-release-announcement.md
  content/en/blog/_posts/2020-09-03-warnings/index.md
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/en/docs/concepts/workloads/controllers/replicaset.md
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/labels-annotations-taints.md
  static/_redirects
Labels: approved, area/blog, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/M

#27619 container-runtimes: fix 404 link to cgroup driver migration guide
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#27551 add Antrea as network policy provider
  content/en/docs/tasks/administer-cluster/declare-network-policy.md
  content/en/docs/tasks/administer-cluster/network-policy-provider/antrea-network-policy.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#27502 Add k8s-ruby/k8s-ruby as a community-maintained client libraries
  content/en/docs/reference/using-api/client-libraries.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27473 Update broken links to Ansible in kubespray.md
  content/en/docs/setup/production-environment/tools/kubespray.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#27464 Regenerate reference for kube-proxy configuration
  content/en/docs/reference/config-api/kube-proxy-config.v1alpha1.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/M

#27436 Document Pod name label for StatefulSet
  content/en/docs/reference/labels-annotations-taints.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/apps, sig/docs, size/S

#27617 Update node-resource-managers.md
  content/en/docs/concepts/policy/node-resource-managers.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#27520 [ko] Translate tasks/access-application-cluster/list-all-running-container
  content/ko/docs/tasks/access-application-cluster/list-all-running-container-images.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#27467 Remove out of date PSGallery kubectl install instructions
  content/en/docs/tasks/tools/install-kubectl-windows.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/cli, sig/docs, sig/windows, size/S

#27035 Remove content/ja/docs/concepts/cluster-administration/cloud-providers.md
  content/ja/docs/concepts/cluster-administration/cloud-providers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#27065 Translate docs/tasks/configmap-secret/managing-secret-using-config-file/ into Japanese
  content/ja/docs/tasks/configmap-secret/managing-secret-using-config-file.md
  content/ja/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#27107 [ja] Add setHostnameAsFQDN field to dns-pod-service.md
  content/ja/docs/concepts/services-networking/dns-pod-service.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#27158 Update ja/docs/concepts/containers/_index.md
  content/ja/docs/concepts/containers/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27046 [ja] Fix: content/ja/docs/concepts/workloads/controllers/replicaset.md Issue #26899
  content/ja/docs/concepts/workloads/controllers/replicaset.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27052 [ja] Update docs/concepts/workloads/controllers/daemonset.md to follow v1.19 of the original text
  content/ja/docs/concepts/workloads/controllers/daemonset.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27228 Fix typo in Japanese doc
  content/ja/docs/reference/access-authn-authz/rbac.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27384 Translate tutorials/clusters/apparmor into Japanese
  content/ja/docs/tutorials/clusters/_index.md
  content/ja/docs/tutorials/clusters/apparmor.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#27165 Update ja/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/ja/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#27176 ja: Make docs/concepts/extend-kubernetes/_index.md follow v1.19 of the original text
  content/ja/docs/concepts/extend-kubernetes/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27210 Update: ja/docs/concepts/architecture/cloud-controller.md
  content/ja/docs/concepts/architecture/cloud-controller.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27499 Translate contribute/new-content/overview into Japanese
  content/ja/docs/contribute/new-content/_index.md
  content/ja/docs/contribute/new-content/overview.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M
