Repository kubernetes/website, pull requests merged in 2021-03, with the labels that each got.

#26775 [zh] fix landscape URLs
  content/zh/blog/_posts/2020-12-02-dockershim-faq.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26767 fix some format errors
  content/zh/docs/concepts/cluster-administration/networking.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#26769 Update zh translation in logging.md
  content/zh/docs/concepts/cluster-administration/logging.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26726 [zh] Remove Master/Slave terminology from stateless application tutor…
  content/zh/docs/tutorials/_index.md
  content/zh/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md
  content/zh/docs/tutorials/stateless-application/guestbook.md
  content/zh/examples/application/guestbook/frontend-deployment.yaml
  content/zh/examples/application/guestbook/frontend-service.yaml
  content/zh/examples/application/guestbook/mongo-deployment.yaml
  content/zh/examples/application/guestbook/mongo-service.yaml
  content/zh/examples/application/guestbook/redis-master-deployment.yaml
  content/zh/examples/application/guestbook/redis-master-service.yaml
  content/zh/examples/application/guestbook/redis-slave-deployment.yaml
  content/zh/examples/application/guestbook/redis-slave-service.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#26777 Update zh translation in pod-security-policy.md
  content/zh/docs/concepts/policy/pod-security-policy.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26728 Fix links in tutorials section
  content/zh/docs/tutorials/clusters/seccomp.md
  content/zh/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26744 Update some translation in scheduling config page
  content/zh/docs/reference/scheduling/config.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26746 Update Chinese translation for page scheduling eviction
  content/zh/docs/concepts/scheduling-eviction/taint-and-toleration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26433 [ko] fix an invalid url
  content/ko/docs/concepts/workloads/pods/ephemeral-containers.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS, tide/merge-method-squash

#26680 Corrected Docker(shim) UNIX domain socket file
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#26692 Sync with English version and Update Deprecated URL
  content/zh/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M, tide/merge-method-squash

#26727 docs: Update the name of the secret in the output
  content/en/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26715 install-kubeadm.md: generalize the list of distributions and install options
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/S

#26740 Translated in italian the "Container Lifecycle Hook" chapter
  content/it/docs/concepts/containers/container-lifecycle-hooks.md
Labels: approved, cncf-cla: yes, language/it, lgtm, sig/docs, size/L

#26783 chore: fix invalid location.hash
  content/en/docs/concepts/workloads/pods/disruptions.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#26770 Replace network solution with network add-on
  content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/S

#26781 Fix typo
  content/en/docs/tasks/debug-application-cluster/debug-running-pod.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS, tide/merge-method-squash

#26558 Update docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md to follow v1.18 of the original text
  content/ja/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#26652 Update container-environment.md with fix about service environment variables not being cluster-wide
  content/en/docs/concepts/containers/container-environment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26794 remove the duplicated alias in zh version
  content/zh/blog/_posts/2020-12-02-dockershim-faq.md
  content/zh/docs/reference/issues-security/issues.md
  content/zh/docs/reference/issues-security/security.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26792 change callout from warning to caution
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#26743 doc: remove zero-width space character
  content/zh/docs/contribute/style/hugo-shortcodes/index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26804 modify ttl-after-finish link
  content/id/docs/concepts/workloads/controllers/ttlafterfinished.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#26601 Move accessing API from within pod to tasks
  content/en/docs/tasks/administer-cluster/access-cluster-api.md
  content/en/docs/tasks/run-application/access-api-from-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L, tide/merge-method-squash

#26405 update guidance on DNS resolution for services
  content/en/docs/concepts/services-networking/dns-pod-service.md
  content/en/docs/tasks/administer-cluster/dns-debugging-resolution.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/M

#26697 Update client-libraries.md
  content/en/docs/reference/using-api/client-libraries.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26763 ja: Make docs/setup/production-environment/tools/kubeadm/self-hosting.md follow v1.18 of the original text #26513
  content/ja/docs/setup/production-environment/tools/kubeadm/self-hosting.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#26824 [zh] update client-libraries.md
  content/zh/docs/reference/using-api/client-libraries.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26667 Translate setup/production-environment/tools/kubeadm/install-kubeadm.…
  content/ko/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#26468 fix cronjob code for examples
  content/en/examples/application/job/cronjob.yaml
  content/id/examples/application/job/cronjob.yaml
  content/ja/examples/application/job/cronjob.yaml
  content/ko/examples/application/job/cronjob.yaml
  content/zh/examples/application/job/cronjob.yaml
Labels: approved, cncf-cla: yes, language/en, language/id, language/ja, language/ko, language/zh, lgtm, sig/apps, sig/docs, size/S

#26670 fix typo
  content/ko/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, size/XS

#26691 ko: update outdated files in dev-1.20-ko.5 (1)
  content/ko/community/_index.html
  content/ko/docs/concepts/architecture/controller.md
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/cluster-administration/_index.md
  content/ko/docs/concepts/cluster-administration/logging.md
  content/ko/docs/concepts/cluster-administration/manage-deployment.md
  content/ko/docs/concepts/configuration/overview.md
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/concepts/containers/container-lifecycle-hooks.md
  content/ko/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
  content/ko/docs/concepts/extend-kubernetes/service-catalog.md
  content/ko/docs/concepts/overview/what-is-kubernetes.md
  content/ko/docs/concepts/overview/working-with-objects/labels.md
  content/ko/docs/concepts/overview/working-with-objects/object-management.md
  content/ko/docs/concepts/policy/resource-quotas.md
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ko/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/ko/examples/policy/priority-class-resourcequota.yaml
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#26773 Update zh translation in service-catalog.md
  content/zh/docs/concepts/extend-kubernetes/service-catalog.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26714 Add netpol endport documentation
  content/en/docs/concepts/services-networking/network-policies.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/M

#26847 Minor fixups for docs on endPort field in NetworkPolicy
  content/en/docs/concepts/services-networking/network-policies.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, priority/backlog, sig/docs, size/XS

#26835 chore: fix an invalid location.hash
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#26162 add some necessary description after running command 'minikube dashboard'
  content/en/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#26050 address typos docker-cli-kubectl
  content/en/docs/reference/kubectl/docker-cli-to-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS, tide/merge-method-squash

#26062 Update cheatsheet: add interacting with Deployments and Services
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#26719 Add content/pt/docs/concepts/security/overview.md in pt language
  content/pt/docs/concepts/security/_index.md
  content/pt/docs/concepts/security/overview.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L

#25621 Disabling `enable-cadvisor-json-endpoints` does not disable stats summary endpoint
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#25460 Remove legacy feature gate EnableAggregatedDiscoveryTimeout for Aggregation layer
  content/en/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26682 Update install-kubectl.md to use tabs for the different Operating Systems
  content/en/docs/tasks/tools/_index.md
  content/en/docs/tasks/tools/included/_index.md
  content/en/docs/tasks/tools/included/install-kubectl-gcloud.md
  content/en/docs/tasks/tools/included/kubectl-whats-next.md
  content/en/docs/tasks/tools/included/optional-kubectl-configs-bash-linux.md
  content/en/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
  content/en/docs/tasks/tools/included/optional-kubectl-configs-zsh.md
  content/en/docs/tasks/tools/included/verify-kubectl.md
  content/en/docs/tasks/tools/install-kubectl-linux.md
  content/en/docs/tasks/tools/install-kubectl-macos.md
  content/en/docs/tasks/tools/install-kubectl-windows.md
  content/en/docs/tasks/tools/install-kubectl.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XXL, tide/merge-method-squash

#26408 [zh]fix the link addresses
  content/zh/docs/concepts/services-networking/connect-applications-service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26833 Update flow-control.md
  content/zh/docs/concepts/cluster-administration/flow-control.md
Labels: approved, cncf-cla: yes, kind/bug, language/en, language/zh, lgtm, sig/docs, size/XS

#24727 Clean up reference section
  content/en/docs/reference/_index.md
  content/en/docs/reference/access-authn-authz/_index.md
  content/en/docs/reference/command-line-tools-reference/_index.md
  content/en/docs/reference/glossary/index.md
  content/en/docs/reference/issues-security/_index.md
  content/en/docs/reference/kubectl/_index.md
  content/en/docs/reference/setup-tools/_index.md
  content/en/docs/reference/tools/_index.md
  content/en/docs/reference/using-api/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#26850 Fix GitHub capitalization
  content/en/docs/concepts/cluster-administration/manage-deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26849 Add a missing feature gate entry
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26912 modify the error chinese word
  content/zh/docs/concepts/workloads/controllers/job.md
Labels: approved, cncf-cla: yes, kind/bug, language/zh, lgtm, sig/docs, size/XS

#26758 Add Dont Panic blog post in pt language
  content/pt/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md
Labels: approved, area/blog, cncf-cla: yes, language/pt, lgtm, sig/docs, size/M, tide/merge-method-squash

#26813 [zh] translate task certificates
  content/zh/docs/tasks/administer-cluster/certificates.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26789 Add concepts/containers/images.md in pt language
  content/pt/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L

#26941 Fix typo (form -> from)
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26432 [ja] fix an invalid url
  content/ja/docs/concepts/workloads/pods/ephemeral-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#26582 Fix the translation about Source IP for Services with Type=LoadBalancer
  content/ja/docs/tutorials/services/source-ip.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#26661 Better document default imagePullPolicy behaviour
  content/en/docs/concepts/configuration/overview.md
  content/en/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#26931 Fix CSI spec URL
  content/zh/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26938 [zh] fix using-api/_index.md
  content/zh/docs/reference/using-api/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#26820 Document Pod affinity namespaceSelector
  content/en/docs/concepts/policy/resource-quotas.md
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/auth, sig/docs, sig/scheduling, size/M

#26826 Promote IPv4/IPv6 dual-stack support to Beta
  content/en/docs/concepts/services-networking/dual-stack.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/M

#26932 Remove feature-state tag for categories for CRDs
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26842 Remove mentions of kube-dns in kubeadm docs
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-config.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-upgrade.md
  content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
  content/en/docs/tasks/administer-cluster/coredns.md
  content/en/docs/tasks/administer-cluster/dns-custom-nameservers.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/M

#26959 [zh] remove feature-state tag for categories for CRDs
  content/zh/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26927 fix Chinese translation about reserved-cpus
  content/zh/docs/tasks/administer-cluster/reserve-compute-resources.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS, tide/merge-method-squash

#26942 Fix broken anchor
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26961 Fix section order under scheduling-eviction
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/en/docs/concepts/scheduling-eviction/resource-bin-packing.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26930 [zh] Sync setup pages for manage-kubernetes-objects\kustomization.md
  content/zh/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26668 The Kubernetes Dashboard Evolution blog post
  content/en/blog/_posts/2021-03-09-The-Evolution-of-Kubernetes-Dashboard/along-the-way-ui.png
  content/en/blog/_posts/2021-03-09-The-Evolution-of-Kubernetes-Dashboard/current-ui.png
  content/en/blog/_posts/2021-03-09-The-Evolution-of-Kubernetes-Dashboard/first-ui.png
  content/en/blog/_posts/2021-03-09-The-Evolution-of-Kubernetes-Dashboard/index.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#26710 Add Concepts/Overview K8s and Components and some glossary itens in pt language
  content/pt/docs/concepts/overview/_index.md
  content/pt/docs/concepts/overview/components.md
  content/pt/docs/concepts/overview/what-is-kubernetes.md
  content/pt/docs/reference/glossary/cloud-controller-manager.md
  content/pt/docs/reference/glossary/cncf.md
  content/pt/docs/reference/glossary/container-runtime.md
  content/pt/docs/reference/glossary/control-plane.md
  content/pt/docs/reference/glossary/etcd.md
  content/pt/docs/reference/glossary/kube-apiserver.md
  content/pt/docs/reference/glossary/kube-controller-manager.md
  content/pt/docs/reference/glossary/kube-proxy.md
  content/pt/docs/reference/glossary/kube-scheduler.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L, tide/merge-method-squash

#26965 delete some dirty code from several files in ja
  content/ja/docs/concepts/cluster-administration/manage-deployment.md
  content/ja/docs/concepts/overview/what-is-kubernetes.md
  content/ja/docs/concepts/policy/resource-quotas.md
  content/ja/docs/concepts/security/overview.md
  content/ja/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#26975 remove images from dashboard blog page
  content/en/blog/_posts/2021-03-09-The-Evolution-of-Kubernetes-Dashboard/index.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#26919 Replace redirect links of kubeadm
  content/en/blog/_posts/2018-08-03-make-kubernetes-production-grade-anywhere.md
  content/en/blog/_posts/2018-12-03-kubernetes-1-13-release-announcement.md
  content/en/docs/setup/best-practices/certificates.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubespray.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/S

#26676 Update operator page to list tools in alphabetical order
  content/en/docs/concepts/extend-kubernetes/operator.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#26926 feat: add print directive allows print sections.
  config.toml
Labels: approved, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/XS

#26952 Update Ubuntu/Debian installation instructions to use Signed-By option
  content/en/docs/setup/production-environment/container-runtimes.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/tasks/tools/install-kubectl-linux.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/L

#26985 Fix-hyperlink in feature gate list
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26982 Replace redirect links of labels-annotations-taints
  content/en/docs/setup/best-practices/multiple-zones.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26999 [zh] fixed name spelling mistake
  content/zh/examples/access/certificate-signing-request/clusterrole-sign.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26757 Add content/pt/docs/concepts/containers/_index.md
  content/pt/docs/concepts/containers/_index.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/M

#26816 [es] Add content/es/docs/concepts/policy/limit-range.md
  content/es/docs/concepts/policy/_index.md
  content/es/docs/concepts/policy/limit-range.md
  content/es/docs/reference/glossary/limitrange.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/M, tide/merge-method-squash

#26800 storage capacity: beta
  content/en/docs/concepts/storage/storage-capacity.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/M

#27006 Restore images in Kubernetes Dashboard blog post
  content/en/blog/_posts/2021-03-09-The-Evolution-of-Kubernetes-Dashboard/along-the-way-ui.png
  content/en/blog/_posts/2021-03-09-The-Evolution-of-Kubernetes-Dashboard/current-ui.png
  content/en/blog/_posts/2021-03-09-The-Evolution-of-Kubernetes-Dashboard/first-ui.png
  content/en/blog/_posts/2021-03-09-The-Evolution-of-Kubernetes-Dashboard/index.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26939 [zh] update access-cluster-api.md
  content/zh/docs/tasks/administer-cluster/access-cluster-api.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#26623 Propose Jailton, Yago and Ricardo as pt approvers
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#26960 Add content/pt/docs/concepts/containers/container-environment.md
  content/pt/docs/concepts/containers/container-environment.md
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/M

#26945 Fix typo (Linux -> macOS)
  content/en/docs/tasks/tools/install-kubectl-macos.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27030 [zh] update link to Cinder CSI driver documentation
  content/zh/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27029 zh: Replace redirect links of kubeadm
  content/zh/docs/setup/best-practices/certificates.md
  content/zh/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubespray.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#26986 Disable CAdvisor Json Metrics completed
  content/en/docs/reference/command-line-tools-reference/kubelet.md
  content/zh/docs/reference/command-line-tools-reference/kubelet.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/S

#27019 [zh] fix spelling mistake in ./content/zh/docs/concepts/service-networking/connect-applications-service.md
  content/zh/docs/concepts/services-networking/connect-applications-service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27033 Update the outdated file ja/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ja/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: approved, cncf-cla: yes, kind/documentation, language/ja, lgtm, sig/docs, size/S

#27023 [zh] fix format mistake
  content/zh/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26782 Translate tasks/run-application/horizontal-pod-autoscale-walkthrough/ into Japanese
  content/ja/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ja/examples/application/php-apache.yaml
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#26674 Translate contribute/review/reviewing-prs into Japanese
  content/ja/docs/contribute/review/reviewing-prs.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#26922 Translate docs/tasks/configmap-secret/managing-secret-using-kubectl/ into Japanese
  content/ja/docs/tasks/configmap-secret/_index.md
  content/ja/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/L

#27000 ja:Make docs/concepts/architecture/nodes.md follow v1.19 of the original text
  content/ja/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27005 make docs/home/_index.md follow v1.19 of the original text
  content/ja/docs/home/_index.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27020 [ja] fix spelling mistake
  content/ja/docs/setup/production-environment/windows/user-guide-windows-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27043 [es] Fix/Update content/es/docs/concepts/policy/_index.md
  content/es/docs/concepts/policy/_index.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS, tide/merge-method-squash

#26646 Fix content/en/docs/concepts/storage/volumes.md
  content/en/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, sig/storage, size/XS

#26951 Reflect some changes to dev-1.20-ko.6
  content/ko/docs/concepts/architecture/controller.md
  content/ko/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#27041 [es] Update content/es/docs/reference/glossary/limitrange.md
  content/es/docs/reference/glossary/limitrange.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS, tide/merge-method-squash

#27061 correct the version of beta annotation for storage
  content/en/docs/concepts/storage/dynamic-provisioning.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27066 clarify: add that binaryData is base64-encoded
  content/en/docs/concepts/configuration/configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27058 Fix broken link
  content/en/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27027 Linking a page
  content/en/docs/tasks/extend-kubernetes/configure-multiple-schedulers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27009 Corrected port designation in get service output
  content/en/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26991 Update the note ragarding matchLabels vs matchExpressions in the Deployment document
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27016 Fix Transferring Ownership link on kubernetes.io/docs/setup/release/notes/
  content/en/docs/setup/release/notes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26954 Update broken link in access-cluster-api.md
  content/en/docs/tasks/administer-cluster/access-cluster-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27055 Replace redirect links of install kubectl
  content/en/docs/reference/kubectl/overview.md
  content/en/docs/setup/production-environment/tools/kops.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/tasks/administer-cluster/cluster-upgrade.md
  content/en/docs/tasks/manage-kubernetes-objects/declarative-config.md
  content/en/docs/tasks/manage-kubernetes-objects/imperative-command.md
  content/en/docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/en/docs/tasks/service-catalog/install-service-catalog-using-helm.md
  content/en/docs/tasks/service-catalog/install-service-catalog-using-sc.md
  content/en/docs/tutorials/clusters/seccomp.md
  content/en/docs/tutorials/stateless-application/expose-external-ip-address.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#26976 Update data type presentation in component reference
  content/en/docs/reference/command-line-tools-reference/kube-apiserver.md
  content/en/docs/reference/command-line-tools-reference/kube-controller-manager.md
  content/en/docs/reference/command-line-tools-reference/kube-proxy.md
  content/en/docs/reference/command-line-tools-reference/kube-scheduler.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XXL

#26756 Update content/pt/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/pt/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
Labels: approved, cncf-cla: yes, kind/cleanup, language/pt, lgtm, sig/docs, size/S, wg/naming

#27074 Replace with relative path for feature gate link
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27040 Remove deprecated scheduling plugin NodeResourceLimits from config.md
  content/en/docs/reference/scheduling/config.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27080 Fixed markdown links in french translation
  content/fr/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/S

#26805 Mark scheduler pod resource metrics as beta
  content/en/docs/concepts/cluster-administration/system-metrics.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, sig/instrumentation, size/XS

#26827 Translate reference/glossary/persistent-volumn-claim.md in Korean
  content/ko/docs/reference/glossary/persistent-volume-claim.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/S

#26964 [ko] Update outdated files in dev-1.20-ko.6 (p1)
  content/ko/docs/concepts/cluster-administration/_index.md
  content/ko/docs/concepts/cluster-administration/certificates.md
  content/ko/docs/concepts/containers/container-environment.md
  content/ko/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/ko/docs/concepts/extend-kubernetes/operator.md
  content/ko/docs/concepts/overview/working-with-objects/labels.md
  content/ko/docs/concepts/policy/resource-quotas.md
  content/ko/docs/concepts/services-networking/dns-pod-service.md
  content/ko/docs/tasks/administer-cluster/certificates.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XL

#27073 container-runtimes: add note about restarting containerd
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, sig/node, size/XS

#26948 ja: Make docs/concepts/architecture/controller.md follow v1.19 of the original text
  content/ja/docs/concepts/architecture/controller.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27001 ja: Make docs/concepts/cluster-administration/ follow v1.19 of the original text
  content/ja/docs/concepts/cluster-administration/cluster-administration-overview.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#26958 Documentation for Indexed completion mode
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/job/coarse-parallel-processing-work-queue.md
  content/en/docs/tasks/job/fine-parallel-processing-work-queue.md
  content/en/docs/tasks/job/indexed-parallel-processing-static.md
  content/en/docs/tasks/job/parallel-processing-expansion.md
  content/en/examples/application/job/indexed-job-vol.yaml
  content/en/examples/application/job/indexed-job.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/apps, sig/docs, size/L

#27076 [pt] Add Expose Your App Publicly in Portuguese
  content/pt/docs/tutorials/kubernetes-basics/_index.html
  content/pt/docs/tutorials/kubernetes-basics/expose/_index.md
  content/pt/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/pt/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/L

#27050 [ja] Update: ja/docs/concepts/workloads/pods/init-containers.md
  content/ja/docs/concepts/workloads/pods/init-containers.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#26977 Delete some dirty code from several files in ja
  content/ja/docs/concepts/cluster-administration/manage-deployment.md
  content/ja/docs/concepts/overview/what-is-kubernetes.md
  content/ja/docs/concepts/policy/resource-quotas.md
  content/ja/docs/concepts/security/overview.md
  content/ja/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#26978 ja: Backport node assign
  content/ja/docs/concepts/configuration/assign-pod-node.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#26990 [ja] Update docs/concepts/workloads/pods/pod-lifecycle.md 1.18 to 1.19
  content/ja/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#27063 Update the link
  content/ja/docs/tasks/run-application/force-delete-stateful-set-pod.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#24224 [ja] Use apiversion networking.k8s.io/v1 for ingress
  content/ja/docs/tasks/access-application-cluster/ingress-minikube.md
  content/ja/examples/service/networking/example-ingress.yaml
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#23492 Update _index.html
  content/pt/_index.html
Labels: approved, cncf-cla: yes, language/pt, lgtm, sig/docs, size/XS

#26966 container-runtimes: include note about latest validated docker
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#25712 docs(configure-redis-using-configmap): update for clarity
  content/en/docs/tutorials/configuration/configure-redis-using-configmap.md
  content/en/examples/pods/config/example-redis-config.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L, tide/merge-method-squash

#26484 Update nodes.md
  content/en/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/M

#26841 remove usage of the "certificates" API for cert renewal
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/M, tide/merge-method-squash

#25488 Update expose service intro
  content/en/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/network, size/XS

#27044 [zh] update invalid web page link for api group
  content/zh/docs/reference/glossary/api-group.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#26799 Update docs for CRIContainerLogRotation
  content/en/docs/concepts/cluster-administration/logging.md
  content/en/docs/concepts/policy/resource-quotas.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, size/S

#26818 Update Azure file feature gates for 1.21 beta
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#27102 [zh] Sync content/en/docs/concepts/storage/volumes.md
  content/zh/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#27113 [zh] sync content/en/docs/concepts/storage/dynamic-provisioning.md
  content/zh/docs/concepts/storage/dynamic-provisioning.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27112 [ko] update volume rdb `Rados Block Device` link
  content/ko/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#27115 Merge master into dev 1.21 - 3/17/21
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/configuration/configmap.md
  content/en/docs/concepts/storage/dynamic-provisioning.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/reference/command-line-tools-reference/kube-apiserver.md
  content/en/docs/reference/command-line-tools-reference/kube-controller-manager.md
  content/en/docs/reference/command-line-tools-reference/kube-proxy.md
  content/en/docs/reference/command-line-tools-reference/kube-scheduler.md
  content/en/docs/reference/kubectl/overview.md
  content/en/docs/reference/scheduling/config.md
  content/en/docs/setup/production-environment/container-runtimes.md
  content/en/docs/setup/production-environment/tools/kops.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/en/docs/setup/release/notes.md
  content/en/docs/tasks/administer-cluster/access-cluster-api.md
  content/en/docs/tasks/administer-cluster/cluster-upgrade.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/en/docs/tasks/extend-kubernetes/configure-multiple-schedulers.md
  content/en/docs/tasks/manage-kubernetes-objects/declarative-config.md
  content/en/docs/tasks/manage-kubernetes-objects/imperative-command.md
  content/en/docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/en/docs/tasks/service-catalog/install-service-catalog-using-helm.md
  content/en/docs/tasks/service-catalog/install-service-catalog-using-sc.md
  content/en/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
  content/en/docs/tasks/tools/install-kubectl-macos.md
  content/en/docs/tutorials/clusters/seccomp.md
  content/en/docs/tutorials/configuration/configure-redis-using-configmap.md
  content/en/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/en/docs/tutorials/stateless-application/expose-external-ip-address.md
  content/en/docs/tutorials/stateless-application/guestbook.md
  content/en/examples/pods/config/example-redis-config.yaml
  content/es/docs/concepts/policy/_index.md
  content/es/docs/reference/glossary/limitrange.md
  content/fr/docs/setup/_index.md
  content/ja/docs/contribute/review/reviewing-prs.md
  content/ja/docs/setup/production-environment/windows/user-guide-windows-containers.md
  content/ja/docs/tasks/access-application-cluster/ingress-minikube.md
  content/ja/docs/tasks/configmap-secret/_index.md
  content/ja/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
  content/ja/docs/tasks/run-application/force-delete-stateful-set-pod.md
  content/ja/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ja/examples/application/php-apache.yaml
  content/ja/examples/service/networking/example-ingress.yaml
  content/pt/_index.html
  content/pt/docs/tutorials/kubernetes-basics/_index.html
  content/pt/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/pt/docs/tutorials/kubernetes-basics/expose/_index.md
  content/pt/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/pt/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/zh/docs/concepts/services-networking/connect-applications-service.md
  content/zh/docs/concepts/storage/dynamic-provisioning.md
  content/zh/docs/concepts/storage/volumes.md
  content/zh/docs/reference/glossary/api-group.md
  content/zh/docs/setup/best-practices/certificates.md
  content/zh/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
  content/zh/docs/setup/production-environment/tools/kubespray.md
Labels: approved, cncf-cla: yes, language/en, language/es, language/fr, language/ja, language/pt, language/zh, lgtm, sig/docs, size/XXL

#27079 update ja/docs/concepts/overview/what-is-kubernetes.md
  content/ja/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/S

#26949 [ko] Update outdated files in dev-1.20-ko.6 (p2)
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/overview/what-is-kubernetes.md
  content/ko/docs/concepts/services-networking/ingress-controllers.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/storage/volume-snapshot-classes.md
  content/ko/docs/concepts/storage/volumes.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/concepts/workloads/controllers/replicationcontroller.md
  content/ko/docs/concepts/workloads/controllers/statefulset.md
  content/ko/docs/concepts/workloads/pods/disruptions.md
  content/ko/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/reference/kubectl/docker-cli-to-kubectl.md
  content/ko/docs/reference/using-api/client-libraries.md
  content/ko/docs/setup/best-practices/certificates.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/tools/kops.md
  content/ko/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/ko/docs/tasks/administer-cluster/access-cluster-api.md
  content/ko/docs/tasks/administer-cluster/change-default-storage-class.md
  content/ko/docs/tasks/inject-data-application/define-environment-variable-container.md
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/ko/docs/tasks/run-application/access-api-from-pod.md
  content/ko/docs/tasks/tls/certificate-rotation.md
  content/ko/docs/tasks/tools/_index.md
  content/ko/docs/tasks/tools/included/_index.md
  content/ko/docs/tasks/tools/included/install-kubectl-gcloud.md
  content/ko/docs/tasks/tools/included/kubectl-whats-next.md
  content/ko/docs/tasks/tools/included/optional-kubectl-configs-bash-linux.md
  content/ko/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
  content/ko/docs/tasks/tools/included/optional-kubectl-configs-zsh.md
  content/ko/docs/tasks/tools/included/verify-kubectl.md
  content/ko/docs/tasks/tools/install-kubectl-linux.md
  content/ko/docs/tasks/tools/install-kubectl-macos.md
  content/ko/docs/tasks/tools/install-kubectl-windows.md
  content/ko/docs/tasks/tools/install-kubectl.md
  content/ko/docs/tutorials/hello-minikube.md
  content/ko/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/ko/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/ko/docs/tutorials/services/source-ip.md
  content/ko/docs/tutorials/stateful-application/cassandra.md
  content/ko/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#27106 Add well-known annotation for job-completion-index
  content/en/docs/reference/labels-annotations-taints.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/apps, sig/docs, size/XS

#25804 Update change-default-storage-class.md
  content/en/docs/tasks/administer-cluster/change-default-storage-class.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27123 Update control-plane-node-communication.md
  content/en/docs/concepts/architecture/control-plane-node-communication.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26983 create a secret failed
  content/zh/docs/concepts/services-networking/connect-applications-service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27012 id: Replace redirect links of kubeadm
  content/id/docs/concepts/cluster-administration/cloud-providers.md
  content/id/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS
