Repository kubernetes/website, pull requests merged in 2021-05, with the labels that each got.

#27850 Update managing-tls-in-a-cluster.md
  content/ko/docs/tasks/tls/managing-tls-in-a-cluster.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#27855 Fix spelling mistake of the word 'kubernetes' in line 390
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#27820 docs(admission-controllers): update release status of TaintNodesByCon…
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27466 Adding new Production Environment section
  content/en/docs/setup/production-environment/_index.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#27836 OWNERS_ALIASES: add pi-victor as part of sig-docs-en-owners.
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#27800 [zh] translate concepts/Topology Aware Hints
  content/zh/docs/concepts/services-networking/topology-aware-hints.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27794 [zh] Resync concepts section (12)
  content/zh/docs/concepts/containers/container-environment.md
  content/zh/docs/concepts/containers/container-lifecycle-hooks.md
  content/zh/docs/concepts/containers/images.md
  content/zh/docs/concepts/containers/runtime-class.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27746 [zh] Resync concepts section (3)
  content/zh/docs/concepts/storage/ephemeral-volumes.md
  content/zh/docs/concepts/storage/storage-capacity.md
  content/zh/docs/concepts/storage/storage-classes.md
  content/zh/docs/concepts/storage/volume-pvc-datasource.md
  content/zh/docs/concepts/storage/volumes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27749 [zh] Resync concepts section (4)
  content/zh/docs/concepts/services-networking/dual-stack.md
  content/zh/docs/concepts/services-networking/endpoint-slices.md
  content/zh/docs/concepts/services-networking/network-policies.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27752 [zh] Resync concepts section (5)
  content/zh/docs/concepts/services-networking/service-topology.md
  content/zh/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27863 [ko] Update outdated files in dev-1.21-ko.2 (p2)
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/reference/command-line-tools-reference/kube-proxy.md
  content/ko/docs/reference/using-api/client-libraries.md
  content/ko/docs/setup/production-environment/tools/kops.md
  content/ko/docs/setup/production-environment/tools/kubespray.md
  content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/ko/docs/setup/release/notes.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#27728 [ko] Update outdated files in dev-1.20-ko.8 (p1)
  content/ko/docs/concepts/workloads/controllers/replicaset.md
  content/ko/docs/concepts/workloads/controllers/replicationcontroller.md
  content/ko/docs/concepts/workloads/pods/init-containers.md
  content/ko/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ko/docs/reference/_index.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/reference/glossary/cloud-controller-manager.md
  content/ko/docs/reference/kubectl/cheatsheet.md
  content/ko/docs/reference/scheduling/config.md
  content/ko/docs/reference/scheduling/policies.md
  content/ko/docs/setup/best-practices/cluster-large.md
  content/ko/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/ko/docs/setup/production-environment/tools/kubespray.md
  content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/ko/docs/tasks/manage-daemon/update-daemon-set.md
  content/ko/docs/tasks/manage-gpus/scheduling-gpus.md
  content/ko/docs/tasks/run-application/delete-stateful-set.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/ko/docs/tasks/tools/_index.md
  content/ko/docs/tutorials/_index.md
  content/ko/docs/tutorials/clusters/apparmor.md
  content/ko/docs/tutorials/hello-minikube.md
  content/ko/docs/tutorials/stateful-application/basic-stateful-set.md
  content/ko/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#27760 [ko] Update outdated files in dev-1.20-ko.8 (p2)
  content/ko/docs/tasks/access-application-cluster/access-cluster.md
  content/ko/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
  content/ko/docs/tasks/administer-cluster/access-cluster-services.md
  content/ko/docs/tasks/administer-cluster/coredns.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/ko/docs/tasks/administer-cluster/network-policy-provider/calico-network-policy.md
  content/ko/docs/tasks/configure-pod-container/static-pod.md
  content/ko/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
  content/ko/docs/tasks/job/coarse-parallel-processing-work-queue.md
  content/ko/docs/tasks/job/fine-parallel-processing-work-queue.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#27612 Add created by label
  content/en/docs/concepts/overview/working-with-objects/common-labels.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS, tide/merge-method-squash

#27871 [es] Fix concepts/_index.md
  content/es/docs/concepts/_index.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/S

#27890 Update multiple-zones.md
  content/zh/docs/setup/best-practices/multiple-zones.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27737 Correct formatting and style
  content/en/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/M

#26486 Remove unsupported Windows OS versions
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, sig/windows, size/S

#27895 Update overview.md
  content/zh/docs/concepts/security/overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27578 [zh] Sync docs/reference/access-authn-authz/admission-controllers.md
  content/zh/docs/reference/access-authn-authz/admission-controllers.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27666 [zh] Remove outdated files
  content/zh/docs/concepts/extend-kubernetes/extend-cluster.md
  content/zh/docs/reference/kubernetes-api/api-index.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_enable-dynamic.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting_pivot.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_view.md
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-config.md
  content/zh/docs/reference/tools.md
  content/zh/docs/setup/production-environment/tools/kubeadm/self-hosting.md
  content/zh/docs/tasks/administer-cluster/enabling-endpointslices.md
  content/zh/docs/tasks/tools/install-kubectl.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#27686 [zh] Sync content/en/docs/concepts/configuration/configmap.md
  content/zh/docs/concepts/configuration/configmap.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27773 Optimize document translation of content/zh/docs/tutorials/stateful-a…
  content/zh/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#27783 [zh] Resync concepts section (11)
  content/zh/docs/concepts/extend-kubernetes/_index.md
  content/zh/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/zh/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/zh/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/zh/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27799 [zh] Sync content secret file
  content/zh/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#27802 [zh] resync setup section [3]
  content/zh/docs/setup/best-practices/cluster-large.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27349 Update zh translation in kubespray.md
  content/zh/docs/setup/production-environment/tools/kubespray.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27350 Update zh translation in container-runtimes.md
  content/zh/docs/setup/production-environment/container-runtimes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27351 Update zh translation in high-availability.md
  content/zh/docs/setup/production-environment/tools/kubeadm/high-availability.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27504 Update konnectivity to 0.0.16 and update ZH docs accordingly
  content/en/examples/admin/konnectivity/konnectivity-agent.yaml
  content/en/examples/admin/konnectivity/konnectivity-server.yaml
  content/zh/examples/admin/konnectivity/egress-selector-configuration.yaml
  content/zh/examples/admin/konnectivity/konnectivity-agent.yaml
  content/zh/examples/admin/konnectivity/konnectivity-server.yaml
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, size/M

#27755 Append .git to upstream URLs
  content/zh/docs/contribute/new-content/open-a-pr.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27613 [zh] Update CronJob example apiVersion from batch/v1beta1 to batch/v1
  content/zh/examples/application/job/cronjob.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27857 [ko] Update outdated files in dev-1.21-ko.2 (p1)
  content/ko/case-studies/ibm/ibm_featured_logo.svg
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/cluster-administration/system-metrics.md
  content/ko/docs/concepts/containers/container-lifecycle-hooks.md
  content/ko/docs/concepts/containers/runtime-class.md
  content/ko/docs/concepts/extend-kubernetes/_index.md
  content/ko/docs/concepts/extend-kubernetes/control-plane.png
  content/ko/docs/concepts/extend-kubernetes/extend-cluster.md
  content/ko/docs/concepts/extend-kubernetes/flowchart.png
  content/ko/docs/concepts/overview/working-with-objects/labels.md
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ko/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/storage/volumes.md
  content/ko/docs/concepts/workloads/pods/disruptions.md
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/ko/docs/contribute/new-content/open-a-pr.md
  content/ko/docs/reference/_index.md
  content/ko/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#27859 [ko] Fix wrong custom heading ID
  content/ko/docs/concepts/services-networking/dns-pod-service.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#27860 [zh] translate task/tools Included
  content/zh/docs/tasks/tools/included/_index.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#27352 Update zh translation in kubelet-integration.md
  content/zh/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27698 Fix a markup error on concepts/workloads/controllers/garbage-collection
  content/ja/docs/concepts/workloads/controllers/garbage-collection.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#27408 Allow localization teams to review their own strings
  content/en/docs/contribute/localization.md
  data/i18n/de/OWNERS
  data/i18n/de/de.toml
  data/i18n/en/OWNERS
  data/i18n/en/en.toml
  data/i18n/es/OWNERS
  data/i18n/es/es.toml
  data/i18n/fr/OWNERS
  data/i18n/fr/fr.toml
  data/i18n/hi/OWNERS
  data/i18n/hi/hi.toml
  data/i18n/id/OWNERS
  data/i18n/id/id.toml
  data/i18n/it/OWNERS
  data/i18n/it/it.toml
  data/i18n/ja/OWNERS
  data/i18n/ja/ja.toml
  data/i18n/ko/OWNERS
  data/i18n/ko/ko.toml
  data/i18n/nl/nl.toml
  data/i18n/no/no.toml
  data/i18n/pl/OWNERS
  data/i18n/pl/pl.toml
  data/i18n/pt/OWNERS
  data/i18n/pt/pt-br.toml
  data/i18n/pt/pt.toml
  data/i18n/ru/OWNERS
  data/i18n/ru/ru.toml
  data/i18n/uk/OWNERS
  data/i18n/uk/uk.toml
  data/i18n/vi/OWNERS
  data/i18n/vi/vi.toml
  data/i18n/zh/OWNERS
  data/i18n/zh/zh.toml
  i18n/OWNERS
  i18n/de.toml
  i18n/en.toml
  i18n/es.toml
  i18n/fr.toml
  i18n/hi.toml
  i18n/id.toml
  i18n/it.toml
  i18n/ja.toml
  i18n/ko.toml
  i18n/nl.toml
  i18n/no.toml
  i18n/pl.toml
  i18n/pt-br.toml
  i18n/ru.toml
  i18n/uk.toml
  i18n/vi.toml
  i18n/zh.toml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XXL

#27825 [zh] Sync reference config-api file
  content/zh/docs/reference/config-api/_index.md
  content/zh/docs/reference/config-api/apiserver-audit.v1.md
  content/zh/docs/reference/config-api/apiserver-webhookadmission.v1.md
  content/zh/docs/reference/config-api/client-authentication.v1beta1.md
  content/zh/docs/reference/config-api/kube-scheduler-config.v1beta1.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XXL

#27406 Fix image positioning on homepage, tablet
  assets/scss/_tablet.scss
Labels: approved, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/XS

#27906 Fix static pod manifests generation
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS, triage/accepted

#27315 Add script for detecting bad characters.
  scripts/README.md
  scripts/check-ctrlcode.py
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M

#27424 Modified the output when retrieving Secrets.
  content/en/docs/tasks/configmap-secret/managing-secret-using-config-file.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27829 Adds COF to the list of operators frameworks
  content/en/docs/concepts/extend-kubernetes/operator.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27839 docs(overview): add info on k8s abbreviation
  content/en/docs/concepts/overview/what-is-kubernetes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27903 doc: remove deprecated predicates in scheduler
  content/en/docs/reference/scheduling/policies.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#27912 Link PVC volume mode and access mode sections to corresponding sections in PV
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/XS

#26997 Add blog post: Using Finalizers to Control Deletion
  content/en/blog/_posts/2021-05-14-using-finalizers-to-control-deletion.md
  static/images/blog/2021-05-14-using-finalizers-to-control-deletion/state-diagram-delete.png
  static/images/blog/2021-05-14-using-finalizers-to-control-deletion/state-diagram-finalize.png
Labels: approved, area/blog, cncf-cla: yes, language/en, lgtm, sig/docs, size/L, tide/merge-method-squash

#27901 [ko] Update outdated files in dev-1.20-ko.8 (p3)
  content/ko/docs/concepts/architecture/control-plane-node-communication.md
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/cluster-administration/addons.md
  content/ko/docs/concepts/cluster-administration/manage-deployment.md
  content/ko/docs/concepts/cluster-administration/proxies.md
  content/ko/docs/concepts/configuration/configmap.md
  content/ko/docs/concepts/configuration/manage-resources-containers.md
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/concepts/containers/container-lifecycle-hooks.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/ko/docs/concepts/extend-kubernetes/extend-cluster.md
  content/ko/docs/concepts/overview/components.md
  content/ko/docs/concepts/overview/working-with-objects/names.md
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ko/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/ko/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/ko/docs/concepts/security/controlling-access.md
  content/ko/docs/concepts/services-networking/connect-applications-service.md
  content/ko/docs/concepts/services-networking/ingress.md
  content/ko/docs/concepts/services-networking/service-topology.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/storage/persistent-volumes.md
  content/ko/docs/concepts/storage/storage-classes.md
  content/ko/docs/concepts/storage/volumes.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/concepts/workloads/controllers/replicationcontroller.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#27900 fix example for customizing the control plane with scheduler flags
  content/en/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/S, triage/accepted

#27884 Update note for waitForFirstConsumer binding mode with example
  content/en/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/M

#27929 Adding a release page under "Release Information"
  OWNERS_ALIASES
  content/en/community/_index.html
  content/en/docs/setup/release/_index.md
  content/en/docs/setup/release/notes.md
  content/en/releases/OWNERS
  content/en/releases/_index.md
  content/en/releases/download.md
  content/en/releases/notes.md
  content/en/releases/patch-releases.md
  content/en/releases/release.md
  content/en/releases/version-skew-policy.md
  data/i18n/en/en.toml
  data/releases/OWNERS
  data/releases/schedule.yaml
  layouts/partials/navbar-version-selector.html
  layouts/shortcodes/release-data.html
  scripts/update-release-info.sh
  static/_redirects
Labels: approved, cncf-cla: yes, kind/feature, language/en, lgtm, priority/important-soon, sig/docs, sig/release, size/XXL

#27659 Update Japanese localization on concepts/configuration/configmap.md
  content/ja/docs/concepts/configuration/configmap.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#27961 update dashboard version to 2.2.0
  content/en/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27966 Fix relnotes.k8s.io link
  content/en/releases/notes.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/release, size/XS

#27797 [zh] Resync concepts section (15)
  content/zh/docs/concepts/cluster-administration/addons.md
  content/zh/docs/concepts/cluster-administration/logging.md
  content/zh/docs/concepts/cluster-administration/system-metrics.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#27968 Correct version numbers related to the EvenPodsSpread feature gate
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/scheduling, size/XS

#27892 [zh]Resync Extend Kubernetes files
  content/zh/docs/tasks/extend-kubectl/kubectl-plugins.md
  content/zh/docs/tasks/extend-kubernetes/configure-multiple-schedulers.md
  content/zh/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning.md
  content/zh/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
  content/zh/docs/tasks/extend-kubernetes/setup-extension-api-server.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27919 [zh] resync task files [2]
  content/zh/docs/tasks/debug-application-cluster/audit.md
  content/zh/docs/tasks/debug-application-cluster/debug-application-introspection.md
  content/zh/docs/tasks/debug-application-cluster/debug-application.md
  content/zh/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
  content/zh/docs/tasks/debug-application-cluster/debug-running-pod.md
  content/zh/docs/tasks/debug-application-cluster/debug-service.md
  content/zh/docs/tasks/debug-application-cluster/logging-stackdriver.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27872 [ko] Update kustomization.md in dev-1.21-ko.2
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#27875 [ko] Update task tookls and network in dev-1.21-ko.2
  content/ko/docs/tasks/network/validate-dual-stack.md
  content/ko/docs/tasks/tools/install-kubectl-linux.md
  content/ko/docs/tasks/tools/install-kubectl-macos.md
  content/ko/docs/tasks/tools/install-kubectl-windows.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/L

#27887 [zh] Resync tasks files[3]
  content/zh/docs/tasks/debug-application-cluster/monitor-node-health.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27956 [zh]Resync tasks files[11]
  content/zh/docs/tasks/configmap-secret/managing-secret-using-config-file.md
  content/zh/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
  content/zh/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
  content/zh/docs/tasks/inject-data-application/define-environment-variable-container.md
  content/zh/docs/tasks/manage-daemon/rollback-daemon-set.md
  content/zh/docs/tasks/manage-daemon/update-daemon-set.md
  content/zh/docs/tasks/manage-kubernetes-objects/declarative-config.md
  content/zh/docs/tasks/manage-kubernetes-objects/imperative-command.md
  content/zh/docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/zh/docs/tasks/service-catalog/install-service-catalog-using-helm.md
  content/zh/docs/tasks/service-catalog/install-service-catalog-using-sc.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27973 [zh]Resync tasks files[10]
  content/zh/docs/tasks/job/coarse-parallel-processing-work-queue.md
  content/zh/docs/tasks/job/fine-parallel-processing-work-queue.md
  content/zh/docs/tasks/job/parallel-processing-expansion.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#27977 [zh]Resync tasks files[9]
  content/zh/docs/tasks/access-application-cluster/access-cluster.md
  content/zh/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27972 Add envs example for secretGenerator.
  content/en/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#27653 Update SELinux standards
  content/en/docs/concepts/security/pod-security-standards.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/node, sig/security, size/S, tide/merge-method-squash

#27992 [ko] Fix typo of korean docs
  content/ko/docs/concepts/cluster-administration/_index.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#27744 Write Vixie in title case
  content/en/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#27818 Regenerated reference for kubeadm
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_all.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_controller-manager.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_scheduler.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_all.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_certs.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_download-certs.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_kubeconfig.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_kubelet-start.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_preflight.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/S

#27999 Fix typo in secret.md
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27975 Adding shell-operator as another way to create operators
  content/en/docs/concepts/extend-kubernetes/operator.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27815 Fix sed command for NodeLocalDNS yaml in IPVS mode.
  content/en/docs/tasks/administer-cluster/nodelocaldns.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27689 Add the search box and the toggle section navigation
  assets/scss/_custom.scss
  layouts/partials/blog-sidebar.html
Labels: approved, area/blog, area/web-development, cncf-cla: yes, lgtm, sig/docs, size/S

#27414 [en] Fix label selector in "kubectl for Docker Users"
  content/en/docs/reference/kubectl/docker-cli-to-kubectl.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26840 Clarify sources of voluntary disruptions
  content/en/docs/concepts/workloads/pods/disruptions.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#27724 Update feature-gates.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, language/zh, lgtm, sig/docs, sig/network, size/XS

#27286 Fix line separation in concepts/architecture/nodes
  content/ru/docs/concepts/architecture/nodes.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/S

#27996 [zh] Update anchor link
  content/zh/docs/concepts/storage/storage-classes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27959 Fix link to nodeport Service type
  content/en/docs/reference/kubernetes-api/service-resources/service-v1.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27962 Fix typo in images.md
  content/en/docs/concepts/containers/images.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27943 Reformat windows introduction
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XXL

#27978 Fixed variable substitution typo
  content/en/docs/contribute/generate-ref-docs/kubernetes-api.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27941 Update feature gate info for ServiceNodeExclusion, NodeDisruptionExclusion, and LegacyNodeRoleBehavior
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27960 [zh] translate Tasks/Configuring a cgroup driver
  content/zh/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27780 [zh] Resync concepts section (10)
  content/zh/docs/concepts/architecture/cloud-controller.md
  content/zh/docs/concepts/architecture/control-plane-node-communication.md
  content/zh/docs/concepts/architecture/nodes.md
  content/zh/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#28018 [ko] Fix typo minikubue to minikube
  content/ko/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#28017 [ko] Resolve nits (#27899, #27902)
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/workloads/controllers/job.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#27416 [ko] Fix label selector in "kubectl for Docker Users"
  content/ko/docs/reference/kubectl/docker-cli-to-kubectl.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XS

#28007 Added links to etcd content
  content/en/docs/setup/best-practices/cluster-large.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28011 Updated TTLAfterFinished feature reference
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27988 Update website for change in the 1.22 ephemeral containers API
  content/en/docs/concepts/workloads/pods/ephemeral-containers.md
  content/en/docs/tasks/debug-application-cluster/debug-running-pod.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cli, sig/docs, size/L

#27939 Updating --cascade as false is deprecated on Kubectl 1.21
  content/en/docs/tasks/run-application/delete-stateful-set.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27885 Remove duplicate code block
  content/en/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27893 Operator: Exists missing
  content/en/examples/controllers/daemonset.yaml
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27806 Add missing --type merge in retainkeys examples
  content/en/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28038 Mark SSA as GA
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27993 update link to Flannel
  content/en/docs/concepts/cluster-administration/addons.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27873 [ko] Update administer-cluster in dev-1.21-ko.2
  content/ko/docs/tasks/administer-cluster/declare-network-policy.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/M

#27777 ja: Make docs/concepts/services-networking/endpoint-slices.md follow v1.19 of the original text
  content/ja/docs/concepts/services-networking/endpoint-slices.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/M

#27131 Added Windows Containerd GMSA Updates
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/en/docs/tasks/configure-pod-container/configure-gmsa.md
Labels: approved, cncf-cla: yes, language/en, lgtm, ok-to-test, sig/docs, sig/windows, size/M

#27246 Fix typo in worker.py example script
  content/en/examples/application/job/redis/worker.py
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#26957 Behaviour when optional configmap appears after the pod starts
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, sig/storage, size/S

#28010 kubeadm: remove reference to the "config view" command.
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-config.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/deprecation, language/en, lgtm, priority/important-soon, sig/cluster-lifecycle, sig/docs, size/XS

#27557 Add common command to list ENV for all pods
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28022 Fix typo in documentation: TLS secrets
  content/en/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#27503 update gitignore to include folder created by make container-serve
  .gitignore
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#28023 [zh]Resync tasks files[6]
  content/zh/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#28020 [zh]Resync tasks files[8]
  content/zh/docs/tasks/configure-pod-container/assign-cpu-resource.md
  content/zh/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/zh/docs/tasks/configure-pod-container/static-pod.md
  content/zh/docs/tasks/configure-pod-container/translate-compose-kubernetes.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#28021 [zh]Resync tasks files[7]
  content/zh/docs/tasks/configure-pod-container/configure-gmsa.md
  content/zh/docs/tasks/configure-pod-container/configure-pod-configmap.md
  content/zh/docs/tasks/configure-pod-container/configure-service-account.md
  content/zh/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/M

#28025 fix the `kubelet-config-1.21` configmap key value from `config` to `kubelet`
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS, triage/accepted

#27611 ja: Make docs/concepts/configuration/secret.md follow v1.19 of the original text
  content/ja/docs/concepts/configuration/secret.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XL

#28061 [ko] 2nd Korean localization work for v1.21
  content/ko/case-studies/ibm/ibm_featured_logo.svg
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/cluster-administration/_index.md
  content/ko/docs/concepts/cluster-administration/system-metrics.md
  content/ko/docs/concepts/containers/container-lifecycle-hooks.md
  content/ko/docs/concepts/containers/runtime-class.md
  content/ko/docs/concepts/extend-kubernetes/_index.md
  content/ko/docs/concepts/extend-kubernetes/control-plane.png
  content/ko/docs/concepts/extend-kubernetes/extend-cluster.md
  content/ko/docs/concepts/extend-kubernetes/flowchart.png
  content/ko/docs/concepts/overview/working-with-objects/labels.md
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ko/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/ko/docs/concepts/services-networking/dns-pod-service.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/storage/volumes.md
  content/ko/docs/concepts/workloads/pods/disruptions.md
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/ko/docs/contribute/new-content/open-a-pr.md
  content/ko/docs/reference/_index.md
  content/ko/docs/reference/access-authn-authz/service-accounts-admin.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/reference/command-line-tools-reference/kube-proxy.md
  content/ko/docs/reference/using-api/client-libraries.md
  content/ko/docs/setup/production-environment/tools/kops.md
  content/ko/docs/setup/production-environment/tools/kubespray.md
  content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/ko/docs/setup/release/notes.md
  content/ko/docs/tasks/administer-cluster/declare-network-policy.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/ko/docs/tasks/network/validate-dual-stack.md
  content/ko/docs/tasks/tls/managing-tls-in-a-cluster.md
  content/ko/docs/tasks/tools/install-kubectl-linux.md
  content/ko/docs/tasks/tools/install-kubectl-macos.md
  content/ko/docs/tasks/tools/install-kubectl-windows.md
  content/ko/docs/tutorials/hello-minikube.md
Labels: approved, cncf-cla: yes, language/ko, lgtm, sig/docs, size/XXL

#27739 Create pod eviction concept topic
  content/en/docs/concepts/scheduling-eviction/_index.md
  content/en/docs/concepts/scheduling-eviction/api-eviction.md
  content/en/docs/concepts/scheduling-eviction/eviction-policy.md
  content/en/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/en/docs/concepts/scheduling-eviction/node-pressure-eviction.md
  content/en/docs/concepts/scheduling-eviction/pod-overhead.md
  content/en/docs/concepts/scheduling-eviction/pod-priority-preemption.md
  content/en/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/en/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/en/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/en/docs/reference/glossary/api-eviction.md
  content/en/docs/reference/glossary/node-pressure-eviction.md
  content/en/docs/reference/glossary/pod-disruption.md
  content/en/docs/tasks/administer-cluster/out-of-resource.md
  static/_redirects
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XL

#28067 Fixed Whats Next heading on production page
  content/en/docs/setup/production-environment/_index.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#28034 Clarify requirements for “Using Source IP” tutorial
  content/en/includes/task-tutorial-prereqs.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#27018 fix some spelling mistakes in ./data/announcements/scheduled.yaml
  data/announcements/scheduled.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#27174 Update setup guide
  content/ru/docs/setup/_index.md
Labels: approved, cncf-cla: yes, language/ru, lgtm, sig/docs, size/XS

#28080 Update redirect destination for out-of-resource page
  static/_redirects
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, sig/docs, size/XS

#28069 Fix AKA for node-pressure eviction glossary item
  content/en/docs/reference/glossary/node-pressure-eviction.md
Labels: approved, cncf-cla: yes, kind/cleanup, language/en, lgtm, sig/docs, size/XS

#27658 Add line breaks in Markdown code
  content/en/docs/setup/production-environment/container-runtimes.md
  content/en/docs/setup/production-environment/windows/user-guide-windows-containers.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/L

#28090 [fr] fix link replicaset.md
  content/fr/docs/concepts/workloads/controllers/replicaset.md
Labels: approved, cncf-cla: yes, language/fr, lgtm, sig/docs, size/XS

#28052 Update overview.md
  content/zh/docs/reference/kubectl/overview.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#28002 [ja] Add a missing feature gate entry
  content/ja/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#28014 [ja] Improvement: Managing Secret using kubectl
  content/ja/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#28103 [ja] Update the link to install service catalog using Helm
  content/ja/docs/tasks/service-catalog/install-service-catalog-using-helm.md
Labels: approved, cncf-cla: yes, language/ja, lgtm, sig/docs, size/XS

#28116 [id] Fix link for Horizontal Pod Autoscaler enhancement
  content/id/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: approved, cncf-cla: yes, language/id, lgtm, sig/docs, size/XS

#27810 Update eviction example to use policy/v1
  content/en/docs/tasks/administer-cluster/safely-drain-node.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/apps, sig/docs, size/S

#28065 StreamingProxyRedirects deprecation docs
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/deprecation, language/en, lgtm, sig/docs, sig/node, size/S

#28049 kubeadm will default it to systemd in 1.22
  content/en/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/cluster-lifecycle, sig/docs, size/XS

#28133 remove alpha feature note from fsGroupChangePolicy
  content/en/docs/tasks/configure-pod-container/security-context.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28128 [zh]update dashboard version to 2.2.0
  content/zh/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27998 [zh] fix capitalization
  content/zh/docs/concepts/cluster-administration/manage-deployment.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#28126 Add missing --type merge for retainkeys examples
  content/zh/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#28140 [zh]Translate new add secretGenerato example
  content/zh/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#27751 Update service.md
  content/zh/docs/concepts/services-networking/service.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27627 change description for CM mount
  content/zh/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27459 Update guestbook.md
  content/zh/docs/tutorials/stateless-application/guestbook.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27538 Update assign-pod-node.md
  content/zh/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#27795 [zh] Resync concepts section (13)
  content/zh/docs/concepts/overview/working-with-objects/labels.md
  content/zh/docs/concepts/overview/working-with-objects/names.md
  content/zh/docs/concepts/overview/working-with-objects/namespaces.md
  content/zh/docs/concepts/overview/working-with-objects/object-management.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27765 [zh] Resync concepts section (8)
  content/zh/docs/concepts/workloads/controllers/job.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27766 [zh] Resync concepts section (9)
  content/zh/docs/concepts/workloads/controllers/cron-jobs.md
  content/zh/docs/concepts/workloads/controllers/replicaset.md
  content/zh/docs/concepts/workloads/controllers/replicationcontroller.md
  content/zh/docs/concepts/workloads/controllers/ttlafterfinished.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27796 [zh] Resync concepts section (14)
  content/zh/docs/concepts/policy/pod-security-policy.md
  content/zh/docs/concepts/policy/resource-quotas.md
  content/zh/examples/policy/priority-class-resourcequota.yaml
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27985 [zh] Resync tasks for 1.21 (4)
  content/zh/docs/tasks/run-application/configure-pdb.md
  content/zh/docs/tasks/run-application/delete-stateful-set.md
  content/zh/docs/tasks/run-application/force-delete-stateful-set-pod.md
  content/zh/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/zh/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/zh/docs/tasks/run-application/run-replicated-stateful-application.md
  content/zh/docs/tasks/run-application/run-single-instance-stateful-application.md
  content/zh/docs/tasks/run-application/run-stateless-application-deployment.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#27986 [zh] Resync task files (5)
  content/zh/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
  content/zh/docs/tasks/tools/install-kubectl-linux.md
  content/zh/docs/tasks/tools/install-kubectl-macos.md
  content/zh/docs/tasks/tools/install-kubectl-windows.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/L

#28145 [zh] remove alpha feature note from fsGroupChangePolicy
  content/zh/docs/tasks/configure-pod-container/security-context.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS

#28032 Mark WarningHeader feature gate as GA
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: approved, cncf-cla: yes, language/en, lgtm, sig/docs, size/XS

#28135 [es] Add configuration java microservice link to tutorials index
  content/es/docs/tutorials/_index.md
Labels: approved, cncf-cla: yes, language/es, lgtm, sig/docs, size/XS

#28026 use `kubectl debug` as `alpha debug` is deprecated
  content/zh/docs/tasks/debug-application-cluster/debug-running-pod.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/S

#28117 Update components.md
  content/zh/docs/concepts/overview/components.md
Labels: approved, cncf-cla: yes, language/zh, lgtm, sig/docs, size/XS
