Repository kubernetes/website, pull requests merged in 2021-10, with the labels that each got.

#29872 concepts/services-networking/service: removed duplicate proxy term
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29752 add a note re selectorless services and proxy
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/api-machinery, sig/docs, approved, language/en

#28733 Add docker server registry
  content/en/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#29806 Update OWNERS_ALIASES & SECURITY_CONTACTS
  OWNERS_ALIASES
  SECURITY_CONTACTS
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#26848 Tweak windows introduction page
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/windows, sig/docs, approved, kind/cleanup, language/en

#29710 [ja] Improvement: Runtime Class
  content/ja/docs/concepts/containers/runtime-class.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#29862 [ja] Add seccomp tutorial to index
  content/ja/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#29880 Update job.md to add a newline
  content/en/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#29875 fix the doc link issue for pod deltion cost.
  content/ko/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#29461 [hi] Add content/hi/docs/tasks/tools/install-kubectl-macos.md
  content/hi/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#29889 fix/typo-command-line-tools-reference/kubelet
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29907 fix a grammar mistake - English version
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29908 fix a grammar mistake - Chinese version
  content/zh/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#29897 [pl] Add seccomp tutorial to index
  content/pl/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl

#29791 Blog post: A closer look at NSA / CISA Kubernetes Hardening Guidance
  content/en/blog/_posts/2021-10-05-nsa-cisa-hardening.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/en, area/blog, sig/security

#29661 [ko]Translate tasks/inject-data-application/downward-api-volume-expose-po
  content/ko/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
  content/ko/examples/pods/inject/dapi-volume-resources.yaml
  content/ko/examples/pods/inject/dapi-volume.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#29813 [ko] Update outdated files in dev-1.22-ko.1 (p2)
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/ko/docs/setup/production-environment/windows/user-guide-windows-containers.md
  content/ko/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
  content/ko/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/ko/docs/tasks/administer-cluster/network-policy-provider/cilium-network-policy.md
  content/ko/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#29826 [ko] Update outdated files in dev-1.22-ko.1 (p3)
  content/ko/docs/reference/glossary/api-eviction.md
  content/ko/docs/reference/kubectl/kubectl.md
  content/ko/docs/reference/kubectl/overview.md
  content/ko/docs/reference/scheduling/config.md
  content/ko/docs/reference/scheduling/policies.md
  content/ko/docs/reference/tools/_index.md
  content/ko/docs/reference/using-api/health-checks.md
  content/ko/docs/setup/best-practices/cluster-large.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#29835 [ko] Update outdated files in dev-1.22-ko.1 (p5)
  content/ko/docs/reference/labels-annotations-taints.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#29933 Fix approval rules for GitHub workflows
  .github/workflows/OWNERS
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#29939 releng: Bump website dates one week later
  content/en/releases/patch-releases.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, priority/critical-urgent, sig/release, approved, language/en, area/release-eng

#29877 Revise third-party content warning
  assets/scss/_custom.scss
  data/i18n/en/en.toml
  layouts/docs/baseof.html
  layouts/partials/docs/thirdparty-disclaimer.html
  layouts/partials/page-meta-links.html
  layouts/shortcodes/thirdparty-content.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#29842 [ko] Update outdated files in dev-1.22-ko.1 (p6)
  content/ko/docs/concepts/services-networking/dns-pod-service.md
  content/ko/docs/concepts/services-networking/ingress-controllers.md
  content/ko/docs/concepts/services-networking/ingress.md
  content/ko/docs/concepts/services-networking/network-policies.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#29931 [ko] Update outdated files in dev-1.22-ko.1 (M1-M18)
  content/ko/community/_index.html
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/containers/runtime-class.md
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/ko/docs/concepts/overview/what-is-kubernetes.md
  content/ko/docs/concepts/overview/working-with-objects/annotations.md
  content/ko/docs/concepts/overview/working-with-objects/labels.md
  content/ko/docs/concepts/overview/working-with-objects/names.md
  content/ko/docs/concepts/policy/resource-quotas.md
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ko/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/ko/docs/concepts/scheduling-eviction/pod-priority-preemption.md
  content/ko/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/ko/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/ko/docs/concepts/security/overview.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#29942 releng: update patch release dates for 1.19
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, area/release-eng

#29938 Update blog post to include the fix version and fix the link to the PR
  content/en/blog/_posts/2019-03-29-kube-proxy-subtleties-debugging-an-intermittent-connection-resets.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#29920 Improvement: Correct the "code" link in Dynamic Admission Control.
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29465 [hi] Add content/hi/docs/tasks/tools/install-kubectl-windows.md
  content/hi/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#29955 fixed broken link in intro-windows-in-kubernetes.md
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29963 [uk] Add seccomp tutorial to index
  content/uk/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk

#28367 Add file paths to keys and certificates
  content/en/docs/setup/best-practices/certificates.md
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, sig/docs, approved, tide/merge-method-squash, language/en

#29851 [ko] Update outdated files in dev-1.22-ko.1 (p8)
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#29458 [hi] Add content/hi/docs/tasks/tools/_index.md
  content/hi/docs/tasks/tools/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#29921 Synchronize Polish localization for ver 1.22, part 3
  content/pl/docs/reference/_index.md
  content/pl/docs/reference/glossary/index.md
  content/pl/docs/reference/glossary/kube-scheduler.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pl

#29393 [hi] Add content/hi/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/hi/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#29572 [pt-br] Translate ConfigMap page to Brazilian Portuguese
  content/pt-br/docs/concepts/configuration/configmap.md
  content/pt-br/docs/reference/glossary/addons.md
  content/pt-br/docs/reference/glossary/configmap.md
  content/pt-br/docs/reference/glossary/image.md
  content/pt-br/docs/reference/glossary/index.md
  content/pt-br/docs/reference/glossary/kubelet.md
  content/pt-br/docs/reference/glossary/namespace.md
  content/pt-br/docs/reference/glossary/operator-pattern.md
  content/pt-br/docs/reference/glossary/pod.md
  content/pt-br/docs/reference/glossary/secret.md
  content/pt-br/docs/reference/glossary/selector.md
  content/pt-br/docs/reference/glossary/service.md
  content/pt-br/docs/reference/glossary/static-pod.md
  content/pt-br/docs/reference/glossary/volume.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#29969 [ko] Update outdated files in dev-1.22-ko.1 (D1-D2)
  content/ko/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/ko/docs/concepts/workloads/controllers/garbage-collection.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#29941 [ko] Update outdated files in dev-1.22-ko.1 (M52)
  content/ko/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#29651 [ja] Update nodelocaldns.md
  content/ja/docs/tasks/administer-cluster/nodelocaldns.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#29853 modify kubeadm config example about joining a node to dual-stack cluster
  content/en/docs/setup/production-environment/tools/kubeadm/dual-stack-support.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#29989 [es] Add content/es/docs/reference/glossary/wg
  content/es/docs/reference/glossary/wg.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/es

#30007 [es] Add content/es/docs/reference/glossary/workload
  content/es/docs/reference/glossary/workload.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/es

#30002 [zh] update concept pv
  content/zh/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#30043 Translate content/en/blog/_posts/2021-08-04-kubernetes-release-1.22.md in Korean
  content/ko/blog/_posts/2021-08-04-kubernetes-release-1.22.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#30032 [zh]: update concept workload pods
  content/zh/docs/concepts/workloads/pods/_index.md
  content/zh/docs/concepts/workloads/pods/disruptions.md
  content/zh/docs/concepts/workloads/pods/ephemeral-containers.md
  content/zh/docs/concepts/workloads/pods/init-containers.md
  content/zh/docs/concepts/workloads/pods/pod-lifecycle.md
  content/zh/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#30035 [ko] Update scheduling-eviction
  content/ko/docs/concepts/scheduling-eviction/resource-bin-packing.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30062 [ko] Update outdated Korean for task m59-m60
  content/ko/docs/tasks/administer-cluster/access-cluster-api.md
  content/ko/docs/tasks/administer-cluster/dns-custom-nameservers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#30078 Add KCNA to training
  content/en/training/_index.html
  static/images/training/kubernetes-kcnf-white.svg
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#30081 [zh] fixed typo
  content/zh/docs/setup/production-environment/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#29466 Add mermaid figures to /docs/contribute section
  config.toml
  content/en/docs/contribute/_index.md
  content/en/docs/contribute/new-content/_index.md
  content/en/docs/contribute/new-content/open-a-pr.md
  content/en/docs/contribute/review/reviewing-prs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#30008 Add missing example for querying permissions of a Service Account
  content/en/docs/reference/access-authn-authz/authorization.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#30113 Add Pod creation example in k8s.io/docs/concepts/workloads/pods/
  content/en/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#28601 Example with data dir for restore
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30090 Removed Nuage marketing
  content/en/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#30065 [es] add volume and volumeMount for ephemeral storage
  content/es/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#29695 Removed Contiv.io
  content/en/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#30132 [zh] Update translate-compose-kubernetes.md
  content/zh/docs/tasks/configure-pod-container/translate-compose-kubernetes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#29978 [ja] Replace with a link in Japanese about authentication.md
  content/ja/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#29391 [hi] Add content/hi/docs/tutorial/kubernetes-basics/_index.html
  content/hi/docs/tutorials/kubernetes-basics/_index.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#30033 [ko] Update working-with-objects
  content/ko/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/ko/docs/concepts/overview/working-with-objects/namespaces.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#30142 Added CSS to improve user experience with docs and reduce wasted space
  assets/scss/_custom.scss
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#30123 Make figure sizing more responsive
  assets/scss/_custom.scss
  content/en/docs/concepts/overview/components.md
  content/en/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/en/docs/concepts/security/overview.md
  content/en/docs/concepts/workloads/pods/_index.md
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/tasks/administer-cluster/nodelocaldns.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/web-development

#30064 Tidy task about PV reclaim policy
  content/en/docs/tasks/administer-cluster/change-pv-reclaim-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#29206 Revise task for practising NGINX Ingress controller
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#30256 Updating runAsNonRoot support for Windows
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/windows, sig/docs, approved, language/en

#30291 Fix whitespace in pod topology spread constraints page
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#30298 [ko] fix broken blog link
  content/ko/docs/concepts/workloads/controllers/replicationcontroller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#30301 debug content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md…
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#30197 [ko] Update content/ko/docs/concepts/services-networking/
  content/ko/docs/concepts/services-networking/connect-applications-service.md
  content/ko/docs/concepts/services-networking/dns-pod-service.md
  content/ko/docs/concepts/services-networking/network-policies.md
  content/ko/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko
