Repository kubernetes/website, pull requests merged in 2021-11, with the labels that each got.

#29645 [pt-br] Adding brazilian portuguese translation of Installing Kubeadm page
  content/pt-br/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#30262 Use kubectl exec [POD] -- [COMMAND] instead.
  content/en/docs/tutorials/stateful-application/zookeeper.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#25299 Revise “Kubernetes API Concepts”
  assets/scss/_custom.scss
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/api-machinery, sig/docs, approved, language/en, wg/api-expression

#30313 Corrected the "all Kubernetes bug reports" link in Kubernetes Security and Disclosure Information.
  content/en/docs/reference/issues-security/security.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30305 [es] Including Oracle Cloud Infrastructure
  content/es/docs/concepts/security/overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#30219 [zh] update the kubeadm website
  content/zh/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubeadm/high-availability.md
  content/zh/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
  content/zh/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#30307 correct the word
  content/zh/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30247 add sudo to Red Hat-based distributions - en
  content/en/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30255 [zh] add sudo to Red Hat-based distributions
  content/zh/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30322 Fix typo
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30324 [zh] Resync install-kubectl-windows page
  content/zh/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#29790 [pt-br] Adding translation of ports and protocols page
  content/pt-br/docs/reference/ports-and-protocols.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pt

#30107 Update "multiple schedulers" example
  content/en/docs/tasks/extend-kubernetes/configure-multiple-schedulers.md
  content/en/examples/admin/sched/my-scheduler.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/scheduling, approved, language/en

#30336 [zh] add a newline
  content/zh/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30339 Update _index.md
  content/zh/docs/concepts/extend-kubernetes/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30199 [ko] Update content/ko/docs/concepts/storage
  content/ko/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30335 [zh] fix typo in endpoint slices
  content/zh/docs/concepts/services-networking/endpoint-slices.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#30325 [zh] concept of owners and dependents
  content/zh/docs/concepts/overview/working-with-objects/owners-dependents.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#30343 Translate content/en/docs/reference/using-api/health-checks.md in Korean
  content/ko/docs/reference/using-api/health-checks.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#30323 [zh] Resync manage resources for containers
  content/zh/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#30203 [ko] Update concepts/workloads/controllers
  content/ko/docs/concepts/workloads/controllers/cron-jobs.md
  content/ko/docs/concepts/workloads/controllers/daemonset.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/concepts/workloads/controllers/replicaset.md
  content/ko/docs/concepts/workloads/controllers/replicationcontroller.md
  content/ko/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#30147 Notify deletion of Kubelet Bootstrap Token
  content/en/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en, triage/accepted

#30146 kubeadm/TS guide: fix a misleading step about cert rotation
  content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, kind/bug, sig/cluster-lifecycle, sig/docs, approved, language/en

#30275 [ko] Update outdated Korean for task m63-m66
  content/ko/docs/tasks/configure-pod-container/pull-image-private-registry.md
  content/ko/docs/tasks/configure-pod-container/static-pod.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30276 [ko] Update outdated Korean for task m67-m71
  content/ko/docs/tutorials/_index.md
  content/ko/docs/tutorials/hello-minikube.md
  content/ko/docs/tutorials/stateful-application/basic-stateful-set.md
  content/ko/docs/tutorials/stateful-application/zookeeper.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#30356 update patch release for november 2021 cycle
  content/en/releases/patch-releases.md
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#30227 [ko] Update highly-available-control-plane
  content/ko/docs/tasks/administer-cluster/highly-available-control-plane.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#30228 [ko] Update kubeadm-upgrade
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30277 [ko] Update contribute new-content of 1.22-ko.2
  content/ko/docs/contribute/new-content/_index.md
  content/ko/docs/contribute/new-content/overview.md
  content/ko/docs/home/_index.md
  content/ko/docs/reference/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#30280 Move CSIVolumeFSGroupPolicy to GA
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30151 add introductions for scheduler component config api migrations
  content/en/docs/reference/scheduling/config.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#30251 [ko] add sudo to Red Hat-based distributions
  content/ko/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#30320 [pt-br] Including Oracle Cloud Infrastructure
  content/pt-br/docs/concepts/security/overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#30069 Tweak advice about kubectl skew
  content/en/docs/tasks/tools/install-kubectl-linux.md
  content/en/docs/tasks/tools/install-kubectl-macos.md
  content/en/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, sig/cli, kind/cleanup, language/en

#30278 Improve Extensions Definition
  content/en/docs/concepts/extend-kubernetes/_index.md
  content/en/docs/reference/glossary/extensions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30370 Adding links to kubernetes.dev
  content/en/docs/contribute/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30309 [ko] Update outdated in dev-1.22-ko.2(36-37)
  content/ko/docs/concepts/workloads/pods/_index.md
  content/ko/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30362 [ko] Update dev-1.22-ko.2 (M46, M48-M50)
  content/ko/docs/reference/issues-security/security.md
  content/ko/docs/reference/scheduling/config.md
  content/ko/docs/reference/setup-tools/kubeadm/_index.md
  content/ko/docs/reference/tools/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30315 [ko] Fix outdated pod-topology-spread-constraints.md Korean
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30363 [ko] Add note for outdated Korean for windows docker in k8s
  content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#30358 [ko] Update outdated files in dev-1.22-ko.2 (M42-M47)
  content/ko/docs/reference/access-authn-authz/authorization.md
  content/ko/docs/reference/access-authn-authz/service-accounts-admin.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/reference/command-line-tools-reference/kube-proxy.md
  content/ko/docs/reference/kubectl/overview.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30272 [ko] Translate tasks/access-application-cluster/ingress-minikube.md in Korean
  content/ko/docs/tasks/access-application-cluster/ingress-minikube.md
  content/ko/examples/service/networking/example-ingress.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#30328 [ko] Translate docs/tasks/debug-application-cluster/get-shell-running-container.md in Korean
  content/ko/docs/tasks/debug-application-cluster/get-shell-running-container.md
  content/ko/examples/application/shell-demo.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#30377 Synchronize Polish localization for ver 1.22, part b1
  content/pl/docs/concepts/overview/components.md
  content/pl/docs/reference/_index.md
  content/pl/training/_index.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pl

#30117 Bump dashboard version to 2.4.0 from 2.3.1
  content/en/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, sig/ui, language/en

#30372 [zh] Update configure-gmsa.md
  content/zh/docs/tasks/configure-pod-container/configure-gmsa.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30382 [zh] fix typos
  content/zh/docs/concepts/storage/ephemeral-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30211 [zh]Concept files to sync for 1.22 #29325 task 12
  content/zh/docs/concepts/architecture/nodes.md
  content/zh/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/zh/docs/concepts/cluster-administration/logging.md
  content/zh/docs/concepts/cluster-administration/manage-deployment.md
  content/zh/docs/concepts/security/overview.md
  content/zh/docs/concepts/workloads/controllers/garbage-collection.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#30310 [ko] Translate tasks/extend-kubernetes/setup-konnectivity.md in Korean
  content/ko/docs/tasks/extend-kubernetes/setup-konnectivity.md
  content/ko/examples/admin/konnectivity/egress-selector-configuration.yaml
  content/ko/examples/admin/konnectivity/konnectivity-agent.yaml
  content/ko/examples/admin/konnectivity/konnectivity-rbac.yaml
  content/ko/examples/admin/konnectivity/konnectivity-server.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#30381 [ko] Update dev-1.22-ko.2 (M52,M53)
  content/ko/docs/setup/best-practices/certificates.md
  content/ko/docs/setup/learning-environment/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30380 [zh] Update feature-gates.md
  content/zh/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30329 [ko] Translate docs/tasks/debug-application-cluster/debug-stateful-set.md in Korean
  content/ko/docs/tasks/debug-application-cluster/debug-stateful-set.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#29979 [ja] Replace with a link in Japanese about cluster-administration-overview.md
  content/ja/docs/concepts/cluster-administration/cluster-administration-overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#29981 [ja] Replace with a link in Japanese `concepts/service`
  content/ja/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#29868 explanation of the role of activeDeadlineSeconds in initContainers be…
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29703 blog: non-root containers and devices
  content/en/blog/_posts/non-root-containers-and-devices.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#30392 Blog Post for steering-committee-results-2021
  content/en/blog/_posts/steering-committee-results-2021
Labels: cncf-cla: yes, size/M, lgtm, sig/contributor-experience, sig/docs, approved, language/en, area/blog, area/contributor-comms

#30394 Blog: update 2021 steering blog post
  content/en/blog/_posts/2021-11-08-steering-committee-results-2021.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/contributor-experience, sig/docs, approved, language/en, area/blog, area/contributor-comms

#30395 Blog: renamed non-root-containers-and-devices.md to have date prefix
  content/en/blog/_posts/2021-11-09-non-root-containers-and-devices.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#30397 Fix typo in SC blog post
  content/en/blog/_posts/2021-11-08-steering-committee-results-2021.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en, area/blog

#30368 Typo `etcdutl` in configure-upgrade-etcd.md
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#30118 fix broken link in release-managers.md
  content/en/releases/release-managers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, kind/cleanup, language/en, area/release-eng

#29957 Document {{% thirdparty-content %}} shortcode
  content/en/docs/contribute/style/hugo-shortcodes/index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#30010 [ko] Translate docs/tasks/administer-cluster/sysctl-cluster.md in Korean
  content/ko/docs/tasks/administer-cluster/sysctl-cluster.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#30137 [es] add concepts/services-networking/service
  content/es/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, language/es

#30421 Add Arnaud to the Thanks section.
  content/en/blog/_posts/2021-11-08-steering-committee-results-2021.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#30411 Update Steering membership following 2021 election
  OWNERS_ALIASES
  content/en/blog/_posts/2021-11-08-steering-committee-results-2021.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#30369 Fix wording of basic auth secret doc to keep it consistent with validation
  content/en/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30387 ServiceAccountTokenVolumeProjection: api-audiences flag can be omitted
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30398 Make redirection for highly-available-control-plane
  content/en/docs/tasks/administer-cluster/highly-available-control-plane.md
  static/_redirects
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#30400 Improvement to create cluster using minikube
  content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30367 translation for section admin4
  content/zh/docs/tasks/administer-cluster/dns-custom-nameservers.md
  content/zh/docs/tasks/administer-cluster/dns-debugging-resolution.md
  content/zh/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
  content/zh/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver.md
  content/zh/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#30402 [zh] Fix typo
  content/zh/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30396 [zh] fixed a typo
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#28887 clarify rollout behavior in deployment
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, sig/apps, language/en

#30186 A CPU request does not result in a guarantee
  content/en/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#30390 Add docs for JobMutableNodeSchedulingDirectives
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#30351 Podsecurity beta updates
  content/en/docs/concepts/security/pod-security-admission.md
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/configure-pod-container/enforce-standards-admission-controller.md
  content/en/docs/tasks/configure-pod-container/enforce-standards-namespace-labels.md
  content/en/docs/tasks/configure-pod-container/migrate-from-psp.md
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, sig/docs, approved, language/en

#30432 [en] Update link to cert-manager website
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#30434 [zh] Update cert-manager docs link
  content/zh/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30438 translate Reference/Glossary/Eviction
  content/zh/docs/reference/glossary/eviction.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#30383 [zh] Update create-cluster-kubeadm.md and fix invalid links
  content/zh/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30423 Graduate JobTrackingWithFinalizers to beta
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#30257 [es] add sudo to Red Hat-based distributions
  content/es/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, language/es

#30439 Update apparmor.md
  content/en/docs/tutorials/clusters/apparmor.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30433 [ko] update cert-manager docs link
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#30360 update pod mapping to avoid deprecation notice
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30410 Fix typos,config paths in kubelet-in-userns.md. Add link to port forwarder implementation
  content/en/docs/tasks/administer-cluster/kubelet-in-userns.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#30446 [zh] update references in Finalizers
  content/zh/docs/concepts/overview/working-with-objects/finalizers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30403 [zh]translate. fix issue #30217
  content/zh/docs/tasks/administer-cluster/kubelet-in-userns.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#30350 replace dnsutils example image
  content/en/examples/admin/dns/dnsutils.yaml
  content/id/examples/admin/dns/dnsutils.yaml
  content/zh/examples/admin/dns/dnsutils.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, language/zh, language/id

#30374 add BFE-ingress-controller to the document ingress-controllers.md.
  content/en/docs/concepts/services-networking/ingress-controllers.md
  content/zh/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, language/zh

#30454 [zh] Sync changes in 使用 kubeadm API 定制组件
  content/zh/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30388 Fix broken anchor link of #type-nodeport in service.md
  content/en/docs/concepts/configuration/overview.md
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
  content/en/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/en/docs/tutorials/services/source-ip.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#30170 Replace "Docker image" with "container image", other minor edits
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/en

#30393 update cloud controller doc on node controller
  content/en/docs/concepts/architecture/cloud-controller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, sig/cloud-provider, language/en

#30295 Mentioned Markdown flavor in Contribution new content
  content/en/docs/contribute/new-content/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30447 dockershim removal readiness blog post
  content/en/blog/_posts/2021-11-12-are-you-ready-for-dockershim-removal/index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, language/en, area/blog

#30460 Corrected grammatical error
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30444 Fix to reveal more info when '[+]' is clicked
  content/en/docs/reference/glossary/pod-disruption-budget.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#30453 [zh] Remove ^H character
  content/zh/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#28986 [zh] fix typo of expose-intro.html
  content/zh/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30389 graduate IngressClassNamespacedParams to GA
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/network, approved, language/en

#30461 Removed depracated ruby client library
  content/en/docs/reference/using-api/client-libraries.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30458 Fix to reveal more info when '[+]' is clicked
  content/en/docs/reference/glossary/pod-disruption.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30067 Tidy task “Pull an Image from a Private Registry”
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#30082 Revise page header styles
  assets/scss/_base.scss
  assets/scss/_custom.scss
  assets/scss/_size.scss
  layouts/_default/baseof.html
  layouts/_default/search.html
  layouts/blog/baseof.html
  layouts/case-studies/list.html
  layouts/docs/baseof.html
  layouts/docs/docsportal_home.html
  layouts/docs/list.html
  layouts/docs/single.html
  layouts/partials/announcement.html
  layouts/partials/docs/top-section-page.html
  layouts/partials/frontpage-announcement.html
  layouts/partials/navbar.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, area/web-development

#29727 "First this user must have [a] certificate issued..."
  content/en/docs/reference/access-authn-authz/certificate-signing-requests.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30226 Fix server-side-apply code snippet in blog post
  content/en/blog/_posts/2021-08-06-server-side-apply-ga.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog, wg/api-expression

#30361 generic ephemeral volume GA
  content/en/docs/concepts/storage/ephemeral-volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#30419 [ko] Update outdated in dev-1.21-ko.8 (M46-M50)
  content/ko/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#30420 [ko] Update outdated in dev-1.21-ko.8 (M51-M55)
  content/ko/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/ko/docs/tutorials/kubernetes-basics/update/update-interactive.html
  content/ko/docs/tutorials/stateful-application/cassandra.md
  content/ko/docs/tutorials/stateful-application/zookeeper.md
  content/ko/docs/tutorials/stateless-application/guestbook.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#30464 [en] Update operator.md
  content/en/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30373 Updated circtl version to v1.22.0 from v1.17.0 in install kubeadm doc #30349
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#30417 [ko] Update outdated in dev-1.21-ko.8 (M10-M12)
  content/ko/docs/concepts/scheduling-eviction/pod-priority-preemption.md
  content/ko/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/ko/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30418 [ko] Update outdated in dev-1.21-ko.8 (M41-M45)
  content/ko/docs/tasks/network/validate-dual-stack.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/ko/docs/tasks/tools/install-kubectl-macos.md
  content/ko/docs/tutorials/clusters/apparmor.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30476 [ko] Apply 1.21-ko.8 enhancement to 1.22-ko.3
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/concepts/containers/_index.md
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
  content/ko/docs/concepts/overview/working-with-objects/labels.md
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ko/docs/concepts/scheduling-eviction/pod-priority-preemption.md
  content/ko/docs/concepts/services-networking/connect-applications-service.md
  content/ko/docs/concepts/services-networking/dns-pod-service.md
  content/ko/docs/concepts/services-networking/network-policies.md
  content/ko/docs/concepts/services-networking/service-topology.md
  content/ko/docs/concepts/storage/volumes.md
  content/ko/docs/concepts/workloads/controllers/daemonset.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/concepts/workloads/controllers/replicaset.md
  content/ko/docs/tasks/administer-cluster/change-default-storage-class.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/ko/docs/tutorials/clusters/apparmor.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30415 [ko] Update outdated in dev-1.21-ko.8 (M1-M5)
  content/ko/community/_index.html
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/containers/runtime-class.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30416 [ko] Update outdated in dev-1.21-ko.8 (M6-M9)
  content/ko/docs/concepts/overview/what-is-kubernetes.md
  content/ko/docs/concepts/overview/working-with-objects/annotations.md
  content/ko/docs/concepts/overview/working-with-objects/labels.md
  content/ko/docs/concepts/overview/working-with-objects/names.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30474 [ko] Update outdated in dev-1.22-ko.3 (M2-M3)
  content/ko/docs/concepts/cluster-administration/networking.md
  content/ko/docs/concepts/extend-kubernetes/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30466 [zh] Update operator.md
  content/zh/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30478 Review Network Policy Ingress rules during Service debugging
  content/en/docs/tasks/debug-application-cluster/debug-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30426 docs: update scale-intro.html (pt-br)
  content/pt-br/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#30490 Fix layout issue in docs pages, like jobs
  assets/scss/_custom.scss
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#30477 Enhance readability regarding Slack info in Readme.md
  README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#30440 Remove the link as refereneced content is missing
  content/en/docs/concepts/services-networking/connect-applications-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30443 Add shannon to reviewers
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#30405 [en] update custom-resources
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30496 Remove link to compromised github account
  content/en/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30483 [ko] Update links in dev-1.21-ko.8
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/concepts/services-networking/service-traffic-policy.md
  content/ko/docs/concepts/workloads/pods/disruptions.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/tasks/manage-daemon/update-daemon-set.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#30498 Update incorrect GH profile link
  content/en/blog/_posts/2020-10-12-steering-committee-results.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#30497 [zh] Remove BoundServiceAccountTokenVolume from service-account-admin page
  content/zh/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30479 [id] update link
  content/id/docs/reference/access-authn-authz/rbac.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#30385 Refer ServiceAccountTokenVolumeProjection documentation instead of providing incorrect instructions.
  content/en/docs/tasks/extend-kubernetes/setup-konnectivity.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#30512 Remove link to compromised github account
  content/en/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#30225 PodSecurity: runAsUser docs
  content/en/docs/concepts/security/pod-security-standards.md
Labels: cncf-cla: yes, size/S, lgtm, sig/auth, sig/docs, approved, language/en

#30366 storage: document Windows projected volume limitations
  content/en/docs/concepts/storage/projected-volumes.md
  content/en/docs/concepts/storage/volumes.md
  content/en/examples/pods/storage/projected-secret-downwardapi-configmap.yaml
  content/en/examples/pods/storage/projected-secrets-nondefault-permission-mode.yaml
  content/en/examples/pods/storage/projected-service-account-token.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/storage, sig/windows, sig/docs, approved, language/en

#30288 Remove "basic" from supported API auth methods
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, sig/docs, approved, language/en

#29460 Fixes grammatical errors in Kubespray setup doc
  content/en/docs/setup/production-environment/tools/kubespray.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, tide/merge-method-squash, language/en

#30513 Add mehabhalodiya as (en) reviewer for SIG Docs
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#30521 Add k8s.dev url to Community page
  content/en/community/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#28226 Add docs about auth differences between Docker and Kubernetes
  content/en/docs/concepts/containers/images.md
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, language/en

#30504 Update 'Quantity' glossary definition to explain acronym SI
  content/en/docs/reference/glossary/quantity.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, language/id

#30509 Add warning about using unsupported CRON_TZ
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, sig/apps, language/en

#29751 Pod Resource API: graduate getAllocatableResources to Beta
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#30542 [zh]: Add warning about using unsupported CRON_TZ
  content/zh/docs/concepts/workloads/controllers/cron-jobs.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#30541 [zh] Update apparmor.md
  content/zh/docs/tutorials/clusters/apparmor.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#29399 [hi] Add content/hi/docs/tutorials/kubernetes-basics/explore/_index.md
  content/hi/docs/tutorials/kubernetes-basics/explore/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#30549 Update debug-pod-replication-controller.md
  content/zh/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30554 replace dead links
  content/en/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en
