Repository kubernetes/website, pull requests merged in 2022-02, with the labels that each got.

#31556 Dockershim removal from concepts/containers/container-environment
  content/en/docs/concepts/containers/container-environment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31372 Tidy kubeadm HA guide
  content/en/docs/setup/production-environment/tools/kubeadm/ha-topology.md
  content/en/docs/setup/production-environment/tools/kubeadm/high-availability.md
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en, refactor

#31570 Direct support query submitters to Server Fault
  .github/ISSUE_TEMPLATE/support.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31466 Updated overview section of ConfigMaps
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31408 Update service-traffic-policy.md
  content/en/docs/concepts/services-networking/service-traffic-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#31359 docs: modify grammatical error ✏️
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31315 Updated managed-resource-containers.md
  content/en/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31244 [en] fix meetup link
  content/en/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31569 Synchronize Polish README with the upstream version
  README-pl.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pl

#31387 Update encrypt-data.md - multi-master configuration notice
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31590 update patch releases for February cycle
  content/en/releases/patch-releases.md
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#31331 Clean up docker references from Service documentations
  content/en/docs/concepts/services-networking/connect-applications-service.md
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#31237 Added the note for --service-account-issuer flag.
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, sig/docs, approved, tide/merge-method-squash, language/en

#31320 Add help docs for module-check and module-init
  Makefile
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#31419 Configure multiple schedulers: switch to the secure ports
  content/en/examples/admin/sched/my-scheduler.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/scheduling, approved, language/en, language/ja, language/zh

#31591 Update TLS doc to use example signer for arbitrary https server
  content/en/docs/tasks/tls/managing-tls-in-a-cluster.md
  content/en/examples/tls/server-signing-config.json
Labels: cncf-cla: yes, size/L, lgtm, sig/auth, sig/docs, approved, language/en, sig/security

#31464 Update kubelet reference
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#31599 Tidy docs for ServiceLoadBalancerClass and ServiceLBNodePortControl features
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#31594 Mark blogs older than a year as outdated
  data/i18n/en/en.toml
  layouts/partials/deprecation-warning.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog, area/web-development

#31316 Migrate crictl to docker-cli mapping to references
  content/en/docs/reference/tools/_index.md
  content/en/docs/reference/tools/map-crictl-dockercli.md
  content/en/docs/tasks/debug-application-cluster/crictl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, sig/docs, approved, language/en

#31582 Update _index.html to include latest details and links for KubeCon
  content/de/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#31610 Add container image signing docs
  content/en/releases/download.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#31440 Catch APF description up with recent developments
  content/en/docs/concepts/cluster-administration/flow-control.md
  content/en/examples/priority-and-fairness/health-for-strangers.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/api-machinery, sig/docs, approved, language/en

#31617 [ko] Update outdated files in dev-1.23-ko.1 (M13-M16)
  content/ko/docs/concepts/extend-kubernetes/_index.md
  content/ko/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/ko/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#31554 Clarify that HPA controller searches for labels
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31567 [ja] fixed the list container images by pod section
  content/ja/docs/tasks/access-application-cluster/list-all-running-container-images.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#31635 Wrap long lines for hugo-shortcodes page
  content/en/docs/contribute/style/hugo-shortcodes/index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#31638 [ko] Fix merge conflict between dev-1.23-ko.1 and main
  content/ko/_index.html
  content/ko/docs/concepts/cluster-administration/addons.md
  content/ko/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#31634 Fix links in feature gates
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/en

#31568 [ko] Fix typo in persistent-volumes
  content/ko/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#31642 Fix permissions for two Sass files
  assets/scss/_reset.scss
  assets/scss/_skin.scss
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, area/web-development

#31643 Fix incorrect markup for navbar
  layouts/partials/navbar.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#31619 pt: Fixed outdated Portuguese content to mention latest KubeCon 2022 conference
  content/pt-br/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#31242 Blog on SIG Multicluster Spotlight 2022
  content/en/blog/_posts/2022-02-07-sig-multicluster-spotlight/index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/en, area/blog

#31388 set hpa examples to current networking api version
  content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, sig/autoscaling, language/en

#31629 Fix link in create hostprocess pod page
  content/en/docs/tasks/configure-pod-container/create-hostprocess-pod.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/en

#31606 [id] add safe sysctl
  content/id/docs/tasks/administer-cluster/sysctl-cluster.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#31307 added Stack Overflow guidance
  content/en/docs/tasks/debug-application-cluster/troubleshooting.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31545 Updated Debugging Hook handlers example to remove docker reference
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#30209 [es] - Updated `kubectl` Installation Docs
  content/es/docs/tasks/tools/included/_index.md
  content/es/docs/tasks/tools/included/install-kubectl-linux.md
  content/es/docs/tasks/tools/included/install-kubectl-macos.md
  content/es/docs/tasks/tools/included/install-kubectl-windows.md
  content/es/docs/tasks/tools/included/kubectl-convert-overview.md
  content/es/docs/tasks/tools/included/kubectl-whats-next.md
  content/es/docs/tasks/tools/included/optional-kubectl-configs-bash-linux.md
  content/es/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
  content/es/docs/tasks/tools/included/optional-kubectl-configs-zsh.md
  content/es/docs/tasks/tools/included/verify-kubectl.md
  content/es/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/es

#31286 Update logging.md
  content/en/docs/concepts/cluster-administration/logging.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, tide/merge-method-squash, language/en

#31528 Collate and list resources about the dockershim removal
  content/en/docs/reference/node/_index.md
  content/en/docs/reference/node/topics-on-dockershim-and-cri-compatible-runtimes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#31624 Removed: link to broken RSS feed
  content/en/docs/reference/issues-security/security.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31506 Add Pomerium Ingress Controller to list.
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31666 [zh] Update "CLuster" to "Cluster"
  content/zh/docs/reference/access-authn-authz/rbac.md
  content/zh/docs/setup/production-environment/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31604 kubeadm: add missing guide for "kubeconfig user"
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-kubeconfig.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: cncf-cla: yes, size/M, lgtm, kind/feature, sig/cluster-lifecycle, sig/docs, approved, language/en

#31572 Update doc for reserved memory flag
  content/en/docs/tasks/administer-cluster/memory-manager.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31397 Update assign-pod-node.md
  content/zh/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30863 Add pt-br/docs/concepts/overview/working-with-objects/field-selectors.md
  content/pt-br/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pt

#31662 Revise dockershim removal article list
  content/en/docs/reference/node/topics-on-dockershim-and-cri-compatible-runtimes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#31622 fix: modify prepositions 📝
  content/en/docs/concepts/services-networking/topology-aware-hints.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31628 Fix crictl page
  content/en/docs/tasks/debug-application-cluster/crictl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, sig/docs, approved, kind/cleanup, language/en

#31670 [zh]Resync concepts configuration overview file
  content/zh/docs/concepts/configuration/overview.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31597 [uk] Minikube installation guide grammar fix
  content/uk/docs/tasks/tools/install-minikube.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/uk

#31679 Remove docker pull command in Debug > Troubleshoot Applications
  content/en/docs/tasks/debug-application-cluster/debug-application.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31681 [id] correct separator in generated ConfigMap
  content/id/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#31684 [zh-docs] typo fix
  content/zh/docs/concepts/containers/container-lifecycle-hooks.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31691 [zh]Resync concepts configuration configmap file
  content/zh/docs/concepts/configuration/configmap.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#30141 Docs to change Container runtime
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, sig/docs, approved, tide/merge-method-squash, language/en

#31716 [pt-br] Fix broken links due to using githubbranch param
  content/pt-br/docs/concepts/cluster-administration/logging.md
  content/pt-br/docs/concepts/configuration/overview.md
  content/pt-br/docs/concepts/containers/container-environment.md
  content/pt-br/docs/reference/access-authn-authz/bootstrap-tokens.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#31668 Fix typo in Horizontal Pod Autoscaling.
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, sig/autoscaling, language/en

#31595 Tidy page “Manage TLS Certificates in a Cluster”
  content/en/docs/tasks/tls/managing-tls-in-a-cluster.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#31623 Recolor warning about old blog articles
  assets/scss/_custom.scss
  layouts/partials/deprecation-warning.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#31715 [es] Fix broken links due to using githubbranch param
  content/es/docs/concepts/overview/what-is-kubernetes.md
  content/es/docs/concepts/storage/volumes.md
  content/es/docs/concepts/workloads/controllers/jobs-run-to-completion.md
  content/es/docs/concepts/workloads/controllers/statefulset.md
  content/es/docs/tasks/debug-application-cluster/audit.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/es

#31702 Update link to TECHNET article about Windows NAT
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#31283 Graduate NonPreemptingPriority to GA
  content/en/docs/concepts/scheduling-eviction/pod-priority-preemption.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31717 [ru] Fix broken links due to using githubbranch param
  content/ru/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#31714 [it] Fix broken links due to using githubbranch param
  content/it/docs/concepts/cluster-administration/logging.md
  content/it/docs/concepts/cluster-administration/manage-deployment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/it

#30973 [zh] Translation of the kube-proxy configuration struct
  content/zh/docs/reference/config-api/kube-proxy-config.v1alpha1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#31177 [zh] Translate migrate from PSP
  content/zh/docs/tasks/configure-pod-container/migrate-from-psp.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31435 [zh] Resync configuration overview
  content/zh/docs/concepts/configuration/overview.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#31685 [zh] Resync configure multiple schedulers file
  content/zh/docs/tasks/extend-kubernetes/configure-multiple-schedulers.md
  content/zh/examples/admin/sched/my-scheduler.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31439 [zh] Resync web UI dashboard page
  content/zh/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31437 [zh] Resync managing TLS in a cluster
  content/zh/docs/tasks/tls/managing-tls-in-a-cluster.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#31720 Change language so that docker is an example
  content/en/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31701 Fix link of XFS project quotas in manage-resources-containers
  content/en/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31682 Add configuration reference for API server encryption
  content/en/docs/reference/_index.md
  content/en/docs/reference/config-api/apiserver-encryption.v1.md
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#31608 Update TTL mechanism in Job to stable feature state
  content/en/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, sig/apps, language/en

#31238 [zh] Translate enforce standards-namespace-labels page
  content/zh/docs/tasks/configure-pod-container/enforce-standards-namespace-labels.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31239 [zh] Translate enforce-standards-admission-controller.md
  content/zh/docs/tasks/configure-pod-container/enforce-standards-admission-controller.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31631 Fix the cascading deletion page
  content/en/docs/tasks/administer-cluster/use-cascading-deletion.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#31729 Update memory-default-namespace.md
  content/en/docs/tasks/administer-cluster/manage-resources/memory-default-namespace.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31630 Fix links in security context page
  content/en/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#31732 [zh] add link to lightkube in community-maintained client libraries
  content/zh/docs/reference/using-api/client-libraries.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31178 [zh] Translate dual-stack-support page
  content/zh/docs/setup/production-environment/tools/kubeadm/dual-stack-support.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31443 [zh] Resync authentication page
  content/zh/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#31754 Fix finalizer doc
  content/en/docs/reference/glossary/finalizer.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31742 Update reviewers from SIG-UI
  content/en/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31757 docs: remove redundant word 📝
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31760 Delete broken link (contiv.io)
  content/en/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31751 [zh]fix guestbook.md: 原文："面向生产的" 斜体未生效
  content/zh/docs/tutorials/stateless-application/guestbook.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31500 [zh]Fix tools/kubeadm/high-availablility.md display format
  content/zh/docs/setup/production-environment/tools/kubeadm/high-availability.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#31747 [ru] Update hyperlinks to point to main branch
  content/ru/docs/contribute/generate-ref-docs/quickstart.md
  content/ru/docs/contribute/intermediate.md
  content/ru/docs/contribute/localization.md
  content/ru/docs/contribute/participating.md
  content/ru/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ru

#31175 [zh] Translate create hostprocess pod
  content/zh/docs/tasks/configure-pod-container/create-hostprocess-pod.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31655 SIG Node CI Subproject celebrates two years of test improvements
  content/en/blog/_posts/2022-02-16-sig-node-ci-subproject-celebrates/index.md
  content/en/blog/_posts/2022-02-16-sig-node-ci-subproject-celebrates/release-mostly-green.png
  content/en/blog/_posts/2022-02-16-sig-node-ci-subproject-celebrates/serial-tests-green.png
Labels: cncf-cla: yes, size/L, lgtm, sig/node, sig/docs, approved, language/en, area/blog

#31728 Fix typo in certificates page
  content/zh/docs/tasks/administer-cluster/certificates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31730 Update memory-default-namespace.md
  content/en/docs/tasks/administer-cluster/manage-resources/memory-default-namespace.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31777 Update links to Dockershim Removal FAQ
  content/en/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md
  content/en/docs/reference/node/topics-on-dockershim-and-cri-compatible-runtimes.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en, area/blog

#31773 [zh] Add glossary_tooltip for StatefulSet
  content/zh/docs/concepts/overview/working-with-objects/common-labels.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31783 [zh] Correcting DNS record for pods exposed by a Service
  content/zh/docs/concepts/services-networking/dns-pod-service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#31774 [ko] fix description of the access mode of pv
  content/ko/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#31312 [pt-br] add translation to concepts/cluster-administration/proxies.md
  content/pt-br/docs/concepts/cluster-administration/proxies.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pt

#31798 Fixed typo in feature-gates.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31174 [zh] Translate cascading deletion task
  content/zh/docs/tasks/administer-cluster/use-cascading-deletion.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#31800 fix error display string
  layouts/shortcodes/feature-state.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#31056 Improvements for Mermaid support
  assets/scss/_custom.scss
  data/i18n/en/en.toml
  layouts/partials/scripts.html
  layouts/shortcodes/mermaid.html
  static/js/mermaid.min.js
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/web-development

#31787 Add API server config reference (v1alpha1)
  content/en/docs/concepts/cluster-administration/system-traces.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/config-api/apiserver-config.v1alpha1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#31803 [zh] add link to lightkube
  content/zh/docs/reference/using-api/client-libraries.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31804 Ensure “Download Kubernetes” link goes to right page #31794
  content/en/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31764 mention about monthly meeting in NCA responsibilities
  content/en/docs/contribute/advanced.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31759 Adding a warning to Windows docs for NodePort service issues on WS2022
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/windows, sig/docs, approved, tide/merge-method-squash, language/en

#31735 [StorageClasses] Add gp3 to available ebs volume types
  content/en/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, language/en

#31672 operator: add `Kopf` framework to list of libraries
  content/en/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29396 [hi] Add content/hi/docs/tutorials/hello-minikube.md
  content/hi/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/hi

#31621 Added docs for kubernetes.io/description
  content/en/docs/reference/labels-annotations-taints.md
Labels: cncf-cla: yes, size/S, lgtm, sig/auth, sig/docs, approved, language/en

#31563 correct references to service-account-signing-key-file flag
  content/en/docs/reference/command-line-tools-reference/kube-apiserver.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31558 update resource metrics pipeline section
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#31278 [ja] Fix kubernetes-api.md
  content/ja/docs/concepts/overview/kubernetes-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#31766 [ja] fix translation cordon/uncordon
  content/ja/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#31762 [ko] Remove invisible chars
  content/ko/docs/concepts/cluster-administration/logging.md
  content/ko/docs/concepts/cluster-administration/manage-deployment.md
  content/ko/docs/concepts/configuration/manage-resources-containers.md
  content/ko/docs/concepts/containers/_index.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/ko/docs/concepts/policy/pod-security-policy.md
  content/ko/docs/concepts/policy/resource-quotas.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/storage/persistent-volumes.md
  content/ko/docs/concepts/workloads/pods/_index.md
  content/ko/docs/contribute/review/for-approvers.md
  content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/ko/docs/tasks/tls/managing-tls-in-a-cluster.md
  content/ko/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#31828 Changing "VMs" to "machines" in this sentence
  content/en/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31703 [ja] Fix broken links due to using githubbranch param
  content/ja/docs/concepts/cluster-administration/manage-deployment.md
  content/ja/docs/concepts/configuration/overview.md
  content/ja/docs/concepts/containers/container-environment.md
  content/ja/docs/concepts/services-networking/connect-applications-service.md
  content/ja/docs/concepts/services-networking/service.md
  content/ja/docs/concepts/workloads/controllers/statefulset.md
  content/ja/docs/setup/best-practices/multiple-zones.md
  content/ja/docs/setup/production-environment/turnkey/aws.md
  content/ja/docs/setup/production-environment/turnkey/gce.md
  content/ja/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/ja/docs/tasks/configure-pod-container/configure-projected-volume-storage.md
  content/ja/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja

#31687 kubeadm: update legacy kubelet config map information and document feature gates
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
  content/en/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver.md
Labels: cncf-cla: yes, size/M, lgtm, kind/feature, sig/cluster-lifecycle, sig/docs, approved, language/en

#31832 Remove dead link to svc-cat.io
  content/en/docs/concepts/extend-kubernetes/service-catalog.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31667 Removed kubenet reference from docs
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
  content/en/docs/concepts/services-networking/dual-stack.md
  content/en/docs/setup/best-practices/node-conformance.md
  content/en/docs/tasks/network/validate-dual-stack.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#31846 Replaced "master" with newer terms in two places
  content/en/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, tide/merge-method-squash, language/en

#31830 Adding an example
  content/en/docs/concepts/cluster-administration/logging.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#31836 Added Hyperlink to RFC3339.
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#31860 [zh]translate node reference info
  content/zh/docs/reference/node/_index.md
  content/zh/docs/reference/node/topics-on-dockershim-and-cri-compatible-runtimes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31843 [en] update yaml docs
  content/en/docs/tutorials/stateful-application/zookeeper.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#31820 Fix golang client-go/tools/cache package name
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31861 [zh]fix display issue of Control Plane in glossary
  content/zh/docs/reference/glossary/control-plane.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31826 [pt-br] update schedule
  content/pt-br/examples/application/job/cronjob.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#31436 [ja]Translate concepts/storage/projected-volumes into Japanese
  content/ja/docs/concepts/storage/projected-volumes.md
  content/ja/docs/reference/access-authn-authz/authentication.md
  content/ja/examples/pods/storage/projected-secret-downwardapi-configmap.yaml
  content/ja/examples/pods/storage/projected-secrets-nondefault-permission-mode.yaml
  content/ja/examples/pods/storage/projected-service-account-token.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja

#31613 [de] Fix typos in `README`
  README-de.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, tide/merge-method-squash, language/de

#31726 Simplify commands.
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31875 Remove docker mention in bugs guidance
  content/en/docs/tasks/debug-application-cluster/troubleshooting.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31865 [en] Solved some typos "hostname of FQDN" and "PowerShell"
  content/en/docs/tasks/configure-pod-container/configure-gmsa.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31876 [zh] update schedule
  content/zh/examples/application/job/cronjob.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31877 Correct the name: CertificateSigningRequests
  content/en/docs/reference/access-authn-authz/node.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31863 Fixed typo in cpu-constraint-namespace.md & memory-default-namespace.md
  content/en/docs/tasks/administer-cluster/manage-resources/cpu-constraint-namespace.md
  content/en/docs/tasks/administer-cluster/manage-resources/memory-default-namespace.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31883 Adding kube-proxy to the command line tools list in this page
  content/en/docs/concepts/extend-kubernetes/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31879 add 3rd party pod security options
  content/en/docs/setup/best-practices/enforcing-pod-security-standards.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31842 [zh] Update some grammar and spelling mistakes
  content/zh/docs/tutorials/stateful-application/zookeeper.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31752 [zh] resync pod-lifecycle page
  content/zh/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31845 Stop recommending people scrape auto-generated service account tokens
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/tasks/access-application-cluster/access-cluster.md
  content/en/docs/tasks/administer-cluster/access-cluster-api.md
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, sig/docs, approved, language/en

#31782 Rewrite PodSecurityPolicy migration guide
  assets/scss/_custom.scss
  content/en/docs/concepts/policy/pod-security-policy.md
  content/en/docs/concepts/security/pod-security-standards.md
  content/en/docs/reference/access-authn-authz/psp-to-pod-security-standards.md
  content/en/docs/tasks/configure-pod-container/migrate-from-psp.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/auth, sig/docs, kind/documentation, approved, tide/merge-method-squash, language/en, sig/security

#31892 volume populators: fix urls and add url for populator crd
  content/en/blog/_posts/2021-08-30-volume-populators-alpha.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#31894 Fixup service account token doc
  content/en/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31898 [es] Fix the download link to kubectl convert plugin for bash
  content/es/docs/tasks/tools/included/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es
