Repository kubernetes/website, pull requests merged in 2022-07, with the labels that each got.

#34738 [zh-cn]Sync content/zh-cn/docs/reference/_index.md
  content/zh-cn/docs/reference/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34737 [zh-cn]Sync content/zh-cn/docs/tutorials/security/cluster-level-pss.md
  content/zh-cn/docs/tutorials/security/cluster-level-pss.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#34743 Fix a minor typo in intro.md
  content/en/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34732 [kr] fix text
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#34558 [zh-cn] Resync reserve-compute-resources page
  content/zh-cn/docs/tasks/administer-cluster/reserve-compute-resources.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34580 [zh-cn] Resync some MySQL example YAMLs
  content/zh-cn/examples/application/mysql/mysql-configmap.yaml
  content/zh-cn/examples/application/mysql/mysql-services.yaml
  content/zh-cn/examples/application/mysql/mysql-statefulset.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#34596 [zh-cn] Resync debug pods page
  content/zh-cn/docs/tasks/debug/debug-application/debug-pods.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#34588 [zh-cn] Resync kubeadm init page
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34751 [zh-cn] Update custom-resource-definition-versioning.md
  content/zh-cn/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34605 [zh-cn] Resync change runtime to containerd
  content/zh-cn/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34615 [zh-cn] Resync setup etcd HA cluster page
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34619 [zh-cn] Resync control-plane node communication page
  content/zh-cn/docs/concepts/architecture/control-plane-node-communication.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34582 [zh-cn] Resync Windows debug page
  content/zh-cn/docs/tasks/debug/debug-cluster/windows.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34603 [zh-cn] Resync static-pod page
  content/zh-cn/docs/tasks/configure-pod-container/static-pod.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34602 [zh-cn] Resync taint-and-toleration page
  content/zh-cn/docs/concepts/scheduling-eviction/taint-and-toleration.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34589 [zh-cn] Resync container-runtimes page
  content/zh-cn/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34606 [zh-cn] Resync sockets5 proxy page
  content/zh-cn/docs/tasks/extend-kubernetes/socks5-proxy-access-api.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34587 [zh-cn] Rresync manual rotation of CA
  content/zh-cn/docs/tasks/tls/manual-rotation-of-ca-certificates.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34385 Translate tasks/debug/debug-cluster/monitor-node-health into Korean
  content/ko/docs/tasks/debug/debug-cluster/monitor-node-health.md
  content/ko/examples/debug/node-problem-detector-configmap.yaml
  content/ko/examples/debug/node-problem-detector.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#34763 Update content/en/releases/release-managers.md
  content/en/releases/release-managers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#34648 Fix hyperlink within Release Managers page
  content/en/releases/release-managers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#34719 Fix links in release.md
  content/en/releases/release.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#34741 [zh-cn] resync token-request-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authentication-resources/token-request-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34618 [zh-cn] Resync the flow control concept page
  content/zh-cn/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34735 [zh-cn] Resync patch releases page
  content/zh-cn/releases/patch-releases.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34681 [ru] fix link about Katacoda
  content/ru/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#34744 [zh-cn] resync component-status-v1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/component-status-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34757 [zh-cn] resync comments in code
  content/zh-cn/examples/application/mysql/mysql-deployment.yaml
  content/zh-cn/partners/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34450 Updated cheatsheet.md with 'get taints' command
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34376 Reformat the open a PR page
  content/en/docs/contribute/new-content/open-a-pr.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/en

#34769 [zh-cn]Sync content/zh-cn/docs/contribute/_index.md
  content/zh-cn/docs/contribute/_index.md
  content/zh-cn/docs/contribute/advanced.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34749 [zh-cn] resync runtime-class-v1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/runtime-class-v1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#34772 Fix typo in doc - bindPorti
  content/en/docs/reference/config-api/kubeadm-config.v1beta3.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34760 Corrected typo's on en & zh-cn 2022-02-17-updated-dockershim-faq.md files
  content/en/blog/_posts/2022-02-17-updated-dockershim-faq.md
  content/zh-cn/blog/_posts/2022-02-17-updated-dockershim-faq.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, language/zh, area/blog

#34776 [uk] fix minor typos expose-intro.html
  content/uk/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk

#34775 [zh-cn]Sync content/zh-cn/docs/setup/production-environment/_index.md
  content/zh-cn/docs/setup/production-environment/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34664 [zh-cn] Improve release-managers.md
  content/zh-cn/releases/release-managers.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34770 [zh-cn]Sync content/zh-cn/docs/contribute/participate/roles-and-responsibilities.md
  content/zh-cn/docs/contribute/participate/_index.md
  content/zh-cn/docs/contribute/participate/roles-and-responsibilities.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34768 [ko] Enhance translation for assign-pod-node in dev-1.24-ko.1
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#34787 [ko] Resolve conflict to merge `dev-1.24-ko.1`
  content/ko/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ko/examples/pods/pod-with-affinity-anti-affinity.yaml
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/ko

#34790 [zh-cn] Improve workloads/controllers/job.md
  content/zh-cn/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34766 Small Typo Fix
  content/zh-cn/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34745 [zh-cn]Fixed a word in install-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34778 [zh-cn] Fix links in access-authn-authz page
  content/zh-cn/docs/reference/access-authn-authz/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34783 [zh-cn] Resync psp-to-pss page
  content/zh-cn/docs/reference/access-authn-authz/psp-to-pod-security-standards.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#34780 [zh-cn] Update reference index
  content/zh-cn/docs/reference/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34782 [zh-cn] Update authorization page
  content/zh-cn/docs/reference/access-authn-authz/authorization.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34774 [zh-cn]Update content/zh-cn/docs/setup/_index.md
  content/zh-cn/docs/setup/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#34777 [zh-cn] Resync admission controllers page
  content/zh-cn/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34800 [zh-cn] fix minor typos expose-intro.html
  content/zh-cn/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34791 [zh-cn] Improve workloads/controllers/replicaset.md
  content/zh-cn/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34779 [zh-cn] resync policy-resources/limit-range-v1.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/limit-range-v1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#34699 Fix broken link in fr
  content/fr/docs/concepts/containers/container-environment.md
  content/fr/docs/concepts/overview/what-is-kubernetes.md
  content/fr/docs/concepts/services-networking/service.md
  content/fr/docs/concepts/storage/volumes.md
  content/fr/docs/concepts/workloads/controllers/statefulset.md
  content/fr/docs/setup/release/building-from-source.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/fr

#34789 [zh-cn] resync pod-security-policy-v1beta1.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/pod-security-policy-v1beta1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#34796 [ko] Resolve conflict to merge `dev-1.24-ko.1` into `main`
  content/ko/examples/pods/pod-with-affinity-anti-affinity.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#34812 [zh-cn]Sync content/zh-cn/docs/contribute/review/for-approvers.md
  content/zh-cn/docs/contribute/review/for-approvers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34808 [zh-cn] improve security/pod-security-policy.md
  content/zh-cn/docs/concepts/security/pod-security-policy.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34571 [zh] Migrating telemetry and security agents from dockershim
  content/zh-cn/docs/tasks/administer-cluster/migrating-from-dockershim/migrating-telemetry-and-security-agents.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, language/zh

#34818 [zh] Update the Chinese translation of "data locality"
  content/zh-cn/docs/concepts/scheduling-eviction/kube-scheduler.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34811 Update content/en/docs/concepts/storage/ephemeral-volumes.md
  content/en/docs/concepts/storage/ephemeral-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34747 [zh]translate kubernetes-api/workload-resources/horizontal-pod-autoscaler-v1.md into Chinese
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/horizontal-pod-autoscaler-v1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#34804 [zh] Resync deployment page
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#34252 [es] update es docs to use recommended labels
  content/es/docs/concepts/services-networking/service.md
  content/es/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/es

#34752 [ja] Update concepts/cluster-administration/addons.md
  content/ja/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#34833 Update content/en/docs/tutorials/stateful-application/zookeeper.md
  content/en/docs/tutorials/stateful-application/zookeeper.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34830 [zh-cn] Improve /config-api/kubeadm-config.v1beta2.md
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta2.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#34801 [zh-cn] Add downward-api.md chinese version
  content/zh-cn/docs/concepts/workloads/pods/downward-api.md
  content/zh-cn/docs/reference/glossary/downward-api.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34838 [zh-cn] Improve fine-parallel-processing-work-queue.md
  content/zh-cn/docs/tasks/job/fine-parallel-processing-work-queue.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34805 [zh-cn]Fix add anchors to all Chinese titles
  content/zh-cn/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#34845 Update logging.md
  content/zh-cn/docs/concepts/cluster-administration/logging.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34864 [zh-cn] Update certificates.md
  content/zh-cn/docs/tasks/administer-cluster/certificates.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34806 [zh-cn] resync flow-schema-v1beta2.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/flow-schema-v1beta2.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#34739 [zh-cn]Sync content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
  content/zh-cn/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34324 [fr] Update Bash alias auto-completion
  content/fr/docs/reference/kubectl/cheatsheet.md
  content/fr/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#34828 [zh-cn] Improve concepts/workloads/pods/_index.md
  content/zh-cn/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34815 [zh-cn] update service-ip-dynamic-and-static-allocation
  content/zh-cn/blog/_posts/2022-05-23-service-ip-dynamic-and-static-allocation.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#34861 Add Kusk Gateway
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31775 [ru] Typo fix: "превышет" -> "превышает"
  content/ru/docs/tasks/configure-pod-container/assign-cpu-resource.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#34827 [zh-cn] resync priority-level-configuration-v1beta2.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/priority-level-configuration-v1beta2.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#34584 Update upcoming KubeCon events
  content/en/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34163 update kubeadm pages to use registry.k8s.io
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/high-availability.md
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, sig/docs, approved, kind/cleanup, language/en, kind/deprecation, sig/k8s-infra

#34465 [en] discussions about automated-tasks-with-cron-jobs.md
  content/en/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#34883 Fix broken hyperlink on Running ZooKeeper, A Distributed System Coordinator page
  content/en/docs/tutorials/stateful-application/zookeeper.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34873 Clarify that list, get and watch can return data
  content/en/docs/reference/access-authn-authz/authorization.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34900 Fix broken link on Communication between Nodes and the Control Plane page
  content/en/docs/concepts/architecture/control-plane-node-communication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#34872 Update hyperlink for installing cosign
  content/en/docs/tasks/administer-cluster/verify-signed-images.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, kind/cleanup, language/en

#34850 Update cheatsheet.md
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34799 Update kubelet reference for 1.24
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#34917 [zh-cn] typo: Fix "tains" in kubeadm-config.v1beta2 & v1beta3 documentation
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta2.md
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta3.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34916 [en] typo: Fix "tains" in kubeadm-config.v1beta3 documentation
  content/en/docs/reference/config-api/kubeadm-config.v1beta3.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34893 [zh-cn] updated three glossary files
  content/zh-cn/docs/reference/glossary/node.md
  content/zh-cn/docs/reference/glossary/pod-lifecycle.md
  content/zh-cn/docs/reference/glossary/service-catalog.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_delete.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#34740 Tweak extensible admission controllers page
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, kind/cleanup, language/en

#34898 [zh-cn] updated /tutorials/stateful-application/zookeeper.md
  content/zh-cn/docs/tutorials/stateful-application/zookeeper.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34380 Batch fix links (3)
  content/en/docs/concepts/scheduling-eviction/node-pressure-eviction.md
  content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/en/docs/concepts/security/pod-security-standards.md
  content/en/docs/concepts/security/rbac-good-practices.md
  content/en/docs/concepts/security/windows-security.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/storage/ephemeral-volumes.md
  content/en/docs/concepts/workloads/_index.md
  content/en/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#34159 kubeadm: update unversioned kubelet config map fg info
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: cncf-cla: yes, size/S, lgtm, kind/feature, sig/cluster-lifecycle, sig/docs, approved, language/en

#33829 Updated references in different pages with the correct titles
  content/en/docs/concepts/overview/working-with-objects/object-management.md
  content/en/docs/tasks/manage-kubernetes-objects/imperative-command.md
  content/en/docs/tasks/manage-kubernetes-objects/imperative-config.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/en

#34918 [en] fix images address of Kubernetes Release Cycle
  content/en/releases/release.md
  static/images/releases/release-cycle.jpg
  static/images/releases/release-lifecycle.jpg
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#34894 [zh-cn] updated soon-to-be-broken link
  content/zh-cn/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34846 [zh]fix image address of kubernetes release cycle
  content/zh-cn/releases/release-cycle.jpg
  content/zh-cn/releases/release-lifecycle.jpg
  content/zh-cn/releases/release.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34821 [zh-cn] Translate /docs/concepts/security/multi-tenancy/ to Chinese #…
  content/zh-cn/docs/concepts/security/multi-tenancy.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#34723 Translate ingress-class-v1.md into chinese
  content/zh-cn/docs/reference/kubernetes-api/service-resources/ingress-class-v1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#34890 [zh-cn] updated controllers/statefulset.md
  content/zh-cn/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34098 Remove section about the localhost port
  content/en/docs/concepts/security/controlling-access.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#34831 [zh-cn]Sync content/zh-cn/docs/contribute/new-content/new-features.md
  content/zh-cn/docs/contribute/new-content/new-features.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#34895 Quote paths in Makefile
  Makefile
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#34929 Adopt “Avoid recommending a local container image build” changes for zh
  README-zh.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#34259 kubeadm: document the option to use kubeletconfiguration patches
  content/en/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md
  content/en/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: cncf-cla: yes, size/M, lgtm, kind/feature, sig/cluster-lifecycle, sig/docs, approved, language/en

#34750 [ko] Fixed translation error in apiserver-aggregation page
  content/ko/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/ko

#34950 Fixed markdown not working in tabs.
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#32491 Cheatsheet syntax to retrieve Secret values with dashes (-) in their key names
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34847 Replaced all k/website in localization guide with kubernetes/website …
  content/en/docs/contribute/localization.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#34959 [zh]Update localization.md
  content/zh-cn/docs/contribute/localization.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34957 [zh-cn]Update kubectl/_index.md
  content/zh-cn/docs/reference/kubectl/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34878 Fix format for APAC blog post
  content/en/blog/_posts/2022-01-10-meet-our-contributors-APAC-India-region-01.md
  content/en/blog/_posts/2022-03-15-meet-our-contributors-APAC-AU-NZ-region-02.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/en, area/blog

#34937 [zh-cn] Translate PDB-v1
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/pod-disruption-budget-v1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#34965 [zh-cn]Update pod-with-affinity-anti-affinity.yaml
  content/zh-cn/examples/pods/pod-with-affinity-anti-affinity.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34266 fix typo in job example
  content/en/examples/controllers/job.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34975 [zh-cn]Fixed a word in explore-intro.html
  content/zh-cn/docs/tutorials/kubernetes-basics/explore/explore-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34870 [zh-cn] Translate ValidatingWebhookConfiguration-v1
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/validating-webhook-configuration-v1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#34904 [zh-cn] resync /partners/_index.html
  content/zh-cn/partners/_index.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#34980 Updated the expired link for Configuration option
  content/en/docs/tasks/administer-cluster/verify-signed-images.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#34954 Fix KubeletCredentialProvider feature state
  content/en/docs/tasks/kubelet-credential-provider/kubelet-credential-provider.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#34839 Fix wrong guide for egress selection.
  content/en/examples/admin/konnectivity/egress-selector-configuration.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34936 [ko] branch name in 'Korean L10n guide' page is updated
  content/ko/docs/contribute/localization_ko.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#34992 [zh-cn] updated /stateful-application/cassandra.md
  content/zh-cn/docs/tutorials/stateful-application/cassandra.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34993 [zh-cn]Fix some expired link
  content/zh-cn/docs/tasks/administer-cluster/verify-signed-images.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34990 [zh-cn] Fix KubeletCredentialProvider feature state
  content/zh-cn/docs/tasks/kubelet-credential-provider/kubelet-credential-provider.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34994 [zh-cn]Update cheatsheet.md
  content/zh-cn/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35005 Fixing a typo in Gateway API blog post
  content/en/blog/_posts/2022-07-13-gateway-api-in-beta.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en, area/blog

#34976 Migrate to latest versioning document
  content/en/docs/reference/using-api/_index.md
  content/en/releases/release.md
  content/en/releases/version-skew-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, kind/cleanup, language/en, area/release-eng

#34983 [zh-cn]Fix wrong translation of authentication for extension apiserver
  content/zh-cn/docs/tasks/extend-kubernetes/configure-aggregation-layer.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34941 Fix quantity case for ephemeral storage
  content/en/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#35007 [ja] Fix typo in secret.md
  content/ja/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#34938 Update kubespray docs.
  content/en/docs/setup/production-environment/tools/kubespray.md
  content/fr/docs/setup/custom-cloud/kubespray.md
  content/ja/docs/setup/production-environment/tools/kubespray.md
  content/ko/docs/setup/production-environment/tools/kubespray.md
  content/zh-cn/docs/setup/production-environment/tools/kubespray.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, language/ko, language/ja, language/zh, language/fr

#35008 Updated the style-guide doc to remove Katacoda hyperlink
  content/en/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#34962 [vi] resync /partners/_index.html
  content/vi/partners/_index.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/vi

#35040 Update patch release markers and dates
  content/en/releases/patch-releases.md
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#35048 Fix a number error in open-a-pr.md
  content/en/docs/contribute/new-content/open-a-pr.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34974 Update README-zh.md
  README-zh.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#34849 [zh] Localize API documentation for Service
  content/zh-cn/docs/reference/kubernetes-api/service-resources/service-v1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#35056 [zh-cn]fix-some-overdue-links in API Overview
  content/zh-cn/docs/reference/using-api/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35055 [zh] updated /tasks/job/indexed-parallel-processing-static.md
  content/zh-cn/docs/tasks/job/indexed-parallel-processing-static.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#34717 translate Kubernetes 1.24: Stargazer into Chinese
  content/zh-cn/blog/_posts/2022-05-03-kubernetes-release-1.24.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#35060 Fix broken link on Windows containers in Kubernetes page.
  content/en/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#34383 Batch fix links (5)
  content/en/docs/reference/access-authn-authz/psp-to-pod-security-standards.md
  content/en/docs/reference/glossary/extensions.md
  content/en/docs/reference/glossary/garbage-collection.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#34640 Graduate SeccompDefault feature to beta
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tutorials/security/seccomp.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#34219 Cinder conditionally supports ReadWriteMany volumes
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, tide/merge-method-squash, language/en

#34785 Fix regressions in node affinity docs
  content/en/examples/pods/pod-with-affinity-anti-affinity.yaml
  content/en/examples/pods/pod-with-node-affinity.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/en

#34716 added access to the statements explaining cluster role
  content/en/docs/reference/access-authn-authz/rbac.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, sig/docs, approved, language/en

#35049 [en] fix typos in /projected-volumes.md
  content/en/docs/concepts/storage/projected-volumes.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/en
