Repository kubernetes/website, pull requests merged in 2022-05, with the labels that each got.

#33355 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33353 [zh] update content/zh/docs/reference/setup-tools/kubeadm/generated/k…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33344 [en] Update tools/_index.md remove old helm definition
  content/en/docs/reference/tools/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#33350 [zh]Update content/zh/docs/concepts/overview/components.md
  content/zh/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33330 [zh]Update content/zh/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
  content/zh/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33332 [zh]Add content/zh/docs/tasks/debug/debug-application/get-shell-running-container.md
  content/zh/docs/tasks/debug/debug-application/get-shell-running-container.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#33347 [zh] sync content/zh/docs/tasks/debug/debug-cluster/local-debugging.md
  content/zh/docs/tasks/debug/debug-cluster/local-debugging.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33348 [zh]Update content/zh/docs/concepts/configuration/manage-resources-containers.md
  content/zh/docs/concepts/configuration/manage-resources-containers.md
  content/zh/docs/tasks/debug/debug-cluster/resource-metrics-pipeline.md
  content/zh/docs/tasks/debug/debug-cluster/resource-usage-monitoring.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#33351 [zh] sync content/zh/docs/tasks/debug/debug-cluster/monitor-node-heal…
  content/zh/docs/tasks/debug/debug-cluster/monitor-node-health.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33352 [zh] sync Resource metrics pipeline of task section
  content/zh/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
  content/zh/docs/tasks/debug/debug-cluster/resource-metrics-pipeline.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#32919 [ru] Clean up various broken links
  content/ru/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, committee/security-response, language/ru

#33357 [zh]Sync content/zh/docs/tasks/debug/debug-cluster/crictl.md
  content/zh/docs/tasks/debug/debug-cluster/crictl.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#33359 [zh]Sync content/zh/docs/tasks/debug/debug-application/debug-service.md
  content/zh/docs/tasks/debug/debug-application/debug-service.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#33368 [zh]Update content/zh/examples/pods/probe/exec-liveness.yaml
  content/zh/examples/pods/probe/exec-liveness.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33349 [zh] add content/zh/docs/tasks/debug/debug-application/_index.md
  content/zh/docs/tasks/debug/debug-application/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33369 [zh] Sync horizontal-pod-autoscale.md
  content/zh/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33370 [zh]Update content/zh/blog/_posts/2020-12-08-kubernetes-release-1.20.md
  content/zh/blog/_posts/2020-12-08-kubernetes-release-1.20.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33394 [fr] update pod-topology-spread-constraints adding the missing schedu…
  content/fr/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#33358 [zh]Update content/zh/blog/_posts/2022-02-17-updated-dockershim-faq.md
  content/zh/blog/_posts/2022-02-17-updated-dockershim-faq.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33376 [zh] Update statefule-application/cassandra.md
  content/zh/docs/tutorials/stateful-application/cassandra.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33389 [zh]Update content/zh/docs/setup/production-environment/_index.md
  content/zh/docs/setup/production-environment/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33388 [zh]Update /docs/tasks/debug/debug-application/debug-running-pod
  content/zh/docs/concepts/workloads/pods/ephemeral-containers.md
  content/zh/docs/tasks/debug-application-cluster/debug-application.md
  content/zh/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#31527 Document using SOCKS5 to access Kubernetes API
  content/en/docs/tasks/extend-kubernetes/socks5-proxy-access-api.md
Labels: cncf-cla: yes, size/L, lgtm, sig/api-machinery, sig/docs, approved, tide/merge-method-squash, language/en

#33334 update dev-1.24 config.toml for release 1.24
  config.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#32867 Create Kubernetes 1.24 Release Blog Article
  content/en/blog/_posts/2022-05-03-kubernetes-release-1.24.md
  static/images/blog/2022-05-03-kubernetes-release-1.24/kubernetes-1.24.png
Labels: cncf-cla: yes, size/L, sig/docs, approved, tide/merge-method-squash, language/en, area/blog

#33412 update release-1.23 config.toml for release 1.24
  config.toml
Labels: cncf-cla: yes, size/M, sig/docs, do-not-merge/hold, sig/release, approved

#33337 update release-1.20 config.toml for release 1.24
  config.toml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, do-not-merge/hold, approved

#33336 update release-1.21 config.toml for release 1.24
  config.toml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, do-not-merge/hold, approved

#33335 update release-1.22 config.toml for release 1.24
  config.toml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, do-not-merge/hold, approved

#32663 Add blog article about volume expansion graduating to GA
  content/en/blog/_posts/2022-05-05-volume-expansion-ga.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#33346 [zh] Update debug-link
  content/zh/blog/_posts/2020-12-02-dockershim-faq.md
  content/zh/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33397 [zh]Update content/zh/docs/reference/access-authn-authz/extensible-admission-controllers.md
  content/zh/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33398 [zh]Update content/zh/docs/concepts/security/pod-security-admission.md
  content/zh/docs/concepts/security/pod-security-admission.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33413 Fix broken link in blog post
  content/en/blog/_posts/2022-04-28-Increasing-the-security-bar-in-Ingress-NGINX/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#33416 [zh]Update content/zh/docs/reference/command-line-tools-reference/feature-gates.md
  content/zh/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33417 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset_phase.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset_phase.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33382 [zh] Update docker-cli-to-kubectl.md
  content/zh/docs/reference/kubectl/docker-cli-to-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33386 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33422 Update links
  content/en/docs/tasks/debug/debug-application/debug-pods.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#33255 Update kubespray.md
  content/en/docs/setup/production-environment/tools/kubespray.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#33427 Removing myself from sig-docs-en-owners
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#33429 Update SOCKS5 page, follow-up to pr 31527
  content/en/docs/tasks/extend-kubernetes/socks5-proxy-access-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#33432 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/kubeadm-init…
  content/zh/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33418 Adding reference how to do configmap changes
  content/en/docs/concepts/configuration/configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#33372 [zh] sync docs/tasks/debug
  content/zh/docs/tasks/debug-application-cluster/_index.md
  content/zh/docs/tasks/debug-application-cluster/audit.md
  content/zh/docs/tasks/debug-application-cluster/crictl.md
  content/zh/docs/tasks/debug-application-cluster/debug-application-introspection.md
  content/zh/docs/tasks/debug-application-cluster/debug-cluster.md
  content/zh/docs/tasks/debug-application-cluster/debug-running-pod.md
  content/zh/docs/tasks/debug-application-cluster/debug-service.md
  content/zh/docs/tasks/debug-application-cluster/get-shell-running-container.md
  content/zh/docs/tasks/debug-application-cluster/resource-usage-monitoring.md
  content/zh/docs/tasks/debug/_index.md
  content/zh/docs/tasks/debug/debug-application/_index.md
  content/zh/docs/tasks/debug/debug-application/debug-init-containers.md
  content/zh/docs/tasks/debug/debug-application/debug-pods.md
  content/zh/docs/tasks/debug/debug-application/debug-running-pod.md
  content/zh/docs/tasks/debug/debug-application/debug-service.md
  content/zh/docs/tasks/debug/debug-application/debug-statefulset.md
  content/zh/docs/tasks/debug/debug-application/determine-reason-pod-failure.md
  content/zh/docs/tasks/debug/debug-cluster/_index.md
  content/zh/docs/tasks/debug/debug-cluster/local-debugging.md
  content/zh/docs/tasks/debug/debug-cluster/resource-metrics-pipeline.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#33438 [zh]Update content/zh/docs/setup/production-environment/tools/kubespray.md
  content/zh/docs/setup/production-environment/tools/kubespray.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33439 [zh]SYNC content/zh/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
  content/zh/docs/setup/production-environment/tools/kubespray.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33436 [zh]Update content/zh/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/zh/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33434 [zh]Update content/zh/docs/concepts/storage/volume-health-monitoring.md
  content/zh/docs/concepts/storage/volume-health-monitoring.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33433 [zh]Update content/zh/blog/_posts/2018-07-11-dynamic-kubelet-configuration.md
  content/zh/blog/_posts/2018-07-11-dynamic-kubelet-configuration.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33367 [zh]Update content/zh/docs/concepts/configuration/manage-resources-containers.md
  content/zh/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33437 [zh]Update content/zh/docs/concepts/configuration/configmap.md
  content/zh/docs/concepts/configuration/configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33378 [zh] update content/zh/docs/concepts/workloads/pods/init-containers.md
  content/zh/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33377 [zh] update content/zh/docs/reference/setup-tools/kubeadm/generated/k…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33379 [zh] update content/zh/docs/reference/labels-annotations-taints/audit…
  content/zh/docs/reference/labels-annotations-taints/audit-annotations.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33435 [zh]Sync content/zh/examples/controllers/daemonset.yaml
  content/zh/examples/controllers/daemonset.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33446 [zh]Update content/zh/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/zh/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33444 [zh]Update content/zh/docs/reference/access-authn-authz/authentication.md
  content/zh/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#33451 [zh]sync content/zh/docs/concepts/policy/resource-quotas.md
  content/zh/docs/concepts/policy/resource-quotas.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33449 [en]Modify the format content/en/docs/reference/using-api/deprecation-guide.md
  content/en/docs/reference/using-api/deprecation-guide.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#33462 [zh] remove debug-application-cluster
  content/zh/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#33465 [ru] revise page “Contributing to the Upstream Kubernetes Code”
  content/ru/docs/contribute/generate-ref-docs/contribute-upstream.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#33453 [zh]Update content/zh/docs/concepts/scheduling-eviction/assign-pod-no…
  content/zh/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33371 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_completion.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_completion.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33456 Update reference for kubeadm (1.24)
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_list.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_pull.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_all.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_coredns.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_all.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubelet.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_apply.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node_phase_kubelet-config.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_plan.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#32358 add dns troubleshooting steps for coredns permissions
  content/en/docs/tasks/administer-cluster/dns-debugging-resolution.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/network, approved, language/en

#33442 Fix heading for v1.24 release announcement
  content/en/blog/_posts/2022-05-03-kubernetes-release-1.24.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/blog

#32734 add ptux to ja reviewer
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash

#33467 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_list.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_list.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33469 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_pull.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_pull.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33470 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/ku…
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33283 [zh] sync api-concepts.md
  content/zh/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#33463 [en] fix [mapping from docker cli to crictl] link
  content/en/blog/_posts/2020-12-02-dockershim-faq.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#33455 Update component reference for 1.24
  content/en/docs/reference/command-line-tools-reference/kube-apiserver.md
  content/en/docs/reference/command-line-tools-reference/kube-controller-manager.md
  content/en/docs/reference/command-line-tools-reference/kube-proxy.md
  content/en/docs/reference/command-line-tools-reference/kube-scheduler.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#33482 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_all.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_all.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33484 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_coredns.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_coredns.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33480 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#33483 [zh]Update content/zh/docs/reference/kubectl/conventions.md
  content/zh/docs/reference/kubectl/conventions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#33454 update patch calendar
  content/en/releases/patch-releases.md
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, priority/important-soon, sig/release, approved, language/en, area/release-eng

#33514 Remove unnecessary text
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#33508 [zh]Update content/zh/docs/reference/access-authn-authz/authentication.md
  content/zh/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33497 [zh]Update content/zh/docs/concepts/security/controlling-access.md
  content/zh/docs/concepts/security/controlling-access.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33496 [zh]Update content/zh/docs/concepts/scheduling-eviction/pod-priority-preemption.md
  content/zh/docs/concepts/scheduling-eviction/pod-priority-preemption.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33494 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_apply.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_apply.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33495 [zh]Update content/zh/docs/reference/glossary/event.md
  content/zh/docs/reference/glossary/event.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33492 [zh]Update content/zh/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/zh/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33490 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubelet.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubelet.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33491 [zh]Update content/zh/blog/_posts/2022-01-07-kubernetes-is-moving-on-from-dockershim.md
  content/zh/blog/_posts/2022-01-07-kubernetes-is-moving-on-from-dockershim.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33445 [zh]Add content/zh/docs/tasks/extend-kubernetes/socks5-proxy-access-api.md
  content/zh/docs/tasks/extend-kubernetes/socks5-proxy-access-api.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#33489 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33498 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node_phase_kubelet-config.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node_phase_kubelet-config.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33487 [zh]Update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_all.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_all.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33505 [zh]Update content/zh/docs/tasks/administer-cluster/dns-debugging-resolution.md
  content/zh/docs/tasks/administer-cluster/dns-debugging-resolution.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33502 [zh]fix in content/zh/docs/reference/access-authn-authz/authentication.md
  content/zh/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33526 [zh]update content/zh/docs/tasks/run-application/force-delete-stateful-set-pod.md
  content/zh/docs/tasks/run-application/force-delete-stateful-set-pod.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33542 [fr] Fix sentence about CPU ressources limits
  content/fr/docs/tasks/configure-pod-container/assign-cpu-resource.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#33342 [id] update horizontal-pod-autoscale.md
  content/id/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#33521 [bn] Localized content/bn/docs/reference/glossary/_index.md
  content/bn/docs/reference/glossary/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#32487 [bn] Localized content/bn/ _index.html
  content/bn/releases/_index.md
Labels: cncf-cla: yes, size/M, sig/docs, tide/merge-method-squash, language/bn

#32886 [bn] Localize `content/bn/docs/tutorials/_index.md`
  content/bn/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#32885 [bn] Localize `content/bn/docs/tasks/tools/_index.md`
  content/bn/docs/tasks/tools/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#33547 [zh]Sync kubeadm-2
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_all.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubeadm.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_certs.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_all.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubeadm.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_certs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, language/zh

#31676 [bn] Localized content/en/case-studies/_index.html
  content/bn/case-studies/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/bn

#33527 [zh]updata content/zh/docs/tasks/network/validate-dual-stack.md
  content/zh/docs/tasks/network/validate-dual-stack.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31678 [bn] Translate turnkey-solutions.md
  content/bn/docs/setup/production-environment/turnkey-solutions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#33530 [zh]update content/zh/docs/tasks/administer-cluster/securing-a-cluster.md
  content/zh/docs/tasks/administer-cluster/securing-a-cluster.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33030 [zh] sync horizontal-pod-autoscale-walkthrough.md
  content/zh/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#33364 [zh]sync concept of statefulset
  content/zh/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31814 [bn] Adding content/bn/docs/contribute/_index.md for Bengali Localization
  content/bn/docs/contribute/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/bn

#33549 [bn] Updating the contribute index file
  content/bn/docs/contribute/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/bn

#33545 [zh] sync v1.24 concepts/workloads/controllers/statefulset.md
  content/zh/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33504 [zh]Update content/zh/docs/reference/using-api/_index.md
  content/zh/docs/reference/using-api/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33552 [zh]update content/zh/docs/tasks/tls/manual-rotation-of-ca-certificates.md
  content/zh/docs/tasks/tls/manual-rotation-of-ca-certificates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33551 [fr] update links
  content/fr/includes/default-storage-class-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#32606 Add blog article “Avoid collisions assigning IP to Services” for KEP 3070 feature(s)
  content/en/blog/_posts/2022-05-23-service-ip-dynamic-and-static-allocation.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#33393 [id]Update content/id/examples/admin/logging/two-files-counter-pod-streaming-sidecar.yaml
  content/id/examples/admin/logging/two-files-counter-pod-streaming-sidecar.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/id

#33459 [zh]Update content/zh/docs/concepts/workloads/controllers/job.md
  content/zh/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#33546 [zh]Sync reference-1
  content/zh/docs/reference/kubernetes-api/common-definitions/list-meta.md
  content/zh/docs/reference/kubernetes-api/common-definitions/object-meta.md
  content/zh/docs/reference/kubernetes-api/common-parameters/common-parameters.md
  content/zh/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#33554 [zh]update content/zh/docs/tasks/job/indexed-parallel-processing-static.md
  content/zh/docs/tasks/job/indexed-parallel-processing-static.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33553 [zh]Sync reference-3
  content/zh/docs/reference/config-api/kubeadm-config.v1beta3.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33550 [zh]Sync reference-2
  content/zh/docs/reference/kubernetes-api/common-definitions/node-selector-requirement.md
  content/zh/docs/reference/labels-annotations-taints/audit-annotations.md
  content/zh/docs/reference/tools/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#33525 Update encrypt data
  content/zh/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#33555 [zh]update content/zh/docs/setup/best-practices/node-conformance.md
  content/zh/docs/setup/best-practices/node-conformance.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33567 fix nits on blog for collisions on IP services
  content/en/blog/_posts/2022-05-23-service-ip-dynamic-and-static-allocation.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#32883 [bn] Localize `content/bn/docs/tasks/_index.md`
  content/bn/docs/tasks/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#32839 [bn] Localized `content/bn/docs/setup/_index.md`
  content/bn/docs/setup/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#32505 [bn] Localized content/bn/docs/home/_index.md
  content/bn/docs/home/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#33579 [fr] fix links
  content/fr/includes/default-storage-class-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#33557 [zh]update content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_all.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_all.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33529 [zh]Sync pod-overhead.md
  content/zh/docs/concepts/scheduling-eviction/pod-overhead.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#33535 [zh]Sync kubeadm-1
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_etcd.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_kubelet-start.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset_phase_remove-etcd-member.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_etcd.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_kubelet-start.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset_phase_remove-etcd-member.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset_phase_update-cluster-status.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_list.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, language/zh

#33544 [zh]Sync ephemeral-volumes.md
  content/zh/docs/concepts/storage/ephemeral-volumes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33513 [zh]Update content/zh/docs/reference/config-api/apiserver-audit.v1.md
  content/zh/docs/reference/config-api/apiserver-audit.v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#33583 fix node-eviction-rate zh translation
  content/zh/docs/reference/command-line-tools-reference/kube-controller-manager.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#33569 [zh]Sync reference-5
  content/zh/docs/reference/config-api/kube-scheduler-config.v1beta3.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#33594 update adding-windows-nodes.md
  content/en/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#32781 [pt-br] Update link to updated Check if Dockershim Deprecation Affects You page
  content/pt-br/blog/_posts/2022-02-17-updated-dockershim-faq.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#33561 [zh]Sync kubeadm-3
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-certs.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_token.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_create.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_version.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-certs.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_token.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_create.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_version.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, language/zh

#33604 [zh]Sync kubeadm-4
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_generate-csr.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_preflight.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_delete.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_generate-csr.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_preflight.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join.md
  content/zh/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_delete.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, language/zh

#33558 [zh] sync v1.24 concepts-6
  content/zh/docs/concepts/architecture/nodes.md
  content/zh/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#33220 Improvement: Updated all the links of the task "Monitoring, Logging, and Debugging" on all pages.
  content/en/docs/concepts/cluster-administration/manage-deployment.md
  content/en/docs/concepts/containers/runtime-class.md
  content/en/docs/concepts/workloads/pods/init-containers.md
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/en/docs/tasks/configure-pod-container/configure-pod-initialization.md
  content/en/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
  static/_redirects
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#33566 [ko] Update links in `dev-1.24-ko.1`
  content/ko/docs/concepts/services-networking/service-topology.md
  content/ko/docs/concepts/services-networking/service-traffic-policy.md
  content/ko/docs/concepts/storage/volumes.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/tutorials/_index.md
  content/ko/docs/tutorials/security/cluster-level-pss.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#33599 [zh]Sync reference-7
  content/en/docs/reference/config-api/kubeadm-config.v1beta2.md
  content/zh/docs/reference/config-api/kubeadm-config.v1beta2.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, language/zh

#33593 [zh]Add 2022-05-16-volume-populators-beta.md
  content/zh/blog/_posts/2022-05-16-volume-populators-beta.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#33213 [ja] Set heading IDs concepts/configuration/manage-resources-containers.md
  content/ja/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja

#33299 [ja] Update default rolling update description.
  content/ja/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#31108 [ja] Translate tasks/debug-application-cluster/monitor-node-health into Japanese
  content/ja/docs/tasks/debug-application-cluster/monitor-node-health.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#33341 [ja] translating Japanese description for Azure CNI.
  content/ja/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#33363 [ja] Delete `--record` command line option.
  content/ja/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#33616 [zh] Update content/zh/docs/contribute/participate/roles-and-responsibilities.md
  content/zh/docs/contribute/participate/roles-and-responsibilities.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh
