Repository kubernetes/website, pull requests merged in 2022-08, with the labels that each got.

#35585 [zh-cn] Resync port-forward-access-application-cluster.md
  content/zh-cn/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35273 [ko]Fix outdated files in dev-1.24-ko.2 (M36-M39)
  content/ko/docs/concepts/storage/ephemeral-volumes.md
  content/ko/docs/concepts/storage/persistent-volumes.md
  content/ko/docs/concepts/storage/storage-classes.md
  content/ko/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#35294 [ko] update outdated korean files in dev-1.24-ko.2 (M90-M93)
  content/ko/docs/tasks/debug/debug-cluster/resource-metrics-pipeline.md
  content/ko/docs/tasks/debug/debug-cluster/resource-usage-monitoring.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35354 [ko]Translate the glossary term 'Add-ons' into Korean
  content/ko/docs/reference/glossary/addons.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35570 [ko] Update outdated file: dev-1.24-ko.1(M98-M99)
  content/ko/docs/tasks/manage-daemon/update-daemon-set.md
  content/ko/docs/tasks/run-application/force-delete-stateful-set-pod.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#35455 Update cheatsheet.md
  content/zh-cn/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35450 Fix broken links on Using a KMS provider for data encryption page
  content/en/docs/tasks/administer-cluster/kms-provider.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, tide/merge-method-merge

#35554 [zh-cn]Sync configure-gmsa.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-gmsa.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35592 [zh-cn]Fix remove duplicate words
  content/zh-cn/docs/tasks/debug/debug-cluster/local-debugging.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35589 [fr] update KubeCon date
  content/fr/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#35596 Fix typo "containarized" -> "containerized"
  content/en/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#35598 [zh-cn] updated /kubeadm/implementation-details.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/implementation-details.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#35568 [zh-cn]Sync automated-tasks-with-cron-jobs.md
  content/zh-cn/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#35597 [zh-cn] updated /kubeadm/troubleshooting-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#35290 [zh-cn]Resync job.md
  content/zh-cn/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35301 [uk] update KubeCon date
  content/uk/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk

#35534 updated content/zh-cn/docs/setup/production-environment/tools/kubeadminstall-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35465 [ko] fix typo infrastructure
  content/ko/docs/concepts/architecture/cloud-controller.md
  content/ko/docs/concepts/storage/storage-classes.md
  content/ko/docs/reference/glossary/istio.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#35446 [ko] Translate the glossary term 'Cluster Infrastructure' into Korean
  content/ko/docs/reference/glossary/cluster-infrastructure.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35525 [ko] Remove files deleted from upstream
  content/ko/docs/concepts/extend-kubernetes/service-catalog.md
  content/ko/docs/reference/glossary/service-broker.md
  content/ko/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
  content/ko/docs/tasks/service-catalog/_index.md
  content/ko/docs/tasks/service-catalog/install-service-catalog-using-sc.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/ko

#35579 [zh-cn] Sync configure-liveness-readiness-startup-probes.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35617 [zh-cn] updated /kubeadm/kubeadm-init-phase.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#34784 [zh-cn] Resync kubelet tls bootstrapping page
  content/zh-cn/docs/reference/access-authn-authz/kubelet-tls-bootstrapping.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#35552 [zh-cn] Resync node.md
  content/zh-cn/docs/reference/access-authn-authz/node.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#35330 [ko] Translate the docs/tasks/access-application-cluster 'create-exte…
  content/ko/docs/tasks/access-application-cluster/create-external-load-balancer.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#35488 [ko] Translate the glossary term Disruption into Korean
  content/ko/docs/reference/glossary/disruption.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35625 [zh-cn] added terms to glossary
  content/zh-cn/docs/contribute/localization_zh.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35548 [ko] Update outdated files dev-1.24-ko.2 (M51-M53)
  content/ko/docs/contribute/review/reviewing-prs.md
  content/ko/docs/contribute/suggesting-improvements.md
  content/ko/docs/home/supported-doc-versions.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#35542 [ko] outdated korean contents [M71~M75]
  content/ko/docs/tasks/access-application-cluster/access-cluster-services.md
  content/ko/docs/tasks/access-application-cluster/access-cluster.md
  content/ko/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
  content/ko/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#35533 [ko] Translate missing Korean translation in "Contributing new content"
  content/ko/docs/contribute/new-content/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#35307 [ko] Translate the glossary term 'Pod Priority'
  content/ko/docs/reference/glossary/pod-priority.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35530 Add SIG Docs Spotlight
  content/en/blog/_posts/2022-07-29-SIG-Docs-Spotlight/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#35601 [zh-cn] sync /service-resources/endpoints-v1.md
  content/zh-cn/docs/reference/kubernetes-api/service-resources/endpoints-v1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#35607 [zh-cn]Update static-pod.md
  content/zh-cn/docs/tasks/configure-pod-container/static-pod.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35620 [uk] fix & update KubeCon link
  content/uk/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk

#35609 [zh-cn]Sync kms-provider.md
  content/zh-cn/docs/tasks/administer-cluster/kms-provider.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#35633 [zh-cn] fix typo: remove extra "t"
  content/zh-cn/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#34452 [it] Translate concept ConfigMaps
  content/it/docs/concepts/configuration/_index.md
  content/it/docs/concepts/configuration/configmap.md
  content/it/docs/reference/glossary/configmap.md
  content/it/docs/reference/glossary/image.md
  content/it/docs/reference/glossary/secret.md
  content/it/docs/reference/glossary/volume.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/it

#35634 [zh-cn] Resync /service-resources/ingress-v1.md
  content/zh-cn/docs/reference/kubernetes-api/service-resources/ingress-v1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#34381 Reformat kubeadm implementation details
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/en

#35132 [pt] fix 404 errors at /docs/concepts/
  content/pt-br/docs/concepts/cluster-administration/networking.md
  content/pt-br/docs/concepts/configuration/secret.md
  content/pt-br/docs/concepts/overview/working-with-objects/names.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt

#35612 fix typo -> remove extra "in"
  content/en/docs/concepts/security/multi-tenancy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#35572 Clarify lack of upgrade order for components
  content/en/releases/version-skew-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#35603 fix an orphan link
  content/en/docs/tasks/debug/debug-cluster/windows.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#35315 Bump all cniVersion mentions to at least 0.4.0
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/network, approved, language/en

#35605 Updated link on Release Managers page
  content/en/releases/release-managers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#34722 Fix link for TLS bootstrapping
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#35637 [zh-cn] updated /containers/container-lifecycle-hooks.md
  content/zh-cn/docs/concepts/containers/container-lifecycle-hooks.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#35639 [zh-cn] updated /containers/container-environment.md
  content/zh-cn/docs/concepts/containers/container-environment.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35359 [ko] Translate the glossary term 'CIDR' into Korean
  content/ko/docs/reference/glossary/cidr.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#34702 Fix broken link in de
  content/de/docs/setup/release/building-from-source.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#35563 Add/remove zh-cn reviewers
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#35661 [zh-cn] updated network-plugins.md
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35630 Fix date for “Spotlight on SIG Docs” article
  content/en/blog/_posts/2022-08-02-sig-docs-spotlight/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en, area/blog

#35662 [zh-cn] updated /debug-cluster/windows.md
  content/zh-cn/docs/tasks/debug/debug-cluster/windows.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35506 [zh-cn] updated /services-networking/ingress-controllers.md
  content/zh-cn/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35556 [zh-cn]Resync sysctl-cluster.md
  content/zh-cn/docs/tasks/administer-cluster/sysctl-cluster.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#35496 [ko] Translate the glossary term 'CNCF'
  content/ko/docs/reference/glossary/cncf.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35652 Update manage-resources-containers.md
  content/zh-cn/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35495 [zh-cn] resync /setup/production-environment/tools/kops.md
  content/zh-cn/docs/setup/production-environment/tools/kops.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#35622 [zh-cn] resync /concepts/cluster-administration/flow-control.md
  content/zh-cn/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#35616 Update cpu-default-namespace.md
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35411 [zh-cn]update configure-pod-configmap.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#35673 [zh-cn]Update operator.md
  content/zh-cn/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35682 [zh-cn]Update test.md
  content/zh-cn/docs/test.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35529 [zh-cn] resync /tools/kubeadm/high-availability.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/high-availability.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#35027 Update alpha.kubernetes.io/provided-node-ip
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#35463 [ko] Translate the glossary term "SIG"
  content/ko/docs/reference/glossary/sig.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35279 [ko] Translate the glossary term 'Ephemeral Container' into Korean
  content/ko/docs/reference/glossary/ephemeral-container.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35688 [zh-cn] resync: docs/contribute/suggesting-improvements.md
  content/zh-cn/docs/contribute/suggesting-improvements.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35671 [zh-cn]Update configure-pdb.md
  content/zh-cn/docs/tasks/run-application/configure-pdb.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#35349 [ko] Translate the glossary term 'Code Contributor' into Korean
  content/ko/docs/reference/glossary/code-contributor.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35358 [ko] Translate the glossary term 'Dockershim, Helm Chart, HostAliases ... etc' into Korean
  content/ko/docs/reference/glossary/dockershim.md
  content/ko/docs/reference/glossary/helm-chart.md
  content/ko/docs/reference/glossary/host-aliases.md
  content/ko/docs/reference/glossary/kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#35654 [zh] Translate 2021-04-16-volume-health-monitoring-alpha.md into Chinese
  content/zh-cn/blog/_posts/2021-04-16-volume-health-monitoring-alpha.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#35408 [ko]Translate website/content/en/docs/reference/glossary/horizontal-pod-autoscaler.md into Korean
  content/ko/docs/reference/glossary/horizontal-pod-autoscaler.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35444 [ko] translate 'wg(working group)' term
  content/ko/docs/reference/glossary/wg.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#34698 Fix broken link in it
  content/it/docs/concepts/containers/container-environment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/it

#35692 Update topology-spread-constraints.md
  content/zh-cn/docs/concepts/scheduling-eviction/topology-spread-constraints.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35680 [zh-cn]Update release-managers.md
  content/zh-cn/releases/release-managers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35558 [ko] Translated the glossary term 'Endpoints' into Korean
  content/ko/docs/reference/glossary/endpoint.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35703 [zh-cn]Update controller.md
  content/zh-cn/docs/concepts/architecture/controller.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35426 Add v1.25 deprecation and removal blog article
  content/en/blog/_posts/2022-08-04-kubernetes-1.24-deprecations-and-removals.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/blog

#35564 [ko] update outdated korean contents dev-1.24-ko.1(M84-M89)
  content/ko/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/ko/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
  content/ko/docs/tasks/configure-pod-container/configure-runasusername.md
  content/ko/docs/tasks/configure-pod-container/static-pod.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#35695 [id] update KubeCon date
  content/id/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#35718 [zh-cn] resync: some file's commented English texts under docks/tasks
  content/zh-cn/docs/tasks/administer-cluster/migrating-from-dockershim/migrating-telemetry-and-security-agents.md
  content/zh-cn/docs/tasks/administer-cluster/nodelocaldns.md
  content/zh-cn/docs/tasks/configure-pod-container/migrate-from-psp.md
  content/zh-cn/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35717 [zh-cn] resync: determine-reason-pod-failure.md
  content/zh-cn/docs/tasks/debug/debug-application/determine-reason-pod-failure.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35674 [zh-cn]Update namespaces.md
  content/zh-cn/docs/concepts/overview/working-with-objects/namespaces.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35606 [zh-cn]Update downward-api-volume-expose-pod-information.md
  content/zh-cn/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#35500 [ko] Translate the glossary term Member into Korean
  content/ko/docs/reference/glossary/member.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35672 [zh-cn]Update device-plugins.md
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35574 Add recommendation to use most recent patch versions of minors
  content/en/releases/version-skew-policy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#35280 [ko]Translate website/content/en/blog/_posts/2022-05-13-grpc-probes-in-beta.md into Korean
  content/ko/blog/_posts/2022-05-13-grpc-probes-in-beta.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#35538 Promote DaemonSet MaxSurge to GA
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/manage-daemon/update-daemon-set.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#35516 Added supporting context for job suspension functionality
  content/en/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, sig/apps, language/en

#35484 [ko] outdated korean contents [M94~M97]
  content/ko/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
  content/ko/docs/tasks/inject-data-application/environment-variable-expose-pod-information.md
  content/ko/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#35501 [ko] Translate the glossary term Proxy into Korean
  content/ko/docs/reference/glossary/proxy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35528 [ko] Update outdated files in dev-1.24-ko.2 (M76-M79)
  content/ko/docs/tasks/administer-cluster/certificates.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/ko/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/ko

#35707 [zh-cn]Update control-plane-node-communication.md
  content/zh-cn/docs/concepts/architecture/control-plane-node-communication.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35677 [ko] Update outdated files in dev-1.24-ko.2 (M27-M30)
  content/ko/docs/concepts/security/controlling-access.md
  content/ko/docs/concepts/services-networking/_index.md
  content/ko/docs/concepts/services-networking/dns-pod-service.md
  content/ko/docs/concepts/services-networking/dual-stack.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#35721 Update outdated controllers/job in dev-1.24-ko.2 (M40)
  content/ko/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#35728 [zh-cn] Fix table formatting errors of kubectl
  content/zh-cn/docs/reference/kubectl/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#35738 [zh-cn] resync /concepts/workloads/controllers/job.md
  content/zh-cn/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#35744 [zh-cn] updated /kubeadm/kubeadm-init.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#35693 [zh-cn] resync: docs/contribute/style/style-guide.md
  content/zh-cn/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#35694 [zh-cn] resync: docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/zh-cn/docs/tasks/manage-kubernetes-objects/imperative-config.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35649 translate content/zh-cn/blog/_posts/2022-05-25-contextual-logging/index.md into Chinese
  content/zh-cn/blog/_posts/2022-05-25-contextual-logging/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#35610 Update PodSecurityPolicy annotation details for v1.25
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/auth, sig/docs, approved, language/en

#35746 [zh-cn] updated README-zh.md
  README-zh.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved

#35696 [zh-cn] resync: docs/tasks/manage-kubernetes-objects/imperative-command.md
  content/zh-cn/docs/tasks/manage-kubernetes-objects/imperative-command.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35723 [zh-cn] resync: component-tool kubelet.md
  content/zh-cn/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#33117 Add pt-br/docs/reference/setup-tools/kubeadm/kubeadm-upgrade-phase.md
  content/pt-br/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node_phase.md
  content/pt-br/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node_phase_control-plane.md
  content/pt-br/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node_phase_kubelet-config.md
  content/pt-br/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node_phase_preflight.md
  content/pt-br/docs/reference/setup-tools/kubeadm/kubeadm-upgrade-phase.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#35243 Add pt-br/docs/reference/glossary/approver.md
  content/pt-br/docs/reference/glossary/approver.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt

#35240 Add pt-br/docs/reference/glossary/cadvisor.md
  content/pt-br/docs/reference/glossary/cadvisor.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, language/pt

#35702 [zh-cn] Reword in rbac.md
  content/zh-cn/docs/reference/access-authn-authz/rbac.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35562 Fix some errors in “Managing Secrets using Configuration File”
  content/en/docs/tasks/configmap-secret/managing-secret-using-config-file.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#35726 [zh-cn] resync: some file's commented English texts and indentation
  content/zh-cn/docs/concepts/scheduling-eviction/node-pressure-eviction.md
  content/zh-cn/docs/concepts/workloads/controllers/job.md
  content/zh-cn/docs/reference/access-authn-authz/psp-to-pod-security-standards.md
  content/zh-cn/docs/tutorials/security/ns-level-pss.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35499 [ko] Translate the glossary term Affinity into Korean
  content/ko/docs/reference/glossary/affinity.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35739 [ko] Update outdated files in dev-1.24-ko.2 (M42-M43)
  content/ko/docs/concepts/workloads/pods/init-containers.md
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#35502 [ko] Translate the glossary term Event into Korean
  content/ko/docs/reference/glossary/event.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35565 [ko] Translate the glossary term 'Preemption'
  content/ko/docs/reference/glossary/preemption.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#35756 Remove myself as an approver and reviewer for English content
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#35761 [zh] Localize ingress images
  content/zh-cn/docs/concepts/services-networking/ingress.md
  content/zh-cn/docs/images/ingress.svg
  content/zh-cn/docs/images/ingressFanOut.svg
  content/zh-cn/docs/images/ingressNameBased.svg
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35635 Add yoonian to sig-docs-ko-owners
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#35423 [ko] Reorg 'Windows in K8s' docs
  content/ko/docs/concepts/configuration/windows-resource-management.md
  content/ko/docs/concepts/security/windows-security.md
  content/ko/docs/concepts/services-networking/windows-networking.md
  content/ko/docs/concepts/storage/windows-storage.md
  content/ko/docs/concepts/windows/_index.md
  content/ko/docs/concepts/windows/intro.md
  content/ko/docs/concepts/windows/user-guide.md
  content/ko/docs/setup/production-environment/windows/flannel-master-kubectl-get-pods.png
  content/ko/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/ko/docs/tasks/debug/debug-cluster/windows.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, tide/merge-method-squash, language/ko

#35498 [ko] Translate the glossary term Reviewer into Korean
  content/ko/docs/reference/glossary/reviewer.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ko

#35508 [ko] update outdated korean contents in dev-1.24-ko.2 (M31-M35)
  content/ko/docs/concepts/services-networking/ingress-controllers.md
  content/ko/docs/concepts/services-networking/ingress.md
  content/ko/docs/concepts/services-networking/network-policies.md
  content/ko/docs/concepts/services-networking/service-traffic-policy.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/images/ingress.svg
  content/ko/docs/images/ingressFanOut.svg
  content/ko/docs/images/ingressNameBased.svg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ko

#35731 [ko]Update outdated controllers/replicaset in dev-1.24-ko.2(M41)
  content/ko/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ko

#35561 [ko] Translate the glossary term Approver into Korean
  content/ko/docs/reference/glossary/approver.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ko

#35760 [zh-cn] updated style/content-organization.md
  content/zh-cn/docs/contribute/style/content-organization.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#33716 [fr] Fix `Kubernetes` typo
  content/fr/includes/partner-script.js
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#34706 Replace dead cosigned with sigstore policy-controller
  content/en/docs/tasks/administer-cluster/verify-signed-images.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#35765 [zh] Tweak kubelet credential provider
  content/zh-cn/docs/tasks/kubelet-credential-provider/kubelet-credential-provider.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#35549 [ko] Translate the glossary term 'Finalizer' into Korean
  content/ko/docs/reference/glossary/finalizer.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#35778 Rename the blog markdown filename of Kubernetes Removals and Major Changes In 1.25
  content/en/blog/_posts/2022-08-04-kubernetes-1.25-deprecations-and-removals.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en, area/blog

#35776 [fr] update fr docs to use recommended labels
  content/fr/docs/concepts/services-networking/service.md
  content/fr/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/fr

#35773 Update hugo build timeout
  config.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#35737 [zh-cn] sync 2022-08-04-kubernetes-1.25-deprecations-and-removals.md
  content/zh-cn/blog/_posts/2022-08-04-kubernetes-1.25-deprecations-and-removals.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#35775 [zh-cn] resync: verify-signed-images.md
  content/zh-cn/docs/tasks/administer-cluster/verify-signed-images.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#35371 [ja] fix mistranslation /tasks/debug-application-cluster/monitor-node-health.md
  content/ja/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#34680 [ja] fix link about Katacoda
  content/ja/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#35626 [ja] Translate translate concepts/storage/storage-limits into Japanese
  content/ja/docs/concepts/storage/storage-limits.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#35764 [zh-cn] Updated content-guide.md & diagram-guide.md
  content/zh-cn/docs/contribute/style/content-guide.md
  content/zh-cn/docs/contribute/style/diagram-guide.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#35757 [pt] update links in addons.md
  content/pt-br/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#35194 Create docker.md in portuguese
  content/pt-br/docs/reference/glossary/docker.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt

#35789 Followup to 1.25 deprecations blog to address comments
  content/en/blog/_posts/2022-08-04-kubernetes-1.25-deprecations-and-removals.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/en, area/blog

#35722 Small fix in kubelet.md
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#35716 Fix link on "Proxies in Kubernetes"
  content/en/docs/concepts/cluster-administration/proxies.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#35657 Fix link to LimitRanger design document
  content/ja/docs/concepts/policy/limit-range.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#35678 Updated the health checking link
  content/en/docs/reference/kubernetes-api/workload-resources/pod-v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#35228 [KEP-3203] Fetch and Render CVE JSON Feed
  config.toml
  content/en/docs/reference/issues-security/issues.md
  content/en/docs/reference/issues-security/official-cve-feed.md
  data/i18n/en/en.toml
  layouts/_default/cve-feed.json
  layouts/shortcodes/cve-feed.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, sig/security
