Repository kubernetes/website, pull requests merged in 2022-01, with the labels that each got.

#30967 [zh] Translate audit API reference
  content/zh/docs/reference/config-api/apiserver-audit.v1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#30969 [zh] Translate WebhookAdmission API
  content/zh/docs/reference/config-api/apiserver-webhookadmission.v1.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31154 [zh] Fix markdown error
  content/zh/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31167 [zh] fix shell typo
  content/zh/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31166 [zh] synchronize translate disruptions.md
  content/zh/docs/concepts/workloads/pods/disruptions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31164 [zh] synchronize translate ephemeral-containers.md
  content/zh/docs/concepts/workloads/pods/ephemeral-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#31165 [zh] synchronize translate init-containers.md
  content/zh/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30451 [ja] Translate setup/best-practices/cluster-large/ into Japanese
  content/ja/docs/setup/best-practices/cluster-large.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja

#31169 [id] remove Open vSwitch
  content/id/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#31127 [pt] Fix configuration overview example link
  content/pt-br/docs/concepts/configuration/overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#30407 [jp] Update custom-resources.md
  content/ja/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#30465 [jp] Update operator.md
  content/ja/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#31171 Tune mem mgr
  content/en/docs/tasks/administer-cluster/memory-manager.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/en, refactor

#31170 fix glossary
  content/en/docs/tasks/debug-application-cluster/debug-application.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#29416 [hi] Add content/hi/docs/setup/learning-environment/_index.md
  content/hi/docs/setup/learning-environment/_index.md
  static/_redirects
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi

#31183 Remove trailing whitespace to fix command pasting
  content/en/docs/tutorials/security/cluster-level-pss.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31138 The `schedule: "*/1 * * * *"` is the same as "* * * * *"
  content/en/examples/application/job/cronjob.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31050 [ingresscontroller] Update Easegress link for Kubernetes website
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31181 Fix nits in the garbage collection page
  content/en/docs/concepts/architecture/garbage-collection.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30998 [ko] Translate tasks/run-application/scale-stateful-set.md in Korean
  content/ko/docs/tasks/run-application/scale-stateful-set.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#31187 [it] remove Open vSwitch
  content/it/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/it

#31184 Fix kind delete cluster commands
  content/en/docs/tutorials/security/cluster-level-pss.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31161 Fix grammar in kubernetes dashboard docs
  content/en/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30798 Add sftim as a blog editor
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#30431 Added a note for CRD improvement in Docs
  content/en/docs/concepts/storage/volume-snapshot-classes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, language/en

#31019 Fix the link to access cluster service in docs
  content/en/docs/tasks/access-application-cluster/access-cluster.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31199 [zh] synchronize translate system-traces.md
  content/zh/docs/concepts/cluster-administration/system-traces.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31202 Fix broken link to grpc liveness probe yaml
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31197 [zh] synchronize translate service-catalog.md
  content/zh/docs/concepts/extend-kubernetes/service-catalog.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31196 [zh] synchronize translate operator.md
  content/zh/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#30327 Update Windows pause image
  content/en/docs/reference/command-line-tools-reference/kubelet.md
  content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/windows, sig/docs, approved, language/en

#31212 [zh] synchronize translate access-cluster.md
  content/zh/docs/tasks/access-application-cluster/access-cluster.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31203 Add nate-double-u as blog reviewer
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#28617 migrate the K8s networking model section
  content/en/docs/concepts/cluster-administration/networking.md
  content/en/docs/concepts/services-networking/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/network, approved, tide/merge-method-squash, language/en, refactor

#31207 Tune config API links
  content/en/docs/setup/production-environment/tools/kubeadm/dual-stack-support.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, sig/docs, approved, kind/cleanup, language/en

#31182 Fix case for tables in patch releases list
  content/en/releases/patch-releases.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#30348 [DOCS] Document the environment variable substitution feature of kustomize configMapGenerator
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#31058 Cleanup notes in Define a Command and Arguments docs
  content/en/docs/tasks/inject-data-application/define-command-argument-container.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#31201 Remove extra command and fix reference to profile
  content/en/docs/tutorials/clusters/seccomp.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31206 Add jihoon-seo to sig-docs-ko-owners
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#31176 [ko] Update outdated files in dev-1.23-ko.1 (M71-M82)
  content/ko/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
  content/ko/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/ko/docs/tasks/administer-cluster/sysctl-cluster.md
  content/ko/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
  content/ko/docs/tasks/configure-pod-container/pull-image-private-registry.md
  content/ko/docs/tasks/debug-application-cluster/debug-running-pod.md
  content/ko/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md
  content/ko/docs/tasks/extend-kubernetes/setup-konnectivity.md
  content/ko/docs/tasks/job/parallel-processing-expansion.md
  content/ko/docs/tasks/network/validate-dual-stack.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/ko/examples/pods/storage/pv-duplicate.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#31155 [ko] Translate tasks/debug-application-cluster/debug-cluster.md in Korean
  content/ko/docs/tasks/debug-application-cluster/debug-cluster.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#30972 Add blog post announcing actual dockershim removal
  content/en/blog/_posts/2021-11-12-are-you-ready-for-dockershim-removal/index.md
  content/en/blog/_posts/2022-01-07-kubernetes-is-moving-on-from-dockershim.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, sig/docs, approved, language/en, area/blog

#31227 kubeadm: remove ClusterStatus references
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-join.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-reset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#30759 Kind cleanup - Remove Contiv
  content/en/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31229 Mark dockershim survey closed
  content/en/blog/_posts/2021-11-12-are-you-ready-for-dockershim-removal/index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#31208 blog: meet our contributors APAC India region
  content/en/blog/_posts/2022-01-10-meet-our-contributors-APAC-India-region-01.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#30583 [pt-br] Add /content/pt-br/docs/concepts/configuration/secrets.md
  content/pt-br/docs/concepts/configuration/secret.md
  content/pt-br/docs/reference/glossary/configmap.md
  content/pt-br/docs/reference/glossary/container-env-variables.md
  content/pt-br/docs/reference/glossary/container.md
  content/pt-br/docs/reference/glossary/secret.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/pt

#31214 [zh] synchronize translate check-if-dockershim-deprecation-affects-you.md
  content/zh/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31040 [ko] Translate docs/tasks/debug-application-cluster/troubleshooting.md
  content/ko/docs/tasks/debug-application-cluster/troubleshooting.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#31145 Add Hybridnet CNI to networking.md
  content/en/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30662 Use tee to write to /etc/bash_completion.d/kubectl
  content/en/docs/tasks/tools/included/optional-kubectl-configs-bash-linux.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#31219 storage class parameters value should be string
  content/en/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, language/en

#31247 Remove Unknown Symbol on Container Runtime Interface (CRI) Page
  content/en/docs/reference/glossary/container-runtime-interface.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31216 [zh] synchronize translate encrypt-data.md
  content/zh/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31156 [zh]translate content/zh/docs/tutorials/security/ns-level-pss.md
  content/zh/docs/tutorials/security/_index.md
  content/zh/docs/tutorials/security/ns-level-pss.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31158 [zh]translate content/zh/docs/tutorials/security/cluster-level-pss.md
  content/zh/docs/tutorials/security/cluster-level-pss.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31198 [zh] synchronize translate components.md
  content/zh/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31245 [ko] Add translation of parts that haven't been translated in _index
  content/ko/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#31257 Correct some misrepresentations on Chinese pages
  content/zh/docs/tutorials/security/ns-level-pss.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31077 [hi] Use localized text for Hindi language configuration
  config.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#31014 Merge the tutorials under tutorials->clusters into tutorials->security
  content/en/docs/tutorials/_index.md
  content/en/docs/tutorials/clusters/_index.md
  content/en/docs/tutorials/security/apparmor.md
  content/en/docs/tutorials/security/seccomp.md
  static/_redirects
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#30848 [ko] Update outdated files in dev-1.22-ko.4 (M1-M11)
  content/ko/_index.html
  content/ko/community/_index.html
  content/ko/docs/concepts/architecture/cloud-controller.md
  content/ko/docs/concepts/architecture/nodes.md
  content/ko/docs/concepts/cluster-administration/addons.md
  content/ko/docs/concepts/cluster-administration/networking.md
  content/ko/docs/concepts/configuration/manage-resources-containers.md
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/concepts/containers/images.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#31240 [zh] Translate find out runtime page
  content/zh/docs/tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31266 Update CRI description to be more verbose
  content/en/docs/concepts/architecture/cri.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31272 Add releases page to minimum required content
  content/en/docs/contribute/localization.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31265 Correct minor spelling and grammar issues in dockershim blog
  content/en/blog/_posts/2022-01-07-kubernetes-is-moving-on-from-dockershim.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/blog

#31205 Corrected alpha release for APIPriorityAndFairness FeatureGate
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30818 Revise device plugins page
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/docs, approved, language/en

#31218 [ko] add cri.md in Korean
  content/ko/docs/concepts/architecture/cri.md
  content/ko/docs/reference/glossary/container-runtime-interface.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#31284 Add Glossary_tooltip for object
  content/en/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31185 [hi] Add docs/reference/_index.md to Hindi localization
  content/hi/docs/reference/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#31072 [hi] Update data/i18n/hi/hi.toml
  data/i18n/hi/hi.toml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/hi

#31280 Fix wrong capitalization for preemptionPolicy field in zh.
  content/zh/docs/concepts/scheduling-eviction/pod-priority-preemption.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#31162 [hi] Add content/hi/docs/contribute/_index.md
  content/hi/docs/contribute/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#31292 [hi] Add content/hi/releases/_index.md
  content/hi/releases/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#31146 [ko] Update `ingress.md` in `dev-1.22-ko.4`
  content/ko/docs/concepts/services-networking/ingress.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#29412 [hi] Add content/hi/docs/tutorials/kubernetes-basics/explore/explore-intro.html
  content/hi/docs/tutorials/kubernetes-basics/explore/explore-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#31281 Add glossary_tooltip for StatefulSet in Recommended labels
  content/en/docs/concepts/overview/working-with-objects/common-labels.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31289 Removing Romana
  content/en/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31305 Add requirement for the ExpandedDNSConfig feature
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#30565 [ja] Translate tasks/debug-application-cluster/audit into Japanese
  content/ja/docs/reference/command-line-tools-reference/kube-apiserver.md
  content/ja/docs/reference/config-api/apiserver-audit.v1.md
  content/ja/docs/tasks/debug-application-cluster/audit.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/ja

#31306 Update migrating-telemetry-and-security-agents.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/migrating-telemetry-and-security-agents.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31296 Fix link to OWNERS_ALIASES
  content/en/docs/contribute/participate/roles-and-responsibilities.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31297 [ko] Fix link to OWNERS_ALIASES
  content/ko/docs/contribute/participate/roles-and-responsibilities.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#31268 [zh]Resync task-tutorial-prereqs.md
  content/zh/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31230 [ru] update date to mention KubeCon NA 2022
  content/ru/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#30452 [ja] Remove ^H character
  content/ja/docs/tasks/network/validate-dual-stack.md
  content/ja/docs/tutorials/clusters/apparmor.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#30529 [ja] Translate tasks/inject-data-application/distribute-credentials-secure into Japanese
  content/ja/docs/tasks/inject-data-application/distribute-credentials-secure.md
  content/ja/examples/pods/inject/pod-multiple-secret-env-variable.yaml
  content/ja/examples/pods/inject/pod-secret-envFrom.yaml
  content/ja/examples/pods/inject/pod-single-secret-env-variable.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja

#30881 [ja] Translate tasks/debug-application-cluster/crictl into Japanese
  content/ja/docs/tasks/debug-application-cluster/crictl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja

#31204 [ja] remove Open vSwitch
  content/ja/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/ja

#31213 [ja] Translate tasks/administer-cluster/kubeadm/kubeadm-certs into Japanese
  content/ja/docs/tasks/administer-cluster/kubeadm/_index.md
  content/ja/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  data/i18n/ja/ja.toml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja

#31255 [ja] Translate tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use into Japanese
  content/ja/docs/tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja

#31323 kubeadm-upgrade: adjust note about node drain
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, kind/cleanup, language/en

#31332 [fr] Fix link to dev@kubernetes group
  content/fr/docs/setup/learning-environment/minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#30964 [ko] Update outdated files in dev-1.23-ko.1 (M25-M33)
  content/ko/docs/concepts/services-networking/service-traffic-policy.md
  content/ko/docs/concepts/storage/persistent-volumes.md
  content/ko/docs/concepts/storage/storage-capacity.md
  content/ko/docs/concepts/storage/storage-classes.md
  content/ko/docs/concepts/storage/volume-pvc-datasource.md
  content/ko/docs/concepts/storage/volume-snapshot-classes.md
  content/ko/docs/concepts/storage/volume-snapshots.md
  content/ko/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#30892 [ko] Update outdated files in dev-1.22-ko.4 (M43-M55)
  content/ko/docs/reference/kubectl/overview.md
  content/ko/docs/reference/labels-annotations-taints.md
  content/ko/docs/reference/tools/_index.md
  content/ko/docs/reference/using-api/client-libraries.md
  content/ko/docs/reference/using-api/health-checks.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/ko/docs/setup/production-environment/tools/kubespray.md
  content/ko/docs/tasks/access-application-cluster/access-cluster.md
  content/ko/docs/tasks/access-application-cluster/list-all-running-container-images.md
  content/ko/docs/tasks/administer-cluster/access-cluster-services.md
  content/ko/docs/tasks/administer-cluster/highly-available-control-plane.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#30852 [ko] Update outdated files in dev-1.22-ko.4 (M34-M42)
  content/ko/docs/contribute/advanced.md
  content/ko/docs/contribute/new-content/_index.md
  content/ko/docs/contribute/participate/pr-wranglers.md
  content/ko/docs/contribute/review/for-approvers.md
  content/ko/docs/reference/access-authn-authz/authorization.md
  content/ko/docs/reference/glossary/pod-disruption.md
  content/ko/docs/reference/glossary/quantity.md
  content/ko/docs/reference/glossary/secret.md
  content/ko/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#31337 Fix typo for OpenAPIV3 and OpenAPIEnums
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31343 EN - Concepts - Correct Pod-Conditions Anchor Link
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31298 [zh] Fix link to OWNERS_ALIASES
  content/zh/docs/contribute/participate/roles-and-responsibilities.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31351 [uk] update date to mention KubeCon NA 2022
  content/uk/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk

#31352 typo: remove redundant preposition ✏️
  content/en/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31339 fr: Fixed outdated French contents
  content/fr/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#31287 kubeadm: update HA etcd guide for clarity and fix an issue
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/cluster-lifecycle, sig/docs, approved, kind/cleanup, language/en

#31221 Add blog article “Securing Admission Controllers”
  content/en/blog/_posts/2022-01-19-Securing-Admission-Controllers.md
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, sig/docs, approved, language/en, area/blog

#31317 Updating outdated Russian _index.html
  content/ru/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#31342 [zh]Resync cluster-administration networking file
  content/zh/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31263 Add instructions for enabling fish auto-completions for kubectl
  content/en/docs/tasks/tools/included/optional-kubectl-configs-fish.md
  content/en/docs/tasks/tools/install-kubectl-linux.md
  content/en/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#31349 mention the correct feature gate name for RBD CSI migration.
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31325 Removed weave url
  content/en/docs/setup/production-environment/tools/kubeadm/high-availability.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, sig/docs, approved, kind/cleanup, language/en

#30331 Fix default value for MaxSurge in RollingUpdates for DaemonSets beat feature
  content/en/docs/tasks/manage-daemon/update-daemon-set.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, sig/apps, language/en

#30790 Make only live website indexable
  Makefile
  layouts/_default/baseof.html
  layouts/index.headers
  layouts/partials/head.html
  netlify.toml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved

#31374 Link to DaemonSet update task from DaemonSetUpdateSurge feature gate short description
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31338 Removed docker logo
  static/images/docs/4c.png
  static/images/docs/4c.svg
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, kind/cleanup

#30959 Note that subPathExpr uses round brackets.
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31385 it: Link and description mismatch
  content/it/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/it

#30862 Mark dockershim deprecated / add MCR
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, language/en

#31381 [zh]Resync concepts/services-networking/_index.md
  content/zh/docs/concepts/services-networking/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31356 [pl] update date to mention KubeCon NA 2022
  content/pl/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl

#31405 Improvement: Updated FEATURE STATE of PodSecurityAdmission.
  content/en/docs/setup/best-practices/enforcing-pod-security-standards.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, sig/docs, approved, language/en

#31373 Approval permission for 1.24 release
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#31334 [pt-br] Fix link to dev@kubernetes mailing list
  content/pt-br/community/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#31406 Fix: typo in cloud-controller.md
  content/en/docs/concepts/architecture/cloud-controller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#31413 Update security-context.md by replacing the link in docs/tasks/configure-pod-container/security-context/#what-s-next
  content/en/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31399 [zh] macos and linux add fish auto-completion
  content/zh/docs/tasks/tools/included/optional-kubectl-configs-fish.md
  content/zh/docs/tasks/tools/install-kubectl-linux.md
  content/zh/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#30851 [ko] Update outdated files in dev-1.22-ko.4 (M27-M33)
  content/ko/docs/concepts/workloads/controllers/cron-jobs.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/concepts/workloads/controllers/statefulset.md
  content/ko/docs/concepts/workloads/pods/disruptions.md
  content/ko/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#30988 [ko] Update outdated files in dev-1.23-ko.1 (M34-M37)
  content/ko/docs/concepts/workloads/controllers/cron-jobs.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#30989 [ko] Update outdated files in dev-1.23-ko.1 (M38-M42)
  content/ko/docs/concepts/workloads/controllers/ttlafterfinished.md
  content/ko/docs/concepts/workloads/pods/disruptions.md
  content/ko/docs/concepts/workloads/pods/ephemeral-containers.md
  content/ko/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ko/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#31031 [ko] Update outdated files in dev-1.23-ko.1 (M55-M61)
  content/ko/docs/reference/kubectl/overview.md
  content/ko/docs/reference/labels-annotations-taints.md
  content/ko/docs/reference/scheduling/config.md
  content/ko/docs/reference/scheduling/policies.md
  content/ko/docs/reference/tools/_index.md
  content/ko/docs/reference/using-api/client-libraries.md
  content/ko/docs/reference/using-api/health-checks.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#31188 [ko] Update outdated files in `dev-1.23-ko.1` (M83-M93)
  content/ko/docs/tasks/administer-cluster/enabling-topology-aware-hints.md
  content/ko/docs/tasks/administer-cluster/highly-available-control-plane.md
  content/ko/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/ko/docs/tasks/tls/managing-tls-in-a-cluster.md
  content/ko/docs/tasks/tools/included/optional-kubectl-configs-pwsh.md
  content/ko/docs/tasks/tools/install-kubectl-linux.md
  content/ko/docs/tasks/tools/install-kubectl-macos.md
  content/ko/docs/tasks/tools/install-kubectl-windows.md
  content/ko/docs/tutorials/_index.md
  content/ko/docs/tutorials/clusters/apparmor.md
  content/ko/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/ko/docs/tutorials/stateful-application/zookeeper.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/ko

#30990 [ko] Update outdated files in dev-1.23-ko.1 (M43-M54)
  content/ko/docs/contribute/advanced.md
  content/ko/docs/contribute/new-content/_index.md
  content/ko/docs/contribute/participate/pr-wranglers.md
  content/ko/docs/contribute/review/for-approvers.md
  content/ko/docs/reference/_index.md
  content/ko/docs/reference/access-authn-authz/authorization.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/reference/command-line-tools-reference/kube-proxy.md
  content/ko/docs/reference/glossary/pod-disruption.md
  content/ko/docs/reference/glossary/quantity.md
  content/ko/docs/reference/glossary/secret.md
  content/ko/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#31414 [zh]Update security-context.md by replacing the link in docs/tasks/configure-pod-container/security-context/#what-s-next
  content/zh/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31412 configure-gmsa.md updates
  content/en/docs/tasks/configure-pod-container/configure-gmsa.md
Labels: cncf-cla: yes, size/M, lgtm, sig/windows, sig/docs, approved, language/en

#31416 [ko] Update anchor (type-nodeport)
  content/ko/docs/concepts/configuration/overview.md
  content/ko/docs/concepts/services-networking/ingress.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/ko/docs/tutorials/services/source-ip.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/ko

#31418 [ko] Update anchor (`dev-1.23-ko.1`)
  content/ko/docs/concepts/configuration/overview.md
  content/ko/docs/concepts/services-networking/ingress.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/ko/docs/tutorials/services/source-ip.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/ko

#31417 [ko] Update links in `dev-1.22-ko.4`
  content/ko/docs/concepts/cluster-administration/addons.md
  content/ko/docs/concepts/extend-kubernetes/_index.md
  content/ko/docs/concepts/extend-kubernetes/service-catalog.md
  content/ko/docs/reference/_index.md
  content/ko/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/ko

#31402 [zh] update kubectl user and system auto-completion config
  content/zh/docs/tasks/tools/included/optional-kubectl-configs-bash-linux.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#29518 [hi] Add content/hi/docs/setup/production-environment/_index.md
  content/hi/docs/setup/production-environment/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#31445 Fix the download link to kubectl convert plugin for bash
  content/en/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31282 Action on Docker mentions in Concepts > Cluster Administration
  content/en/docs/concepts/cluster-administration/system-logs.md
  content/en/docs/reference/glossary/container-runtime.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#31398 Changed the explicit mention of Docker due to deprecation in Tasks > …
  content/en/docs/tasks/network/customize-hosts-file-for-pods.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#31460 [ru] fix KubeCon date
  content/ru/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#31461 [zh] fix document description problem
  content/zh/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#31446 Update URLs for some network plugins
  content/en/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#31470 [zh] fix wrong dns record
  content/zh/docs/concepts/services-networking/dns-pod-service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#31277 Fix footer rendering
  assets/scss/_custom.scss
  static/css/newcommunity.css
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/web-development

#31231 Add Contiv-VPP network plugin
  content/en/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31473 Fixed issue - borken link https://kubernetes.io/docs/reference/kubect…
  content/en/docs/reference/kubectl/conventions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#31421 [en] Updated the page to be more docker specific
  content/en/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en
