Repository kubernetes/website, pull requests merged in 2022-03, with the labels that each got.

#28290 Add information to API Evictions from Safely Drain a Node
  content/en/docs/concepts/scheduling-eviction/api-eviction.md
  content/en/docs/tasks/administer-cluster/safely-drain-node.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, sig/docs, approved, language/en

#31859 [zh]translate Container Runtime Interface(CRI)
  content/zh/docs/concepts/architecture/cri.md
  content/zh/docs/reference/glossary/container-runtime-interface.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31867 [zh] sync content/en/docs/tutorials/security/seccomp.md
  content/zh/docs/tutorials/clusters/seccomp.md
  content/zh/docs/tutorials/security/seccomp.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#31903 [zh]resync content/zh/docs/reference/command-line-tools-reference/kub…
  content/zh/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#31984 [zh]resync content/zh/docs/concepts/workloads/pods/disruptions.md
  content/zh/docs/concepts/workloads/pods/disruptions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31983 [zh]resync node-pressure-eviction.md and fix hyper link issue
  content/zh/docs/concepts/scheduling-eviction/node-pressure-eviction.md
  content/zh/docs/reference/glossary/pod-priority.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#31985 Update mysql-wordpress-persistent-volume.md
  content/zh/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31857 [hi] Add content/hi/docs/setup/production-environment/container-runtimes.md
  content/hi/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#31986 Added note about noderestriction labels issue-#31972
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#31990 Fix incorrect field name in CRD examples
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/api-machinery, sig/docs, approved, language/en

#31390 [en] Update networking model link
  content/en/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, tide/merge-method-squash, language/en

#31909 Fix wording for "concepts/overview/working-with-objects/kubernetes-objects/#required-fields"
  content/en/docs/concepts/overview/working-with-objects/kubernetes-objects.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#31982 [zh]resync api-eviction.md and fix glossary hyper link issue
  content/zh/docs/concepts/scheduling-eviction/api-eviction.md
  content/zh/docs/reference/glossary/api-eviction.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31979 [zh] Add glossary userns
  content/zh/docs/reference/glossary/userns.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#32009 [zh] Fix blog articles using wrong custom URIs
  content/zh/blog/_posts/2015-03-00-Kubernetes-Gathering-Videos.md
  content/zh/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md
  content/zh/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md
  content/zh/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md
  content/zh/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md
  content/zh/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md
  content/zh/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md
  content/zh/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md
  content/zh/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md
  content/zh/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md
  content/zh/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md
  content/zh/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md
  content/zh/blog/_posts/2015-08-00-Weekly-Kubernetes-Community-Hangout.md
  content/zh/blog/_posts/2015-11-00-Kubernetes-1-1-Performance-Upgrades-Improved-Tooling-And-A-Growing-Community.md
  content/zh/blog/_posts/2015-12-00-Managing-Kubernetes-Pods-Services-And-Replication-Controllers-With-Puppet.md
  content/zh/blog/_posts/2016-01-00-Kubernetes-Community-Meeting-Notes.md
  content/zh/blog/_posts/2016-01-00-Simple-Leader-Election-With-Kubernetes.md
  content/zh/blog/_posts/2016-01-00-Why-Kubernetes-Doesnt-Use-Libnetwork.md
  content/zh/blog/_posts/2016-02-00-Kubecon-Eu-2016-Kubernetes-Community-In.md
  content/zh/blog/_posts/2016-02-00-Kubernetes-Community-Meeting-Notes.md
  content/zh/blog/_posts/2016-02-00-State-Of-Container-World-January-2016.md
  content/zh/blog/_posts/2016-02-00-kubernetes-community-meeting-notes_23.md
  content/zh/blog/_posts/2016-04-00-Adding-Support-For-Kubernetes-In-Rancher.md
  content/zh/blog/_posts/2016-04-00-Kubernetes-Network-Policy-APIs.md
  content/zh/blog/_posts/2016-04-00-Sig-Clusterops-Promote-Operability-And-Interoperability-Of-K8S-Clusters.md
  content/zh/blog/_posts/2016-05-00-Coreosfest2016-Kubernetes-Community.md
  content/zh/blog/_posts/2016-07-00-Bringing-End-To-End-Kubernetes-Testing-To-Azure-2.md
  content/zh/blog/_posts/2016-07-00-Citrix-Netscaler-And-Kubernetes.md
  content/zh/blog/_posts/2016-07-00-Dashboard-Web-Interface-For-Kubernetes.md
  content/zh/blog/_posts/2016-07-00-Oh-The-Places-You-Will-Go.md
  content/zh/blog/_posts/2016-07-00-stateful-applications-in-containers-kubernetes.md
  content/zh/blog/_posts/2016-08-00-Stateful-Applications-Using-Kubernetes-Datera.md
  content/zh/blog/_posts/2017-10-00-Five-Days-Of-Kubernetes-18.md
  content/zh/blog/_posts/2017-10-00-Kubernetes-Community-Steering-Committee-Election-Results.md
  content/zh/blog/_posts/2017-11-00-Autoscaling-In-Kubernetes.md
  content/zh/blog/_posts/2018-01-00-Kubernetes-V19-Beta-Windows-Support.md
  content/zh/blog/_posts/2018-03-00-Principles-Of-Container-App-Design.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/blog

#31996 kubeadm-upgrade: add note about verifying the kubelet service status
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#31858 add howieyuen to sig-doc-zh-owners
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#31971 kubeadm: fix wrong path in the etcd HA guide (step 7)
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, kind/bug, sig/cluster-lifecycle, sig/docs, approved, language/en

#31980 [zh] Add glossary Event
  content/zh/docs/reference/glossary/event.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31593 Add Sysbox as an option to run kubernetes inside unprivileged containers or pods.
  content/en/docs/tasks/administer-cluster/kubelet-in-userns.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#31926 [zh] Translate enforcing PSS
  content/zh/docs/concepts/policy/pod-security-policy.md
  content/zh/docs/concepts/security/pod-security-admission.md
  content/zh/docs/concepts/security/pod-security-standards.md
  content/zh/docs/setup/best-practices/enforcing-pod-security-standards.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#31018 [zh] Translate scheduler config API v1beta3
  content/zh/docs/reference/config-api/kube-scheduler-config.v1beta3.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#31021 [zh] Translate kube-scheduler config API v1beta2
  content/zh/docs/reference/config-api/kube-scheduler-config.v1beta2.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#31030 [zh] Translate kubeadm config ref v1beta2
  content/zh/docs/reference/config-api/kubeadm-config.v1beta2.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#31907 [zh] Translate change runtime containerd page
  content/zh/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31920 Moved blog guidance from SIG page to docs
  content/en/docs/contribute/new-content/blogs-case-studies.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#31939 [zh] Translate (resync) the migrating from PSP page
  content/zh/docs/tasks/configure-pod-container/migrate-from-psp.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#31940 [zh] Translate mapping PSP to PSS page
  content/zh/docs/reference/access-authn-authz/psp-to-pod-security-standards.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31941 [zh] Translate API server config v1 reference
  content/zh/docs/reference/config-api/apiserver-config.v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31943 [zh] Translate docker to crictl map page
  content/zh/docs/reference/tools/map-crictl-dockercli.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31944 [zh] Update i18n data for zh localization
  data/i18n/zh/zh.toml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31945 [zh] Translate projected volume page
  content/zh/docs/concepts/storage/projected-volumes.md
  content/zh/examples/pods/storage/projected-secret-downwardapi-configmap.yaml
  content/zh/examples/pods/storage/projected-secrets-nondefault-permission-mode.yaml
  content/zh/examples/pods/storage/projected-service-account-token.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31948 [zh] Translate API server encryption config API
  content/zh/docs/reference/config-api/apiserver-encryption.v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#31978 [zh] Add glossary cadvisor
  content/zh/docs/reference/glossary/cadvisor.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#32001 [zh]fix antrea-network-policy display error
  content/zh/docs/tasks/administer-cluster/network-policy-provider/antrea-network-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32017 [zh] Tweak some translations on the Quota API page
  content/zh/docs/tasks/administer-cluster/quota-api-object.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#30695 [DE] Localization.md: minor improvements to German translation
  content/de/docs/contribute/localization.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/de

#30365 [de] Fix typo in hello-minikube.md
  content/de/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, lifecycle/stale, language/de

#31973 [de] fix typo in Horizontal Pod Autoscaling
  content/de/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#31718 [de] Fix broken links due to using githubbranch param
  content/de/docs/concepts/overview/what-is-kubernetes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#31749 [de] Update hyperlinks to point to main branch
  content/de/docs/contribute/localization.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#30179 [de] Participating in SIG Docs
  content/de/docs/contribute/participate/_index.md
  content/de/docs/contribute/participate/pr-wranglers.md
  content/de/docs/contribute/participate/roles-and-responsibilities.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/de

#31603 add note about Terminating pods when rolling out a Deployment
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, sig/apps, language/en

#30981 [ja] Translate tasks/debug-application-cluster/local-debugging into Japanese
  content/ja/docs/tasks/debug-application-cluster/local-debugging.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#32028 [de] fix typo in "what is Kubernetes"
  content/de/docs/concepts/overview/what-is-kubernetes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#31991 [es] fix link of XFS project quotas
  content/es/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#32045 Mark “Remembering Dan Kohn” article evergreen
  content/en/blog/_posts/2020-11-02-remembering-dan-kohn.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#32027 Update scheduler configuration sample version
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/en/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#32003 feat: feature gate DefaultPodTopologySpread is GA
  content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/scheduling, approved, language/en

#31533 [ja] Translate concepts/storage/volumes.md into Japanese
  content/ja/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/ja

#31975 Modify the expulsion link initiated by API
  content/zh/docs/concepts/scheduling-eviction/_index.md
  content/zh/docs/concepts/scheduling-eviction/node-pressure-eviction.md
  content/zh/docs/concepts/scheduling-eviction/pod-priority-preemption.md
  content/zh/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/zh/docs/reference/glossary/eviction.md
  content/zh/docs/reference/glossary/node-pressure-eviction.md
  content/zh/docs/tasks/administer-cluster/reserve-compute-resources.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#32019 [zh] Fix some nits in the volume health page
  content/zh/docs/concepts/storage/volume-health-monitoring.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#32023 [zh] Fix scheduling-eviction index
  content/zh/docs/concepts/scheduling-eviction/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32025 [zh] tweak scheduling framework page
  content/zh/docs/concepts/scheduling-eviction/scheduling-framework.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#32031 [zh]sync developing-cloud-controller-manager
  content/zh/docs/tasks/administer-cluster/developing-cloud-controller-manager.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#31636 Fix links and markdown format for some pages
  content/en/docs/concepts/policy/pod-security-policy.md
  content/en/docs/reference/using-api/deprecation-policy.md
  content/en/docs/tutorials/security/ns-level-pss.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#29847 Move kubectl overview to be section index
  content/en/docs/concepts/cluster-administration/manage-deployment.md
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/en/docs/concepts/overview/kubernetes-api.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/glossary/kubectl.md
  content/en/docs/reference/kubectl/_index.md
  content/en/docs/reference/kubectl/cheatsheet.md
  content/en/docs/reference/kubectl/jsonpath.md
  content/en/docs/reference/kubectl/kubectl-cmds.md
  content/en/docs/reference/kubectl/overview.md
  content/en/docs/setup/production-environment/tools/kops.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/setup/production-environment/windows/user-guide-windows-containers.md
  content/en/docs/tasks/access-application-cluster/access-cluster.md
  content/en/docs/tasks/administer-cluster/access-cluster-api.md
  content/en/docs/tasks/debug-application-cluster/troubleshooting.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
  content/en/docs/tutorials/hello-minikube.md
  static/_redirects
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, sig/cli, kind/cleanup, language/en, refactor

#32032 [zh]fix namespaces-walkthrough title format error
  content/zh/docs/tasks/administer-cluster/namespaces-walkthrough.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32065 Update scheduler-perf-tuning.md
  content/zh/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32062 Update storage-classes.md
  content/zh/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#32063 Update volume-snapshot-classes.md
  content/zh/docs/concepts/storage/volume-snapshot-classes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#32040 Update cron-jobs.md
  content/zh/docs/concepts/workloads/controllers/cron-jobs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32059 Update replicaset.md
  content/zh/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32076 Update networking.md
  content/zh/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#32074 Update service-traffic-policy.md
  content/zh/docs/concepts/services-networking/service-traffic-policy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#32078 Update container-environment.md
  content/zh/docs/concepts/containers/container-environment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32072 Update replicationcontroller.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#32075 Update system-traces.md
  content/zh/docs/concepts/cluster-administration/system-traces.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32057 [ko] Fix anchor usage on docs/concepts/storage/volumes
  content/ko/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#32064 Update resource-bin-packing.md
  content/zh/docs/concepts/scheduling-eviction/resource-bin-packing.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31626 Add that CSIMigration* fallback does not work for provision operations
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/M, lgtm, sig/storage, sig/docs, approved, language/en

#32070 Fixing typo error
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/migrating-telemetry-and-security-agents.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#32091 Update runtime-class.md
  content/zh/docs/concepts/containers/runtime-class.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32080 Make FEATURE STATE localizable
  data/i18n/en/en.toml
  layouts/shortcodes/feature-state.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31813 [id] update schedule
  content/id/examples/application/job/cronjob.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#31602 Add documentation on pod-security.kubernetes.io annotations
  content/en/docs/reference/labels-annotations-taints/_index.md
  content/en/docs/reference/labels-annotations-taints/audit-annotations.md
Labels: cncf-cla: yes, size/L, lgtm, sig/auth, sig/docs, approved, language/en

#32061 Docs - Fixed double quotes issue with feature-gates
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31966 Update kubelet-integration.md issue
  content/en/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#31816 Update proposal link to point to archive
  content/en/docs/tasks/administer-cluster/reserve-compute-resources.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#31654 Add figure <number> to text/caption _index.md
  content/en/docs/contribute/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#32103 [zh] Update service-catalog.md
  content/zh/docs/concepts/extend-kubernetes/service-catalog.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32104 [zh] Update operator.md
  content/zh/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32108 [zh] Update components.md
  content/zh/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32111 [zh] Update kube-scheduler.md
  content/zh/docs/concepts/scheduling-eviction/kube-scheduler.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32114 [zh] Update endpoint-slices.md
  content/zh/docs/concepts/services-networking/endpoint-slices.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32113 [zh] Update pod-security-admission.md
  content/zh/docs/concepts/security/pod-security-admission.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32102 [zh] Update logging.md
  content/zh/docs/concepts/cluster-administration/logging.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#32124 Update conventions.md
  content/zh/docs/reference/kubectl/conventions.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#31141 [es] Add concepts/workloads/pods/disruptions
  content/es/docs/concepts/workloads/pods/disruptions.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/es

#31807 [pt-br] Add concepts/configuration/manage-resources-containers.md
  content/pt-br/docs/concepts/configuration/manage-resources-containers.md
  content/pt-br/docs/reference/glossary/cgroup.md
  content/pt-br/docs/reference/glossary/eviction.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/pt

#32120 Sync doc about docsHome
  content/zh/docs/home/_index.md
  content/zh/docs/reference/kubectl/kubectl-cmds.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#32137 update hello-minikube.md
  content/zh/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32138 [zh] Fix the PSP page
  content/zh/docs/concepts/policy/pod-security-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32094 [zh] Tweak translation of dockershim check
  content/zh/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#32141 [zh] Resync security context page
  content/zh/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#32067 Update the links to Gateway API
  content/en/blog/_posts/2021-04-22-gateway-api/index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/en, area/blog

#32146 Update CVE-2019-5736 article
  content/en/blog/_posts/2019-02-11-runc-CVE-2019-5736.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#32126 Improve coredns page
  content/en/docs/tasks/administer-cluster/coredns.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#32159 Update source-ip.md
  content/zh/docs/tutorials/services/source-ip.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32158 [zh] update reviewers from SIG-UI
  content/zh/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32073 [zh] Update ttlafterfinished.md
  content/zh/docs/concepts/workloads/controllers/ttlafterfinished.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#32060 Update replicationcontroller.md
  content/zh/docs/concepts/workloads/controllers/replicationcontroller.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#32154 [zh] update automated-tasks-with-cron-jobs doc
  content/zh/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#32151 [zh] update learning environment index
  content/zh/docs/setup/learning-environment/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#32144 [zh] Update content/zh/docs/reference/_index.md
  content/zh/docs/reference/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#32171 [zh]Uniform format for `capabilities` term
  content/zh/docs/contribute/localization_zh.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32173 [zh] Update ephemeral-volumes.md
  content/zh/docs/concepts/storage/ephemeral-volumes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#32160 Add zacharysarah to approvers/reviewers for English language content
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#32169 Corrected a wrong word
  content/zh/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#32189 [zh] Resync Reviewing for approvers and reviewers page
  content/zh/docs/contribute/review/for-approvers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32166 [zh]Delete broken link (contiv.io)
  content/zh/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32206 [ko] fix typo in get-shell-running-container page
  content/ko/docs/tasks/debug-application-cluster/get-shell-running-container.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#32217 [zh] Update create-hostprocess-pod.md
  content/zh/docs/tasks/configure-pod-container/create-hostprocess-pod.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#32211 [zh] Update adding-windows-nodes.md
  content/zh/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32157 Make the AppArmor docs more runtime agnostic
  content/en/docs/tutorials/security/apparmor.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#32178 [zh] Update access-cluster.md
  content/zh/docs/tasks/access-application-cluster/access-cluster.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#32198 [zh] Update configure-upgrade-etcd.md
  content/zh/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#32199 [zh] Update access-cluster-services.md
  content/zh/docs/tasks/administer-cluster/access-cluster-services.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#32213 [zh] Update _index.md
  content/zh/docs/tasks/administer-cluster/migrating-from-dockershim/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#32216 [zh] Update memory-manager.md
  content/zh/docs/tasks/administer-cluster/memory-manager.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32225 [zh] Update define-command-argument-container.md
  content/zh/docs/tasks/inject-data-application/define-command-argument-container.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#32226 [zh] Update parallel-processing-expansion.md
  content/zh/docs/tasks/job/parallel-processing-expansion.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#32235 [zh] Update update-daemon-set.md
  content/zh/docs/tasks/manage-daemon/update-daemon-set.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#32240 [zh] Update update-api-object-kubectl-patch.md
  content/zh/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#32220 minor wording fix
  content/en/docs/tutorials/stateless-application/guestbook.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#32241 Tweak the downward API volume task page
  content/en/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#31831 Updated the default backend for ingress controller issue-31465
  content/en/docs/concepts/services-networking/ingress.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#28954 update some typo produced by scripts/verify-spelling.sh
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
  scripts/.spelling_failures
  scripts/verify-spelling.sh
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/blog

#30721 making wording clearer on extra in impersonation
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, sig/docs, approved, language/en

#32026 [zh] Resync managing resource for containers
  content/zh/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#32252 [zh] Update install-kubectl-windows.md
  content/zh/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#32256 Fix a link in cluster-level-pss.md
  content/en/docs/tutorials/security/cluster-level-pss.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#32261 Update deprecation message for kubelet's flag.
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/docs, approved, kind/cleanup, sig/cloud-provider, language/en

#30984 Tidy & reword Secret concept
  content/en/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, sig/security, refactor

#31042 Revise list of Secret types
  content/en/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/L, sig/docs, language/en

#32268 Update enforce-standards-admission-controller.md
  content/en/docs/tasks/configure-pod-container/enforce-standards-admission-controller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, kind/bug, sig/docs, approved, language/en

#32262 [zh] Update localization.md
  content/zh/docs/contribute/localization.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#32260 Fix links in the nodes page
  content/en/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#32253 [zh] Update advanced.md
  content/zh/docs/contribute/advanced.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#32227 [zh] update assign-pod-node.md doc
  content/zh/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#30812 [ja] Translate tasks/administer-cluster/securing-a-cluster into Japanese
  content/ja/docs/tasks/administer-cluster/securing-a-cluster.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#32279 Update _index.md issue-32273
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#32050 No need for special handling for zsh aliases
  content/en/docs/tasks/tools/included/optional-kubectl-configs-zsh.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#32140 [zh] Resync tutorials index
  content/zh/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#32277 [zh] Update webhook.md
  content/zh/docs/reference/access-authn-authz/webhook.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#32278 Added the MoC APAC blog post
  content/en/blog/_posts/2022-03-15-meet-our-contributors-APAC-AU-NZ-region-01.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/blog

#32223 Migrate access cluster service page
  content/en/docs/tasks/access-application-cluster/access-cluster-services.md
  content/en/docs/tasks/access-application-cluster/access-cluster.md
  static/_redirects
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#32289 [zh] Update bootstrap-tokens.md
  content/zh/docs/reference/access-authn-authz/bootstrap-tokens.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#32281 [zh] Update storage pages in concepts
  content/zh/docs/concepts/storage/persistent-volumes.md
  content/zh/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#32286 [zh] Update node.md
  content/zh/docs/reference/access-authn-authz/node.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh
