Repository kubernetes/website, pull requests merged in 2022-11, with the labels that each got.

#37617 Update limit-range.md
  content/zh-cn/docs/concepts/policy/limit-range.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37618 Sync examples/admin/dns/dnsutils.yaml&administer-cluster/cpu-management-policies.md
  content/zh-cn/docs/tasks/administer-cluster/cpu-management-policies.md
  content/zh-cn/examples/admin/dns/dnsutils.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37631 [zh] Optimize some zh text about Registry
  content/zh-cn/blog/_posts/2020-12-02-dockershim-faq.md
  content/zh-cn/blog/_posts/2022-02-17-updated-dockershim-faq.md
  content/zh-cn/blog/_posts/2022-05-03-kubernetes-release-1.24.md
  content/zh-cn/case-studies/ibm/index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37641 Update kubeadm-reconfigure.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-reconfigure.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37563 Add a blog post about Kluctl and its use of SSA
  content/en/blog/_posts/2022-11-04-live-and-let-live-with-kluctl-and-ssa.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#37482 KubeCon Docs Sprint: Update Weights for Setup and Subfolders
  content/en/docs/setup/best-practices/certificates.md
  content/en/docs/setup/best-practices/cluster-large.md
  content/en/docs/setup/production-environment/tools/kubeadm/dual-stack-support.md
  content/en/docs/setup/production-environment/turnkey-solutions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#37637 Fix links about flexvolume
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/concepts/storage/windows-storage.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, language/en

#37521 Updated `<node-to-drain>` to `<node-to-uncordon>` in kubeadm-upgrade
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37654 [id] remove unused repo gpgkey for yum repo
  content/id/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/id/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#37599 Sync /administer-cluster/namespaces-walkthrough.md、examples/admin/namespace-dev.yaml、examples/admin/namespace-prod.yaml
  content/zh-cn/docs/tasks/administer-cluster/namespaces-walkthrough.md
  content/zh-cn/examples/admin/namespace-dev.yaml
  content/zh-cn/examples/admin/namespace-prod.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37425 [zh-cn] Update organize-cluster-access-kubeconfig.md
  content/zh-cn/docs/concepts/configuration/organize-cluster-access-kubeconfig.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37522 Add documentation of all prometheus metrics in core Kubernetes
  content/en/docs/reference/instrumentation/_index.md
  content/en/docs/reference/instrumentation/metrics.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, sig/instrumentation, approved, language/en

#37630 [zh] updated volumes.md
  content/zh-cn/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37613 [zh] sync /labels-annotations-taints/_index.md
  content/zh-cn/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37660 [zh] sync /best-practices/cluster-large.md
  content/zh-cn/docs/setup/best-practices/cluster-large.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37642 [fr] remove unused repo gpgkey for yum repo
  content/fr/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/fr/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#37494 KubeCon Docs Sprint: Update page weights for content/en/docs/concepts…
  content/en/docs/concepts/services-networking/connect-applications-service.md
  content/en/docs/concepts/services-networking/dns-pod-service.md
  content/en/docs/concepts/services-networking/dual-stack.md
  content/en/docs/concepts/services-networking/endpoint-slices.md
  content/en/docs/concepts/services-networking/ingress-controllers.md
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/concepts/services-networking/network-policies.md
  content/en/docs/concepts/services-networking/service-topology.md
  content/en/docs/concepts/services-networking/service-traffic-policy.md
  content/en/docs/concepts/services-networking/topology-aware-hints.md
  content/en/docs/concepts/services-networking/windows-networking.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/en

#37473 Update page weights for content/en/docs/concepts/architecture
  content/en/docs/concepts/architecture/cri.md
  content/en/docs/concepts/architecture/garbage-collection.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37485 Update page weights in API Access Control reference section
  content/en/docs/reference/access-authn-authz/certificate-signing-requests.md
  content/en/docs/reference/access-authn-authz/kubelet-authn-authz.md
  content/en/docs/reference/access-authn-authz/kubelet-tls-bootstrapping.md
  content/en/docs/reference/access-authn-authz/webhook.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#37609 Fix the error zh translation in APF docs
  content/zh-cn/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37681 [zh] sync /architecture/garbage-collection.md
  content/zh-cn/docs/concepts/architecture/garbage-collection.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37253 content: Clarify how to verify user abstraction
  content/en/docs/concepts/workloads/pods/user-namespaces.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37685 [zh] fix missing heading
  content/zh-cn/docs/tasks/extend-kubernetes/configure-aggregation-layer.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37680 [zh] sync /architecture/cri.md
  content/zh-cn/docs/concepts/architecture/cri.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37661 [zh] sync kubeadm-upgrade.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37663 [zh] sync and optimize the overview.md format
  content/zh-cn/docs/concepts/configuration/overview.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37678 Updating service topology to a higher weight due to deprecation
  content/en/docs/concepts/services-networking/service-topology.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37632 Improve feature gate StatefulSetAutoDeletePVC description
  content/en/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37611 [zh] sync managing-secret-using-kustomize.md
  content/zh-cn/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#37608 Update content/en/docs/concepts/extend-kubernetes/_index.md
  content/en/docs/concepts/extend-kubernetes/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37567 Use Google Analytics 4 (GA4) site tag for v1.23
  layouts/partials/head.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#37606 Fix broken link on Writing a new topic Page
  content/en/docs/contribute/style/write-new-topic.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37510 Fix bullet alignment errors in localization.md
  content/en/docs/contribute/localization.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#37566 Use Google Analytics 4 (GA4) site tag for v1.22
  layouts/partials/head.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#37565 Use Google Analytics 4 (GA4) site tag for v1.21
  layouts/partials/head.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#37629 Update link for Java Client Library examples
  content/en/docs/reference/using-api/client-libraries.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#35017 Added cleanup steps for persistent storage
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#37271 docs(setup-konnectivity.md): remove duplicate openssl option
  content/en/docs/tasks/extend-kubernetes/setup-konnectivity.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34097 Add controlling access for pt-br
  content/pt-br/docs/concepts/security/controlling-access.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#37586 Add pt-br/docs/reference/glossary/cloud-provider.md
  content/pt-br/docs/reference/glossary/cloud-provider.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pt

#37698 [zh-cn]sync concepts/storage/windows-storage.md
  content/zh-cn/docs/concepts/storage/windows-storage.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37622 [zh-cn] Add zh-cn/docs/concepts/security/security-checklist.md
  content/zh-cn/docs/concepts/security/pod-security-admission.md
  content/zh-cn/docs/concepts/security/security-checklist.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#37696 [zh] sync configure-aggregation-layer.md
  content/zh-cn/docs/tasks/extend-kubernetes/configure-aggregation-layer.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37662 [zh] Update organize-cluster-access-kubeconfig.md
  content/zh-cn/docs/concepts/configuration/organize-cluster-access-kubeconfig.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37664 [zh] sync and add anchors to custom-resource-definition-versioning.md
  content/zh-cn/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37676 Update docs given that Services with type=LoadBalancer is stable
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#37706 [zh-cn] Update basic-stateful-set.md
  content/zh-cn/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37703 [ja] remove unused repo gpgkey for yum repo
  content/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/ja/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#37716 Adjust page weights for /docs/concepts section
  content/en/docs/concepts/scheduling-eviction/_index.md
  content/en/docs/concepts/security/_index.md
  content/en/docs/concepts/workloads/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#37659 [zh] sync /best-practices/certificates.md
  content/zh-cn/docs/setup/best-practices/certificates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37717 Updates page weights in reference docs section
  content/en/docs/reference/access-authn-authz/_index.md
  content/en/docs/reference/command-line-tools-reference/_index.md
  content/en/docs/reference/command-line-tools-reference/kubelet.md
  content/en/docs/reference/config-api/_index.md
  content/en/docs/reference/instrumentation/_index.md
  content/en/docs/reference/issues-security/_index.md
  content/en/docs/reference/kubectl/_index.md
  content/en/docs/reference/kubectl/conventions.md
  content/en/docs/reference/kubectl/docker-cli-to-kubectl.md
  content/en/docs/reference/kubectl/jsonpath.md
  content/en/docs/reference/kubernetes-api/_index.md
  content/en/docs/reference/labels-annotations-taints/_index.md
  content/en/docs/reference/labels-annotations-taints/audit-annotations.md
  content/en/docs/reference/node/_index.md
  content/en/docs/reference/node/topics-on-dockershim-and-cri-compatible-runtimes.md
  content/en/docs/reference/ports-and-protocols.md
  content/en/docs/reference/scheduling/_index.md
  content/en/docs/reference/scheduling/policies.md
  content/en/docs/reference/setup-tools/_index.md
  content/en/docs/reference/tools/_index.md
  content/en/docs/reference/tools/map-crictl-dockercli.md
  content/en/docs/reference/using-api/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#37719 Blog: Fix broken link to kluctl.io
  content/en/blog/_posts/2022-11-04-live-and-let-live-with-kluctl-and-ssa.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#37279 [zh] Update overview.md
  content/zh-cn/docs/concepts/security/overview.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37729 Deprecate glusterfs in more places
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/storage-classes.md
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/S, lgtm, needs-rebase, sig/docs, approved, language/en

#37296 [zh] Update local-debugging.md
  content/zh-cn/docs/tasks/debug/debug-cluster/local-debugging.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37338 [zh] Updated environment-variable-expose-pod-information.md
  content/zh-cn/docs/tasks/inject-data-application/environment-variable-expose-pod-information.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37371 [zh] sync /compute-storage-net/device-plugins.md
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37396 [zh] sync configure-access-multiple-clusters.md
  content/zh-cn/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37400 [zh] sync connect-applications-service.md
  content/zh-cn/docs/concepts/services-networking/connect-applications-service.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37410 [zh] sync pod-lifecycle.md
  content/zh-cn/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37421 [zh] sync blogs-case-studies.md
  content/zh-cn/docs/contribute/new-content/blogs-case-studies.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#37467 Update authentication.md
  content/zh-cn/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37390 [zh-cn]Update feature-gates.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37597 Sync /configuration/configmap.md
  content/zh-cn/docs/concepts/configuration/configmap.md
  content/zh-cn/examples/configmap/configure-pod.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37626 [zh] sync /extend-kubernetes/_index.md
  content/zh-cn/docs/concepts/extend-kubernetes/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37509 [zh] sync localization.md
  content/zh-cn/docs/contribute/localization.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#37463 [zh] sync service.md
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#37397 [zh] sync dns-pod-service.md
  content/zh-cn/docs/concepts/services-networking/dns-pod-service.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#37443 [zh] Fix typos in IPv4/IPv6 Dual Stack concept (IPv4/IPv6 双协议栈)
  content/zh-cn/docs/concepts/services-networking/dual-stack.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37734 Tweak reference for admission controllers
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#37392 [zh-cn]Update components.md
  content/zh-cn/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37550 [zh-cn] Update deployment.md
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37151 [ko] Update outdated files dev-1.25-ko.1 (M22-M33)
  content/ko/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/ko/docs/concepts/scheduling-eviction/topology-spread-constraints.md
  content/ko/docs/concepts/security/overview.md
  content/ko/docs/concepts/security/pod-security-policy.md
  content/ko/docs/concepts/security/pod-security-standards.md
  content/ko/docs/concepts/security/rbac-good-practices.md
  content/ko/docs/concepts/services-networking/connect-applications-service.md
  content/ko/docs/concepts/services-networking/dns-pod-service.md
  content/ko/docs/concepts/services-networking/endpoint-slices.md
  content/ko/docs/concepts/services-networking/network-policies.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/services-networking/topology-aware-hints.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/ko

#37328 [zh-cn]sync managing-secret-using-config-file.md
  content/zh-cn/docs/tasks/configmap-secret/managing-secret-using-config-file.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37375 [zh] Update securing-a-cluster.md
  content/zh-cn/docs/tasks/administer-cluster/securing-a-cluster.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37429 Update endpoint-slices.md
  content/zh-cn/docs/concepts/services-networking/endpoint-slices.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#37721 [zh] sync /setup-konnectivity.md
  content/zh-cn/docs/tasks/extend-kubernetes/setup-konnectivity.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37737 [zh] sync /storage/storage-classes.md
  content/zh-cn/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37741 [zh] sync admission-controllers.md
  content/zh-cn/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#37614 [zh] sync /storage/dynamic-provisioning.md
  content/zh-cn/docs/concepts/storage/dynamic-provisioning.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37720 fix: zh-cn code of conduct css
  content/zh-cn/community/code-of-conduct.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37275 [zh-cn]Update memory-default-namespace.md
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/memory-default-namespace.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37545 [hi] update url
  content/hi/docs/setup/production-environment/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#37724 [zh-cn] Translate /docs/concepts/security/api-server-bypass-risks.md to Chinese
  content/zh-cn/docs/concepts/security/api-server-bypass-risks.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#37280 Update deprecated kubectl command in apparmor doc
  content/ja/docs/tutorials/clusters/apparmor.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#37704 Optimize link text in /dynamic-provisioning.md
  content/en/docs/concepts/storage/dynamic-provisioning.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#37420 Clarify emptyDir sizeLimit
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/storage, sig/docs, approved, language/en

#36327 [ru] Add RU localization - certificates.md
  content/ru/docs/concepts/cluster-administration/certificates.md
  content/ru/docs/tasks/administer-cluster/certificates.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ru

#37723 [pt] remove unused repo gpgkey for yum repo
  content/pt-br/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#37763 [zh-cn]Update dynamic-provisioning.md
  content/zh-cn/docs/concepts/storage/dynamic-provisioning.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37759 Fix a typo
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37753 [zh] sync /kubeadm/kubeadm-reconfigure.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-reconfigure.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37761 remove kubelet http server
  content/zh-cn/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37775 [zh] sync weight for api-extension
  content/zh-cn/docs/concepts/extend-kubernetes/api-extension/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37769 Fix tiny typo in NFS Volume example.
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37772 Use the `registry.k8s.io` instead of `k8s.gcr.io` image registry
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37773 [zh] sync page weights for docs/concepts/cluster-administration
  content/zh-cn/docs/concepts/cluster-administration/addons.md
  content/zh-cn/docs/concepts/cluster-administration/flow-control.md
  content/zh-cn/docs/concepts/cluster-administration/proxies.md
  content/zh-cn/docs/concepts/cluster-administration/system-logs.md
  content/zh-cn/docs/concepts/cluster-administration/system-metrics.md
  content/zh-cn/docs/concepts/cluster-administration/system-traces.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37688 Graduate scheduler nodeInclusionPolicy to beta
  content/en/docs/concepts/scheduling-eviction/topology-spread-constraints.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/scheduling, approved, language/en

#37777 [zh-cn] Sync implementation-details.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/implementation-details.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37778 [zh_cn] sync certificate-signing-requests.md
  content/zh-cn/docs/reference/access-authn-authz/certificate-signing-requests.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37780 [zh] sync weights for docs/concepts/containers
  content/zh-cn/docs/concepts/containers/container-lifecycle-hooks.md
  content/zh-cn/docs/concepts/containers/runtime-class.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37781 [zh] add missing weight for concepts/workloads/pods
  content/zh-cn/docs/concepts/workloads/pods/downward-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35053 Clarify handling of projected SA token permissions
  content/en/docs/concepts/storage/projected-volumes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/storage, sig/auth, sig/docs, approved, language/en

#37735 [es] remove unused repo gpgkey for yum repo
  content/es/docs/tasks/tools/included/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#37731 Tweak page about PodSecurityPolicy removal
  content/en/docs/concepts/security/pod-security-policy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#37767 Add documentation for Component SLIs feature
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/instrumentation/slis.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/instrumentation, approved, tide/merge-method-squash, language/en

#37797 [zh] sync migrate-from-psp.md
  content/zh-cn/docs/tasks/configure-pod-container/migrate-from-psp.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37782 [zh] Update weights for concepts/overview/working-with-objects
  content/zh-cn/docs/concepts/overview/working-with-objects/annotations.md
  content/zh-cn/docs/concepts/overview/working-with-objects/common-labels.md
  content/zh-cn/docs/concepts/overview/working-with-objects/field-selectors.md
  content/zh-cn/docs/concepts/overview/working-with-objects/finalizers.md
  content/zh-cn/docs/concepts/overview/working-with-objects/names.md
  content/zh-cn/docs/concepts/overview/working-with-objects/namespaces.md
  content/zh-cn/docs/concepts/overview/working-with-objects/object-management.md
  content/zh-cn/docs/concepts/overview/working-with-objects/owners-dependents.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37798 [zh] sync /security/pod-security-policy.md
  content/zh-cn/docs/concepts/security/pod-security-policy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37784 [zh-cn]Update extend-kubernetes storage-plugins
  content/zh-cn/docs/concepts/extend-kubernetes/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37789 [zh-cn]Update kubeadm-config.v1beta2.md
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta2.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37787 [zh-cn]Update client-libraries.md
  content/zh-cn/docs/reference/using-api/client-libraries.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37557 Revise section title for “Reference Docs Overview”
  content/en/docs/contribute/generate-ref-docs/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34855 Add create and edit to kubectl secrets
  content/en/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#37807 [zh] update weights for access-authn-authz
  content/zh-cn/docs/reference/access-authn-authz/certificate-signing-requests.md
  content/zh-cn/docs/reference/access-authn-authz/kubelet-authn-authz.md
  content/zh-cn/docs/reference/access-authn-authz/kubelet-tls-bootstrapping.md
  content/zh-cn/docs/reference/access-authn-authz/webhook.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37806 [zh] Update weights for prodution-environment
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/dual-stack-support.md
  content/zh-cn/docs/setup/production-environment/turnkey-solutions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37671 docs(hpa): fix typo in 1.23 blog announcement
  content/en/blog/_posts/2021-12-07-kubernetes-release-1.23.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#37793 [vi] remove unused repo gpgkey for yum repo
  content/vi/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/vi

#37504 update update-imported-docs.py
  update-imported-docs/update-imported-docs.py
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#37808 [en] modify invalid links
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#34477 Added scheduler.alpha.kubernetes.io/node-selector annotation
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/scheduling, approved, tide/merge-method-squash, language/en

#33654 Reword tasks relating to ServiceAccounts
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
  content/en/examples/secret/serviceaccount/mysecretname.yaml
Labels: cncf-cla: yes, size/XL, lgtm, sig/auth, sig/docs, approved, language/en, refactor

#37464 Fix inconsistencies in service.md
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#37218 Tweak line wrappings in the network-plugins page
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#37217 Tweak line wrappings in the device-plugin concepts page
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#37216 Tweak line wrapping in the custom-resource concept page
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#37212 Tweak line wrapping in the system-logs page
  content/en/docs/concepts/cluster-administration/system-logs.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#37210 Tweak line wrapping for configuration overview page
  content/en/docs/concepts/configuration/overview.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#37209 Tweak line wrapping for system-metrics page
  content/en/docs/concepts/cluster-administration/system-metrics.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#37819 [hi] remove unused repo gpgkey for yum repo
  content/hi/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#37821 Tweak line wrappings in /volume-snapshots.md
  content/en/docs/concepts/storage/volume-snapshots.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#37406 [zh-cn] Update replicaset.md
  content/zh-cn/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37423 [zh] sync endpoints-aggregated.yaml
  content/zh-cn/examples/access/endpoints-aggregated.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#37344 Add the ending mark of codeblock in install-kubectl-windows.md
  content/en/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37804 [zh-cn] Updated volumes.md
  content/zh-cn/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37827 [zh_cn] Sync new-features.md
  content/zh-cn/docs/contribute/new-content/new-features.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37822 update documentation for metrics now that code freeze is in effect
  content/en/docs/reference/instrumentation/metrics.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, sig/instrumentation, approved, language/en

#37831 [fr] Update _index.md
  content/fr/docs/contribute/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/fr

#36669 Move "Connecting Applications with Services" to tutorials section
  content/en/docs/concepts/services-networking/_index.md
  content/en/docs/concepts/services-networking/endpoint-slices.md
  content/en/docs/concepts/services-networking/service-traffic-policy.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/services-networking/topology-aware-hints.md
  content/en/docs/tasks/access-application-cluster/create-external-load-balancer.md
  content/en/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/en/docs/tasks/administer-cluster/enabling-service-topology.md
  content/en/docs/tutorials/_index.md
  content/en/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/en/docs/tutorials/services/connect-applications-service.md
  content/en/docs/tutorials/services/source-ip.md
  content/en/docs/tutorials/stateless-application/expose-external-ip-address.md
  content/en/docs/tutorials/stateless-application/guestbook.md
  static/_redirects
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, refactor

#37824 [zh] Update configure-redis-using-configmap.md
  content/zh-cn/docs/tutorials/configuration/configure-redis-using-configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#37736 [fr] Fix stale link in “Secrets” concept page
  content/fr/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#37839 [ko] remove extra line from `pod-priority-preemption.md`
  content/ko/docs/concepts/scheduling-eviction/pod-priority-preemption.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#37604 Tell crawlers not to index print pages
  layouts/partials/head.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, priority/important-longterm, approved, area/web-development

#37747 Added more points in what's next section of Understanding Kubernetes …
  content/en/docs/concepts/overview/working-with-objects/kubernetes-objects.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37686 node: cpumgr: docs: Kubelet CPU Manager GA graduation
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/administer-cluster/cpu-management-policies.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#37873 Remove extra on
  content/en/docs/concepts/architecture/cgroups.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37848 Make layout prettier in /configure-volume-storage.md
  content/en/docs/tasks/configure-pod-container/configure-volume-storage.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#35961 [hi] Localize content/en/docs/reference/glossary/addons.md to hindi
  content/hi/docs/reference/glossary/addons.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi

#37846 Adding annotations reference in names.md
  content/en/docs/concepts/overview/working-with-objects/names.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37739 Improve list of default namespaces
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en
