Repository kubernetes/website, pull requests merged in 2023-01, with the labels that each got.

#38711 [zh] sync /releases/download.md
  content/zh-cn/releases/download.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38712 [zh] Fix rendering issues in pod-scheduling-readiness.md
  content/zh-cn/docs/concepts/scheduling-eviction/pod-scheduling-readiness.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38602 [es] Fix link on Storage Capacity page
  content/es/docs/concepts/storage/storage-capacity.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#38676 fix(common-labels): Specify SemVer version
  content/en/docs/concepts/overview/working-with-objects/common-labels.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#38698 Fix feature gates
  content/en/docs/reference/command-line-tools-reference/feature-gates-removed.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#38679 [zh-cn] Localize /en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/zh-cn/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#38706 [en] Add missing required `type` field to LimitRange example
  content/en/examples/concepts/policy/limit-range/problematic-limit-range.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en, language/zh

#38710 [zh] sync /debug-application/debug-service.md
  content/zh-cn/docs/tasks/debug/debug-application/debug-service.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38522 Add admission config API and fixes references to the API
  content/en/docs/reference/_index.md
  content/en/docs/reference/access-authn-authz/validating-admission-policy.md
  content/en/docs/reference/config-api/apiserver-admission.v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#38707 [zh] sync /config-api/kube-proxy-config.v1alpha1.md
  content/zh-cn/docs/reference/config-api/kube-proxy-config.v1alpha1.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38703 [zh] sync /config-api/apiserver-audit.v1.md
  content/zh-cn/docs/reference/config-api/apiserver-audit.v1.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37452 [id] Fix successfulJobsHistoryLimit and failedJobHistoryLimit fields in CronJob tasks
  content/id/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#38276 Fix nits in markdown links
  content/en/docs/concepts/security/api-server-bypass-risks.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/concepts/windows/intro.md
  content/en/docs/concepts/windows/user-guide.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/command-line-tools-reference/feature-gates-removed.md
  content/en/docs/reference/networking/virtual-ips.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
  content/en/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#38715 [id] Fix incorrect feature state for PVC expansion
  content/id/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#38636 [zh-cn] sync cron-jobs.md
  content/zh-cn/docs/concepts/workloads/controllers/cron-jobs.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38722 [zh] sync /docs/reference/_index.md
  content/zh-cn/docs/reference/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38685 [zh-cn] sync concepts/workloads/controllers/replicaset.md
  content/zh-cn/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38688 [zh-cn] sync /concepts/workloads/pods/_index.md
  content/zh-cn/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38689 [zh-cn] sync concepts/workloads/controllers/replicationcontroller.md
  content/zh-cn/docs/concepts/workloads/controllers/replicationcontroller.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38721 [zh] sync feature-gates-removed.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates-removed.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38723 [zh-cn]sync common-labels volumes intro
  content/zh-cn/docs/concepts/overview/working-with-objects/common-labels.md
  content/zh-cn/docs/concepts/storage/volumes.md
  content/zh-cn/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38724 Update cascade flag value to orphan
  content/fr/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#38678 [zh]Update audit.md
  content/zh-cn/docs/tasks/debug/debug-cluster/audit.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#38704 [zh] sync /config-api/client-authentication.v1.md
  content/zh-cn/docs/reference/config-api/client-authentication.v1.md
  content/zh-cn/docs/reference/config-api/client-authentication.v1beta1.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38624 [zh] Fix typo
  content/zh-cn/docs/concepts/windows/user-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#35300 Add Documentation for Kubectl debug node command
  content/en/docs/tasks/debug/debug-cluster/_index.md
  content/en/docs/tasks/debug/debug-cluster/kubectl-node-debug.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#35595 fix doc about preStop hook
  content/en/docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#38677 [zh] sync feature-gates.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#36703 Remove duplicated content in section "Container image pull secrets"
  content/en/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#37042 Add link to Etcd information in cluster-intro page
  content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#38684 [zh] sync /config-and-storage-resources/persistent-volume-claim-v1.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/persistent-volume-claim-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#37099 Heading of 'release notes' changed to 'Downloads'
  content/en/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37111 added note about core resources using /api and added path examples
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, wg/api-expression

#37250 [en] fix spelling error in system-trace.md
  content/en/docs/concepts/cluster-administration/system-traces.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37415 Update job-v1.md
  content/en/docs/reference/kubernetes-api/workload-resources/job-v1.md
  content/en/docs/reference/kubernetes-api/workload-resources/pod-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#37644 link not valid
  content/en/docs/concepts/cluster-administration/manage-deployment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37645 Updating migrating-from-dockershim.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/_index.md
Labels: cncf-cla: yes, size/S, lgtm, kind/bug, sig/docs, approved, language/en

#37829 Nit: case consistency for list items
  content/en/docs/concepts/overview/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#37850 Updating labels.md
  content/en/docs/concepts/overview/working-with-objects/labels.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#38014 Fix typos in 2022-05-13-grpc-probes-in-beta.md
  content/en/blog/_posts/2022-05-13-grpc-probes-in-beta.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#38161 adding annotation for kube-aggregator automanaged in labels-md
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/api-machinery, kind/bug, sig/docs, approved, language/en

#36667 Added make module-init command in Readme
  README.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash

#38725 [zh-cn] Add missing required `type` field to LimitRange example
  content/zh-cn/examples/concepts/policy/limit-range/problematic-limit-range.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#38734 Add ComponentSLIs feature gate
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#38737 Fix EOL dates for 1.25 and 1.26
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, area/release-eng

#37145 Register and document volumes.kubernetes.io/controller-managed-attach-detach annotation
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/storage, sig/docs, approved, language/en

#38547 [ja] Update content/ja/docs/concepts/overview/components.md file
  content/ja/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja

#38535 [ja] add tasks/configure-pod-container/security-context.md
  content/ja/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja

#38194 updated the format of What's next section in cluster-large.md file
  content/en/docs/setup/best-practices/cluster-large.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#38360 Small grammar fix
  content/en/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#38375 Remove Base64'ing of file contents
  content/en/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#38428 Fix typo in SA admission controller steps
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, sig/docs, approved, language/en

#38733 [zh-cn] sync reference/glossary/kops.md
  content/zh-cn/docs/reference/glossary/kops.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38738 [zh] sync declarative-config.md
  content/zh-cn/docs/tasks/manage-kubernetes-objects/declarative-config.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, language/zh

#38731 [zh] sync kube-scheduler-config.v1.md
  content/zh-cn/docs/reference/config-api/kube-scheduler-config.v1.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38745 [en] update declarative-config.md
  content/en/docs/tasks/manage-kubernetes-objects/declarative-config.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#38754 [zh-cn] Sync files with en
  content/zh-cn/docs/tasks/manage-daemon/rollback-daemon-set.md
  content/zh-cn/docs/tasks/manage-kubernetes-objects/imperative-config.md
  content/zh-cn/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/zh-cn/docs/tasks/network/customize-hosts-file-for-pods.md
  content/zh-cn/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#37713 Blog: Protect mission-critical pods with PriorityClasses
  content/en/blog/_posts/2023-01-12-protect-mission-critical-pods-priorityclass/decision-tree.svg
  content/en/blog/_posts/2023-01-12-protect-mission-critical-pods-priorityclass/index.md
  content/en/blog/_posts/2023-01-12-protect-mission-critical-pods-priorityclass/kube-scheduler.svg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/en, area/blog

#37990 Add Arhell to sig-docs-uk-owners
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#38770 [zh] sync /working-with-objects/labels.md
  content/zh-cn/docs/concepts/overview/working-with-objects/labels.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38751 [zh-cn] Fix links for k/design-proposals-archive
  content/zh-cn/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38772 [zh] sync assign-pods-nodes.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-pods-nodes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38767 fix link
  content/en/docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#38769 [zh] sync manage-deployment.md
  content/zh-cn/docs/concepts/cluster-administration/manage-deployment.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/zh

#38752 [zh-cn] update delete-stateful-set.md
  content/zh-cn/docs/tasks/run-application/delete-stateful-set.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38753 [zh-cn] update update-api-object-kubectl-patch.md
  content/zh-cn/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#38773 [zh-cn] Sync Ingress with en page
  content/zh-cn/docs/concepts/services-networking/ingress.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38748 Update ingress-controllers.md
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#38776 [zh-cn] sync rbac.md
  content/zh-cn/docs/reference/access-authn-authz/rbac.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38749 [zh-cn] update run-replicated-stateful-application.md
  content/zh-cn/docs/tasks/run-application/run-replicated-stateful-application.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38717 [pt] Fix incorrect feature state for PVC expansion
  content/pt-br/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#37627 Feature blog for KEP-3017: Unhealthy Pod Eviction Policy for PDBs
  content/en/blog/_posts/2023-01-06-unhealthy-pod-eviction-policy-for-pdb.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#38312 CronJob topics improvement
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
  content/en/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, refactor

#38784 fix nits in blog post: Eviction policy for unhealthy Pods guarded by PDBs
  content/en/blog/_posts/2023-01-06-unhealthy-pod-eviction-policy-for-pdb.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#38759 [zh-cn]sync manage-deployment.md secret.md api-concepts.md
  content/zh-cn/docs/concepts/configuration/secret.md
  content/zh-cn/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38790 [zh] sync automated-tasks-with-cron-jobs.md
  content/zh-cn/docs/tasks/job/automated-tasks-with-cron-jobs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#38779 [zh] sync attach-handler-lifecycle-event.md
  content/zh-cn/docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38620 [ja] Fix link on Storage Capacity page
  content/ja/docs/concepts/storage/storage-capacity.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#37213 Tweak line wrapping in the images concept page
  content/en/docs/concepts/containers/images.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#38806 [zh] sync /debug/debug-cluster/audit.md
  content/zh-cn/docs/tasks/debug/debug-cluster/audit.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38804 [zh] sync local-debugging.md
  content/zh-cn/docs/tasks/debug/debug-cluster/local-debugging.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38720 Remove an incorrect warning when using katacoda tutorials
  content/en/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive.html
  content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/en/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/en/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/en/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/en/docs/tutorials/kubernetes-basics/update/update-interactive.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/web-development

#38763 Fixed overlap of nav-links with other content in certain screen sizes
  assets/scss/_custom.scss
  layouts/partials/navbar.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#38812 Update Link for Istio
  content/en/docs/reference/glossary/istio.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#38811 [zh] sync resource-usage-monitoring.md
  content/zh-cn/docs/tasks/debug/debug-cluster/resource-usage-monitoring.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38810 [zh] sync /debug/debug-cluster/crictl.md
  content/zh-cn/docs/tasks/debug/debug-cluster/crictl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38801 Fix typo
  content/en/docs/concepts/policy/limit-range.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#38813 [zh-cn] Update Link for Istio
  content/zh-cn/docs/reference/glossary/istio.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#38799 [zh-cn] Sync kubernetes-objects.md with en page
  content/zh-cn/docs/concepts/overview/working-with-objects/kubernetes-objects.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38796 [zh-cn] sync manage-deployment.md with en page
  content/zh-cn/docs/concepts/cluster-administration/manage-deployment.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38798 [zh-cn] Sync field-selector.md with en page
  content/zh-cn/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38787 [bn] Localize content/bn/docs/tasks/tools/included/_index.md
  content/bn/docs/tasks/tools/included/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#38819 Updated to open blog meta links in new tab
  layouts/partials/blog-meta-links.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#38829 [zh] sync /concepts/containers/images.md
  content/zh-cn/docs/concepts/containers/images.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#38795 [zh] sync /controllers/job.md
  content/zh-cn/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#38825 Exclude files from being rendered and served
  content/en/docs/tasks/tools/included/_index.md
  content/en/docs/tasks/tools/included/kubectl-convert-overview.md
  content/en/docs/tasks/tools/included/kubectl-whats-next.md
  content/en/docs/tasks/tools/included/optional-kubectl-configs-bash-linux.md
  content/en/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
  content/en/docs/tasks/tools/included/optional-kubectl-configs-fish.md
  content/en/docs/tasks/tools/included/optional-kubectl-configs-pwsh.md
  content/en/docs/tasks/tools/included/optional-kubectl-configs-zsh.md
  content/en/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#38836 [zh] sync container-runtimes.md
  content/zh-cn/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38766 [ru] Update README.md
  README-ru.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#38718 Fix examples and test cases
  content/en/examples/application/ssa/nginx-deployment-replicas-only.yaml
  content/en/examples/examples_test.go
  content/en/examples/priority-and-fairness/health-for-strangers.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#38845 [zh] sync /included/optional-kubectl-configs-fish.md
  content/zh-cn/docs/tasks/tools/included/optional-kubectl-configs-fish.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38847 fix links in blog post: Eviction policy for unhealthy Pods guarded by PDBs
  content/en/blog/_posts/2023-01-06-unhealthy-pod-eviction-policy-for-pdb.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#38846 [zh] sync /included/optional-kubectl-configs-bash-mac.md
  content/zh-cn/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38719 OWNERS Cleanup: Part 1
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, tide/merge-method-squash

#38824 Tweak copy re Stack Overflow / Server Fault / other SE network sites
  content/en/docs/tasks/debug/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#38844 [zh] sync /included/verify-kubectl.md
  content/zh-cn/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38830 [zh] sync /api-extension/custom-resources.md
  content/zh-cn/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#38852 [zh] sync /tasks/debug/_index.md
  content/zh-cn/docs/tasks/debug/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38683 [ja] Fix incorrect feature state for PVC expansion
  content/ja/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#38860 [zh-cn]sync container-runtime.md with en page
  content/zh-cn/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38865 [zh-cn] Sync topology-aware-hints page
  content/zh-cn/docs/concepts/services-networking/topology-aware-hints.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#38864 Jim Angel going emeritus
  OWNERS
  OWNERS_ALIASES
  content/en/docs/contribute/advanced.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#35264 [vi] updated the home page
  content/vi/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, lifecycle/rotten, language/vi

#38789 [ja] Update README.md
  README-ja.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#35097 [fr] Fix a link in concepts/architecture/nodes.md
  content/fr/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#38634 [ja] Translate content/ja/docs/setup/production-environment/tools/kubespray.md into Japanese
  content/ja/docs/setup/production-environment/tools/kubespray.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#38726 [ja] Revise use of jsonpath in AppArmor tutorial
  content/ja/docs/tutorials/clusters/apparmor.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#38778 [ja]Update feature gate table
  content/ja/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja

#38872 Update page weights in tutorial/security section
  content/en/docs/tutorials/security/apparmor.md
  content/en/docs/tutorials/security/ns-level-pss.md
  content/en/docs/tutorials/security/seccomp.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#37967 [pt-br] Move Portuguese localization files to pt-br folder
  data/i18n/pt-br/OWNERS
  data/i18n/pt-br/pt-br.toml
  data/i18n/pt/pt.toml
  i18n/pt-br.toml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt

#38406 [pt-br] Update pt-br/community/_index.html
  content/pt-br/community/_index.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt

#38198 Add /pt-br/blog/2022/11/28/registry-k8s-io-faster-cheaper-ga/
  content/pt-br/blog/_posts/2022-11-28-registry-k8s-io-change.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pt

#38851 [id] update FPGA device link
  content/id/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#38900 Add Commas with large numbers to assist the reader.
  content/en/docs/setup/best-practices/cluster-large.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#38887 Update page weights in /tasks/administer-cluster section
  content/en/docs/tasks/administer-cluster/access-cluster-api.md
  content/en/docs/tasks/administer-cluster/certificates.md
  content/en/docs/tasks/administer-cluster/change-default-storage-class.md
  content/en/docs/tasks/administer-cluster/change-pv-reclaim-policy.md
  content/en/docs/tasks/administer-cluster/cluster-upgrade.md
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
  content/en/docs/tasks/administer-cluster/controller-manager-leader-migration.md
  content/en/docs/tasks/administer-cluster/coredns.md
  content/en/docs/tasks/administer-cluster/cpu-management-policies.md
  content/en/docs/tasks/administer-cluster/declare-network-policy.md
  content/en/docs/tasks/administer-cluster/developing-cloud-controller-manager.md
  content/en/docs/tasks/administer-cluster/dns-custom-nameservers.md
  content/en/docs/tasks/administer-cluster/dns-debugging-resolution.md
  content/en/docs/tasks/administer-cluster/dns-horizontal-autoscaling.md
  content/en/docs/tasks/administer-cluster/enable-disable-api.md
  content/en/docs/tasks/administer-cluster/encrypt-data.md
  content/en/docs/tasks/administer-cluster/extended-resource-node.md
  content/en/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md
  content/en/docs/tasks/administer-cluster/ip-masq-agent.md
  content/en/docs/tasks/administer-cluster/kms-provider.md
  content/en/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-reconfigure.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/en/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md
  content/en/docs/tasks/administer-cluster/kubelet-config-file.md
  content/en/docs/tasks/administer-cluster/kubelet-credential-provider.md
  content/en/docs/tasks/administer-cluster/kubelet-in-userns.md
  content/en/docs/tasks/administer-cluster/limit-storage-consumption.md
  content/en/docs/tasks/administer-cluster/manage-resources/_index.md
  content/en/docs/tasks/administer-cluster/memory-manager.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/_index.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-removal-affects-you.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/migrate-dockershim-dockerd.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/migrating-telemetry-and-security-agents.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/troubleshooting-cni-plugin-related-errors.md
  content/en/docs/tasks/administer-cluster/namespaces-walkthrough.md
  content/en/docs/tasks/administer-cluster/namespaces.md
  content/en/docs/tasks/administer-cluster/network-policy-provider/_index.md
  content/en/docs/tasks/administer-cluster/network-policy-provider/calico-network-policy.md
  content/en/docs/tasks/administer-cluster/network-policy-provider/cilium-network-policy.md
  content/en/docs/tasks/administer-cluster/network-policy-provider/kube-router-network-policy.md
  content/en/docs/tasks/administer-cluster/network-policy-provider/romana-network-policy.md
  content/en/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy.md
  content/en/docs/tasks/administer-cluster/nodelocaldns.md
  content/en/docs/tasks/administer-cluster/quota-api-object.md
  content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md
  content/en/docs/tasks/administer-cluster/reserve-compute-resources.md
  content/en/docs/tasks/administer-cluster/running-cloud-controller.md
  content/en/docs/tasks/administer-cluster/safely-drain-node.md
  content/en/docs/tasks/administer-cluster/securing-a-cluster.md
  content/en/docs/tasks/administer-cluster/sysctl-cluster.md
  content/en/docs/tasks/administer-cluster/topology-manager.md
  content/en/docs/tasks/administer-cluster/use-cascading-deletion.md
  content/en/docs/tasks/administer-cluster/verify-signed-artifacts.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#38674 Use Kubernetes colors in state diagram for pod scheduling readiness
  content/en/docs/concepts/scheduling-eviction/pod-scheduling-readiness.md
  content/en/docs/images/podSchedulingGates.svg
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#38886 [pt-br] fix: reword glossary description for tools
  data/i18n/pt-br/pt-br.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#37972 [pt-br] Add pt-br/docs/reference/glossary/istio.md
  content/pt-br/docs/reference/glossary/istio.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt

#38386 Add /pt-br/docs/reference/glossary/member
  content/pt-br/docs/reference/glossary/member.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt

#38912 [zh] sync /best-practices/cluster-large.md
  content/zh-cn/docs/setup/best-practices/cluster-large.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38914 Fix two URLs in blog: Windows HostProcess
  content/en/blog/_posts/2022-12-13-host-process-containers-ga/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#38894 [zh] sync apparmor.md cluster-level-pss.md
  content/zh-cn/docs/tutorials/security/apparmor.md
  content/zh-cn/docs/tutorials/security/cluster-level-pss.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38889 Synchronize Polish localization to 1.25, part 3
  content/pl/docs/concepts/overview/components.md
  content/pl/docs/tutorials/hello-minikube.md
  content/pl/releases/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pl

#38896 Synchronize Polish localization to 1.25, part 4
  content/pl/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/pl/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/pl/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/pl/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/pl/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/pl/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/pl/docs/tutorials/kubernetes-basics/update/update-interactive.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pl

#38897 Synchronize Polish localization to 1.25, part 6
  content/pl/docs/reference/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pl

#38908 Mark automatic labelling on namespaces as stable since 1.22
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/api-machinery, sig/docs, approved, language/en

#38895 Added feature-gate to glossary
  content/en/docs/reference/glossary/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#38229 Adding log info in static pod, adding references in whats next section
  content/en/docs/tasks/configure-pod-container/static-pod.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#38868 [zh-cn] localize blog 2022-12-15-dynamic-resource-allocation-alpha
  content/zh-cn/blog/_posts/2022-12-15-dynamic-resource-allocation-alpha/index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#38923 [id] Fix broken link on Creating a cluster with kubeadm pag
  content/id/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#37928 Adding pv.kubernetes.io annotations in labels-annotations-taints
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/storage, sig/docs, approved, language/en

#38879 [zh] modify invalid links
  content/zh-cn/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#38926 remove unnecessary space between back and end
  content/en/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#38869 [zh] sync /contribute/advanced.md
  content/zh-cn/docs/contribute/advanced.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38929 [zh] sync static-pod.md
  content/zh-cn/docs/tasks/configure-pod-container/static-pod.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38931 Fix links in cluster-upgrade.md
  content/en/docs/tasks/administer-cluster/cluster-upgrade.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#38930 [zh] sync device-plugins.md
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#38933 [FR] Fix fix broken links for KubeletConfiguration struct
  content/fr/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#36186 [hi]Localize content/en/docs/reference/glossary/cla.md
  content/hi/docs/reference/glossary/cla.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi

#38389 [pt-br] Add docs/reference/glossary/label
  content/pt-br/docs/reference/glossary/label.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt

#37730 [pt-br] Add /docs/reference/glossary/cluster-operator.md
  content/pt-br/docs/reference/glossary/cluster-operator.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt
