Repository kubernetes/website, pull requests merged in 2023-08, with the labels that each got.

#42086 Correct the incorrect label in kubectl command for inspecting Leases for kube-apiserver
  content/en/docs/concepts/architecture/leases.md
Labels: cncf-cla: yes, size/S, lgtm, sig/api-machinery, sig/docs, approved, language/en

#42316 [zh] sync concepts\architecture\leases
  content/zh-cn/docs/concepts/architecture/leases.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#42308 [zh] sync concepts\services-networking\topology-aware-routing.md
  content/zh-cn/docs/concepts/services-networking/topology-aware-routing.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42300 Use code shortcode for Tutorials section
  content/en/docs/tutorials/configuration/configure-redis-using-configmap.md
  content/en/docs/tutorials/security/apparmor.md
  content/en/docs/tutorials/security/seccomp.md
  content/en/docs/tutorials/services/connect-applications-service.md
  content/en/docs/tutorials/services/pods-and-endpoint-termination-flow.md
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
  content/en/docs/tutorials/stateful-application/cassandra.md
  content/en/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
  content/en/docs/tutorials/stateful-application/zookeeper.md
  content/en/docs/tutorials/stateless-application/expose-external-ip-address.md
  content/en/docs/tutorials/stateless-application/guestbook.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#42301 [zh-cn] Fix typo in zh-cn/docs/tasks/administer-cluster/topology-manager.md
  content/zh-cn/docs/tasks/administer-cluster/topology-manager.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42307 [zh-cn] sync update-api-object-kubectl-patch horizontal-pod-autoscale
  content/zh-cn/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
  content/zh-cn/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42320 [zh] sync tasks\administer-cluster\ip-masq-agent.md
  content/zh-cn/docs/tasks/administer-cluster/ip-masq-agent.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42197 Add tooltip for containerd
  content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42304 [zh] sync /tutorials/security/seccomp.md
  content/zh-cn/docs/tutorials/security/seccomp.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42139 Add docs for KEP-4017 (pod index label)
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/concepts/workloads/controllers/statefulset.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, sig/apps, language/en

#42339 added a note about mounting pod-resources instead of kubelet.sock
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/docs, approved, kind/cleanup, language/en

#42155 Update [Creating a Deployment] section
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42061 Promote parallel image pulls to beta
  content/en/docs/concepts/containers/images.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#42120 Update doc for KEP 2876
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/M, lgtm, sig/api-machinery, sig/docs, approved, language/en

#42218 Update skew policy for n-3 nodes for 1.28/1.25+
  content/en/releases/version-skew-policy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/architecture, sig/release, approved, language/en, area/release-eng

#42326 Add spaces to fix format error
  content/en/docs/reference/config-api/kubelet-config.v1beta1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41707 Change the indicator resource endpoint from the old version of Summar…
  content/en/docs/tasks/debug/debug-cluster/resource-metrics-pipeline.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#41791 [zh] sync tutorial: deploy-app/deploy-intro.html
  content/zh-cn/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41980 [zh] sync probe and more glossary
  content/zh-cn/docs/reference/glossary/addons.md
  content/zh-cn/docs/reference/glossary/admission-controller.md
  content/zh-cn/docs/reference/glossary/affinity.md
  content/zh-cn/docs/reference/glossary/aggregation-layer.md
  content/zh-cn/docs/reference/glossary/api-eviction.md
  content/zh-cn/docs/reference/glossary/api-group.md
  content/zh-cn/docs/reference/glossary/certificate.md
  content/zh-cn/docs/reference/glossary/cloud-provider.md
  content/zh-cn/docs/reference/glossary/cluster.md
  content/zh-cn/docs/reference/glossary/configmap.md
  content/zh-cn/docs/reference/glossary/container-env-variables.md
  content/zh-cn/docs/reference/glossary/container-lifecycle-hooks.md
  content/zh-cn/docs/reference/glossary/container-runtime-interface.md
  content/zh-cn/docs/reference/glossary/container-runtime.md
  content/zh-cn/docs/reference/glossary/container.md
  content/zh-cn/docs/reference/glossary/containerd.md
  content/zh-cn/docs/reference/glossary/contributor.md
  content/zh-cn/docs/reference/glossary/control-plane.md
  content/zh-cn/docs/reference/glossary/probe.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42040 [zh] sync /contribute/localization.md
  content/zh-cn/docs/contribute/localization.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42096 [zh] sync /configuration/secret.md
  content/zh-cn/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#41940 [zh] sync /labels-annotations-taints/_index.md
  content/zh-cn/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#42098 Update pod-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/pod-v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#42004 [zh] sync /workloads/controllers/_index.md
  content/zh-cn/docs/concepts/workloads/controllers/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41950 [zh] sync /workloads/pods/_index.md
  content/zh-cn/docs/concepts/workloads/pods/_index.md
  content/zh-cn/docs/images/pod.svg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42239 [zh] sync deprecation-guide.md and validating-admission-policy.md
  content/zh-cn/docs/reference/access-authn-authz/validating-admission-policy.md
  content/zh-cn/docs/reference/using-api/deprecation-guide.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42336 [zh] sync manage-deployment logging flow-control
  content/zh-cn/docs/concepts/cluster-administration/flow-control.md
  content/zh-cn/docs/concepts/cluster-administration/logging.md
  content/zh-cn/docs/concepts/cluster-administration/manage-deployment.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41708 Change the indicator resource endpoint from the old version of Summar…
  content/zh-cn/docs/tasks/debug/debug-cluster/resource-metrics-pipeline.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#42299 Add site search to home page
  content/en/_index.html
  layouts/shortcodes/site-searchbar.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/web-development

#42338 Add command for creating missing keyring dir
  content/en/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41302 NodeOutOfServiceVolumeDetach feature update to GA
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#42249 Update outdated scripts for generating the OpenAPI spec
  content/en/docs/contribute/generate-ref-docs/contribute-upstream.md
Labels: cncf-cla: yes, size/S, lgtm, sig/api-machinery, sig/docs, approved, language/en

#42128 Remove obsolete references to 'kubeadm alpha kubeconfig' command
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#42353 attached correct link to the documentation
  content/en/docs/concepts/security/overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42354 [zh] sync deployment contribute-upstream create-cluster-kubeadm
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
  content/zh-cn/docs/contribute/generate-ref-docs/contribute-upstream.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42263 Fix inconsistent command in the JSONPath Support page
  content/en/docs/reference/kubectl/jsonpath.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42330 Mention kube-node-lease namespace in Namespaces concept
  content/en/docs/tasks/administer-cluster/namespaces.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#42110 Bump API level in docs for the podFailurePolicy field (manual bump)
  content/en/docs/reference/kubernetes-api/workload-resources/job-v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42361 [zh-cn] sync node-labels namepaces security-context assign-cpu-resource
  content/zh-cn/docs/reference/node/node-labels.md
  content/zh-cn/docs/tasks/administer-cluster/namespaces.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-cpu-resource.md
  content/zh-cn/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42362 [zh] Translate kubelet config v1 reference
  content/zh-cn/docs/reference/config-api/kubelet-config.v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42293 [zh] Sync Advancements in Kubernetes Traffic Engineering blog into Chinese
  content/zh-cn/blog/_posts/2022-12-30-advancements-in-traffic-engineering/endpointslice-overview.png
  content/zh-cn/blog/_posts/2022-12-30-advancements-in-traffic-engineering/endpointslice-with-terminating-pod.png
  content/zh-cn/blog/_posts/2022-12-30-advancements-in-traffic-engineering/index.md
  content/zh-cn/blog/_posts/2022-12-30-advancements-in-traffic-engineering/service-internal-traffic-policy-cluster.png
  content/zh-cn/blog/_posts/2022-12-30-advancements-in-traffic-engineering/service-internal-traffic-policy-local.png
  content/zh-cn/blog/_posts/2022-12-30-advancements-in-traffic-engineering/traffic-engineering-lb-healthy.png
  content/zh-cn/blog/_posts/2022-12-30-advancements-in-traffic-engineering/traffic-engineering-lb-with-proxy-terminating-endpoints.png
  content/zh-cn/blog/_posts/2022-12-30-advancements-in-traffic-engineering/traffic-engineering-lb-without-proxy-terminating-endpoints.png
  content/zh-cn/blog/_posts/2022-12-30-advancements-in-traffic-engineering/traffic-engineering-service-load-balancer.png
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42352 Remove Weave Cloud
  content/en/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42367 [zh] polish /config-api/kubelet-config.v1.md
  content/zh-cn/docs/reference/config-api/kubelet-config.v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42302 Update In-tree storage driver status
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/storage-classes.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/concepts/storage/windows-storage.md
Labels: cncf-cla: yes, size/L, lgtm, sig/storage, sig/docs, approved, language/en

#41914 Add blog for non-graceful node shutdown
  content/en/blog/_posts/2023-08-15-non-graceful-node-shutdown-to-ga.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#42270 admission controllers: document types
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#42008 Add docs for PersistentVolume last phase transition time
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#42337 Fix explanation of custom code shortcode
  content/en/docs/contribute/style/hugo-shortcodes/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42167 Swap graduates to Beta1: add documentation and update feature gates
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, language/en, sig/security

#42108 Add patch releases dates for October and November 2023
  content/en/releases/patch-releases.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#41929 Fixed "Show the app in the terminal" URL (en)
  content/en/docs/tutorials/kubernetes-basics/explore/explore-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42032 [ja] Add --rm for temporary pod command
  content/ja/docs/concepts/services-networking/connect-applications-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#41974 [ja] Fix a shell command
  content/ja/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#42109 [ja] Translate Japanese i18n 'outdated_content_message'
  data/i18n/ja/ja.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#40435 [ja] add Japanese translation for docs/tutorials/stateful-application/zookeeper
  content/ja/docs/tutorials/stateful-application/zookeeper.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/ja

#42174 [ja] Switch out deprecated fullversion param
  content/ja/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
  content/ja/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md
  content/ja/docs/tutorials/services/connect-applications-service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#42387 [zh] sync sync run-single-instance-stateful-application run-replicated-stateful-application configure-pdb
  content/zh-cn/docs/tasks/run-application/configure-pdb.md
  content/zh-cn/docs/tasks/run-application/run-replicated-stateful-application.md
  content/zh-cn/docs/tasks/run-application/run-single-instance-stateful-application.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42379 [zh] sync admission-controllers.md
  content/zh-cn/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42343 [zh] sync workloads\pods\_index.md
  content/zh-cn/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41729 node: podresources: GetAllocatable API is GA
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#42393 [zh] sync patch-releases.md
  content/zh-cn/releases/patch-releases.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42386 [zh] sync concepts\cluster-administration\addons.md
  content/zh-cn/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42377 [zh] sync /storage/persistent-volumes.md
  content/zh-cn/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41745 Add information about PodReplacementPolicy in Job API
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, sig/apps, language/en

#42058 update feature gate list for KEP-3178 to GA
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/network, approved, language/en

#42186 Add an entry in glossary for MVP
  content/en/docs/reference/glossary/mixed-version-proxy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#42201 Mention CephFS and RBD in-tree storage driver deprecation
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/storage-classes.md
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/storage, sig/docs, approved, language/en

#42277 Remove references to older alpha field
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42153 KEP-2681: Docs update for Alpha PodHostIPs
  content/en/docs/concepts/workloads/pods/downward-api.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#42160 docs: document kubelet cgroup driver detection from the runtime
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/setup/production-environment/container-runtimes.md
  content/en/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, language/en

#42001 Add CDI Devices to Device Plugin API
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/docs, approved, language/en

#42397 [zh] Correct the wrong description about the type of volumeMounts.subPath
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/pod-v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42253 remove optional ImmutableEphemeralVolumes feature gate
  content/en/docs/concepts/configuration/configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42243 topologymanager: Update feature-gates availibilty for TopologyManagerPolicyOptions beta graduation
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#42408 [zh-cn] sync storage-classes.md storage-limits.md volume-health-monitoring.md
  content/zh-cn/docs/concepts/storage/storage-classes.md
  content/zh-cn/docs/concepts/storage/storage-limits.md
  content/zh-cn/docs/concepts/storage/volume-health-monitoring.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#38132 [hi] Localize content/hi/docs/reference/glossary/job.md
  content/hi/docs/reference/glossary/job.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi

#38631 Modified hi.toml to adopt new localization string for release page
  data/i18n/hi/hi.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi

#42205 Add hyperlink to DeletionPolicy
  content/en/docs/concepts/storage/volume-snapshot-classes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, language/en

#42317 Update ephemeral volumes feature state
  content/en/docs/concepts/storage/ephemeral-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, language/en

#42422 [zh-cn] sync blog/_posts/2023-05-15-kubernetes-1-27-updates-on-speeding-up-pod-startup.md
  content/zh-cn/blog/_posts/2023-05-15-kubernetes-1-27-updates-on-speeding-up-pod-startup.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42424 [zh-cn] sync concepts/configuration/configmap.md
  content/zh-cn/docs/concepts/configuration/configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42425 [zh-cn] sync concepts/overview/working-with-objects/_index.md
  content/zh-cn/docs/concepts/overview/working-with-objects/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42420 [zh-cn] sync contribute/style/hugo-shortcodes/index.md
  content/zh-cn/docs/contribute/style/hugo-shortcodes/index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42419 [zh-cn] sync tutorials/stateless-application/guestbook.md
  content/zh-cn/docs/tutorials/stateless-application/guestbook.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42426 [zh-cn] sync concepts/policy/limit-range.md
  content/zh-cn/docs/concepts/policy/limit-range.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42431 [zh-cn] sync concepts/services-networking/dns-pod-service.md
  content/zh-cn/docs/concepts/services-networking/dns-pod-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42093 Amend card structure for Features section on Homepage
  assets/scss/_base.scss
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, area/web-development

#41979 document kubectl delete --interactive flag
  content/en/docs/reference/kubectl/kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42406 [zh-cn] sync 2023-08-15-non-graceful-node-shutdown-to-ga.md
  content/zh-cn/blog/_posts/2023-08-15-non-graceful-node-shutdown-to-ga.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41856 dra: update for Kubernetes 1.28
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, language/en

#42439 Fixes typos in doc
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42394 Improved the current styling of the metrics table
  assets/scss/_custom.scss
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, area/web-development

#42432 [zh-cn] sync content/zh-cn/docs/concepts/services-networking/dual-stack.md
  content/zh-cn/docs/concepts/services-networking/dual-stack.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42434 [zh-cn] sync content/zh-cn/docs/concepts/services-networking/ingress.md
  content/zh-cn/docs/concepts/services-networking/ingress.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42445 dra: cleanup of Kubernetes 1.28 update
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42265 Remove "NamespaceDefaultLabelName" feature gate from the Network Policies page
  content/en/docs/concepts/services-networking/network-policies.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/network, approved, language/en

#42449 Fix a small error of example config
  content/en/docs/reference/config-api/kubeadm-config.v1beta3.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42220 Document ValidatingAdmissionPolicy variable composition and namespaceObject
  content/en/docs/reference/access-authn-authz/validating-admission-policy.md
  content/en/examples/access/image-matches-namespace-environment.policy.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/api-machinery, sig/docs, approved, tide/merge-method-squash, language/en

#41933 [pt-br] Fixed "Show the app in the terminal" URL
  content/pt-br/docs/tutorials/kubernetes-basics/explore/explore-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#41737 Add Documentation for CRD Validation Ratcheting
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/M, lgtm, sig/api-machinery, sig/docs, approved, language/en

#42388 Mark Job tracking with finalizers as always enabled
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, sig/apps, language/en

#40230 removed duplicated examples
  content/en/docs/tutorials/services/pods-and-endpoint-termination-flow.md
  content/en/examples/service/explore-graceful-termination-nginx.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#41908 Doc update for userns in 1.28
  content/en/docs/concepts/workloads/pods/user-namespaces.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/configure-pod-container/user-namespaces.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#42451 [zh-cn]sync pr #42449
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta3.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41857 Update docs with the new Job annotation
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, sig/apps, language/en

#42465 Use a consistent code reference in pods-and-endpoint-termination-flow
  content/en/docs/tutorials/services/pods-and-endpoint-termination-flow.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42457 Update blog publish date for 1.28 feature blog for non graceful node shutdown to GA
  content/en/blog/_posts/2023-08-16-non-graceful-node-shutdown-to-ga.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#42464 [zh] sync pods-and-endpoint-termination-flow.md and 2 service tutorials
  content/zh-cn/docs/tutorials/services/connect-applications-service.md
  content/zh-cn/docs/tutorials/services/pods-and-endpoint-termination-flow.md
  content/zh-cn/docs/tutorials/services/source-ip.md
  content/zh-cn/examples/service/explore-graceful-termination-nginx.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42440 [zh-cn] Replace deprecated fullversion shortcode
  content/zh-cn/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42467 Stop setting deprecated fullversion param
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, area/web-development

#42443 [id] Fix link to Huawei cloud provider security
  content/id/docs/concepts/security/overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#42402 [id] Remove obsolete references
  content/id/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#42447 nit edits for Sidecar containers
  content/en/docs/concepts/workloads/pods/_index.md
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#42470 [zh] Fix issues in install-kubectl-windows.md
  content/zh-cn/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42461 [pt] attached correct link
  content/pt-br/docs/concepts/security/overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#42060 Graduate AdmissionWebhookMatchConditions to beta
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/examples/access/validating-webhook-configuration-match-conditions.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/auth, sig/docs, sig/release, approved, language/en, ok-to-test

#42312 KMS doc updates for v1.28
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/administer-cluster/encrypt-data.md
  content/en/docs/tasks/administer-cluster/kms-provider.md
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, sig/docs, approved, language/en, sig/security

#42396 added .editorconfig
  content/en/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41936 Improve and clean up use cases for Secrets
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/tasks/inject-data-application/distribute-credentials-secure.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#42477 fix a typo for podReplacementPolicy
  content/en/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42473 [zh] sync quality-service-pod resize-container-resources update-api-object-kubectl-patch
  content/zh-cn/docs/tasks/configure-pod-container/quality-service-pod.md
  content/zh-cn/docs/tasks/configure-pod-container/resize-container-resources.md
  content/zh-cn/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42462 Update config 1.28 for 1.28 release
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#42472 delay august patch releases
  content/en/releases/patch-releases.md
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#42208 [fr] replaced {{< codenew ... >}} with {{% codenew ... %}}
  content/fr/docs/concepts/cluster-administration/logging.md
  content/fr/docs/concepts/services-networking/ingress.md
  content/fr/docs/concepts/workloads/controllers/deployment.md
  content/fr/docs/concepts/workloads/controllers/replicaset.md
  content/fr/docs/concepts/workloads/pods/pod-topology-spread-constraints.md
  content/fr/docs/contribute/style/write-new-topic.md
  content/fr/docs/reference/access-authn-authz/rbac.md
  content/fr/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/fr/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/fr/docs/tasks/administer-cluster/running-cloud-controller.md
  content/fr/docs/tasks/configure-pod-container/assign-cpu-resource.md
  content/fr/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/fr/docs/tasks/configure-pod-container/assign-pods-nodes.md
  content/fr/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/fr/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
  content/fr/docs/tasks/configure-pod-container/configure-pod-configmap.md
  content/fr/docs/tasks/configure-pod-container/configure-pod-initialization.md
  content/fr/docs/tasks/configure-pod-container/configure-service-account.md
  content/fr/docs/tasks/configure-pod-container/configure-volume-storage.md
  content/fr/docs/tasks/configure-pod-container/extended-resource.md
  content/fr/docs/tasks/configure-pod-container/pull-image-private-registry.md
  content/fr/docs/tasks/configure-pod-container/quality-service-pod.md
  content/fr/docs/tasks/configure-pod-container/share-process-namespace.md
  content/fr/docs/tasks/debug-application-cluster/get-shell-running-container.md
  content/fr/docs/tasks/inject-data-application/define-command-argument-container.md
  content/fr/docs/tasks/inject-data-application/define-environment-variable-container.md
  content/fr/docs/tasks/inject-data-application/define-interdependent-environment-variables.md
  content/fr/docs/tasks/inject-data-application/distribute-credentials-secure.md
  content/fr/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information.md
  content/fr/docs/tasks/inject-data-application/environment-variable-expose-pod-information.md
  content/fr/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/fr/docs/tasks/run-application/run-single-instance-stateful-application.md
  content/fr/docs/tasks/run-application/run-stateless-application-deployment.md
  content/fr/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/fr

#42479 Clean up distribute-credentials-secure.md
  content/en/docs/tasks/inject-data-application/distribute-credentials-secure.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#42437 [zh] Sync Consider All Microservices Vulnerable - And Monitor Their Behavior blog into Chinese
  content/zh-cn/blog/_posts/2023-01-20-Security-Bahavior-Analysis/index.md
  content/zh-cn/blog/_posts/2023-01-20-Security-Bahavior-Analysis/security_behavior_figure_1.svg
  content/zh-cn/blog/_posts/2023-01-20-Security-Bahavior-Analysis/security_behavior_figure_2.svg
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#42478 [zh] sync distribute-credentials-secure.md
  content/zh-cn/docs/tasks/inject-data-application/distribute-credentials-secure.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42489 [zh] sync manage-resources/cpu-default-namespace memory-constraint-namespace share-process-namespace
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace.md
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/memory-constraint-namespace.md
  content/zh-cn/docs/tasks/configure-pod-container/share-process-namespace.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42498 Fix a typo in a blog folder name: security behavior
  content/en/blog/_posts/2023-01-20-Security-Behavior-Analysis/index.md
  content/en/blog/_posts/2023-01-20-Security-Behavior-Analysis/security_behavior_figure_1.svg
  content/en/blog/_posts/2023-01-20-Security-Behavior-Analysis/security_behavior_figure_2.svg
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#38997 docs: service.kubernetes.io/topology-aware-hints
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/network, approved, language/en

#42022 Update package manager instructions with community-hosted repos
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/en/docs/tasks/administer-cluster/kubeadm/upgrading-linux-nodes.md
  content/en/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/release, approved, language/en

#42484 Fix pod replacement policy link
  content/en/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/blog, area/release-eng

#42487 [zh] sync concepts/services-networking/ingress-controllers.md
  content/zh-cn/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42497 [zh] sync folder name and two svg in blog: security behavior
  content/zh-cn/blog/_posts/2023-01-20-Security-Bahavior-Analysis/security_behavior_figure_1.svg
  content/zh-cn/blog/_posts/2023-01-20-Security-Behavior-Analysis/index.md
  content/zh-cn/blog/_posts/2023-01-20-Security-Behavior-Analysis/security_behavior_figure_1.svg
  content/zh-cn/blog/_posts/2023-01-20-Security-Behavior-Analysis/security_behavior_figure_2.svg
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#41841 Removed the Katacoda shutdown notice
  content/en/docs/tutorials/kubernetes-basics/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#42503 add a redirect link for security behavior blog
  static/_redirects
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#42013 Update documentation to reflect kubelet.conf.d changes for k8s 1.28
  content/en/docs/tasks/administer-cluster/kubelet-config-file.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, tide/merge-method-squash, language/en

#42506 [zh-cn] sync cpu-constraint-namespace memory-default-namespace quota-memory-cpu-namespace quota-pod-namespace
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/cpu-constraint-namespace.md
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/memory-default-namespace.md
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/quota-memory-cpu-namespace.md
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/quota-pod-namespace.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42508 [zh-cn] sync administer-cluster/*
  content/zh-cn/docs/tasks/administer-cluster/declare-network-policy.md
  content/zh-cn/docs/tasks/administer-cluster/dns-debugging-resolution.md
  content/zh-cn/docs/tasks/administer-cluster/dns-horizontal-autoscaling.md
  content/zh-cn/docs/tasks/administer-cluster/namespaces-walkthrough.md
  content/zh-cn/docs/tasks/administer-cluster/quota-api-object.md
  content/zh-cn/docs/tasks/administer-cluster/running-cloud-controller.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42504 Tiny fixes for deploy & scale tutorials
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/en/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#41072 Replace all references to storage.googleapis.com/kubernetes-release with dl.k8s.io
  content/en/blog/_posts/2015-12-00-Creating-Raspberry-Pi-Cluster-Running.md
  content/en/blog/_posts/2019-03-28-running-kubernetes-locally-on-linux-with-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#41627 Add dipesh to en-localization reviewers
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#42519 [zh] sync connecting-frontend-backend ingress-minikube service-access-application-cluster quota-api-object
  content/zh-cn/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/zh-cn/docs/tasks/access-application-cluster/ingress-minikube.md
  content/zh-cn/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/zh-cn/docs/tasks/administer-cluster/quota-api-object.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42521 [zh] Fixed "Show the app in the terminal" URL
  content/zh-cn/docs/tutorials/kubernetes-basics/explore/explore-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42410 update glossary entry for MVP
  content/en/docs/concepts/architecture/mixed-version-proxy.md
  content/en/docs/reference/glossary/mixed-version-proxy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42517 Update pod-qos.md to fix typo
  content/en/docs/concepts/workloads/pods/pod-qos.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42522 Add SIG ContribEx spotlight blog article
  content/en/blog/_posts/2023-08-14-sig-contribex-spotlight.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#42526 [zh] Update pod-qos.md to fix typo
  content/zh-cn/docs/concepts/workloads/pods/pod-qos.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#40762 docs: Update kustomize examples to use non-deprecated resources key (ID lang)
  content/id/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, lifecycle/stale, language/id

#42381 Add Kubernetes 1.28 release blog article
  content/en/blog/_posts/2023-08-15-kubernetes-1.28-blog.md
  static/images/blog/2023-08-15-kubernetes-1.28-blog/kubernetes-1.28.png
Labels: cncf-cla: yes, size/L, sig/docs, approved, tide/merge-method-squash, language/en, area/blog
