Repository kubernetes/website, pull requests merged in 2023-06, with the labels that each got.

#41398 [fr] fix incorrect pod-template-hash labels
  content/fr/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#41135 [ja] update Japanese translation for ja/docs/reference/ index
  content/ja/docs/reference/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja

#41400 Fix v1.26 docs incorrectly not marked as stale
  hugo.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#41322 [ko] Resolve merge conflicts between `dev-1.26-ko.1` & `main`
  data/i18n/en/en.toml
  data/i18n/ko/ko.toml
  layouts/shortcodes/cve-feed.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, language/ko

#40300 [pt-br] Add docs/reference/glossary/garbage-collection.md
  content/pt-br/docs/reference/glossary/garbage-collection.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt

#41369 [zh-cn] sync services-networking/service.md
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#41390 [zh] Fix errors in kubelet reference
  content/zh-cn/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41351 update policies concepts page
  content/en/docs/concepts/policy/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#41412 tweak line wrappings in concepts/storage/
  content/en/docs/concepts/storage/volume-health-monitoring.md
  content/en/docs/concepts/storage/volume-pvc-datasource.md
  content/en/docs/concepts/storage/volume-snapshot-classes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#41413 Tweak line wrappings in /services-networking/
  content/en/docs/concepts/security/controlling-access.md
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/concepts/services-networking/service-topology.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#41414 Tweak line wrappings in /contribute/style
  content/en/docs/contribute/style/content-guide.md
  content/en/docs/contribute/style/content-organization.md
  content/en/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#41346 [zh-cn] sync kubelet-credential-provider securing-a-cluster
  content/zh-cn/docs/tasks/administer-cluster/kubelet-credential-provider.md
  content/zh-cn/docs/tasks/administer-cluster/securing-a-cluster.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41421 [zh] sync /style/style-guide.md
  content/zh-cn/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41418 [zh-cn] sync cpu-default-namespace reserve-compute-resources controller-manager-leader-migration
  content/zh-cn/docs/tasks/administer-cluster/controller-manager-leader-migration.md
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace.md
  content/zh-cn/docs/tasks/administer-cluster/reserve-compute-resources.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41422 [zh] sync /concepts/policy/_index.md
  content/zh-cn/docs/concepts/policy/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41378 [zh] sync topology-aware-routing.md
  content/zh-cn/docs/concepts/services-networking/topology-aware-routing.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41159 [ja] fix Equinix Metal url
  content/ja/docs/setup/production-environment/tools/kubespray.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#41181 [ja] fix markdown format
  content/ja/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#41416 Added `(` to complete a pair of parentheses in kubelet-integration.md
  content/en/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41406 Removing redundant #selector in url and adding line-wrapping cleanup
  content/en/docs/concepts/architecture/garbage-collection.md
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/cluster-administration/logging.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#40462 Document node discovery annotations
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/M, lgtm, kind/feature, sig/node, sig/docs, approved, language/en

#40226 fix: eliminate extra lines when copying to clipboard
  layouts/partials/hooks/body-end.html
  layouts/shortcodes/codenew.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, area/web-development

#41428 [zh-cn] Update kubernetes-basics
  content/zh-cn/docs/tutorials/kubernetes-basics/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41434 [zh-cn] sync ingress.md controlling-access.md
  content/zh-cn/docs/concepts/security/controlling-access.md
  content/zh-cn/docs/concepts/services-networking/ingress.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41425 [zh] Update service.md
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41424 replace `currentVersion` with `currentPatchVersion` in concepts
  content/en/docs/concepts/windows/intro.md
  content/en/docs/concepts/workloads/pods/user-namespaces.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41443 [zh-cn] update cluster-intro
  content/zh-cn/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41439 [zh-cn] sync container-runtimes kubelet-integration download
  content/zh-cn/docs/setup/production-environment/container-runtimes.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
  content/zh-cn/releases/download.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41435 [zh-cn] sync content-guide content-organization kubeadm-certs
  content/zh-cn/docs/contribute/style/content-guide.md
  content/zh-cn/docs/contribute/style/content-organization.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41448 [zh-cn] sync volume-pvc-datasource volume-snapshot-classes topology-spread-constraints security-checklist
  content/zh-cn/docs/concepts/scheduling-eviction/topology-spread-constraints.md
  content/zh-cn/docs/concepts/security/security-checklist.md
  content/zh-cn/docs/concepts/storage/volume-pvc-datasource.md
  content/zh-cn/docs/concepts/storage/volume-snapshot-classes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41449 Update install-kubectl-windows.md
  content/zh-cn/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41450 [zh] fix markdown lint error in website/content/zh-cn/docs/concepts/o…
  content/zh-cn/docs/concepts/overview/working-with-objects/namespaces.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41447 [zh] Improve translation of apiserver reference
  content/zh-cn/docs/reference/command-line-tools-reference/kube-apiserver.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41452 Typo fix: labels.md
  content/zh-cn/docs/concepts/overview/working-with-objects/labels.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41437 [zh-cn]sync manage-resources-containers garbage-collection nodes logging
  content/zh-cn/docs/concepts/architecture/garbage-collection.md
  content/zh-cn/docs/concepts/architecture/nodes.md
  content/zh-cn/docs/concepts/cluster-administration/logging.md
  content/zh-cn/docs/concepts/configuration/manage-resources-containers.md
  content/zh-cn/docs/concepts/workloads/controllers/job.md
  content/zh-cn/docs/reference/tools/map-crictl-dockercli.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41132 [ja] update Japanese translation for https://kubernetes.io/ja
  content/ja/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#41402 Container runtime cleanup
  content/en/docs/concepts/architecture/cri.md
  content/en/docs/reference/command-line-tools-reference/kubelet.md
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#41464 modify directory hierarchy
  content/zh-cn/docs/tasks/manage-gpus/scheduling-gpus.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41463 [zh-cn] sync reference/networking/virtual-ips.md
  content/zh-cn/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41352 [zh-cn] sync slis.md and deployment.md
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
  content/zh-cn/docs/reference/instrumentation/slis.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41470 [zh] sync architecture/cri
  content/zh-cn/docs/concepts/architecture/cri.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41461 [es] fix incorrect pod-template-hash labels
  content/es/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#41477 [zh-cn] sync kubelet-config.v1beta1.md
  content/zh-cn/docs/reference/config-api/kubelet-config.v1beta1.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41499 [zh-cn] sync concepts/services-networking/topology-aware-hints.md
  content/zh-cn/docs/concepts/services-networking/topology-aware-hints.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41462 [zh] sync certificate-signing-requests.md
  content/zh-cn/docs/reference/access-authn-authz/certificate-signing-requests.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#41476 [zh] sync migrating-from-dockershim/find-out-runtime-you-use.md
  content/zh-cn/docs/tasks/administer-cluster/migrating-from-dockershim/find-out-runtime-you-use.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41495 [de] Replace deprecated fullversion shortcode
  content/de/docs/tasks/tools/install-kubectl-linux.md
  content/de/docs/tasks/tools/install-kubectl-macos.md
  content/de/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/de

#40714 [ja] translate production-environment/turnkey-solutions.md
  content/ja/docs/setup/production-environment/turnkey-solutions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#41376 Update apt keyring installation (Japanese)
  content/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#41509 [pt-br] Update hello-minikube.md to remove Katacoda
  content/pt-br/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#41479 [zh-cn] sync kube-scheduler-config.v1beta2 apparmor components
  content/zh-cn/docs/concepts/overview/components.md
  content/zh-cn/docs/reference/config-api/kube-scheduler-config.v1beta2.md
  content/zh-cn/docs/tutorials/security/apparmor.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41119 [ko] Translate reference/node/kubelet-checkpoint-api in Korean
  content/ko/docs/reference/node/kubelet-checkpoint-api.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#39615 [ko] Update outdated files in dev-1.26-ko.1 (M109-M110)
  content/ko/docs/reference/access-authn-authz/service-accounts-admin.md
  content/ko/docs/reference/command-line-tools-reference/_index.md
  content/ko/examples/secret/serviceaccount/mysecretname.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#41497 [zh] sync /overview/working-with-objects/_index.md
  content/zh-cn/docs/concepts/overview/working-with-objects/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41431 Fix referenced paths in Service page
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41508 Add dl.k8s.io CDN change blog article
  content/en/blog/_posts/2023-06-09-dl-adopt-cdn.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/blog

#41526 [es] Update install-kubectl-linux.md
  content/es/docs/tasks/tools/included/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#41518 [ko] Update links in `dev-1.26-ko.1`
  content/ko/docs/concepts/cluster-administration/logging.md
  content/ko/docs/concepts/configuration/manage-resources-containers.md
  content/ko/docs/concepts/configuration/secret.md
  content/ko/docs/concepts/containers/_index.md
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/scheduling-eviction/_index.md
  content/ko/docs/concepts/security/pod-security-policy.md
  content/ko/docs/concepts/security/pod-security-standards.md
  content/ko/docs/concepts/security/rbac-good-practices.md
  content/ko/docs/concepts/services-networking/cluster-ip-allocation.md
  content/ko/docs/concepts/services-networking/endpoint-slices.md
  content/ko/docs/concepts/services-networking/service-topology.md
  content/ko/docs/concepts/services-networking/service-traffic-policy.md
  content/ko/docs/concepts/services-networking/service.md
  content/ko/docs/concepts/workloads/_index.md
  content/ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/concepts/workloads/controllers/statefulset.md
  content/ko/docs/concepts/workloads/pods/disruptions.md
  content/ko/docs/reference/_index.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates.md
  content/ko/docs/reference/glossary/pod-security-policy.md
  content/ko/docs/reference/labels-annotations-taints/_index.md
  content/ko/docs/reference/networking/virtual-ips.md
  content/ko/docs/reference/node/_index.md
  content/ko/docs/setup/production-environment/_index.md
  content/ko/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/ko/docs/tasks/administer-cluster/extended-resource-node.md
  content/ko/docs/tasks/administer-cluster/manage-resources/cpu-constraint-namespace.md
  content/ko/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace.md
  content/ko/docs/tasks/administer-cluster/manage-resources/memory-constraint-namespace.md
  content/ko/docs/tasks/administer-cluster/manage-resources/memory-default-namespace.md
  content/ko/docs/tasks/administer-cluster/manage-resources/quota-memory-cpu-namespace.md
  content/ko/docs/tasks/administer-cluster/manage-resources/quota-pod-namespace.md
  content/ko/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/ko/docs/tasks/configure-pod-container/quality-service-pod.md
  content/ko/docs/tasks/debug/debug-application/debug-pods.md
  content/ko/docs/tasks/debug/debug-application/debug-service.md
  content/ko/docs/tasks/run-application/run-replicated-stateful-application.md
  content/ko/docs/tutorials/_index.md
  content/ko/docs/tutorials/security/cluster-level-pss.md
  content/ko/docs/tutorials/security/ns-level-pss.md
  content/ko/docs/tutorials/stateful-application/cassandra.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#35011 Document the resource quota working and steps require to enforce resource quota on ephemeral storage
  content/en/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, needs-triage

#40643 Hyperlinked to mention information about accessing services
  content/en/docs/tasks/inject-data-application/environment-variable-expose-pod-information.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41521 [zh-cn] sync setup-ha-etcd-with-kubeadm change-runtime-containerd configure-aggregation-layer
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
  content/zh-cn/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd.md
  content/zh-cn/docs/tasks/extend-kubernetes/configure-aggregation-layer.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41528 [zh-cn] Replace deprecated fullversion shortcode
  content/zh-cn/docs/concepts/containers/container-environment.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#41539 [zh] fix kube-scheduler page error link
  content/zh-cn/docs/concepts/scheduling-eviction/kube-scheduler.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41534 [zh] Improve translation of kubelet reference
  content/zh-cn/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41517 [zh] sync workloads/pods/pod-lifecycle.md
  content/zh-cn/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41541 [zh-cn] sync kubelet-credentialprovider.v1alpha1 kubelet-credentialprovider kube-scheduler-config.v1
  content/zh-cn/docs/reference/config-api/kube-scheduler-config.v1.md
  content/zh-cn/docs/reference/config-api/kubelet-credentialprovider.v1.md
  content/zh-cn/docs/reference/config-api/kubelet-credentialprovider.v1alpha1.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41278 Add link to reclaiming policy
  content/en/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#41389 Tweak line wrapping for leader migration task page
  content/en/docs/tasks/administer-cluster/controller-manager-leader-migration.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#41471 Fixed typo in nl.toml
  data/i18n/nl/nl.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#41507 Fixes a typo for "concurrency" in PriorityLevelConfiguration section
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41553 [pt] Update install-kubectl-linux.md
  content/pt-br/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#40690 [ko]Translate docs/tasks/administer-cluster/kubeadm/upgrading-linux-nodes into Korean
  content/ko/docs/tasks/administer-cluster/kubeadm/upgrading-linux-nodes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#41248 [ko] translate leases.md into Korean
  content/ko/docs/concepts/architecture/leases.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#41557 [zh] sync concepts/cluster-administration/flow-control.md
  content/zh-cn/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41559 [zh] sync concepts/service-networking/ingress-controllers.md
  content/zh-cn/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41510 [en] Remove dangling </div> from interactive tutorials pages
  content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/en/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/en/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/en/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/en/docs/tutorials/kubernetes-basics/update/update-interactive.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#41536 Fix author affiliation for CDN change article
  content/en/blog/_posts/2023-06-09-dl-adopt-cdn.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#41555 [zh] resync volume-health-monitoring & storage-classes
  content/zh-cn/docs/concepts/storage/storage-classes.md
  content/zh-cn/docs/concepts/storage/volume-health-monitoring.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41569 Update 2017-12-00-Introducing-Kubeflow-Composable
  content/en/blog/_posts/2017-12-00-Introducing-Kubeflow-Composable.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog, sig/security

#41547 [zh-cn] sync kubelet object environment-variable-expose-pod-information
  content/zh-cn/docs/reference/command-line-tools-reference/kubelet.md
  content/zh-cn/docs/reference/glossary/object.md
  content/zh-cn/docs/tasks/inject-data-application/environment-variable-expose-pod-information.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41565 [zh] remove kubeadm-config.v1beta2.md
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta2.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#40686 [ko]Translate docs/tasks/administer-cluster/kubelet-config-file into Korean
  content/ko/docs/tasks/administer-cluster/kubelet-config-file.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#41525 [pt-br] Update the tutorials index pages
  content/pt-br/docs/tutorials/_index.md
  content/pt-br/docs/tutorials/kubernetes-basics/_index.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pt

#41558 [zh] sync concepts/configuration/manage-resources-containers
  content/zh-cn/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41540 Refactor the label-annotation-taints page
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, kind/cleanup, language/en

#41590 [zh] Update kustomize examples to use non-deprecated resources key
  content/zh-cn/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41586 [zh-cn] sync imagepolicy.v1alpha1 kube-proxy-config.v1alpha1
  content/zh-cn/docs/reference/config-api/imagepolicy.v1alpha1.md
  content/zh-cn/docs/reference/config-api/kube-proxy-config.v1alpha1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41585 [zh-cn] sync service user-namespaces controller-manager-leader-migration
  content/zh-cn/docs/concepts/services-networking/service.md
  content/zh-cn/docs/concepts/workloads/pods/user-namespaces.md
  content/zh-cn/docs/tasks/administer-cluster/controller-manager-leader-migration.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41535 Improvement: Tweak line wrapping for the ip-masq-agent task page.
  content/en/docs/tasks/administer-cluster/ip-masq-agent.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#41544 sync blog: 2023-06-09-dl-adopt-cdn.md
  content/zh-cn/blog/_posts/2023-06-09-dl-adopt-cdn.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41591 [zh-cn] sync intro implementation-details kubelet-credentialprovider.v1beta1
  content/zh-cn/docs/concepts/windows/intro.md
  content/zh-cn/docs/reference/config-api/kubelet-credentialprovider.v1beta1.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/implementation-details.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41571 [pt-br] Update tutorials/kubernetes-basics/explore/explore-intro.html
  content/pt-br/docs/tutorials/kubernetes-basics/explore/explore-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#41604 [ko][en] fix build error
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates-removed.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#40844 [ko] update Slack channel link to #kubernetes-contributors
  content/ko/docs/tasks/debug/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#41403 [ko] fix typo in secret.md
  content/ko/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#40763 docs: Update kustomize examples to use non-deprecated resources key (ko lang)
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#41533 Remove Bundle Bar registry link
  content/en/blog/_posts/2023-05-24-oci-security-profiles.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#41596 [zh] sync developing-cloud-controller-manager, ip-masq-agent, and guaranteed-scheduling-pods
  content/zh-cn/docs/tasks/administer-cluster/developing-cloud-controller-manager.md
  content/zh-cn/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md
  content/zh-cn/docs/tasks/administer-cluster/ip-masq-agent.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41597 improve ip-masq-agent.md slightly
  content/en/docs/tasks/administer-cluster/ip-masq-agent.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#41174 Update audit.md
  content/en/docs/tasks/debug/debug-cluster/audit.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41492 [ru] *main* Replace deprecated fullversion shortcode
  content/ru/docs/concepts/containers/container-environment.md
  content/ru/docs/setup/learning-environment/minikube.md
  content/ru/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ru, area/localization

#41550 [pt-br] Update tutorials/kubernetes-basics/create-cluster
  content/pt-br/docs/tutorials/kubernetes-basics/create-cluster/_index.md
  content/pt-br/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#41594 [es] remove podpreset
  content/es/docs/concepts/workloads/pods/podpreset.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/es

#41612 [ru] Improving RU translation for the install-kubectl.md
  content/ru/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ru

#41620 Tweak line wrappings in configure-gmsa.md
  content/en/docs/tasks/configure-pod-container/configure-gmsa.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#41614 Update connecting-frontend-backend.md
  content/zh-cn/docs/tasks/access-application-cluster/connecting-frontend-backend.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41623 [zh-cn] sync and improve resource-usage-monitoring ip-masq-agent audit
  content/zh-cn/docs/tasks/administer-cluster/ip-masq-agent.md
  content/zh-cn/docs/tasks/debug/debug-cluster/audit.md
  content/zh-cn/docs/tasks/debug/debug-cluster/resource-usage-monitoring.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41632 [zh] sync configure-gmsa.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-gmsa.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41503 [pt-br] Update docs/concepts/storage/volumes.md
  content/pt-br/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#41524 [pt-br] Remove Katacoda references and tutorials
  content/pt-br/docs/contribute/style/style-guide.md
  content/pt-br/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/pt-br/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/pt-br/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/pt-br/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/pt-br/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#41652 [pt-br] Update docs/tutorials/hello-minikube.md
  content/pt-br/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#41646 [zh-cn] sync init-containers
  content/zh-cn/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41657 [zh] sync reference/access-authn-authz/rbac.md
  content/zh-cn/docs/reference/access-authn-authz/rbac.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39158 [zh-cn] enforce-standards-admission-controller.md
  content/zh-cn/docs/tasks/configure-pod-container/enforce-standards-admission-controller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41660 [fr] Updated Internal Load Balancer annotation for GCP
  content/fr/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#40945 rename PodHasNetwork to PodReadyToStartContainers
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/reference/command-line-tools-reference/feature-gates-removed.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#41634 Tweak line wrappings in configure-aggregation-layer.md
  content/en/docs/tasks/extend-kubernetes/configure-aggregation-layer.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#41650 [zh] sync /security/controlling-access.md
  content/zh-cn/docs/concepts/security/controlling-access.md
  content/zh-cn/docs/images/access-control-overview.svg
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#41560 Update setup-ha-etcd-with-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#41649 Update configure-upgrade-etcd.md
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41662 [zh-cn] sync setup-ha-etcd-with-kubeadm configure-upgrade-etcd configure-aggregation-layer
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
  content/zh-cn/docs/tasks/administer-cluster/configure-upgrade-etcd.md
  content/zh-cn/docs/tasks/extend-kubernetes/configure-aggregation-layer.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41647 [zh] sync an image in pod-scheduling-readiness.md
  content/zh-cn/docs/concepts/scheduling-eviction/pod-scheduling-readiness.md
  content/zh-cn/docs/images/podSchedulingGates.svg
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41643 [zh] translate a svg in /concepts/overview/
  content/zh-cn/docs/concepts/overview/_index.md
  content/zh-cn/docs/images/Container_Evolution.svg
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#41607 [zh-cn] sync rbac apiserver-aggregation debug/_index.md
  content/zh-cn/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/zh-cn/docs/reference/access-authn-authz/rbac.md
  content/zh-cn/docs/tasks/debug/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41639 Fix node score calculation in resource-bin-packing.md
  content/en/docs/concepts/scheduling-eviction/resource-bin-packing.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41672 [zh-cn] sync resource-bin-packing
  content/zh-cn/docs/concepts/scheduling-eviction/resource-bin-packing.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41645 [zh-cn] sync case-studies/daocloud
  content/zh-cn/case-studies/daocloud/daocloud_featured_logo.png
  content/zh-cn/case-studies/daocloud/daocloud_featured_logo.svg
  content/zh-cn/case-studies/daocloud/index.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41548 [pt-br] Add releases/_index.md
  content/pt-br/releases/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pt

#41546 [pt-br] Sync Brazilian Portuguese internationalization strings
  content/pt-br/docs/contribute/style/content-guide.md
  data/i18n/pt-br/pt-br.toml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#41665 [en] Fix labs.play-with-k8s.com address in task-tutorial-prereqs.md f…
  content/en/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41677 Add my-git9 to sig-docs-zh-owners
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#41680 [zh-cn] sync task-tutorial-prereqs
  content/zh-cn/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41362 [ja] Updating documentation for Topology Aware Routing
  content/ja/docs/concepts/services-networking/service-topology.md
  content/ja/docs/concepts/services-networking/topology-aware-routing.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja

#41609 [ja] Updated Internal Load Balancer annotation for GCP
  content/ja/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#41653 [pt-br] Update tutorials/kubernetes-basics/expose/expose-intro.html
  content/pt-br/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#41688 [zh] Remove Bundle Bar registry link
  content/zh-cn/blog/_posts/2023-05-24-oci-security-profiles.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41676 [zh-cn] sync blog: 2023-02-03-sig-instrumentation-spotlight.md
  content/zh-cn/blog/_posts/2023-02-03-sig-instrumentation-spotlight.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41686 Update Wordpress stateful example to use MySQL8 and Wordpress 6.2. Improved database setup.
  content/en/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
  content/en/examples/application/wordpress/mysql-deployment.yaml
  content/en/examples/application/wordpress/wordpress-deployment.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#41689 [zh-cn] sync wordpress-deployment mysql-deployment mysql-wordpress-persistent-volume
  content/zh-cn/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
  content/zh-cn/examples/application/wordpress/mysql-deployment.yaml
  content/zh-cn/examples/application/wordpress/wordpress-deployment.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41683 [zh] sync /kubeadm/ha-topology.md
  content/zh-cn/docs/images/kubeadm-ha-topology-external-etcd.svg
  content/zh-cn/docs/images/kubeadm-ha-topology-stacked-etcd.svg
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/ha-topology.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#41691 Add asa3311 to sig-docs-zh-reviews
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#41669 [es] Updated Internal Load Balancer annotation for GCP
  content/es/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#41118 [es] Add content/es/docs/concepts/storage/storage-classes.md
  content/es/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/es

#41697 fixed the error in the syntax of the metadata link
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41282 Tidy up the probes task page
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#39636 modify Chinese document: "Contaier" to "Container"
  content/zh-cn/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
Labels: cncf-cla: yes, size/XS, sig/docs, lifecycle/stale, language/zh

#40589 [zh-cn] Replace k8s.gcr.io with registry.k8s.io in blog
  content/zh-cn/blog/_posts/2020-01-15-Kubernetes-on-MIPS.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41706 "具有"更改为“需要”
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41709 [zh-cn]sync service local-debugging
  content/zh-cn/docs/concepts/services-networking/service.md
  content/zh-cn/docs/tasks/debug/debug-cluster/local-debugging.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41581 [ja] update Japanese translation /docs/home/supported-doc-versions
  content/ja/docs/home/supported-doc-versions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja
