Repository kubernetes/website, pull requests merged in 2023-09, with the labels that each got.

#42794 [zh] sync ephemeral-volumes storage-classes windows-storage
  content/zh-cn/docs/concepts/storage/ephemeral-volumes.md
  content/zh-cn/docs/concepts/storage/storage-classes.md
  content/zh-cn/docs/concepts/storage/windows-storage.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#42825 [zh] sync compute-storage-net/device-plugins.md
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42827 Add k8s.io/linuxrepos short link
  static/_redirects
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#40336 fix the number of replicas in an example
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42829 Add flowchart to legacy repos deprecation blog post
  content/en/blog/_posts/2023-08-31-legacy-package-repository-deprecation/flow.svg
  content/en/blog/_posts/2023-08-31-legacy-package-repository-deprecation/index.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, area/blog

#42831 Add banner with message that legacy repos are getting frozen
  data/announcements/scheduled.yaml
Labels: cncf-cla: yes, size/S, lgtm, approved, committee/steering

#42617 [es] Correción documentación Network Policy
  content/es/docs/concepts/services-networking/network-policies.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/es

#42830 Update pkgs.k8s.io blog post with deprecation information
  content/en/blog/_posts/2023-08-15-pkgs-k8s-io-introduction.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#42836 [zh] sync kubeadm_init_phase_control-plane files
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_all.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_controller-manager.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_scheduler.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42833 Fix patchStrategy marker
  content/en/docs/reference/using-api/server-side-apply.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/api-machinery, sig/docs, approved, language/en

#42835 Refine hugo layout for outdated k8s.io versions with subsection links
  content/en/releases/_index.md
  layouts/docs/release-info.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#42807 [zh] sync kubernetes-api/_index label-selector endpoints-v1
  content/zh-cn/docs/reference/kubernetes-api/_index.md
  content/zh-cn/docs/reference/kubernetes-api/common-definitions/label-selector.md
  content/zh-cn/docs/reference/kubernetes-api/service-resources/endpoints-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42826 [zh-cn] sync kubeadm/kubeadm-init.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42398 Update CNCF Community Code of Conduct v1.3
  content/en/community/code-of-conduct.md
  content/en/community/static/cncf-code-of-conduct.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#41814 List metrics that relate to Pod security admission
  content/en/docs/concepts/security/pod-security-admission.md
Labels: cncf-cla: yes, size/S, lgtm, sig/auth, sig/docs, sig/instrumentation, approved, language/en

#41460 Update configure-pod-configmap.md
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42642 Fix links
  content/en/docs/concepts/architecture/mixed-version-proxy.md
  content/en/docs/concepts/services-networking/cluster-ip-allocation.md
  content/en/docs/concepts/services-networking/service-traffic-policy.md
  content/en/docs/contribute/localization.md
  content/en/docs/reference/labels-annotations-taints/_index.md
  content/en/docs/reference/scheduling/config.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/reference/using-api/cel.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/en/docs/tasks/configure-pod-container/static-pod.md
  content/en/docs/tutorials/security/cluster-level-pss.md
  content/en/docs/tutorials/security/ns-level-pss.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#42856 Change text in Pod Security Admission metrics
  content/en/docs/concepts/security/pod-security-admission.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#42781 Gateway API 0.8.0... en español.
  content/es/blog/_posts/2023-08-29-Gateway-API-v080.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/es

#42857 [fr] Update configure-pod-configmap.md
  content/fr/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#42851 Fix KubeletPodResourcesDynamicResources feature gate name
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42860 Remove KubeletPodResources switchable feature gatemention
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42846 [zh-cn] sync administer-cluster/encrypt-data.md
  content/zh-cn/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42858 [zh] sync static-pod.md
  content/zh-cn/docs/tasks/configure-pod-container/static-pod.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#42867 [zh] Fix KubeletPodResourcesDynamicResources feature gate name
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42870 [zh] sync cluster-level-pss ns-level-pss
  content/zh-cn/docs/tutorials/security/cluster-level-pss.md
  content/zh-cn/docs/tutorials/security/ns-level-pss.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42871 [zh-cn] sync architecture/mixed-version-proxy.md
  content/zh-cn/docs/concepts/architecture/mixed-version-proxy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42873 Clean up flow-control.md
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#42859 [zh] sync cncf-code-of-conduct.md
  content/zh-cn/community/code-of-conduct.md
  content/zh-cn/community/static/cncf-code-of-conduct.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42872 Use diagram-large class for package deprecation flowchart
  content/en/blog/_posts/2023-08-31-legacy-package-repository-deprecation/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#42877 Rewording message to reflect build process changes
  content/en/releases/patch-releases.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#42865 [zh] Tune translation for the Ingress page
  content/zh-cn/docs/concepts/services-networking/ingress.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42885 Fix typo in encrypt-data.md
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42884 [zh] Update configure-pod-configmap.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42791 device-plugins.md: add generic-device-plugin
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42883 Update encryption-at-rest task page
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#42746 [zh-cn] sync blog:2023-08-28-a-new-alpha-mechanism-for-safer-cluster-upgrades.md
  content/zh-cn/blog/_posts/2023-08-28-a-new-alpha-mechanism-for-safer-cluster-upgrades.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42697 [pt-br] Update README-pt.md
  README-pt.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash

#42886 [zh] sync kubeadm_init_phase files
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_coredns.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_bootstrap-token.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_all.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/zh

#42887 [zh] sync encrypt-data.md
  content/zh-cn/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42839 [zh-cn] sync controllers/deployment.md
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42895 [zh] Sync volumes.md
  content/zh-cn/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42897 [zh] sync cheatsheet /reference/kubectl/_index.md
  content/zh-cn/docs/reference/kubectl/_index.md
  content/zh-cn/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42896 [zh-cn] sync releases/patch-releases.md
  content/zh-cn/releases/patch-releases.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42852 Fix release date for 1.27 in schedule.yaml
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, area/release-eng

#42224 Update ingress-controllers.md
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/network, language/en

#42901 fix:Reference of Blog in Nodes
  content/en/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42905 Update persistent-volumes.md
  content/zh-cn/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42904 [zh] Clean up kubeadm_certs_renew files
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_all.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_apiserver-etcd-client.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_apiserver-kubelet-client.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_apiserver.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_controller-manager.conf.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_etcd-healthcheck-client.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/zh

#42866 [zh] Improve blog translation of Sidecar feature
  content/zh-cn/blog/_posts/2023-04-18-efficient-selinux-relabeling-beta.md
  content/zh-cn/blog/_posts/2023-08-25-sidecar-kep.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42898 [zh] Tune translation of Service concept
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#42903 [zh] Sync k8s-api: /workload-resources/pod-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/pod-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42717 Corrected the link and grammar in hi docs
  content/hi/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#42543 [ja] Removing old CSS includes from K8s basics tutorials
  content/ja/docs/tutorials/kubernetes-basics/_index.html
  content/ja/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/ja/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/explore/explore-intro.html
  content/ja/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/ja/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/ja/docs/tutorials/kubernetes-basics/update/update-interactive.html
  content/ja/docs/tutorials/kubernetes-basics/update/update-intro.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/ja, area/localization

#42919 Fixed typo in feature gate name
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41145 Remove link from Device Plugins page to KEP
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#41695 Split the doc view
  layouts/docs/baseof.html
  layouts/partials/css.html
  layouts/partials/head.html
  layouts/partials/scripts.html
  static/js/split-1.6.0.js
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, area/web-development

#42902 Fix: static pod example pod name
  content/en/docs/tasks/configure-pod-container/static-pod.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#42838 Tweak blog article about new Linux repos
  content/en/blog/_posts/2023-08-15-pkgs-k8s-io-introduction.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#42655 Fix page layout of installing kubectl on linux
  content/en/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#42882 Update encryption-at-rest task page
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#42178 Revise node pressure eviction concept
  content/en/docs/concepts/scheduling-eviction/node-pressure-eviction.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, sig/docs, approved, language/en

#42920 Add pod affinity note
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42784 Remove DisableAcceleratorUsageMetrics feature gate description in acc…
  content/en/docs/concepts/cluster-administration/system-metrics.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#42818 Move labels discussion back to its concept page
  content/en/docs/concepts/cluster-administration/manage-deployment.md
  content/en/docs/concepts/configuration/overview.md
  content/en/docs/concepts/overview/working-with-objects/labels.md
  content/en/docs/tutorials/stateless-application/guestbook.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, refactor

#42869 [zh] Sync Kubernetes 1.27: Efficient SELinux volume relabeling (Beta) blog into Chinese
  content/zh-cn/blog/_posts/2023-04-18-efficient-selinux-relabeling-beta.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42916 Irrelevant Url link has been removed
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42925 [zh] Sync manage-deployment.md and labels.md
  content/zh-cn/docs/concepts/cluster-administration/manage-deployment.md
  content/zh-cn/docs/concepts/overview/working-with-objects/labels.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42928 Happy 7th birthday kubeadm!
  content/en/blog/_posts/2023-09-26-happy-7th-birthday-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en, area/blog

#42926 [zh] Sync guestbook.md and overview.md
  content/zh-cn/docs/concepts/configuration/overview.md
  content/zh-cn/docs/tutorials/stateless-application/guestbook.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#42932 [zh] Clean up /kubectl/cheatsheet.md
  content/zh-cn/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42790 [zh-cn] sync blog:2023-08-29-Gateway-API-v080.md
  content/zh-cn/blog/_posts/2023-08-29-Gateway-API-v080.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42952 Add a slug to the blog of 7th birthday kubeadm
  content/en/blog/_posts/2023-09-26-happy-7th-birthday-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#42933 fixes broken link to OWASP Zed Attack proxy
  content/en/docs/concepts/security/overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42942 remove "O=system:masters" from "kube-apiserver-etcd-client".md
  content/en/docs/setup/best-practices/certificates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, sig/cluster-lifecycle, sig/docs, approved, language/en

#42823 Implemented a single columned list for the kubernetes metrics reference page
  assets/scss/_custom.scss
  content/en/docs/reference/instrumentation/metrics.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#42117 Tweak Objects In Kubernetes concept
  content/en/docs/concepts/overview/working-with-objects/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#42350 Improvement for k8s.io/docs/tasks/configmap-secret/managing-secret-us…
  content/en/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#42943 Fix docs mobile layout
  layouts/docs/baseof.html
  layouts/partials/css.html
  layouts/partials/scripts.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, area/web-development

#35865 Build (and publish) website using UTC timezone
  hugo.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#42620 [ES] Fix typos and grammar issues in disruptions file
  content/es/docs/concepts/workloads/pods/disruptions.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/es

#42934 [zh] Sync blog 2023-08-23-kubelet-podresources-api-ga.md
  content/zh-cn/blog/_posts/2023-08-23-kubelet-podresources-api-ga.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42968 Add CEL Playground link
  content/en/docs/reference/access-authn-authz/validating-admission-policy.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42951 [zh] Sync setup: install-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42975 [zh-cn]sync system-metrics logging device-plugins ingress network-policies
  content/zh-cn/docs/concepts/cluster-administration/logging.md
  content/zh-cn/docs/concepts/cluster-administration/system-metrics.md
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/zh-cn/docs/concepts/services-networking/ingress.md
  content/zh-cn/docs/concepts/services-networking/network-policies.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42976 [zh-cn] sync managing-secret-using-kustomize manage-resources/assign-* configure-pod-container/memory-*|cpu-*
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/cpu-constraint-namespace.md
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace.md
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/memory-constraint-namespace.md
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/memory-default-namespace.md
  content/zh-cn/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-cpu-resource.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-pods-nodes-using-node-affinity.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-pods-nodes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42977 [zh-cn]sync access-application-cluster/* debug/* access-authn-authz/*
  content/zh-cn/docs/reference/access-authn-authz/certificate-signing-requests.md
  content/zh-cn/docs/reference/access-authn-authz/rbac.md
  content/zh-cn/docs/reference/access-authn-authz/service-accounts-admin.md
  content/zh-cn/docs/reference/access-authn-authz/validating-admission-policy.md
  content/zh-cn/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md
  content/zh-cn/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/zh-cn/docs/tasks/access-application-cluster/ingress-minikube.md
  content/zh-cn/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/zh-cn/docs/tasks/debug/debug-application/debug-running-pod.md
  content/zh-cn/docs/tasks/debug/debug-application/determine-reason-pod-failure.md
  content/zh-cn/docs/tasks/debug/debug-application/get-shell-running-container.md
  content/zh-cn/docs/tasks/debug/debug-cluster/audit.md
  content/zh-cn/docs/tasks/debug/debug-cluster/monitor-node-health.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42949 [zh] sync 2023-09-26-happy-7th-birthday-kubeadm.md
  content/zh-cn/blog/_posts/2023-09-26-happy-7th-birthday-kubeadm.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42978 [zh-cn] sync scheduling-eviction/node-pressure-eviction.md
  content/zh-cn/docs/concepts/scheduling-eviction/node-pressure-eviction.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42985 [zh] Clean up kubeadm_join_phase files
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_all.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_etcd.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_mark-control-plane.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_update-status.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42986 [zh] fix blog title of 2023-08-29-Gateway-API-v080
  content/zh-cn/blog/_posts/2023-08-29-Gateway-API-v080.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42987 Update service.md of Incorrect example for 'Services without selector…
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42980 [zh-cn] sync concepts/workloads/*
  content/zh-cn/docs/concepts/workloads/controllers/cron-jobs.md
  content/zh-cn/docs/concepts/workloads/controllers/daemonset.md
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
  content/zh-cn/docs/concepts/workloads/controllers/job.md
  content/zh-cn/docs/concepts/workloads/controllers/replicaset.md
  content/zh-cn/docs/concepts/workloads/controllers/replicationcontroller.md
  content/zh-cn/docs/concepts/workloads/pods/_index.md
  content/zh-cn/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42989 [zh] Clean up kubeadm_init_phase_certs files
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-etcd-client.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-kubelet-client.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_ca.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-ca.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42955 [zh-cn] Translation blog: legacy-package-repository-deprecation
  content/zh-cn/blog/_posts/2023-08-31-legacy-package-repository-deprecation/flow.svg
  content/zh-cn/blog/_posts/2023-08-31-legacy-package-repository-deprecation/index.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#42894 Add kr8s to community Python libraries list
  content/en/docs/reference/using-api/client-libraries.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#42993 [zh] Sync a SVG in blog of legacy-package-repository-deprecation
  content/zh-cn/blog/_posts/2023-08-31-legacy-package-repository-deprecation/flow.svg
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#43007 [pt] Update configure-pod-configmap.md
  content/pt-br/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#43000 Fix stars in the generated configuration APIs
  content/en/docs/reference/config-api/apiserver-audit.v1.md
  content/en/docs/reference/config-api/apiserver-encryption.v1.md
  content/en/docs/reference/config-api/kubelet-config.v1.md
  content/en/docs/reference/config-api/kubelet-config.v1beta1.md
  content/en/docs/reference/config-api/kubelet-credentialprovider.v1.md
  content/en/docs/reference/config-api/kubelet-credentialprovider.v1alpha1.md
  content/en/docs/reference/config-api/kubelet-credentialprovider.v1beta1.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#43004 [zh] Clean up kubeadm_join_phase files
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_all.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_certs.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_control-plane.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_download-certs.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_kubeconfig.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/zh

#43002 [zh] sync container-runtime config kubeadm-config
  content/zh-cn/docs/reference/glossary/container-runtime.md
  content/zh-cn/docs/reference/scheduling/config.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-config.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42778 blog: Add post about userns for stateful pods
  content/en/blog/_posts/2023-09-13-userns-stateful-pods/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#42996 Add SBOM verification to docs
  content/en/docs/tasks/administer-cluster/verify-signed-artifacts.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43014 [zh-cn] sync style/hugo-shortcodes/index
  content/zh-cn/docs/contribute/style/hugo-shortcodes/index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43024 [zh] fix:Reference of Blog in Nodes
  content/zh-cn/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42991 [ko] Fix typo dont-panic-kubernetes-and-docker
  content/ko/blog/_posts/2020-12-02-dont-panic-kubernetes-and-docker.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#43033 [zh] sync cluster-ip-allocation dns-pod-service ingress-controller service-traffic-policy
  content/zh-cn/docs/concepts/services-networking/cluster-ip-allocation.md
  content/zh-cn/docs/concepts/services-networking/dns-pod-service.md
  content/zh-cn/docs/concepts/services-networking/ingress-controllers.md
  content/zh-cn/docs/concepts/services-networking/service-traffic-policy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43028 Fix incorrect parameter name
  content/en/docs/tasks/administer-cluster/reserve-compute-resources.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43037 [zh-cn] sync tasks/administer-cluster/*
  content/zh-cn/docs/tasks/administer-cluster/declare-network-policy.md
  content/zh-cn/docs/tasks/administer-cluster/dns-debugging-resolution.md
  content/zh-cn/docs/tasks/administer-cluster/dns-horizontal-autoscaling.md
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/quota-memory-cpu-namespace.md
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/quota-pod-namespace.md
  content/zh-cn/docs/tasks/administer-cluster/namespaces-walkthrough.md
  content/zh-cn/docs/tasks/administer-cluster/quota-api-object.md
  content/zh-cn/docs/tasks/administer-cluster/running-cloud-controller.md
  content/zh-cn/docs/tasks/administer-cluster/verify-signed-artifacts.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43031 [zh] Clean up kubeadm_certs files
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_etcd-peer.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_etcd-server.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_front-proxy-client.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_scheduler.conf.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_completion.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43011 "Validate node setup page mentions Docker as a container runtime"
  content/en/docs/setup/best-practices/node-conformance.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43025 [zh] Sync flow-control.md
  content/zh-cn/docs/concepts/cluster-administration/flow-control.md
  content/zh-cn/examples/priority-and-fairness/list-events-default-service-account.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43049 Updated link referring to Portworx CSI Drivers
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43034 Fix for cgroup driver link issue
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#42696 Update Job as suitable for scientific computing
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/tasks/job/job-with-pod-to-pod-communication.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, sig/apps, language/en, wg/batch

#42656 Update field-selectors.md with info about set based requirements
  content/en/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43054 [zh] fixes broken link to OWASP Zed Attack proxy
  content/zh-cn/docs/concepts/security/overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42800 Graduate APIListChunking to GA documentation
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43029 [zh] Sync blog 2023-08-24-swap-beta1-graduation.md into Chinese
  content/zh-cn/blog/_posts/2023-08-24-swap-beta1-graduation.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42075 Add explanation for APF debug output
  content/en/docs/concepts/cluster-administration/flow-control.md
  content/en/docs/reference/debug-cluster/_index.md
  content/en/docs/reference/debug-cluster/flow-control.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#43035 Fix: broken link in init-containers.md
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, language/en, ok-to-test

#43043 Updated resources of README.md
  README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43017 Amend the list of ipvs schedulers with descriptions
  content/en/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/network, approved, language/en

#42995 Remove Link Of AMD for SEV_ES
  content/en/blog/_posts/2023-07-06-confidential-kubernetes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#42988 Update scale-intro.html
  content/en/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42982 Enhancement By: Renaming 'ReadMes' to 'README' for Improved Clarity.
  README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en, area/localization

#42966 Removed false statement regarding storage class objects
  content/en/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, tide/merge-method-squash, language/en

#42962 Footer Home label now reads Documentation
  content/en/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42935 Use relative paths for blogs released in 1.5 years
  content/en/blog/_posts/2022-04-28-Increasing-the-security-bar-in-Ingress-NGINX/index.md
  content/en/blog/_posts/2022-07-13-gateway-api-in-beta.md
  content/en/blog/_posts/2022-08-16-PSP-historical-context/index.md
  content/en/blog/_posts/2022-08-18-kubernetes-1.24-release-interview.md
  content/en/blog/_posts/2022-08-22-sig-storage-spotlight.md
  content/en/blog/_posts/2022-08-23-kubernetes-1.25-blog.md
  content/en/blog/_posts/2022-08-25-pod-security/index.md
  content/en/blog/_posts/2022-08-29-csi-inline-volumes-ga.md
  content/en/blog/_posts/2022-09-21-csi-nodeexpandsecret.md
  content/en/blog/_posts/2022-09-23-crd-validation-rules-graduate-to-beta.md
  content/en/blog/_posts/2022-09-29-immutability-with-cel.md
  content/en/blog/_posts/2022-10-20-advanced-server-side-apply.md
  content/en/blog/_posts/2022-11-04-live-and-let-live-with-kluctl-and-ssa.md
  content/en/blog/_posts/2022-11-28-registry-k8s-io-change.md
  content/en/blog/_posts/2022-12-05-forensic-container-checkpointing/index.md
  content/en/blog/_posts/2022-12-09-kubernetes-1.26-blog.md
  content/en/blog/_posts/2022-12-22-kubelet-credential-providers/index.md
  content/en/blog/_posts/2022-12-26-pod-scheduling-readiness.md
  content/en/blog/_posts/2023-01-06-unhealthy-pod-eviction-policy-for-pdb.md
  content/en/blog/_posts/2023-02-03-sig-instrumentation-spotlight.md
  content/en/blog/_posts/2023-03-10-image-registry-change.md
  content/en/blog/_posts/2023-03-17-kubernetes-1.27-deprecations-and-removals.md
  content/en/blog/_posts/2023-04-11-kubernetes-1.27-blog.md
  content/en/blog/_posts/2023-04-25-Updates-to-the-Auto-refreshing-Official-CVE-Feed/index.md
  content/en/blog/_posts/2023-05-16-kmsv2-beta.md
  content/en/blog/_posts/2023-08-15-kubernetes-1.28-blog.md
  content/en/blog/_posts/2023-08-16-non-graceful-node-shutdown-to-ga.md
  content/en/blog/_posts/2023-08-23-kubelet-podresources-api-ga.md
  content/en/blog/_posts/2023-08-24-swap-beta1-graduation.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en, area/blog

#42889 Remove hyperlinks for obsolete PersistentVolume types
  content/en/docs/concepts/storage/ephemeral-volumes.md
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#42819 Fixed added hover effect on the video link.
  static/css/community.css
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#42820 update swap related description before installation
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42998 fix:"Hello Minikube" tutorial objective discrepancy: 'View Application Logs' mentioned but not covered .
  content/en/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43051 [zh] sync cluster-role-binding-v1 cluster-role-v1 role-binding-v1 role-v1
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/cluster-role-binding-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/cluster-role-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/role-binding-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/role-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43055 Fix broken doc link in Swap blog
  content/en/blog/_posts/2023-08-24-swap-beta1-graduation.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#43057 Fix typo
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43062 feature gates: clarify beta enabling state
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42817 Backport "layouts/docs/release-info.html" to release-1.27
  content/en/releases/_index.md
  data/i18n/en/en.toml
  layouts/docs/release-info.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#42815 Backport "layouts/docs/release-info.html" to release-1.25
  content/en/releases/_index.md
  data/i18n/en/en.toml
  layouts/docs/release-info.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#42816 Backport "layouts/docs/release-info.html" to release-1.26
  content/en/releases/_index.md
  data/i18n/en/en.toml
  layouts/docs/release-info.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#42774 KEP-3668: promote ServiceNodePortStaticSubrange to stable
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/network, approved, language/en

#43059 [zh] sync /cluster-administration/flow-control.md
  content/zh-cn/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42743 fix: configmap-pod CrashLoopBackOff
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43044 Updated cmds for Window users at README.md
  README.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43032 fix: Correct typos
  content/zh-cn/docs/reference/access-authn-authz/rbac.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43064 Fix broken link in "API Priority and Fairness" page
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42814 Backport "layouts/docs/release-info.html" to release-1.24
  content/en/releases/_index.md
  data/i18n/en/en.toml
  layouts/docs/release-info.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#42822 update the range of pod-deletion-cost
  content/en/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42694 Mark “Moving Forward From Beta” evergreen
  content/en/blog/_posts/2020-08-21-Moving-Forward-From-Beta/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#40935 re-worded event from glossary
  content/en/docs/reference/glossary/event.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en
