Repository kubernetes/website, pull requests merged in 2023-11, with the labels that each got.

#43727 [zh-cn] sync contribute/*
  content/zh-cn/docs/contribute/generate-ref-docs/prerequisites-ref-docs.md
  content/zh-cn/docs/contribute/localization.md
  content/zh-cn/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#43758 [zh-cn] sync test.md tutorials/_index.md pods-and-endpoint-terminatio…
  content/zh-cn/docs/test.md
  content/zh-cn/docs/tutorials/_index.md
  content/zh-cn/docs/tutorials/services/pods-and-endpoint-termination-flow.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43535 Promote CSINodeExpandSecret to GA
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, language/en

#43762 Fix broken link in Gateway API v1.0 blog
  content/en/blog/_posts/2023-10-31-Gateway-API-GA/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en, area/blog

#43772 Update deprecation-guide.md
  content/en/docs/reference/using-api/deprecation-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43745 Switch to newer kindest/node version
  content/en/docs/tutorials/security/seccomp.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43728 [zh-cn] sync extend-kubernetes node-pressure-eviction pod-security-admission
  content/zh-cn/docs/concepts/extend-kubernetes/_index.md
  content/zh-cn/docs/concepts/scheduling-eviction/node-pressure-eviction.md
  content/zh-cn/docs/concepts/security/pod-security-admission.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#43577 Mark 1.25 as End-of-Life (EOL) release
  data/releases/eol.yaml
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, area/release-eng

#43734 [it] add searchbar to index page
  content/it/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/it

#43726 [zh-cn] sync node-conformance debug-cluster/_index.md
  content/zh-cn/docs/setup/best-practices/node-conformance.md
  content/zh-cn/docs/tasks/debug/debug-cluster/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43703 [es] add searchbar to index page
  content/es/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#43532 graduate PersistentVolumeLastPhaseTransitionTime to beta in v1.29
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, language/en

#43770 [zh] sync container-runtime-interface kubeadm-init /reference/node/
  content/zh-cn/docs/reference/glossary/container-runtime-interface.md
  content/zh-cn/docs/reference/node/_index.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43723 [zh] Sync /networking/virtual-ips.md
  content/zh-cn/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42801 kubeadm: EtcdLearnerMode is beta in v1.29
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#43621 Add Gateway API documentation
  content/en/docs/concepts/cluster-administration/addons.md
  content/en/docs/concepts/services-networking/_index.md
  content/en/docs/concepts/services-networking/gateway.md
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/images/gateway-kind-relationships.svg
  content/en/docs/images/gateway-request-flow.svg
  content/en/docs/reference/glossary/gateway.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/network, approved, language/en

#43798 [zh-cn] Typo fix /config-api/kubeadm-config.v1beta3.md
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta3.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43783 [zh] sync certificate-signing-requests feature-gates cheatsheet
  content/zh-cn/docs/reference/access-authn-authz/certificate-signing-requests.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
  content/zh-cn/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#43814 Update server-side-apply.md
  content/en/docs/reference/using-api/server-side-apply.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43750 [zh] Sync kube-proxy-config.v1alpha1.md
  content/zh-cn/docs/reference/config-api/kube-proxy-config.v1alpha1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#43815 Clarify information about emptyDir volume first creation
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43759 [zh-cn]sync persistent-volume-v1 mutating-webhook-configuration-v1 validating-webhook-configuration-v1
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/persistent-volume-v1.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/mutating-webhook-configuration-v1.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/validating-webhook-configuration-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43819 Fix typo in Gateway API page
  content/en/docs/concepts/services-networking/gateway.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43823 Remove configuration section from volumes concept
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43741 [ko] Fix markdown error in 'endpoint-slices'
  content/ko/docs/concepts/services-networking/endpoint-slices.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/ko

#43757 [zh-cn] sync stateful-application/basic-stateful-set.md
  content/zh-cn/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#43825 [pt] add searchbar to index page
  content/pt-br/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#43838 Merged main dev 1.29
  content/en/docs/concepts/cluster-administration/addons.md
  content/en/docs/concepts/services-networking/_index.md
  content/en/docs/concepts/services-networking/gateway.md
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/images/gateway-kind-relationships.svg
  content/en/docs/images/gateway-request-flow.svg
  content/en/docs/reference/glossary/gateway.md
  content/en/docs/reference/using-api/server-side-apply.md
  content/es/_index.html
  content/pt-br/_index.html
  content/zh-cn/docs/reference/access-authn-authz/certificate-signing-requests.md
  content/zh-cn/docs/reference/access-authn-authz/validating-admission-policy.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
  content/zh-cn/docs/reference/config-api/kube-proxy-config.v1alpha1.md
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta3.md
  content/zh-cn/docs/reference/glossary/container-runtime-interface.md
  content/zh-cn/docs/reference/kubectl/cheatsheet.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/persistent-volume-v1.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/mutating-webhook-configuration-v1.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/validating-webhook-configuration-v1.md
  content/zh-cn/docs/reference/kubernetes-api/service-resources/service-v1.md
  content/zh-cn/docs/reference/networking/virtual-ips.md
  content/zh-cn/docs/reference/node/_index.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/zh-cn/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, language/zh, language/es, language/pt

#43387 Docs update for JobPodsReady in GA
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, sig/apps, language/en

#43840 Clean up access-cluster-services.md
  content/en/docs/tasks/access-application-cluster/access-cluster-services.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#40851 add more clarification regarding priorityClassName use with DaemonSet
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/examples/controllers/daemonset.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43388 Docs update for Job Backoff Limit Per Index in Beta
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, sig/apps, language/en

#43839 [vi] add searchbar to index page
  content/vi/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/vi

#43833 Update zh-cn/docs/concepts/cluster-administration/addons.md
  content/zh-cn/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43826 [zh] Sync /storage/volumes.md
  content/zh-cn/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43835 [zh] Localize ip-address-v1alpha1.md into Chinese
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/ip-address-v1alpha1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#43794 Add mirrored copy of blog article “Introducing sig-etcd”
  content/en/blog/_posts/2023-11-06-introducing-sig-etcd.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/blog

#43764 [zh] Localize service-accounts.md into Chinese
  content/zh-cn/docs/concepts/security/service-accounts.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#43848 [de] updated kubecon dates on homepage
  content/de/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#43847 [zh-cn] sync access-cluster-services.md
  content/zh-cn/docs/tasks/access-application-cluster/access-cluster-services.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43411 [zh-cn] sync blog: 2023-10-23-pv-last-phase-transtition-time.md
  content/zh-cn/blog/_posts/2023-10-23-pv-last-phase-transtition-time.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43852 [de] Ensure seccomp starts with small letter
  content/de/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#43436 Add blog article: The case for Kubernetes limits
  content/en/blog/_posts/2023-11-16-the-case-for-kubernetes-limits/index.md
  content/en/blog/_posts/2023-11-16-the-case-for-kubernetes-limits/requests-limits-configurations.svg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#43843 [zh] sync ingress service custom-resource-definitions
  content/zh-cn/docs/concepts/services-networking/ingress.md
  content/zh-cn/docs/concepts/services-networking/service.md
  content/zh-cn/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43828 Fix KinD typos in en docs
  content/en/blog/_posts/2020-08-26-kubernetes-release-1.19.md
  content/en/docs/tutorials/security/ns-level-pss.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#42907 Remove alpha environment variable because feature is in beta
  content/en/docs/reference/kubectl/kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, sig/cli, language/en

#39875 Network policy docs clarifications
  content/en/docs/concepts/services-networking/network-policies.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/network, approved, language/en

#43866 [zh] Add translations to network-policies.md
  content/zh-cn/docs/concepts/services-networking/network-policies.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43786 Clean up feature-gates.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#43867 Fix SVG text for blog article
  content/en/blog/_posts/2023-11-16-the-case-for-kubernetes-limits/requests-limits-configurations.svg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#43769 v1.29: kubeadm skew policy for kubelet is n-3
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43875 [id] Ensure seccomp starts with small letter
  content/id/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#43877 Fix link to custom resources
  content/en/docs/concepts/services-networking/gateway.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43869 [zh] Sync feature-gates.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43884 [fr] Change footer l10n from Home to Documentation
  content/fr/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#43899 [zh-cn] sync kubectl authentication
  content/zh-cn/docs/reference/access-authn-authz/authentication.md
  content/zh-cn/docs/reference/kubectl/kubectl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43870 certificates.md: add note about system:masters in apiserver cert
  content/en/docs/setup/best-practices/certificates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43891 [vi] Change footer l10n from Home to Documentation
  content/vi/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/vi

#43896 [zh-cn] sync ns-level-pss.md seccomp.md
  content/zh-cn/docs/tutorials/security/ns-level-pss.md
  content/zh-cn/docs/tutorials/security/seccomp.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43889 [ru] Change footer l10n from Home to Documentation
  content/ru/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#43901 [zh-cn]Fix link in content/zh-cn/blog/_posts/2023-11-07-introducing-sig-etcd.md
  content/zh-cn/blog/_posts/2023-11-07-introducing-sig-etcd.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43895 [zh-cn] sync daemonset.md
  content/zh-cn/docs/concepts/workloads/controllers/daemonset.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43886 [it](Change footer l10n from Home to Documentation)
  content/it/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/it

#43905 Additional clarifications for changing package repository
  content/en/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en

#43857 [es] Ensure seccomp starts with small letter
  content/es/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#43773 Troubleshooting for job pod finalizers
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/tasks/debug/debug-application/debug-pods.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, sig/apps, language/en

#43529 Graduate JobPodReplacementPolicy to beta
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, sig/apps, language/en

#43452 [zh] Sync 2023-10-10-cri-o-community-package-infrastructure.md blog into Chinese
  content/zh-cn/blog/_posts/2023-10-10-cri-o-community-package-infrastructure.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43897 [zh-cn] sync extend-resources/custom-resource-definition-v1.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/custom-resource-definition-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43924 Fix the links
  content/en/docs/contribute/generate-ref-docs/contribute-upstream.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43893 Fix broken link in "Validating Admission Policy" page
  content/en/docs/reference/access-authn-authz/validating-admission-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#41687 Integrate downloadkubernetes.com into docs website
  content/en/releases/download.md
  data/i18n/en/en.toml
  layouts/partials/head.html
  layouts/shortcodes/release-binaries.html
  static/js/release_binaries.js
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#40493 [en] Mention kubernetes/websites everywhere in the same way
  content/en/blog/_posts/2018-11-08-kubernetes-docs-update-i18n.md
  content/en/docs/contribute/_index.md
  content/en/docs/contribute/new-content/open-a-pr.md
  content/en/docs/contribute/style/diagram-guide.md
  content/en/releases/release.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, tide/merge-method-squash, language/en, area/blog, area/release-eng

#43907 Document impact of DRA on scheduling
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/docs, sig/scheduling, approved, language/en

#43916 [release-1.26] Additional clarifications for changing package repository
  content/en/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43917 [release-1.25] Additional clarifications for changing package repository
  content/en/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43918 [release-1.24] Additional clarifications for changing package repository
  content/en/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43883 [es] Change footer l10n from Home to Documentation
  content/es/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#43941 Remove MultiCIDRRangeAllocator alpha feature
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43471 Document SidecarContainers graduation to beta
  content/en/docs/concepts/workloads/pods/_index.md
  content/en/docs/concepts/workloads/pods/init-containers.md
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, language/en

#43885 [id] Change footer l10n from Home to Documentation
  content/id/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#43943 [hi] Updated menu option to "Documentation" from "Home"
  content/hi/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#43944 Fix a 404 link in job.md
  content/en/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43947 in 1.27, the StatefulsetAutoDeletePVC is default true
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43827 Updated warning in readiness probes
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#43949 Fix the links
  content/zh-cn/docs/contribute/generate-ref-docs/contribute-upstream.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43906 [zh] sync concepts/services-networking/_index endpoint-slice-v1
  content/zh-cn/docs/concepts/services-networking/_index.md
  content/zh-cn/docs/reference/kubernetes-api/service-resources/endpoint-slice-v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43938 Merge main into dev-1.29
  content/de/_index.html
  content/de/docs/tutorials/_index.md
  content/en/blog/_posts/2018-11-08-kubernetes-docs-update-i18n.md
  content/en/blog/_posts/2020-08-26-kubernetes-release-1.19.md
  content/en/blog/_posts/2023-11-07-introducing-sig-etcd.md
  content/en/blog/_posts/2023-11-16-mid-cycle-1.29.md
  content/en/blog/_posts/2023-11-16-the-case-for-kubernetes-limits/index.md
  content/en/blog/_posts/2023-11-16-the-case-for-kubernetes-limits/requests-limits-configurations.svg
  content/en/docs/concepts/services-networking/gateway.md
  content/en/docs/concepts/services-networking/network-policies.md
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/contribute/_index.md
  content/en/docs/contribute/generate-ref-docs/contribute-upstream.md
  content/en/docs/contribute/new-content/open-a-pr.md
  content/en/docs/contribute/style/diagram-guide.md
  content/en/docs/reference/access-authn-authz/validating-admission-policy.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/access-application-cluster/access-cluster-services.md
  content/en/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
  content/en/docs/tasks/debug/debug-application/debug-pods.md
  content/en/docs/tutorials/security/ns-level-pss.md
  content/en/examples/controllers/daemonset.yaml
  content/en/releases/download.md
  content/en/releases/release.md
  content/es/docs/home/_index.md
  content/es/docs/tutorials/_index.md
  content/fr/docs/home/_index.md
  content/id/docs/tutorials/_index.md
  content/it/docs/home/_index.md
  content/it/docs/tutorials/_index.md
  content/ru/docs/home/_index.md
  content/uk/docs/home/_index.md
  content/vi/_index.html
  content/vi/docs/home/_index.md
  content/zh-cn/blog/_posts/2023-10-10-cri-o-community-package-infrastructure.md
  content/zh-cn/blog/_posts/2023-10-23-pv-last-phase-transtition-time.md
  content/zh-cn/blog/_posts/2023-11-07-introducing-sig-etcd.md
  content/zh-cn/docs/concepts/cluster-administration/addons.md
  content/zh-cn/docs/concepts/containers/images.md
  content/zh-cn/docs/concepts/security/service-accounts.md
  content/zh-cn/docs/concepts/services-networking/ingress.md
  content/zh-cn/docs/concepts/services-networking/network-policies.md
  content/zh-cn/docs/concepts/services-networking/service.md
  content/zh-cn/docs/concepts/storage/volumes.md
  content/zh-cn/docs/concepts/workloads/controllers/daemonset.md
  content/zh-cn/docs/reference/access-authn-authz/authentication.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
  content/zh-cn/docs/reference/kubectl/kubectl.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/custom-resource-definition-v1.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/ip-address-v1alpha1.md
  content/zh-cn/docs/tasks/access-application-cluster/access-cluster-services.md
  content/zh-cn/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
  content/zh-cn/docs/tutorials/security/ns-level-pss.md
  content/zh-cn/docs/tutorials/security/seccomp.md
  data/i18n/en/en.toml
  layouts/partials/head.html
  layouts/shortcodes/release-binaries.html
  static/js/release_binaries.js
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, sig/release, approved, language/en, language/zh, language/fr, language/it, language/de, language/es, area/blog, language/id, language/ru, language/vi, language/uk, area/release-eng

#43955 Update the broken link for steering committee elections 2023
  content/en/blog/_posts/2023-10-02-steering-committee-results-2023.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#43821 [zh-cn] sync blog: 2023-10-31-Gateway-API-GA
  content/zh-cn/blog/_posts/2023-10-31-Gateway-API-GA/gateway-api-logo.png
  content/zh-cn/blog/_posts/2023-10-31-Gateway-API-GA/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43441 [KEP-2876] Document (GA) CEL validation for custom resources
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/api-machinery, sig/docs, approved, language/en

#43956 [zh] Sync Tutorial update-intro.
  content/zh-cn/docs/tutorials/kubernetes-basics/update/update-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42122 [ko] Translate authentication.md into korean
  content/ko/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/ko

#43933 [zh] Sync /releases/download.md
  content/zh-cn/releases/_index.md
  content/zh-cn/releases/download.md
  data/i18n/zh-cn/zh-cn.toml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43934 [zh] sync job admission-controllers validating-admission-policy
  content/zh-cn/docs/concepts/workloads/controllers/job.md
  content/zh-cn/docs/reference/access-authn-authz/admission-controllers.md
  content/zh-cn/docs/reference/access-authn-authz/validating-admission-policy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43766 Improve readabilities by restricting X (Twitter) widget width and height in /community page
  assets/scss/_custom.scss
  content/de/community/_index.html
  content/en/community/_index.html
  content/fr/community/_index.html
  content/id/community/_index.html
  content/it/community/_index.html
  content/ja/community/_index.html
  content/ko/community/_index.html
  content/pt-br/community/_index.html
  content/ru/community/_index.html
  content/vi/community/_index.html
  content/zh-cn/community/_index.html
  static/css/community.css
  static/css/legacy_community.css
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, language/ko, language/ja, language/zh, language/fr, language/it, language/de, language/pt, language/id, language/ru, language/vi, area/web-development

#43937 Add November surprise release dates
  data/releases/eol.yaml
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, area/release-eng

#42972 [ja] Fix campitalization of minikube in japanese translation
  content/ja/docs/tasks/tools/_index.md
  content/ja/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#43972 [ru] Ensure seccomp starts with small letter
  content/ru/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#43650 [zh] Localize blog: 2023-10-20-kcs-shanghai/ to Chinese
  content/zh-cn/blog/_posts/2023-10-20-kcs-shanghai/index.md
  content/zh-cn/blog/_posts/2023-10-20-kcs-shanghai/kcs03.jpeg
  content/zh-cn/blog/_posts/2023-10-20-kcs-shanghai/kcs04.jpeg
  content/zh-cn/blog/_posts/2023-10-20-kcs-shanghai/kcs06.jpeg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43898 [zh-cn] sync security.md jsonpath.md
  content/zh-cn/docs/reference/issues-security/security.md
  content/zh-cn/docs/reference/kubectl/jsonpath.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43962 [zh] Update zh-cn/docs/reference/glossary
  content/zh-cn/docs/reference/glossary/gateway.md
  content/zh-cn/docs/reference/glossary/group-version-resource.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#43963 [Chinese]Update the title of configure-upgrade-etcd.md
  content/zh-cn/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#43601 Fix feature gate for a gate that is not documented
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43965 Add jongwooo to sig-docs-ko-reviews
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#43778 update documented metrics for v1.29
  content/en/docs/reference/instrumentation/metrics.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/instrumentation, approved, language/en

#43850 [zh-cn] Sync tutorial expose-intro
  content/zh-cn/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43958 KEP-4193: bound service account token improvements
  content/en/docs/concepts/security/service-accounts.md
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, sig/docs, approved, language/en

#43879 Refresh Polish localization 23b
  content/pl/docs/concepts/overview/components.md
  content/pl/docs/concepts/overview/kubernetes-api.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pl

#43880 Refresh Polish localization 23c
  content/pl/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/pl/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/pl/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/pl/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pl

#43780 [zh] Localize cluster-trust-bundle-v1alpha1.md into Chinese
  content/zh-cn/docs/reference/kubernetes-api/authentication-resources/cluster-trust-bundle-v1alpha1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#43785 [ru] Localization of concepts/workloads/_index.md
  content/ru/docs/concepts/workloads/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ru

#43985 Fix GRPC route link in Kubernetes Gateway API blog
  content/en/blog/_posts/2022-07-13-gateway-api-in-beta.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#43598 Tweak and adjust heading levels in issue-wrangler.md
  content/en/docs/contribute/participate/issue-wrangler.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#43710 Clean up localization.md
  content/en/docs/contribute/localization.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#43620 Document Kubernetes' use of WebSockets (replacement for SPDY / KEP 4006)
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/kubectl/kubectl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/api-machinery, sig/docs, approved, language/en

#43980 Clean up /access-authn-authz/authentication.md
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#43969 Fix visibility of "Learn Kubernetes Basics" button on homepage
  layouts/index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#43961 Fix some typos in [en] docs.
  content/en/blog/_posts/2016-10-00-Production-Kubernetes-Dashboard-UI-1-4-improvements_3.md
  content/en/docs/concepts/policy/pid-limiting.md
  content/en/docs/concepts/security/multi-tenancy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#43974 [zh] Localize apiserver-admission.v1.md
  content/zh-cn/docs/reference/config-api/apiserver-admission.v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43992 [pt] Ensure seccomp starts with small letter
  content/pt-br/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#43989 [zh-cn] sync contribute/localization.md
  content/zh-cn/docs/contribute/localization.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43909 [zh-cn] sync command-line-tools-reference/kubelet.md
  content/zh-cn/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43995 [zh-cn] sync service.md
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43988 [zh] sync access-authn-authz/authentication.md
  content/zh-cn/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43960 Remove archived third-party client library
  content/en/docs/reference/using-api/client-libraries.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43994 [zh-cn] sync issue-wrangler open-a-pr feature-gates diagram-guide
  content/zh-cn/docs/contribute/new-content/open-a-pr.md
  content/zh-cn/docs/contribute/participate/issue-wrangler.md
  content/zh-cn/docs/contribute/style/diagram-guide.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43945 [zh] Localize blog: 2023-11-16-mid-cycle-1.29.md
  content/zh-cn/blog/_posts/2023-11-16-mid-cycle-1.29.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43873 [en] Fix scale-intro.html outputs indentations of terminal.
  content/en/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/web-development

#44000 Update client-libraries.md
  content/zh-cn/docs/reference/using-api/client-libraries.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43860 [zh-cn] Update KubeCon dates and fix mismatched blocks
  content/zh-cn/_index.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#43922 [zh] Sync /config-api/kubelet-config.v1beta1.md
  content/zh-cn/docs/reference/config-api/kubelet-config.v1beta1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#44001 Update 2022-07-13-gateway-api-in-beta.md
  content/zh-cn/blog/_posts/2022-07-13-gateway-api-in-beta.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44006 [uk] Ensure seccomp starts with small letter
  content/uk/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk

#44007 [zh] sync pid-limiting multi-tenancy job
  content/zh-cn/docs/concepts/policy/pid-limiting.md
  content/zh-cn/docs/concepts/security/multi-tenancy.md
  content/zh-cn/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43812 add: the doc for matchLabelKeys/mismatchLabelKeys in pod (anti)affinity
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/scheduling, approved, tide/merge-method-squash, language/en

#43996 [zh-cn] sync daemonset.yaml
  content/zh-cn/examples/controllers/daemonset.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43820 [es] Add concepts/storage/windows-storage.md
  content/es/docs/concepts/storage/windows-storage.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/es

#43721 [zh] Add translations to /using-api/api-concepts.md
  content/zh-cn/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43398 [KMSv2] add docs for KMSv2 GA
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/administer-cluster/encrypt-data.md
  content/en/docs/tasks/administer-cluster/kms-provider.md
Labels: cncf-cla: yes, size/L, lgtm, sig/auth, sig/docs, approved, language/en, sig/security

#44012 [uk] Remove some vertical space between lines of text
  content/uk/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/uk

#43322 content: ja: Fix incorrect letter case for data storage units
  content/ja/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#43594 [ja] fix: update deprecated command in code example
  content/ja/docs/tasks/debug/debug-application/get-shell-running-container.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#43670 Update broken github link for Japanese Storage-limit doc.
  content/ja/docs/concepts/storage/storage-limits.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#43677 [ja] add searchbar to index page
  content/ja/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#43201 [ja] Translate reference/glossary/helm-chart.md into Japanese
  content/ja/docs/reference/glossary/helm-chart.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#43940 [ja] Ensure seccomp starts with small letter
  content/ja/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#43876 [zh] Fix image issues in /extend-kubernetes/_index.md
  content/zh-cn/docs/concepts/extend-kubernetes/_index.md
  content/zh-cn/docs/concepts/extend-kubernetes/flowchart.svg
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#44021 [zh] Update high-availability.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/high-availability.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43600 ClusterTrustBundles: document projected volumes
  content/en/docs/concepts/storage/projected-volumes.md
  content/en/docs/reference/access-authn-authz/certificate-signing-requests.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/examples/pods/storage/projected-clustertrustbundle.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, sig/docs, approved, language/en, sig/security
