Repository kubernetes/website, pull requests merged in 2023-12, with the labels that each got.

#44133 [zh-cn] sync persistent-volumes configure-liveness-readiness-startup-probes patch-releases
  content/zh-cn/docs/concepts/storage/persistent-volumes.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/zh-cn/releases/patch-releases.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44172 Fix incorrect YAML format in static-web.yaml example
  content/zh-cn/docs/tasks/configure-pod-container/static-pod.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44176 Postpone December patch releases for 2023-12-19
  content/en/releases/patch-releases.md
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#44110 clean up iptables/ipvs proxy mode descriptions a bit
  content/en/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/network, approved, language/en

#44109 Add new warning for kubernetes deb/RPM packages migration
  content/en/blog/_posts/2023-08-31-legacy-package-repository-deprecation/index.md
  data/announcements/scheduled.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, committee/steering, language/en, area/blog

#44141 [pl] Update KubeCon dates for 2023-2024
  content/pl/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl

#44173 Link to same page from old releases' documentation
  data/i18n/en/en.toml
  layouts/partials/deprecation-warning.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en, area/web-development

#44191 [pt] Update install-kubeadm.md
  content/pt-br/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#44197 Revert misleading link from deprecation notice
  data/i18n/en/en.toml
  layouts/partials/deprecation-warning.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/web-development

#44083 Add spaces to properly render bold text in Chinese (zh-cn)
  content/zh-cn/blog/_posts/2019-04-24-Hardware-Accelerated-SSLTLS-Termination-in-Ingress-Controllers-using-Kubernetes-Device-Plugins-and-RuntimeClass.md
  content/zh-cn/docs/concepts/configuration/manage-resources-containers.md
  content/zh-cn/docs/reference/access-authn-authz/rbac.md
  content/zh-cn/docs/reference/glossary/downstream.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-service-account.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44162 improve format for included/verify-kubectl.md
  content/en/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#44075 Fix broken Telepresence link in the debugging guide
  content/en/docs/tasks/debug/debug-cluster/local-debugging.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44137 [en] Update cluster-level-pss.md show the code sample.
  content/en/docs/tutorials/security/cluster-level-pss.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44186 [zh-cn] sync releases/patch-releases
  content/zh-cn/releases/patch-releases.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44211 [zh] Sync cluster-level-pss.
  content/zh-cn/docs/tutorials/security/cluster-level-pss.md
  content/zh-cn/examples/security/example-baseline-pod.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44205 Fix broken GitHub Learning link in _index.md
  content/en/docs/contribute/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44226 [fr] update kubernetes-api.md link
  content/fr/docs/contribute/generate-ref-docs/kubernetes-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#44187 [hi] Fix section header anchors for Hindi links on docs homepage
  content/hi/docs/setup/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#44220 [zh-cn] sync windows-storage local-debugging
  content/zh-cn/docs/concepts/storage/windows-storage.md
  content/zh-cn/docs/tasks/debug/debug-cluster/local-debugging.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44206 [zh] sync authentication feature-gates
  content/zh-cn/docs/reference/access-authn-authz/authentication.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44208 [zh-cn] sync kubeadm/kubeadm-reconfigure.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-reconfigure.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44237 Update fr docs outdated link
  content/fr/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#44242 [fr] update federation-api.md link
  content/fr/docs/contribute/generate-ref-docs/federation-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#44231 [zh-cn] Fix concepts/configuration/secret.md typo
  content/zh-cn/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44229 [zh-cn] Fix volume-snapshot-classes broken-links
  content/zh-cn/docs/concepts/storage/volume-snapshot-classes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44188 Fix typo in 'replicalimit-param.yaml' example YAML
  content/en/examples/validatingadmissionpolicy/replicalimit-param.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44210 [ru] Fix link
  content/ru/docs/contribute/generate-ref-docs/contribute-upstream.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#43865 [hi] Ensure seccomp starts with small letter
  content/hi/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#42036 [hi] improved the grammar in the hindi docs
  README-hi.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#44199 Update cheatsheet.md
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44170 update safe sysctls
  content/en/docs/concepts/security/pod-security-standards.md
  content/en/docs/tasks/administer-cluster/sysctl-cluster.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#44158 Update KubeCon dates for 2024
  content/en/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44153 Minor text changes to the index of tasks/debug/debug-cluster
  content/en/docs/tasks/debug/debug-cluster/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43545 Fix a typo in flowchart.svg of extend-kubernetes concepts
  content/en/docs/concepts/extend-kubernetes/flowchart.svg
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43483 [hi] Fix sha256 url missing '/release/' to download kubectl
  content/hi/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#43688 Change HorizontalPodAutoscaler walkthrough to use autoscaling/v2 API group
  content/en/examples/application/hpa/php-apache.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, do-not-merge/hold, approved, sig/autoscaling, language/en

#44051 Connected "pods" with "Using kubectl to Create a Deployment" tutorial.
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#44251 Fix typo in TLS Secrets part
  content/en/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44256 update date kubecon doc fr
  content/fr/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#44250 [zh] sync change-package-repository /tasks/debug/debug-cluster/_index verify-kubectl
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
  content/zh-cn/docs/tasks/debug/debug-cluster/_index.md
  content/zh-cn/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43668 Document snag with Secrets, stringData, and server-side apply
  content/en/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
  content/en/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43853 Fix minor formatting issue in kubectl docs
  content/en/docs/reference/kubectl/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43984 Switch StatefulSet tutorial to HTTP manifest source
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43851 Update garbage-collection.md
  content/en/docs/concepts/architecture/garbage-collection.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44111 [ru] Update KubeCon dates for 2023-2024
  content/ru/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#44278 [uk] Update KubeCon dates for 2024
  content/uk/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk

#44281 Metrics reference is for (unreleased) v1.29
  assets/scss/_custom.scss
  content/en/docs/reference/instrumentation/metrics.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en

#43719 Improve visibility for tutorial diagrams through color change
  content/en/docs/tutorials/kubernetes-basics/public/images/module_05_scaling1.svg
  content/en/docs/tutorials/kubernetes-basics/public/images/module_05_scaling2.svg
  content/en/docs/tutorials/kubernetes-basics/public/images/module_06_rollingupdates1.svg
  content/en/docs/tutorials/kubernetes-basics/public/images/module_06_rollingupdates2.svg
  content/en/docs/tutorials/kubernetes-basics/public/images/module_06_rollingupdates3.svg
  content/en/docs/tutorials/kubernetes-basics/public/images/module_06_rollingupdates4.svg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#43689 docs: Small fixes to the Resource deletion section of API Concept
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/api-machinery, sig/docs, approved, language/en

#44286 Update dev-1.29 branch to sync with main
  content/en/docs/concepts/architecture/garbage-collection.md
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/reference/kubectl/_index.md
  content/en/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
  content/en/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
  content/fr/_index.html
  content/ru/_index.html
  content/uk/_index.html
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
  content/zh-cn/docs/tasks/debug/debug-cluster/_index.md
  content/zh-cn/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, language/zh, language/fr, language/ru, language/uk

#44287 Replace "Twitter" logo with "X" logo on Community page
  content/en/community/_index.html
  static/images/community/x-org.png
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44274 Remove duplicate references to Docker Engine legacy container feature in "Service" page
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44276 Fix Broken voyager link in ingress-controllers.md
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44285 [zh-cn] sync secret cheatsheet php-apache.yaml
  content/zh-cn/docs/concepts/configuration/secret.md
  content/zh-cn/docs/reference/kubectl/cheatsheet.md
  content/zh-cn/examples/application/hpa/php-apache.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44200 [pt] Update "Operator White Paper" link on operator.md page
  content/pt-br/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#44280 [zh-cn] Update KubeCon dates
  content/zh-cn/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#44135 Add 1.29 to release schedule for 1.29 release
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, area/release-eng

#43871 kubeadm: add section on how to use the "generate-csr" command
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-certs.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: cncf-cla: yes, size/L, lgtm, kind/feature, sig/cluster-lifecycle, sig/docs, approved, language/en

#43346 Add a new concept page for Sidecar containers
  content/en/docs/concepts/workloads/pods/init-containers.md
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/concepts/workloads/pods/sidecar-containers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, sig/docs, approved, language/en

#44305 Merge main into dev-1.29
  content/en/community/_index.html
  content/en/docs/concepts/services-networking/ingress-controllers.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/workloads/pods/init-containers.md
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/concepts/workloads/pods/sidecar-containers.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-certs.md
  content/en/docs/reference/using-api/api-concepts.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/en/docs/tutorials/kubernetes-basics/public/images/module_05_scaling1.svg
  content/en/docs/tutorials/kubernetes-basics/public/images/module_05_scaling2.svg
  content/en/docs/tutorials/kubernetes-basics/public/images/module_06_rollingupdates1.svg
  content/en/docs/tutorials/kubernetes-basics/public/images/module_06_rollingupdates2.svg
  content/en/docs/tutorials/kubernetes-basics/public/images/module_06_rollingupdates3.svg
  content/en/docs/tutorials/kubernetes-basics/public/images/module_06_rollingupdates4.svg
  content/pt-br/docs/concepts/extend-kubernetes/operator.md
  content/zh-cn/_index.html
  content/zh-cn/docs/concepts/configuration/secret.md
  content/zh-cn/docs/reference/kubectl/cheatsheet.md
  content/zh-cn/examples/application/hpa/php-apache.yaml
  static/images/community/x-org.png
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/en, language/zh, language/pt

#44303 Updates v1.29 hugo.toml to include latest patches ahead of release
  hugo.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#44316 Feature gate SchedulerQueueingHints is disabled by default
  content/en/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#43082 Official v1.29 Release Docs
  assets/scss/_custom.scss
  content/en/docs/concepts/architecture/garbage-collection.md
  content/en/docs/concepts/cluster-administration/flow-control.md
  content/en/docs/concepts/cluster-administration/system-metrics.md
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
  content/en/docs/concepts/containers/images.md
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/en/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/en/docs/concepts/security/pod-security-standards.md
  content/en/docs/concepts/security/service-accounts.md
  content/en/docs/concepts/services-networking/dual-stack.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/projected-volumes.md
  content/en/docs/concepts/storage/storage-classes.md
  content/en/docs/concepts/storage/volume-attributes-classes.md
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/concepts/workloads/controllers/statefulset.md
  content/en/docs/concepts/workloads/pods/_index.md
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/concepts/workloads/pods/sidecar-containers.md
  content/en/docs/concepts/workloads/pods/user-namespaces.md
  content/en/docs/reference/access-authn-authz/authentication.md
  content/en/docs/reference/access-authn-authz/authorization.md
  content/en/docs/reference/access-authn-authz/certificate-signing-requests.md
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
  content/en/docs/reference/command-line-tools-reference/feature-gates-removed.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/instrumentation/metrics.md
  content/en/docs/reference/instrumentation/slis.md
  content/en/docs/reference/kubectl/kubectl.md
  content/en/docs/reference/labels-annotations-taints/_index.md
  content/en/docs/reference/networking/virtual-ips.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_super-admin.conf.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_super-admin.md
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-certs.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/reference/using-api/api-concepts.md
  content/en/docs/reference/using-api/deprecation-guide.md
  content/en/docs/setup/best-practices/certificates.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/tasks/administer-cluster/change-pv-access-mode-readwriteoncepod.md
  content/en/docs/tasks/administer-cluster/encrypt-data.md
  content/en/docs/tasks/administer-cluster/kms-provider.md
  content/en/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
  content/en/docs/tasks/network/extend-service-ip-ranges.md
  content/en/examples/pods/storage/projected-clustertrustbundle.yaml
  content/en/examples/priority-and-fairness/health-for-strangers.yaml
  content/en/examples/priority-and-fairness/list-events-default-service-account.yaml
  data/releases/schedule.yaml
  hugo.toml
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, do-not-merge/hold, sig/release, approved, language/en, area/release-eng

#43939 Announce v1.29 release
  content/en/blog/_posts/2023-12-13-kubernetes-1.29.md
  static/images/blog/2023-12-13-kubernetes-1.29-release/k8s-1.29.png
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, do-not-merge/hold, approved, language/en, area/blog

#44301 Updates v1.26 hugo.toml for v1.29 release
  hugo.toml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved

#44302 Updates v1.25 config.toml for v1.29 release
  config.toml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved

#44299 Updates v1.27 hugo.toml for release v1.29
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#44298 Update release 1.28 hugo.toml for 1.29 release
  hugo.toml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved

#44244 [zh] Localize kubeadm-config.v1beta4.md into Chinese
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta4.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#44247 [zh-cn] sync legacy-package-repository-deprecation blog
  content/zh-cn/blog/_posts/2023-08-31-legacy-package-repository-deprecation/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44267 [zh-cn] sync safe sysctl
  content/zh-cn/docs/concepts/security/pod-security-standards.md
  content/zh-cn/docs/tasks/administer-cluster/sysctl-cluster.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44283 [zh-cn] sync tutorials/*
  content/zh-cn/docs/tutorials/hello-minikube.md
  content/zh-cn/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/zh-cn/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/zh-cn/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/zh-cn/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44293 fix: responseObject error [zh]
  content/zh-cn/docs/reference/config-api/apiserver-audit.v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44304 [zh] Sync community page.
  content/zh-cn/community/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44314 [de] Update KubeCon dates for 2024
  content/de/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#44328 Fix broken link in v1.29 Release Announcement blog
  content/en/blog/_posts/2023-12-13-kubernetes-1.29.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#43932 Add blog post to reflect state of PodReadyToStartContainersCondition
  content/en/blog/_posts/2023-12-19-PodReadyToStartContainersCondition-in-beta.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, language/en, area/blog

#44010 add blog post for in-tree cloud provider removal going beta
  content/en/blog/_posts/2023-12-14-disabling-in-tree-cloud-provider-goes-beta.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#43904 add blog for feature LoadBalancerIPMode
  content/en/blog/_posts/2023-12-18-kubernetes-1-29-feature-loadbalancer-ip-mode-alpha.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/network, approved, language/en, area/blog

#43777 Add a blog post about VolumeAttributesClass
  content/en/blog/_posts/2023-12-15-volume-attributes-class/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#43921 CSI NodeExpansion GA promotion blog
  content/en/blog/_posts/2023-12-15-node-expand-secret-moves-ga.md
Labels: cncf-cla: yes, size/M, lgtm, sig/storage, sig/docs, approved, language/en, area/blog

#43418 Feature blog for ReadWriteOncePod GA graduation
  content/en/blog/_posts/2023-12-18-read-write-once-pod-access-mode-ga.md
Labels: cncf-cla: yes, size/M, lgtm, sig/storage, sig/docs, sig/release, sig/scheduling, approved, language/en, area/blog

#43676 Add a blog post about decoupled taint eviction controller
  content/en/blog/_posts/2023-12-19-taint-eviction-controller.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/blog

#44337 fix value in structured authn config example
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, sig/docs, approved, language/en, triage/accepted

#44322 Add user guidance comment for executing drain and uncordon on control plane
  content/en/docs/tasks/administer-cluster/kubeadm/upgrading-linux-nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en, triage/accepted

#43774 Add a link to sample-controller repository on Controllers page
  content/en/docs/concepts/architecture/controller.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44243 [es] localize content/en/docs/tasks/run-application/scale-stateful-set.md to Spanish
  content/es/docs/tasks/run-application/scale-stateful-set.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/es

#44349 Config API for v1.29
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/en/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/en/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/en/docs/reference/_index.md
  content/en/docs/reference/config-api/apiserver-admission.v1.md
  content/en/docs/reference/config-api/apiserver-audit.v1.md
  content/en/docs/reference/config-api/apiserver-config.v1alpha1.md
  content/en/docs/reference/config-api/apiserver-encryption.v1.md
  content/en/docs/reference/config-api/client-authentication.v1.md
  content/en/docs/reference/config-api/client-authentication.v1beta1.md
  content/en/docs/reference/config-api/imagepolicy.v1alpha1.md
  content/en/docs/reference/config-api/kube-proxy-config.v1alpha1.md
  content/en/docs/reference/config-api/kube-scheduler-config.v1.md
  content/en/docs/reference/config-api/kube-scheduler-config.v1beta3.md
  content/en/docs/reference/config-api/kubeadm-config.v1beta3.md
  content/en/docs/reference/config-api/kubeadm-config.v1beta4.md
  content/en/docs/reference/config-api/kubelet-config.v1.md
  content/en/docs/reference/config-api/kubelet-config.v1beta1.md
  content/en/docs/reference/config-api/kubelet-credentialprovider.v1.md
  content/en/docs/reference/config-api/kubelet-credentialprovider.v1alpha1.md
  content/en/docs/reference/config-api/kubelet-credentialprovider.v1beta1.md
  content/en/docs/reference/scheduling/config.md
  content/en/docs/tasks/extend-kubernetes/configure-multiple-schedulers.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en

#44344 Add release 1.29 to previousPatches in the schedule.yaml
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, area/release-eng

#44346 Update component reference for v1.29
  content/en/docs/reference/command-line-tools-reference/kube-apiserver.md
  content/en/docs/reference/command-line-tools-reference/kube-controller-manager.md
  content/en/docs/reference/command-line-tools-reference/kube-proxy.md
  content/en/docs/reference/command-line-tools-reference/kube-scheduler.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#44245 RFC 1035 vs RFC 1123: clarify the difference
  content/en/docs/concepts/overview/working-with-objects/names.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44039 Update dns-pod-service.md
  content/en/docs/concepts/services-networking/dns-pod-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44086 Link to existing task about decrypting at rest
  content/en/docs/tasks/administer-cluster/kms-provider.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, sig/security

#44128 Remove stale mention of ServiceIPStaticSubrange
  content/en/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/network, approved, language/en

#44291 [pl] Update KubeCon dates for 2024
  content/pl/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl

#44352 [zh] Sync kms-provider.md
  content/zh-cn/docs/tasks/administer-cluster/kms-provider.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44341 [zh] Add translations to /services-networking/service.md
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44369 Fix a link in custom-resource-definitions task
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44339 [es] Update KubeCon dates for 2024
  content/es/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#44384 [fr] Update KubeCon dates for 2024
  content/fr/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#44371 [zh] Remove two config-api docs: kubelet-credentialprovider
  content/zh-cn/docs/reference/config-api/kubelet-credentialprovider.v1alpha1.md
  content/zh-cn/docs/reference/config-api/kubelet-credentialprovider.v1beta1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#44329 Reinstate the MultiCIDRRangeAllocator feature gate
  content/en/docs/reference/command-line-tools-reference/feature-gates-removed/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44353 [zh] Sync 1.29 docs and polish informational wording
  content/zh-cn/docs/concepts/scheduling-eviction/scheduling-framework.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#44240 [zh-cn] sync memory-available-cgroupv2.sh
  content/zh-cn/examples/admin/resource/memory-available-cgroupv2.sh
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44386 [zh-cn] Remove kube-scheduler-config.v1beta3.md
  content/zh-cn/docs/reference/config-api/kube-scheduler-config.v1beta3.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#44383 Fix broken link in "Container Lifecycle Hooks"
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44045 Update scheduling framework concept
  content/en/docs/concepts/scheduling-eviction/scheduling-framework.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#44116 show the output from metrics server
  content/en/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#44390 Add comments to shell snippets in StatefulSet tutorial
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#43967 [pt-br] Add docs/reference/glossary/manifest.md
  content/pt-br/docs/reference/glossary/manifest.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt

#44395 Add "spec" to glossary
  content/en/docs/reference/glossary/spec.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#44356 Update reference for kubelet 1.29
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, language/en

#44373 [zh] Kubernetes 1.29: VolumeAttributesClass for Volume Modification
  content/zh-cn/blog/_posts/2023-12-15-volume-attributes-class/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44235 Fix broken hyperlink for 'Cosign Keyless Signatures' in "Verify Signed Kubernetes Artifacts" guide
  content/en/docs/tasks/administer-cluster/verify-signed-artifacts.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en, sig/security

#44394 [zh-cn] sync kms-provider configure-multiple-schedulers deprecation-guide
  content/zh-cn/docs/reference/using-api/deprecation-guide.md
  content/zh-cn/docs/tasks/administer-cluster/kms-provider.md
  content/zh-cn/docs/tasks/extend-kubernetes/configure-multiple-schedulers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41397 [pt-br] Add docs/reference/glossary/shuffle-sharding.md
  content/pt-br/docs/reference/glossary/shuffle-sharding.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pt

#44179 Add few annotations added by the kubelet
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#44397 [id] Update KubeCon dates for 2024
  content/id/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#44036 Capitalized the required words
  content/en/docs/tutorials/services/source-ip.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#44037 Updated dotnet - Sample Programs url to point the example folder of project
  content/en/docs/reference/using-api/client-libraries.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44382 [es] localize content/en/docs/tasks/tools/included/optional-kubectl-configs-fish.md to Spanish
  content/es/docs/tasks/tools/included/optional-kubectl-configs-fish.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/es

#44404 [es] update content/es/docs/contribute/start
  content/es/docs/contribute/start.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#44300 [es] localize content/en/docs/tasks/tools/install-kubectl-linux.md to Spanish
  content/es/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/es

#44249 [es] localize content/en/docs/tasks/run-application/delete-stateful-set.md to Spanish
  content/es/docs/tasks/run-application/delete-stateful-set.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, language/en, language/zh, ok-to-test, language/fr, language/de, language/es, area/blog, language/pt, language/id, language/ru, language/pl, language/uk, area/release-eng

#44401 Mention Windows Server 2022 for Windows nodes
  content/en/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/windows, sig/docs, approved, language/en

#44097 add spiderpool into addons
  content/en/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44418 [zh] Relocate feature-gates and feature-gates-removed
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates-removed/index.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44420 Updated Slack icon at 'footer' and 'right side' of Blogs page
  layouts/blog/baseof.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash

#44391 [zh-cn] sync cluster-administration/flow-control.md system-metrics.md
  content/zh-cn/docs/concepts/cluster-administration/flow-control.md
  content/zh-cn/docs/concepts/cluster-administration/system-metrics.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44388 [zh-cn] sync pods/pod-lifecycle.md
  content/zh-cn/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44439 Fix typo in instruction for Kubernetes repository configuration on CentOS/RHEL/Fedora
  content/en/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en

#43887 [ja] Change footer l10n from Home to Documentation
  content/ja/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#44441 [zh] Add translations to /cluster-administration/addons.md
  content/zh-cn/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43888 [ko] Change footer l10n from Home to Documentation
  content/ko/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#44408 fix: container not sandbox
  content/en/docs/tasks/debug/debug-cluster/crictl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#44436 Reflect CSI allowVolumeExpansion stable status
  content/en/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, language/en

#44442 [zh] Localize feature-gates/i*.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/immutable-ephemeral-volumes.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/in-place-pod-vertical-scaling.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/in-tree-plugin-aws-unregister.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/in-tree-plugin-azure-disk-unregister.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/in-tree-plugin-azure-file-unregister.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/in-tree-plugin-gce-unregister.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/in-tree-plugin-openstack-unregister.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/in-tree-plugin-portworx-unregister.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/in-tree-plugin-rbd-unregister.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/in-tree-plugin-vsphere-unregister.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/indexed-job.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/ingress-class-namespaced-params.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/initializers.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/ip-tables-ownership-cleanup.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/ipv6-dual-stack.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44451 Update schedule yaml for v1.26.12, v1.27.9 and v1.28.5
  content/en/releases/patch-releases.md
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#44447 fix the Chinese single quotes in the code to English single quotes
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43579 feature blog: contextual logging update for 1.29
  content/en/blog/_posts/2023-12-20-contextual-logging-in-kubernetes-1-29.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#44453 Fix canonical URL
  content/en/blog/_posts/2023-12-20-contextual-logging-in-kubernetes-1-29.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#44421 [zh] Localize /feature-gates/a*.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/accelerators.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/admission-webhook-match-conditions.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/advanced-auditing.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/affinity-in-annotations.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/aggregated-discovery-endpoint.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/allow-ext-traffic-local-endpoints.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/allow-insecure-backend-proxy.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/any-volume-data-source.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/api-list-chunking.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/api-priority-and-fairness.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/api-response-compression.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/api-self-subject-review.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/api-server-identity.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/api-server-tracing.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/apparmor.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/attach-volume-limit.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44449 [zh] Fix typo in instruction for Kubernetes repository configuration on CentOS/RHEL/Fedora
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42551 Revise StorageClass docs
  content/en/docs/concepts/storage/storage-classes.md
  content/en/examples/storage/storageclass-low-latency.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/storage, sig/docs, approved, language/en

#43665 Change title and add redirects for kubectl cheatsheet
  content/en/docs/reference/kubectl/quick-reference.md
  static/_redirects
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43550 Fix typo in deprecation-guide.md at v1.26
  content/en/docs/reference/using-api/deprecation-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#44364 [zh] Add translations to configure-service-account.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-service-account.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44446 fix the Chinese single quotes in the code to English single quotes
  content/zh-cn/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44354 [zh] Localize kubeadm_certs_renew_super-admin.conf.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_super-admin.conf.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44399 [zh-cn]sync kubeadm-init api-concepts
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/zh-cn/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh
