Repository kubernetes/website, pull requests merged in 2023-02, with the labels that each got.

#39139 [zh] Sync indexed-parallel-processing-static.md
  content/zh-cn/docs/tasks/job/indexed-parallel-processing-static.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39192 [zh-cn]Update services-networking/service.md
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39177 [zh-cn] add 2022-12-26-pod-scheduling-readiness.md chinese version
  content/zh-cn/blog/_posts/2022-12-26-pod-scheduling-readiness.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#39189 [zh] sync setup-ha-etcd-with-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39140 [zh] Sync fine-parallel-processing-work-queue.md
  content/zh-cn/docs/tasks/job/fine-parallel-processing-work-queue.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39198 [zh] Resync working-with-objects/labels.md
  content/zh-cn/docs/concepts/overview/working-with-objects/labels.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#39191 [zh-cn]Update imagepolicy.v1alpha1.md
  content/zh-cn/docs/reference/config-api/imagepolicy.v1alpha1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39199 [zh] Resync connect-applications-service.md
  content/zh-cn/docs/tutorials/services/connect-applications-service.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39186 [zh-cn] Blog: localization 2022-12-23-fsgroup-on-mount.md
  content/zh-cn/blog/_posts/2022-12-23-fsgroup-on-mount.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#39202 [zh] Resync certificate-signing-requests.md
  content/zh-cn/docs/reference/access-authn-authz/certificate-signing-requests.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39201 [zh] Cleanup cluster-level-pss.md
  content/zh-cn/docs/tutorials/security/cluster-level-pss.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/zh

#39203 [zh] sync /using-api/client-libraries.md
  content/zh-cn/docs/reference/using-api/client-libraries.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39018 [zh] sync safely-drain-node.md
  content/zh-cn/docs/tasks/administer-cluster/safely-drain-node.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38975 [ko] Fix typo, It should be modified to 'replicas: 3'
  content/ko/examples/service/access/backend-deployment.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#38574 [ko] Update dns-pod-service.md
  content/ko/docs/concepts/services-networking/dns-pod-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#39187 [zh-cn] sync garbage-collection statefulset ttlafterfinished
  content/zh-cn/docs/concepts/architecture/garbage-collection.md
  content/zh-cn/docs/concepts/workloads/controllers/statefulset.md
  content/zh-cn/docs/concepts/workloads/controllers/ttlafterfinished.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39121 Drop outdated Kubernetes version request in ConfigMap docs
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#39200 Update security-context.md
  content/zh-cn/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#38913 [ja] Update page weights under content/ja/docs/concepts/overview/working-with-objects.
  content/ja/docs/concepts/overview/working-with-objects/annotations.md
  content/ja/docs/concepts/overview/working-with-objects/common-labels.md
  content/ja/docs/concepts/overview/working-with-objects/field-selectors.md
  content/ja/docs/concepts/overview/working-with-objects/names.md
  content/ja/docs/concepts/overview/working-with-objects/namespaces.md
  content/ja/docs/concepts/overview/working-with-objects/object-management.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#38736 [ja] fix typo in the cloud-controller-manager section
  content/ja/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#39020 [ja] Add ja to the paths of debug pages
  content/ja/docs/concepts/containers/runtime-class.md
  content/ja/docs/concepts/workloads/pods/ephemeral-containers.md
  content/ja/docs/tasks/administer-cluster/securing-a-cluster.md
  content/ja/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#38838 [ja] add docs for leases
  content/ja/docs/concepts/architecture/leases.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja

#39148 [ja] Added Hyperlink to RFC3339
  content/ja/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#39085 [ja] add doc for cgroup
  content/ja/docs/concepts/architecture/cgroups.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja

#39213 [ja] NodeOutOfServiceVolumeDetach feature update to beta
  content/ja/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#39073 [ja] Update page weights under content/ja/docs/concepts/overview.
  content/ja/docs/concepts/overview/kubernetes-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#39098 [ja]Fix invalid Japanese words
  content/ja/docs/tasks/administer-cluster/nodelocaldns.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#39221 [zh-cn] Fix a typo in verify-kubectl.md
  content/zh-cn/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39222 [zh-cn] Resync api-server-bypass-risks.md
  content/zh-cn/docs/concepts/security/api-server-bypass-risks.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39220 [zh] sync kubeadm_reset_phase_cleanup-node.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset_phase_cleanup-node.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39232 [zh-cn]Update kube-scheduler-config.v1beta3.md
  content/zh-cn/docs/reference/config-api/kube-scheduler-config.v1beta3.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39231 [zh-cn]Update open-a-pr.md
  content/zh-cn/docs/contribute/new-content/open-a-pr.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39230 Make layout prettier in managing-secret-using-kubectl.md
  content/en/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#39229 [zh-cn] Resync install-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39233 Fix broken link on Install Tools page
  content/en/docs/tasks/tools/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39235 ephemeral containers are not accounted for Guaranteed QoS class
  content/en/docs/tasks/configure-pod-container/quality-service-pod.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, priority/backlog, approved, kind/cleanup, language/en

#39228 Add cleanup commands to kubectl MacOS install
  content/en/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#39206 Fix up 2023 SIG Instrumentation spotlight article
  content/en/blog/_posts/2023-02-03-sig-instrumentation-spotlight.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#39216 Update branch name in ingress-nginx github link
  content/en/docs/concepts/services-networking/ingress.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39205 Fix mismatch in Labels and Selectors concept page
  content/en/docs/concepts/overview/working-with-objects/labels.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39082 releng: Update release-managers doc
  content/en/releases/release-managers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, priority/important-soon, sig/release, approved, language/en, area/release-eng

#39072 Document spec and status downward API fields only available as environment variables
  content/en/docs/concepts/workloads/pods/downward-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#38697 Update kubectl reference docs for 1.26
  static/docs/reference/generated/kubectl/kubectl-commands.html
  static/docs/reference/generated/kubectl/navData.js
  static/docs/reference/generated/kubectl/node_modules/font-awesome/css/font-awesome.min.css
  static/docs/reference/generated/kubectl/node_modules/font-awesome/fonts/FontAwesome.otf
  static/docs/reference/generated/kubectl/node_modules/font-awesome/fonts/fontawesome-webfont.eot
  static/docs/reference/generated/kubectl/node_modules/font-awesome/fonts/fontawesome-webfont.svg
  static/docs/reference/generated/kubectl/node_modules/font-awesome/fonts/fontawesome-webfont.ttf
  static/docs/reference/generated/kubectl/node_modules/font-awesome/fonts/fontawesome-webfont.woff
  static/docs/reference/generated/kubectl/node_modules/font-awesome/fonts/fontawesome-webfont.woff2
  static/docs/reference/generated/kubectl/node_modules/jquery.scrollto/jquery.scrollTo.min.js
  static/docs/reference/generated/kubectl/node_modules/jquery/dist/jquery.min.js
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, sig/release, approved

#39238 Update config.toml in release-1.25 branch to change deprecated to true
  config.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#38768 [ja] add docs for finalizers
  content/ja/docs/concepts/overview/working-with-objects/finalizers.md
  content/ja/docs/reference/glossary/finalizer.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja

#38794 [ja] add docs for owners-dependents
  content/ja/docs/concepts/overview/working-with-objects/owners-dependents.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja

#39178 Modify kube-scheduler/controller-manager port in jp install-kubeadm.md
  content/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#39246 [uk] Replace k8s.gcr.io with registry.k8s.io
  content/uk/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk

#38300 [ko] Tranlsate run-replicated-stateful-application.md into Korean
  content/ko/docs/tasks/run-application/run-replicated-stateful-application.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/ko

#39248 [id] Replace k8s.gcr.io with registry.k8s.io
  content/id/docs/concepts/configuration/manage-compute-resources-container.md
  content/id/docs/concepts/configuration/secret.md
  content/id/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/id/docs/concepts/overview/working-with-objects/labels.md
  content/id/docs/concepts/policy/pod-security-policy.md
  content/id/docs/concepts/storage/persistent-volumes.md
  content/id/docs/concepts/storage/volumes.md
  content/id/docs/concepts/workloads/controllers/statefulset.md
  content/id/docs/concepts/workloads/pods/pod-lifecycle.md
  content/id/docs/reference/kubectl/cheatsheet.md
  content/id/docs/tasks/administer-cluster/namespaces.md
  content/id/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/id/docs/tutorials/hello-minikube.md
  content/id/docs/tutorials/stateful-application/basic-stateful-set.md
  content/id/examples/admin/dns/dnsutils.yaml
  content/id/examples/admin/logging/two-files-counter-pod-agent-sidecar.yaml
  content/id/examples/application/php-apache.yaml
  content/id/examples/application/web/web-parallel.yaml
  content/id/examples/application/web/web.yaml
  content/id/examples/pods/pod-configmap-env-var-valueFrom.yaml
  content/id/examples/pods/pod-configmap-envFrom.yaml
  content/id/examples/pods/pod-configmap-volume-specific-key.yaml
  content/id/examples/pods/pod-configmap-volume.yaml
  content/id/examples/pods/pod-multiple-configmap-env-variable.yaml
  content/id/examples/pods/pod-single-configmap-env-variable.yaml
  content/id/examples/pods/pod-with-node-affinity.yaml
  content/id/examples/pods/pod-with-pod-affinity.yaml
  content/id/examples/pods/probe/exec-liveness.yaml
  content/id/examples/pods/probe/http-liveness.yaml
  content/id/examples/pods/probe/tcp-liveness-readiness.yaml
  content/id/examples/pods/topology-spread-constraints/one-constraint-with-nodeaffinity.yaml
  content/id/examples/pods/topology-spread-constraints/one-constraint.yaml
  content/id/examples/pods/topology-spread-constraints/two-constraints.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/id

#39237 Extend APF Observability with logging and response headers
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#39270 [zh] Resync resource-bin-package.md
  content/zh-cn/docs/concepts/scheduling-eviction/resource-bin-packing.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39268 Cleanup node-pressure-eviction.md
  content/en/docs/concepts/scheduling-eviction/node-pressure-eviction.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#39266 [zh] cleanup managing-secret-using-kubectl
  content/zh-cn/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/zh

#39265 [zh] sync /config-and-storage-resources/volume.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/volume.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39269 [zh] Resync pod-overhead.md
  content/zh-cn/docs/concepts/scheduling-eviction/pod-overhead.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39271 Tweak page style for resource-bin-packing.md
  content/en/docs/concepts/scheduling-eviction/resource-bin-packing.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#39272 [zh] Resync scheduler-perf-tuning.md
  content/zh-cn/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39252 [zh] sync downward-api.md
  content/zh-cn/docs/concepts/workloads/pods/downward-api.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39254 [zh-cn]Update ingress.md
  content/zh-cn/docs/concepts/services-networking/ingress.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39240 [zh-cn] Resync install-kubectl-macos.md
  content/zh-cn/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, language/zh

#39239 [zh] Resync kubeadm-config.v1beta2.md
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta2.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#39241 Remove what-next in install-kubectl-macos.md
  content/en/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39262 [zh] sync flow-control.md
  content/zh-cn/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39267 [zh] Cleanup node-pressure-eviction.md
  content/zh-cn/docs/concepts/scheduling-eviction/node-pressure-eviction.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/zh

#39276 [bn] Scale intro file for dev-bn
  content/bn/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/bn

#39281 [zh-cn]Update mutating-webhook-configuration-v1.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/mutating-webhook-configuration-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39278 [zh-cn]Update etcd.md
  content/zh-cn/docs/reference/glossary/etcd.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39260 [id] updated nginx version to follow examples correctly
  content/id/examples/application/deployment-scale.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#39286 Clean up api-server-bypass-risks.md
  content/en/docs/concepts/security/api-server-bypass-risks.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#39274 [zh] Resync scheduling-framework.md
  content/zh-cn/docs/concepts/scheduling-eviction/scheduling-framework.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#39285 [zh] Resync topology-spread-constraints.md
  content/zh-cn/docs/concepts/scheduling-eviction/topology-spread-constraints.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39245 [ru] Replace k8s.gcr.io with registry.k8s.io
  content/ru/docs/concepts/overview/working-with-objects/labels.md
  content/ru/docs/setup/learning-environment/minikube.md
  content/ru/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/ru/docs/tutorials/hello-minikube.md
  content/ru/examples/pods/probe/exec-liveness.yaml
  content/ru/examples/pods/probe/http-liveness.yaml
  content/ru/examples/pods/probe/tcp-liveness-readiness.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ru

#39264 [zh] sync stateful-set-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/stateful-set-v1.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39287 [zh] Resync api-server-bypass-risks.md
  content/zh-cn/docs/concepts/security/api-server-bypass-risks.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39290 [fr] add translation for task "Configure a Pod to Use a PersistentVolume for Storage"
  content/fr/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
  content/fr/examples/pods/storage/pv-claim.yaml
  content/fr/examples/pods/storage/pv-duplicate.yaml
  content/fr/examples/pods/storage/pv-pod.yaml
  content/fr/examples/pods/storage/pv-volume.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/fr

#39289 [zh-cn]Fix delete extra words“制”
  content/zh-cn/docs/concepts/policy/resource-quotas.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39293 Tweak line wrappings in blog sig-instrumentation-spotlight
  content/en/blog/_posts/2023-02-03-sig-instrumentation-spotlight.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#39105 [ja] Translate concepts/scheduling-eviction/pod-priority-preemption/ into Japanese
  content/ja/docs/concepts/scheduling-eviction/pod-priority-preemption.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja

#39247 [ja] Replace k8s.gcr.io with registry.k8s.io
  content/ja/docs/concepts/configuration/manage-resources-containers.md
  content/ja/docs/concepts/configuration/secret.md
  content/ja/docs/concepts/overview/working-with-objects/labels.md
  content/ja/docs/concepts/storage/persistent-volumes.md
  content/ja/docs/concepts/storage/volumes.md
  content/ja/docs/concepts/workloads/controllers/statefulset.md
  content/ja/docs/reference/kubectl/cheatsheet.md
  content/ja/docs/setup/learning-environment/minikube.md
  content/ja/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
  content/ja/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/ja/docs/tasks/debug/debug-application/debug-service.md
  content/ja/docs/tasks/manage-gpus/scheduling-gpus.md
  content/ja/docs/tutorials/hello-minikube.md
  content/ja/docs/tutorials/services/source-ip.md
  content/ja/docs/tutorials/stateful-application/basic-stateful-set.md
  content/ja/examples/admin/cloud/ccm-example.yaml
  content/ja/examples/admin/dns/dns-horizontal-autoscaler.yaml
  content/ja/examples/admin/logging/two-files-counter-pod-agent-sidecar.yaml
  content/ja/examples/admin/sched/pod1.yaml
  content/ja/examples/admin/sched/pod2.yaml
  content/ja/examples/admin/sched/pod3.yaml
  content/ja/examples/application/guestbook/redis-master-deployment.yaml
  content/ja/examples/application/php-apache.yaml
  content/ja/examples/application/web/web-parallel.yaml
  content/ja/examples/application/web/web.yaml
  content/ja/examples/application/zookeeper/zookeeper.yaml
  content/ja/examples/debug/event-exporter.yaml
  content/ja/examples/debug/fluentd-gcp-ds.yaml
  content/ja/examples/debug/node-problem-detector-configmap.yaml
  content/ja/examples/debug/node-problem-detector.yaml
  content/ja/examples/pods/inject/dapi-envars-container.yaml
  content/ja/examples/pods/inject/dapi-envars-pod.yaml
  content/ja/examples/pods/inject/dapi-volume-resources.yaml
  content/ja/examples/pods/inject/dapi-volume.yaml
  content/ja/examples/pods/pod-configmap-env-var-valueFrom.yaml
  content/ja/examples/pods/pod-configmap-envFrom.yaml
  content/ja/examples/pods/pod-configmap-volume-specific-key.yaml
  content/ja/examples/pods/pod-configmap-volume.yaml
  content/ja/examples/pods/pod-multiple-configmap-env-variable.yaml
  content/ja/examples/pods/pod-single-configmap-env-variable.yaml
  content/ja/examples/pods/pod-with-node-affinity.yaml
  content/ja/examples/pods/pod-with-pod-affinity.yaml
  content/ja/examples/pods/probe/exec-liveness.yaml
  content/ja/examples/pods/probe/http-liveness.yaml
  content/ja/examples/pods/probe/tcp-liveness-readiness.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja

#39214 Freeze `k8s.gcr.io` image registry
  content/en/blog/_posts/2023-02-06-k8s-gcr-io-freeze-announcement.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, tide/merge-method-squash, language/en, area/blog

#39277 update blog-meta-link for correct "Overflow"
  layouts/partials/blog-meta-links.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#39118 Clarify QOS class effect
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/concepts/workloads/pods/pod-qos.md
  content/en/docs/reference/glossary/qos-class.md
  content/en/docs/tasks/configure-pod-container/quality-service-pod.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#39305 Specify that subresources excluded from mutating webhook example
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39190 Update hello-minikube.md
  content/en/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#39306 [zh] updated nginx version to follow examples correctly
  content/zh-cn/examples/application/deployment-scale.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39279 [zh-cn]SYNC node-v1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/node-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39299 [zh-cn]SYNC job-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/job-v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39310 [zh] sync hello-minikube.md
  content/zh-cn/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39301 [zh-cn]SYNC kubeadm_init.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#38083 Improve wording around Secrets as environment variables
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/tasks/inject-data-application/distribute-credentials-secure.md
  content/en/examples/pods/inject/secret-pod.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/auth, sig/docs, approved, language/en

#37909 Update the explanation for `kubectl describe pod`.
  content/en/docs/tasks/debug/debug-application/debug-running-pod.md
Labels: cncf-cla: yes, lgtm, sig/docs, approved, language/en

#39318 Reformat storage-classes page
  content/en/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#38833 [ja] brash up expressions of explanation of controllers
  content/ja/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#39317 [zh] Resync ingress-controllers.md
  content/zh-cn/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39315 [zh] Resync multi-tenancy.md
  content/zh-cn/docs/concepts/security/multi-tenancy.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#39316 Fixed the Broken Link for Quality of Service classes for Pods.
  content/en/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#38673 Update privileged pod documentation to reflect GA feature
  content/en/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#39308 Tweak docs about QoS classes
  content/en/docs/concepts/workloads/pods/pod-qos.md
  content/en/docs/reference/glossary/qos-class.md
  content/en/docs/tasks/configure-pod-container/quality-service-pod.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#39302 Fix up k8s.gcr.io freeze blog article
  content/en/blog/_posts/2023-02-06-k8s-gcr-io-freeze-announcement.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en, area/blog

#39168 Convert blog images to SVG for “Consider All Microservices Vulnerable — And Monitor Their Behavior”
  content/en/blog/_posts/2023-01-20-Security-Bahavior-Analysis/Example.png
  content/en/blog/_posts/2023-01-20-Security-Bahavior-Analysis/Microservices.png
  content/en/blog/_posts/2023-01-20-Security-Bahavior-Analysis/index.md
  content/en/blog/_posts/2023-01-20-Security-Bahavior-Analysis/security_behavior_figure_1.svg
  content/en/blog/_posts/2023-01-20-Security-Bahavior-Analysis/security_behavior_figure_2.svg
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, area/blog

#38307 Improve Lease concept
  content/en/docs/concepts/architecture/leases.md
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#39338 [zh] sync /overview/working-with-objects/namespaces.md
  content/zh-cn/docs/concepts/overview/working-with-objects/namespaces.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39332 [zh-cn]SYNC debug-running-pod.md
  content/zh-cn/docs/tasks/debug/debug-application/debug-running-pod.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39307 Added the glossary tooltips to Virtual IPs and Service Proxies
  content/en/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#39080 Mentioned required cosign version for the `--certificate` flag
  content/en/docs/tasks/administer-cluster/verify-signed-artifacts.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39169 updating Pod DNS config example to use documentation IP address
  content/en/docs/concepts/services-networking/dns-pod-service.md
  content/en/examples/service/networking/custom-dns.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#39343 Cleanup page replicaset
  content/en/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#39149 replace docker run for running etcdctl command with just etcdctl
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#39340 [zh]Resync pod-lifecycle.md
  content/zh-cn/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39345 Adjust CSS for Bing search result page
  assets/scss/_custom.scss
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#39344 [zh] Resync admission-controllers.md
  content/zh-cn/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39324 Updated concepts/workloads/pods/_index.html as followup to PR 38673
  content/en/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39331 [zh-cn]Update secret-pod.yaml
  content/zh-cn/examples/pods/inject/secret-pod.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39336 Update job.md
  content/en/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39300 [zh-cn]Update cluster-cidr-v1alpha1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/cluster-cidr-v1alpha1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39342 Remove links to images on gcr on releases/download page
  content/en/releases/download.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, kind/cleanup, language/en, area/release-eng

#39311 Modify a UI menu option in hello-minikube
  content/en/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39319 [zh] Resync storage-classes.md
  content/zh-cn/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#39323 [zh] sync /workloads/pods/_index.md
  content/zh-cn/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#38279 Tweak wording for Service concept
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#39282 Updating directions for testing out kompose
  content/en/docs/tasks/configure-pod-container/translate-compose-kubernetes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#36215 Revert "Updated kubectl completion configuration"
  content/en/docs/tasks/tools/included/optional-kubectl-configs-bash-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39348 Add mengjiao-liu to sig-docs-en-reviews
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#39341 [zh] Cleanup page disruptions
  content/zh-cn/docs/concepts/workloads/pods/disruptions.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/zh

#39355 [zh-cn]SYNC nodes.md
  content/zh-cn/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39356 windows: Correct Pod security context section
  content/en/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39357 Update kubespray.md
  content/fr/docs/setup/custom-cloud/kubespray.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#39349 [zh] sync dns-pod-service.md
  content/zh-cn/docs/concepts/services-networking/dns-pod-service.md
  content/zh-cn/examples/service/networking/custom-dns.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39303 Update download.md for registry.k8s.io
  content/en/releases/download.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#39359 [pt] Create Secret / Fixed the raw data example
  content/pt-br/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#39364 [zh] Resync page statefulset
  content/zh-cn/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39363 [zh] sync /services-networking/service.md
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39362 [zh] Resync daemonset.md
  content/zh-cn/docs/concepts/workloads/controllers/daemonset.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39351 [zh-cn]Update content/zh-cn/_index.html
  content/zh-cn/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39326 Add kinzhi to sig-docs-zh-reviews
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#39280 [zh-cn]SYNC kube-scheduler-config.v1beta2.md
  content/zh-cn/docs/reference/config-api/kube-scheduler-config.v1beta2.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39328 [zh-cn]Update manage-resources-containers.md
  content/zh-cn/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39330 [zh-cn]Update extensible-admission-controllers.md
  content/zh-cn/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#38892 [ja]Add note to ResourceQuota docs
  content/ja/docs/concepts/policy/resource-quotas.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#39283 [ja] updated nginx version to follow examples correctly
  content/ja/examples/application/deployment-scale.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#39374 Fix broken link on Kubernetes Gateway API Graduates to Beta page
  content/en/blog/_posts/2022-07-13-gateway-api-in-beta.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#39366 Fix Anchor Link
  content/en/docs/tutorials/services/source-ip.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39377 [en] fix typo memory-manager.md
  content/en/docs/tasks/administer-cluster/memory-manager.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39369 [zh] Sync small changes in page storage-capacity,storage-limits,volume-snapshot
  content/zh-cn/docs/concepts/storage/storage-capacity.md
  content/zh-cn/docs/concepts/storage/storage-limits.md
  content/zh-cn/docs/concepts/storage/volume-snapshots.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39370 [zh] Fix page services-networking/service
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39298 Add cleanup commands to kubectl Windows install
  content/en/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#39383 [zh] Resync install-kubectl-windows.md
  content/zh-cn/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39384 [zh] Resync memory-manager.md
  content/zh-cn/docs/tasks/administer-cluster/memory-manager.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39382 [zh] sync 2023-02-06-k8s-gcr-io-freeze-announcement.md
  content/zh-cn/blog/_posts/2023-02-06-k8s-gcr-io-freeze-announcement.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh
