Repository kubernetes/website, pull requests merged in 2023-10, with the labels that each got.

#43223 Update apt repo GPG key URL
  content/ko/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#42974 [ja] Update configure-pod-configmap.md
  content/ja/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#43066 [ja] fixes broken link to OWASP Zed Attack proxy
  content/ja/docs/concepts/security/overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#43274 [zh] Remove Link Of AMD for SEV_ES
  content/zh-cn/blog/_posts/2023-07-06-confidential-kubernetes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43091 Remove Case-studies Link and Hyperlink from the bottom of the page
  layouts/shortcodes/blocks/case-studies.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#43282 [zh-cn] sync tasks/run-application/*
  content/zh-cn/docs/tasks/run-application/configure-pdb.md
  content/zh-cn/docs/tasks/run-application/delete-stateful-set.md
  content/zh-cn/docs/tasks/run-application/force-delete-stateful-set-pod.md
  content/zh-cn/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/zh-cn/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/zh-cn/docs/tasks/run-application/run-replicated-stateful-application.md
  content/zh-cn/docs/tasks/run-application/run-single-instance-stateful-application.md
  content/zh-cn/docs/tasks/run-application/run-stateless-application-deployment.md
  content/zh-cn/docs/tasks/run-application/scale-stateful-set.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43287 [zh-cn] sync tasks/network/*
  content/zh-cn/docs/tasks/network/customize-hosts-file-for-pods.md
  content/zh-cn/docs/tasks/network/validate-dual-stack.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43288 [zh] Update kubernetes-api/other-resources files
  content/zh-cn/docs/reference/kubernetes-api/authentication-resources/service-account-v1.md
  content/zh-cn/docs/reference/kubernetes-api/other-resources/_index.md
  content/zh-cn/docs/reference/kubernetes-api/other-resources/validating-admission-policy-binding-list-v1alpha1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43296 Update Steering members following 2023 election cycle
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#43294 Adding SC blog post for 2023 election
  content/en/blog/_posts/2023-10-02-steering-committee-results-2023.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, committee/steering, language/en, area/blog

#43295 Address spelling error around own and manage in SSA Docs
  content/en/docs/reference/using-api/server-side-apply.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43283 Cleanup the networking concepts page
  content/en/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43178 Improved Explanation of Labels and Annotations
  content/en/docs/concepts/overview/working-with-objects/annotations.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43128 Add blog post about CRI-O's latest packaging efforts
  content/en/blog/_posts/2023-10-10-cri-o-community-package-infrastructure.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#43234 Remove some vertical space between lines of text
  content/en/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#43277 Revise etcd task prerequisites to remove playground envs
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43207 [zh-cn] sync kubectl/cheatsheet.md
  content/zh-cn/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43305 Fix typo in new package repos introduction blog
  content/en/blog/_posts/2023-08-15-pkgs-k8s-io-introduction.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#43224 Add windsonsea to sig-docs-en-reviews
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#43289 Fix initialDelaySeconds docs
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/en/examples/pods/probe/tcp-liveness-readiness.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43302 [zh-cn] sync blog: 2023-10-02-steering-committee-results-2023.md
  content/zh-cn/blog/_posts/2023-10-02-steering-committee-results-2023.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43312 Remove mention of Katacoda interactive tutorial
  content/en/docs/tutorials/kubernetes-basics/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43314 Fix typo in 2023 Steering Committee Election Results
  content/en/blog/_posts/2023-10-02-steering-committee-results-2023.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#43313 Fix links in CRI-O packaging blog
  content/en/blog/_posts/2023-10-10-cri-o-community-package-infrastructure.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#43309 [pt] fix configmap-pod CrashLoopBackOff
  content/pt-br/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#43308 Adding and correcting canonical URLs
  content/en/blog/_posts/2023-07-20-sig-cli-spotlight.md
  content/en/blog/_posts/2023-10-02-steering-committee-results-2023.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#43325 [zh] Fix broken link in "API Priority and Fairness" page
  content/zh-cn/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43315 [zh]Fix typo in 2023 Steering Committee Election Results
  content/zh-cn/blog/_posts/2023-10-02-steering-committee-results-2023.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43328 Fix a link in label-annotation-taints page
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43329 [zh] Clean up /kubernetes-api/common-definitions files
  content/zh-cn/docs/reference/kubernetes-api/common-definitions/_index.md
  content/zh-cn/docs/reference/kubernetes-api/common-definitions/delete-options.md
  content/zh-cn/docs/reference/kubernetes-api/common-definitions/label-selector.md
  content/zh-cn/docs/reference/kubernetes-api/common-definitions/list-meta.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43166 Changes to make the docs homepage cards look consistent
  assets/scss/_custom.scss
  layouts/partials/docs/docs-portal-card.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, area/web-development

#43320 content: fr: Fix incorrect letter case for data storage units
  content/fr/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#43250 Ensure all letters in kind are in lowercase
  content/en/docs/tutorials/security/cluster-level-pss.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43266 typo: in system-metrics.md
  content/en/docs/concepts/cluster-administration/system-metrics.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42758 Fix stale info about spread minDomains
  content/en/docs/concepts/scheduling-eviction/topology-spread-constraints.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/scheduling, approved, tide/merge-method-squash, language/en

#42956 Fix & Clarify files secretGenerator
  content/en/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43159 Add SIG Architecture Conformance spotlight interview
  content/en/blog/_posts/2023-10-05-sig-architecture-conformance-spotlight.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#42726 Add a blog on how to bootstrap an air-gapped cluster using kubeadm
  content/en/blog/_posts/2023-10-12-bootstrap-an-air-gapped-cluster-with-kubeadm/airgap-vm.svg
  content/en/blog/_posts/2023-10-12-bootstrap-an-air-gapped-cluster-with-kubeadm/example_production_topology.svg
  content/en/blog/_posts/2023-10-12-bootstrap-an-air-gapped-cluster-with-kubeadm/index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/en, area/blog

#43345 Clean up kubelet-tls-bootstrapping.md
  content/en/docs/reference/access-authn-authz/kubelet-tls-bootstrapping.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#43299 Update outdated jq link
  content/en/blog/_posts/2020-09-03-warnings/index.md
  content/en/blog/_posts/2021-10-18-kpng-specialized-proxiers.md
  content/en/docs/reference/kubectl/cheatsheet.md
  content/en/docs/tasks/administer-cluster/verify-signed-artifacts.md
  content/en/docs/tasks/tls/managing-tls-in-a-cluster.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#43352 [pt] update the range of pod-deletion-cost
  content/pt-br/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#43327 [zh] Resync workloads concepts page
  content/zh-cn/docs/concepts/workloads/_index.md
  content/zh-cn/docs/concepts/workloads/controllers/job.md
  content/zh-cn/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43344 [zh] Sync /access-authn-authz/node.md
  content/zh-cn/docs/reference/access-authn-authz/node.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/zh

#43326 [zh] Resync cluster-administration concepts
  content/zh-cn/docs/concepts/cluster-administration/_index.md
  content/zh-cn/docs/concepts/cluster-administration/networking.md
  content/zh-cn/docs/concepts/cluster-administration/system-traces.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#43354 [zh] sync configure-upgrade-etc kubeadm-certs verify-signed-artifacts
  content/zh-cn/docs/tasks/administer-cluster/configure-upgrade-etcd.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/zh-cn/docs/tasks/administer-cluster/verify-signed-artifacts.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43120 [zh] Sync /command-line-tools-reference/kube-proxy.md
  content/zh-cn/docs/reference/command-line-tools-reference/kube-proxy.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43337 [zh] Clean up kubeadm_init_phase_kubeconfig files
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_admin.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_all.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_controller-manager.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_kubelet.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_scheduler.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/zh

#43318 Add KCSA Certification to Training page
  content/en/training/_index.html
  static/css/training.css
  static/images/training/kubernetes-cksa-white.svg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#43365 [zh] Resync storage concepts pages
  content/zh-cn/docs/concepts/storage/ephemeral-volumes.md
  content/zh-cn/docs/concepts/storage/persistent-volumes.md
  content/zh-cn/docs/concepts/storage/projected-volumes.md
  content/zh-cn/docs/concepts/storage/storage-classes.md
  content/zh-cn/docs/concepts/storage/volume-snapshot-classes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#43373 fix CustomResourceDefinition version is 'apiextensions.k8s.io/v1'
  content/zh-cn/docs/reference/using-api/deprecation-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43375 Update pl localization for main setup index
  content/pl/docs/setup/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl

#43372 [zh] Sync kubelet-tls-bootstrapping.md
  content/zh-cn/docs/reference/access-authn-authz/kubelet-tls-bootstrapping.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43371 [zh] Sync 2023-10-05-sig-architecture-conformance-spotlight.md
  content/zh-cn/blog/_posts/2023-10-05-sig-architecture-conformance-spotlight.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43374 [zh] sync cluster-upgrade kubelet-credential-provider running-cloud-controller
  content/zh-cn/docs/tasks/administer-cluster/cluster-upgrade.md
  content/zh-cn/docs/tasks/administer-cluster/kubelet-credential-provider.md
  content/zh-cn/docs/tasks/administer-cluster/running-cloud-controller.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#43377 Update main Polish index page
  content/pl/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl

#42913 Added instructions for SUSE-based distributions
  content/en/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
  content/en/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43269 Added github repository hyperlink to feedback strings
  data/i18n/en/en.toml
  layouts/partials/feedback.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43300 Update config API reference
  content/en/docs/reference/config-api/apiserver-admission.v1.md
  content/en/docs/reference/config-api/apiserver-audit.v1.md
  content/en/docs/reference/config-api/apiserver-config.v1.md
  content/en/docs/reference/config-api/apiserver-config.v1alpha1.md
  content/en/docs/reference/config-api/apiserver-config.v1beta1.md
  content/en/docs/reference/config-api/apiserver-encryption.v1.md
  content/en/docs/reference/config-api/apiserver-eventratelimit.v1alpha1.md
  content/en/docs/reference/config-api/apiserver-webhookadmission.v1.md
  content/en/docs/reference/config-api/client-authentication.v1.md
  content/en/docs/reference/config-api/client-authentication.v1beta1.md
  content/en/docs/reference/config-api/imagepolicy.v1alpha1.md
  content/en/docs/reference/config-api/kube-controller-manager-config.v1alpha1.md
  content/en/docs/reference/config-api/kube-proxy-config.v1alpha1.md
  content/en/docs/reference/config-api/kube-scheduler-config.v1.md
  content/en/docs/reference/config-api/kube-scheduler-config.v1beta3.md
  content/en/docs/reference/config-api/kubeadm-config.v1beta3.md
  content/en/docs/reference/config-api/kubeadm-config.v1beta4.md
  content/en/docs/reference/config-api/kubeconfig.v1.md
  content/en/docs/reference/config-api/kubelet-config.v1.md
  content/en/docs/reference/config-api/kubelet-config.v1alpha1.md
  content/en/docs/reference/config-api/kubelet-config.v1beta1.md
  content/en/docs/reference/config-api/kubelet-credentialprovider.v1.md
  content/en/docs/reference/config-api/kubelet-credentialprovider.v1alpha1.md
  content/en/docs/reference/config-api/kubelet-credentialprovider.v1beta1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en

#43133 Revise introduction to StatefulSet tutorial
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43185 Fix: secret missing in docker-registry secret command in kubectl-comm…
  static/docs/reference/generated/kubectl/kubectl-commands.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#43110 Fix hyperlinks in Ingress concept
  content/en/docs/concepts/services-networking/ingress.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43021 fix:Mismatch of footer colour at Case-Study pages
  assets/scss/_case-studies.scss
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, area/web-development

#43056 Fix banner image scaling on Case Studies pages
  layouts/case-studies/single.html
  layouts/shortcodes/case-studies/quote.html
  static/css/new-case-studies.css
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, area/web-development

#43117 Revise appearance of kubeweekly subscription form
  layouts/index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#42997 Fix for Label nfd.node.kubernetes.io/node-name
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43367 Update ingress-controllers.md
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43383 [zh] Sync /command-line-tools-reference/kube-scheduler.md
  content/zh-cn/docs/reference/command-line-tools-reference/kube-scheduler.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43290 Add statement for explaining the example image
  content/en/docs/tasks/extend-kubernetes/configure-multiple-schedulers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43227 Document annotation container.apparmor.security.beta.kubernetes.io/
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/docs, approved, tide/merge-method-squash, language/en, sig/security

#43211 Local Preview of Website now works normally on windows
  hugo.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#43243 Revert SVG images and fix typos in memory qos cgroup v2 blog
  content/en/blog/_posts/2023-05-05-memory-qos-cgroups-v2/container-memory-high-best-effort.svg
  content/en/blog/_posts/2023-05-05-memory-qos-cgroups-v2/container-memory-high-limit.svg
  content/en/blog/_posts/2023-05-05-memory-qos-cgroups-v2/container-memory-high-no-limits.svg
  content/en/blog/_posts/2023-05-05-memory-qos-cgroups-v2/container-memory-high.svg
  content/en/blog/_posts/2023-05-05-memory-qos-cgroups-v2/index.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, area/blog

#43191 Use glossary tooltip for CSI
  content/en/docs/concepts/storage/ephemeral-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43088 improve: Update alt attributes for images on the front page
  layouts/shortcodes/blocks/feature.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, area/web-development

#43114 Update kubectl cheat sheet with command to identify Nodes in Ready state
  content/en/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43009 Added, registered aws-lb-security-groups annotation
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, kind/bug, sig/docs, approved, sig/cloud-provider, tide/merge-method-squash, language/en

#43338 fix: link text in glossary cri
  content/en/docs/reference/glossary/container-runtime-interface.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42598 Added Deployment Strategy example in sample deployment
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, sig/apps, language/en

#42981 updated doc for key type and size
  content/en/docs/setup/production-environment/tools/kubeadm/high-availability.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, tide/merge-method-squash, language/en

#42631 Document snag with stringData and server-side apply
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/tasks/configmap-secret/managing-secret-using-config-file.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43390 Document annotation service.kubernetes.io/topology-mode
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/network, approved, tide/merge-method-squash, language/en

#43378 [pt] Updated resources of README.md
  README-pt.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#43395 system-logs: warn about log output changes
  content/en/docs/concepts/cluster-administration/system-logs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42550 Fix Secret capitalization and use code shortcode
  content/en/docs/concepts/configuration/secret.md
  content/en/examples/secret/basicauth-secret.yaml
  content/en/examples/secret/bootstrap-token-secret-base64.yaml
  content/en/examples/secret/bootstrap-token-secret-literal.yaml
  content/en/examples/secret/dockercfg-secret.yaml
  content/en/examples/secret/dotfile-secret.yaml
  content/en/examples/secret/optional-secret.yaml
  content/en/examples/secret/serviceaccount-token-secret.yaml
  content/en/examples/secret/ssh-auth-secret.yaml
  content/en/examples/secret/tls-auth-secret.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#42542 Fix config.json interpretation
  content/en/docs/concepts/containers/images.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#42414 Clean up pages in /releases
  content/en/releases/_index.md
  content/en/releases/download.md
  content/en/releases/notes.md
  content/en/releases/release-managers.md
  content/en/releases/version-skew-policy.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/release, approved, kind/cleanup, language/en, area/release-eng

#42315 Update taint-and-toleration.md with types of taint effects
  content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#42329 added Note for secret in same namespace as the Deployment, Pods
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#42272 Add diagram to Cluster Architecture concept page
  content/en/docs/concepts/architecture/_index.md
  static/images/docs/kubernetes-cluster-architecture.svg
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#42198 Fix explanation in service concept
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#42184 Add an entry in glossary for GVR
  content/en/docs/reference/glossary/group-version-resource.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/blog, area/release-eng

#42131 Add note after restore cmd to specify that data-dir will be (re)created
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: cncf-cla: yes, size/S, lgtm, sig/api-machinery, sig/docs, approved, language/en

#42104 Update connect-applications-service.md
  content/en/docs/tutorials/services/connect-applications-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42126 what's next for network plugin
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42089 Small mistake between sections of the document
  content/en/docs/tasks/administer-cluster/reserve-compute-resources.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#42085 Update connect-applications-service.md
  content/en/docs/tutorials/services/connect-applications-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42051 Fix example errors for CrossNamespacePodAffinity
  content/en/docs/concepts/policy/resource-quotas.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/docs, approved, language/en

#41981 Add blog for PersistentVolume last phase transition time
  content/en/blog/_posts/2023-10-23-pv-last-phase-transtition-time.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#41953 Remove redudant steps from instruction
  content/en/docs/tutorials/services/connect-applications-service.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#41771 Clarify IBM Java and IBM Semeru Runtimes cgroupsV2 support
  content/en/blog/_posts/2022-08-31-cgroupv2-ga.md
  content/en/docs/concepts/architecture/cgroups.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en, area/blog

#41685 Include `initContainers` in list-all-running-container-images.md
  content/en/docs/tasks/access-application-cluster/list-all-running-container-images.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43369 [pl] Updated resources of README.md
  README-pl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl

#41682 Add -subj Command Option.
  content/en/docs/reference/access-authn-authz/certificate-signing-requests.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, sig/docs, approved, language/en, sig/security, triage/accepted

#42054 Document deprecated leader annotation
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/api-machinery, sig/docs, approved, language/en, language/id

#41114 Correct `collection` definition to a list of instances of a resource _type_
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41053 Added secret keyword to kubectl-command.html file
  static/docs/reference/generated/kubectl/kubectl-commands.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#40836 kubectl/jsonpath: add example of escaping termination character
  content/en/docs/reference/kubectl/jsonpath.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#43402 Fixed the reference link for 'secret permissions with default mode'
  content/en/docs/concepts/storage/windows-storage.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43405 [zh] sync list-all-running-container-images reserve-compute-resources managing-tls-in-a-cluster
  content/zh-cn/docs/tasks/access-application-cluster/list-all-running-container-images.md
  content/zh-cn/docs/tasks/administer-cluster/reserve-compute-resources.md
  content/zh-cn/docs/tasks/tls/managing-tls-in-a-cluster.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43408 Remove rapture reference for build admins
  content/en/releases/release-managers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#43394 doc(etcd-maintenance): add reference to etcd-defrag CronJob
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43407 Remove instructions for legacy package repos
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/en/docs/tasks/administer-cluster/kubeadm/upgrading-linux-nodes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#42124 Add note for Linux distros that don't include glibc
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/cluster-lifecycle, sig/docs, sig/release, approved, language/en

#43421 [zh-cn] sync releases/* and training/*
  content/zh-cn/releases/_index.md
  content/zh-cn/releases/download.md
  content/zh-cn/releases/notes.md
  content/zh-cn/releases/release-managers.md
  content/zh-cn/releases/release.md
  content/zh-cn/training/_index.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43420 [zh-cn] sync controllers/deployment.md
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43415 [zh-cn] sync apiserver-config.v1alpha1.md
  content/zh-cn/docs/reference/config-api/apiserver-config.v1alpha1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43419 [zh-cn] sync blog: 2023-05-05-memory-qos-cgroups-v2
  content/zh-cn/blog/_posts/2023-05-05-memory-qos-cgroups-v2/container-memory-high-best-effort.svg
  content/zh-cn/blog/_posts/2023-05-05-memory-qos-cgroups-v2/container-memory-high-limit.svg
  content/zh-cn/blog/_posts/2023-05-05-memory-qos-cgroups-v2/container-memory-high-no-limits.svg
  content/zh-cn/blog/_posts/2023-05-05-memory-qos-cgroups-v2/container-memory-high.svg
  content/zh-cn/blog/_posts/2023-05-05-memory-qos-cgroups-v2/index.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#43425 Clean up /kubeadm/install-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#43409 Replace kubepkg reference with krel templates
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#43426 [zh] update /controllers/deployment.md
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43423 [es] Fix sha256 url missing '/release/' to download kubectl
  content/es/docs/tasks/tools/included/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#43413 [zh-cn] sync configuration/secret
  content/zh-cn/docs/concepts/configuration/secret.md
  content/zh-cn/examples/secret/basicauth-secret.yaml
  content/zh-cn/examples/secret/bootstrap-token-secret-base64.yaml
  content/zh-cn/examples/secret/bootstrap-token-secret-literal.yaml
  content/zh-cn/examples/secret/dockercfg-secret.yaml
  content/zh-cn/examples/secret/dotfile-secret.yaml
  content/zh-cn/examples/secret/optional-secret.yaml
  content/zh-cn/examples/secret/serviceaccount-token-secret.yaml
  content/zh-cn/examples/secret/ssh-auth-secret.yaml
  content/zh-cn/examples/secret/tls-auth-secret.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43414 [zh-cn] sync releases/version-skew-policy.md
  content/zh-cn/releases/version-skew-policy.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43323 content: ko: Fix incorrect letter case for data storage units
  content/ko/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#43404 [zh] Sync connect-applications-service.md
  content/zh-cn/docs/tutorials/services/connect-applications-service.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43023 [es] Add concepts/storage/projected-volumes.md
  content/es/docs/concepts/storage/projected-volumes.md
  content/es/examples/pods/storage/projected-secret-downwardapi-configmap.yaml
  content/es/examples/pods/storage/projected-secrets-nondefault-permission-mode.yaml
  content/es/examples/pods/storage/projected-service-account-token.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/es

#43442 [pt] Fix sha256 url missing '/release/' to download kubectl
  content/pt-br/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#43427 Modify `SchedulerQueueingHints`
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, kind/bug, sig/docs, kind/documentation, approved, tide/merge-method-squash, language/en, triage/accepted

#43416 [zh-cn] sync apiserver-config.v1beta1.md
  content/zh-cn/docs/reference/config-api/apiserver-config.v1beta1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43424 [zh] Sync /kubeadm/install-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43446 [zh] Sync kube-scheduler-config.v1beta3.md
  content/zh-cn/docs/reference/config-api/kube-scheduler-config.v1beta3.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42347 Add a task page for troubleshooting kubectl
  content/en/docs/tasks/debug/debug-cluster/_index.md
  content/en/docs/tasks/debug/debug-cluster/troubleshoot-kubectl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43450 Update pod-scheduling-readiness.md to beta
  content/en/docs/concepts/scheduling-eviction/pod-scheduling-readiness.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43456 [zh] sync kubeadm-upgrad attach-handler-lifecycle-event configure-projected-volume-storage
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/zh-cn/docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-projected-volume-storage.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43342 Fix nits in air-gapped cluster blog article
  content/en/blog/_posts/2023-10-12-bootstrap-an-air-gapped-cluster-with-kubeadm/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#43465 translate profile to ‘方案’ instead of ‘模仿’
  content/zh-cn/docs/reference/config-api/kube-scheduler-config.v1beta3.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43458 Clarify repositories structure in install kubeadm document
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#43457 [zh] Sync /config-api/kubeadm-config.v1beta3.md
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta3.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43459 [zh] Sync change-package-repository.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/upgrading-linux-nodes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43466 [zh] Sync troubleshoot-kubectl.md
  content/zh-cn/docs/tasks/debug/debug-cluster/troubleshoot-kubectl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43468 add a 3rd tile,sync form en version
  content/zh-cn/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43475 Created kubeconfig.v1.md in localized(zn-ch) language.
  content/zh-cn/docs/reference/config-api/kubeconfig.v1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#43488 [zh-cn] sync extend-kubernetes/setup-konnectivity.md
  content/zh-cn/docs/tasks/extend-kubernetes/setup-konnectivity.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43484 [zh] Tweak localization to kubeconfig v1 reference
  content/zh-cn/docs/reference/config-api/kubeconfig.v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#43493 [zh] fix: update deprecated command in code example
  content/zh-cn/docs/tasks/debug/debug-application/get-shell-running-container.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43496 [zh-cn] fix some wording in connect-applications-service.md
  content/zh-cn/docs/tutorials/services/connect-applications-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43500 fix: Missing curl '<ip-addr>' command in ingress-minikube.md document
  content/en/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43485 [zh-cn] sync kubeadm/install-kubeadm.md kubelet-integration.md write-new-topic.md
  content/zh-cn/docs/contribute/style/write-new-topic.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42702 Add eviction thresholds parameters
  content/en/docs/tasks/administer-cluster/kubelet-config-file.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/docs, sig/scheduling, approved, language/en

#42739 Fix stale advice on changing the Container Runtime on a Node
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/migrate-dockershim-dockerd.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43316 Changed "search" to "search this site" on front page
  data/i18n/en/en.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en
