Repository kubernetes/website, pull requests merged in 2023-03, with the labels that each got.

#39718 Add config API for kube-controller-manager configuration
  content/en/docs/reference/_index.md
  content/en/docs/reference/config-api/kube-controller-manager-config.v1alpha1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en

#39719 Fix API reference issue due to js versions
  layouts/_default/cve-feed.json
  layouts/shortcodes/cve-feed.html
  static/docs/reference/generated/kubernetes-api/v1.25/index.html
  static/docs/reference/generated/kubernetes-api/v1.25/js/navData.js
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved

#39717 Add volume.beta.kubernetes.io/storage-class annotation
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#39733 [id] Add externalSetMarkChain to portmap config
  content/id/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#39702 [zh] resync pages in reference
  content/zh-cn/docs/reference/access-authn-authz/_index.md
  content/zh-cn/docs/reference/access-authn-authz/admission-controllers.md
  content/zh-cn/docs/reference/access-authn-authz/kubelet-tls-bootstrapping.md
  content/zh-cn/docs/reference/glossary/service.md
  content/zh-cn/docs/reference/kubectl/cheatsheet.md
  content/zh-cn/docs/reference/kubectl/docker-cli-to-kubectl.md
  content/zh-cn/docs/reference/using-api/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#39731 Update registry.k8s.io announcement article
  content/en/blog/_posts/2022-11-28-registry-k8s-io-change.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#39667 [zh] resync configure-pod-configmap
  content/zh-cn/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#39325 [bn] Localisation for deploy-intro
  content/bn/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39631 [fr] add french translation for task inject-data-application/distribute-credentials-secure.md
  content/fr/docs/tasks/inject-data-application/distribute-credentials-secure.md
  content/fr/examples/pods/inject/pod-multiple-secret-env-variable.yaml
  content/fr/examples/pods/inject/pod-secret-envFrom.yaml
  content/fr/examples/pods/inject/pod-single-secret-env-variable.yaml
  content/fr/examples/pods/inject/secret-envars-pod.yaml
  content/fr/examples/pods/inject/secret-pod.yaml
  content/fr/examples/pods/inject/secret.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/fr

#39391 [bn] Localization for explore
  content/bn/docs/tutorials/kubernetes-basics/explore/_index.md
  content/bn/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39639 [zh-cn]sync blog 2022-12-16-non-graceful-node-shutdown-to-beta.md
  content/zh-cn/blog/_posts/2022-12-16-non-graceful-node-shutdown-to-beta.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#39765 [pt] Add externalSetMarkChain to portmap config
  content/pt-br/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#37587 Revise tutorials for Pod Security Admission
  content/en/docs/tutorials/security/cluster-level-pss.md
  content/en/docs/tutorials/security/ns-level-pss.md
  content/en/examples/security/example-baseline-pod.yaml
  content/en/examples/security/kind-with-cluster-level-baseline-pod-security.sh
  content/en/examples/security/kind-with-namespace-level-baseline-pod-security.sh
Labels: cncf-cla: yes, size/L, lgtm, sig/auth, sig/docs, approved, language/en

#39658 [es] Fix homebrew prefix error in bash-completion of kubectl
  content/es/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#39581 [es] improvement: kubectl install on windows verify command
  content/es/docs/tasks/tools/included/install-kubectl-windows.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#39740 removed ControllerManagerLeaderMigration in v1.27
  content/en/docs/reference/command-line-tools-reference/feature-gates-removed.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/tasks/administer-cluster/controller-manager-leader-migration.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#39668 Localized content/bn/docs/tasks/tools/included/verify-kubectl.md
  content/bn/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39763 [bn] Localized content/bn/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/bn/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39762 [bn] Localized content/bn/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/bn/docs/tutorials/kubernetes-basics/expose/expose-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39795 [fr] Change shell to console for code snippet
  content/fr/docs/tasks/configure-pod-container/configure-volume-storage.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#39778 explore-intro file added
  content/bn/docs/tutorials/kubernetes-basics/explore/explore-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/bn

#39785 [bn] Localizes content/bn/docs/tasks/tools/install-kubectl-windows.md
  content/bn/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39804 [zh-cn]Fix close parenthesis
  content/zh-cn/docs/concepts/workloads/pods/disruptions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39769 Remove duplicate "the" in admission-controllers.md
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39808 [bn] Localization for Scale _index.md
  content/bn/docs/tutorials/kubernetes-basics/scale/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/bn

#39787 Backport cve-feed shortcode to `dev-1.26-ko.1` branch
  data/i18n/en/en.toml
  layouts/_default/cve-feed.json
  layouts/shortcodes/cve-feed.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#39758 Fix grammar in check-if-dockershim-removal-affects-you page
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-removal-affects-you.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39754 Fix phrasing.
  data/announcements/scheduled.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved

#39806 add - before an unordered list in configure-pvc page
  content/en/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39805 [zh] sync configure-persistent-volume-storage.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39678 [en] Update outdated update-readme-doc
  README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#39723 corrected reference link for ComponentConfig.
  content/en/blog/_posts/2018-12-04-kubeadm-ga-release.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#39826 doc: graduate matchLabelKeys in podTopologySpread to beta
  content/en/docs/concepts/scheduling-eviction/topology-spread-constraints.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#39768 Fix the description of Service External IPs to match the YAML example
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39757 Removed duplicate word
  content/en/docs/concepts/workloads/pods/pod-qos.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39780 [es] Change shell to console for code snippet
  content/es/docs/tasks/configure-pod-container/configure-volume-storage.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#39830 [fr] Replace old link with new link in deploying the dashboard ui doc
  content/fr/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#39847 [pt] Change shell to console for code snippet
  content/pt-br/docs/tasks/configure-pod-container/configure-volume-storage.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#39759 Add blog post about forensic container analysis
  content/en/blog/_posts/2023-03-10-forensic-container-analysis/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#39730 [zh-cn]sync blog 2022-09-07-iptables-chains.md
  content/zh-cn/blog/_posts/2022-09-07-iptables-chains.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#39764 Added info for <codenew> shortcode in style guide
  content/en/docs/contribute/style/hugo-shortcodes/index.md
  content/en/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#39771 [ja] Update page weights under content/ja/docs/reference.
  content/ja/docs/reference/command-line-tools-reference/_index.md
  content/ja/docs/reference/kubectl/_index.md
  content/ja/docs/reference/kubectl/cheatsheet.md
  content/ja/docs/reference/kubectl/conventions.md
  content/ja/docs/reference/kubectl/jsonpath.md
  content/ja/docs/reference/scheduling/_index.md
  content/ja/docs/reference/scheduling/policies.md
  content/ja/docs/reference/setup-tools/_index.md
  content/ja/docs/reference/using-api/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#39650 [ja] Translate title and linkTitle for Blogs page
  content/ja/blog/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#39528 [ja] Change paths of debug pages (case 3)
  content/ja/docs/concepts/cluster-administration/cluster-administration-overview.md
  content/ja/docs/concepts/cluster-administration/manage-deployment.md
  content/ja/docs/concepts/configuration/manage-resources-containers.md
  content/ja/docs/reference/command-line-tools-reference/feature-gates.md
  content/ja/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md
  content/ja/docs/tasks/debug/debug-cluster/local-debugging.md
  content/ja/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#39857 Update the patch releases calendar with February patch releases
  content/en/releases/patch-releases.md
  data/releases/eol.yaml
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#39660 Localized content/bn/docs/tasks/tools/included/kubectl-whats-next.md
  content/bn/docs/tasks/tools/included/kubectl-whats-next.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39852 [bn] localization for scaling interactive
  content/bn/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39821 [id] Change shell to console for code snippet
  content/id/docs/tasks/configure-pod-container/configure-volume-storage.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#39839 [bn] localization content/bn/docs/setup/learning-environment/_index.md added
  content/bn/docs/setup/learning-environment/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39807 [zh] sync control-plane-node-communication.md
  content/zh-cn/docs/concepts/architecture/control-plane-node-communication.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39833 [zh] sync organize-cluster-access-kubeconfig.md
  content/zh-cn/docs/concepts/configuration/organize-cluster-access-kubeconfig.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#39773 Doc for Beta feature PodSchedulingReadiness
  content/en/docs/concepts/scheduling-eviction/pod-scheduling-readiness.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/examples/pods/pod-with-scheduling-gates.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39813 Update cron-jobs.md
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39791 adjust docs for feature maturity
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/network, language/en

#39799 [zh] sync pages in concepts/workloads/controllers/
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
  content/zh-cn/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#39801 [zh] sync page ns-level-pss
  content/zh-cn/docs/tutorials/security/ns-level-pss.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/zh

#39226 [hi] Update Dates for Kubecon 2023
  content/hi/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#39651 [hi] improvement: kubectl install on windows verify command
  content/hi/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#39874 Replace k8s.gcr.io references with registry.k8s.io for es
  content/es/docs/concepts/configuration/manage-resources-containers.md
  content/es/docs/concepts/configuration/secret.md
  content/es/docs/concepts/overview/working-with-objects/labels.md
  content/es/docs/concepts/storage/volumes.md
  content/es/docs/concepts/workloads/controllers/statefulset.md
  content/es/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/es

#39165 [pt-br] add docs/reference/issues-security/issues.md
  content/pt-br/docs/reference/issues-security/issues.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt

#39877 [pt-br] Add blog/_posts/2023-02-06-k8s-gcr-io-freeze-announcement.md
  content/pt-br/blog/_posts/2023-02-06-k8s-gcr-io-freeze-announcement.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pt

#39878 Replace k8s.gcr.io references with registry.k8s.io for fr
  content/fr/docs/concepts/configuration/secret.md
  content/fr/docs/concepts/storage/persistent-volumes.md
  content/fr/docs/concepts/storage/volumes.md
  content/fr/docs/concepts/workloads/controllers/statefulset.md
  content/fr/docs/concepts/workloads/pods/pod-lifecycle.md
  content/fr/docs/contribute/generate-ref-docs/federation-api.md
  content/fr/docs/reference/kubectl/cheatsheet.md
  content/fr/docs/reference/setup-tools/kubeadm/generated/kubeadm_init.md
  content/fr/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/fr/docs/setup/learning-environment/minikube.md
  content/fr/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/fr/docs/tasks/configure-pod-container/translate-compose-kubernetes.md
  content/fr/docs/tutorials/hello-minikube.md
  content/fr/examples/admin/cloud/ccm-example.yaml
  content/fr/examples/admin/logging/two-files-counter-pod-agent-sidecar.yaml
  content/fr/examples/application/guestbook/redis-master-deployment.yaml
  content/fr/examples/pods/pod-configmap-env-var-valueFrom.yaml
  content/fr/examples/pods/pod-configmap-envFrom.yaml
  content/fr/examples/pods/pod-configmap-volume-specific-key.yaml
  content/fr/examples/pods/pod-configmap-volume.yaml
  content/fr/examples/pods/pod-multiple-configmap-env-variable.yaml
  content/fr/examples/pods/pod-single-configmap-env-variable.yaml
  content/fr/examples/pods/probe/exec-liveness.yaml
  content/fr/examples/pods/probe/http-liveness.yaml
  content/fr/examples/pods/probe/tcp-liveness-readiness.yaml
  content/fr/examples/pods/topology-spread-constraints/one-constraint-with-nodeaffinity.yaml
  content/fr/examples/pods/topology-spread-constraints/one-constraint.yaml
  content/fr/examples/pods/topology-spread-constraints/two-constraints.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/fr

#39885 [bn] Localization for Deploy interactive
  content/bn/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39745 Update endpoint-slices.md
  content/en/docs/concepts/services-networking/endpoint-slices.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39781 fix docs: update user-namespaces.md for English usage
  content/en/docs/concepts/workloads/pods/user-namespaces.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39642 Add reference page for CEL in Kubernetes
  content/en/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/L, lgtm, sig/api-machinery, sig/docs, approved, language/en

#39893 [bn] Localizes content/bn/docs/tasks/tools/install-kubectl-macos.md
  content/bn/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39896 [bn] Localizes content/bn/docs/tasks/tools/included/optional-kubectl-configs-zsh.md
  content/bn/docs/tasks/tools/included/optional-kubectl-configs-zsh.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39842 Add link to checkpointing follow-up article
  content/en/blog/_posts/2022-12-05-forensic-container-checkpointing/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#39849 [ja] Remove content/ja/docs/reference/kubectl/overview.md
  content/ja/docs/concepts/cluster-administration/manage-deployment.md
  content/ja/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/ja/docs/concepts/overview/kubernetes-api.md
  content/ja/docs/reference/_index.md
  content/ja/docs/reference/glossary/kubectl.md
  content/ja/docs/reference/kubectl/_index.md
  content/ja/docs/reference/kubectl/cheatsheet.md
  content/ja/docs/reference/kubectl/overview.md
  content/ja/docs/setup/learning-environment/minikube.md
  content/ja/docs/setup/production-environment/tools/kops.md
  content/ja/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/ja/docs/setup/production-environment/windows/user-guide-windows-containers.md
  content/ja/docs/tasks/tools/install-kubectl.md
  content/ja/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/ja

#39484 [ja] Set heading IDs in daemonset.md and assign-pods-nodes.md
  content/ja/docs/concepts/workloads/controllers/daemonset.md
  content/ja/docs/tasks/configure-pod-container/assign-pods-nodes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja

#39869 [ja] Update page weights under 5 sections of concepts
  content/ja/docs/concepts/architecture/cri.md
  content/ja/docs/concepts/architecture/garbage-collection.md
  content/ja/docs/concepts/cluster-administration/addons.md
  content/ja/docs/concepts/cluster-administration/proxies.md
  content/ja/docs/concepts/cluster-administration/system-logs.md
  content/ja/docs/concepts/containers/container-lifecycle-hooks.md
  content/ja/docs/concepts/containers/runtime-class.md
  content/ja/docs/concepts/extend-kubernetes/api-extension/_index.md
  content/ja/docs/concepts/policy/resource-quotas.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#39898 Reference nvidia gpu feature discovery
  content/en/docs/tasks/manage-gpus/scheduling-gpus.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#39899 add kubectl.kubernetes.io/default-logs-container deprecated information
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#39895 Registry change: what you need to know blog article
  content/en/blog/_posts/2023-03-10-image-registry-change.md
  static/_redirects
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#39914 Reorder registry blog sections
  content/en/blog/_posts/2023-03-10-image-registry-change.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#39915 preempt registry freeze announcement with redirect announcement
  data/announcements/scheduled.yaml
Labels: cncf-cla: yes, size/S, lgtm, approved

#39918 add suggested fixes to registry redirect announcement
  data/announcements/scheduled.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#39902 [bn] Localization for Cluster interactive
  content/bn/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#39811 Fix Bengali localization strings
  data/i18n/bn/bn.toml
  i18n/bn.toml
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39916 [bn] Localizes content/bn/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
  content/bn/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39879 [pt-br] Update reference/kubectl/cheatsheet.md
  content/pt-br/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#39884 [pt-br] Replace k8s.gcr.io references with registry.k8s.io
  content/pt-br/docs/concepts/configuration/secret.md
  content/pt-br/docs/concepts/storage/persistent-volumes.md
  content/pt-br/docs/concepts/storage/volumes.md
  content/pt-br/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_list.md
  content/pt-br/docs/reference/setup-tools/kubeadm/generated/kubeadm_init.md
  content/pt-br/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/pt-br/docs/tutorials/hello-minikube.md
  content/pt-br/examples/admin/logging/two-files-counter-pod-agent-sidecar.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pt

#39883 Replace k8s.gcr.io references with registry.k8s.io for it
  content/it/docs/tutorials/hello-minikube.md
  content/it/examples/admin/logging/two-files-counter-pod-agent-sidecar.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/it

#39626 [pt-br] Update docs/tasks/configure-pod-container/enforce-standards-admission-controller.md
  content/pt-br/docs/tasks/configure-pod-container/enforce-standards-admission-controller.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pt

#39882 [zh-cn]sync services-networking/service.md
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39937 [bn] Localize content/bn/docs/tasks/tools/included/optional-kubectl-configs-bash-linux.md
  content/bn/docs/tasks/tools/included/optional-kubectl-configs-bash-linux.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39945 [zh-cn] Shortcode fixes
  content/zh-cn/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates-removed.md
  content/zh-cn/docs/tasks/administer-cluster/encrypt-data.md
  content/zh-cn/docs/tutorials/stateful-application/cassandra.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39936 fixed the outdated link
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39209 Fix reference to file name in generated configMap
  content/en/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39940 [en] Shortcode fixes
  content/en/blog/_posts/2021-04-20-annotating-k8s-for-humans.md
  content/en/docs/reference/command-line-tools-reference/feature-gates-removed.md
  content/en/docs/reference/using-api/cel.md
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#39925 [id] Removed spec.Replicas
  content/id/examples/application/php-apache.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#39949 [zh] sync a link with en
  content/zh-cn/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39947 [hi] Shortcode fixes
  content/hi/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#39952 Tweak line wrappings in blog: Security-Bahavior-Analysis
  content/en/blog/_posts/2023-01-20-Security-Bahavior-Analysis/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#39927 [PT-BR] Add content/pt-br/blog/_posts/2023-03-10-image-registry-change.md
  content/pt-br/blog/_posts/2023-03-10-image-registry-change.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt

#39950 [zh] sync kustomization.md
  content/zh-cn/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39951 Quote a variable for readability
  content/en/docs/concepts/policy/resource-quotas.md
  content/zh-cn/docs/concepts/policy/resource-quotas.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, language/zh

#39964 Add windonsea to sig-docs-zh-owners
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#39886 update-hugo-hyper-link
  README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#39965 Add short URL for https://k8s.io/image-registry-change
  static/_redirects
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#39967 [pt-br] Update blog/_posts/2023-03-10-image-registry-change.md
  content/pt-br/blog/_posts/2023-03-10-image-registry-change.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt

#39938 [bn] Localizes content/bn/docs/tasks/tools/install-kubectl-linux.md
  content/bn/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#39944 [uk] Shortcode fixes
  content/uk/docs/setup/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk

#39825 [zh-cn] Rephrase a sentence for fluency
  content/zh-cn/docs/concepts/workloads/pods/disruptions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39513 CVE feed: add RSS feed format
  content/en/docs/reference/issues-security/official-cve-feed.md
  layouts/_default/cve-feed.rss.xml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, sig/security

#39941 [id] Shortcode fixes
  content/id/docs/concepts/cluster-administration/flow-control.md
  content/id/docs/tasks/administer-cluster/sysctl-cluster.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#39803 [zh] sync page cluster-level-pss
  content/zh-cn/docs/tutorials/security/cluster-level-pss.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, language/zh

#39939 [de] Shortcode fixes
  content/de/docs/setup/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#39868 [de]Replace k8s.gcr.io references with registry.k8s.io
  content/de/docs/setup/minikube.md
  content/de/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#39909 German translation of the blog post
  content/de/blog/_posts/2023-02-06-k8s-gcr-io-freeze-announcement.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/de

#39957 [ru]Replace k8s.gcr.io references with registry.k8s.io
  content/ru/examples/admin/logging/two-files-counter-pod-agent-sidecar.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#39997 [zh] sync assign-pod-node.md
  content/zh-cn/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#39783 [ES] Add content/es/docs/concepts/overview/working-with-objects/finalizers
  content/es/docs/concepts/overview/working-with-objects/finalizers.md
  content/es/docs/reference/glossary/finalizer.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/es

#40002 [fr]Remove on-premises-vm section
  content/fr/docs/setup/production-environment/on-premises-vm/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/fr

#40005 [zh] Removed spec.Replicas
  content/zh-cn/examples/application/php-apache.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#39996 Tweak line wrappings in run-application
  content/en/docs/tasks/run-application/configure-pdb.md
  content/en/docs/tasks/run-application/delete-stateful-set.md
  content/en/docs/tasks/run-application/scale-stateful-set.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#39994 [zh] sync run-replicated-stateful-application.md
  content/zh-cn/docs/tasks/run-application/run-replicated-stateful-application.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#39995 [zh] sync access-api-from-pod, force-delete-stateful-set-pod, and index
  content/zh-cn/docs/tasks/run-application/_index.md
  content/zh-cn/docs/tasks/run-application/access-api-from-pod.md
  content/zh-cn/docs/tasks/run-application/force-delete-stateful-set-pod.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#39989 [zh] sync scale-stateful-set, delete-stateful-set, and configure-pdb
  content/zh-cn/docs/tasks/run-application/configure-pdb.md
  content/zh-cn/docs/tasks/run-application/delete-stateful-set.md
  content/zh-cn/docs/tasks/run-application/scale-stateful-set.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#40007 [zh]sync-pod-priority-preemption.md
  content/zh-cn/docs/concepts/scheduling-eviction/pod-priority-preemption.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#39917 [zh] sync /reference/using-api/cel.md
  content/zh-cn/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#39980 [zh] sync create-hostprocess-pod.md
  content/zh-cn/docs/tasks/configure-pod-container/create-hostprocess-pod.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#40015 Fix typos in cel.md
  content/en/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#36791 Document behavior of endpoints with the feature EndpointSliceTerminatingCondition
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/tutorials/services/pods-and-endpoint-termination-flow.md
  content/en/examples/service/pod-with-graceful-termination.yaml
Labels: cncf-cla: yes, size/L, lgtm, kind/feature, sig/docs, sig/network, approved, tide/merge-method-squash, language/en

#39573 [zh-cn]SYNC generate-ref-docs/_index.md
  content/zh-cn/docs/contribute/generate-ref-docs/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#40021 [fr] Remove service catalog
  content/fr/docs/tasks/service-catalog/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/fr

#38800 [ja]Update /content/ja/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ja/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/ja/examples/pods/pod-with-affinity-anti-affinity.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja

#39891 Fix bad typo and add some clarifications
  content/en/docs/tasks/extend-kubernetes/socks5-proxy-access-api.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#39633 rename config.toml to hugo.toml
  hugo.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#40045 [zh-cn] sync concepts files of task-5
  content/zh-cn/docs/concepts/architecture/cgroups.md
  content/zh-cn/docs/concepts/cluster-administration/addons.md
  content/zh-cn/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#40046 [zh-cn] sync concepts files of workloads
  content/zh-cn/docs/concepts/workloads/_index.md
  content/zh-cn/docs/concepts/workloads/controllers/cron-jobs.md
  content/zh-cn/docs/concepts/workloads/controllers/job.md
  content/zh-cn/docs/concepts/workloads/pods/_index.md
  content/zh-cn/docs/concepts/workloads/pods/user-namespaces.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#40016 [zh] sync endpoint-slices,persistent-volumes,topology-aware-hints
  content/zh-cn/docs/concepts/services-networking/endpoint-slices.md
  content/zh-cn/docs/concepts/services-networking/topology-aware-hints.md
  content/zh-cn/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#40077 [zh]Reference files to sync task 1
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/cluster-role-binding-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/cluster-role-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/role-binding-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/role-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/priority-class-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/replica-set-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/replication-controller-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#36782 [ru] Add RU localization for system-logs.md
  content/ru/docs/concepts/cluster-administration/system-logs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ru

#34803 [ru] Translate docs/concepts/containers/ - RU K8s docs
  content/ru/docs/concepts/architecture/cri.md
  content/ru/docs/concepts/containers/_index.md
  content/ru/docs/concepts/containers/container-environment.md
  content/ru/docs/concepts/containers/container-lifecycle-hooks.md
  content/ru/docs/concepts/containers/images.md
  content/ru/docs/concepts/containers/runtime-class.md
  content/ru/docs/reference/glossary/container-runtime-interface.md
  content/ru/docs/reference/glossary/container-runtime.md
  content/ru/docs/reference/glossary/namespace.md
  content/ru/docs/reference/glossary/secret.md
  content/ru/docs/reference/glossary/service-account.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/ru

#39943 [ko] Shortcode fixes
  content/ko/docs/concepts/architecture/control-plane-node-communication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#40078 [zh-cn] sync task files of task-8
  content/zh-cn/docs/tasks/configure-pod-container/_index.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-pods-nodes.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-runasusername.md
  content/zh-cn/docs/tasks/configure-pod-container/share-process-namespace.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#40076 [zh-cn] sync task files of task-7
  content/zh-cn/docs/tasks/configure-pod-container/enforce-standards-admission-controller.md
  content/zh-cn/docs/tasks/configure-pod-container/enforce-standards-namespace-labels.md
  content/zh-cn/docs/tasks/configure-pod-container/extended-resource.md
  content/zh-cn/docs/tasks/configure-pod-container/security-context.md
  content/zh-cn/docs/tasks/configure-pod-container/static-pod.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#40082 Fix broken link in blog: k8s.gcr.io Redirect to registry.k8s.io - What You Need to Know
  content/en/blog/_posts/2023-03-10-image-registry-change.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#40050 [zh] 连续-->持续
  content/zh-cn/docs/concepts/overview/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#40043 [zh-cn] sync tutorials files
  content/zh-cn/docs/tutorials/_index.md
  content/zh-cn/docs/tutorials/hello-minikube.md
  content/zh-cn/docs/tutorials/stateful-application/zookeeper.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#40075 [zh] sync scheduling-gpus.md
  content/zh-cn/docs/tasks/manage-gpus/scheduling-gpus.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#40073 Fix a minor typo in scheduling-gpus.md
  content/en/docs/tasks/manage-gpus/scheduling-gpus.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#40083 [zh-cn] sync storage-classes.md in concepts
  content/zh-cn/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#40059 Added v1.27 deprecations and removals blog
  content/en/blog/_posts/2023-03-17-kubernetes-1.27-deprecations-and-removals.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#40022 [de] Remove service catalog
  content/de/docs/tasks/service-catalog/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/de

#40090 [zh-cn] sync distribute-credentials-secure.md
  content/zh-cn/docs/tasks/inject-data-application/distribute-credentials-secure.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#40086 dynamic resource allocation: update for 1.27
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#40100 Add March patch releases to the releases calendar
  content/en/releases/patch-releases.md
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng
