Repository kubernetes/website, pull requests merged in 2023-07, with the labels that each got.

#40975 Fix 2017 autoscaling blog article
  content/en/blog/_posts/2017-11-00-Autoscaling-In-Kubernetes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#41797 Fixed typo for taint-and-toleration.md
  content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#39569 [hi] added content/hi/docs/concepts/_index.md
  content/hi/docs/concepts/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi

#41195 Document detail about headless Services
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/network, approved, language/en

#41816 [zh] sync /access-authn-authz/abac.md
  content/zh-cn/docs/reference/access-authn-authz/abac.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41714 setup-ha-etcd-with-kubeadm.md: add missing authn/authz fields
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, kind/cleanup, language/en

#41815 [zh] sync admission-controllers.md and configure-liveness-readiness-startup-probes.md
  content/zh-cn/docs/reference/access-authn-authz/admission-controllers.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41822 [zh-cn] sync services-networking/service.md
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41833 [zh] sync concepts/overview/working-with-objects/namespaces.md
  content/zh-cn/docs/concepts/overview/working-with-objects/namespaces.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41832 [zh-cn] sync taint-and-toleration images
  content/zh-cn/docs/concepts/containers/images.md
  content/zh-cn/docs/concepts/scheduling-eviction/taint-and-toleration.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41829 [zh] Update outdated version in `install-kubeadm` and `kubeadm-init`
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41794 [zh] sync tutorial: /explore/explore-intro.html
  content/zh-cn/docs/tutorials/kubernetes-basics/explore/explore-intro.html
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#41842 Link from Minikube tutorial to "Deploy an App" tutorial page
  content/en/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41847 fix broken link[avoiding-collisions]
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41828 [fr] Fix link to labs.play-with-k8s.com
  content/fr/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#41804 node: fix release state for podresources API
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#41850 Update statefulset pod name docs stating its a label
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, sig/apps, language/en

#41693 Move Feature Gate AdvancedAuditing to Feature Gates (removed) Page
  content/en/docs/reference/command-line-tools-reference/feature-gates-removed.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, kind/bug, sig/docs, approved, tide/merge-method-squash, language/en

#41862 [zh] sync /docs/test.md
  content/zh-cn/docs/test.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41852 [zh-cn] sync device-plugins service feature-gates
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/zh-cn/docs/concepts/services-networking/service.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41863 polish text and indentations in test.md
  content/en/docs/test.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#41870 [zh-cn] sync service-accounts-admin horizontal-pod-autoscale
  content/zh-cn/docs/reference/access-authn-authz/service-accounts-admin.md
  content/zh-cn/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41845 Fix typo words in pod describe
  content/en/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41879 Add links from deprecated labels to their replacements
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41893 Fix broken link to kube-proxy details page
  content/en/docs/tutorials/services/connect-applications-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41300 Document steps for deleting kubectl on macOS
  content/en/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#41297 Clarify prestop hook invocation condition
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#41395 Improve sys logs page by clarifying options dropped
  content/en/docs/concepts/cluster-administration/logging.md
  content/en/docs/concepts/cluster-administration/system-logs.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#41157 Fix a shell command in examples of "Init Containers" page
  content/en/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41898 [es] Fix labs.play-with-k8s.com
  content/es/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#41574 Update example YAML in encryption-at-rest topic
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#41820 Add --rm for temporary pod command
  content/en/docs/tutorials/services/connect-applications-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41843 docs(storage-classes): add section on default `StorageClass`
  content/en/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#41902 [zh-cn] sync /pods/_index init-container
  content/zh-cn/docs/concepts/workloads/pods/_index.md
  content/zh-cn/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41907 [fr] translate task run-application/horizontal-pod-autoscale-walkthrough.md
  content/fr/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/fr/examples/application/php-apache.yaml
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/fr

#41900 [zh] sync logging.md, system-logs.md, and test.md
  content/zh-cn/docs/concepts/cluster-administration/logging.md
  content/zh-cn/docs/concepts/cluster-administration/system-logs.md
  content/zh-cn/docs/test.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41899 [zh] sync /workloads/pods/pod-lifecycle.md
  content/zh-cn/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41912 Update ephemeral-volumes.md
  content/en/docs/concepts/storage/ephemeral-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41505 [zh] sync docs/reference/labels-annotations-taints/_index.md
  content/zh-cn/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#41901 [zh] sync encrypt-data.md and install-kubectl-macos.md
  content/zh-cn/docs/tasks/administer-cluster/encrypt-data.md
  content/zh-cn/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41909 Fix broken link for IPv4/IPv6 dual-stack (Windows)
  content/en/docs/concepts/services-networking/windows-networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41906 content: Clarify version requirements for userns and other minor fixes
  content/en/docs/concepts/workloads/pods/user-namespaces.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/docs, approved, language/en

#41938 Pods - rewrite note on container runtimes
  content/en/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41800 [pt-br] Add docs/reference/access-authn-authz/abac.md
  content/pt-br/docs/reference/access-authn-authz/abac.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#41807 [bn] localization content/bn/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/bn/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#41944 [zh] sync concepts/services-networking/windows-networking
  content/zh-cn/docs/concepts/services-networking/windows-networking.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#40437 Fix wrong code highlighting for kubectl install on Linux
  content/en/docs/tasks/tools/install-kubectl-linux.md
  content/en/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#41949 [pt] Fix labs.play-with-k8s.com
  content/pt-br/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#41070 [pt-br] Update docs/concepts/overview/_index.md
  content/pt-br/docs/concepts/overview/_index.md
  content/pt-br/docs/concepts/overview/what-is-kubernetes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt

#41952 [zh] sync setup/production-environment/tools/kubeadm/setup-ha-etcd-wi…
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#41927 Fix wrong feature state
  content/en/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#41942 Tweak line wrappings in kops, kubespray, and dual-stack-support
  content/en/docs/setup/production-environment/tools/kops.md
  content/en/docs/setup/production-environment/tools/kubeadm/dual-stack-support.md
  content/en/docs/setup/production-environment/tools/kubespray.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#41958 [bn] Localization content/bn/docs/setup/production-environment/_index.md
  content/bn/docs/setup/production-environment/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/bn

#41941 Fix typos in labels-annotations-taints
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#41554 modify heading levels in blog: efficient-selinux-relabeling-beta
  content/en/blog/_posts/2023-04-18-efficient-selinux-relabeling-beta.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#41961 Fix bullets in validating-admission-policy
  content/en/docs/reference/access-authn-authz/validating-admission-policy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#41947 [pt-br] Update docs/concepts/services-networking/ingress.md
  content/pt-br/docs/concepts/services-networking/ingress.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#41966 Fix feature state for MixedProtocolLBService
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41922 update kind install prereqs to include podman
  content/en/docs/tasks/tools/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#40131 Add glossary entry for probe
  content/en/docs/reference/glossary/probe.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/docs, approved, tide/merge-method-squash, language/en

#39961 Improvement for the security docs
  content/en/docs/tutorials/security/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41976 [zh] fix missing heading
  content/zh-cn/docs/tasks/debug/debug-cluster/audit.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41978 Fix incorrect markdown bold syntax in blog 2023-06-09-dl-adopt-cdn.md
  content/zh-cn/blog/_posts/2023-06-09-dl-adopt-cdn.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41975 Delay July 2023 patch releases for July 19
  content/en/releases/patch-releases.md
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#41889 [zh] sync blog: 2023-06-29-container-image-signature-verification
  content/zh-cn/blog/_posts/2023-06-29-container-image-signature-verification/flow.mmd
  content/zh-cn/blog/_posts/2023-06-29-container-image-signature-verification/flow.svg
  content/zh-cn/blog/_posts/2023-06-29-container-image-signature-verification/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41920 [zh-cn] sync ephemeral-volumes storage-classes connect-applications-service
  content/zh-cn/docs/concepts/storage/ephemeral-volumes.md
  content/zh-cn/docs/concepts/storage/storage-classes.md
  content/zh-cn/docs/tutorials/services/connect-applications-service.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41491 [id] Replace deprecated fullversion shortcode #41485
  content/id/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
  content/id/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/id, area/localization

#41985 [id] Fix a shell command
  content/id/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#41991 Fix the broken link for Kubernetes Volume Plugin
  content/en/docs/concepts/storage/windows-storage.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, language/en

#41796 Add uncordon step to containerd migration doc
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#41725 Add ja redirect for learning environment
  static/_redirects
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#41360 Update README-vi.md
  README-vi.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#37593 Improve overview for workload APIs
  content/en/docs/concepts/workloads/_index.md
  content/en/docs/concepts/workloads/controllers/_index.md
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/concepts/workloads/controllers/replicaset.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
  content/en/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#41932 [pt-br] Cleanup Portuguese localization reviewers sections
  content/pt-br/docs/concepts/cluster-administration/cluster-administration-overview.md
  content/pt-br/docs/concepts/cluster-administration/kubelet-garbage-collection.md
  content/pt-br/docs/concepts/cluster-administration/logging.md
  content/pt-br/docs/concepts/containers/images.md
  content/pt-br/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/pt-br/docs/tasks/configure-pod-container/enforce-standards-namespace-labels.md
  content/pt-br/docs/tasks/configure-pod-container/share-process-namespace.md
  content/pt-br/docs/tasks/configure-pod-container/static-pod.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/pt

#42002 [es] Fix a shell command
  content/es/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#41959 [zh-cn] Update content/zh-cn/docs/reference/using-api/api-concepts.md
  content/zh-cn/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41997 [zh] sync service windows-storage workloads/_index nodes
  content/zh-cn/docs/concepts/architecture/nodes.md
  content/zh-cn/docs/concepts/services-networking/service.md
  content/zh-cn/docs/concepts/storage/windows-storage.md
  content/zh-cn/docs/concepts/workloads/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#41897 Add 'FailedToRetrieveImagePullSecret' event examples
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#41917 [hi] Fix labs.play-with-k8s.com
  content/hi/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi

#41855 Mention default type of Service in “Defining a Service” section
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#38786 Detail zonal provisioning for GCE PD
  content/en/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, sig/cloud-provider, language/en

#41455 [pt-br] Update docs/home/supported-doc-versions.md
  content/pt-br/docs/home/supported-doc-versions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt

#41973 Add SIG CLI Spotlight article
  content/en/blog/_posts/2023-07-20-sig-cli-spotlight.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#41894 [zh-cn] Sync concepts/workloads/pods/_index.md
  content/zh-cn/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/zh

#42014 [fr] Fix a shell command
  content/fr/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#41983 Add in-place substitution option for linkchecker.py
  scripts/README.md
  scripts/linkchecker.py
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash

#42027 Add canonicalUrl to SIG CLI Spotlight
  content/en/blog/_posts/2023-07-20-sig-cli-spotlight.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#40811 Fix feature gates flag in kubelet reference
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#42024 Fix StableLoadBalancerNodeSet feature gate name
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#42033 [zh] sync /command-line-tools-reference/kubelet.md
  content/zh-cn/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42029 [zh] sync service storage-classes configure-pdb
  content/zh-cn/docs/concepts/services-networking/service.md
  content/zh-cn/docs/concepts/storage/storage-classes.md
  content/zh-cn/docs/tasks/run-application/configure-pdb.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#40497 [pl] Mention kubernetes/websites everywhere in the same way
  content/pl/docs/contribute/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl

#42010 [fr] translate tasks from section "access-application-cluster"
  content/fr/docs/reference/glossary/selector.md
  content/fr/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/fr/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
  content/fr/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/fr/examples/service/access/backend-deployment.yaml
  content/fr/examples/service/access/backend-service.yaml
  content/fr/examples/service/access/frontend-deployment.yaml
  content/fr/examples/service/access/frontend-nginx.conf
  content/fr/examples/service/access/frontend-service.yaml
  content/fr/examples/service/access/hello-application.yaml
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/fr

#42016 grammar fixes for guaranteed-scheduling-critical-addon-pods.md
  content/en/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41993 Add that VPA also requires scale subresource labelSelectorPath
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41988 Clarifying number of examples of controllers
  content/en/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#41948 Reword seccomp paragraph to remove alpha feature reference
  content/en/docs/concepts/security/security-checklist.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#41768 Provide a per-page outdated notification for localized content
  data/i18n/en/en.toml
  layouts/docs/baseof.html
  layouts/partials/docs/outdated_content.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/web-development, area/localization

#41684 Improvement for 'Using environment variables inside of your config'
  content/en/docs/tasks/inject-data-application/define-environment-variable-container.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#41605 Add guide for translating SVG images
  content/en/docs/contribute/localization.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#41137 A more clear description for commands in working with secrets section
  content/en/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/en

#41817 Remove reconfigure-kubelet page
  content/en/blog/_posts/2018-06-26-kubernetes-1-11-release-announcement.md
  content/en/blog/_posts/2022-04-07-Kubernetes-1-24-removals-and-deprecations.md
  content/en/docs/concepts/architecture/garbage-collection.md
  content/en/docs/reference/command-line-tools-reference/feature-gates-removed.md
  content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/blog

#40737 Add link to `kubectl convert`
  content/en/docs/reference/using-api/deprecation-guide.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#42035 [id] Add --rm for temporary pod command
  content/id/docs/concepts/services-networking/connect-applications-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#41937 [id] Fix labs.play-with-k8s.com
  content/id/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#41031 KEP-3453 to GA
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
  content/en/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#42045 Fix StableLoadBalancerNodeSet feature gate name
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42055 [zh] sync a svg in blog of container image signature verification
  content/zh-cn/blog/_posts/2023-06-29-container-image-signature-verification/flow.svg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42057 [zh] sync garbage-collection components feature-gates-removed guaranteed-scheduling-critical-addon-pods custom-resource-definitions
  content/zh-cn/docs/concepts/architecture/garbage-collection.md
  content/zh-cn/docs/concepts/overview/components.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates-removed.md
  content/zh-cn/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md
  content/zh-cn/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42074 [zh] Update ephemeral-volumes.md
  content/zh-cn/docs/concepts/storage/ephemeral-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42062 Update cheatsheet.md
  content/zh-cn/docs/reference/kubectl/cheatsheet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42081 [zh] remove reconfigure-kubelet page
  content/zh-cn/blog/_posts/2022-04-07-Kubernetes-1-24-removals-and-deprecations.md
  content/zh-cn/docs/tasks/administer-cluster/reconfigure-kubelet.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42050 Fix broken hyperlinks to “Extend the Kubernetes API with CustomResource Definitions” task page
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42087 [zh] sync persistent-volumes cron-jobs /tools/_index install-kubectl-linux install-kubectl-macos
  content/zh-cn/docs/concepts/storage/persistent-volumes.md
  content/zh-cn/docs/concepts/workloads/controllers/cron-jobs.md
  content/zh-cn/docs/tasks/tools/_index.md
  content/zh-cn/docs/tasks/tools/install-kubectl-linux.md
  content/zh-cn/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42088 [zh-cn] sync change-runtime-containerd.md
  content/zh-cn/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42052 [zh-cn] sync blog 2023-07-20-sig-cli-spotlight.md
  content/zh-cn/blog/_posts/2023-07-20-sig-cli-spotlight.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#42101 fix expression err in content/zh-cn/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/zh-cn/docs/concepts/scheduling-eviction/taint-and-toleration.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41759 [ja] sync concepts/architecture/controller.md
  content/ja/docs/concepts/architecture/controller.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#41818 [ja] Fix labs.play-with-k8s.com
  content/ja/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#40605 Remove deprecated doc on Topology-aware traffic routing with topology keys
  content/en/blog/_posts/2020-09-02-scaling-kubernetes-networking-endpointslices.md
  content/en/blog/_posts/2021-04-08-kubernetes-release-1.21.md
  content/en/docs/concepts/services-networking/service-topology.md
  content/en/docs/reference/command-line-tools-reference/feature-gates-removed.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/network, approved, language/en, area/blog

#41529 Add note that documents YAML compatibility bug
  content/en/docs/concepts/configuration/overview.md
  content/en/docs/concepts/overview/working-with-objects/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#42123 [zh] fix the missing < character in configure-liveness-readiness-startup-probes.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42118 [de] Fix wrong code highlighting
  content/de/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#42130 [pt] Fix wrong code highlighting
  content/pt-br/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#42140 [zh] sync concepts/configuration/overview.md
  content/zh-cn/docs/concepts/configuration/overview.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#35144 [pt-br] Add docs/tasks/configure-pod-container/configure-pod-configmap.md
  content/pt-br/docs/tasks/configure-pod-container/configure-pod-configmap.md
  content/pt-br/examples/configmap/configmap-multikeys.yaml
  content/pt-br/examples/configmap/configmaps.yaml
  content/pt-br/examples/pods/pod-configmap-env-var-valueFrom.yaml
  content/pt-br/examples/pods/pod-configmap-envFrom.yaml
  content/pt-br/examples/pods/pod-configmap-volume-specific-key.yaml
  content/pt-br/examples/pods/pod-configmap-volume.yaml
  content/pt-br/examples/pods/pod-multiple-configmap-env-variable.yaml
  content/pt-br/examples/pods/pod-single-configmap-env-variable.yaml
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt

#41806 [zh-cn] sync blog 2023-07-06-confidential-kubernetes
  content/zh-cn/blog/_posts/2023-07-06-confidential-kubernetes.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#42092 Fix description of RWO
  content/en/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, language/en

#41718 topologymanager: document topology manager policy options promotion to beta
  content/en/docs/tasks/administer-cluster/topology-manager.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#42134 [zh] sync concepts/security/security-checklist.md
  content/zh-cn/docs/concepts/security/security-checklist.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#42145 Fix grammatical issue with 'create workload object'
  content/en/docs/concepts/workloads/controllers/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42163 Add link for descheduler
  content/en/docs/concepts/scheduling-eviction/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42165 Fix line number for HUGO_VERSION link
  README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#42006 [zh] sync pull-image-private-registry.md and kops.md
  content/zh-cn/docs/setup/production-environment/tools/kops.md
  content/zh-cn/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#41527 [ja] Replace deprecated fullversion shortcode
  content/ja/docs/concepts/containers/container-environment.md
  content/ja/docs/concepts/services-networking/connect-applications-service.md
  content/ja/docs/concepts/services-networking/service.md
  content/ja/docs/setup/learning-environment/minikube.md
  content/ja/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
  content/ja/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md
  content/ja/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja, area/localization

#42156 Update apt repo GPG key URL
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, sig/release, approved, language/en

#42113 [zh] sync custom-resource-definitions define-environment-variable-container
  content/zh-cn/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
  content/zh-cn/docs/tasks/inject-data-application/define-environment-variable-container.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#42170 [zh-cn] sync user-namespace
  content/zh-cn/docs/concepts/workloads/pods/user-namespaces.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#41994 [ko] Update install-kubectl-windows.md
  content/ko/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#42173 [ko] Fix a bad merge into kubectl install task
  content/ko/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#42188 Update rollback-daemon-set.md
  content/zh-cn/docs/tasks/manage-daemon/rollback-daemon-set.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41744 rename PodHasNetwork to PodReadyToStartContainers as part of rename
  content/en/blog/_posts/2022-09-14-pod-has-network-condition.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#41206 graduate RetroactiveDefaultStorageClass feature to GA in 1.28
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, language/en, area/blog

#42204 [de] replaced {{< codenew ... >}} with {{% codenew ... %}…
  content/de/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#42215 [uk] replaced {{< codenew ... >}} with {{% codenew ... %}}
  content/uk/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk

#42192 [zh] sync tools\kubeadm\install-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#42143 [zh] sync workloads/controllers/*.md headers for #42004
  content/zh-cn/docs/concepts/workloads/controllers/daemonset.md
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
  content/zh-cn/docs/concepts/workloads/controllers/job.md
  content/zh-cn/docs/concepts/workloads/controllers/replicaset.md
  content/zh-cn/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#42207 [es] replaced {{< codenew ... >}} with {{% codenew ... %}}
  content/es/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/es/docs/concepts/services-networking/network-policies.md
  content/es/docs/concepts/workloads/controllers/daemonset.md
  content/es/docs/concepts/workloads/controllers/deployment.md
  content/es/docs/concepts/workloads/controllers/garbage-collection.md
  content/es/docs/concepts/workloads/controllers/jobs-run-to-completion.md
  content/es/docs/concepts/workloads/controllers/replicaset.md
  content/es/docs/concepts/workloads/controllers/replicationcontroller.md
  content/es/docs/tasks/configure-pod-container/configure-volume-storage.md
  content/es/docs/tasks/debug-application-cluster/audit.md
  content/es/docs/tasks/manage-kubernetes-objects/declarative-config.md
  content/es/docs/tasks/run-application/run-stateless-application-deployment.md
  content/es/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/es

#42213 [pt-br] replaced {{< codenew ... >}} with {{% codenew ... %}}
  content/pt-br/docs/concepts/cluster-administration/flow-control.md
  content/pt-br/docs/concepts/cluster-administration/logging.md
  content/pt-br/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/pt-br/docs/concepts/policy/resource-quotas.md
  content/pt-br/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/pt-br/docs/concepts/services-networking/ingress.md
  content/pt-br/docs/concepts/services-networking/network-policies.md
  content/pt-br/docs/concepts/workloads/controllers/cron-jobs.md
  content/pt-br/docs/concepts/workloads/controllers/replicaset.md
  content/pt-br/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md
  content/pt-br/docs/tasks/access-application-cluster/connecting-frontend-backend.md
  content/pt-br/docs/tasks/configure-pod-container/assign-pods-nodes.md
  content/pt-br/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
  content/pt-br/docs/tasks/configure-pod-container/configure-pod-configmap.md
  content/pt-br/docs/tasks/configure-pod-container/configure-runasusername.md
  content/pt-br/docs/tasks/configure-pod-container/configure-volume-storage.md
  content/pt-br/docs/tasks/configure-pod-container/extended-resource.md
  content/pt-br/docs/tasks/configure-pod-container/quality-service-pod.md
  content/pt-br/docs/tasks/configure-pod-container/share-process-namespace.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt

#42187 Provide a consistent appearance to bullets in service-accounts and rbac
  content/en/docs/concepts/security/rbac-good-practices.md
  content/en/docs/concepts/security/service-accounts.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en
