Repository kubernetes/website, pull requests merged in 2024-09, with the labels that each got.

#47738 [zh] sync scheduling-eviction/node-pressure-eviction.md
  content/zh-cn/docs/concepts/scheduling-eviction/node-pressure-eviction.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47752 [zh] Sync a task: security-context.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/supplemental-groups-policy.md
  content/zh-cn/docs/tasks/configure-pod-container/security-context.md
  content/zh-cn/examples/pods/security/security-context-5.yaml
  content/zh-cn/examples/pods/security/security-context-6.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47726 [zh] Sync kubeadm_completion, _kubeconfig, and _version
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_completion/_index.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_kubeconfig/_index.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_kubeconfig/kubeadm_kubeconfig_user.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_version/_index.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-kubeconfig.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-version.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47759 [zh] sync docs/setup/production-environment/*
  content/zh-cn/docs/setup/production-environment/_index.md
  content/zh-cn/docs/setup/production-environment/container-runtimes.md
  content/zh-cn/docs/setup/production-environment/tools/_index.md
  content/zh-cn/docs/tasks/debug/debug-cluster/resource-metrics-pipeline.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#47766 [zh] Sync kubectl_replace/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_replace/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#47447 feat: update structure and create new index.md ES translation
  content/es/docs/tasks/debug-application-cluster/_index.md
  content/es/docs/tasks/debug/_index.md
  content/es/docs/tasks/debug/debug-application/_index.md
  content/es/docs/tasks/debug/debug-application/debug-init-containers.md
  content/es/docs/tasks/debug/debug-cluster/_index.md
  content/es/docs/tasks/debug/debug-cluster/audit.md
  content/es/docs/tasks/debug/debug-cluster/logging-elasticsearch-kibana.md
  content/es/docs/tasks/debug/debug-cluster/resource-metrics-pipeline.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/es, area/localization

#47768 [zh] sync open-a-pr cluster-large multiple-zones
  content/zh-cn/docs/contribute/new-content/open-a-pr.md
  content/zh-cn/docs/setup/best-practices/cluster-large.md
  content/zh-cn/docs/setup/best-practices/multiple-zones.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#47716 [zh] fix typo
  content/zh-cn/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47767 [zh] Add 6 feature gates
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/anonymous-auth-configurable-endpoints.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/authorize-node-with-selectors.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/dra-control-plane-controller.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/resilient-watch-cache-initialization.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/resource-health-status.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/watch-cache-initialization-post-start-hook.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47508 [ja]Translate content/en/docs/concepts/storage/volume-attributes-clas…
  content/ja/docs/concepts/storage/volume-attributes-classes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#47728 [ja] Translate Gateway API into Japanese
  content/ja/docs/reference/glossary/gateway.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#47725 [ja] Translate docs/concepts/security/_index.md into Japanese
  content/ja/docs/concepts/security/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#47730 [ja] Translate Horizontal Pod Autoscaler into Japanese
  content/ja/docs/reference/glossary/horizontal-pod-autoscaler.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#47761 [ja] Translate content/en/blog/_posts/2024-08-15-consistent-read-from-cache.md into Japanese
  content/ja/blog/_posts/2024-08-15-consistent-read-from-cache.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#47710 [install-kubeadm]: Update instructions to disable or tolerate swap
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/cluster-lifecycle, approved, language/en

#46681 Redo Mermaid shortcode (Docsy alignment)
  assets/js/mermaid-10.6.1.min.js
  layouts/partials/head.html
  layouts/partials/hooks/head-end.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, area/web-development

#47751 [zh] Add a blog: 2024-08-16-matchlabelkeys-podaffinity.md
  content/zh-cn/blog/_posts/2024-08-16-matchlabelkeys-podaffinity.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47781 [ja] Update title in job.md
  content/ja/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#47778 Update namespaces.md to remove monospace formatting in Note block
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47740 [ja]Translate content/en/docs/reference/glossary/flexvolume.md into Japanese
  content/ja/docs/reference/glossary/flexvolume.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#47754 mark feature-gate ServerSideApply/ServerSideFieldValidation as removed
  content/en/docs/reference/command-line-tools-reference/feature-gates/server-side-apply.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/server-side-field-validation.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47785 Revise docs landing page (Docsy alignment)
  assets/scss/_base.scss
  layouts/partials/docs/docs-portal-card.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, priority/backlog, approved, area/web-development

#47796 Fix typo in dynamic-resource-allocation.md
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47798 [zh] Add pod-scheduling-context-v1alpha3.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/pod-scheduling-context-v1alpha3.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47799 [zh] Update kubelet.md to fix several links
  content/zh-cn/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47809 [zh] Remove cluster-resources/binding-v1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/binding-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47802 [zh] Add an api doc: flow-schema-v1.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/flow-schema-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47783 [zh] Add workload-resources/resource-claim-v1alpha3.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/resource-claim-v1alpha2.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/resource-claim-v1alpha3.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh, area/localization

#47815 [zh] Fix rendering error caused by {{< glossary >}} in concepts/architecture/#kubelet
  content/zh-cn/docs/concepts/architecture/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47782 Adding Niranjan Darshan to Hindi reviewers
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#47807 [zh-cn] Add binding-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/binding-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47779 [zh] Sync resource-claim-template-v1alpha3.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/resource-claim-template-v1alpha3.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47813 [zh] Add priority-level-configuration-v1.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/priority-level-configuration-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#46738 [vi] Ready glossary page for vanilla Docsy
  content/vi/docs/reference/glossary/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, lifecycle/stale, language/vi, area/localization

#47739 [ja]Translate content/en/docs/concepts/scheduling-eviction/dynamic-re…
  content/ja/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#47415 Use Docsy-friendly layout for community page
  assets/scss/_custom.scss
  content/en/community/code-of-conduct.html
  data/i18n/en/en.toml
  hugo.toml
  layouts/community/list.html
  layouts/partials/community_links.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/web-development

#47537 [ja]Translate content/en/docs/concepts/security/rbac-good-practices.md
  content/ja/docs/concepts/security/rbac-good-practices.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja, area/localization

#47824 Drop vestigial page for code of conduct
  content/en/community/code-of-conduct.html
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en, area/web-development

#46449 [bn] Localize blog post gateway api v1.1
  content/bn/blog/_posts/2024-05-09-gateway-api-v1.1/gateway-api-logo.svg
  content/bn/blog/_posts/2024-05-09-gateway-api-v1.1/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, area/localization, language/bn

#47830 Fix broken links from "overview/components/#..." to "architecture/#..."
  content/bn/docs/reference/glossary/container-runtime-interface.md
  content/bn/docs/reference/glossary/kube-apiserver.md
  content/bn/docs/setup/production-environment/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, area/localization, language/bn

#47777 [zh] Add 2024-08-14-moving-cgroup-v1-support-maintenance-mode-kubernetes-1-31
  content/zh-cn/blog/_posts/2024-08-14-moving-cgroup-v1-support-maintenance-mode-kubernetes-1-31.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47835 [zh] Remove resource-class-v1alpha2.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/resource-class-v1alpha2.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#47854 Update RemoveSelfLink feature gate for readability
  content/en/docs/reference/command-line-tools-reference/feature-gates/RemoveSelfLink.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, kind/cleanup, language/en

#47832 Update Source IP Tutorial: Replace Deprecated echoserver:1.4 with echoserver:1.10 for Compatibility
  content/en/docs/tutorials/services/source-ip.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47861 Fix grammatical error in Network plugins segment in "Compute, Storage, and Networking Extensions" document
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47865 [zh] Remove cluster-resources/cluster-cidr-v1alpha1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/cluster-cidr-v1alpha1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#47831 [bn] Update Overview
  content/bn/docs/concepts/overview/_index.md
  content/bn/docs/concepts/overview/working-with-objects/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, area/localization, language/bn

#47794 [es] Enhance Readability with Markdown Formatting Improvements
  README-es.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es, area/localization

#47849 [zh] Add device-class-v1alpha3.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/device-class-v1alpha3.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh, area/localization

#47866 [zh] Add cluster-resources/service-cidr-v1beta1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/service-cidr-v1beta1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#47826 Update kubernetes-api.md: correct tenses and add punctuation
  content/en/docs/concepts/overview/kubernetes-api.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47870 [zh] Sync 2024-08-16-matchlabelkeys-podaffinity.md
  content/zh-cn/blog/_posts/2024-08-16-matchlabelkeys-podaffinity.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47867 [bn] Update minor changes
  content/bn/docs/concepts/extend-kubernetes/compute-storage-net/_index.md
  content/bn/docs/concepts/services-networking/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/localization, language/bn

#47868 Drop executable permission for files
  content/en/blog/_posts/2021-08-16-support-for-hostprocess-containers/hostprocess-architecture.png
  content/en/docs/concepts/security/multi-tenancy.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#47821 Add note about k8s.io, kubernetes disallowed prefix for structured authn
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, approved, language/en

#47878 [zh] Fixed the security white-paper link
  content/zh-cn/docs/concepts/security/cloud-native-security.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47735 Change dnsutils from jessie-dnsutils to agnhost
  content/bn/examples/admin/dns/dnsutils.yaml
  content/en/examples/admin/dns/dnsutils.yaml
  content/id/examples/admin/dns/dnsutils.yaml
  content/zh-cn/examples/admin/dns/dnsutils.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, language/zh, language/id, area/localization, language/bn

#47879 [zh] update dns-debugging-resolution.md
  content/zh-cn/docs/tasks/administer-cluster/dns-debugging-resolution.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#44617 Update docs/setup/best-practices/certificates.md
  content/en/docs/setup/best-practices/certificates.md
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, sig/docs, approved, tide/merge-method-squash, language/en, sig/security, triage/accepted

#47882 docs: add hyperlink for RFC3339 in bootstrap-tokens.md
  content/en/docs/reference/access-authn-authz/bootstrap-tokens.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47880 [zh] Sync an api doc: cluster-resources/node-v1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/node-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47764 update fr docs concepts overview
  content/fr/_index.html
  content/fr/docs/concepts/_index.md
  content/fr/docs/concepts/overview/_index.md
  content/fr/docs/concepts/overview/components.md
  content/fr/docs/concepts/overview/kubernetes-api.md
  content/fr/docs/concepts/overview/what-is-kubernetes.md
  content/fr/docs/concepts/overview/working-with-objects/_index.md
  content/fr/docs/concepts/overview/working-with-objects/annotations.md
  content/fr/docs/concepts/overview/working-with-objects/common-labels.md
  content/fr/docs/concepts/overview/working-with-objects/field-selectors.md
  content/fr/docs/concepts/overview/working-with-objects/finalizers.md
  content/fr/docs/concepts/overview/working-with-objects/labels.md
  content/fr/docs/concepts/overview/working-with-objects/names.md
  content/fr/docs/concepts/overview/working-with-objects/namespaces.md
  content/fr/docs/concepts/overview/working-with-objects/object-management.md
  content/fr/docs/concepts/overview/working-with-objects/owners-dependents.md
  content/fr/docs/reference/glossary/finalizer.md
  content/fr/docs/reference/glossary/garbage-collection.md
  content/fr/docs/reference/glossary/name.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/fr, area/localization

#47709 Add envFrom details in docs
  content/en/docs/concepts/configuration/configmap.md
  content/en/examples/configmap/env-configmap.yaml
Labels: cncf-cla: yes, size/M, lgtm, approved, tide/merge-method-squash, language/en

#47885 Removed duplicated paragraph
  content/en/docs/concepts/overview/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47891 Removed duplicated paragraph
  content/fr/docs/concepts/overview/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr, area/localization

#46796 [ko] Translate /docs/concepts/overview/working-with-objects/owners-dependents into korean
  content/ko/docs/concepts/overview/working-with-objects/owners-dependents.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#47627 mark feature-gate MinDomainsInPodTopologySpread as removed
  content/en/docs/concepts/scheduling-eviction/topology-spread-constraints.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/min-domains-in-pod-topology-spread.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47881 [zh] sync liveness-readiness-startup-probes dynamic-resource-allocation install-kubeadm
  content/zh-cn/docs/concepts/configuration/liveness-readiness-startup-probes.md
  content/zh-cn/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#46558 [hi] Localized docs/reference/tools/_index.md
  content/hi/docs/reference/tools/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/hi, area/localization

#47893 Fix typo in storage-version-migration.md
  content/en/docs/tasks/manage-kubernetes-objects/storage-version-migration.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47904 [zh] Update the apiserver-aggregation.md
  content/zh-cn/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47900 Update typo in documentation
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#47898 Update French documentation for concept architecture
  content/fr/docs/concepts/architecture/_index.md
  content/fr/docs/concepts/architecture/cgroups.md
  content/fr/docs/concepts/architecture/cloud-controller.md
  content/fr/docs/concepts/architecture/control-plane-node-communication.md
  content/fr/docs/concepts/architecture/controller.md
  content/fr/docs/concepts/architecture/cri.md
  content/fr/docs/concepts/architecture/garbage-collection.md
  content/fr/docs/concepts/architecture/leases.md
  content/fr/docs/concepts/architecture/master-node-communication.md
  content/fr/docs/concepts/architecture/mixed-version-proxy.md
  content/fr/docs/concepts/architecture/nodes.md
  content/fr/docs/reference/glossary/api-group.md
  content/fr/docs/reference/glossary/cadvisor.md
  content/fr/docs/reference/glossary/container-runtime-interface.md
  content/fr/docs/reference/glossary/kubernetes-api.md
  content/fr/docs/reference/glossary/node.md
  content/fr/docs/reference/glossary/rbac.md
  content/fr/docs/reference/glossary/replica.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/fr, area/localization

#47822 [ja] Enhance Readability with Markdown Formatting Improvements
  README-ja.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#47906 Fix some hyperlinks in the markdown files
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/concepts/windows/intro.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/tasks/administer-cluster/decrypt-data.md
  content/en/docs/tasks/administer-cluster/encrypt-data.md
  content/en/docs/tasks/administer-cluster/kms-provider.md
  content/en/docs/tasks/administer-cluster/kubelet-config-file.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#47908 Update release schedule
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, area/release-eng

#47905 [zh] Sync a concept: configuation/configmap.md
  content/zh-cn/docs/concepts/configuration/configmap.md
  content/zh-cn/examples/configmap/env-configmap.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47720 [zh-cn] sync apiserver-aggregation
  content/zh-cn/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47916 Mark Windows node support as beta
  content/en/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/windows, sig/cluster-lifecycle, approved, language/en

#47912 Redirect legacy Windows node setup URLs to new page
  static/_redirects
Labels: cncf-cla: yes, size/XS, lgtm, sig/windows, sig/docs, approved, kind/cleanup

#47564 remove feature-gate NewVolumeManagerReconstruction
  content/en/docs/reference/command-line-tools-reference/feature-gates/new-volume-manager-reconstruction.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47914 Update frontend.yaml
  content/zh-cn/examples/controllers/frontend.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47924 Remove a dangling example from zh-cn localization
  content/zh-cn/examples/pods/pod-with-affinity-anti-affinity.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#47918 added image volume type in ephemeral volumes
  content/en/docs/concepts/storage/ephemeral-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, approved, language/en

#47820 [ar] Fix build error due to bad tooltip label
  content/ar/docs/setup/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ar, area/localization

#47907 Update garbage-collection.md
  content/en/docs/concepts/architecture/garbage-collection.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, needs-triage

#47926 [zh] Drop an example file which is not referenced
  content/zh-cn/examples/access/validating-webhook-configuration-match-conditions.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#47833 [bn] Localization of cluster-architect.md
  content/bn/docs/reference/glossary/cluster-architect.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, area/localization, language/bn

#47806 [bn] Localisation of cgroup.md
  content/bn/docs/reference/glossary/cgroup.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, area/localization, language/bn

#47919 [zh] Fix doc link
  content/zh-cn/blog/_posts/2024-08-23-kubeadm-v1beta4.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47941 Changes outdated cosign link
  content/en/docs/tasks/administer-cluster/verify-signed-artifacts.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47923 Removed Weave Scope link
  content/en/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47890 [bn] Update overview/_index.md
  content/bn/docs/concepts/overview/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/localization, language/bn

#47936 [zh-cn] sync service ingress
  content/zh-cn/docs/concepts/services-networking/ingress.md
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47921 [zh] Resync server-side-apply page
  content/zh-cn/docs/reference/using-api/server-side-apply.md
  content/zh-cn/examples/application/ssa/nginx-deployment-replicas-only.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#47949 [zh-cn]sync kms-provider kubelet-config-file storage-version-migration
  content/zh-cn/docs/tasks/administer-cluster/kms-provider.md
  content/zh-cn/docs/tasks/administer-cluster/kubelet-config-file.md
  content/zh-cn/docs/tasks/manage-kubernetes-objects/storage-version-migration.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#47950 [zh-cn] sync addons.md overview/_index.md
  content/zh-cn/docs/concepts/cluster-administration/addons.md
  content/zh-cn/docs/concepts/overview/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#47932 [zh-cn] sync decrypt-data
  content/zh-cn/docs/tasks/administer-cluster/decrypt-data.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47952 [zh-cn] sync stateful-set-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/stateful-set-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#47911 Emphasize that some kubeadm node setup commands run on control plane
  content/en/docs/tasks/administer-cluster/kubeadm/adding-linux-nodes.md
  content/en/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, approved, language/en

#47928 Add AWS EFS To storage-classes.md
  content/en/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/S, lgtm, approved, tide/merge-method-squash, language/en

#47961 [zh] Update kube-apiserver.md
  content/zh-cn/docs/reference/glossary/kube-apiserver.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47962 [zh-cn] sync common-parameters.md
  content/zh-cn/docs/reference/kubernetes-api/common-parameters/common-parameters.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#47955 [zh-cn] sync service-account-v1 token-request-v1
  content/zh-cn/docs/reference/kubernetes-api/authentication-resources/service-account-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authentication-resources/token-request-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#47957 [zh-cn] sync persistent-volume-claim-v1.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/persistent-volume-claim-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47727 Add statement regarding ReadinessProbe manual run
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47964 Remove deprecated sections from crictl doc
  content/en/docs/tasks/debug/debug-cluster/crictl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, approved, language/en

#47915 Reorganize task pages relevant to nodes and kubeadm
  content/en/docs/tasks/administer-cluster/kubeadm/_index.md
  content/en/docs/tasks/administer-cluster/kubeadm/adding-linux-nodes.md
  content/en/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes.md
  content/en/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
  content/en/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-reconfigure.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/en/docs/tasks/administer-cluster/kubeadm/upgrading-linux-nodes.md
  content/en/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, approved, kind/cleanup, language/en

#47930 Fix wrong info about empty toleration key (#47929)
  content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/scheduling, approved, language/en

#46866 included author metadata in blog front matter
  content/en/docs/contribute/new-content/blogs-case-studies.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47959 Update pod-lifecycle.md
  content/zh-cn/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh, area/localization

#47971 [zh-cn] sync kube-scheduler-config.v1.md
  content/zh-cn/docs/reference/config-api/kube-scheduler-config.v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47925 [zh] Resync VAP reference page
  content/zh-cn/docs/reference/access-authn-authz/validating-admission-policy.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#47927 [zh] Update concepts/service-networking/dns-pod-service.md
  content/zh-cn/docs/concepts/services-networking/dns-pod-service.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#47931 [zh-cn] sync kubeadm/create-cluster-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47933 [zh-cn] sync best-practices/certificates.md
  content/zh-cn/docs/setup/best-practices/certificates.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47935 [zh-cn] sync manage-resources-containers assign-pod-node pod-lifecycle
  content/zh-cn/docs/concepts/configuration/manage-resources-containers.md
  content/zh-cn/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/zh-cn/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47937 [zh-cn] sync components disruptions validating-webhook-configuration-v1
  content/zh-cn/docs/concepts/overview/components.md
  content/zh-cn/docs/concepts/workloads/pods/disruptions.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/validating-webhook-configuration-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47939 [zh-cn]sync network-policy-v1 resource-quota-v1 endpoints-v1 kubeadm-config.v1beta3
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta3.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/network-policy-v1.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/resource-quota-v1.md
  content/zh-cn/docs/reference/kubernetes-api/service-resources/endpoints-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47948 [zh-cn]sync apiserver-audit.v1 kube-controller-manager-config.v1alpha1 kube-proxy-config.v1alpha1
  content/zh-cn/docs/reference/config-api/apiserver-audit.v1.md
  content/zh-cn/docs/reference/config-api/kube-controller-manager-config.v1alpha1.md
  content/zh-cn/docs/reference/config-api/kube-proxy-config.v1alpha1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47951 [zh-cn] sync job-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/job-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47953 [zh-cn] sync custom-resource-definition-v1.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/custom-resource-definition-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47979 [zh] Sync storage/storage-classes.md
  content/zh-cn/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#47980 [zh] Sync api docs in policy-resources/
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/_index.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/limit-range-v1.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/pod-disruption-budget-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47808 [ja] Localize immutable infrastructure
  content/ja/docs/reference/glossary/container.md
  content/ja/docs/reference/glossary/immutable-infrastructure.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#47903 Rewrite "The Kubernetes network model"
  content/en/docs/concepts/services-networking/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/network, approved, language/en, refactor

#47976 Fix 'feature-state' shortcode for accurate rendering in tabs
  layouts/shortcodes/feature-state.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, area/web-development

#47958 [zh-cn] sync endpoint-slice-v1.md
  content/zh-cn/docs/reference/kubernetes-api/service-resources/endpoint-slice-v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47729 mark feature-gate NodeOutOfServiceVolumeDetach as removed
  content/en/docs/concepts/cluster-administration/node-shutdown.md
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/node-out-of-service-volume-detach.md
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/storage, approved, language/en

#47987 [zh-cn] sync feature-gates/c*
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/csi-node-expand-secret.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/custom-resource-field-selectors.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/custom-resource-validation-expressions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#47989 [zh-cn] sync bootstrap-tokens container-runtime-interface cri
  content/zh-cn/docs/reference/access-authn-authz/bootstrap-tokens.md
  content/zh-cn/docs/reference/glossary/container-runtime-interface.md
  content/zh-cn/docs/reference/glossary/cri.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#47998 Add v1.31.0 to the release schedule
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, area/release-eng

#47982 Clean up services-networking/_index.md
  content/en/docs/concepts/services-networking/_index.md
Labels: cncf-cla: yes, size/L, lgtm, approved, kind/cleanup, language/en

#47899 [ja] Change an container image which hello-node to e2e-test-images
  content/ja/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#48004 [ja] Fix typo
  content/ja/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#47972 Update customize-hosts-file-for-pods.md
  content/en/docs/tasks/network/customize-hosts-file-for-pods.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47988 [zh-cn] sync feature-gates/l*
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/local-storage-capacity-isolation-fs-quota-monitoring.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/logarithmic-scale-down.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48006 [zh-cn] Resync pod example YAMLs
  content/zh-cn/examples/pods/inject/envars.yaml
  content/zh-cn/examples/pods/pod-with-scheduling-gates.yaml
  content/zh-cn/examples/pods/security/seccomp/ga/audit-pod.yaml
  content/zh-cn/examples/pods/security/seccomp/ga/default-pod.yaml
  content/zh-cn/examples/pods/security/seccomp/ga/fine-pod.yaml
  content/zh-cn/examples/pods/security/seccomp/ga/violation-pod.yaml
  content/zh-cn/examples/pods/security/security-context-2.yaml
  content/zh-cn/examples/pods/security/security-context-3.yaml
  content/zh-cn/examples/pods/security/security-context-4.yaml
  content/zh-cn/examples/pods/security/security-context.yaml
  content/zh-cn/examples/pods/share-process-namespace.yaml
  content/zh-cn/examples/pods/storage/projected-clustertrustbundle.yaml
  content/zh-cn/examples/pods/storage/projected-secret-downwardapi-configmap.yaml
  content/zh-cn/examples/pods/storage/projected-secrets-nondefault-permission-mode.yaml
  content/zh-cn/examples/pods/storage/projected-service-account-token.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48007 [zh] Sync services-networking/_index.md
  content/zh-cn/docs/concepts/services-networking/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48016 [zh-cn] sync encrypt-data configure-liveness-readiness-startup-probes
  content/zh-cn/docs/tasks/administer-cluster/encrypt-data.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48023 [zh-cn] Resync the remaining examples YAMLs
  content/zh-cn/examples/application/deployment-sidecar.yaml
  content/zh-cn/examples/application/job/job-sidecar.yaml
  content/zh-cn/examples/application/web/web-parallel.yaml
  content/zh-cn/examples/application/web/web.yaml
  content/zh-cn/examples/priority-and-fairness/health-for-strangers.yaml
  content/zh-cn/examples/priority-and-fairness/list-events-default-service-account.yaml
  content/zh-cn/examples/service/access/hello-application.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#48005 [zh] sync install-kubeadm verify-signed-artifacts custom-resource-definitions
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/zh-cn/docs/tasks/administer-cluster/verify-signed-artifacts.md
  content/zh-cn/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48025 [zh-cn]sync controller garbage-collection nodes
  content/zh-cn/docs/concepts/architecture/controller.md
  content/zh-cn/docs/concepts/architecture/garbage-collection.md
  content/zh-cn/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48027 [zh-cn] sync self-subject-rules-review-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/self-subject-rules-review-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48029 [zh-cn] sync status csi-storage-capacity-v1
  content/zh-cn/docs/reference/kubernetes-api/common-definitions/status.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/csi-storage-capacity-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48028 [zh-cn] sync cluster-role-v1 role-v1 replication-controller-v1
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/cluster-role-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/role-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/replication-controller-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48024 [ja] Replace Deprecated echoserver
  content/ja/docs/tutorials/services/source-ip.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#47977 Clarify Finalizer Usage and Controller Types in Background Cascading Deletion
  content/en/docs/concepts/architecture/garbage-collection.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47731 Add SIG Scheduling spotlight
  content/en/blog/_posts/2024-09-17-sig-scheduling-spotlight.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en, area/blog

#48032 [zh] Replace Deprecated echoserver
  content/zh-cn/docs/tutorials/services/source-ip.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization
