Repository kubernetes/website, pull requests merged in 2024-10, with the labels that each got.

#48147 [ru] Removed Weave Scope link
  content/ru/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru, area/localization

#48138 [zh-cn] sync docs/concepts/workloads/pods/init-containers.md
  content/zh-cn/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48145 [zh] Removed extra https:// prepended to a link in a blog
  content/zh-cn/blog/_posts/2024-06-06-10-Years-of-Kubernetes/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48149 Tweak and clean up pr-wranglers and linkchecke readme
  content/en/docs/contribute/participate/pr-wranglers.md
  content/en/docs/doc-contributor-tools/linkchecker/README.md
Labels: cncf-cla: yes, size/L, lgtm, approved, kind/cleanup, language/en

#48151 [zh-cn] sync docs/concepts/scheduling-eviction/_index.md
  content/zh-cn/docs/concepts/scheduling-eviction/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48152 Update KubeCon 2024-2025 events
  content/en/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#48120 Remove deprecated note on "Set up a High Availability etcd Cluster with kubeadm" page
  content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, approved, tide/merge-method-squash, language/en, triage/accepted

#48067 feat: [es] Update docs/tutorials/_index.md
  content/es/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/es, area/localization

#48153 [zh-cn] sync docs/concepts/architecture/garbage-collection.md
  content/zh-cn/docs/concepts/architecture/garbage-collection.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48150 [zh-cn] sync /docs/concepts/security/cloud-native-security.md
  content/zh-cn/docs/concepts/security/cloud-native-security.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47093 Register Annotation resource.kubernetes.io/pod-claim-name
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, approved, language/en

#48164 steering: Onboard/offboard members following 2024 election results
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#48157 Updated config.toml for 1.32 release
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash

#48168 [zh-cn] sync docs/concepts/storage/storage-classes.md
  content/zh-cn/docs/concepts/storage/storage-classes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48169 [zh-cn] sync docs/concepts/scheduling-eviction/topology-spread-constr…
  content/zh-cn/docs/concepts/scheduling-eviction/topology-spread-constraints.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48012 Add checkpoint subresource to Kublet authorization doc
  content/en/docs/reference/access-authn-authz/kubelet-authn-authz.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, approved, tide/merge-method-squash, language/en

#48165 Adding mirror of election blog post
  content/en/blog/_posts/2024-10-02-steering-committee-results-2024.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en, area/blog

#48176 Remove repeated information
  content/en/docs/tasks/network/customize-hosts-file-for-pods.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48148 [zh] Sync config-api/kubelet-config.v1beta1.md
  content/zh-cn/docs/reference/config-api/kubelet-config.v1beta1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48087 [bn] Localization of cadvisor.md
  content/bn/docs/reference/glossary/cadvisor.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/localization, language/bn

#48010 [bn] Localization of application-architect.md
  content/bn/docs/reference/glossary/application-architect.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/localization, language/bn

#47790 [bn] Localization of cloud-provider.md
  content/bn/docs/reference/glossary/cloud-provider.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, area/localization, language/bn

#47789 Use Docsy friendly footer
  assets/scss/_base.scss
  assets/scss/_custom.scss
  layouts/partials/footer.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, area/web-development

#48146 [zh] Sync scheduling-eviction/*.md
  content/zh-cn/docs/concepts/scheduling-eviction/_index.md
  content/zh-cn/docs/concepts/scheduling-eviction/api-eviction.md
  content/zh-cn/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/zh-cn/docs/concepts/scheduling-eviction/topology-spread-constraints.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48174 [zh-cn]sync controller-revision-v1 deployment-v1 priority-class-v1
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/controller-revision-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/deployment-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/priority-class-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48172 [zh-cn]sync pr-wranglers linkchecker/README
  content/zh-cn/docs/contribute/participate/pr-wranglers.md
  content/zh-cn/docs/doc-contributor-tools/linkchecker/README.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48187 [zh] Sync customize-hosts-file-for-pods.md
  content/zh-cn/docs/tasks/network/customize-hosts-file-for-pods.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48188 [zh] Sync kubelet-authn-authz.md
  content/zh-cn/docs/reference/access-authn-authz/kubelet-authn-authz.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48192 [zh-cn] sync docs/reference/kubernetes-api/authorization-resources/cl…
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/cluster-role-binding-v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#46554 [ko] Update outdated korean contents in dev-1.27-ko.1 (M74-M81)
  content/ko/docs/concepts/workloads/controllers/cron-jobs.md
  content/ko/docs/concepts/workloads/controllers/daemonset.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
  content/ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/concepts/workloads/controllers/replicaset.md
  content/ko/docs/concepts/workloads/controllers/replicationcontroller.md
  content/ko/docs/concepts/workloads/controllers/statefulset.md
  content/ko/docs/concepts/workloads/controllers/ttlafterfinished.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, lifecycle/stale, language/ko

#46829 [ko] Update outdated files in dev-1.27-ko.1 [M10-15]
  content/ko/docs/concepts/cluster-administration/addons.md
  content/ko/docs/concepts/cluster-administration/logging.md
  content/ko/docs/concepts/cluster-administration/manage-deployment.md
  content/ko/docs/concepts/cluster-administration/system-logs.md
  content/ko/docs/concepts/cluster-administration/system-traces.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#48190 [zh-cn] sync docs/reference/access-authn-authz/service-accounts-admin.md
  content/zh-cn/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48199 [ja] Removed Weave Scope link
  content/ja/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#48064 [ja] fix some typos in documentation
  README-ja.md
  content/ja/docs/concepts/configuration/manage-resources-containers.md
  content/ja/docs/concepts/overview/working-with-objects/field-selectors.md
  content/ja/docs/concepts/policy/resource-quotas.md
  content/ja/docs/reference/using-api/deprecation-policy.md
  content/ja/docs/setup/production-environment/_index.md
  content/ja/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#48196 [zh-cn]sync kubeadm-upgrade scheduling-gpus
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/zh-cn/docs/tasks/manage-gpus/scheduling-gpus.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48197 [zh-cn]sync setup-ha-etcd-with-kubeadm apparmor
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
  content/zh-cn/docs/tutorials/security/apparmor.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48203 [zh-cn] sync reference/audit-annotations.md
  content/zh-cn/docs/reference/labels-annotations-taints/audit-annotations.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48209 [zh-cn]sync csi-node-v1.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/csi-node-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48202 [zh-cn] sync docs/reference/labels-annotations-taints
  content/zh-cn/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#48195 [zh-cn]sync local-object-reference.md
  content/zh-cn/docs/reference/kubernetes-api/common-definitions/local-object-reference.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48175 [zh-cn] sync token-review-v1 namespace-v1
  content/zh-cn/docs/reference/kubernetes-api/authentication-resources/token-review-v1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/namespace-v1.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#48046 [zh] Sync an API doc: persistent-volume-v1.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/persistent-volume-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48062 [zh-cn] sync consistent-list-from-cache.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/consistent-list-from-cache.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48091 [zh] Add zh text to: config-api/apiserver-config.v1.md
  content/zh-cn/docs/reference/config-api/apiserver-config.v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48111 fix apt repo urls in german kubectl install guide
  content/de/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/de, area/localization

#48121 [zh] Sync self-subject-access-review-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/self-subject-access-review-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48123 [zh] Add an API doc: lease-candidate-v1alpha1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/lease-candidate-v1alpha1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#48133 [zh] Add an API doc: volume-attributes-class-v1beta1.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/volume-attributes-class-v1beta1.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#48177 Update horizontal-pod-autoscale.md with additional keywords
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48219 [zh-cn] sync reference/dynamic-resource-allocation.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48218 [zh-cn] sync reference/device-plugin-cdi-devices.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/device-plugin-cdi-devices.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48220 [zh-cn] sync reference/consistent-http-get-handlers.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/consistent-http-get-handlers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48221 [zh-cn] sync reference/honor-pv-reclaim-policy.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/honor-pv-reclaim-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48208 Add “duration” to glossary
  content/en/docs/reference/glossary/duration.md
Labels: cncf-cla: yes, size/S, lgtm, approved, tide/merge-method-squash, language/en

#48227 [zh] Sync config-and-storage-resources/storage-class-v1.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/storage-class-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48216 [es] Removed Weave Scope link
  content/es/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es, area/localization

#48158 Approval permission for 1.32 Release
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#48044 Clean up a new blog: 2024-09-17-sig-scheduling-spotlight
  content/en/blog/_posts/2024-09-17-sig-scheduling-spotlight.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en, area/blog

#48242 fix: Drew should not be a website owner
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#47770 Promote RetryGenerateName to GA in 1.32
  content/en/docs/concepts/overview/working-with-objects/names.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/retry-generate-name.md
Labels: cncf-cla: yes, size/S, lgtm, sig/api-machinery, approved, language/en

#48232 [zh] Sync common-definitions/object-meta, delete-options, and label-selector
  content/zh-cn/docs/reference/kubernetes-api/common-definitions/delete-options.md
  content/zh-cn/docs/reference/kubernetes-api/common-definitions/label-selector.md
  content/zh-cn/docs/reference/kubernetes-api/common-definitions/object-meta.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48243 [zh-cn]sync 2024-09-17-sig-scheduling-spotlight.md
  content/zh-cn/blog/_posts/2024-09-17-sig-scheduling-spotlight.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48244 [zh] sync self-subject-review-v1 replica-set-v1 cluster-upgrade
  content/zh-cn/docs/reference/kubernetes-api/authentication-resources/self-subject-review-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/replica-set-v1.md
  content/zh-cn/docs/tasks/administer-cluster/cluster-upgrade.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48173 [zh-cn] Add blog: 2024-10-02-steering-committee-results-2024.md
  content/zh-cn/blog/_posts/2024-10-02-steering-committee-results-2024.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#44094 [en] config-pod-configmap add cleanup step and fix commands.
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#48234 [ru] Update KubeCon 2024-2025 events
  content/ru/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru, area/localization

#48261 [ja] Update links for AMD GPU device plugin
  content/ja/docs/tasks/manage-gpus/scheduling-gpus.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#47605 [ja] Translate content/en/docs/concepts/services-networking/cluster-ip-allocation.md into Japanese
  content/ja/docs/concepts/services-networking/cluster-ip-allocation.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#47967 Add dedicated seccomp node reference
  content/en/docs/concepts/security/linux-kernel-security-constraints.md
  content/en/docs/reference/node/_index.md
  content/en/docs/reference/node/seccomp.md
  content/en/docs/tasks/administer-cluster/securing-a-cluster.md
  content/en/examples/pods/security/seccomp/fields.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/node, approved, language/en, sig/security

#47425 outline files kubelet uses
  content/en/docs/reference/node/_index.md
  content/en/docs/reference/node/kubelet-files.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, approved, language/en

#48253 added AMD64 CPU as a requirement
  content/en/docs/tasks/run-application/run-replicated-stateful-application.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48235 Supplement the description of IPVS
  content/en/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/S, lgtm, sig/network, approved, language/en

#48266 Update cloud-native-security.md
  content/en/docs/concepts/security/cloud-native-security.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, tide/merge-method-squash, language/en

#48262 [zh-cn]sync linux-kernel-security-constraints
  content/zh-cn/docs/concepts/security/linux-kernel-security-constraints.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48267 Changed the command for Attaching to the shell container
  content/en/docs/tasks/configure-pod-container/share-process-namespace.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#45885 Update en-update-intro.html
  content/en/docs/tutorials/kubernetes-basics/update/update-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#48265 kubectl: document create plugins
  content/en/docs/tasks/extend-kubectl/kubectl-plugins.md
Labels: cncf-cla: yes, size/S, lgtm, approved, tide/merge-method-squash, language/en

#48238 Update multi-tenancy.md
  content/en/docs/concepts/security/multi-tenancy.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48268 [uk] Update KubeCon 2024-2025 events
  content/uk/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk, area/localization

#48186 [pt] Removed Weave Scope link
  content/pt-br/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/localization

#48277 [ja] Remove deprecated note
  content/ja/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#48249 [zh-cn] Resync content/zh-cn/docs/reference/networking/virtual-ips.md
  content/zh-cn/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#48274 [zh-cn] sync cloud-native-security.md
  content/zh-cn/docs/concepts/security/cloud-native-security.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48275 [zh-cn] sync concepts/multi-tenancy.md
  content/zh-cn/docs/concepts/security/multi-tenancy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#47938 Promote LoadBalancerIPMode to GA
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/load-balancer-ip-mode.md
Labels: cncf-cla: yes, size/S, lgtm, sig/network, approved, language/en

#48269 [zh] Add node/seccomp.md
  content/zh-cn/docs/reference/node/seccomp.md
  content/zh-cn/examples/pods/security/seccomp/fields.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48272 [zh] Add feature-gates/RemoveSelfLink.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/RemoveSelfLink.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#48286 [zh] sync client-authentication.v1beta1 node-selector-requirement ingress-v1
  content/zh-cn/docs/reference/config-api/client-authentication.v1beta1.md
  content/zh-cn/docs/reference/kubernetes-api/common-definitions/node-selector-requirement.md
  content/zh-cn/docs/reference/kubernetes-api/service-resources/ingress-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48230 Extract documentation styles to own file
  assets/scss/_base.scss
  assets/scss/_custom.scss
  assets/scss/_documentation.scss
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, area/web-development

#48178 Update the multi tenancy docs to remove reference to archived project
  content/en/docs/concepts/security/multi-tenancy.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48226 Fix poor web style in some page footers
  assets/scss/_custom.scss
  static/css/gridpage.css
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#48296 Clean up using-api/cel.md
  content/en/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/L, lgtm, approved, kind/cleanup, language/en

#48293 [zh] Resync labels-annotations-taints/_index.md
  content/zh-cn/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48301 [zh] update service-resources/service-v1.md
  content/zh-cn/docs/reference/kubernetes-api/service-resources/service-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/zh, area/localization

#48285 [zh] Add 2024-08-19-pod-failure-policy-for-jobs-goes-ga.md
  content/zh-cn/blog/_posts/2024-08-19-pod-failure-policy-for-jobs-goes-ga.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48284 [zh] Add glossary/duration.md
  content/zh-cn/docs/reference/glossary/duration.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#48299 Explain nuances of the term "container"
  content/en/docs/concepts/containers/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#46230 Add more detail about media types
  content/en/docs/reference/glossary/manifest.md
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, wg/api-expression

#48304 Fix incorrect content type in API reference page
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48312 [zh-cn] sync reference/cron-job-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/cron-job-v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48310 [zh-cn] sync reference/node/_index.md
  content/zh-cn/docs/reference/node/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48311 [zh-cn] sync reference/psp-to-pod-security-standards.md
  content/zh-cn/docs/reference/access-authn-authz/psp-to-pod-security-standards.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48313 [zh-cn] sync reference/horizontal-pod-autoscaler-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/horizontal-pod-autoscaler-v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48314 [zh-cn] sync weight in multi reference files
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/runtime-class-v1.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/volume-attachment-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/horizontal-pod-autoscaler-v2.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/pod-template-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48324 [fr] Changed the command for Attaching to the shell container
  content/fr/docs/tasks/configure-pod-container/share-process-namespace.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr, area/localization

#48294 Localizes in Hindi customresourcedefinition.md
  content/hi/docs/reference/glossary/customresourcedefinition.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi, area/localization

#48292 Localizes in Hindi container-env-variables.md
  content/hi/docs/reference/glossary/container-env-variables.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi, area/localization

#48306 adding docs and link for sidecar termination behaviour
  content/en/docs/concepts/workloads/pods/sidecar-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48316 [zh-cn] remove useless other-resources
  content/zh-cn/docs/reference/kubernetes-api/other-resources/_index.md
  content/zh-cn/docs/reference/kubernetes-api/other-resources/validating-admission-policy-binding-list-v1beta1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48315 [zh-cn] sync reference/manifest.md
  content/zh-cn/docs/reference/glossary/manifest.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48300 [zh-cn] add 2024-08-21-cgroup-driver-from-cri.md chinese version
  content/zh-cn/blog/_posts/2024-08-21-cgroup-driver-from-cri.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#47159 [ko] Add ingress class name to example-ingress.yaml
  content/ko/examples/service/networking/example-ingress.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, lifecycle/stale, language/ko, area/localization

#43707 [ko] Update outdated files in dev-1.27-ko.1 (M160-M176)
  content/ko/docs/tasks/configure-pod-container/_index.md
  content/ko/docs/tasks/configure-pod-container/assign-cpu-resource.md
  content/ko/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/ko/docs/tasks/configure-pod-container/assign-pods-nodes-using-node-affinity.md
  content/ko/docs/tasks/configure-pod-container/assign-pods-nodes.md
  content/ko/docs/tasks/configure-pod-container/configure-gmsa.md
  content/ko/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
  content/ko/docs/tasks/configure-pod-container/configure-pod-initialization.md
  content/ko/docs/tasks/configure-pod-container/configure-projected-volume-storage.md
  content/ko/docs/tasks/configure-pod-container/configure-runasusername.md
  content/ko/docs/tasks/configure-pod-container/configure-volume-storage.md
  content/ko/docs/tasks/configure-pod-container/extended-resource.md
  content/ko/docs/tasks/configure-pod-container/pull-image-private-registry.md
  content/ko/docs/tasks/configure-pod-container/quality-service-pod.md
  content/ko/docs/tasks/configure-pod-container/static-pod.md
  content/ko/docs/tasks/configure-pod-container/translate-compose-kubernetes.md
  content/ko/docs/tasks/configure-pod-container/user-namespaces.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#48008 Safe Sysctl 1.32 sync: net.ipv4.rmem and net.ipv4.wmem
  content/en/docs/reference/node/kernel-version-requirements.md
  content/en/docs/tasks/administer-cluster/sysctl-cluster.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/network, approved, language/en

#48309 [zh] Sync using-api/api-concepts.md
  content/zh-cn/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48307 [ja] Changed the command for Attaching to the shell container
  content/ja/docs/tasks/configure-pod-container/share-process-namespace.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#48329 [zh] sync share-process-namespace horizontal-pod-autoscale run-replicated-stateful-application
  content/zh-cn/docs/tasks/configure-pod-container/share-process-namespace.md
  content/zh-cn/docs/tasks/run-application/horizontal-pod-autoscale.md
  content/zh-cn/docs/tasks/run-application/run-replicated-stateful-application.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48345 Fix typo of selector-selector
  content/en/docs/concepts/workloads/controllers/ttlafterfinished.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48318 Include missing core object in glossary
  content/en/docs/reference/glossary/network-policy.md
  content/en/docs/reference/glossary/node.md
  content/en/docs/reference/glossary/pod-template.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#48327 Localizes image.md in Hindi
  content/hi/docs/reference/glossary/image.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi, area/localization

#48283 fix: update the doc for metrics cardinality enforcement
  content/en/docs/concepts/cluster-administration/system-metrics.md
Labels: cncf-cla: yes, size/S, lgtm, sig/instrumentation, approved, language/en

#48321 Fix schema URL fragment in custom-resource-definitions.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#48336 [zh-cn] sync configure-pod-configmap.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48338 [zh-cn] sync concepts/containers/_index.md
  content/zh-cn/docs/concepts/containers/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48326 [zh] Sync pods/sidecar-containers.md
  content/zh-cn/docs/concepts/workloads/pods/sidecar-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48346 [zh] Sync cluster-administration/system-metrics.md
  content/zh-cn/docs/concepts/cluster-administration/system-metrics.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#47763 Rename README files for localization teams
  README.md
  content/bn/README.md
  content/de/README.md
  content/es/README.md
  content/fr/README.md
  content/hi/README.md
  content/id/README.md
  content/it/README.md
  content/ja/README.md
  content/ko/README.md
  content/pl/README.md
  content/pt-br/README.md
  content/ru/README.md
  content/uk/README.md
  content/vi/README.md
  content/zh-cn/README.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko, language/ja, language/zh, language/fr, language/it, language/de, language/es, language/pt, language/id, language/hi, language/ru, language/vi, language/pl, language/uk, area/localization, language/bn

#48361 Change date for October 2024 releases
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, area/release-eng

#48333 Remove the object from glossary which are not part of core objects
  content/en/docs/reference/glossary/cloud-controller-manager.md
  content/en/docs/reference/glossary/dynamic-volume-provisioning.md
  content/en/docs/reference/glossary/qos-class.md
  content/en/docs/reference/glossary/quantity.md
  content/en/docs/reference/glossary/taint.md
  content/en/docs/reference/glossary/volume-plugin.md
  content/en/docs/reference/glossary/volume.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48360 [zh] Delete Localization READMEs section in localized README
  content/zh-cn/README.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/zh, area/localization

#48359 [vi] Delete Localization READMEs section in localized README
  content/vi/README.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/vi, area/localization

#48335 [hi] Add Hindi glossary entry for "label"
  content/hi/docs/reference/glossary/label.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi, area/localization

#48302 [zh] Resync reference/using-api/cel.md
  content/zh-cn/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48357 [ru] Delete Localization READMEs section in localized README
  content/ru/README.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/ru, area/localization

#48372 [id] Changed the command for Attaching to the shell container
  content/id/docs/tasks/configure-pod-container/share-process-namespace.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#48373 [zh] sync multi-tenancy securing-a-cluster custom-resource-definitions
  content/zh-cn/docs/concepts/security/multi-tenancy.md
  content/zh-cn/docs/tasks/administer-cluster/securing-a-cluster.md
  content/zh-cn/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48375 Tweak and clean up four kubeadm files
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/ha-topology.md
  content/en/docs/setup/production-environment/tools/kubeadm/high-availability.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/L, lgtm, approved, kind/cleanup, language/en

#48094 Add Tutorial Running Kubelet in Standalone Mode
  content/en/docs/tutorials/_index.md
  content/en/docs/tutorials/cluster-management/_index.md
  content/en/docs/tutorials/cluster-management/kubelet-standalone.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/node, sig/docs, approved, language/en

#48387 Fix wrong URL scheme for local preview
  content/en/docs/contribute/new-content/open-a-pr.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48319 Localizes in Hindi applications.md
  content/hi/docs/reference/glossary/applications.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi, area/localization

#47504 Correct statement about Pod Ready condition in probe config section
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48358 [uk] Delete Localization READMEs section in localized README
  content/uk/README.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/uk, area/localization

#48349 [zh] Update best-practices/cluster-large.md
  content/zh-cn/docs/setup/best-practices/cluster-large.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48353 [ja] Delete Localization READMEs section in localized README
  content/ja/README.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, language/ja, area/localization

#48392 [zh] Sync four files in tools/kubeadm/
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/ha-topology.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/high-availability.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48352 [bn] Delete Localization READMEs section in localized README
  content/bn/README.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, area/localization, language/bn

#48409 Link from cluster operator glossary entry to operator pattern page
  content/en/docs/reference/glossary/cluster-operator.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48410 [pt] Changed the command for Attaching to the shell container
  content/pt-br/docs/tasks/configure-pod-container/share-process-namespace.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/localization

#48386 Tweak docs about docs for features
  content/en/docs/contribute/new-content/new-features.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#48391 Link to PVC API reference from "Persistent Volumes" concept page
  content/en/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, tide/merge-method-squash, language/en
