Repository kubernetes/website, pull requests merged in 2024-02, with the labels that each got.

#44969 [zh-cn]sync scheduling/config.md
  content/zh-cn/docs/reference/scheduling/config.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44203 [ko] Fix typo in 'DNS for Services and Pods' page
  content/ko/docs/concepts/services-networking/dns-pod-service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko

#44943 [zh] sync endpoint-slices create-cluster-kubeadm kubeadm-upgrade
  content/zh-cn/docs/concepts/services-networking/endpoint-slices.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44972 [CEL doc] Fix the hyperlinks, add quantity, optional, CrossTypeNumericComparisons which is available now
  content/en/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#44800 Update docs around sidecar containers
  content/en/docs/concepts/workloads/pods/init-containers.md
  content/en/docs/concepts/workloads/pods/sidecar-containers.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, language/en

#44954 Fix highlighting for added lines
  content/en/docs/tasks/manage-gpus/scheduling-gpus.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44927 updated the link for admission webhook controller in dns for pod and service page
  content/en/docs/concepts/services-networking/dns-pod-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44957 Resolve typos on page "Role Based Access Control Good Practices"
  content/en/docs/concepts/security/rbac-good-practices.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44545 [ja] Translate `content/en/docs/reference/glossary/cgroup.md` into Japanese
  content/ja/docs/reference/glossary/cgroup.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#44626 Revise explanation for DefaultHostNetworkHostPortsInPodTemplates
  content/en/docs/reference/command-line-tools-reference/feature-gates/default-host-network-ports-in-pod-templates.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/network, approved, language/en

#44997 Merge main branch into dev-1.30
  content/en/docs/concepts/security/rbac-good-practices.md
  content/en/docs/concepts/services-networking/dns-pod-service.md
  content/en/docs/contribute/new-content/blogs-case-studies.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/default-host-network-ports-in-pod-templates.md
  content/en/docs/reference/using-api/cel.md
  content/en/docs/tasks/manage-gpus/scheduling-gpus.md
  content/ja/docs/concepts/services-networking/ingress-controllers.md
  content/ja/docs/concepts/workloads/controllers/job.md
  content/ja/docs/contribute/_index.md
  content/ja/docs/reference/glossary/cgroup.md
  content/ja/docs/tasks/administer-cluster/coredns.md
  content/ja/docs/tasks/debug/debug-application/determine-reason-pod-failure.md
  content/ja/docs/tasks/debug/debug-cluster/_index.md
  content/ja/docs/tasks/run-application/delete-stateful-set.md
  content/ja/releases/_index.md
  content/pt-br/docs/concepts/storage/persistent-volumes.md
  content/zh-cn/docs/concepts/overview/components.md
  content/zh-cn/docs/concepts/overview/working-with-objects/names.md
  content/zh-cn/docs/concepts/services-networking/endpoint-slices.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/stateful-set-auto-delete-pvc.md
  content/zh-cn/docs/reference/scheduling/config.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/zh-cn/docs/tasks/administer-cluster/encrypt-data.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/zh-cn/docs/tutorials/hello-minikube.md
  data/i18n/ja/ja.toml
  layouts/partials/head.html
  layouts/partials/scripts.html
  static/js/mermaid-10.6.1.min.js
  static/js/mermaid-8.13.4.min.js
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, language/ja, language/zh, language/pt

#43632 Replaces git.io URLs in kubectl cheatsheet
  content/en/docs/reference/kubectl/quick-reference.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#45003 [bn] Fixes issue to go live in bn
  content/bn/_common-resources/images/blocks.svg
  content/bn/_common-resources/images/flower.svg
  content/bn/_common-resources/images/kub_video_banner_homepage.jpg
  content/bn/_common-resources/images/scalable.svg
  content/bn/_common-resources/images/suitcase.svg
  content/bn/_common-resources/index.md
  content/bn/docs/tasks/tools/included/_index.md
  content/bn/docs/tasks/tools/included/optional-kubectl-configs-bash-linux.md
  content/bn/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
  content/bn/docs/tasks/tools/included/optional-kubectl-configs-fish.md
  content/bn/docs/tasks/tools/included/optional-kubectl-configs-pwsh.md
  content/bn/docs/tasks/tools/included/optional-kubectl-configs-zsh.md
  content/bn/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/bn

#44917 [ja] add figure/description in `content/ja/docs/concepts/architecture/_index.md`
  content/ja/docs/concepts/architecture/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#45006 [bn] fix typo in optional-kubectl-configs-zsh.md
  content/bn/docs/tasks/tools/included/optional-kubectl-configs-zsh.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/bn

#44433 [ko] Move feature gates pages
  content/ko/docs/reference/command-line-tools-reference/feature-gates-removed/index.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#45011 Add link to supported networking addons in "Creating a cluster with kubeadm" page
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en, triage/accepted

#44986 Fix (some) Bengali issues
  content/bn/docs/reference/glossary/index.md
  hugo.toml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45000 [zh] Resolve typos
  content/zh-cn/docs/concepts/security/rbac-good-practices.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44766 [ru] Localization of concepts/workloads/controllers/cron-jobs.md
  content/ru/docs/concepts/workloads/controllers/cron-jobs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ru

#45014 [zh-cn] sync kubectl/quick-reference.md
  content/zh-cn/docs/reference/kubectl/quick-reference.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45049 Merge main branch into dev-1.30
  content/en/docs/reference/kubectl/quick-reference.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/ja/docs/concepts/architecture/_index.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates-removed/index.md
  content/ko/docs/reference/command-line-tools-reference/feature-gates/index.md
  content/ru/docs/concepts/workloads/controllers/cron-jobs.md
  content/zh-cn/docs/concepts/security/rbac-good-practices.md
  content/zh-cn/docs/reference/kubectl/quick-reference.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, language/ko, language/ja, language/zh, language/ru

#45070 [zh-cn]sync kubelet-credentialprovider.v1.md
  content/zh-cn/docs/reference/config-api/kubelet-credentialprovider.v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45028 KEP-3705 CloudDualStackNodeIPs to GA
  content/en/docs/reference/command-line-tools-reference/feature-gates/cloud-dual-stack-node-ips.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/network, approved, language/en

#45025 [bn] Localize notes.md
  content/bn/releases/notes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#44753 [pt-br] Add /docs/tasks/access-application-cluster/access-cluster.md
  content/pt-br/docs/tasks/access-application-cluster/access-cluster.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt

#44755 [pt-br] Add /docs/tasks/access-application-cluster/configure-access-m…
  content/pt-br/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt

#45022 Fix path for example yaml in 'Coarse Parallel Processing Using a Work Queue' task page
  content/en/docs/tasks/job/coarse-parallel-processing-work-queue.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#45060 Fixed the link for create a ConfigMap
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44914 Update quick-reference.md
  content/en/docs/reference/kubectl/quick-reference.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45066 Fix lines kubernetes-cluster-architecture.svg
  static/images/docs/kubernetes-cluster-architecture.svg
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#44798 Improve docs for Pods
  content/en/docs/concepts/workloads/pods/_index.md
  content/en/docs/concepts/workloads/pods/disruptions.md
  content/en/docs/concepts/workloads/pods/ephemeral-containers.md
  content/en/docs/reference/glossary/init-container.md
  content/en/docs/reference/glossary/sidecar-container.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#44640 Update hugo and node versions
  netlify.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#42335 Translate blog/2023/01/06/unhealthy-pod-eviction-policy-for-pdbs/ into Japanese
  content/ja/blog/_posts/2023-01-06-unhealthy-pod-eviction-policy-for-pdb.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#45120 socks5-proxy-access-api.md: fix broken mermaid diagram
  content/en/docs/tasks/extend-kubernetes/socks5-proxy-access-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45096 Merge main branch into dev-1.30
  content/pt-br/docs/tasks/access-application-cluster/access-cluster.md
  content/pt-br/docs/tasks/access-application-cluster/configure-access-multiple-clusters.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/pt

#45111 Fix `matchLabelKeys` example yaml
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#44990 Update the kubeadm page docs
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en, triage/accepted

#45032 Enhance 'feature-state' shortcode to utilize feature gate description files
  content/en/docs/concepts/architecture/garbage-collection.md
  content/en/docs/concepts/architecture/leases.md
  content/en/docs/concepts/architecture/mixed-version-proxy.md
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/cluster-administration/system-logs.md
  content/en/docs/concepts/cluster-administration/system-traces.md
  content/en/docs/concepts/containers/images.md
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/contribute/style/hugo-shortcodes/index.md
  data/i18n/en/en.toml
  layouts/shortcodes/feature-state.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/web-development

#44767 Styling improvements for scale-intro.md
  content/en/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/web-development

#44963 Fix grammatical error regarding setup scripts in Kubernetes Components documentation
  content/en/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44953 Add missing space in Pod Lifecycle concept page
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44951 Reword advice about encryption-at-rest opt outs
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, sig/security

#44757 [ja] fix: Typo in Japanese translation of "cluster" and remove unnecessary spaces at the end of lines
  content/ja/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#44950 [ja]Update kubeadm installation instructions in Japanese documentation
  content/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#44935 [ja] Translate blog: Spotlight on SIG Release (Release Team Subproject)
  content/ja/blog/_posts/2024-01-15-SIG-Release-Spotlight/index.md
  content/ja/blog/_posts/2024-01-15-SIG-Release-Spotlight/sig-release-meetings.png
  content/ja/blog/_posts/2024-01-15-SIG-Release-Spotlight/sig-release-motivation.png
  content/ja/blog/_posts/2024-01-15-SIG-Release-Spotlight/sig-release-overview.png
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja

#44942 Information about default StorageClasses
  content/en/docs/concepts/storage/dynamic-provisioning.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42518 Specify recommended Windows hardware requirements
  content/en/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/M, lgtm, sig/windows, sig/docs, approved, language/en

#45139 [zh] Update quick-reference.md
  content/zh-cn/docs/reference/kubectl/quick-reference.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45136 Remove `SecurityContextDeny` admission documentation
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, sig/docs, approved, language/en, sig/security

#45110 [zh] Fix path for example yaml
  content/zh-cn/docs/tasks/job/coarse-parallel-processing-work-queue.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44832 Use sudo for elevated permissions while upgrading clusters using kubeadm
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/en/docs/tasks/administer-cluster/kubeadm/upgrading-linux-nodes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#45145 [zh-cn] sync kubeadm/create-cluster-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44815 Fix Kubelet skew version for the Kubeadm
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, tide/merge-method-squash, language/en

#45164 Update glossary.html by adding missing whitespace after colon for AKA list
  layouts/docs/glossary.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#44947 [de] Localization of some additional glossary items
  content/de/docs/reference/glossary/cadvisor.md
  content/de/docs/reference/glossary/certificate.md
  content/de/docs/reference/glossary/cidr.md
  content/de/docs/reference/glossary/cla.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/de

#45169 update kubeconfig user --config
  content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en, triage/accepted

#44959 Adds a new concept page for autoscaling
  content/en/docs/concepts/workloads/autoscaling.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#45073 kubeadm-certs: add notes about different external CA approaches
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: cncf-cla: yes, size/M, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en, sig/security

#45148 Add ReadOnlyAPIDataVolumes in removed feature gates list
  content/en/docs/reference/command-line-tools-reference/feature-gates/readonly-apidata-volumes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/storage, sig/docs, approved, language/en

#43176 Move and revise overview for Security section
  content/en/docs/concepts/security/_index.md
  content/en/docs/concepts/security/cloud-native-security.md
  content/en/docs/concepts/security/overview.md
  content/en/docs/concepts/security/pod-security-standards.md
  content/en/docs/concepts/security/service-accounts.md
  data/i18n/en/en.toml
  layouts/shortcodes/thirdparty-content.html
  static/_redirects
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/en, sig/security, refactor

#45069 [zh-cn] sync kubeadm-config.v1beta3.md
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta3.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45157 [zh] fix broken mermaid diagram
  content/zh-cn/docs/tasks/extend-kubernetes/socks5-proxy-access-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45183 [zh-cn] sync and remove security/overview.md
  content/zh-cn/docs/concepts/security/overview.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45184 [zh-cn]sync readonly-apidata-volumes.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/readonly-apidata-volumes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#44995 [ja] move `version-skew-policy.md` from `content/ja/docs/setup/release/` to `content/ja/releases/`
  content/ja/docs/setup/release/_index.md
  content/ja/releases/version-skew-policy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#44307 [zh] Sync /pods/init-containers.md
  content/zh-cn/docs/concepts/workloads/pods/init-containers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45186 [zh-cn]sync security/_index.md
  content/zh-cn/docs/concepts/security/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45192 [zh-cn]sync validating-admission-policy-binding-list-v1beta1.md
  content/zh-cn/docs/reference/kubernetes-api/other-resources/validating-admission-policy-binding-list-v1beta1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45015 [zh] sync `concepts/containers/image.md`
  content/zh-cn/docs/concepts/containers/images.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45203 Fix "feature-state" shortcode rendering within "tab" shortcode
  layouts/shortcodes/feature-state.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/web-development

#45190 Register audit annotation for admission policy validation
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44487 Add a security.txt
  .well-known/security.txt
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, sig/security

#45220 [zh] Add missing space
  content/zh-cn/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45160 [zh] Sync kubeadm-upgrade.md and upgrading-linux-nodes.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/upgrading-linux-nodes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45218 Add feb patch updates and propose May patch release dates
  content/en/releases/patch-releases.md
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#45222 Minor improvements to network-policies concept
  content/en/docs/concepts/services-networking/network-policies.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#45229 Clean up OWNERS_ALIASES English groups
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#42549 [hi] Localize glossary entry for “workload”
  content/hi/docs/reference/glossary/workload.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi

#45210 [zh-cn] sync encrypt-data create-cluster-kubeadm encrypt-data localization
  content/zh-cn/docs/contribute/localization.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
  content/zh-cn/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45242 Revise advice about local API reference preview
  README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#45165 Add Kubernetes Book Club article
  content/en/blog/_posts/2024-02-22-k8s-book-club/csantana_k8s_book_club.jpg
  content/en/blog/_posts/2024-02-22-k8s-book-club/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#45284 blog: Update expected end date for legacy package repos
  content/en/blog/_posts/2023-08-31-legacy-package-repository-deprecation/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#45258 Fix broken link for "Install the Weave Net addon" documentation in "Weave Net for NetworkPolicy" page
  content/en/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45296 Update link for "AMD GPU device plugin" in "Devices Plugins" page
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45235 Update reference links to commands in /kubectl/kubectl.md
  content/en/docs/reference/kubectl/kubectl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#45298 [zh] Fix broken link
  content/zh-cn/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45281 [zh] fix typo in `content/zh-cn/docs/concepts`
  content/zh-cn/docs/concepts/architecture/garbage-collection.md
  content/zh-cn/docs/concepts/policy/limit-range.md
  content/zh-cn/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/zh-cn/docs/concepts/security/api-server-bypass-risks.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45207 [zh-cn] sync apiserver-admission.v1.md imagepolicy.v1alpha1.md
  content/zh-cn/docs/reference/config-api/apiserver-admission.v1.md
  content/zh-cn/docs/reference/config-api/imagepolicy.v1alpha1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44881 [zh] sync device-plugins cron-jobs
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/zh-cn/docs/concepts/workloads/controllers/cron-jobs.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#45303 [blog] Emphasis on person's name.
  content/en/blog/_posts/2024-02-22-k8s-book-club/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#45233 [zh] Sync kubectl.md and kubectl-cmds.md
  content/zh-cn/docs/reference/kubectl/kubectl-cmds.md
  content/zh-cn/docs/reference/kubectl/kubectl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45243 [zh] sync style-guide kube-scheduler-config.v1 slis
  content/zh-cn/docs/contribute/style/style-guide.md
  content/zh-cn/docs/reference/config-api/kube-scheduler-config.v1.md
  content/zh-cn/docs/reference/instrumentation/slis.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45095 docs(kubeadm-upgrade): add consideration on etcd upgrade impact
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en, triage/accepted

#45241 [zh-cn]sync patch-releases network-policies
  content/zh-cn/docs/concepts/services-networking/network-policies.md
  content/zh-cn/releases/patch-releases.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45300 [zh] Sync /kubectl/kubectl.md
  content/zh-cn/docs/reference/kubectl/kubectl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45313 [ko] Fix broken link
  content/ko/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#45328 [fr]: Removing old CSS includes from tutorials and fix html href
  content/fr/docs/tutorials/kubernetes-basics/_index.html
  content/fr/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/fr/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/fr/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/fr/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/fr/docs/tutorials/kubernetes-basics/explore/explore-intro.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/fr, area/localization

#45310 Merge main branch into dev-1.30
  OWNERS_ALIASES
  README.md
  content/en/blog/_posts/2023-08-31-legacy-package-repository-deprecation/index.md
  content/en/blog/_posts/2024-02-22-k8s-book-club/csantana_k8s_book_club.jpg
  content/en/blog/_posts/2024-02-22-k8s-book-club/index.md
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/en/docs/concepts/services-networking/network-policies.md
  content/en/docs/reference/kubectl/kubectl.md
  content/en/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy.md
  content/hi/docs/reference/glossary/workload.md
  content/zh-cn/docs/concepts/architecture/garbage-collection.md
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/zh-cn/docs/concepts/policy/limit-range.md
  content/zh-cn/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/zh-cn/docs/concepts/security/api-server-bypass-risks.md
  content/zh-cn/docs/concepts/workloads/controllers/cron-jobs.md
  content/zh-cn/docs/contribute/localization.md
  content/zh-cn/docs/reference/config-api/apiserver-admission.v1.md
  content/zh-cn/docs/reference/config-api/imagepolicy.v1alpha1.md
  content/zh-cn/docs/reference/kubectl/kubectl-cmds.md
  content/zh-cn/docs/reference/kubectl/kubectl.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
  content/zh-cn/docs/tasks/administer-cluster/encrypt-data.md
  content/zh-cn/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/en, language/zh, area/blog, language/hi

#45236 Promote feature gate StableLoadBalancerNodeSet to GA
  content/en/docs/reference/command-line-tools-reference/feature-gates/stable-load-balancer-node-set.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/network, approved, language/en

#44657 fix incorrect volume doc
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/storage, sig/docs, approved, language/en

#45322 [id] Update link
  content/id/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#45013 [zh] Fix raw HTML data in the tutorials page
  content/zh-cn/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44910 Modified storage access for zone and deleted PersistentVolumeLabel since its deprecated
  content/en/docs/setup/best-practices/multiple-zones.md
Labels: cncf-cla: yes, size/S, lgtm, sig/storage, sig/docs, approved, language/en

#45314 [zh-cn] sync kubeadm-upgrade.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#45337 Correcting API field paths in Volumes page
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45334 Fix typo in ephemeral-volumes.md
  content/en/docs/concepts/storage/ephemeral-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45326 [de]: fix html reference to the German documentations
  content/de/docs/tutorials/kubernetes-basics/_index.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/de

#45333 [id] fix link button
  content/id/docs/concepts/_index.md
  content/id/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#45237 [zh] Localize /kubectl/generated/kubectl_annotate
  content/zh-cn/docs/reference/kubectl/generated/kubectl_annotate/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#45304 [Synchronized] Update README-vi.md & vi.toml
  README-vi.md
  data/i18n/vi/vi.toml
Labels: cncf-cla: yes, size/XL, sig/docs, language/vi

#45348 fix typo
  content/de/docs/concepts/containers/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#45349 Clarify in the documentation what we mean with "allocated to MongoDB on the internet"
  content/en/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45311 Remove references to bridge-nf-call-iptables
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/network, approved, language/en

#45307 Fix wording in configure-upgrade-etcd.md
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#45341 [zh] sync blogs-case-studies multiple-zones
  content/zh-cn/docs/contribute/new-content/blogs-case-studies.md
  content/zh-cn/docs/setup/best-practices/multiple-zones.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45365 [zh-cn]fix format issue
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/mutating-webhook-configuration-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/job-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45374 [zh] Update link
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45001 [ja] Translate `content/en/releases/notes.md` into Japanese
  content/ja/releases/notes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#45359 [zh] Sync multiple-zones.md
  content/zh-cn/docs/setup/best-practices/multiple-zones.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45377 Merge main branch into dev-1.30
  README-vi.md
  content/de/docs/concepts/containers/_index.md
  content/de/docs/tutorials/kubernetes-basics/_index.html
  content/en/docs/concepts/storage/ephemeral-volumes.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/setup/best-practices/multiple-zones.md
  content/en/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/es/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/es/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/fr/docs/tutorials/kubernetes-basics/_index.html
  content/fr/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/fr/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/fr/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/fr/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/fr/docs/tutorials/kubernetes-basics/explore/explore-intro.html
  content/id/docs/concepts/_index.md
  content/id/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/id/docs/home/_index.md
  content/ko/docs/tasks/administer-cluster/network-policy-provider/weave-network-policy.md
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/zh-cn/docs/concepts/services-networking/network-policies.md
  content/zh-cn/docs/contribute/new-content/blogs-case-studies.md
  content/zh-cn/docs/contribute/style/style-guide.md
  content/zh-cn/docs/reference/config-api/kube-scheduler-config.v1.md
  content/zh-cn/docs/reference/instrumentation/slis.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_annotate/_index.md
  content/zh-cn/docs/reference/kubectl/kubectl.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/mutating-webhook-configuration-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/job-v1.md
  content/zh-cn/docs/setup/best-practices/multiple-zones.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/zh-cn/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/zh-cn/releases/patch-releases.md
  data/i18n/vi/vi.toml
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, language/ko, language/zh, language/fr, language/de, language/es, language/id, language/vi

#45378 Fix missing whitespace in thirdparty-content.html
  layouts/shortcodes/thirdparty-content.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#45376 [zh] Sync configure-upgrade-etcd.md
  content/zh-cn/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45380 update scale-intro.html (close <code> tag)
  content/ru/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#44693 Remove hostPort field from the liveness probe examples to align with Kubernetes best practices.
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45219 Promote LoadBalancerIPMode to Beta
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/load-balancer-ip-mode.md
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/network, approved, language/en

#45347 [es] localize content/es/docs/tasks/run-application/force-delete-stateful-set-pod.md to Spanish
  content/es/docs/tasks/run-application/force-delete-stateful-set-pod.md
Labels: cncf-cla: yes, size/L, lgtm, kind/feature, sig/docs, approved, language/es, area/localization

#45391 [en]fix hyper link format
  content/en/blog/_posts/2020-08-03-kubernetes-1-18-release-interview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#45392 Service term is formatted
  content/en/docs/tasks/access-application-cluster/service-access-application-cluster.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45306 Add SIG Cloud Provider spotlight article.
  content/en/blog/_posts/2024-03-01-sig-cloud-provider-spotlight.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#45399 Merge main branch into dev-1.30
  content/en/blog/_posts/2020-08-03-kubernetes-1-18-release-interview.md
  content/en/blog/_posts/2024-03-01-sig-cloud-provider-spotlight.md
  content/en/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/es/docs/tasks/run-application/force-delete-stateful-set-pod.md
  content/ja/releases/notes.md
  content/ru/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/zh-cn/docs/setup/best-practices/multiple-zones.md
  content/zh-cn/docs/tasks/administer-cluster/configure-upgrade-etcd.md
  layouts/shortcodes/thirdparty-content.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#43983 Add additional documentation around discovery and OpenAPI
  content/en/docs/concepts/overview/kubernetes-api.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, wg/api-expression

#45398 cel: provide example map validations
  content/en/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, wg/api-expression

#43973 in 1.27, the StatefulsetAutoDeletePVC is default true
  content/en/docs/reference/command-line-tools-reference/feature-gates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en
