Repository kubernetes/website, pull requests merged in 2024-06, with the labels that each got.

#46608 [zh-cn] sync node-metrics.md
  content/zh-cn/docs/reference/instrumentation/node-metrics.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#46609 [zh-cn] sync node-swap kubectl_annotate/_index
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/node-swap.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_annotate/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#46602 [zh] Modify ambiguous sentences in high-availability.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/high-availability.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#46607 [hi] Ready glossary page for vanilla Docsy
  content/hi/docs/reference/glossary/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi, area/web-development, area/localization

#45878 Correcting scenario inconsistencies and output checks
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
  content/en/examples/application/web/web.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#46498 Correct alignment in kubectl get pods dnsutils
  content/en/docs/tasks/administer-cluster/dns-debugging-resolution.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#46590 Fix stale docs about LB annotation
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#46482 fix wording on 2023-12-14 blogpost
  content/en/blog/_posts/2023-12-14-disabling-in-tree-cloud-provider-goes-beta.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#46582 Modify `node-hello` image to `hello-app`
  content/en/docs/tasks/extend-kubernetes/http-proxy-access-api.md
  content/en/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
  content/en/docs/tutorials/stateless-application/expose-external-ip-address.md
  content/en/examples/pods/inject/envars.yaml
  content/en/examples/pods/security/security-context-2.yaml
  content/en/examples/pods/security/security-context-3.yaml
  content/en/examples/pods/security/security-context-4.yaml
  content/en/examples/service/load-balancer-example.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en, area/localization

#46612 [zh] Sync administer-cluster/kubelet-config-file.md
  content/zh-cn/docs/tasks/administer-cluster/kubelet-config-file.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#46413 Update KubeCon 2024 events
  content/en/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#46619 Update custom-resources.md
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#46564 [ja] Translate code contributor definition
  content/ja/docs/reference/glossary/code-contributor.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#46615 [ja] Ready glossary page for vanilla Docsy
  content/ja/docs/reference/glossary/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#46517 [uk] Add include for Kubernetes cluster prerequisites
  content/uk/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk, area/localization

#46616 [zh-cn] sync basic-stateful-set.md
  content/zh-cn/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#46626 [zh-cn]sync update-api-object-kubectl-patch.md
  content/zh-cn/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#46610 [zh-cn] Localize generated/kubectl_version
  content/zh-cn/docs/reference/kubectl/generated/kubectl_version/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46617 [zh-cn] Localize generated/kubectl_uncordon
  content/zh-cn/docs/reference/kubectl/generated/kubectl_uncordon/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46629 [zh] Sync a tutorial: expose-external-ip-address.md
  content/zh-cn/docs/tutorials/stateless-application/expose-external-ip-address.md
  content/zh-cn/examples/service/load-balancer-example.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#46601 [zh] sync docs/concepts/services-networking/dual-stack.md
  content/zh-cn/docs/concepts/services-networking/dual-stack.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#46604 [zh-cn] sync resource-quotas.md
  content/zh-cn/docs/concepts/policy/resource-quotas.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#46632 [ru] Sync the main page with KubeCon 2024 events
  content/ru/_index.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ru, area/localization

#46624 [zh-cn] Localize generated/kubectl_api-resources
  content/zh-cn/docs/reference/kubectl/generated/kubectl_api-resources/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46625 [zh-cn] Localize generated/kubectl_attach
  content/zh-cn/docs/reference/kubectl/generated/kubectl_attach/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46634 [zh] sync custom-resources http-proxy-access-api
  content/zh-cn/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/zh-cn/docs/tasks/extend-kubernetes/http-proxy-access-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#45144 Device Plugins: add info about GA graduation
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/device-plugin-cdi-devices.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#46584 [ko] Ready glossary page for vanilla Docsy
  content/ko/docs/reference/glossary/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#45068 [ko] add searchbar to index page
  content/ko/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, lifecycle/stale, language/ko

#45397 [ko] Translate Concepts/Architecture/Mixed Version Proxy into Korean
  content/ko/docs/concepts/architecture/mixed-version-proxy.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#45339 [ko] Update link
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko

#46469 [ko] Ready Hello, Minikube page for vanilla Docsy
  content/ko/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/ko, area/localization

#46573 Updating Hindi localisation maintainers and PR wrangler for English
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi, area/localization

#46621 [ja] Translate content/en/docs/reference/glossary/cluster-infrastructure.md into Japanese
  content/ja/docs/reference/glossary/cluster-infrastructure.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#46596 [ja] fix Stable Storage section in Japanese
  content/ja/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#46641 Tweak name of feature gate file
  content/en/docs/reference/command-line-tools-reference/feature-gates/iptables-ownership-cleanup.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, kind/cleanup, language/en, refactor

#46627 Update 2017 blog content files to move author details in front-matter
  content/en/blog/_posts/2017-01-00-Fission-Serverless-Functions-As-Service-For-Kubernetes.md
  content/en/blog/_posts/2017-01-00-How-We-Run-Kubernetes-In-Kubernetes-Kubeception.md
  content/en/blog/_posts/2017-01-00-Kubernetes-Ux-Survey-Infographic.md
  content/en/blog/_posts/2017-01-00-Running-Mongodb-On-Kubernetes-With-Statefulsets.md
  content/en/blog/_posts/2017-01-00-Scaling-Kubernetes-Deployments-With-Policy-Base-Networking.md
  content/en/blog/_posts/2017-01-00-Stronger-Foundation-For-Creating-And-Managing-Kubernetes-Clusters.md
  content/en/blog/_posts/2017-02-00-Caas-The-Foundation-For-Next-Gen-Paas.md
  content/en/blog/_posts/2017-02-00-Highly-Available-Kubernetes-Clusters.md
  content/en/blog/_posts/2017-02-00-Postgresql-Clusters-Kubernetes-Statefulsets.md
  content/en/blog/_posts/2017-02-00-Run-Deep-Learning-With-Paddlepaddle-On-Kubernetes.md
  content/en/blog/_posts/2017-03-00-Advanced-Scheduling-In-Kubernetes.md
  content/en/blog/_posts/2017-03-00-Dynamic-Provisioning-And-Storage-Classes-Kubernetes.md
  content/en/blog/_posts/2017-03-00-K8Sport-Engaging-The-Kubernetes-Community.md
  content/en/blog/_posts/2017-03-00-Kubernetes-1-6-Multi-User-Multi-Workloads-At-Scale.md
  content/en/blog/_posts/2017-03-00-Scalability-Updates-In-Kubernetes-1-6.md
  content/en/blog/_posts/2017-04-00-Configuring-Private-Dns-Zones-Upstream-Nameservers-Kubernetes.md
  content/en/blog/_posts/2017-04-00-Multi-Stage-Canary-Deployments-With-Kubernetes-In-The-Cloud-Onprem.md
  content/en/blog/_posts/2017-04-00-Rbac-Support-In-Kubernetes.md
  content/en/blog/_posts/2017-05-00-Draft-Kubernetes-Container-Development.md
  content/en/blog/_posts/2017-05-00-Kubernetes-Monitoring-Guide.md
  content/en/blog/_posts/2017-05-00-Kubernetes-Security-Process-Explained.md
  content/en/blog/_posts/2017-05-00-Kubespray-Ansible-Collaborative-Kubernetes-Ops.md
  content/en/blog/_posts/2017-06-00-Kubernetes-1-7-Security-Hardening-Stateful-Application-Extensibility-Updates.md
  content/en/blog/_posts/2017-07-00-How-Watson-Health-Cloud-Deploys.md
  content/en/blog/_posts/2017-08-00-High-Performance-Networking-With-Ec2.md
  content/en/blog/_posts/2017-08-00-Kompose-Helps-Developers-Move-Docker.md
  content/en/blog/_posts/2017-08-00-Kubernetes-Meets-High-Performance.md
  content/en/blog/_posts/2017-09-00-Introducing-Resource-Management-Working.md
  content/en/blog/_posts/2017-09-00-Kubernetes-18-Security-Workloads-And.md
  content/en/blog/_posts/2017-09-00-Kubernetes-Statefulsets-Daemonsets.md
  content/en/blog/_posts/2017-09-00-Windows-Networking-At-Parity-With-Linux.md
  content/en/blog/_posts/2017-10-00-Enforcing-Network-Policies-In-Kubernetes.md
  content/en/blog/_posts/2017-10-00-Kubeadm-V18-Released.md
  content/en/blog/_posts/2017-10-00-Request-Routing-And-Policy-Management.md
  content/en/blog/_posts/2017-10-00-Software-Conformance-Certification.md
  content/en/blog/_posts/2017-10-00-Using-Rbac-Generally-Available-18.md
  content/en/blog/_posts/2017-11-00-Containerd-Container-Runtime-Options-Kubernetes.md
  content/en/blog/_posts/2017-11-00-Kubernetes-Easy-Way.md
  content/en/blog/_posts/2017-11-00-Securing-Software-Supply-Chain-Grafeas.md
  content/en/blog/_posts/2017-12-00-Introducing-Kubeflow-Composable.md
  content/en/blog/_posts/2017-12-00-Kubernetes-19-Workloads-Expanded-Ecosystem.md
  content/en/blog/_posts/2017-12-00-Paddle-Paddle-Fluid-Elastic-Learning.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en, area/blog

#45771 Improve "Reserve Compute Resources for System Daemons" doc
  content/en/docs/tasks/administer-cluster/reserve-compute-resources.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#46630 [zh] Localize kubectl/generated/kubectl_cp/
  content/zh-cn/docs/reference/kubectl/generated/kubectl_cp/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46643 [zh] Add index.md and kubectl.md to kubectl/generated
  content/zh-cn/docs/reference/kubectl/generated/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46645 Update node-hello image to Google's newer image
  content/fr/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/fr/examples/service/access/hello-application.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr, area/localization

#46640 [uk] Ready glossary page for vanilla Docsy
  content/uk/docs/reference/glossary/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk, area/localization

#46005 [es] Added docs/concepts/architecture/leases to Spanish
  content/es/docs/concepts/architecture/leases.md
Labels: cncf-cla: yes, size/L, lgtm, kind/feature, sig/docs, approved, language/es, area/localization

#46666 Fix NameGenerationRetries feature gate name in docs to match the RetryGenerateName name in code
  content/en/docs/reference/command-line-tools-reference/feature-gates/name-generation-retries.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/name-generation-retries.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, language/zh, area/localization

#46648 [zh-cn] Localize generated/kubectl_api-versions
  content/zh-cn/docs/reference/kubectl/generated/kubectl_api-versions/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46628 [pt] Ready glossary page for vanilla Docsy
  content/pt-br/docs/reference/glossary/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/web-development, area/localization

#46644 [zh] Add kubectl/generated/kubectl_cordon/
  content/zh-cn/docs/reference/kubectl/generated/kubectl_cordon/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46646 [zh] Add kubectl/generated/kubectl_label/
  content/zh-cn/docs/reference/kubectl/generated/kubectl_label/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46647 [zh] Add kubectl/generated/kubectl_logs/
  content/zh-cn/docs/reference/kubectl/generated/kubectl_logs/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46649 [zh-cn] Localize generated/kubectl_completion
  content/zh-cn/docs/reference/kubectl/generated/kubectl_completion/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46650 [zh-cn] Localize generated/kubectl_exec
  content/zh-cn/docs/reference/kubectl/generated/kubectl_exec/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46676 Update hello-minikube.md
  content/en/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#46669 Fix feature-state for "Manage HugePages"
  content/en/docs/tasks/manage-hugepages/scheduling-hugepages.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#46651 [zh-cn] Localize generated/kubectl_options
  content/zh-cn/docs/reference/kubectl/generated/kubectl_options/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46653 [zh-cn] Localize kubectl_plugin/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_plugin/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46671 [zh-cn] Localize kubectl_set/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_set/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46670 [zh] Sync a task: reserve-compute-resources.md
  content/zh-cn/docs/tasks/administer-cluster/reserve-compute-resources.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#46679 Add 10th Birthday Blog article
  content/en/blog/_posts/2024-06-06-10-Years-of-Kubernetes/future.png
  content/en/blog/_posts/2024-06-06-10-Years-of-Kubernetes/index.md
  content/en/blog/_posts/2024-06-06-10-Years-of-Kubernetes/kcscn2019.jpg
  content/en/blog/_posts/2024-06-06-10-Years-of-Kubernetes/kcseu2024.jpg
  content/en/blog/_posts/2024-06-06-10-Years-of-Kubernetes/kcsna2023.jpg
  content/en/blog/_posts/2024-06-06-10-Years-of-Kubernetes/kubeconeu2017.jpg
  content/en/blog/_posts/2024-06-06-10-Years-of-Kubernetes/lts.jpg
  content/en/blog/_posts/2024-06-06-10-Years-of-Kubernetes/welcome.jpg
Labels: cncf-cla: yes, size/L, lgtm, approved, tide/merge-method-squash, language/en, area/blog

#46690 [zh] Add kubectl_create_clusterrolebinding.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_clusterrolebinding.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46691 [zh] Add kubectl_create_configmap.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_configmap.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46689 [zh-cn] Localize kubectl_top/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_top/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46696 Cleanup duplicates for blog 2024-06-06-10-Years-of-Kubernetes
  content/en/blog/_posts/2024-06-06-10-Years-of-Kubernetes/index.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en, area/blog

#46675 [zh] Add kubectl_create/kubectl_create_clusterrole.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_clusterrole.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46702 [fr] Localized docs/reference/glossary/index.md
  content/fr/docs/reference/glossary/index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/fr, area/localization

#46700 [zh] Add kubectl_create_namespace.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_namespace.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46684 Congratulate Kubernetes on its 10th birthday
  assets/images/k8s-10th-birthday.svg
  assets/scss/_base.scss
  assets/scss/_custom.scss
  assets/scss/_desktop.scss
  assets/scss/_tablet.scss
  content/en/_index.html
  content/en/community/special/kubernetes-10th-birthday.md
  data/i18n/en/en.toml
  layouts/partials/kubernetes-overview.html
  layouts/shortcodes/blocks/section.html
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, committee/steering, language/en, area/web-development

#46705 fix(blog-2018-07-24): Authors entry field contains unparsable chars
  content/en/blog/_posts/2018-07-24-cpu-manager.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#46707 Fix mismatched parentheses in cel.md
  content/en/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/api-machinery, approved, language/en

#46698 [zh-cn] Add kubectl_create_serviceaccount.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_serviceaccount.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46678 [zh-cn] Localize kubectl_cluster-info/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_cluster-info/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46528 Localized java microservice to Hindi
  content/hi/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/hi, area/localization

#46714 [zh] Add kubectl_create_role.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_role.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46680 [zh-cn] Localize kubectl_certificate/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_certificate/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46683 [zh-cn] Localize kubectl_config/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_config/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46701 [zh-cn] Add kubectl_create_service.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_service.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46703 [zh-cn] Add kubectl_create_secret.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_secret.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46699 [zh] Add kubectl_create_job.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_job.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46711 [ja] Translate blog: "10 Years of Kubernetes" into Japanese
  content/ja/blog/_posts/2024-06-06-10-Years-of-Kubernetes/future.png
  content/ja/blog/_posts/2024-06-06-10-Years-of-Kubernetes/index.md
  content/ja/blog/_posts/2024-06-06-10-Years-of-Kubernetes/kcscn2019.jpg
  content/ja/blog/_posts/2024-06-06-10-Years-of-Kubernetes/kcseu2024.jpg
  content/ja/blog/_posts/2024-06-06-10-Years-of-Kubernetes/kcsna2023.jpg
  content/ja/blog/_posts/2024-06-06-10-Years-of-Kubernetes/kubeconeu2017.jpg
  content/ja/blog/_posts/2024-06-06-10-Years-of-Kubernetes/lts.jpg
  content/ja/blog/_posts/2024-06-06-10-Years-of-Kubernetes/welcome.jpg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#46720 [zh] Fix command line tool link in kubectl.md
  content/zh-cn/docs/reference/kubectl/kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#46710 change in the site front page to link the birthday blog
  layouts/partials/kubernetes-overview.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#46718 [zh] Add kubectl_create_priorityclass.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_priorityclass.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46715 [zh] Add kubectl_create_rolebinding.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_rolebinding.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46712 [de] Update the stale link for memory Qos
  content/de/docs/concepts/architecture/cgroups.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de, area/localization

#46708 Fix broken link in content/en/blog/_posts/2024-06-06-10-Years-of-Kubernetes/index.md
  content/en/blog/_posts/2024-06-06-10-Years-of-Kubernetes/index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#46639 Modify registry.k8s.io/nginx-slim version from 0.8 to 0.24
  content/en/docs/concepts/workloads/controllers/statefulset.md
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
  content/en/examples/application/web/web-parallel.yaml
  content/en/examples/application/web/web.yaml
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#46704 [it] Add missing localized docs/reference/glossary/index.md
  content/it/docs/reference/glossary/index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/it, area/localization

#46729 [zh] Add kubectl_create_cronjob.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_cronjob.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46728 [zh] Add kubectl_create_poddisruptionbudget.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_poddisruptionbudget.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#45956 [fr] Fix link
  content/fr/docs/concepts/services-networking/ingress.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr, area/localization

#46740 [zh-cn] Add kubectl_create_service_nodeport.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_service_nodeport.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46741 [zh-cn] Add kubectl_create_service_loadbalancer.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_service_loadbalancer.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46742 [zh-cn] Add kubectl_config_current-context.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_config/kubectl_config_current-context.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46695 Correction of CEL sample code.
  content/en/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#46730 Fix Style Guide Violation
  content/en/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#46724 assign bells17 as sig-docs-ja approver
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#46737 [zh] Add kubectl_create_service_externalname.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_service_externalname.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46739 Added short link for birthday blog
  static/_redirects
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash

#45379 Update ingress-controllers.md
  content/en/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#46736 [zh] Add kubectl_create_service_clusterip.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_service_clusterip.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46713 Fix formatting and link in 10 Years of Kubernetes blog post
  content/en/blog/_posts/2024-06-06-10-Years-of-Kubernetes/index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#46733 Clean up three early release announcements
  content/en/blog/_posts/2015-04-00-Kubernetes-Release-0150.md
  content/en/blog/_posts/2015-05-00-Kubernetes-Release-0170.md
  content/en/blog/_posts/2015-11-00-Kubernetes-1-1-Performance-Upgrades-Improved-Tooling-And-A-Growing-Community.md
Labels: cncf-cla: yes, size/XL, lgtm, approved, language/en, area/blog

#46750 [ja] Update the stale link for memory Qos
  content/ja/docs/concepts/architecture/cgroups.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#46748 Add tab layout for "etcdutl" and "etcdctl" restore options
  content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: cncf-cla: yes, size/M, lgtm, approved, tide/merge-method-squash, language/en

#46716 [ja] Translate content/en/docs/reference/glossary/cri-o.md into Japanese
  content/ja/docs/reference/glossary/cri-o.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#46745 Clarify the Pod Phase "Failed" Explanation
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#46725 [ja] Translate CustomResourceDefinition
  content/ja/docs/reference/glossary/customresourcedefinition.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#46685 [ja] Fix: content/ja/blog/_posts/2024-03-07-cri-o-seccomp-oci-artifacts.md
  content/ja/blog/_posts/2024-03-07-cri-o-seccomp-oci-artifacts.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#46532 [pt-br] Add tasks/access-application-cluster/create-external-load-balancer.md
  content/pt-br/docs/tasks/access-application-cluster/create-external-load-balancer.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt, area/localization

#46636 [ja] Translate content/en/docs/reference/glossary/cla.md into Japanese
  content/ja/docs/reference/glossary/cla.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#46760 [id] Update the stale link for memory Qos
  content/id/docs/concepts/architecture/cgroups.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#46764 fixed:Update server-side-apply.md,there's an extra period.
  content/zh-cn/docs/reference/using-api/server-side-apply.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#46767 [zh]update cel.md
  content/zh-cn/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#46771 Fixed incorrect link in the blog of 10 Years of Kubernetes
  content/en/blog/_posts/2024-06-06-10-Years-of-Kubernetes/index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#46672 [zh] Localize kubectl_create/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46773 Note for to clear backup files
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, approved, tide/merge-method-squash, language/en

#46769 Add section to APF page about recursive scenarios
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/M, lgtm, sig/api-machinery, approved, language/en

#46474 [es] Sync navbar items for vanilla Docsy
  content/es/blog/_index.md
  content/es/case-studies/_index.html
  content/es/community/_index.html
  content/es/docs/home/_index.md
  content/es/partners/_index.html
Labels: cncf-cla: yes, size/S, lgtm, approved, language/es, area/web-development, area/localization

#46753 Updated new contributor ambassador
  README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#44643 Reworded 'beyond discovery permissions' wording in "Using RBAC Authorization" page
  content/en/docs/reference/access-authn-authz/rbac.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, sig/docs, approved, language/en

#44099 Service without selectors, command correction issue
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/network, approved, language/en

#46776 [zh] sync ingress-controller style-guide scheduling-hugepages
  content/zh-cn/docs/concepts/services-networking/ingress-controllers.md
  content/zh-cn/docs/contribute/style/style-guide.md
  content/zh-cn/docs/tasks/manage-hugepages/scheduling-hugepages.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#46779 [zh] Add /kubectl_create_secret_docker-registry.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_secret_docker-registry.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46775 [zh-cn] Translate blog 2024-06-06-10-Years-of-Kubernetes
  content/zh-cn/blog/_posts/2024-06-06-10-Years-of-Kubernetes/future.png
  content/zh-cn/blog/_posts/2024-06-06-10-Years-of-Kubernetes/index.md
  content/zh-cn/blog/_posts/2024-06-06-10-Years-of-Kubernetes/kcscn2019.jpg
  content/zh-cn/blog/_posts/2024-06-06-10-Years-of-Kubernetes/kcseu2024.jpg
  content/zh-cn/blog/_posts/2024-06-06-10-Years-of-Kubernetes/kcsna2023.jpg
  content/zh-cn/blog/_posts/2024-06-06-10-Years-of-Kubernetes/kubeconeu2017.jpg
  content/zh-cn/blog/_posts/2024-06-06-10-Years-of-Kubernetes/lts.jpg
  content/zh-cn/blog/_posts/2024-06-06-10-Years-of-Kubernetes/welcome.jpg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#46791 Fix references in IPv4/IPv6 dual-stack
  content/en/docs/concepts/services-networking/dual-stack.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#46774 Add SIG Node spotlight
  content/en/blog/_posts/2024-05-21-sig-node-spotlight/Lake_Geneva_and_the_Alps.jpg
  content/en/blog/_posts/2024-05-21-sig-node-spotlight/index.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en, area/blog

#46792 [ja] Updated Hyperlink of Easegress IngressController
  content/ja/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#46795 kubeadm: add note about a bug in the PublicKeysECDSA FG
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: cncf-cla: yes, size/XS, lgtm, kind/bug, sig/cluster-lifecycle, approved, language/en

#46797 Update schedule.yaml
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, area/release-eng

#46793 [zh] Add kubectl_create_secret_generic.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_secret_generic.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46790 [zh] Add kubectl_create_token.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_token.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46761 Delete rewrite-target annotation in ingress example
  content/en/examples/service/networking/example-ingress.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/network, approved, language/en

#46114 Remove ReadWriteOncePod feature gate
  content/en/docs/reference/command-line-tools-reference/feature-gates/read-write-once-pod.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44861 Mention how requests are inferred from limits
  content/en/docs/concepts/scheduling-eviction/pod-overhead.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, lifecycle/rotten, language/en

#46803 [es] Updated Hyperlink of Easegress IngressController
  content/es/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es, area/localization

#46806 [zh] Add kubectl_debug/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_debug/_index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#44115 tell the user to use their own name, not the example.
  content/en/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#46805 [zh] Add kubectl_create_ingress.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_ingress.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46556 [ja] Translate content/en/docs/reference/glossary/cri.md into Japanese
  content/ja/docs/reference/glossary/cri.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#46819 [zh-cn] Add kubectl_config_delete-context.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_config/kubectl_config_delete-context.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46826 [zh-cn] Add kubectl_config_delete-user.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_config/kubectl_config_delete-user.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46828 [zh] Add kubectl_certificate_deny.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_certificate/kubectl_certificate_deny.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46822 fix Gt, Lt behaviour documentation
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, approved, language/en

#46823 Remove self referencing link
  content/en/docs/reference/glossary/cloud-controller-manager.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#46810 Update garbage-collection.md for misleading "ImageMaximumGCAge" configuration option
  content/en/docs/concepts/architecture/garbage-collection.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#46835 [zh-cn] Add kubectl_config_rename-context.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_config/kubectl_config_rename-context.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46836 [zh-cn] Add kubectl_config_use-context.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_config/kubectl_config_use-context.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46838 [en] fix typo blog post
  content/en/blog/_posts/2024-04-17-kubernetes-1.30.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#46839 [zh] Sync garbage-collection.md
  content/zh-cn/docs/concepts/architecture/garbage-collection.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#46830 [zh-cn] Add kubectl_config_get-clusters.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_config/kubectl_config_get-clusters.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#46831 [zh-cn] Add kubectl_config_get-contexts.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_config/kubectl_config_get-contexts.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization
