Repository kubernetes/website, pull requests merged in 2024-03, with the labels that each got.

#45297 KEP-2681 PodHostIPs in downward API to stable
  content/en/docs/concepts/workloads/pods/downward-api.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/pod-host-ips.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, sig/network, approved, language/en

#45403 Fix HTML typo
  content/zh-cn/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45147 [zh-cn]sync pods/_index.md
  content/zh-cn/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44340 [zh] Add translation to assign-pod-node.md
  content/zh-cn/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44343 [zh] Add translations to projected-volumes.md and storage-classes.md
  content/zh-cn/docs/concepts/storage/projected-volumes.md
  content/zh-cn/docs/concepts/storage/storage-classes.md
  content/zh-cn/examples/pods/storage/projected-clustertrustbundle.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44892 [zh] Sync using-api/cel.md
  content/zh-cn/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44903 [zh] Sync /config-api/apiserver-audit.v1.md
  content/zh-cn/docs/reference/config-api/apiserver-audit.v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44961 [zh] Add translations to scheduling-gpus.md
  content/zh-cn/docs/tasks/manage-gpus/scheduling-gpus.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44974 [zh] Sync config-api/kubelet-config.v1beta1.md
  content/zh-cn/docs/reference/config-api/kubelet-config.v1beta1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45149 [zh] Sync /windows/intro.md
  content/zh-cn/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45199 [bn] Localize /docs/concepts/containers/ and /docs/concepts/architecture/
  content/bn/docs/_index.md
  content/bn/docs/concepts/_index.md
  content/bn/docs/concepts/architecture/_index.md
  content/bn/docs/concepts/containers/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45368 [es] Added content/es/docs/concepts/services-networking/ingress-controllers.md
  content/es/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/M, lgtm, kind/feature, sig/docs, approved, language/es, area/localization

#45413 [zh-cn] sync configure-liveness-readiness-startup-probes.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45415 [zh-cn] sync hugo-shortcodes/index.md
  content/zh-cn/docs/contribute/style/hugo-shortcodes/index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45417 [zh-cn]sync nodes assign-pod-node source-ip kubeadm_config_print_reset-defaults
  content/zh-cn/docs/concepts/architecture/nodes.md
  content/zh-cn/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_reset-defaults.md
  content/zh-cn/docs/tutorials/services/source-ip.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45394 [zh] sync dns-pod-service service dynamic-provisioning
  content/zh-cn/docs/concepts/services-networking/dns-pod-service.md
  content/zh-cn/docs/concepts/services-networking/service.md
  content/zh-cn/docs/concepts/storage/dynamic-provisioning.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44946 Translate the contextual-logging-in-kubernetes-1-29 blog into Chinese
  content/zh-cn/blog/_posts/2023-12-20-contextual-logging-in-kubernetes-1-29.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45424 [zh-cn]sync kubeadm_config_print_join-defaults kubeadm_init_phase_certs_etcd-healthcheck-client
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_join-defaults.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-healthcheck-client.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45422 [zh-cn]sync mixed-version-proxy pod-qos
  content/zh-cn/docs/concepts/architecture/mixed-version-proxy.md
  content/zh-cn/docs/concepts/workloads/pods/pod-qos.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45423 [zh-cn]sync kubeadm_init_phase_certs_etcd-ca kubeadm_init_phase_certs_sa
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-ca.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_sa.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45426 Fix 'auditAnnotations' example
  content/en/examples/access/validating-admission-policy-audit-annotation.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45425 [pt] Correcting API field paths
  content/pt-br/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#45407 [zh-cn] sync sidecar-containers
  content/zh-cn/docs/concepts/workloads/pods/sidecar-containers.md
Labels: cncf-cla: yes, size/S, sig/docs, approved, language/zh

#45206 [zh-cn] Localize autoscaling.md
  content/zh-cn/docs/concepts/workloads/autoscaling.md
  content/zh-cn/docs/reference/glossary/replica.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44126 Write API kinds without code style
  content/en/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#44885 Edit docker-specific image name
  content/en/docs/tutorials/kubernetes-basics/update/update-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45204 graduate HPAContainerMetrics to stable
  content/en/docs/reference/command-line-tools-reference/feature-gates/hpa-container-metrics.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, sig/autoscaling, language/en

#45402 [es] Correcting API field paths
  content/es/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#45189 Pick a few grammars in autoscaling.md
  content/en/docs/concepts/workloads/autoscaling.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#45194 Update logging.md: Log rotation of kubelet
  content/en/docs/concepts/cluster-administration/logging.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#44735 [es] Add concepts/storage/persistent-volumes.md
  content/es/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/es

#45180 graduate MinDomain feature to stable
  content/en/docs/concepts/scheduling-eviction/topology-spread-constraints.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/min-domains-in-pod-topology-spread.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#45428 [zh] sync system-logs client-authentication client-authentication audit-annotations
  content/zh-cn/docs/concepts/cluster-administration/system-logs.md
  content/zh-cn/docs/reference/config-api/client-authentication.v1.md
  content/zh-cn/docs/reference/config-api/client-authentication.v1beta1.md
  content/zh-cn/docs/reference/labels-annotations-taints/audit-annotations.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45427 [zh] Sync kubernetes-api.md
  content/zh-cn/docs/concepts/overview/kubernetes-api.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45437 [zh-cn]sync workloads/autoscaling.md
  content/zh-cn/docs/concepts/workloads/autoscaling.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45121 Add blog post about CRI-O's seccomp OCI artifact feature
  content/en/blog/_posts/2024-03-07-cri-o-seccomp-oci-artifacts.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#45445 Update Weave Net link to newly supported fork
  content/en/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44600 Added link to netcat official site and '-v' key to netcat command example
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45444 [id] Correcting API field paths
  content/id/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#45451 Fix link in RuntimeClassInImageCriApi feature gate
  content/en/docs/reference/command-line-tools-reference/feature-gates/runtime-class-in-image-cri-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45431 Merge main branch into dev-1.30
  content/en/docs/concepts/overview/kubernetes-api.md
  content/en/docs/contribute/style/style-guide.md
  content/en/docs/reference/using-api/cel.md
  content/en/docs/tutorials/kubernetes-basics/update/update-intro.html
  content/en/examples/access/validating-admission-policy-audit-annotation.yaml
  content/es/docs/concepts/services-networking/ingress-controllers.md
  content/es/docs/concepts/storage/volumes.md
  content/pt-br/docs/concepts/storage/volumes.md
  content/zh-cn/blog/_posts/2023-12-20-contextual-logging-in-kubernetes-1-29.md
  content/zh-cn/docs/concepts/architecture/mixed-version-proxy.md
  content/zh-cn/docs/concepts/architecture/nodes.md
  content/zh-cn/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/zh-cn/docs/concepts/services-networking/dns-pod-service.md
  content/zh-cn/docs/concepts/services-networking/service.md
  content/zh-cn/docs/concepts/storage/dynamic-provisioning.md
  content/zh-cn/docs/concepts/storage/projected-volumes.md
  content/zh-cn/docs/concepts/storage/storage-classes.md
  content/zh-cn/docs/concepts/windows/intro.md
  content/zh-cn/docs/concepts/workloads/autoscaling.md
  content/zh-cn/docs/concepts/workloads/pods/_index.md
  content/zh-cn/docs/concepts/workloads/pods/pod-qos.md
  content/zh-cn/docs/concepts/workloads/pods/sidecar-containers.md
  content/zh-cn/docs/contribute/style/hugo-shortcodes/index.md
  content/zh-cn/docs/reference/config-api/apiserver-audit.v1.md
  content/zh-cn/docs/reference/config-api/kubelet-config.v1beta1.md
  content/zh-cn/docs/reference/glossary/replica.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_join-defaults.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_reset-defaults.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-ca.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-healthcheck-client.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_sa.md
  content/zh-cn/docs/reference/using-api/cel.md
  content/zh-cn/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md
  content/zh-cn/docs/tasks/access-application-cluster/service-access-application-cluster.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/zh-cn/docs/tasks/manage-gpus/scheduling-gpus.md
  content/zh-cn/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/zh-cn/docs/tutorials/services/source-ip.md
  content/zh-cn/examples/pods/storage/projected-clustertrustbundle.yaml
  layouts/shortcodes/skew.html
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, language/zh, language/es, language/pt

#45385 Changing the Image Specified in the ReplicaSet Documentation
  content/en/docs/concepts/workloads/controllers/replicaset.md
  content/en/examples/controllers/frontend.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#44594 Improve wording around Kata containers and OCI runtime spec
  content/en/docs/concepts/security/multi-tenancy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#45435 [zh] Sync style/style-guide.md
  content/zh-cn/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45443 Update pr-wranglers.md
  content/en/docs/contribute/participate/pr-wranglers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45467 Add a note about /etc/apt/keyrings to pkgs.k8s.io migration guide
  content/en/blog/_posts/2023-08-15-pkgs-k8s-io-introduction.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#44479 [en] Update go lang link common-parameters.md
  content/en/docs/reference/kubernetes-api/common-parameters/common-parameters.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44745 [hi] Fix page layout for "Using kubectl to Create a Deployment"
  content/hi/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi, area/web-development

#45172 Fix spelling mistake in kube scheduler
  content/en/docs/concepts/scheduling-eviction/api-eviction.md
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/en/docs/concepts/scheduling-eviction/kube-scheduler.md
  content/en/docs/concepts/scheduling-eviction/node-pressure-eviction.md
  content/en/docs/concepts/scheduling-eviction/pod-priority-preemption.md
  content/en/docs/concepts/scheduling-eviction/pod-scheduling-readiness.md
  content/en/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/en/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/en/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/en/docs/concepts/scheduling-eviction/topology-spread-constraints.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#45232 Add jossemarGT to sig-docs-es-reviews
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#45412 Add integrity attribute to script used by CNCF Landscape shortcode
  layouts/partials/head.html
  layouts/shortcodes/cncf-landscape.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, area/web-development

#43652 added commands to cheatsheet.md
  content/en/docs/reference/kubectl/quick-reference.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45480 Update cri-dockerd links to point to the official docs
  content/en/blog/_posts/2021-11-12-are-you-ready-for-dockershim-removal/index.md
  content/en/blog/_posts/2022-02-17-updated-dockershim-faq.md
  content/en/docs/reference/node/topics-on-dockershim-and-cri-compatible-runtimes.md
  content/en/docs/setup/production-environment/container-runtimes.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/migrate-dockershim-dockerd.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#44689 clarify nodes only update labels upon registration
  content/en/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#45491 [fr] Correcting API field paths
  content/fr/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#45411 Add mid-cycle 1.30 blog article
  content/en/blog/_posts/2024-03-12-mid-cycle-1.30.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/en, area/blog

#45487 Backport fix for tab layout rendering in release-1.27
  content/en/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#45400 [bn] Update OWNERS_ALIASES
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#45469 Update install-kubectl-windows.md
  content/en/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45481 [bn] Localize(updated) content/bn/releases/_index.md
  content/bn/releases/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45212 Move and reword workload management page
  content/en/docs/concepts/workloads/management.md
  static/_redirects
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, refactor

#45193 [bn] Update hello-minikube.md
  content/bn/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45335 [bn] Localize Content/en/docs/concepts/policy/ index.md
  content/bn/docs/concepts/policy/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45196 [bn] update files in tutorials
  content/bn/docs/tutorials/_index.md
  content/bn/docs/tutorials/configuration/_index.md
  content/bn/docs/tutorials/security/_index.md
  content/bn/docs/tutorials/services/_index.md
  content/bn/docs/tutorials/stateful-application/_index.md
  content/bn/docs/tutorials/stateless-application/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45211 [bn] Localize search.md
  content/bn/search.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/bn

#45228 [bn] Localize configuration/_index.md
  content/bn/docs/concepts/configuration/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/bn

#45230 [bn] Localize concepts/services-networking/_index.md and concepts/storage/_index.md
  content/bn/docs/concepts/services-networking/_index.md
  content/bn/docs/concepts/storage/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45325 [bn] Localize Releases/download.md
  content/bn/releases/download.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45507 Add 1.30 mid-cycle blog article fixes
  content/en/blog/_posts/2024-03-12-mid-cycle-1.30.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/blog

#45510 [zh] Fix typo
  content/zh-cn/docs/concepts/storage/ephemeral-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45490 [zh]sync pr-wranglers.md
  content/zh-cn/docs/contribute/participate/pr-wranglers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45253 Revise the feature gate LegacyServiceAccountTokenCleanUp to stable stage
  content/en/docs/reference/command-line-tools-reference/feature-gates/legacy-service-account-token-clean-up.md
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/auth, sig/docs, approved, language/en

#45497 [zh] sync node-pressure-eviction scheduling-framework multi-tenancy
  content/zh-cn/docs/concepts/scheduling-eviction/node-pressure-eviction.md
  content/zh-cn/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/zh-cn/docs/concepts/security/multi-tenancy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45462 [zh] sync leases images components
  content/zh-cn/docs/concepts/architecture/leases.md
  content/zh-cn/docs/concepts/containers/images.md
  content/zh-cn/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45495 Backport fix for tab layout rendering in release-1.25
  content/en/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45488 Backport fix for tab layout rendering in release-1.26
  content/en/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#45156 kubeadm: update documentation for 1.30
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#45514 fix typo
  content/en/blog/_posts/2024-03-12-mid-cycle-1.30.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#45489 Improvements in "Installing kubeadm" document
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#45525 Mark feature AdmissionWebhookMatchConditions to stable in 1.30
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/admission-webhook-match-conditions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/api-machinery, sig/docs, approved, language/en

#45138 Add docs for Structured Authz beta
  content/en/docs/reference/access-authn-authz/authorization.md
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, sig/docs, approved, language/en

#45128 [KEP-2400] Update swap with beta2 deprecations
  content/en/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/docs, approved, language/en

#45249 [KEP-3488]Promoting ValidatingAdmissionPolicy to GA
  content/en/docs/reference/access-authn-authz/validating-admission-policy.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/validating-admission-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45471 Refresh AppArmor documentation
  content/en/docs/tutorials/security/apparmor.md
  content/en/examples/pods/security/hello-apparmor.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/node, sig/docs, approved, language/en

#45460 Add missing syscalls in fine-grained profile of seccomp tutorial
  content/en/examples/pods/security/seccomp/profiles/fine-grained.json
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, sig/security

#44862 [ar] Add and localize i18n strings to Arabic
  data/i18n/ar/ar.toml
  i18n/ar.toml
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/ar

#45540 [ru] Remove hostPort field from the liveness probe examples to align …
  content/ru/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#45528 [fr] Remove hostPort field from the liveness probe examples to align …
  content/fr/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr

#44175 [ko] Translate Concepts/Workloads/Pods/Pod Quality of Service Classes into Korean
  content/ko/docs/concepts/workloads/pods/pod-qos.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#44511 [ko] Translate /docs/tasks/administer-cluster/quota-api-object into Korean
  content/ko/docs/tasks/administer-cluster/quota-api-object.md
  content/ko/examples/admin/resource/quota-objects-pvc-2.yaml
  content/ko/examples/admin/resource/quota-objects-pvc.yaml
  content/ko/examples/admin/resource/quota-objects.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#44715 Update outdated korean contents in dev-1.27-ko.1 (M56-M60)
  content/ko/docs/concepts/services-networking/dns-pod-service.md
  content/ko/docs/concepts/services-networking/dual-stack.md
  content/ko/docs/concepts/services-networking/endpoint-slices.md
  content/ko/docs/concepts/services-networking/ingress-controllers.md
  content/ko/docs/concepts/services-networking/ingress.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko

#44435 The announcement banners can now be made dismissible
  assets/scss/_custom.scss
  data/i18n/en/en.toml
  layouts/partials/announcement.html
  layouts/partials/head.html
  static/js/dismiss_banner.js
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/web-development

#45541 [ar] Add mboukhalfa as owner for arabic content
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ar

#45282 Mark NewVolumeManagerReconstruction as GA
  content/en/docs/reference/command-line-tools-reference/feature-gates/new-volume-manager-reconstruction.md
Labels: cncf-cla: yes, size/S, lgtm, sig/storage, sig/node, sig/docs, approved, language/en

#45529 Fix path of kubelet systemd config file
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: cncf-cla: yes, size/S, lgtm, sig/cluster-lifecycle, sig/docs, sig/release, approved, language/en

#45234 promote feature PodSchedulingReadiness to stable
  content/en/docs/concepts/scheduling-eviction/pod-scheduling-readiness.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/pod-scheduling-readiness.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#45280 Document SELinuxMount feature gate
  content/en/docs/reference/command-line-tools-reference/feature-gates/selinux-mount.md
  content/en/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/M, lgtm, sig/storage, sig/docs, approved, language/en, sig/security

#45105 kubelet: enable configurable rotation duration and parallel rotate
  content/en/docs/concepts/cluster-administration/logging.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#45126 KEP-2258: Promote NodeLogQuery to beta
  content/en/docs/concepts/cluster-administration/system-logs.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/node-log-query.md
Labels: cncf-cla: yes, size/S, lgtm, sig/windows, sig/docs, approved, language/en

#45511 zh-blog: v1.30 mid cycle preview of key enhancements
  content/zh-cn/blog/_posts/2024-03-12-mid-cycle-1.30.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/blog

#45508 [bn] localize content/en/docs/concepts/workloads/pods/_index.md
  content/bn/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/bn

#45512 [bn] Localize `content/bn/docs/setup/production-environment/tools/_index.md`
  content/bn/docs/setup/production-environment/tools/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45515 [bn] FIX: Localize `content/bn/releases/download.md`.
  content/bn/releases/download.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45516 [bn] FIX: Localize `content/bn/_index.html`.
  content/bn/_index.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45533 [bn] Localize glossary entry for container runtime
  content/bn/docs/reference/glossary/container-runtime.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45553 [bn] Localize content/bn/releases/release-managers.md
  content/bn/releases/release-managers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/bn

#45288 contextual logging: beta in Kubernetes 1.30
  content/en/docs/concepts/cluster-administration/system-logs.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/contextual-logging.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#45390 Update deprecated API migration guidance of HorizontalPodAutoscaler for v1.25 and v1.26
  content/en/docs/reference/using-api/deprecation-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#45418 [bn] Localize /docs/concepts/overview/working-with-objects
  content/bn/docs/concepts/overview/working-with-objects/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/bn

#45259 Document changing pod logs directory in kubelet
  content/en/docs/concepts/cluster-administration/logging.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#45387 [zh-cn]resync server-side-apply.md
  content/zh-cn/docs/reference/using-api/server-side-apply.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#45554 [zh] sync dynamic-resource-allocation resource-bin-packing scheduler-perf-tuning
  content/zh-cn/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/zh-cn/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/zh-cn/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45532 [zh] sync logging system-metrics system-traces
  content/zh-cn/docs/concepts/cluster-administration/logging.md
  content/zh-cn/docs/concepts/cluster-administration/system-metrics.md
  content/zh-cn/docs/concepts/cluster-administration/system-traces.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45519 [zh-cn] synchronized with the original english ver post
  content/zh-cn/docs/concepts/overview/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45581 Add missing some items
  content/en/docs/reference/node/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45573 [id] Remove hostPort field from the liveness probe examples to align …
  content/id/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#44574 Show a way to search even when page scrolled
  assets/scss/_custom.scss
  layouts/partials/navbar.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/web-development

#43138 [ko] Updated outdated files in `dev-1.27-ko.1` (M22-M30)
  content/ko/docs/concepts/containers/images.md
  content/ko/docs/concepts/extend-kubernetes/_index.md
  content/ko/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
  content/ko/docs/concepts/extend-kubernetes/operator.md
  content/ko/docs/concepts/overview/_index.md
  content/ko/docs/concepts/overview/components.md
  content/ko/docs/concepts/overview/kubernetes-api.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/ko

#41417 [ko]Translate docs/tasks/job/pod-failure-policy into Korean
  content/ko/docs/concepts/workloads/controllers/job.md
  content/ko/docs/tasks/job/pod-failure-policy.md
  content/ko/examples/controllers/job-pod-failure-policy-failjob.yaml
  content/ko/examples/controllers/job-pod-failure-policy-ignore.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko

#45168 Add kubernetes.dev mirroring guidelines
  content/en/docs/contribute/new-content/blogs-case-studies.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#45416 [pt-br] Adds docs/tasks/administer-cluster/network-policy-provider/cilium-network-policy.md
  content/pt-br/docs/tasks/administer-cluster/network-policy-provider/cilium-network-policy.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt

#45518 [zh-cn]localize content/en/docs/reference/config-api/kube-controller-manager-config.v1alpha1.md
  content/zh-cn/docs/reference/config-api/kube-controller-manager-config.v1alpha1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#45550 [zh-cn]sync security/apparmor
  content/zh-cn/docs/tutorials/security/apparmor.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#45595 Remove useless tips
  content/zh-cn/docs/tasks/inject-data-application/define-command-argument-container.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45594 Fix navbar Search text visibility and background color on scroll
  assets/scss/_custom.scss
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, area/web-development

#45527 Blog post translation in Ukrainian
  content/uk/blog/_index.md
  content/uk/blog/_posts/2024-03-12-mid-cycle-1.30.md
  data/i18n/uk/uk.toml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/uk, area/localization

#45599 Tweak PR wrangling guide
  content/en/docs/contribute/participate/pr-wranglers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45610 Add feature gate metadata for structured authz config
  content/en/docs/reference/access-authn-authz/authorization.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/structured-authorization-configuration.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, sig/docs, approved, language/en

#45613 [zh] Sync blogs-case-studies.md
  content/zh-cn/docs/contribute/new-content/blogs-case-studies.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#45358 Go workspaces blog post
  content/en/blog/_posts/2024-03-19-go-workspaces.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#45614 [zh] update security\apparmor.md
  content/zh-cn/docs/tutorials/security/apparmor.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45154 Document NameGenerationRetries feature gate
  content/en/docs/reference/command-line-tools-reference/feature-gates/name-generation-retries.md
Labels: cncf-cla: yes, size/S, lgtm, sig/api-machinery, sig/docs, approved, language/en

#45568 Fix documentation for parallel processing work queue tasks.
  content/en/docs/tasks/job/coarse-parallel-processing-work-queue.md
  content/en/docs/tasks/job/fine-parallel-processing-work-queue.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#45621 [ru] Edit docker-specific image name
  content/ru/docs/tutorials/kubernetes-basics/update/update-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#45270 [KEP-4006] Docs for Transitioning from SPDY to WebSockets (Beta)
  content/en/docs/reference/command-line-tools-reference/feature-gates/port-forward-websockets.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/translate-stream-close-websocket-requests.md
  content/en/docs/reference/kubectl/kubectl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#45178 User namespaces doc changes for 1.30
  content/en/docs/concepts/workloads/pods/user-namespaces.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/user-namespaces-support.md
  content/en/docs/tasks/configure-pod-container/user-namespaces.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, sig/docs, approved, language/en

#45623 [zh] sync install-kubeadm and kubelet-integration
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45625 Revert "Go workspaces blog post"
  content/en/blog/_posts/2024-03-19-go-workspaces.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#45624 Merge main branch into dev-1.30
  assets/scss/_custom.scss
  content/en/blog/_posts/2024-03-19-go-workspaces.md
  content/en/docs/contribute/new-content/blogs-case-studies.md
  content/en/docs/contribute/participate/pr-wranglers.md
  content/en/docs/reference/node/_index.md
  content/en/docs/reference/using-api/deprecation-guide.md
  content/en/docs/tasks/job/coarse-parallel-processing-work-queue.md
  content/en/docs/tasks/job/fine-parallel-processing-work-queue.md
  content/id/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/pt-br/docs/tasks/administer-cluster/network-policy-provider/cilium-network-policy.md
  content/ru/docs/tutorials/kubernetes-basics/update/update-intro.html
  content/uk/blog/_index.md
  content/uk/blog/_posts/2024-03-12-mid-cycle-1.30.md
  content/zh-cn/blog/_posts/2024-03-12-mid-cycle-1.30.md
  content/zh-cn/docs/concepts/cluster-administration/logging.md
  content/zh-cn/docs/concepts/cluster-administration/system-metrics.md
  content/zh-cn/docs/concepts/cluster-administration/system-traces.md
  content/zh-cn/docs/concepts/overview/_index.md
  content/zh-cn/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/zh-cn/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/zh-cn/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md
  content/zh-cn/docs/contribute/new-content/blogs-case-studies.md
  content/zh-cn/docs/reference/config-api/kube-controller-manager-config.v1alpha1.md
  content/zh-cn/docs/reference/using-api/server-side-apply.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
  content/zh-cn/docs/tasks/inject-data-application/define-command-argument-container.md
  content/zh-cn/docs/tutorials/security/apparmor.md
  data/i18n/uk/uk.toml
  layouts/partials/navbar.html
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, language/zh, area/blog, language/pt, language/id, language/ru, language/uk

#45612 Enhancing troubleshoot section with Windows Operational Readiness
  content/en/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/S, lgtm, sig/windows, sig/docs, approved, language/en

#45622 [zh-cn] update containerd tab
  content/zh-cn/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45633 [zh] sync container-runtimes coarse-parallel-processing-work-queue fine-parallel-processing-work-queue
  content/zh-cn/docs/setup/production-environment/container-runtimes.md
  content/zh-cn/docs/tasks/job/coarse-parallel-processing-work-queue.md
  content/zh-cn/docs/tasks/job/fine-parallel-processing-work-queue.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45634 [zh] sync concepts\windows\intro.md
  content/zh-cn/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45637 Add new commands to kubectl quick-reference.md
  content/en/docs/reference/kubectl/quick-reference.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45636 Added a link to the minikube installation website
  content/en/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45638 [zh] sync reference\node\_index.md
  content/zh-cn/docs/reference/node/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45509 Add section about kube-state-metrics
  content/en/docs/concepts/cluster-administration/addons.md
  content/en/docs/concepts/cluster-administration/kube-state-metrics.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#45504 Update resource-usage-monitoring.md
  content/en/docs/tasks/debug/debug-cluster/resource-usage-monitoring.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45639 Update error rendering in node-labels.md
  content/zh-cn/docs/reference/node/node-labels.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45129 graduate PodLifecycleSleepAction to beta (KEP 3960)
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/pod-lifecycle-sleep-action.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en
