Repository kubernetes/website, pull requests merged in 2024-12, with the labels that each got.

#48818 [bn] Localize figure of Components of Kubernetes in components.md
  content/bn/docs/concepts/overview/components.md
  content/bn/docs/images/components-of-kubernetes-(bn-version).svg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, area/localization, language/bn

#48899 Fix descrption for encryptionAlgorithm field
  content/en/docs/reference/config-api/kubeadm-config.v1beta4.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48895 Update extend-service-ip-ranges.md
  content/en/docs/tasks/network/extend-service-ip-ranges.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48858 Build draft content for local preview
  Makefile
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#48792 removed map-crictl-dockercli page
  content/en/docs/reference/tools/map-crictl-dockercli.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, kind/cleanup, language/en

#48900 [zh-cn]sync disable-cloud-providers dynamic-resource-allocation
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/disable-cloud-providers.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48901 [zh-cn]sync new-volume-manager-reconstruction
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/new-volume-manager-reconstruction.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48912 [zh] Add alpha disclaimer to kubectl_apply
  content/zh-cn/docs/reference/kubectl/generated/kubectl_apply/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48794 Fix duplicated glossary entry for CRI
  content/en/docs/concepts/architecture/cri.md
  content/en/docs/reference/glossary/container-runtime-interface.md
  content/en/docs/reference/glossary/cri.md
  content/en/docs/reference/instrumentation/cri-pod-container-metrics.md
  content/en/docs/reference/instrumentation/node-metrics.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#48841 Fix text not visible in case studies page
  static/css/gridpage.css
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#48166 [id] Removed Weave Scope link
  content/id/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#48594 [id] update contributor covenant links
  content/id/community/static/cncf-code-of-conduct.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#48914 [zh] Sync network/extend-service-ip-ranges.md
  content/zh-cn/docs/tasks/network/extend-service-ip-ranges.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48916 [ja] Translate docs/reference/glossary/replica.md
  content/ja/docs/reference/glossary/replica.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#48100 [it] Removed Weave Scope link
  content/it/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/it, area/localization

#48578 blog: Memory Manager goes GA
  content/en/blog/_posts/2024-11-11-memory-manager-moves-to-ga/index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, language/en, area/blog

#48862 Add banner for KubeCon India 2024
  data/announcements/scheduled.yaml
  static/images/announcements/kccnc-india-2024-white.svg
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, committee/steering

#48934 [hi] update queue link
  content/hi/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi, area/localization

#48420 Add a blog for volume group snapshots beta
  content/en/blog/_posts/2024-12-11-volume-group-snapshot-beta.md
Labels: cncf-cla: yes, size/L, lgtm, sig/storage, approved, language/en, area/blog

#48929 Fix typo in kubeadm config v1beta4
  content/en/docs/reference/config-api/kubeadm-config.v1beta4.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48766 Improve LimitRange Documentation.
  content/en/docs/concepts/policy/limit-range.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, approved, language/en

#48940 [vi] update queue link
  content/vi/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/vi, area/localization

#48915 fix node-monitor-grace-period
  content/en/docs/reference/node/node-status.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, approved, language/en

#48891 [ja] Translate docs/reference/glossary/userns.md
  content/ja/docs/reference/glossary/userns.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#48371 KEP-4540: CPUManager strict-cpu-reservation policy option blog
  content/en/blog/_posts/2024-12-11-cpumanager-strict-cpu-reservation.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/blog, area/web-development, area/localization

#48939 Fix collection of node host names for AppArmor profile distribution
  content/en/docs/tutorials/security/apparmor.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48878 [ja] Translate sidecar-container.md into Japanese
  content/ja/docs/reference/glossary/sidecar-container.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#48948 [bn] update queue link
  content/bn/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/localization, language/bn

#48666 Add release announcement for v1.32
  content/en/blog/_posts/2024-12-11-Kubernetes-v1-32-Release/index.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en, area/blog

#48541 KEP-4247(blog): QueueingHint
  content/en/blog/_posts/2024-12-12-scheduler-queueinghint/index.md
  content/en/blog/_posts/2024-12-12-scheduler-queueinghint/queueinghint1.svg
  content/en/blog/_posts/2024-12-12-scheduler-queueinghint/queueinghint2.svg
Labels: cncf-cla: yes, size/L, lgtm, sig/scheduling, approved, language/en, area/blog

#48907 [id] update queue link
  content/id/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#48886 [ja] Translate docs/reference/glossary/jwt.md
  content/ja/docs/reference/glossary/jwt.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#48955 Update release announcement for v1.32
  content/en/blog/_posts/2024-12-11-Kubernetes-v1-32-Release/index.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en, area/blog

#48944 Clean up a policy concept page: resource-quotas
  content/en/docs/concepts/policy/resource-quotas.md
Labels: cncf-cla: yes, size/L, lgtm, approved, kind/cleanup, language/en

#48786 [pt-br] Add tasks/tools/install-kubectl-windows.md
  content/pt-br/docs/tasks/tools/included/optional-kubectl-configs-pwsh.md
  content/pt-br/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt, area/localization

#48892 [pt-br] Sync pt-br l18n strings with the English version.
  content/pt-br/case-studies/_index.md
  content/pt-br/community/_index.html
  content/pt-br/docs/_index.md
  data/i18n/pt-br/pt-br.toml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt, area/localization

#48130 Improve admission control reference
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#48866 add hami to Kubernetes device plugin examples
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#48957 [zh-cn]sync apparmor.md
  content/zh-cn/docs/tutorials/security/apparmor.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48918 [zh] sync glossary entry for CRI
  content/zh-cn/docs/concepts/architecture/cri.md
  content/zh-cn/docs/reference/glossary/container-runtime-interface.md
  content/zh-cn/docs/reference/glossary/cri.md
  content/zh-cn/docs/reference/instrumentation/cri-pod-container-metrics.md
  content/zh-cn/docs/reference/instrumentation/node-metrics.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48913 [zh] Remove map-crictl-dockercli page
  content/zh-cn/docs/reference/tools/map-crictl-dockercli.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#48943 [zh] Add a glossary: pod-template.md
  content/zh-cn/docs/reference/glossary/pod-template.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#48972 [zh-cn]sync controller-manager-leader-migration
  content/zh-cn/docs/tasks/administer-cluster/controller-manager-leader-migration.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48973 [zh-cn]sync resource-quotas.md
  content/zh-cn/docs/concepts/policy/resource-quotas.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48974 [zh-cn] sync device-plugin.md
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48975 [zh-cn]sync translate-stream-close-websocket-requests
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/translate-stream-close-websocket-requests.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48965 [ru] Update an outdated link in _index.md
  content/ru/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru, area/localization

#48979 [ja] Update _index.md
  content/ja/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#48961 fix(pod-lifecycle.md): Chinese description of container success statu…
  content/zh-cn/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh, area/localization

#48933 Add 1.32 to release schedule for 1.32 release
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, area/release-eng

#48994 Update Link of Inventory in Install k8s doc
  content/en/docs/setup/production-environment/tools/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48683 [zh] Add an API doc: resource-slice-v1alpha3.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/resource-slice-v1alpha3.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#49000 [zh-cn] Update replicaset.md
  content/zh-cn/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48030 Update garbage-collection.md
  content/zh-cn/docs/concepts/architecture/garbage-collection.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48977 [ja] Translated content/ja/blog/_posts/2024-08-12-feature-gates_client-go.md
  content/ja/blog/_posts/2024-08-12-feature-gates_client-go.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#49006 Update schedule for patches in January
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, area/release-eng

#48978 Simplify kube-proxy refresh once the kube-proxy ConfigMap is updated
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-reconfigure.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#49007 Update release schedule based on main
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, area/release-eng

#49008 Add v1.32.0 to schedule
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, area/release-eng

#48696 [zh-cn]sync labels-annotations-taints/_index.md
  content/zh-cn/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48984 Updates v1.30 hugo.toml for release v1.32
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#48985 Updates v1.29 hugo.toml for release v1.32
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#48987 Update dev 1.32 hugo.toml for release v1.32
  hugo.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#48983 Updates v1.31 hugo.toml for release v1.32
  hugo.toml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved

#48988 documented label cluster-service
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, kind/documentation, approved, language/en

#48986 Updates v1.28 hugo.toml for release v1.32
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#48956 chore: fix wording on QHint blog
  content/en/blog/_posts/2024-12-12-scheduler-queueinghint/index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#48838 Tweak script to update release info page
  content/en/releases/release.md
  scripts/releng/update-release-info.sh
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/web-development, area/release-eng

#48830 [zh] Fix type parameter in example
  content/zh-cn/blog/_posts/2023-12-15-volume-attributes-class/index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh, area/localization

#48980 [zh] Sync admission-controllers.md
  content/zh-cn/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49034 fixed:modify an incoherent statement
  content/zh-cn/docs/tasks/administer-cluster/nodelocaldns.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49038 Correction of webinar date
  content/en/blog/_posts/2024-12-11-Kubernetes-v1-32-Release/index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#49042 Update config API for v1.32
  content/en/docs/reference/config-api/apiserver-admission.v1.md
  content/en/docs/reference/config-api/apiserver-audit.v1.md
  content/en/docs/reference/config-api/apiserver-config.v1.md
  content/en/docs/reference/config-api/apiserver-config.v1alpha1.md
  content/en/docs/reference/config-api/apiserver-config.v1beta1.md
  content/en/docs/reference/config-api/client-authentication.v1.md
  content/en/docs/reference/config-api/client-authentication.v1beta1.md
  content/en/docs/reference/config-api/kube-controller-manager-config.v1alpha1.md
  content/en/docs/reference/config-api/kube-proxy-config.v1alpha1.md
  content/en/docs/reference/config-api/kube-scheduler-config.v1.md
  content/en/docs/reference/config-api/kubeadm-config.v1beta3.md
  content/en/docs/reference/config-api/kubeadm-config.v1beta4.md
  content/en/docs/reference/config-api/kubelet-config.v1beta1.md
Labels: cncf-cla: yes, size/XL, lgtm, approved, language/en

#49039 Regenerate component reference for v1.32
  content/en/docs/reference/command-line-tools-reference/kube-apiserver.md
  content/en/docs/reference/command-line-tools-reference/kube-controller-manager.md
  content/en/docs/reference/command-line-tools-reference/kube-proxy.md
  content/en/docs/reference/command-line-tools-reference/kube-scheduler.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#49056 [zh-cn]sync topology-spread-constraints.md
  content/zh-cn/docs/concepts/scheduling-eviction/topology-spread-constraints.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49055 [zh-cn]sync secrets-good-practices.md
  content/zh-cn/docs/concepts/security/secrets-good-practices.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49052 [zh-cn]sync debug-service.md
  content/zh-cn/docs/tasks/debug/debug-application/debug-service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49050 [zh-cn]sync sysctl-cluster.md
  content/zh-cn/docs/tasks/administer-cluster/sysctl-cluster.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49047 Update kubelet reference for v1.32
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, approved, language/en

#49046 [zh-cn]sync kubeadm-certs.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49051 [zh-cn]sync custom-resource-definitions.md
  content/zh-cn/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48935 [zh] sync 2024-12-13-memory-manager-moves-to-ga/
  content/zh-cn/blog/_posts/2024-12-13-memory-manager-moves-to-ga/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48999 [zh] Sync production-environment/tools/_index.md
  content/zh-cn/docs/setup/production-environment/tools/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49027 [zh-cn]sync cpu-management-policies.md
  content/zh-cn/docs/tasks/administer-cluster/cpu-management-policies.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49044 [zh-cn]sync configure-service-account.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-service-account.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49033 [zh] Sync administer-cluster/memory-manager.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/windows-cpu-and-memory-affinity.md
  content/zh-cn/docs/tasks/administer-cluster/memory-manager.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49061 [ja] Translate "Kubernetes v1.32: Penelope" into Japanese
  content/ja/blog/_posts/2024-12-11-Kubernetes-v1-32-Release/index.md
  content/ja/blog/_posts/2024-12-11-Kubernetes-v1-32-Release/k8s-1.32.png
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#49065 [ja] Fix document "Kubernetes v1.32: Penelope"
  content/ja/blog/_posts/2024-12-11-Kubernetes-v1-32-Release/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#49036 [zh] Sync configure-pod-container/security-context.md
  content/zh-cn/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49059 [zh] Sync command-line-tools-reference/kube-controller-manager.md
  content/zh-cn/docs/reference/command-line-tools-reference/kube-controller-manager.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49054 [zh-cn]sync manage-resources-containers secret
  content/zh-cn/docs/concepts/configuration/manage-resources-containers.md
  content/zh-cn/docs/concepts/configuration/secret.md
  content/zh-cn/examples/pods/resource/pod-level-resources.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49064 [zh-cn] Update images.md
  content/zh-cn/docs/concepts/containers/images.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49041 Update kubectl reference for v1.32
  content/en/docs/reference/kubectl/generated/kubectl_apply/_index.md
  content/en/docs/reference/kubectl/generated/kubectl_apply/kubectl_apply_edit-last-applied.md
  content/en/docs/reference/kubectl/generated/kubectl_create/_index.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_clusterrole.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_clusterrolebinding.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_configmap.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_cronjob.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_deployment.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_ingress.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_job.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_namespace.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_poddisruptionbudget.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_priorityclass.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_quota.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_role.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_rolebinding.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_secret_docker-registry.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_secret_generic.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_secret_tls.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_service_clusterip.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_service_externalname.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_service_loadbalancer.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_service_nodeport.md
  content/en/docs/reference/kubectl/generated/kubectl_create/kubectl_create_serviceaccount.md
  content/en/docs/reference/kubectl/generated/kubectl_delete/_index.md
  content/en/docs/reference/kubectl/generated/kubectl_edit/_index.md
  content/en/docs/reference/kubectl/generated/kubectl_explain/_index.md
  content/en/docs/reference/kubectl/generated/kubectl_get/_index.md
  content/en/docs/reference/kubectl/generated/kubectl_kustomize/_index.md
  content/en/docs/reference/kubectl/generated/kubectl_logs/_index.md
  content/en/docs/reference/kubectl/generated/kubectl_patch/_index.md
  content/en/docs/reference/kubectl/generated/kubectl_replace/_index.md
  content/en/docs/reference/kubectl/generated/kubectl_taint/_index.md
  content/en/docs/reference/kubectl/generated/kubectl_wait/_index.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en

#49063 Fix some blog post typos
  content/en/blog/_posts/2018-05-04-Announcing-Kubeflow-0-1.md
  content/en/blog/_posts/2021-10-18-kpng-specialized-proxiers.md
  content/en/blog/_posts/2024-12-11-Kubernetes-v1-32-Release/index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#49066 [zh] Sync command-line-tools-reference/kube-proxy.md
  content/zh-cn/docs/reference/command-line-tools-reference/kube-proxy.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48966 [ja] Translate docs/tasks/configure-pod-container/pull-image-private-registry.md
  content/ja/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#49078 add natalisucks to blog-owners and reviewers
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#49040 Update kubeadm reference for v1.32
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config/kubeadm_config_images_list.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config/kubeadm_config_images_pull.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init/_index.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init/kubeadm_init_phase_addon_all.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init/kubeadm_init_phase_addon_coredns.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init/kubeadm_init_phase_control-plane_all.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init/kubeadm_init_phase_control-plane_apiserver.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init/kubeadm_init_phase_kubelet-finalize_experimental-cert-rotation.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en

#49077 Add descriptions of ClusterRole and ClusterRoleBinding to docs/reference/glossary/rbac.md
  content/en/docs/reference/glossary/rbac.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#49060 [zh] Sync command-line-tools-reference/kube-apiserver.md
  content/zh-cn/docs/reference/command-line-tools-reference/kube-apiserver.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49085 [zh-cn]sync kubeadm_join_phase
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_join/kubeadm_join_phase.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49081 [zh] Sync 2 files related to kubeadm/generated/kubeadm_init/
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init/kubeadm_init_phase_kubelet-finalize_experimental-cert-rotation.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49082 [zh-cn]sync kube-scheduler-config.v1.md
  content/zh-cn/docs/reference/config-api/kube-scheduler-config.v1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48928 [vi] Translate setup/_index.md into Vietnamese
  content/vi/docs/setup/_index.md
  content/vi/docs/setup/best-practices/_index.md
Labels: cncf-cla: yes, size/M, sig/docs, approved, language/vi, area/localization

#49093 [fr] Update _pod.md
  content/fr/docs/concepts/workloads/pods/pod.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr, area/localization

#49090 [zh-cn]sync kubeadm_reset_phase.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset/kubeadm_reset_phase.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49086 Fix config API for kcm config v1alpha1
  content/en/docs/reference/config-api/kube-controller-manager-config.v1alpha1.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en

#49089 Mention official kubectl pronunciation
  content/en/docs/reference/glossary/kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, priority/backlog, approved, language/en

#48936 [zh] Add a blog: 2024-12-17-api-streaming/
  content/zh-cn/blog/_posts/2024-12-17-api-streaming/index.md
  content/zh-cn/blog/_posts/2024-12-17-api-streaming/kube-apiserver-memory_usage.png
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49067 [zh] Sync setup-tools/kubeadm/kubeadm-init.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49087 [es] Update _pod.md
  content/es/docs/concepts/workloads/pods/pod.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es, area/localization

#49092 feat: the RecoverVolumeExpansionFailure feature flag is in Beta stage since 1.32
  content/en/docs/reference/command-line-tools-reference/feature-gates/recover-volume-expansion-failure.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49106 [zh] fix node-monitor-grace-period
  content/zh-cn/docs/reference/node/node-status.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48941 [zh-cn]sync limit-range.md
  content/zh-cn/docs/concepts/policy/limit-range.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49062 [zh-cn]sync command-line-tools-reference/kubelet.md
  content/zh-cn/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49075 [zh-cn]sync logging counter-pod-err.yaml apiserver-audit.v1
  content/zh-cn/docs/concepts/cluster-administration/logging.md
  content/zh-cn/docs/reference/config-api/apiserver-audit.v1.md
  content/zh-cn/examples/debug/counter-pod-err.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49070 [zh-cn] sync service.md
  content/zh-cn/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49072 [zh-cn]sync volumes statefulset
  content/zh-cn/docs/concepts/storage/volumes.md
  content/zh-cn/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49074 [zh-cn] sync container-lifecycle-hooks.md
  content/zh-cn/docs/concepts/containers/container-lifecycle-hooks.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49076 [zh-cn]sync labels-annotations-taints/_index.md
  content/zh-cn/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49084 [zh-cn]sync kubeadm_upgrade_apply
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_apply.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#49094 [zh-cn]sycn kubeadm_upgrade_node_phase_post-upgrade.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_node_phase_post-upgrade.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49099 [zh-cn]sync kubeadm_upgrade_apply_phase_bootstrap-token
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_apply_phase_bootstrap-token.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49100 [zh-cn]sync volume-snapshots.md
  content/zh-cn/docs/concepts/storage/volume-snapshots.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49102 [zh-cn]sync kubeadm_upgrade_node_phase_addon_kube-proxy
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_node_phase_addon_kube-proxy.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49107 [zh] sync memory-constraint-namespace assign-cpu-resource assign-memory-resource
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/memory-constraint-namespace.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-cpu-resource.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-memory-resource.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49111 [zh] Sync config-api/kubelet-config.v1beta1.md
  content/zh-cn/docs/reference/config-api/kubelet-config.v1beta1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49112 [zh] Add zh text to pods/pod-lifecycle.md and related feature gate
  content/zh-cn/docs/concepts/workloads/pods/pod-lifecycle.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/kubelet-crash-loop-back-off-max.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49118 [zh-cn]sync kubeadm-config.v1beta3.md
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta3.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49097 [zh-cn]sync kubeadm_upgrade_apply_phase_addon_all.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_apply_phase_addon_all.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49098 [zh-cn]sync dynamic-resource-allocation.md
  content/zh-cn/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49101 [zh-cn]sync kubeadm_upgrade_node_phase_addon_coredns
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_node_phase_addon_coredns.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49113 [zh-cn]sync kubeadm_upgrade_apply_phase_control-plane
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_apply_phase_control-plane.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49114 [zh-cn]sync kubeadm_upgrade_node_phase_addon_all
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_node_phase_addon_all.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49117 [zh-cn]sync kubeadm_upgrade_apply_phase_upload-config_all
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_apply_phase_upload-config_all.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49017 Simplify reflecting the CoreDNS changes after updating the CoreDNS Deployment and Service
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-reconfigure.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#49143 [zh-cn] sync cpu-default-namespace.md
  content/zh-cn/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49141 [zh-cn]sync kubectl/kubectl.md
  content/zh-cn/docs/reference/kubectl/kubectl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49137 [zh-cn]sync kubeadm_upgrade_node_phase.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_node_phase.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49135 [zh-cn]sync kubeadm_upgrade_apply_phase_kubelet-config
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_apply_phase_kubelet-config.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49110 [zh-cn] sync 2022-09-14-pod-has-network-condition.md
  content/zh-cn/blog/_posts/2022-09-14-pod-has-network-condition.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49124 [zh-cn]sync kubeadm_upgrade_apply_phase_addon_kube-proxy.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_apply_phase_addon_kube-proxy.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49121 [zh-cn]sync kubeadm_upgrade_apply_phase_upload-config_kubelet
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_apply_phase_upload-config_kubelet.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49123 [zh-cn]sync kubeadm_upgrade_apply_phase_post-upgrade.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_apply_phase_post-upgrade.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49128 [zh] Sync using-api/api-concepts.md and its feature gates
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/allow-unsafe-malformed-object-deletion.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/cbor-serving-and-storage.md
  content/zh-cn/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49115 [zh-cn]sync kubeadm_upgrade_apply_phase_upload-config_kubeadm
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_apply_phase_upload-config_kubeadm.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49122 [zh-cn]sync kubeadm_upgrade_apply_phase_preflight
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_apply_phase_preflight.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49142 [zh-cn]sync authorization.md
  content/zh-cn/docs/reference/access-authn-authz/authorization.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49156 [ja] Update Link of Inventory in Install k8s doc
  content/ja/docs/setup/production-environment/tools/kubespray.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#49149 [zh] Add kubeadm_upgrade_apply_phase_addon_coredns.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade/kubeadm_upgrade_apply_phase_addon_coredns.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization
