Repository kubernetes/website, pull requests merged in 2024-11, with the labels that each got.

#48548 Add blog review guideline to Reviewing PRs page
  content/en/docs/contribute/review/reviewing-prs.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en, area/contributor-comms

#48401 Clean up best-practices: certificates and node-conformance
  content/en/docs/setup/best-practices/certificates.md
  content/en/docs/setup/best-practices/node-conformance.md
Labels: cncf-cla: yes, size/L, lgtm, approved, kind/cleanup, language/en

#48602 Mark CronJobsScheduledAnnotation as GA
  content/en/docs/reference/command-line-tools-reference/feature-gates/cron-jobs-scheduled-annotation.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48379 [zh] Add 2024-08-16-Honor-PV-Reclaim-Policy-Beta.md
  content/zh-cn/blog/_posts/2024-08-16-Honor-PV-Reclaim-Policy-Beta.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48446 [zh] Add 2024-08-16-kubernetes-1.31-image-volume-source.md
  content/zh-cn/blog/_posts/2024-08-16-kubernetes-1.31-image-volume-source.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48228 [SidecarContainer] provide sidecar best practices hints about exit code
  content/en/docs/concepts/workloads/pods/sidecar-containers.md
  content/en/docs/tutorials/configuration/pod-sidecar-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47805 KEP-4292: Remove custom profiling env var as it is GA now
  content/en/docs/reference/kubectl/kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, sig/cli, language/en

#48339 topology-manager: promoto TopologyManagerPolicyOptions to stable
  content/en/docs/reference/command-line-tools-reference/feature-gates/topology-manager-policy-options.md
  content/en/docs/tasks/administer-cluster/topology-manager.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#48625 [en] update kubernetes link
  content/en/docs/contribute/participate/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48618 [zh-cn]sync and improve docker-cli-to-kubectl node-conformance
  content/zh-cn/docs/reference/kubectl/docker-cli-to-kubectl.md
  content/zh-cn/docs/setup/best-practices/node-conformance.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48620 [zh-cn]sync reviewing-prs.md
  content/zh-cn/docs/contribute/review/reviewing-prs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48595 [zh-cn]sync pod-disruption-budget
  content/zh-cn/docs/reference/glossary/pod-disruption-budget.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48615 KEP-3857: promote RecursiveReadOnlyMounts feature to beta
  content/en/docs/reference/command-line-tools-reference/feature-gates/recursive-read-only-mounts.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48612 [zh] Sync best-practices/certificates.md
  content/zh-cn/docs/setup/best-practices/certificates.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47659 mark ZeroLimitedNominalConcurrencyShares as removed
  content/en/docs/reference/command-line-tools-reference/feature-gates/zero-limited-nominal-concurrency-shares.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48638 Fix typo in "Pod Lifecycle" page
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48636 [zh-cn]sync recursive-read-only-mounts.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/recursive-read-only-mounts.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48640 Merged main dev 1.32
  content/bn/community/static/cncf-code-of-conduct.md
  content/en/blog/_posts/2024-10-28-k8s-upstream-training-japan-spotlight/index.md
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/concepts/workloads/pods/sidecar-containers.md
  content/en/docs/contribute/participate/_index.md
  content/en/docs/contribute/review/reviewing-prs.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/recursive-read-only-mounts.md
  content/en/docs/reference/glossary/pod-disruption-budget.md
  content/en/docs/setup/best-practices/certificates.md
  content/en/docs/setup/best-practices/node-conformance.md
  content/en/docs/tutorials/configuration/pod-sidecar-containers.md
  content/ja/community/static/cncf-code-of-conduct.md
  content/pt-br/README.md
  content/zh-cn/blog/_posts/2024-08-16-Honor-PV-Reclaim-Policy-Beta.md
  content/zh-cn/blog/_posts/2024-08-16-kubernetes-1.31-image-volume-source.md
  content/zh-cn/docs/concepts/cluster-administration/cluster-autoscaling.md
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/zh-cn/docs/concepts/services-networking/cluster-ip-allocation.md
  content/zh-cn/docs/contribute/review/reviewing-prs.md
  content/zh-cn/docs/reference/glossary/pod-disruption-budget.md
  content/zh-cn/docs/reference/kubectl/docker-cli-to-kubectl.md
  content/zh-cn/docs/setup/best-practices/certificates.md
  content/zh-cn/docs/setup/best-practices/node-conformance.md
  content/zh-cn/releases/patch-releases.md
  data/releases/eol.yaml
  data/releases/schedule.yaml
  layouts/shortcodes/feature-state.html
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en

#48637 [zh-cn]sync participate/_index.md
  content/zh-cn/docs/contribute/participate/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48616 RecursiveReadOnlyMounts: update the status about CRI-O
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/storage, sig/docs, approved, language/en

#48642 [zh] sync volumes pod-lifecycle
  content/zh-cn/docs/concepts/storage/volumes.md
  content/zh-cn/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48624 [zh-cn] sync sidecar-containers.md
  content/zh-cn/docs/concepts/workloads/pods/sidecar-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48643 Tweak application-security-checklist.md for cleanup
  content/en/docs/concepts/security/application-security-checklist.md
Labels: cncf-cla: yes, size/L, lgtm, approved, kind/cleanup, language/en

#48641 [de] update kubernetes link
  content/de/docs/contribute/participate/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de, area/localization

#48617 [pt] update contributor covenant links
  content/pt-br/community/static/cncf-code-of-conduct.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/localization

#48295 [KEP-3960] - update docs for GA
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/pod-lifecycle-sleep-action.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#47625 mark feature-gate HPAContainerMetrics as removed
  content/en/docs/reference/command-line-tools-reference/feature-gates/hpa-container-metrics.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, sig/autoscaling, language/en

#48653 Fix bullet indentations and typos in kubelet-standalone.md
  content/en/docs/tutorials/cluster-management/kubelet-standalone.md
Labels: cncf-cla: yes, size/M, lgtm, approved, kind/cleanup, language/en

#48656 [ja] update kubernetes link
  content/ja/docs/contribute/participate/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#48657 Revert #48295 Update KEP-3960 to GA
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/pod-lifecycle-sleep-action.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48626 [zh] Add 2024-10-28-k8s-upstream-training-japan-spotlight
  content/zh-cn/blog/_posts/2024-10-28-k8s-upstream-training-japan-spotlight/index.md
  content/zh-cn/blog/_posts/2024-10-28-k8s-upstream-training-japan-spotlight/ood-2022-01.png
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48649 [id] update kubernetes link
  content/id/docs/contribute/participate/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#48658 Move November patch releases +1 week
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, area/release-eng

#48585 Kubernetes v1.32 sneak peek blog
  content/en/blog/_posts/2024-11-08-kubernetes-1.32-sneak-peek.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en, area/blog

#48639 Fix: improve clarity and formatting in liveness, readiness, and startup probes documentation
  content/en/docs/concepts/configuration/liveness-readiness-startup-probes.md
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#48549 [es] Added content content/es/docs/tasks/run-application/access-api-from-pod #45316
  content/es/docs/tasks/run-application/access-api-from-pod.md
Labels: cncf-cla: yes, size/L, lgtm, kind/feature, sig/docs, approved, language/es, area/localization

#48484 KEP-1847 v1.32 stable docs changesAutodelete 132
  content/en/docs/concepts/workloads/controllers/statefulset.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/stateful-set-auto-delete-pvc.md
Labels: cncf-cla: yes, size/S, lgtm, sig/storage, sig/docs, approved, sig/apps, language/en

#48663 [zh-cn]sync liveness-readiness-startup-probes configure-liveness-readiness-startup-probes
  content/zh-cn/docs/concepts/configuration/liveness-readiness-startup-probes.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48664 Drop PodHostIPs feature gate in v1.32
  content/en/docs/reference/command-line-tools-reference/feature-gates/pod-host-ips.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48652 [zh] Add a tutorial: kubelet-standalone
  content/zh-cn/docs/tutorials/cluster-management/_index.md
  content/zh-cn/docs/tutorials/cluster-management/kubelet-standalone.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#48665 Taints in kubernetes.io and k8s.io namespace are also reserved
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/architecture, approved, language/en

#48651 Clean up a tutorial: pod-sidecar-containers.md
  content/en/docs/tutorials/configuration/pod-sidecar-containers.md
Labels: cncf-cla: yes, size/L, lgtm, approved, kind/cleanup, language/en

#48606 Update ServiceAccountTokenJTI, ServiceAccountTokenPodNodeInfo, ServiceAccountTokenNodeBindingValidation to stable
  content/en/docs/reference/command-line-tools-reference/feature-gates/service-account-token-jti.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/service-account-token-node-binding-validation.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/service-account-token-pod-node-info.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#48596 Fix typos and text in manage-resources-containers.md
  content/en/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#47896 [ja] Localize glossary entry for "LimitRange"
  content/ja/docs/reference/glossary/limitrange.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#47353 [ja] Update ja.toml
  data/i18n/ja/ja.toml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja, area/localization

#48395 [bn] Localization of cluster-operator.md
  content/bn/docs/reference/glossary/cluster-operator.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, area/localization, language/bn

#48488 [pt-br] Add tasks/configure-pod-container/assign-pods-nodes-using-node-affinity.md
  content/pt-br/docs/tasks/configure-pod-container/assign-pods-nodes-using-node-affinity.md
  content/pt-br/examples/pods/pod-nginx-preferred-affinity.yaml
  content/pt-br/examples/pods/pod-nginx-required-affinity.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt, area/localization

#48674 [zh-cn]sync manage-resources-containers.md
  content/zh-cn/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48289 DRA: remove "classic DRA"
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/dra-control-plane-controller.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, sig/docs, approved, language/en, wg/device-management

#48670 [zh-cn]sync pod-sidecar-containers.md
  content/zh-cn/docs/tutorials/configuration/pod-sidecar-containers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48681 update maxParallelImagePulls to beta
  content/en/docs/concepts/containers/images.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48668 [zh-cn]sync labels-annotations-taints/_index.md
  content/zh-cn/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48669 feat: add the simulator annotations
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en

#48600 Add systems:master mention to the Authz reference page
  content/en/docs/reference/access-authn-authz/authorization.md
Labels: cncf-cla: yes, size/S, lgtm, sig/auth, approved, language/en, sig/security

#48645 [KEP-4330] Add doc for CompatibilityVersion
  content/en/docs/concepts/cluster-administration/compatibility-version.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#48590 Update feature gate information for v1.31
  content/en/docs/reference/command-line-tools-reference/feature-gates/allow-dns-only-node-csr.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/allow-insecure-kubelet-certificate-signing-requests.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/anonymous-auth-configurable-endpoints.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/app-armor-fields.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/concurrent-watch-object-decode.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/csi-migration-portworx.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/disable-allocator-dual-write.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/disable-cloud-providers.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/disable-kubelet-cloud-credential-providers.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/proc-mount-type.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/reload-kubelet-server-certificate-file.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/retry-generate-name.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/strict-cost-enforcement-for-vap.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/strict-cost-enforcement-for-webhooks.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en

#48568 Update metrics documentation for v1.31
  content/en/docs/reference/instrumentation/metrics.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en

#47663 Promote RelaxedEnvironmentVariableValidation to beta
  content/en/docs/reference/command-line-tools-reference/feature-gates/relaxed-environment-variable-validation.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, approved, language/en

#48648 Add link to Multi Tenant Operator in Multi-Tenancy chapter
  content/en/docs/concepts/security/multi-tenancy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#48706 [en] update queue link
  content/en/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48694 [zh-cn] Resync access-authn-authz/authorization.md
  content/zh-cn/docs/reference/access-authn-authz/authorization.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48564 [zh] Add application-security-checklist.md
  content/zh-cn/docs/concepts/security/application-security-checklist.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48703 [zh-cn]sync reload-kubelet-server-certificate-file
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/reload-kubelet-server-certificate-file.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48699 Update _index.md
  content/en/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48710 [zh-cn]sync multi-tenancy.md
  content/zh-cn/docs/concepts/security/multi-tenancy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48442 [pt-br] Update docs/concepts/scheduling-eviction/kube-scheduler
  content/pt-br/docs/concepts/scheduling-eviction/kube-scheduler.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt, area/localization

#48702 [zh-cn]add 6 feature-gates
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/allow-dns-only-node-csr.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/allow-insecure-kubelet-certificate-signing-requests.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/app-armor-fields.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/concurrent-watch-object-decode.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/disable-allocator-dual-write.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48711 [zh-cn]sync user-namespaces.md
  content/zh-cn/docs/concepts/workloads/pods/user-namespaces.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#46824 [ko] Updated Hyperlink of Easegress IngressController (fix)
  content/ko/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#47239 [ko] Delete rewrite-target annotation in ingress example
  content/ko/examples/service/networking/example-ingress.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#48707 [zh] Add reference/node/kubelet-files.md
  content/zh-cn/docs/reference/node/kubelet-files.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#47393 [ko] Update stale StatefulSet with Cassandra example
  content/ko/examples/application/cassandra/cassandra-statefulset.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#47410 [ko] Update the GitHub repo url of Java Operator SDK
  content/ko/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#48231 [ko] Update links for AMD GPU device plugin
  content/ko/docs/tasks/manage-gpus/scheduling-gpus.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#48425 [ko] Update the multi tenancy docs to remove reference to archived pr…
  content/ko/docs/concepts/security/multi-tenancy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#48483 [ko] Fix wrong URL scheme
  content/ko/docs/contribute/new-content/open-a-pr.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#48623 [ko] update contributor covenant links
  content/ko/community/static/cncf-code-of-conduct.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#48704 [zh-cn]sync strict-cost-enforcement-*
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/strict-cost-enforcement-for-vap.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/strict-cost-enforcement-for-webhooks.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#48715 [zh] update extensible-admission-controllers.md
  content/zh-cn/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48714 [ru] update queue link
  content/ru/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru, area/localization

#48700 [zh-cn] resync apiserver-config.v1beta1 reference
  content/zh-cn/docs/reference/config-api/apiserver-config.v1beta1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh, area/localization

#48571 fix wrong image-gc-period in doc
  content/en/docs/concepts/architecture/garbage-collection.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48572 update how to persist enabling ipv6 forwarding across reboot
  content/en/docs/setup/production-environment/tools/kubeadm/dual-stack-support.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#48684 Update metrics reference for v1.32 release
  content/en/docs/reference/instrumentation/metrics.md
Labels: cncf-cla: yes, size/L, lgtm, sig/instrumentation, approved, language/en

#48732 [zh-cn]sync pods/_index.md
  content/zh-cn/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48731 [zh-cn]sync garbage-collection.md
  content/zh-cn/docs/concepts/architecture/garbage-collection.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48730 [zh] Update config-api/apiserver-config.v1beta1.md
  content/zh-cn/docs/reference/config-api/apiserver-config.v1beta1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48685 blog: Writing dynamic Kubernetes API server for Aggregation Layer
  content/en/blog/_posts/2024-11-21-dynamic-kubernetes-api-server-for-cozystack/cozystack.png
  content/en/blog/_posts/2024-11-21-dynamic-kubernetes-api-server-for-cozystack/index.md
  content/en/blog/_posts/2024-11-21-dynamic-kubernetes-api-server-for-cozystack/screenshot.png
Labels: cncf-cla: yes, size/XL, lgtm, approved, language/en, area/blog

#48719 [ja] Translate docs/concepts/security/service-accounts.md into Japanese
  content/ja/docs/concepts/security/service-accounts.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#48738 Update NPM packages and lock file to eliminate vulnerabilities and warnings
  package-lock.json
  package.json
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, area/web-development

#48154 Add description about custom profile
  content/en/docs/tasks/debug/debug-application/debug-running-pod.md
Labels: cncf-cla: yes, size/M, lgtm, approved, sig/cli, tide/merge-method-squash, language/en

#48667 Updating Style Guide Headings and Titles section
  content/en/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48727 [zh] Sync config-api/apiserver-config.v1alpha1.md
  content/zh-cn/docs/reference/config-api/apiserver-config.v1alpha1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh, area/localization

#48697 [zh] Add storage-version-migration-v1alpha1.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/storage-version-migration-v1alpha1.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh, area/localization

#48728 [zh] Sync kubeadm/dual-stack-support.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/dual-stack-support.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48713 docs(zh-cn): update clusters intro contents and hide interactive page in TOC
  content/zh-cn/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive-gone.html
  content/zh-cn/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/zh-cn/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive-gone.html
  content/zh-cn/docs/tutorials/kubernetes-basics/explore/explore-interactive-gone.html
  content/zh-cn/docs/tutorials/kubernetes-basics/expose/expose-interactive-gone.html
  content/zh-cn/docs/tutorials/kubernetes-basics/scale/scale-interactive-gone.html
  content/zh-cn/docs/tutorials/kubernetes-basics/update/update-interactive-gone.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48708 [ko-kr] fix typo in content/ko/docs/reference/glossary/finalizer.md
  content/ko/docs/reference/glossary/finalizer.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#48743 [zh-cn]sync style-guide.md
  content/zh-cn/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48746 [uk] update queue link
  content/uk/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk, area/localization

#48740 Drop Luc Perkins as Dockerfile maintainer
  Dockerfile
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#46635 Document overprovisioning for node autoscaling
  content/en/docs/concepts/cluster-administration/cluster-autoscaling.md
  content/en/docs/tasks/administer-cluster/node-overprovisioning.md
  content/en/examples/deployments/deployment-with-capacity-reservation.yaml
  content/en/examples/priorityclass/low-priority-class.yaml
Labels: cncf-cla: yes, size/L, lgtm, approved, sig/autoscaling, lifecycle/stale, tide/merge-method-squash, language/en

#48691 [bn] Localization of components.md
  content/bn/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, area/localization, language/bn

#48755 Correcting Style Guide Headings and Titles section
  content/en/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48508 [pt-br] Add docs/tasks/tools/install-kubectl-macos
  content/pt-br/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
  content/pt-br/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt, area/localization

#48518 Docs for ExternalJWTSigner
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/external-service-account-token-signer.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#48061 [ko] Fix ambiguous translations
  content/ko/docs/tasks/configure-pod-container/quality-service-pod.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#48749 [ja] Add description about custom profile
  content/ja/docs/tasks/debug/debug-application/debug-running-pod.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja, area/localization

#48762 Remove an invalid published date in front matter of blog
  content/en/blog/_posts/2018-01-00-Reporting-Errors-Using-Kubernetes-Events.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#48407 KEP-4832: add SchedulerAsyncPreemption to the doc
  content/en/docs/reference/command-line-tools-reference/feature-gates/scheduler-async-preemption.md
Labels: cncf-cla: yes, size/S, lgtm, sig/scheduling, approved, tide/merge-method-squash, language/en

#48487 KEP-3221: remove mentions of beta and featuregate, and change order of cmd line
  content/en/docs/reference/access-authn-authz/authorization.md
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, approved, language/en

#48761 [zh-cn]sync style-guide.md
  content/zh-cn/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48764 (zh-cn) Update an invalid date in its front matter in blog
  content/zh-cn/blog/_posts/2019-12-09-kubernetes-1.17-release-announcement.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48661 improve 2024-11-08-kubernetes-1.32-sneak-peek.md
  content/en/blog/_posts/2024-11-08-kubernetes-1.32-sneak-peek.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en, area/blog

#48561 Ready announcements for Docsy
  assets/js/banner-dismiss.js
  layouts/partials/head.html
  layouts/partials/hooks/head-end.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/web-development

#48718 Clarify image pull secret documentation
  content/en/docs/concepts/containers/images.md
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, approved, tide/merge-method-squash, language/en

#48736 Fix Go version in go.mod by dropping patch number
  go.mod
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#48777 adding nate-double-u to sig-docs-website-owners
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#47984 Fix project logo overlapping with other parts of nav bar
  assets/scss/_custom.scss
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/web-development

#48776 Delete obsolete online interactive tutorial page
  content/en/docs/tutorials/configuration/configure-java-microservice/_index.md
  content/en/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive.html
  content/en/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en

#48774 [de] update queue link
  content/de/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de, area/localization

#48765 [zh] Add node-overprovisioning.md
  content/zh-cn/docs/tasks/administer-cluster/node-overprovisioning.md
  content/zh-cn/examples/deployments/deployment-with-capacity-reservation.yaml
  content/zh-cn/examples/priorityclass/low-priority-class.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48763 docs: typos
  content/en/docs/tutorials/services/connect-applications-service.md
  content/en/docs/tutorials/services/pods-and-endpoint-termination-flow.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#48741 Container build: use npm ci over packages files and fix build cmd
  .dockerignore
  Dockerfile
  Makefile
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#48419 Add document link for volume group snapshots
  content/en/docs/concepts/storage/volume-snapshots.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48759 [pt-br] Update docs/tasks/tools/install-kubectl-macos
  content/pt-br/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
  content/pt-br/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pt, area/localization

#48783 [zh-cn]sync configure-java-microservice images
  content/zh-cn/docs/concepts/containers/images.md
  content/zh-cn/docs/tutorials/configuration/configure-java-microservice/_index.md
  content/zh-cn/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive.html
  content/zh-cn/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48753 Tweak node capacity overprovisioning task
  content/en/docs/tasks/administer-cluster/node-overprovisioning.md
  content/en/examples/deployments/deployment-with-capacity-reservation.yaml
  content/en/examples/priorityclass/low-priority-class.yaml
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#48784 [zh-cn]sync pull-image-private-registry
  content/zh-cn/docs/tasks/configure-pod-container/pull-image-private-registry.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#48788 [zh] Resync node-overprovisioning.md
  content/zh-cn/docs/tasks/administer-cluster/node-overprovisioning.md
  content/zh-cn/examples/deployments/deployment-with-capacity-reservation.yaml
  content/zh-cn/examples/priorityclass/low-priority-class.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48781 [ru] Fix control plane translation in Russian
  content/ru/docs/concepts/architecture/garbage-collection.md
  content/ru/docs/reference/glossary/cloud-controller-manager.md
  content/ru/docs/reference/glossary/controller.md
  content/ru/docs/reference/glossary/kube-scheduler.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ru, area/localization

#48790 Update release schedule with dec '04 patches
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, area/release-eng

#48270 Gateway API v1.2 blog post
  content/en/blog/_posts/2024-09-30-gateway-api-v1.2/gateway-api-logo.svg
  content/en/blog/_posts/2024-09-30-gateway-api-v1.2/index.md
Labels: cncf-cla: yes, size/L, lgtm, approved, tide/merge-method-squash, language/en, area/blog

#48789 [zh-cn]sync connect-applications-service.md
  content/zh-cn/docs/tutorials/services/connect-applications-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#48701 Add reference to and clean up authentication-mechanisms.md
  content/en/docs/concepts/security/hardening-guide/authentication-mechanisms.md
Labels: cncf-cla: yes, size/L, lgtm, approved, kind/cleanup, language/en

#48695 Clarify Server-Side Apply docs and example
  content/en/docs/reference/using-api/server-side-apply.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#48799 Clean up Gateway API v1.2 announcement
  content/en/blog/_posts/2024-11-21-gateway-api-v1-2/gateway-api-logo.svg
  content/en/blog/_posts/2024-11-21-gateway-api-v1-2/index.md
Labels: cncf-cla: yes, size/M, lgtm, approved, kind/cleanup, language/en, area/blog

#48308 Restyle feature boxes on main page and ready for vanilla Docsy
  assets/scss/_base.scss
  assets/scss/_custom.scss
  assets/scss/_tablet.scss
  layouts/shortcodes/blocks/kubernetes-features.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, area/web-development

#48364 Drop unused Hugo layout partial
  layouts/partials/docs/side-menu.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, area/web-development

#48367 Drop unused Hugo shortcode
  layouts/shortcodes/reference_docs.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, kind/cleanup, area/web-development

#48474 Add windows node graceful shutdown doc
  content/en/docs/concepts/cluster-administration/node-shutdown.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/windows-graceful-node-shutdown.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/windows, approved, language/en

#48793 removing map-crictl-dockercli page from v1.29
  content/en/docs/reference/tools/map-crictl-dockercli.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, kind/cleanup, language/en

#48800 [zh-cn]sync authentication-mechanisms.md
  content/zh-cn/docs/concepts/security/hardening-guide/authentication-mechanisms.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48660 [zh-cn]Add blog: 2024-11-08-kubernetes-1.32-sneak-peek.md
  content/zh-cn/blog/_posts/2024-11-08-kubernetes-1.32-sneak-peek.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48801 [zh] Resync using-api/server-side-apply.md
  content/zh-cn/docs/reference/using-api/server-side-apply.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#48439 KEP 4818: PodLifecycleSleepActionAllowZero
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/pod-lifecycle-sleep-action-allow-zero.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, language/en, area/blog, area/release-eng, area/localization

#48795 removing page map-crictl-dockercli from v1.30 release
  content/en/docs/reference/tools/map-crictl-dockercli.md
Labels: cncf-cla: yes, size/S, lgtm, approved, kind/cleanup, language/en

#48796 removing mapcrictl-dockercli-page from release-1.31
  content/en/docs/reference/tools/map-crictl-dockercli.md
Labels: cncf-cla: yes, size/S, lgtm, approved, kind/cleanup, language/en

#48817 Fix sample CEL expression in volumes.md
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#48821 [pt] update queue link
  content/pt-br/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/localization
