Repository kubernetes/website, pull requests merged in 2024-01, with the labels that each got.

#44579 [hi] Fix broken GitHub Learning link
  content/hi/docs/contribute/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi

#44588 Grammar corrections
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44591 [zh] Fix link anchor in configure-service-account.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-service-account.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#43964 kubernetes cluster networking types based on IP address assignment
  content/en/docs/concepts/cluster-administration/networking.md
  content/en/docs/images/kubernetes-cluster-network.svg
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/network, approved, language/en

#44577 [zh] Localize feature-gates/s*.md part 3
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/set-hostname-as-fqdn.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/sidecar-containers.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/size-memory-backed-volumes.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/skip-read-only-validation-gce.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/stable-load-balancer-node-set.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/startup-probe.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/stateful-set-auto-delete-pvc.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/stateful-set-min-ready-seconds.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/stateful-set-start-ordinal.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/storage-object-in-use-protection.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/storage-version-api.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/storage-version-hash.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/streaming-proxy-redirects.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/structured-authentication-configuration.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/structured-authorization-configuration.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/support-ipvs-proxy-mode.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/support-node-pids-limit.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/support-pod-pids-limit.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/suspend-job.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/sysctls.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#43672 Bump Hugo to v0.120.3
  netlify.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#44604 [zh] Fix word in custom-resources.md
  content/zh-cn/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44213 [zh] Localize a component image into Chinese
  content/zh-cn/docs/concepts/architecture/cloud-controller.md
  content/zh-cn/docs/images/components-of-kubernetes.svg
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#44547 [zh] Localize part3 of feature-gates/p*.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/pod-ready-to-start-containers.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/pod-scheduling-readiness.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/pod-security.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/pod-share-process-namespace.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/prefer-nominated-node.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/probe-termination-grace-period.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/proc-mount-type.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/proxy-terminating-endpoints.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/pvc-protection.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44552 [zh] Localize feature-gates/r*.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/read-write-once-pod.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/recover-volume-expansion-failure.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/remaining-item-count.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/remove-self-link.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/request-management.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/resource-limits-priority-function.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/resource-quota-scope-selectors.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44595 Fix several link errors
  content/en/docs/concepts/cluster-administration/flow-control.md
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/en/docs/concepts/services-networking/gateway.md
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/network-policy-end-port.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/topology-aware-hints.md
  content/en/docs/reference/kubectl/_index.md
  content/en/docs/tasks/access-application-cluster/access-cluster.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#44559 Emphasize contributions other than docs
  content/en/docs/contribute/_index.md
  content/en/docs/contribute/docs.md
  content/en/docs/home/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, refactor

#44494 [en] Update go lang link kubelet-config.v1beta1.md
  content/en/docs/reference/config-api/kubelet-config.v1beta1.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44506 fix typos
  content/en/docs/concepts/cluster-administration/system-metrics.md
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/en/docs/concepts/policy/_index.md
  content/en/docs/concepts/security/security-checklist.md
  content/en/docs/concepts/services-networking/endpoint-slices.md
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/concepts/workloads/controllers/replicaset.md
  content/en/docs/contribute/style/diagram-guide.md
  content/en/docs/reference/access-authn-authz/certificate-signing-requests.md
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
  content/en/docs/reference/access-authn-authz/validating-admission-policy.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/kubelet-pod-resources-dynamice-resources.md
  content/en/docs/reference/command-line-tools-reference/kubelet.md
  content/en/docs/reference/labels-annotations-taints/_index.md
  content/en/docs/reference/labels-annotations-taints/audit-annotations.md
  content/en/docs/reference/node/kubelet-checkpoint-api.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_validate.md
  content/en/docs/reference/tools/map-crictl-dockercli.md
  content/en/docs/reference/using-api/cel.md
  content/en/docs/reference/using-api/server-side-apply.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/troubleshooting-cni-plugin-related-errors.md
  content/en/docs/tasks/administer-cluster/verify-signed-artifacts.md
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
  content/en/docs/tasks/configure-pod-container/pull-image-private-registry.md
  content/en/docs/tasks/debug/debug-application/debug-pods.md
  content/en/docs/tasks/debug/debug-cluster/windows.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
  content/en/docs/tasks/extend-kubernetes/socks5-proxy-access-api.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, kind/cleanup, language/en

#44554 Improve feature gate rendering
  content/en/docs/contribute/new-content/new-features.md
  content/en/docs/reference/command-line-tools-reference/feature-gates-removed/index.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/index.md
  layouts/shortcodes/feature-gate-list.html
  layouts/shortcodes/feature-gate-table.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/web-development

#44539 Improve an expression from 'value's to 'values' for taint-and-toleration
  content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#44527 Fix search-icon when typing
  assets/scss/_custom.scss
  layouts/partials/search-input.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, area/web-development

#44607 Add Gaurav Padam to blog team
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/blog

#44627 update en admins list
  OWNERS
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#44624 Link to topology manager fine tuning docs from feature gate
  content/en/docs/reference/command-line-tools-reference/feature-gates/topology-manager-policy-options.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, language/en

#44628 fix links in blog
  content/en/blog/_posts/2023-10-05-sig-architecture-conformance-spotlight.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#44605 Clean up three contribute/generate-ref-docs
  content/en/docs/contribute/generate-ref-docs/contribute-upstream.md
  content/en/docs/contribute/generate-ref-docs/kubectl.md
  content/en/docs/contribute/generate-ref-docs/kubernetes-api.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#44270 [zh] Update kubeadm-config.v1beta3.md
  content/zh-cn/docs/reference/config-api/kubeadm-config.v1beta3.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44348 [zh] Localize a blog: PodReadyToStartContainersCondition-in-beta.md
  content/zh-cn/blog/_posts/2023-12-19-PodReadyToStartContainersCondition-in-beta.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44460 [zh] Localize feature-gates/l*.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/legacy-node-role-behavior.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/legacy-service-account-token-clean-up.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/legacy-service-account-token-no-auto-generation.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/legacy-service-account-token-tracking.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/load-balancer-ip-mode.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/local-storage-capacity-isolation-fs-quota-monitoring.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/local-storage-capacity-isolation.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/logarithmic-scale-down.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/logging-alpha-options.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/logging-beta-options.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44510 Fix examples and examples tests
  content/en/examples/examples_test.go
  content/en/examples/pods/storage/projected-clustertrustbundle.yaml
  go.mod
  go.sum
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/en

#44623 Simplify description for IdentifyPodOS
  content/en/docs/reference/command-line-tools-reference/feature-gates/identify-pod-os.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, kind/cleanup, language/en

#43246 Added-link-beginner-starting-out-in-#sig-docs
  README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#43438 Clarify NetPol applies to connections, not pkts
  content/en/docs/concepts/services-networking/network-policies.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/network, approved, language/en

#44638 Fix typo in feature gates page
  content/en/docs/reference/command-line-tools-reference/feature-gates/logging-alpha-options.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/logging-beta-options.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44610 Fixes to address Hugo deprecation warnings during build
  hugo.toml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, area/web-development

#44567 [zh] Sync feature-gates/index.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/index.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#43808 Add a clarification for autoscaling on minikube
  content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, sig/autoscaling, language/en

#44509 remove GA featuregate RemoveSelfLink
  content/en/docs/reference/command-line-tools-reference/feature-gates-removed/index.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/index.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/remove-self-link.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44639 [zh] Sync /feature-gates-removed/index.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates-removed/index.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh

#44473 Revise StatefulSet tutorial updates advice
  content/en/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#44613 [zh-cn] sync service-accounts-admin.md
  content/zh-cn/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44608 [zh] Fix typo in TLS Secrets part
  content/zh-cn/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44602 [zh] Sync /cluster-administration/networking.md
  content/zh-cn/docs/concepts/cluster-administration/networking.md
  content/zh-cn/docs/images/kubernetes-cluster-network.svg
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh

#44642 [zh] Sync contribute/new-content/new-features.md
  content/zh-cn/docs/contribute/new-content/new-features.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44587 [pt] Fix broken GitHub Learning link
  content/pt-br/docs/contribute/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#44654 [pt] Fix typo in TLS Secrets part
  content/pt-br/docs/concepts/configuration/secret.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#44606 [zh] sync managing-secret-using-kubectl managing-secret-using-kustomize crictl
  content/zh-cn/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
  content/zh-cn/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
  content/zh-cn/docs/tasks/debug/debug-cluster/crictl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44615 [zh-cn] Optimize Linguistic logic
  content/zh-cn/docs/reference/glossary/cloud-controller-manager.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#41584 Add and use glossary entry for “replica”
  content/en/docs/concepts/overview/components.md
  content/en/docs/reference/glossary/replica.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#42446 Make image registry hostname more obvious in example
  content/en/docs/tasks/configure-pod-container/configure-service-account.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43740 Fix varies of style issues for community page
  static/css/community.css
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/web-development

#44234 Improve user guidance in Kubernetes basics tutorials
  content/en/docs/tutorials/hello-minikube.md
  content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#44571 fix outdated link/anchor
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/concepts/extend-kubernetes/_index.md
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md
  content/en/docs/concepts/security/hardening-guide/authentication-mechanisms.md
  content/en/docs/contribute/new-content/_index.md
  content/en/docs/contribute/style/write-new-topic.md
  content/en/docs/reference/access-authn-authz/kubelet-authn-authz.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/custom-pod-dns.md
  content/en/docs/setup/production-environment/container-runtimes.md
  content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/tasks/access-application-cluster/access-cluster-services.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
  content/en/docs/tasks/debug/debug-application/debug-init-containers.md
  content/en/docs/tasks/extend-kubernetes/configure-aggregation-layer.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#44666 [zh] Fix typo in feature gates page
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/logging-alpha-options.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/logging-beta-options.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44648 [zh] sync configure-persistent-volume-storage static-pod
  content/zh-cn/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
  content/zh-cn/docs/tasks/configure-pod-container/static-pod.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#44658 [zh-cn] sync contribute/_index.md
  content/zh-cn/docs/contribute/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44663 [id] Fix language code for tutorial
  content/id/docs/tutorials/kubernetes-basics/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#44647 [de] modified master-node-communication.md to remove master/slave terminology
  content/de/docs/concepts/architecture/control-plane-node-communication.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/de

#44668 [zh] sync kube-apiserver.md
  content/zh-cn/docs/reference/command-line-tools-reference/kube-apiserver.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44660 [zh-cn] sync generate-ref-docs/kubernetes-api contribute-upstream
  content/zh-cn/docs/contribute/generate-ref-docs/contribute-upstream.md
  content/zh-cn/docs/contribute/generate-ref-docs/kubernetes-api.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44646 [de] localize content/de/docs/concepts/architecture/cgroups.md for German
  content/de/docs/concepts/architecture/cgroups.md
  content/de/docs/reference/glossary/cgroup.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/de

#44532 Improve docs around API data encryption at rest
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/L, lgtm, sig/auth, sig/docs, approved, language/en, sig/security

#44368 chore: fix links and names for ii.nz
  content/en/blog/_posts/2023-10-05-sig-architecture-conformance-spotlight.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, language/zh, area/blog

#44676 [zh] Fix typo & link
  content/zh-cn/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44290 Replaced unavailable image in https://k8s.io/docs/tutorials/stateless-application/guestbook/
  content/en/examples/application/guestbook/frontend-deployment.yaml
  content/en/examples/application/guestbook/redis-follower-deployment.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44678 [zh] Sync kube-proxy.md
  content/zh-cn/docs/reference/command-line-tools-reference/kube-proxy.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44664 [uk] Fix language code for tutorials
  content/uk/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive.html
  content/uk/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/uk/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html
  content/uk/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/uk/docs/tutorials/kubernetes-basics/explore/explore-interactive.html
  content/uk/docs/tutorials/kubernetes-basics/explore/explore-intro.html
  content/uk/docs/tutorials/kubernetes-basics/expose/expose-interactive.html
  content/uk/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/uk/docs/tutorials/kubernetes-basics/scale/scale-interactive.html
  content/uk/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/uk/docs/tutorials/kubernetes-basics/update/update-interactive.html
  content/uk/docs/tutorials/kubernetes-basics/update/update-intro.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/uk

#42695 Document CEL option, library and language feature availability by version
  content/en/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#44675 Highlight important comment in API encryption at rest task
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, sig/security

#42355 Remove API server --enable-logs-handler argument from docs
  content/en/docs/concepts/security/security-checklist.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, sig/security

#44151 Fix markup for tutorials
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/en/docs/tutorials/kubernetes-basics/explore/explore-intro.html
  content/en/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/en/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/en/docs/tutorials/kubernetes-basics/update/update-intro.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#44683 Add notes on kubeadm clusters version
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, tide/merge-method-squash, language/en

#44686 improve format for contribute/docs.md pr-wranglers.md
  content/en/docs/contribute/docs.md
  content/en/docs/contribute/participate/pr-wranglers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, kind/cleanup, language/en

#44672 [zh-cn] sync coarse-parallel-processing-work-queue.md
  content/zh-cn/docs/tasks/job/coarse-parallel-processing-work-queue.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44636 Move note about keyring directory closer to wher it is used
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#44673 [zh] Fix typo in the number of types of hook handlers for Containers
  content/zh-cn/docs/concepts/containers/container-lifecycle-hooks.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44702 [zh] Fix voyager link
  content/zh-cn/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44601 [pl] Fix broken GitHub Learning link
  content/pl/docs/contribute/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl

#44691 Clarify explanation of rolling updates
  content/en/docs/tutorials/kubernetes-basics/update/update-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44009 [ru] Localization of concepts/workloads/controllers/_index.md
  content/ru/docs/concepts/workloads/controllers/_index.md
  content/ru/docs/reference/glossary/object.md
  content/ru/docs/reference/glossary/workload.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ru

#44705 [zh] resync guestbook/YAMLs
  content/zh-cn/examples/application/guestbook/frontend-deployment.yaml
  content/zh-cn/examples/application/guestbook/redis-follower-deployment.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44709 Approval permission for 1.30 Release
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#44719 Update legacy packages blog post with a note about available releases
  content/en/blog/_posts/2023-08-31-legacy-package-repository-deprecation/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#44720 Update pkgs.k8s.io blog post with information about removing legacy repos
  content/en/blog/_posts/2023-08-15-pkgs-k8s-io-introduction.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#44722 Add blog for SIG Release spotlight
  content/en/blog/_posts/2024-01-15-SIG-Release-Spotlight/index.md
  content/en/blog/_posts/2024-01-15-SIG-Release-Spotlight/sig-release-meetings.png
  content/en/blog/_posts/2024-01-15-SIG-Release-Spotlight/sig-release-motivation.png
  content/en/blog/_posts/2024-01-15-SIG-Release-Spotlight/sig-release-overview.png
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#44677 Update redirects for kubectl reference page
  static/_redirects
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#43657 [ja] Translate reference/glossary/app-container.md & application-architect.md & application-developer.md & applications.md & approver.md into Japanese
  content/ja/docs/reference/glossary/app-container.md
  content/ja/docs/reference/glossary/application-architect.md
  content/ja/docs/reference/glossary/application-developer.md
  content/ja/docs/reference/glossary/applications.md
  content/ja/docs/reference/glossary/approver.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#44434 [ja] Move feature gates page
  content/ja/docs/reference/command-line-tools-reference/feature-gates/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#44599 [ja] Fix broken GitHub Learning link
  content/ja/docs/contribute/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#44499 Update container-lifecycle-hooks.md
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43247 Fixes comment for webhook conversion strategy
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44724 [de] modified files to remove master/slave terminology
  content/de/docs/reference/glossary/kube-apiserver.md
  content/de/docs/reference/glossary/kube-controller-manager.md
  content/de/docs/reference/glossary/kube-scheduler.md
  content/de/docs/reference/glossary/kubelet.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/de

#43583 Replace "Twitter" logo with "X" logo on Community page
  hugo.toml
  static/images/twitter_icon.png
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#44731 Add configuration block for Arabic to hugo.toml
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#44733 fixed installation guide in using CoreDNS for Service Discovery page
  content/en/docs/tasks/administer-cluster/coredns.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44700 fix: clarify day of the week in cron job documentation
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44737 [id] Fix voyager link
  content/id/docs/concepts/services-networking/ingress-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id

#44684 [bn] Fix typo in README-bn.md
  README-bn.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/bn

#44763 [zh] Update feature state for TopologyManager
  content/zh-cn/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44752 Add the command exposing the Deployment in the tutorial for scaling an application
  content/en/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/en/docs/tutorials/kubernetes-basics/scale/scale-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44703 [zh] Sync /kubeadm/install-kubeadm.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44619 [ja] Update `content/ja/docs/home/_index.md`
  content/ja/docs/home/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja

#44659 [zh-cn] sync contribute/docs.md
  content/zh-cn/docs/contribute/docs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44748 Fix links related to projection of keys and file permissions in the ConfigMap documentation
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44054 Updated Polish version of the TOML i118n file (data/i118n/pl/pl.toml).
  data/i18n/pl/pl.toml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pl

#44725 [de] German localization of more glossary entries
  content/de/docs/reference/glossary/cloud-controller-manager.md
  content/de/docs/reference/glossary/cluster.md
  content/de/docs/reference/glossary/container.md
  content/de/docs/reference/glossary/control-plane.md
  content/de/docs/reference/glossary/deployment.md
  content/de/docs/reference/glossary/docker.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/de

#44726 [de] German localization of further glossary files
  content/de/docs/reference/glossary/kubeadm.md
  content/de/docs/reference/glossary/label.md
  content/de/docs/reference/glossary/master.md
  content/de/docs/reference/glossary/node.md
  content/de/docs/reference/glossary/object.md
  content/de/docs/reference/glossary/pod.md
  content/de/docs/reference/glossary/selector.md
  content/de/docs/reference/glossary/service.md
  content/de/docs/reference/glossary/statefulset.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/de

#44727 [de] German localization of further glossary items
  content/de/docs/reference/glossary/addons.md
  content/de/docs/reference/glossary/admission-controller.md
  content/de/docs/reference/glossary/affinity.md
  content/de/docs/reference/glossary/aggregation-layer.md
  content/de/docs/reference/glossary/annotation.md
  content/de/docs/reference/glossary/api-eviction.md
  content/de/docs/reference/glossary/api-group.md
  content/de/docs/reference/glossary/app-container.md
  content/de/docs/reference/glossary/application-architect.md
  content/de/docs/reference/glossary/application-developer.md
  content/de/docs/reference/glossary/applications.md
  content/de/docs/reference/glossary/approver.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/de

#44721 Recommend replicating encryption key for API data encryption at rest
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, sig/security

#43626 Add example command to create /etc/apt/keyrings directory
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/en/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#44784 Add January patch releases to the calendar
  content/en/releases/patch-releases.md
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#44786 Removing the duplicate note
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44701 [fr] translate task "Declare Network Policy"
  content/fr/docs/tasks/administer-cluster/declare-network-policy.md
  content/fr/examples/service/networking/nginx-policy.yaml
  data/i18n/fr/fr.toml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/fr

#44797 Update authentication.md - Azure Active Directory is now Microsoft Entra ID
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44792 Update references to CNCF landscape (v2)
  content/de/partners/_index.html
  content/de/training/_index.html
  content/en/blog/_posts/2020-12-02-dockershim-faq.md
  content/en/blog/_posts/2021-11-12-are-you-ready-for-dockershim-removal/index.md
  content/en/blog/_posts/2022-02-17-updated-dockershim-faq.md
  content/en/case-studies/netease/index.html
  content/en/docs/setup/production-environment/turnkey-solutions.md
  content/en/docs/tasks/debug/debug-cluster/resource-usage-monitoring.md
  content/en/partners/_index.html
  content/en/training/_index.html
  content/es/partners/_index.html
  content/fr/partners/_index.html
  content/hi/docs/setup/production-environment/turnkey-solutions.md
  content/it/partners/_index.html
  content/it/training/_index.html
  content/ja/blog/_posts/2022-02-17-updated-dockershim-faq.md
  content/ja/docs/setup/production-environment/turnkey-solutions.md
  content/ja/partners/_index.html
  content/ja/training/_index.html
  content/ko/docs/setup/production-environment/turnkey-solutions.md
  content/ko/partners/_index.html
  content/ko/training/_index.html
  content/pl/training/_index.html
  content/pt-br/blog/_posts/2022-02-17-updated-dockershim-faq.md
  content/pt-br/partners/_index.html
  content/vi/partners/_index.html
  content/zh-cn/blog/_posts/2020-12-02-dockershim-faq.md
  content/zh-cn/blog/_posts/2022-02-17-updated-dockershim-faq.md
  content/zh-cn/case-studies/netease/index.html
  content/zh-cn/docs/setup/production-environment/turnkey-solutions.md
  content/zh-cn/docs/tasks/debug/debug-cluster/resource-usage-monitoring.md
  content/zh-cn/partners/_index.html
  content/zh-cn/training/_index.html
  layouts/shortcodes/cncf-landscape.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, language/ko, language/ja, language/zh, language/fr, language/it, language/de, language/es, area/blog, language/pt, language/hi, language/vi, language/pl, area/web-development

#44804 Update change-package-repository.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/change-package-repository.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44802 Updates hugo.toml for 1.30 release
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#44295 Add information about how existing in-trees PVs and in-tree format yaml file will be handled after CSI migration is completed
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/storage, sig/docs, approved, language/en

#44776 Update encrypt-data.md
  content/en/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44182 [ja] Following the upstream for `/content/ja/docs/contribute/_index.md`
  content/ja/docs/contribute/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#44813 Add general contibution workflow to language-specific-localization-guide
  content/uk/docs/contribute/localization_uk.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/uk

#44785 [zh] fix typo & link
  content/zh-cn/docs/tasks/administer-cluster/verify-signed-artifacts.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44775 [zh] sync configure-service-account horizontal-pod-autoscale-walkthrough install-kubectl-macos
  content/zh-cn/docs/tasks/configure-pod-container/configure-service-account.md
  content/zh-cn/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md
  content/zh-cn/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44690 [zh] Sync participate/pr-wranglers.md
  content/zh-cn/docs/contribute/participate/pr-wranglers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44822 [zh-cn] sync configure-aggregation-layer socks5-proxy-access-api
  content/zh-cn/docs/tasks/extend-kubernetes/configure-aggregation-layer.md
  content/zh-cn/docs/tasks/extend-kubernetes/socks5-proxy-access-api.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44746 [zh] Sync a blog: 2023-08-15-pkgs-k8s-io-introduction.md
  content/zh-cn/blog/_posts/2023-08-15-pkgs-k8s-io-introduction.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44818 [zh-cn] sync docs/home/_index.md
  content/zh-cn/docs/home/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44819 [zh-cn] sync install-kubectl-linux pull-image-private-registry configure-pod-configmap
  content/zh-cn/docs/tasks/configure-pod-container/configure-pod-configmap.md
  content/zh-cn/docs/tasks/configure-pod-container/pull-image-private-registry.md
  content/zh-cn/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44820 [zh-cn] sync and improve troubleshooting-cni-plugin-related-errors.md
  content/zh-cn/docs/tasks/administer-cluster/migrating-from-dockershim/troubleshooting-cni-plugin-related-errors.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44821 [zh-cn] sync coredns upgrading-linux-nodes
  content/zh-cn/docs/tasks/administer-cluster/coredns.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/upgrading-linux-nodes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44789 [zh] sync persistent-volumes.md
  content/zh-cn/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#44403 [it] Update KubeCon dates for 2024
  content/it/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/it

#44279 Add comments on Tutorial for not working on ARM architecture cluster
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, sig/docs, approved, tide/merge-method-squash, language/en

#44814 fixed CNCF Landscape iframe which uses wrong colors
  layouts/shortcodes/cncf-landscape.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#44320 Added documentation for metrics generation
  content/en/docs/contribute/generate-ref-docs/metrics-reference.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#44841 [zh] Updated dotnet - Sample Programs url to point the example folder…
  content/zh-cn/docs/reference/using-api/client-libraries.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44835 [zh-cn] sync install-kubeadm windows
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/zh-cn/docs/tasks/debug/debug-cluster/windows.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#43702 Add the link of supposed example in topology-spread-constraints.md
  content/en/docs/concepts/scheduling-eviction/topology-spread-constraints.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44288 Improvement for k8s.io/docs/tasks/debug/debug-application/determine-reason-pod-failure/
  content/en/docs/tasks/debug/debug-application/determine-reason-pod-failure.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#44503 Update networkpolicy.yaml - match yaml code formatting
  content/en/examples/service/networking/networkpolicy.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#44843 Clean up metrics-reference.md
  content/en/docs/contribute/generate-ref-docs/metrics-reference.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#44836 [zh-cn] sync contribute/style/*
  content/zh-cn/docs/contribute/style/diagram-guide.md
  content/zh-cn/docs/contribute/style/hugo-shortcodes/index.md
  content/zh-cn/docs/contribute/style/write-new-topic.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44837 [zh-cn]sync generate-ref-docs/kubectl.md
  content/zh-cn/docs/contribute/generate-ref-docs/kubectl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44845 [fr] translate tasks from the Managing Secrets section
  content/fr/docs/tasks/configmap-secret/_index.md
  content/fr/docs/tasks/configmap-secret/managing-secret-using-config-file.md
  content/fr/docs/tasks/configmap-secret/managing-secret-using-kubectl.md
  content/fr/docs/tasks/configmap-secret/managing-secret-using-kustomize.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/fr

#44852 [zh] Update configure-redis-using-configmap.md
  content/zh-cn/docs/tutorials/configuration/configure-redis-using-configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44393 [zh-cn] sync resource-bin-packing create-cluster-kubeadm encrypt-data
  content/zh-cn/docs/concepts/scheduling-eviction/resource-bin-packing.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/zh-cn/docs/tasks/administer-cluster/encrypt-data.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh

#44849 [zh] sync concepts/architecture/garbage-collection.md
  content/zh-cn/docs/concepts/architecture/garbage-collection.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh

#44817 Corrected Hindi Sentence Formating
  layouts/case-studies/list.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#44831 Fix access-cluster-services.md list indent
  content/en/docs/tasks/access-application-cluster/access-cluster-services.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#44823 Correct incorrect expressions for debug-pods
  content/en/docs/tasks/debug/debug-application/debug-pods.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43971 Add blog post for Separate Image Filesystem for Kubelet
  content/en/blog/_posts/2024-01-23-image-filesystem.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, sig/docs, approved, language/en, area/blog

#44853 [zh] Fix page formatting at https://k8s.io/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#44796 CronJob: improve documentation for Forbid concurrencyPolicy
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, sig/apps, language/en

#44842 [zh] Localize metrics-reference.md
  content/zh-cn/docs/contribute/generate-ref-docs/metrics-reference.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh
