Repository kubernetes/website, pull requests merged in 2024-04, with the labels that each got.

#45737 Improve example for EndpointSlice label
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45671 [zh-cn] Fix the full_link of glossary in container.md
  content/zh-cn/docs/reference/glossary/container.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45496 Add mechanism to retrieve API reference page link based on metadata
  content/en/docs/concepts/architecture/leases.md
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/configuration/configmap.md
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
  content/en/docs/concepts/policy/limit-range.md
  content/en/docs/concepts/policy/resource-quotas.md
  content/en/docs/concepts/services-networking/endpoint-slices.md
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/concepts/workloads/controllers/replicaset.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
  content/en/docs/concepts/workloads/controllers/statefulset.md
  content/en/docs/concepts/workloads/pods/_index.md
  content/en/docs/reference/access-authn-authz/certificate-signing-requests.md
  data/i18n/en/en.toml
  layouts/docs/list.html
  layouts/docs/single.html
  layouts/partials/docs/api-reference-links.html
  layouts/partials/page-meta-links.html
  layouts/shortcodes/page-api-reference.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/web-development

#45569 [bn] Localize concepts/security/_index.md
  content/bn/docs/concepts/security/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/bn

#45570 [bn] Localize partners/_index.html
  content/bn/partners/_index.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45575 [Bn] Localize concepts/scheduling-eviction/_index.md
  content/bn/docs/concepts/scheduling-eviction/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45580 [bn] Localize blog/_index.md
  content/bn/blog/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45582 [bn] Content/en/docs/concepts/windows/ index.md
  content/bn/docs/concepts/windows/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45583 [bn] Updated Content/bn/docs/setup/production environment/turnkey solutions.md
  content/bn/docs/setup/production-environment/turnkey-solutions.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45601 [bn] Localized content/bn/docs/setup/production-environment/tools/kubeadm/_index.md
  content/bn/docs/setup/production-environment/tools/kubeadm/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/bn

#45604 [bn] localize content/bn/includes/partner-style.css for Bengali localization
  content/bn/includes/partner-style.css
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/bn

#45686 [bn] Fixing building errors
  content/bn/examples/application/deployment.yaml
  content/bn/examples/pods/simple-pod.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45722 Merged main dev 1.30
  README-hi.md
  README.md
  content/en/blog/_posts/2022-11-04-live-and-let-live-with-kluctl-and-ssa.md
  content/en/blog/_posts/2023-08-15-pkgs-k8s-io-introduction.md
  content/en/blog/_posts/2023-08-31-legacy-package-repository-deprecation/index.md
  content/en/blog/_posts/2024-04-03-windows-ops-readiness.md
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/en/docs/concepts/security/rbac-good-practices.md
  content/en/docs/reference/config-api/kubeadm-config.v1beta4.md
  content/en/docs/reference/glossary/immutable-infrastructure.md
  content/ja/blog/_posts/2022-02-17-updated-dockershim-faq.md
  content/ja/docs/concepts/_index.md
  content/ja/docs/concepts/architecture/cri.md
  content/ja/docs/concepts/cluster-administration/addons.md
  content/ja/docs/concepts/extend-kubernetes/compute-storage-net/_index.md
  content/ja/docs/concepts/overview/components.md
  content/ja/docs/concepts/services-networking/connect-applications-service.md
  content/ja/docs/concepts/services-networking/dual-stack.md
  content/ja/docs/concepts/storage/volumes.md
  content/ja/docs/reference/glossary/cadvisor.md
  content/ja/docs/reference/glossary/certificate.md
  content/ja/docs/reference/glossary/cluster-architect.md
  content/ja/docs/reference/glossary/cluster-operations.md
  content/ja/docs/reference/glossary/containerd.md
  content/ja/docs/reference/glossary/control-plane.md
  content/ja/docs/reference/glossary/csi.md
  content/ja/docs/reference/node/kubelet-checkpoint-api.md
  content/ja/docs/reference/tools.md
  content/ja/docs/setup/best-practices/enforcing-pod-security-standards.md
  content/ja/docs/setup/production-environment/container-runtimes.md
  content/ja/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/ja/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
  content/ja/docs/setup/production-environment/windows/user-guide-windows-containers.md
  content/ja/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.md
  content/ja/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/ja/docs/tasks/administer-cluster/configure-upgrade-etcd.md
  content/ja/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-removal-affects-you.md
  content/ja/docs/tasks/administer-cluster/running-cloud-controller.md
  content/ja/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/ja/docs/tasks/configure-pod-container/configure-pod-initialization.md
  content/ja/docs/tasks/debug/debug-cluster/crictl.md
  content/ja/docs/tasks/debug/debug-cluster/windows.md
  content/ja/docs/tasks/network/validate-dual-stack.md
  content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/ja/docs/tutorials/security/cluster-level-pss.md
  content/ja/examples/pods/security/security-context-2.yaml
  content/ja/examples/pods/security/security-context-3.yaml
  content/ja/examples/pods/security/security-context-4.yaml
  content/ja/examples/pods/security/security-context.yaml
  content/zh-cn/docs/concepts/cluster-administration/kube-state-metrics.md
  content/zh-cn/docs/setup/production-environment/_index.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, language/ja, language/zh, area/blog

#45364 [ja] translate blog:kubernetes book club
  content/ja/blog/_posts/2024-02-22-k8s-book-club/csantana_k8s_book_club.jpg
  content/ja/blog/_posts/2024-02-22-k8s-book-club/index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#45673 [ru] Update the translation of "control plane" in Russian
  content/ru/docs/concepts/_index.md
  content/ru/docs/concepts/architecture/cloud-controller.md
  content/ru/docs/concepts/architecture/control-plane-node-communication.md
  content/ru/docs/concepts/architecture/controller.md
  content/ru/docs/concepts/architecture/nodes.md
  content/ru/docs/concepts/cluster-administration/_index.md
  content/ru/docs/concepts/overview/components.md
  content/ru/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/ru/docs/contribute/style/style-guide.md
  content/ru/docs/reference/glossary/cloud-controller-manager.md
  content/ru/docs/reference/glossary/cloud-provider.md
  content/ru/docs/reference/glossary/cluster.md
  content/ru/docs/reference/glossary/control-plane.md
  content/ru/docs/reference/glossary/node.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ru

#45746 Signpost to API reference for NetworkPolicy
  content/en/docs/concepts/services-networking/network-policies.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45608 feat: Add PriorityClass in glossary
  content/en/docs/reference/glossary/priority-class.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#45501 Add CEL Expression to restrict GitRepo volume usage
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#45088 [ja] Translate `content/en/docs/tasks/debug/debug-cluster/kubectl-node-debug.md` into Japanese
  content/ja/docs/tasks/debug/debug-cluster/kubectl-node-debug.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja

#45162 [ja] Translate content/ja/docs/concepts/workloads/pods/disruptions.md into Japanese
  content/ja/docs/concepts/workloads/pods/disruptions.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#45755 Merged main dev 1.30
  content/en/docs/concepts/architecture/leases.md
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/configuration/configmap.md
  content/en/docs/concepts/configuration/secret.md
  content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
  content/en/docs/concepts/policy/limit-range.md
  content/en/docs/concepts/policy/resource-quotas.md
  content/en/docs/concepts/services-networking/endpoint-slices.md
  content/en/docs/concepts/services-networking/ingress.md
  content/en/docs/concepts/services-networking/network-policies.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
  content/en/docs/concepts/workloads/controllers/daemonset.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/concepts/workloads/controllers/replicaset.md
  content/en/docs/concepts/workloads/controllers/replicationcontroller.md
  content/en/docs/concepts/workloads/controllers/statefulset.md
  content/en/docs/concepts/workloads/pods/_index.md
  content/en/docs/reference/access-authn-authz/certificate-signing-requests.md
  content/en/docs/reference/glossary/priority-class.md
  content/en/docs/reference/labels-annotations-taints/_index.md
  content/ja/blog/_posts/2024-02-22-k8s-book-club/csantana_k8s_book_club.jpg
  content/ja/blog/_posts/2024-02-22-k8s-book-club/index.md
  content/ja/docs/concepts/workloads/pods/disruptions.md
  content/ja/docs/tasks/debug/debug-cluster/kubectl-node-debug.md
  content/ru/docs/concepts/_index.md
  content/ru/docs/concepts/architecture/cloud-controller.md
  content/ru/docs/concepts/architecture/control-plane-node-communication.md
  content/ru/docs/concepts/architecture/controller.md
  content/ru/docs/concepts/architecture/nodes.md
  content/ru/docs/concepts/cluster-administration/_index.md
  content/ru/docs/concepts/overview/components.md
  content/ru/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/ru/docs/contribute/style/style-guide.md
  content/ru/docs/reference/glossary/cloud-controller-manager.md
  content/ru/docs/reference/glossary/cloud-provider.md
  content/ru/docs/reference/glossary/cluster.md
  content/ru/docs/reference/glossary/control-plane.md
  content/ru/docs/reference/glossary/node.md
  content/ru/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/zh-cn/docs/concepts/security/rbac-good-practices.md
  content/zh-cn/docs/concepts/workloads/autoscaling.md
  content/zh-cn/docs/reference/glossary/container.md
  content/zh-cn/docs/reference/kubernetes-api/common-parameters/common-parameters.md
  data/i18n/en/en.toml
  layouts/docs/list.html
  layouts/docs/single.html
  layouts/partials/docs/api-reference-links.html
  layouts/partials/page-meta-links.html
  layouts/shortcodes/page-api-reference.html
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/en, language/ja, language/zh, language/ru

#45757 docs: incorporating more PR feedback on storage version migration
  content/en/docs/tasks/manage-kubernetes-objects/storage-version-migration.md
Labels: cncf-cla: yes, size/S, lgtm, sig/api-machinery, sig/docs, approved, language/en

#44716 [ja] Translate `content/en/docs/concepts/workloads/pods/sidecar-containers.md` into Japanese
  content/ja/docs/concepts/workloads/pods/sidecar-containers.md
  content/ja/examples/application/deployment-sidecar.yaml
  content/ja/examples/application/job/job-sidecar.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#45750 Signpost to API reference for ServiceAccount
  content/en/docs/concepts/security/service-accounts.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#45760 [zh] Update install-kubectl-windows.md
  content/zh-cn/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45735 [zh] sync nodes addons sidecar-containers
  content/zh-cn/docs/concepts/architecture/nodes.md
  content/zh-cn/docs/concepts/cluster-administration/addons.md
  content/zh-cn/docs/concepts/workloads/pods/sidecar-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45765 Fix discovery document link in kubernetes-api.md
  content/en/docs/concepts/overview/kubernetes-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#45037 [ja] Improvement of `Localizing Kubernetes documentation` for Japanese
  content/ja/docs/contribute/localization.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#45767 [de] Added a link to the minikube installation
  content/de/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#45744 Explanation about headless service
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#45289 blog: DIY: Create Your Own Cloud with Kubernetes (Part 1) blog post
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-1/asciicast.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-1/baremetal.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-1/cloud.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-1/index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/en, area/blog

#45432 blog: DIY: Create Your Own Cloud with Kubernetes (Part 2) blog post
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/index.md
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/kata-containers.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/kubevirt-migration.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/net-loadbalancer.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/net-nodes.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/net-pods.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/net-services.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/storage-clustered.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/storage-external.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/storage-local.svg
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, area/blog

#45498 blog: DIY: Create Your Own Cloud with Kubernetes (Part 3) blog post
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/clusterapi1.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/clusterapi2.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/clusterapi3.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/components1.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/components2.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/components3.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/components4.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/fluxcd.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/index.md
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/machinedeploymentres.svg
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/en, area/blog

#45773 Fix feature gates that don't match the code (KEP-4192)
  content/en/docs/reference/command-line-tools-reference/feature-gates/storage-version-migrator.md
  content/en/docs/tasks/manage-kubernetes-objects/storage-version-migration.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/api-machinery, sig/docs, approved, language/en

#45777 [ru] Update container-runtime.md
  content/ru/docs/reference/glossary/container-runtime.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#45764 [zh] sync content/en/docs/concepts/cluster-administration/_index.md
  content/zh-cn/docs/concepts/cluster-administration/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45789 [zh] sync custom-resources resource-quotas kubeadm_certs_renew_super-admin
  content/zh-cn/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/zh-cn/docs/concepts/policy/resource-quotas.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_super-admin.conf.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45782 [zh] Added a link to the minikube installation
  content/zh-cn/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45794 Update Windows Operational Readiness blog
  content/en/blog/_posts/2024-04-03-windows-ops-readiness.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#45795 [pt] Show the correct proxy URL
  content/pt-br/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt

#45801 Remove redundant link from glossary term "Init Container"
  content/en/docs/reference/glossary/init-container.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45609 [es] Added concepts/services-networking/endpoint-slices.md to Spanish
  content/es/docs/concepts/services-networking/endpoint-slices.md
Labels: cncf-cla: yes, size/L, lgtm, kind/feature, sig/docs, approved, language/es, area/localization

#45806 [zh] Signpost to API reference for NetworkPolicy
  content/zh-cn/docs/concepts/services-networking/network-policies.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#44680 install-kubectl-linux.md: add chmods
  content/en/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45811 Add certificateAuthority in structured authn docs
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, sig/docs, approved, language/en

#45807 Fix feature gate status
  content/zh-cn/docs/tasks/run-application/configure-pdb.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45817 blog: fix loadbalancer scheme (DIY: Create Your Own Cloud with Kubernetes (Part 2) blog post)
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#45725 Add SIG Architecture Code Organization spotlight article
  content/en/blog/_posts/2024-04-11-SIG-Architecture-Code-Organization-Spotlight.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#45816 [zh]Update kubectl installation instructions for Linux
  content/zh-cn/docs/tasks/tools/install-kubectl-linux.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45820 [zh] Update full_link in init-container.md
  content/zh-cn/docs/reference/glossary/init-container.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45793 Create OWNERS for ar localization
  OWNERS_ALIASES
  content/ar/OWNERS
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#45827 Correct branch format in Discovery API docs
  content/en/docs/concepts/overview/kubernetes-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45672 Add kirkonru to sig-docs-ru
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#45775 Update Kubernetes Dashboard deployment to Helm-based installation
  content/en/docs/tasks/access-application-cluster/web-ui-dashboard.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, sig/ui, language/en

#45711 Annotation azure-load-balancer-disable-tcp-reset registered & documented
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/network, approved, sig/cloud-provider, language/en

#45790 Merge main branch into dev-1.30
  OWNERS_ALIASES
  content/de/docs/tasks/tools/included/verify-kubectl.md
  content/en/blog/_posts/2024-04-03-windows-ops-readiness.md
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-1/asciicast.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-1/baremetal.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-1/cloud.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-1/index.md
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/index.md
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/kata-containers.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/kubevirt-migration.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/net-loadbalancer.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/net-nodes.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/net-pods.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/net-services.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/storage-clustered.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/storage-external.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/storage-local.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/clusterapi1.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/clusterapi2.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/clusterapi3.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/components1.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/components2.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/components3.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/components4.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/fluxcd.svg
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/index.md
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/machinedeploymentres.svg
  content/en/blog/_posts/2024-04-11-SIG-Architecture-Code-Organization-Spotlight.md
  content/en/docs/concepts/overview/kubernetes-api.md
  content/en/docs/concepts/overview/working-with-objects/namespaces.md
  content/en/docs/concepts/scheduling-eviction/pod-overhead.md
  content/en/docs/concepts/security/service-accounts.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/reference/access-authn-authz/authentication.md
  content/en/docs/reference/glossary/init-container.md
  content/en/docs/reference/labels-annotations-taints/_index.md
  content/en/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/en/docs/tasks/tools/install-kubectl-linux.md
  content/es/docs/concepts/services-networking/endpoint-slices.md
  content/ja/docs/concepts/workloads/pods/sidecar-containers.md
  content/ja/docs/contribute/localization.md
  content/ja/examples/application/deployment-sidecar.yaml
  content/ja/examples/application/job/job-sidecar.yaml
  content/pt-br/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/ru/docs/reference/glossary/container-runtime.md
  content/zh-cn/docs/concepts/architecture/nodes.md
  content/zh-cn/docs/concepts/cluster-administration/_index.md
  content/zh-cn/docs/concepts/cluster-administration/addons.md
  content/zh-cn/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/zh-cn/docs/concepts/policy/resource-quotas.md
  content/zh-cn/docs/concepts/services-networking/network-policies.md
  content/zh-cn/docs/concepts/workloads/pods/sidecar-containers.md
  content/zh-cn/docs/reference/glossary/init-container.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_renew_super-admin.conf.md
  content/zh-cn/docs/tasks/run-application/configure-pdb.md
  content/zh-cn/docs/tasks/tools/included/verify-kubectl.md
  content/zh-cn/docs/tasks/tools/install-kubectl-linux.md
  content/zh-cn/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, language/ja, language/zh, language/de, language/es, area/blog, language/pt, language/ru

#45330 [ar]: Translate tutorials/kubernetes-basics/_index.html page to arabic
  content/ar/docs/tutorials/kubernetes-basics/_index.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ar

#45726 [es] Fix broken Netlify status badge link in README
  README-es.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#45810 [zh] Fix small typo in Namespaces documentation
  content/zh-cn/docs/concepts/overview/working-with-objects/namespaces.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45825 [zh-cn] sync configmap pr-wranglers
  content/zh-cn/docs/concepts/configuration/configmap.md
  content/zh-cn/docs/contribute/participate/pr-wranglers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45715 Add 1.30 to release schedule for 1.30 release
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, area/release-eng

#45571 Update button label to 'See available versions' in docs homepage
  content/en/docs/home/_index.md
  content/en/docs/home/supported-doc-versions.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en, area/web-development

#45846 Refine API reference page link retrieval mechanism to support localized pages
  layouts/partials/docs/api-reference-links.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#45792 Configure Kubernetes components's OTEL traces configuration (emitting traces directly and tuning with environment)
  content/en/docs/concepts/cluster-administration/system-traces.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/instrumentation, approved, language/en

#45004 [ja] Follow the upstream for `content/ja/community/static/cncf-code-of-conduct.md`
  content/ja/community/code-of-conduct.md
  content/ja/community/static/cncf-code-of-conduct.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#45044 [ja] fix term "proxy" variations
  content/ja/docs/concepts/architecture/control-plane-node-communication.md
  content/ja/docs/concepts/cluster-administration/proxies.md
  content/ja/docs/concepts/configuration/organize-cluster-access-kubeconfig.md
  content/ja/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md
  content/ja/docs/concepts/extend-kubernetes/api-extension/custom-resources.md
  content/ja/docs/concepts/services-networking/connect-applications-service.md
  content/ja/docs/concepts/services-networking/ingress-controllers.md
  content/ja/docs/concepts/services-networking/ingress.md
  content/ja/docs/concepts/services-networking/service.md
  content/ja/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ja/docs/reference/access-authn-authz/authentication.md
  content/ja/docs/reference/command-line-tools-reference/feature-gates/index.md
  content/ja/docs/reference/kubectl/_index.md
  content/ja/docs/setup/learning-environment/minikube.md
  content/ja/docs/tasks/access-application-cluster/web-ui-dashboard.md
  content/ja/docs/tasks/administer-cluster/extended-resource-node.md
  content/ja/docs/tasks/administer-cluster/securing-a-cluster.md
  content/ja/docs/tasks/administer-cluster/use-cascading-deletion.md
  content/ja/docs/tasks/debug/debug-application/debug-service.md
  content/ja/docs/tasks/debug/debug-cluster/local-debugging.md
  content/ja/docs/tutorials/services/connect-applications-service.md
  content/ja/docs/tutorials/services/source-ip.md
  content/ja/docs/tutorials/stateless-application/guestbook.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja

#45102 [ja] Translate content/en/blog/_posts/2024-01-23-image-filesystem.md into Japanese
  content/ja/blog/_posts/2024-01-23-image-filesystem.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja

#45732 [ja] Added link to netcat official site and '-v' key to netcat comman…
  content/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja

#45831 Delete content/ja/docs/tasks/tools/install-kubectl.md
  content/ja/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/ja

#45852 Utilize code style for inline command in "included/verify-kubectl.md"
  content/en/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45853 Fix typo in Madhav's name in the code-organization blog post
  content/en/blog/_posts/2024-04-11-SIG-Architecture-Code-Organization-Spotlight.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#45287 DRA in Kubernetes 1.30: adds structured parameters
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/docs, approved, language/en

#45843 Add March 2024 Patch Releases, Update April Dates, Propose June Dates
  content/en/releases/patch-releases.md
  data/releases/eol.yaml
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, language/en, area/release-eng

#45849 Fix link for service.NodePort
  content/en/docs/concepts/services-networking/ingress.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45824 [zh-cn] sync migrate-dockershim-dockerd horizontal-pod-autoscale
  content/zh-cn/docs/tasks/administer-cluster/migrating-from-dockershim/migrate-dockershim-dockerd.md
  content/zh-cn/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45862 [zh] Fix discovery document link
  content/zh-cn/docs/concepts/overview/kubernetes-api.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45865 Improve blog article summaries presentation with author metadata in front matter
  content/en/blog/_posts/2024-01-15-SIG-Release-Spotlight/index.md
  content/en/blog/_posts/2024-01-23-image-filesystem.md
  content/en/blog/_posts/2024-02-22-k8s-book-club/index.md
  content/en/blog/_posts/2024-03-01-sig-cloud-provider-spotlight.md
  content/en/blog/_posts/2024-03-07-cri-o-seccomp-oci-artifacts.md
  content/en/blog/_posts/2024-03-12-mid-cycle-1.30.md
  content/en/blog/_posts/2024-04-03-windows-ops-readiness.md
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-1/index.md
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-2/index.md
  content/en/blog/_posts/2024-04-05-diy-create-your-own-cloud-with-kubernetes-part-3/index.md
  content/en/blog/_posts/2024-04-11-SIG-Architecture-Code-Organization-Spotlight.md
  layouts/blog/list.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/blog

#45837 Switch liveness image to multi-arch agnhost container image
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/en/examples/pods/probe/http-liveness.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45459 Update manage-resources-containers.md
  content/en/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45864 Update ValidatingAdmissionPolicy examples to v1
  content/en/examples/access/deployment-replicas-policy.yaml
  content/en/examples/access/image-matches-namespace-environment.policy.yaml
  content/en/examples/access/validating-admission-policy-audit-annotation.yaml
  content/en/examples/access/validating-admission-policy-match-conditions.yaml
  content/en/examples/validatingadmissionpolicy/basic-example-binding.yaml
  content/en/examples/validatingadmissionpolicy/basic-example-policy.yaml
  content/en/examples/validatingadmissionpolicy/binding-with-param-prod.yaml
  content/en/examples/validatingadmissionpolicy/binding-with-param.yaml
  content/en/examples/validatingadmissionpolicy/failure-policy-ignore.yaml
  content/en/examples/validatingadmissionpolicy/policy-with-param.yaml
  content/en/examples/validatingadmissionpolicy/typechecking-multiple-match.yaml
  content/en/examples/validatingadmissionpolicy/typechecking.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#45870 Ready training section for vanilla Docsy
  content/en/training/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/web-development

#45861 Updates v1.30 hugo.toml to include latest patches ahead of release
  hugo.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#45868 Ready blog section for vanilla Docsy
  content/en/blog/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog, area/web-development

#45871 Ready case studies page for vanilla Docsy
  content/en/case-studies/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/web-development

#45840 [zh] Switch liveness image to multi-arch agnhost container image
  content/zh-cn/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/zh-cn/examples/pods/probe/http-liveness.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45838 [ru] Switch liveness image to multi-arch agnhost container image
  content/ru/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/ru/examples/pods/probe/http-liveness.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru

#45842 [fr] Switch liveness image to multi-arch agnhost container image
  content/fr/docs/concepts/workloads/pods/pod-lifecycle.md
  content/fr/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/fr/examples/pods/probe/http-liveness.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/fr

#45876 Fix the YAML format in setup-ha-etcd-with-kubeadm
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45584 [pt-br] Add docs/tasks/access-application-cluster/ingress-minikube.md
  content/pt-br/docs/tasks/access-application-cluster/ingress-minikube.md
  content/pt-br/examples/service/networking/example-ingress.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt

#45867 [vi] Update README-vi.md
  README-vi.md
Labels: cncf-cla: yes, size/M, sig/docs, language/vi

#45854 [ja] Translate content/ja/docs/tasks/tools/install-kubectl-macos.md
  content/ja/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
  content/ja/docs/tasks/tools/included/optional-kubectl-configs-fish.md
  content/ja/docs/tasks/tools/included/optional-kubectl-configs-zsh.md
  content/ja/docs/tasks/tools/included/verify-kubectl.md
  content/ja/docs/tasks/tools/install-kubectl-macos.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja

#45881 Fix nested single quotes in example command
  content/en/docs/reference/kubectl/quick-reference.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45856 Update cronjobs history limits spec description
  content/en/docs/concepts/workloads/controllers/cron-jobs.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#45880 [en] Fix typo in job.md
  content/en/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45882 [zh-cn] sync secret cluster-large resource-usage-monitoring
  content/zh-cn/docs/concepts/configuration/secret.md
  content/zh-cn/docs/setup/best-practices/cluster-large.md
  content/zh-cn/docs/tasks/debug/debug-cluster/resource-usage-monitoring.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh

#45691 Kubernetes 1.30 release blog
  content/en/blog/_posts/2024-04-17-kubernetes-1.30.md
  static/images/blog/2024-04-17-kubernetes-1.30-release/k8s-1.30.png
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#45859 Updates v1.28 hugo.toml for v1.30 release
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#45858 Updates v1.27 hugo.toml for v1.30 release
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#44540 Document updating configuration via a ConfigMap
  content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md
  content/en/docs/tutorials/configuration/configure-redis-using-configmap.md
  content/en/docs/tutorials/configuration/updating-configuration-via-a-configmap.md
  content/en/examples/configmap/immutable-configmap.yaml
  content/en/examples/configmap/new-immutable-configmap.yaml
  content/en/examples/deployments/deployment-with-configmap-and-sidecar-container.yaml
  content/en/examples/deployments/deployment-with-configmap-as-envvar.yaml
  content/en/examples/deployments/deployment-with-configmap-as-volume.yaml
  content/en/examples/deployments/deployment-with-configmap-two-containers.yaml
  content/en/examples/deployments/deployment-with-immutable-configmap-as-volume.yaml
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/en

#45857 Updates v1.26 hugo.toml for v1.30 release
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#45047 [ar] Translate tutorials/_index and tutorials/hello-minikube.md pages to arabic
  content/ar/docs/tutorials/_index.md
  content/ar/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ar

#45815 Add adowair as owner, reviewer for Arabic content
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#45877 [zh] sysc verify-kubectl.md
  content/zh-cn/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh

#45891 Fix link to contributor site article
  content/en/blog/_posts/2024-04-11-SIG-Architecture-Code-Organization-Spotlight.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#45896 [de] Utilize code style for inline command
  content/de/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de

#45860 Updates v1.29 hugo.toml for v1.30 release
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#45905 fix release team link in 1.30 release blog post
  content/en/blog/_posts/2024-04-17-kubernetes-1.30.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#45904 [es] Utilize code style for inline command
  content/es/docs/tasks/tools/included/verify-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es

#45579 recommend usage of named port for services without selectors
  content/en/docs/concepts/services-networking/service.md
Labels: cncf-cla: yes, size/XS, lgtm, kind/bug, sig/docs, sig/network, approved, language/en

#45439 Fix misleading advice about sharing of environment variables
  content/en/docs/concepts/workloads/pods/sidecar-containers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, sig/docs, approved, language/en

#45907 Add missing information about feature state of ServiceTrafficDistribution
  content/en/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#43855 List supported field selectors by kind
  content/en/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: cncf-cla: yes, size/S, lgtm, sig/api-machinery, sig/node, sig/docs, approved, sig/apps, language/en

#45869 Ready partners page for vanilla Docsy
  assets/scss/_custom.scss
  content/en/includes/partner-style.css
  content/en/partners/_index.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/web-development

#45828 [zh]Update RuntimeClass name in Pod Overhead concept
  content/zh-cn/docs/concepts/scheduling-eviction/pod-overhead.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh

#45841 [id] Switch liveness image to multi-arch agnhost container image
  content/id/docs/concepts/workloads/pods/pod-lifecycle.md
  content/id/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/id/examples/pods/probe/http-liveness.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/id

#45911 Update kubeadm reference for v1.30
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_certs_check-expiration.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_list.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_pull.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_validate.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_all.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_coredns.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_all.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_wait-control-plane.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_apply.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node.md
  content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_plan.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#45833 Adding project Akri to the device plugin examples
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#42206 Switch to finer controls on approver access
  .github/OWNERS
  OWNERS
  OWNERS_ALIASES
  assets/OWNERS
  assets/images/OWNERS
  content/OWNERS
  content/de/OWNERS
  content/es/OWNERS
  content/fr/OWNERS
  content/hi/OWNERS
  content/id/OWNERS
  content/it/OWNERS
  content/ja/OWNERS
  content/ko/OWNERS
  content/pl/OWNERS
  content/pt-br/OWNERS
  content/ru/OWNERS
  content/uk/OWNERS
  content/vi/OWNERS
  content/zh-cn/OWNERS
  data/canonical-tags/OWNERS
  data/i18n/OWNERS
  scripts/OWNERS
  scripts/releng/OWNERS
  static/css/OWNERS
  static/js/OWNERS
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/release, approved, language/ko, language/ja, language/zh, language/fr, language/it, language/de, language/es, language/pt, language/id, language/hi, language/ru, language/vi, language/pl, language/uk, area/release-eng

#45238 blog post for KEP-3857: Recursive Read-only (RRO) mounts
  content/en/blog/_posts/2024-04-23-recursive-read-only-mounts.md
Labels: cncf-cla: yes, size/L, lgtm, sig/storage, sig/node, sig/docs, approved, language/en, area/blog

#45106 Add blog post for Structured Authn beta
  content/en/blog/_posts/2024-04-25-structured-authentication-configuration-beta.md
Labels: cncf-cla: yes, size/L, lgtm, sig/auth, sig/docs, approved, language/en, area/blog

#45137 Add blog post for Structured Authz beta
  content/en/blog/_posts/2024-04-26-structured-authz-beta.md
Labels: cncf-cla: yes, size/L, lgtm, sig/auth, sig/docs, approved, language/en, area/blog, triage/accepted

#45262 Add blog article about volume mode conversion going GA
  content/en/blog/_posts/2024-02-21-prevent-unauthorized-volume-mode-conversion-ga.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#45922 Update cacheDir configuration with "getresource" usage
  hugo.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, priority/critical-urgent, approved, area/web-development

#45593 [bn] Updated content/bn/docs/setup/ index.md
  content/bn/docs/setup/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45603 [bn] localize website/content/bn/includes/index.md
  content/bn/includes/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/bn

#45727 [it] Fix broken Netlify status badge link in README
  README-it.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/it

#45606 [bn] localize content/bn/includes/federation-deprecation-warning-note.md
  content/bn/includes/federation-deprecation-warning-note.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/bn

#45618 [bn] localize content/en/docs/concepts/cluster administration/ index.md
  content/bn/docs/concepts/cluster-administration/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45617 [bn] Localize concepts/extend-kubernetes/_index.md
  content/bn/docs/concepts/extend-kubernetes/_index.md
  content/bn/docs/concepts/extend-kubernetes/extension-points.png
  content/bn/docs/concepts/extend-kubernetes/flowchart.svg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/bn

#45647 [bn] Localize concepts/extend-kubernetes/api-extension/_index.md
  content/bn/docs/concepts/extend-kubernetes/api-extension/_index.md
  content/bn/docs/concepts/services-networking/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45734 [bn] Localization of namespace.md
  content/bn/docs/reference/glossary/namespace.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45736 [bn] Localization of content/en/docs/reference/glossary/job.md
  content/bn/docs/reference/glossary/job.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45740 [bn] Localization of admission-controller.md
  content/bn/docs/reference/glossary/admission-controller.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45742 [bn] Localization of cluster.md
  content/bn/docs/reference/glossary/cluster.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45761 [bn] Localization of deployment.md
  content/bn/docs/reference/glossary/deployment.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45786 [bn] Localization of container.md
  content/bn/docs/reference/glossary/container.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45798 [bn] Localization of init-container.md
  content/bn/docs/reference/glossary/init-container.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45804 [bn] Localization of affinity.md
  content/bn/docs/reference/glossary/affinity.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45889 [bn] Localization of statefulset.md
  content/bn/docs/reference/glossary/statefulset.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/bn

#45903 [bn] Localize concepts/extend-kubernetes/compute-storage-net/_index.md
  content/bn/docs/concepts/extend-kubernetes/compute-storage-net/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/bn

#45921 Add SIG Auth enhancements in v1.30 release blog
  content/en/blog/_posts/2024-04-17-kubernetes-1.30.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/blog

#45923 docs: adds SVM details to enhancement blog post
  content/en/blog/_posts/2024-04-17-kubernetes-1.30.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#45933 Fix feature-state for "Memory QoS with cgroup v2"
  content/en/docs/concepts/workloads/pods/pod-qos.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#45354 Feature blog 1.30: user namespaces
  content/en/blog/_posts/2024-04-22-userns-beta/index.md
  content/en/blog/_posts/2024-04-22-userns-beta/userns-ids.xcf
  static/images/blog/2024-04-22-userns-beta/userns-ids.png
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#45931 [ bn ] Fix glossary term_id
  content/bn/docs/setup/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/bn

#45932 Update release blog-new content note
  content/en/blog/_posts/2024-04-17-kubernetes-1.30.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/blog

#45552 Blog: ValidatingAdmissionPolicy GA
  content/en/blog/_posts/2024-04-24-validating-admission-policy-ga/index.md
  content/en/blog/_posts/2024-04-24-validating-admission-policy-ga/webhook.go
Labels: cncf-cla: yes, size/L, lgtm, sig/api-machinery, sig/docs, approved, language/en, area/blog

#45938 Ready Hello, Minikube page for vanilla Docsy
  content/en/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/web-development

#45937 Ready glossary page for vanilla Docsy
  content/en/docs/reference/glossary/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/web-development

#45939 Ready docs landing page for vanilla Docsy
  content/en/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/web-development
