Repository kubernetes/website, pull requests merged in 2025-08, with the labels that each got.

#51257 [pt-br] Add tasks/run-application/scale-stateful-set.md
  content/pt-br/docs/tasks/run-application/scale-stateful-set.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt, area/localization

#51750 Fix broken link in "Metrics For Kubernetes System Components" page
  content/en/docs/concepts/cluster-administration/system-metrics.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#51351 [KEP-3104] Kuberc beta
  content/en/docs/reference/kubectl/kuberc.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#51746 Update Docsy variables
  assets/scss/_variables_project.scss
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#51751 Fix broken links to https-nginx example
  content/en/docs/tutorials/services/connect-applications-service.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51688 [pt] Kubeadm upgrade phase navigation
  content/pt-br/docs/reference/setup-tools/kubeadm/kubeadm-upgrade-phase.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/localization

#51600 Add RTL support
  assets/scss/_desktop.scss
  assets/scss/_documentation.scss
  assets/scss/_tablet.scss
  layouts/_default/baseof.html
  layouts/blog/baseof.html
  layouts/docs/baseof.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, area/web-development, area/localization

#51775 [uk] sync with PR 51627
  content/uk/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk, area/localization

#51776 [uk] sync with PR 45871
  content/uk/case-studies/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk, area/localization

#51494 Documentation updates for KEP 2837 beta phase
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/PodLevelResources.md
  content/en/docs/tasks/configure-pod-container/assign-pod-level-resources.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#51787 [ru] sync with PR 41715
  content/ru/examples/pods/share-process-namespace.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru, area/localization

#51788 [ru] sync with PR 32353
  content/ru/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/ru/examples/pods/resource/memory-request-limit-3.yaml
  content/ru/examples/pods/resource/memory-request-limit.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ru, area/localization

#51790 [ru] sync with PR 36596
  content/ru/examples/application/mysql/mysql-statefulset.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru, area/localization

#51792 [ru] sync with PR 37982
  content/ru/examples/application/deployment-scale.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru, area/localization

#51795 [ru] sync with PR 37564
  content/ru/docs/contribute/generate-ref-docs/quickstart.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru, area/localization

#51793 [ru] sync with PR 38920
  content/ru/docs/tasks/configure-pod-container/_index.md
  content/ru/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/ru, area/localization

#51470 kep-5018: DRA Admin Access: move to beta
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/DRAAdminAccess.md
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, sig/node, approved, language/en, wg/device-management

#51800 [ja] sync with PR 48318
  content/ja/docs/reference/glossary/node.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#51055 [hi] Translate to Hindi calico-network-policy.md
  content/hi/docs/tasks/administer-cluster/network-policy-provider/calico-network-policy.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/hi, area/localization

#51137 Describe kinds of ResourceQuota
  content/en/docs/concepts/policy/resource-quotas.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#51786 Translation of the blog post 'Kubernetes v1.34 Sneak Peek' into Ukrainian
  content/uk/blog/_posts/2025-07-28-kubernetes-v1.34-sneak-peek.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/uk, area/localization

#51781 [zh-cn] sync with PR 45460
  content/zh-cn/examples/pods/security/seccomp/profiles/fine-grained.json
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51782 [zh-cn] sync with PR 48709
  content/zh-cn/docs/tasks/manage-kubernetes-objects/storage-version-migration.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#51755 [zh-cn]sync liveness-readiness-startup-probes.md
  content/zh-cn/docs/concepts/configuration/liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51785 [zh-cn] sync with PR 45480
  content/zh-cn/blog/_posts/2022-02-17-updated-dockershim-faq.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51783 [zh-cn] sync with PR 51750
  content/zh-cn/docs/concepts/cluster-administration/system-metrics.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51219 Mark SeparateTaintEvictionController feature gate as stable
  content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/SeparateTaintEvictionController.md
Labels: cncf-cla: yes, size/S, lgtm, sig/scheduling, approved, language/en

#51710 [KEP-5004] DRA Extended resource documentation
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/DRAExtendedResource.md
  content/en/docs/tasks/administer-cluster/extended-resource-node.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/scheduling, approved, language/en, wg/device-management

#51446 4033: update to GA
  content/en/docs/reference/command-line-tools-reference/feature-gates/KubeletCgroupDriverFromCRI.md
  content/en/docs/reference/command-line-tools-reference/kubelet.md
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#51371 Document pod `status.observedGeneration`
  content/en/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en, ok-to-test

#51476 KEP-3695: node: dra: podresources: Beta in 1.34
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/KubeletPodResourcesDynamicResources.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/KubeletPodResourcesGet.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#51622 [zh] Add glossary: deviceclass, resourceclaim, resourceclaimtempalte, resourceslice
  content/zh-cn/docs/reference/glossary/deviceclass.md
  content/zh-cn/docs/reference/glossary/resourceclaim.md
  content/zh-cn/docs/reference/glossary/resourceclaimtemplate.md
  content/zh-cn/docs/reference/glossary/resourceslice.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51479 [KEP-5075] DRAConsumableCapacity documentation
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/DRAConsumableCapacity.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#51809 [zh] Sync policy/resource-quotas.md
  content/zh-cn/docs/concepts/policy/resource-quotas.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51185 KEP-3015: PreferSameTrafficDistribution to Beta
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/PreferSameTrafficDistribution.md
  content/en/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#51811 fixed swap link in install-kubeadm.md
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51459 docs: Add userns changes in 1.34
  content/en/docs/concepts/workloads/pods/user-namespaces.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#51474 KEP-4800: move to beta
  content/en/docs/concepts/policy/node-resource-managers.md
  content/en/docs/tasks/administer-cluster/cpu-management-policies.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51498 PSA host field docs
  content/en/docs/concepts/security/pod-security-standards.md
Labels: cncf-cla: yes, size/M, lgtm, sig/auth, sig/docs, approved, language/en, sig/security

#51501 Update documentation for KEP-4988 Beta
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#51523 kep-5278: Use NominatedNodeName to express the expected pod placement
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/ClearingNominatedNodeNameAfterBinding.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/NominatedNodeNameForExpectation.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#51397 Update docs for MutableCSINodeAllocatableCount
  content/en/docs/concepts/storage/storage-limits.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/MutableCSINodeAllocatableCount.md
Labels: cncf-cla: yes, size/S, lgtm, sig/storage, approved, language/en

#51567 Update RecoverVolumeExpansionFailure to stable
  content/en/docs/concepts/storage/persistent-volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/RecoverVolumeExpansionFailure.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#51457 Document KEP-5116
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51729 In-place pod resize docs for 1.34
  content/en/docs/tasks/configure-pod-container/resize-container-resources.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#51816 nit-fix: Add empty value for host field in probes PSA
  content/en/docs/concepts/security/pod-security-standards.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51467 Documentation change for container restart rules
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/ContainerRestartRules.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#51416 Add documentation for graduating the RelaxedEnvironmentVariableValidation to GA.
  content/en/docs/reference/command-line-tools-reference/feature-gates/RelaxedEnvironmentVariableValidation.md
  content/en/docs/tasks/inject-data-application/define-environment-variable-container.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#51401 [KEP-3960] - update docs for GA
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/PodLifecycleSleepAction.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#51482 [KEP-4816] DRA Prioritized Alternatives to beta documentation
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/DRAPrioritizedList.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en

#51817 Pod Certificate: Document PodCertificate and podCertificate projected volumes
  content/en/docs/concepts/storage/projected-volumes.md
  content/en/docs/reference/access-authn-authz/certificate-signing-requests.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/PodCertificateRequests.md
  content/en/examples/pods/storage/projected-podcertificate.yaml
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en

#51814 [en] Optimize envfile documentation
  content/en/docs/tasks/inject-data-application/define-environment-variable-via-file.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#51789 [ru] sync with PR 43289
  content/ru/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/ru/examples/pods/probe/tcp-liveness-readiness.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/ru, area/localization

#51823 Follow up comments in PR 51414
  content/en/docs/concepts/workloads/pods/pod-hostname.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#51834 fix(api-concepts): Typo - Change JSON to binary
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51376 2025-XX-XX [KEP-3104] kuberc blog
  content/en/blog/_posts/2025-XX-XX-kubectl-kuberc-beta.md
Labels: cncf-cla: yes, size/L, lgtm, sig/release, approved, language/en, area/blog

#51818 Good practices dra cluster admin - nits, highlighting and link outs updates
  content/en/docs/concepts/cluster-administration/dra.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#51812 [zh-cn]sync pods/_index.md
  content/zh-cn/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51838 [ko] Fix EOL MCR links in CRI and Windows Installation Pages
  content/ko/docs/concepts/windows/intro.md
  content/ko/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#51706 [ko] Translate /docs/contribute/participate/issue-wrangler into Korean
  content/ko/docs/contribute/participate/issue-wrangler.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko, area/localization

#51833 Add iximiuz labs to the list of playgrounds
  content/en/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51852 Move split image filesystem FEATURE STATE note to Filesystem signals section for clarity
  content/en/docs/concepts/scheduling-eviction/node-pressure-eviction.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#51826 [zh] Add cluster-administration/dra.md
  content/zh-cn/docs/concepts/cluster-administration/dra.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51831 Fix bug where dismissible banners didn't
  assets/js/banner-dismiss.js
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, area/web-development

#51204 [ja] Sync /ja/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md with English version
  content/ja/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#51801 [fa] Init Persian main page
  content/fa/README.md
  content/fa/_common-resources/index.md
  content/fa/_index.html
  content/fa/case-studies/_index.html
  hugo.toml
  i18n/fa/fa.toml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved

#51828 [ko] Translate the Metrics section of Concepts/Security/Pod Security Admission into Korean
  content/ko/docs/concepts/security/pod-security-admission.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ko, area/localization

#51869 Fixed shortcodes on blog post
  content/en/blog/_posts/2025-08-07-introducing-the-headlamp-ai-assistant/index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#51745 Blog for container restart policy
  content/en/blog/_posts/2025-0X-XX-Per-Container-Restart-Policy.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/release, approved, language/en, area/blog

#51851 [zh-cn]sync task-tutorial-prereqs.md
  content/zh-cn/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51865 [zh-cn]sync node-pressure-eviction.md
  content/zh-cn/docs/concepts/scheduling-eviction/node-pressure-eviction.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51889 [zh] fix typo in cluster-upgrade.md
  content/zh-cn/docs/tasks/administer-cluster/cluster-upgrade.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51875 Update Japanese to support Docsy-style menus
  content/ja/blog/_index.md
  content/ja/community/_index.html
  content/ja/docs/home/_index.md
  content/ja/partners/_index.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#51900 [zh] Sync access-authn-authz/authentication.md
  content/zh-cn/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#51692 tasks/userns: Don't use a debug container
  content/en/docs/tasks/configure-pod-container/user-namespaces.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51904 Add August 2025 patch releases to the schedule
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, area/release-eng

#51906 [zh-cn]sync user-namespaces.md
  content/zh-cn/docs/tasks/configure-pod-container/user-namespaces.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51878 [zh] sync dra
  content/zh-cn/docs/concepts/cluster-administration/dra.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51574 Add blog post for PSI Metrics graduate to Beta
  content/en/blog/_posts/2025-08-08-introducing-psi-metrics-beta/index.md
  static/images/psi-metrics-some-vs-full.svg
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, language/en, area/blog

#51928 update wg policy spotlight after Policy WG got disbanded
  content/en/blog/_posts/2025-05-22-wg-policy-spotlight.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en, area/blog

#51922 Fix the broken link in the 1.28 release
  content/en/blog/_posts/2023-08-15-kubernetes-1.28-blog.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#51905 [en] fix typo in kubeadm-certs.md
  content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51835 Move legacy script to assets folder
  assets/js/legacy-script.js
  layouts/partials/hooks/head-end.html
  layouts/partials/scripts.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, area/web-development

#51897 Sync main into dev-1.34
  assets/js/banner-dismiss.js
  content/en/blog/_posts/2025-08-07-introducing-the-headlamp-ai-assistant/index.md
  content/en/blog/_posts/2025-0X-XX-Per-Container-Restart-Policy.md
  content/en/blog/_posts/2025-XX-XX-kubectl-kuberc-beta.md
  content/en/blog/_posts/2025-xx-xx-prefer-align-cpus-by-uncore-cache-beta/c2c_latency.png
  content/en/blog/_posts/2025-xx-xx-prefer-align-cpus-by-uncore-cache-beta/cache-align-diagram.png
  content/en/blog/_posts/2025-xx-xx-prefer-align-cpus-by-uncore-cache-beta/index.md
  content/en/blog/_posts/2025-xx-xx-prefer-align-cpus-by-uncore-cache-beta/mono_vs_split_uncore.png
  content/en/docs/concepts/cluster-administration/dra.md
  content/en/docs/concepts/scheduling-eviction/node-pressure-eviction.md
  content/en/docs/reference/access-authn-authz/authentication.md
  content/en/docs/reference/using-api/api-concepts.md
  content/en/docs/tasks/administer-cluster/cluster-upgrade.md
  content/en/includes/task-tutorial-prereqs.md
  content/ja/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md
  content/ko/docs/concepts/security/pod-security-admission.md
  content/ko/docs/concepts/windows/intro.md
  content/ko/docs/contribute/participate/issue-wrangler.md
  content/ko/docs/setup/production-environment/container-runtimes.md
  content/ko/docs/tasks/manage-kubernetes-objects/kustomization.md
  content/ko/docs/tutorials/services/connect-applications-service.md
  content/pt-br/docs/concepts/architecture/controller.md
  content/ru/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/ru/examples/pods/probe/tcp-liveness-readiness.yaml
  content/zh-cn/docs/concepts/cluster-administration/dra.md
  content/zh-cn/docs/concepts/scheduling-eviction/node-pressure-eviction.md
  content/zh-cn/docs/concepts/workloads/pods/_index.md
  content/zh-cn/docs/reference/config-api/apiserver-config.v1.md
  content/zh-cn/docs/reference/using-api/api-concepts.md
  content/zh-cn/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
  content/zh-cn/docs/tasks/administer-cluster/cluster-upgrade.md
  content/zh-cn/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, language/ko, language/ja, language/zh, area/blog, language/pt, language/ru, area/web-development, area/localization

#51426 JobPodReplacementPolicy Promoted To GA Blog Post
  content/en/blog/_posts/2025-0x-xx-jobs-podreplacementpolicy-goes-ga.md
Labels: cncf-cla: yes, size/L, lgtm, sig/release, approved, language/en, area/blog

#51227 Add Blog Post for VolumeAttributesClass GA in 1.34
  content/en/blog/_posts/2025-09-01-volume-attributes-class-ga/index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, language/en, area/blog

#51590 [pt-br] Add /tasks/run-application/force-delete-stateful-set-pod.md
  content/pt-br/docs/tasks/run-application/force-delete-stateful-set-pod.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt, area/localization

#51945 Update Ukrainian to support Docsy-style menus
  content/uk/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk, area/localization

#51766 [pt-br] Update content/pt-br/docs/concept/security
  content/pt-br/docs/concepts/security/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt, area/localization

#51938 [id] fix typo
  content/id/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#51958 [zh-cn]sync certificate-signing-requests.md
  content/zh-cn/docs/reference/access-authn-authz/certificate-signing-requests.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51941 [zh-cn]sync generate-ref-docs/quickstart
  content/zh-cn/docs/contribute/generate-ref-docs/quickstart.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#51919 [KEP-5075] remove exactly.name field in example
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51946 Omit "case studies" from Docsy-rendered main menu
  content/en/case-studies/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/web-development

#51960 [ja] fix typo in security-context.md
  content/ja/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#51709 [de] Update upcoming events
  content/de/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de, area/localization

#51924 [DE] Localizing best-practices/certificates - rebased
  content/de/docs/setup/best-practices/_index.md
  content/de/docs/setup/best-practices/zertifikate.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/de, area/localization

#51428 [en] Add blog post on tuning linux kernel parameters for swap
  content/en/blog/_posts/2025-06-29-linux-swap-tuning-for-kubernetes/index.md
  content/en/blog/_posts/2025-06-29-linux-swap-tuning-for-kubernetes/memory-and-swap-growth.png
  content/en/blog/_posts/2025-06-29-linux-swap-tuning-for-kubernetes/swap-thresholds.png
  content/en/blog/_posts/2025-06-29-linux-swap-tuning-for-kubernetes/swap_visualization.png
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/release, approved, language/en, area/blog

#51967 Updating graceful node shutdown page to not assume linux
  content/en/docs/concepts/cluster-administration/node-shutdown.md
Labels: cncf-cla: yes, size/M, lgtm, sig/node, sig/windows, approved, language/en

#51864 [ko] Translate concepts/workloads/autoscaling.md into korean
  content/ko/docs/concepts/workloads/autoscaling.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko, area/localization

#51965 [zh-cn]sync case-studies/_index.html
  content/zh-cn/case-studies/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51896 [ko] Sync /ko/docs/concepts/overview/_index.md to match latest en contents
  content/ko/docs/concepts/overview/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko, area/localization

#51536 sig-storage: Mutable CSI Node Allocatable Blog Graduates to Beta
  content/en/blog/_posts/2025-07-07-mutable-csi-node-allocatable.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, tide/merge-method-squash, language/en, area/blog

#51975 Add SayakMukhopadhyay as approver
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#51980 [zh] Add missing newline
  content/zh-cn/docs/tutorials/kubernetes-basics/scale/scale-intro.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51921 [zh-cn] sync blog file 2024-12-17-api-streaming/index.md
  content/zh-cn/blog/_posts/2024-12-17-api-streaming/index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#51964 [zh-cn]sync debug/_index.md
  content/zh-cn/docs/tasks/debug/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#51877 Kubernetes v1.34 Release Announcement Blog
  content/en/blog/_posts/2025-08-27-Kubernetes-v1-34-Release/index.md
Labels: cncf-cla: yes, size/XL, lgtm, approved, language/en, area/blog

#51830 Fix bug where some pages had two title elements
  layouts/blog/baseof.html
  layouts/docs/baseof.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#51992 fix(zh-CN): better chinese translation
  content/zh-cn/docs/reference/kubectl/introduction.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51970 [fa] add some images(in /_common-resources/ and /docs/)
  content/fa/_common-resources/images/blocks.svg
  content/fa/_common-resources/images/flower.svg
  content/fa/_common-resources/images/kub_video_banner_homepage.jpg
  content/fa/_common-resources/images/scalable.svg
  content/fa/_common-resources/images/suitcase.svg
  content/fa/docs/images/diagram-guide-example-3.svg
  content/fa/docs/images/gateway-kind-relationships.svg
  content/fa/docs/images/gateway-request-flow.svg
  content/fa/docs/images/ha-control-plane.svg
  content/fa/docs/images/ingress.svg
  content/fa/docs/images/ingressFanOut.svg
  content/fa/docs/images/ingressNameBased.svg
  content/fa/docs/images/kubernetes-cluster-network.svg
  content/fa/docs/images/podSchedulingGates.svg
  content/fa/docs/images/tutor-service-nodePort-fig01.svg
  content/fa/docs/images/tutor-service-nodePort-fig02.svg
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/fa

#51962 [fa] translate /includes/
  content/fa/includes/default-storage-class-prereqs.md
  content/fa/includes/federation-deprecation-warning-note.md
  content/fa/includes/index.md
  content/fa/includes/task-tutorial-prereqs-node-upgrade.md
  content/fa/includes/task-tutorial-prereqs.md
  content/fa/includes/user-guide-content-moved.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/fa

#52006 chore(kubeadm): improve add-linux-nodes documentation
  content/en/docs/tasks/administer-cluster/kubeadm/adding-linux-nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, approved, language/en

#50415 [bn] localize kube-scheduler.md
  content/bn/docs/reference/glossary/kube-scheduler.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, lifecycle/rotten, area/localization, language/bn

#52010 [zh-cn]sync adding-linux-nodes.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/adding-linux-nodes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51871 [ko] Translate content/ko/docs/contribute/localization.md into Korean
  content/ko/docs/contribute/localization.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/ko, area/localization

#52018 [ru] Fix deprecated kubectl installation instructions
  content/ru/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/ru, area/localization

#51860 [ko] Translate /docs/tasks/network/extend-service-ip-ranges/ into Korean
  content/ko/docs/tasks/network/extend-service-ip-ranges.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko, area/localization

#51863 [pt-br] Add docs/setup/best-practices/cluster-large.md
  content/pt-br/docs/setup/best-practices/_index.md
  content/pt-br/docs/setup/best-practices/cluster-large.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt, area/localization

#51981 Add note about temporarily broken upcoming release schedule link
  content/en/releases/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, language/en, area/release-eng

#52048 Update hugo.toml for 1.34 release
  hugo.toml
Labels: cncf-cla: yes, size/S, sig/docs

#51982 [zh-cn]sync tutorials/_index.md
  content/zh-cn/docs/tutorials/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52024 [zh-cn]sync cadvisor.md
  content/zh-cn/docs/reference/glossary/cadvisor.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52026 [zh-cn]sync glossary/disruption
  content/zh-cn/docs/reference/glossary/disruption.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52029 [zh-cn]sync cgroup.md
  content/zh-cn/docs/reference/glossary/cgroup.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52032 [zh] fix coarse create queue example
  content/zh-cn/docs/tasks/job/coarse-parallel-processing-work-queue.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52049 Update hugo.toml for 1.34 release
  hugo.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs

#52059 [zh] Sync pod-security-standards.md
  content/zh-cn/docs/concepts/security/pod-security-standards.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52058 [zh-cn]sync DRAPrioritizedList.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/DRAPrioritizedList.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52025 [zh-cn]sync event limitrange resource-quota group-version-resource spec
  content/zh-cn/docs/reference/glossary/event.md
  content/zh-cn/docs/reference/glossary/group-version-resource.md
  content/zh-cn/docs/reference/glossary/limitrange.md
  content/zh-cn/docs/reference/glossary/resource-quota.md
  content/zh-cn/docs/reference/glossary/spec.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52039 [hi] Updated fluentd image version in DaemonSet example
  content/hi/examples/controllers/daemonset.yaml
  content/hi/examples/controllers/fluentd-daemonset-update.yaml
  content/hi/examples/controllers/fluentd-daemonset.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi, area/localization

#52053 Schedule KEP-5307 blog for publication
  content/en/blog/_posts/2025-08-29-Per-Container-Restart-Policy.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#52043 Update release v1.33 hugo.toml for v1.34 release
  hugo.toml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved

#52044 Updates hugo.toml for v1.32 ahead of v1.34 release
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#52045 Updates hugo.toml for v1.31 ahead of v1.34 release
  hugo.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#52042 [zh-cn]sync using-api/_index.md
  content/zh-cn/docs/reference/using-api/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52038 [pl] sync with PR 50342
  content/pl/docs/reference/glossary/kube-scheduler.md
  content/pl/docs/reference/glossary/pod-disruption.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pl, area/localization

#52074 Doc for setting custom path to kuberc using KUBERC environment variable
  content/en/docs/reference/kubectl/kuberc.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#52054 Schedule v1.34 DRA updates blog for publication
  content/en/blog/_posts/2025-09-01-dra-134-update.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#52090 Improve Deployment rollout wording
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, sig/apps, language/en

#51979 Update DRA tutorial for K8s 1.34
  content/en/docs/tutorials/cluster-management/install-use-dra.md
  content/en/examples/dra/driver-install/daemonset.yaml
  content/en/examples/dra/driver-install/deviceclass.yaml
  content/en/examples/dra/driver-install/example/resourceclaim.yaml
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en

#52115 Fix doc link in kubernetes-v1-34-per-container-restart-policy
  content/en/blog/_posts/2025-08-29-Per-Container-Restart-Policy.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#52118 [bn] Add Kubernetes API glossary entry in Bengali
  content/bn/docs/reference/glossary/kubernetes-api.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/localization, language/bn

#52063 [pt-br] Update concepts/extend-kubernetes/api-extension
  content/pt-br/docs/concepts/extend-kubernetes/api-extension/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt, area/localization

#52102 [ko] Fix typo in configmap yaml example to sync with English version
  content/ko/docs/concepts/configuration/configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#52114 Schedule KEP-3751 blog for publication
  content/en/blog/_posts/2025-09-08-volume-attributes-class-ga/index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#52111 Schedule KEP-4412 blog for publication
  content/en/blog/_posts/2025-09-03-kubernetes-1-34-sa-tokens-image-pulls-beta.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#51977 [fa] Add Persian translation for content/fa/docs/tutorials/cluster-management/
  content/fa/docs/tutorials/cluster-management/_index.md
  content/fa/docs/tutorials/cluster-management/kubelet-standalone.md
  content/fa/docs/tutorials/cluster-management/namespaces-walkthrough.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/fa

#51931 [fa] translate /partners/_index.html
  content/fa/partners/_index.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/fa
