Repository kubernetes/website, pull requests merged in 2025-07, with the labels that each got.

#51449 Make a list prettier in image-compatibility blog
  content/en/blog/_posts/2025-06-25-image-compatibility-in-cloud-native-environments/index.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en, area/blog

#51445 Cleanup some hero elements
  layouts/_default/baseof.html
  layouts/blog/baseof.html
  layouts/docs/baseof.html
  layouts/docs/single.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, kind/cleanup, area/web-development

#51403 [zh] sync concepts/policy/resource-quotas.md
  content/zh-cn/docs/concepts/policy/resource-quotas.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51432 [zh-cn] sync content/en/docs/concepts/storage/volumes.md
  content/zh-cn/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51406 Cleanup "upcoming events"
  content/en/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51412 kubeadm-init.md: update WaitForAllControlPlaneComponents
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en, language/ja, language/pt, area/localization

#51462 Document KYAML feature
  content/en/docs/reference/kubectl/_index.md
  content/en/docs/reference/kubectl/quick-reference.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49315 mark PodDisruptionConditions as removed
  content/en/docs/reference/command-line-tools-reference/feature-gates/PodDisruptionConditions.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#50710 [bn] update SidecarContainers
  content/bn/docs/concepts/workloads/pods/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/localization, language/bn

#51042 [bn] update link
  content/bn/case-studies/ancestry/index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/localization, language/bn

#51244 [bn] update kubernetes links golfnow index
  content/bn/case-studies/golfnow/index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/localization, language/bn

#51196 [bn] update kubernetes link
  content/bn/case-studies/blablacar/index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/localization, language/bn

#51517 Mirror post quantum cryptography blog
  content/en/blog/_posts/XXXXX-pqc-in-k8s.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en, area/blog

#51518 [bn] Replace external paywall link
  content/bn/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/localization, language/bn

#50245 [bn] Localize certificates.md
  content/bn/docs/concepts/cluster-administration/certificates.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, lifecycle/stale, tide/merge-method-squash, area/localization, language/bn

#51400 [zh] Sync horizontal-pod-autoscale.md
  content/zh-cn/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#51524 [zh-cn]sync kubectl_cordon
  content/zh-cn/docs/reference/kubectl/generated/kubectl_cordon/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51499 Update Redis version in redis-pod.yaml to 8.0.2
  content/en/examples/pods/config/redis-pod.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51334 [zh-cn]sync 2025-06-03-start-sidecar-first
  content/zh-cn/blog/_posts/2025-06-03-start-sidecar-first/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51392 [zh-cn]sync kubectl_delete
  content/zh-cn/docs/reference/kubectl/generated/kubectl_delete/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51404 [zh-cn]sync server-side-apply
  content/zh-cn/docs/reference/using-api/server-side-apply.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51512 [zh-cn] sync kubeadm-upgrade.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#51526 [zh-cn]sync redis-pod.yaml
  content/zh-cn/examples/pods/config/redis-pod.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51418 [zh-cn]sync/improve kubelet-config.v1alpha1.md
  content/zh-cn/docs/reference/config-api/kubelet-config.v1alpha1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51546 [zh] Sync admission-controllers.md
  content/zh-cn/docs/reference/access-authn-authz/admission-control-phases.svg
  content/zh-cn/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51547 fixing broken markdown for hyperlink on network configuration page
  content/en/docs/tasks/network/reconfigure-default-service-ip-ranges.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51419 Fix non-functional link for Generating Reference Documentation for kubectl Commands page
  content/en/docs/contribute/generate-ref-docs/kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#50213 Rework the stylesheet of sidebar
  assets/js/sidebar-tree.js
  assets/scss/_custom.scss
  assets/scss/_k8s_sidebar-tree.scss
  assets/scss/_styles_project.scss
  layouts/partials/blog-sidebar-tree.html
  layouts/partials/hooks/head-end.html
  layouts/partials/scripts.html
  layouts/partials/sidebar-tree.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, area/web-development

#51378 [zh-cn]sync/improve cri apiserver-eventratelimit.v1alpha1
  content/zh-cn/docs/concepts/architecture/cri.md
  content/zh-cn/docs/reference/config-api/apiserver-eventratelimit.v1alpha1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51548 [zh] Add two feature gates for reference
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/StreamingCollectionEncodingToJSON.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/StreamingCollectionEncodingToProtobuf.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#51570 [zh] Fix several translations in admission-webhooks-good-practices
  content/zh-cn/docs/concepts/cluster-administration/admission-webhooks-good-practices.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51530 [zh-cn]sync kubectl_scale kubectl_taint
  content/zh-cn/docs/reference/kubectl/generated/kubectl_scale/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_taint/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50556 Replace html-inline code with shortcodes in the Learn Kubernetes Basics tutorial
  content/en/docs/tutorials/kubernetes-basics/_index.md
  content/en/docs/tutorials/kubernetes-basics/scale/scale-intro.md
  content/en/docs/tutorials/kubernetes-basics/update/update-intro.md
  layouts/shortcodes/tutorials/carousel-item.html
  layouts/shortcodes/tutorials/carousel.html
  layouts/shortcodes/tutorials/module.html
  layouts/shortcodes/tutorials/modules.html
  static/css/style_tutorials.css
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/web-development

#51516 [pl] sync with PR 51406
  content/pl/_index.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pl, area/localization

#51554 [pl] sync with PR 51419
  content/pl/docs/contribute/generate-ref-docs/kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl, area/localization

#50780 [bn] Localize autoscaling.md
  content/bn/docs/concepts/workloads/autoscaling.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, area/localization, language/bn

#50075 [bn] Localization of wg.md
  content/bn/docs/reference/glossary/wg.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, lifecycle/stale, tide/merge-method-squash, area/localization, language/bn

#50155 [bn] Localize controller.md
  content/bn/docs/reference/glossary/controller.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, lifecycle/stale, tide/merge-method-squash, area/localization, language/bn

#51023 [BN] Sync run-single-instance-stateful-application.md Upgrade mysql image
  content/bn/examples/application/mysql/mysql-deployment.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/localization, language/bn

#51251 [bn] Localization of reviewer.md
  content/bn/docs/reference/glossary/reviewer.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/localization, language/bn

#51583 [bn] Update _index.html
  content/bn/_index.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/localization, language/bn

#51587 [zh-cn]sync kubectl.md
  content/zh-cn/docs/contribute/generate-ref-docs/kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51586 [pl] sync tutorials/kubernetes-basics/scale/scale-intro.md with PR 50556
  content/pl/docs/tutorials/kubernetes-basics/scale/scale-intro.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pl, area/localization

#51515 Update PodDisruptionConditions.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/PodDisruptionConditions.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51566 Update service-proxy-name comment to be more descriptive
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51597 Drop links to third-party projects from authentication page
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/S, lgtm, sig/auth, approved, language/en

#51091 Add foundational docs improvements for DRA
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/en/docs/reference/glossary/cel.md
  content/en/docs/reference/glossary/device.md
  content/en/docs/reference/glossary/deviceclass.md
  content/en/docs/reference/glossary/dra.md
  content/en/docs/reference/glossary/resourceclaim.md
  content/en/docs/reference/glossary/resourceclaimtemplate.md
  content/en/docs/reference/glossary/resourceslice.md
  content/en/docs/tasks/configure-pod-container/assign-resources/_index.md
  content/en/docs/tasks/configure-pod-container/assign-resources/allocate-devices-dra.md
  content/en/docs/tasks/configure-pod-container/assign-resources/set-up-dra-cluster.md
  content/en/examples/dra/deviceclass.yaml
  content/en/examples/dra/dra-example-job.yaml
  content/en/examples/dra/resourceclaim.yaml
  content/en/examples/dra/resourceclaimtemplate.yaml
  content/en/examples/examples_test.go
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, wg/device-management

#51577 [zh-cn]sync kubernetes-basics/_index.md
  content/zh-cn/docs/tutorials/kubernetes-basics/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51610 Update ingress-minikube.md
  content/zh-cn/docs/tasks/access-application-cluster/ingress-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51571 Fix typo: identitiy ➔ identity in security context docs
  content/en/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51613 Publish Post Quantum Crypto Blog
  content/en/blog/_posts/2025-07-18-pqc-in-k8s.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#45548 Fixing dockershim deprecation notice
  content/en/docs/reference/tools/map-crictl-dockercli.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en

#50717 Document new `cache{A,Una}uthorizedRequests` field in `AuthorizationConfiguration`
  content/en/docs/reference/access-authn-authz/authorization.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/localization

#51619 Fix duplicate word in post
  content/en/blog/_posts/2019-01-15-container-storage-interface-ga.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#51336 [pl] docs/concepts/overview/working-with-objects/field-selectors.md
  content/pl/docs/concepts/overview/working-with-objects/field-selectors.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pl, area/localization

#51616 [ru] Sync KubeCon 2025 events
  content/ru/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru, area/localization

#51578 [zh-cn]sync scale-intro update-intro
  content/zh-cn/docs/tutorials/kubernetes-basics/scale/scale-intro.md
  content/zh-cn/docs/tutorials/kubernetes-basics/update/update-intro.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51562 [zh-cn]sync kubectl_top_pod.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_top/kubectl_top_pod.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51604 [zh] sync container-runtimes security-context reconfigure-default-service-ip-ranges
  content/zh-cn/docs/setup/production-environment/container-runtimes.md
  content/zh-cn/docs/tasks/configure-pod-container/security-context.md
  content/zh-cn/docs/tasks/network/reconfigure-default-service-ip-ranges.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#51387 Update cel documentation to include new added utilities.
  content/en/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/XL, lgtm, approved, language/en

#51627 docs(operators): update URI to KubeOps
  content/en/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51629 [zh] Sync extend-kubernetes/operator.md
  content/zh-cn/docs/concepts/extend-kubernetes/operator.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#51535 [KEP-5080]update the feature status
  content/en/docs/reference/command-line-tools-reference/feature-gates/OrderedNamespaceDeletion.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51503 Add documentation for promoting the NodeLocalCRISocket to Beta
  content/en/docs/reference/labels-annotations-taints/_index.md
  content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
  content/en/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md
  content/en/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd.md
  content/en/docs/tasks/debug/debug-cluster/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/cluster-lifecycle, approved, language/en

#51525 [vi] Replace external paywall link
  content/vi/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/vi, area/localization

#51461 KEP-4601: promote AuthorizeWithSelectors / AuthorizeNodeWithSelectors to stable
  content/en/docs/reference/access-authn-authz/node.md
  content/en/docs/reference/access-authn-authz/webhook.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/AuthorizeNodeWithSelectors.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/AuthorizeWithSelectors.md
  content/en/docs/reference/using-api/cel.md
Labels: cncf-cla: yes, size/S, lgtm, sig/auth, approved, language/en

#51640 rename APIServingWithRoute typo to APIServingWithRoutine
  content/en/docs/reference/command-line-tools-reference/feature-gates/APIServingWithRoutine.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/APIServingWithRoutine.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en, language/zh, area/localization

#51486 [ko] Replace external paywall link
  content/ko/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#51644 [zh] Update DaemonSet examples and docs
  content/zh-cn/docs/concepts/workloads/controllers/daemonset.md
  content/zh-cn/docs/tasks/manage-daemon/update-daemon-set.md
  content/zh-cn/examples/controllers/daemonset.yaml
  content/zh-cn/examples/controllers/fluentd-daemonset-update.yaml
  content/zh-cn/examples/controllers/fluentd-daemonset.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#51282 fix wrong reference link of kubelet
  content/en/docs/reference/glossary/kubelet.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#51656 [zh-cn]sync kubectl_top_node kubectl_uncordon
  content/zh-cn/docs/reference/kubectl/generated/kubectl_top/kubectl_top_node.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_uncordon/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51659 fix: instrumentation guidelines link in device plugin page
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49601 docs: add an example of a Service-scoped Pod DNS record
  content/en/docs/concepts/services-networking/dns-pod-service.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#51652 [zh-cn]sync/improve apiserver-webhookadmission.v1 kubelet-config.v1
  content/zh-cn/docs/reference/config-api/apiserver-webhookadmission.v1.md
  content/zh-cn/docs/reference/config-api/kubelet-config.v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51603 [zh] Add assign-resources/allocate-devices-dra.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-resources/_index.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-resources/allocate-devices-dra.md
  content/zh-cn/examples/dra/dra-example-job.yaml
  content/zh-cn/examples/dra/resourceclaim.yaml
  content/zh-cn/examples/dra/resourceclaimtemplate.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51661 [zh-cn]sync dns-pod-service.md
  content/zh-cn/docs/concepts/services-networking/dns-pod-service.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51662 [zh] update README.md
  content/zh-cn/README.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#51655 [ja] Fix EOL MCR links in CRI and Windows Installation Pages
  content/ja/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#51628 [pt] Fix EOL MCR links in CRI and Windows Installation Pages
  content/pt-br/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/localization

#51607 [zh] Add glossary: cel, device, and dra
  content/zh-cn/docs/reference/glossary/cel.md
  content/zh-cn/docs/reference/glossary/device.md
  content/zh-cn/docs/reference/glossary/dra.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51663 Updated image links at Kubernetes basic tutorial
  content/zh-cn/docs/tutorials/kubernetes-basics/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#51611 [zh-cn]sync authentication.md
  content/zh-cn/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51606 [zh] Add set-up-dra-cluster.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-resources/set-up-dra-cluster.md
  content/zh-cn/examples/dra/deviceclass.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51678 Merge main branch into dev-1.34
  Makefile
  README.md
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/en/docs/concepts/extend-kubernetes/operator.md
  content/en/docs/concepts/services-networking/dns-pod-service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/APIServingWithRoutine.md
  content/en/docs/reference/glossary/kubelet.md
  content/en/docs/reference/using-api/cel.md
  content/en/examples/controllers/daemonset.yaml
  content/en/examples/controllers/fluentd-daemonset-update.yaml
  content/en/examples/controllers/fluentd-daemonset.yaml
  content/en/examples/deployments/deployment-with-capacity-reservation.yaml
  content/hi/docs/tasks/inject-data-application/define-interdependent-environment-variables.md
  content/ja/docs/reference/glossary/service-account.md
  content/ja/docs/setup/production-environment/container-runtimes.md
  content/ja/docs/tasks/administer-cluster/kubelet-credential-provider.md
  content/ko/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
  content/pl/docs/reference/glossary/kubelet.md
  content/pt-br/docs/concepts/windows/intro.md
  content/pt-br/docs/tasks/run-application/delete-stateful-set.md
  content/vi/docs/tasks/tools/install-kubectl.md
  content/zh-cn/README.md
  content/zh-cn/docs/concepts/architecture/nodes.md
  content/zh-cn/docs/concepts/extend-kubernetes/operator.md
  content/zh-cn/docs/concepts/security/linux-security.md
  content/zh-cn/docs/concepts/security/secrets-good-practices.md
  content/zh-cn/docs/concepts/services-networking/dns-pod-service.md
  content/zh-cn/docs/concepts/workloads/controllers/daemonset.md
  content/zh-cn/docs/reference/access-authn-authz/authentication.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/APIServingWithRoutine.md
  content/zh-cn/docs/reference/config-api/apiserver-webhookadmission.v1.md
  content/zh-cn/docs/reference/config-api/kubelet-config.v1.md
  content/zh-cn/docs/reference/glossary/cel.md
  content/zh-cn/docs/reference/glossary/device.md
  content/zh-cn/docs/reference/glossary/dra.md
  content/zh-cn/docs/reference/glossary/kubelet.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_top/kubectl_top_node.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_uncordon/_index.md
  content/zh-cn/docs/reference/labels-annotations-taints/_index.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-resources/_index.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-resources/allocate-devices-dra.md
  content/zh-cn/docs/tasks/configure-pod-container/assign-resources/set-up-dra-cluster.md
  content/zh-cn/docs/tasks/manage-daemon/update-daemon-set.md
  content/zh-cn/docs/tutorials/configuration/provision-swap-memory.md
  content/zh-cn/docs/tutorials/kubernetes-basics/_index.md
  content/zh-cn/examples/controllers/daemonset.yaml
  content/zh-cn/examples/controllers/fluentd-daemonset-update.yaml
  content/zh-cn/examples/controllers/fluentd-daemonset.yaml
  content/zh-cn/examples/dra/deviceclass.yaml
  content/zh-cn/examples/dra/dra-example-job.yaml
  content/zh-cn/examples/dra/resourceclaim.yaml
  content/zh-cn/examples/dra/resourceclaimtemplate.yaml
  data/releases/eol.yaml
  data/releases/schedule.yaml
  hugo.toml
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, sig/release, approved, language/en, language/ko, language/ja, language/zh, language/pt, language/hi, language/vi, language/pl, area/release-eng, area/localization

#51680 Update WatchList to true for 1.34
  content/en/docs/reference/command-line-tools-reference/feature-gates/WatchList.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51202 [ja] Translate /content/en/docs/tasks/administer-cluster/kubeadm/adding-linux-nodes.md into Japanese
  content/ja/docs/tasks/administer-cluster/kubeadm/adding-linux-nodes.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#51666 [pt] Fix EOL MCR links in CRI and Windows Installation Pages
  content/pt-br/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/localization

#51651 Kubernetes v1.34 Sneak Peek Blog
  content/en/blog/_posts/2025-07-28-kubernetes-v1.34-sneak-peek.md
Labels: cncf-cla: yes, size/L, lgtm, approved, tide/merge-method-squash, language/en, area/blog

#51425 [KEP-3939] - Promote JobPodReplacementPolicy to GA
  content/en/docs/concepts/workloads/controllers/job.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/JobPodReplacementPolicy.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#51712 [zh] Update upcoming events
  content/zh-cn/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51674 [zh] Fix mermaid and terms in authentication.md
  content/zh-cn/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51713 [zh] sync device-plugins deploy-intro
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
  content/zh-cn/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51717 [hi] Update upcoming events
  content/hi/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi, area/localization

#51569 [ja] translate content/ja/docs/tutorials/security/seccomp.md
  content/ja/docs/tutorials/security/seccomp.md
  content/ja/examples/pods/security/seccomp/alpha/audit-pod.yaml
  content/ja/examples/pods/security/seccomp/alpha/default-pod.yaml
  content/ja/examples/pods/security/seccomp/alpha/fine-pod.yaml
  content/ja/examples/pods/security/seccomp/alpha/violation-pod.yaml
  content/ja/examples/pods/security/seccomp/fields.yaml
  content/ja/examples/pods/security/seccomp/ga/audit-pod.yaml
  content/ja/examples/pods/security/seccomp/ga/default-pod.yaml
  content/ja/examples/pods/security/seccomp/ga/fine-pod.yaml
  content/ja/examples/pods/security/seccomp/ga/violation-pod.yaml
  content/ja/examples/pods/security/seccomp/kind.yaml
  content/ja/examples/pods/security/seccomp/profiles/audit.json
  content/ja/examples/pods/security/seccomp/profiles/fine-grained.json
  content/ja/examples/pods/security/seccomp/profiles/violation.json
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#51733 [pt] Update upcoming events
  content/pt-br/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/localization
