Repository kubernetes/website, pull requests merged in 2025-06, with the labels that each got.

#51054 [hi] Translate Hindi network-policy-provider/antrea-network-policy
  content/hi/docs/tasks/administer-cluster/network-policy-provider/antrea-network-policy.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/hi, area/localization

#51101 [en] update spring.io link
  content/en/case-studies/appdirect/index.html
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51130 [en] update kubernetes link
  content/en/case-studies/blablacar/index.html
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51118 Add Gateway API v1.3 Blog Post
  content/en/blog/_posts/2025-06-02-gateway-api-v1.3/gateway-api-logo.svg
  content/en/blog/_posts/2025-06-02-gateway-api-v1.3/index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#51156 [zh] update spring.io link
  content/zh-cn/case-studies/appdirect/index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51154 [zh] overview/components.md
  content/zh-cn/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#50760 [id] Localize dynamic-resource-allocation page into Bahasa Indonesia
  content/id/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/id, area/localization

#51162 [zh] Remove a repeated blog about jobs-successpolicy-goes-ga
  content/zh-cn/blog/_posts/2025-04-23-jobs-successpolicy-goes-ga.md
  content/zh-cn/blog/_posts/2025-05-15-jobs-successpolicy-goes-ga.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50703 docs(i18n): traducir guía de instalación y configuración de kubectl en Windows al español
  content/es/docs/tasks/tools/included/optional-kubectl-configs-pwsh.md
  content/es/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/es, area/localization

#51116 [id] Translate Enforcing Pod Security Standards page to Bahasa Indonesia
  content/id/docs/contribute/localization_id.md
  content/id/docs/setup/best-practices/enforcing-pod-security-standards.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/id, area/localization

#51175 Remove duplicate words with anchor text
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#45080 Security hardening guide for scheduler configuration
  content/en/docs/concepts/security/hardening-guide/scheduler.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, sig/security

#50925 Add gitjobs embed to create a Kubernetes Careers page
  content/en/careers/_index.html
  content/en/community/_index.html
  layouts/partials/navbar.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#51181 [ja] update spring.io link
  content/ja/case-studies/appdirect/index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#51149 [uk] Localize community section
  content/uk/community/_index.html
  content/uk/community/code-of-conduct.md
  content/uk/community/static/cncf-code-of-conduct.md
  content/uk/includes/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/uk, area/localization

#51109 [zh] Add 2025-06-05-introducing-gateway-api-inference-extension/
  content/zh-cn/blog/_posts/2025-06-05-introducing-gateway-api-inference-extension/index.md
  content/zh-cn/blog/_posts/2025-06-05-introducing-gateway-api-inference-extension/inference-extension-benchmark.png
  content/zh-cn/blog/_posts/2025-06-05-introducing-gateway-api-inference-extension/inference-extension-epp-scheduling.png
  content/zh-cn/blog/_posts/2025-06-05-introducing-gateway-api-inference-extension/inference-extension-request-flow.png
  content/zh-cn/blog/_posts/2025-06-05-introducing-gateway-api-inference-extension/inference-extension-resource-model.png
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51110 [zh-cn] sync blog 2025-05-28-gateway-api-v1.3
  content/zh-cn/blog/_posts/2025-05-28-gateway-api-v1.3/gateway-api-logo.svg
  content/zh-cn/blog/_posts/2025-05-28-gateway-api-v1.3/index.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#51155 [id] Translate cluster-ip-allocation page to Bahasa Indonesia
  content/id/docs/concepts/services-networking/cluster-ip-allocation.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/id, area/localization

#49554 [id] update semver link
  content/id/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#51189 [zh] sync system-traces finalizers deploy-intro
  content/zh-cn/docs/concepts/cluster-administration/system-traces.md
  content/zh-cn/docs/concepts/overview/working-with-objects/finalizers.md
  content/zh-cn/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#51197 correct advertiseAddress typo
  content/en/docs/reference/config-api/kubeadm-config.v1beta4.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49105 [pt-br] Update docs/contribute/analytics.md
  content/pt-br/docs/contribute/analytics.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt, area/localization

#50913 Add documents for kuberc
  content/en/docs/reference/kubectl/kuberc.md
  content/en/docs/reference/kubectl/quick-reference.md
  content/en/docs/tasks/tools/install-kubectl-linux.md
  content/en/docs/tasks/tools/install-kubectl-macos.md
  content/en/docs/tasks/tools/install-kubectl-windows.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en

#50743 [ja] Translate "Continuing the transition from Endpoints to EndpointSlices" into Japanese
  content/ja/blog/_posts/2025-04-24-endpoints-deprecation.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#51102 [zh] Sync working-with-objects/finalizers.md
  content/zh-cn/docs/concepts/overview/working-with-objects/finalizers.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#51191 [zh] Update index file for careers, community, and case-studies
  content/zh-cn/careers/_index.html
  content/zh-cn/case-studies/_index.html
  content/zh-cn/community/_index.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51222 [pl] sync tutorials/kubernetes-basics/_index with PR 48592
  content/pl/docs/tutorials/kubernetes-basics/_index.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pl, area/localization

#51152 Fix: Replace external paywall link in macOS kubectl autocompletion instructions
  content/en/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#51239 [en] update kubernetes links golfnow index
  content/en/case-studies/golfnow/index.html
Labels: cncf-cla: yes, size/XS, lgtm, approved, kind/cleanup, language/en

#49909 fix: move KubeletSeparateDiskGC feature notice inside note
  content/en/docs/concepts/scheduling-eviction/node-pressure-eviction.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, lifecycle/stale, language/en

#49442 [pt-br] Sync KubeCon section UI & 2025 links to Portuguese
  content/pt-br/_index.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt, area/localization

#51122 [ja] Translated /content/en/docs/tasks/inject-data-application/define-interdependent-environment-variables.md into Japanese
  content/ja/docs/tasks/inject-data-application/define-interdependent-environment-variables.md
  content/ja/examples/pods/inject/dependent-envars.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja, area/localization

#51190 Some minor styling changes to careers page
  assets/scss/_custom.scss
  content/en/careers/_index.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/web-development

#50801 [ja] Translate docs/concepts/security/api-server-bypass-risks.md into…
  content/ja/docs/concepts/security/api-server-bypass-risks.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#51263 [ja] Remove /ja prefix from hello-minikube.md links
  content/ja/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#51264 [jp] Remove the /ja prefix from japanese docs
  content/ja/docs/concepts/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#51262 [ja] Update cgroups.md by removing /ja prefixes
  content/ja/docs/concepts/architecture/cgroups.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#50946 [ja] Translate Kubernetes v1.33: Image Pull Policy the way you always thought it worked! into Japanese
  content/ja/blog/_posts/2025-05-12-ensure-secret-pulled-images/ensure_secret_image_pulls.svg
  content/ja/blog/_posts/2025-05-12-ensure-secret-pulled-images/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja, area/localization

#51261 Enable config to add untranslated content to the left side bar
  hugo.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#51140 [ja] Translated /content/en/docs/concepts/architecture/self-healing.md into Japanese
  content/ja/docs/concepts/architecture/self-healing.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja, area/localization

#51128 [ja] Translated /content/en/docs/tasks/access-application-cluster/configure-dns-cluster.md into Japanese
  content/ja/docs/tasks/access-application-cluster/configure-dns-cluster.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#51252 [zh] update kubernetes links golfnow index
  content/zh-cn/case-studies/golfnow/index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51258 Slack Changes Blog post Mirror
  content/en/blog/_posts/2025-06-16-Change-To-Kubernetes-Slack.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en, area/blog

#51271 [zh-cn]sync kubectl_diff
  content/zh-cn/docs/reference/kubectl/generated/kubectl_diff/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51277 Fix PodTopologyLabels note not rendering
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51214 [pl] sync tutorials/kubernetes-basics/scale with PR 48592
  content/pl/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/pl/docs/tutorials/kubernetes-basics/scale/scale-intro.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pl, area/localization

#51193 [pl] sync tutorials/kubernetes-basics/expose with PR 48592
  content/pl/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/pl/docs/tutorials/kubernetes-basics/expose/expose-intro.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pl, area/localization

#51217 Fix EOL MCR links in CRI and Windows Installation Pages
  content/en/docs/concepts/windows/intro.md
  content/en/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#51283 [ko] Update system-traces.md to use the Otel debug exporter
  content/ko/docs/concepts/cluster-administration/system-traces.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#51165 [pl] sync content/pl/docs/tutorials/kubernetes-basics/create-cluster with PR 48592
  content/pl/docs/tutorials/kubernetes-basics/create-cluster/_index.md
  content/pl/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/pl/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pl, area/localization

#51183 [pl] sync tutorials/kubernetes-basics/explore with PR 48592
  content/pl/docs/tutorials/kubernetes-basics/explore/explore-intro.html
  content/pl/docs/tutorials/kubernetes-basics/explore/explore-intro.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pl, area/localization

#51209 [zh-cn]sync kuberc.md
  content/zh-cn/docs/reference/kubectl/kuberc.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51287 [zh-cn]sync deprecation-guide.md
  content/zh-cn/docs/reference/using-api/deprecation-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51273 [zh] Update validating-admission-policy-v1.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/validating-admission-policy-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51285 [zh-cn] sync blog 2025-06-16-Change-To-Kubernetes-Slack
  content/zh-cn/blog/_posts/2025-06-16-Change-To-Kubernetes-Slack.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#51297 Add June 2025 patch releases to the schedule
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, area/release-eng

#51290 Add docs for Structured Authn GA
  content/en/docs/reference/access-authn-authz/authentication.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/StructuredAuthenticationConfiguration.md
Labels: cncf-cla: yes, size/S, lgtm, sig/auth, approved, language/en, triage/accepted

#51293 [zh] Sync windows/user-guide.md
  content/zh-cn/docs/concepts/windows/user-guide.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51299 [zh-cn]sync container-runtimes
  content/zh-cn/docs/setup/production-environment/container-runtimes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51218 [ja] update deploy-intro according to upstream changes
  content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/ja/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja, area/localization

#51291 fix example userinfo object in authn docs
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, approved, language/en, triage/accepted

#51306 [de] Replace external paywall link
  content/de/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de, area/localization

#51301 [zh] sync ntro deployment replicaset
  content/zh-cn/docs/concepts/windows/intro.md
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
  content/zh-cn/docs/concepts/workloads/controllers/replicaset.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#51312 [zh-cn]sync/improve kubeadm_init_phase_control-plane* kubeadm_init_phase_control-plane_controller-manager
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init/kubeadm_init_phase_control-plane_all.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init/kubeadm_init_phase_control-plane_apiserver.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_init/kubeadm_init_phase_control-plane_controller-manager.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51315 [ja] Replace external paywall link
  content/ja/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#51164 Add Image Compatibility blog post
  content/en/blog/_posts/image-compatibility-in-cloud-native-environments/index.md
  content/en/blog/_posts/image-compatibility-in-cloud-native-environments/validate-node-output.png
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en, area/blog

#51320 Publish Image Compatibility Blog Post
  content/en/blog/_posts/2025-06-25-image-compatibility-in-cloud-native-environments/index.md
  content/en/blog/_posts/2025-06-25-image-compatibility-in-cloud-native-environments/validate-node-output.png
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#51325 [ru] Replace external paywall link
  content/ru/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru, area/localization

#51323 [zh-cn]sync quick-reference.md
  content/zh-cn/docs/reference/kubectl/quick-reference.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51295 Improve description of rollingUpdate for Deployment
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, sig/apps, language/en

#51329 [zh-cn]sync kuberc.md
  content/zh-cn/docs/reference/kubectl/kuberc.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#51330 [zh-cn]sync authentication.md
  content/zh-cn/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51348 [zh] Sync controllers/deployment.md
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#51150 [uk] Improve release information
  content/uk/releases/_index.md
  content/uk/releases/download.md
  content/uk/releases/notes.md
  content/uk/releases/patch-releases.md
  content/uk/releases/release-managers.md
  content/uk/releases/version-skew-policy.md
  i18n/uk/uk.toml
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/uk, area/localization

#51279 [ja] Translate content/en/docs/concepts/configuration/windows-resource-management.md into Japanese
  content/ja/docs/concepts/configuration/windows-resource-management.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#51310 [zh-cn]sync submission suggesting-improvements
  content/zh-cn/docs/contribute/blog/submission.md
  content/zh-cn/docs/contribute/suggesting-improvements.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#51300 [zh] Sync windows/intro.md
  content/zh-cn/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#51354 Correct out-of-service taint link to non-graceful node shutdown
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#51362 Kubeadm upgrade phase navigation
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-upgrade-phase.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, tide/merge-method-squash, language/en, area/web-development

#51369 [es] Replace external paywall link
  content/es/docs/tasks/tools/included/optional-kubectl-configs-bash-mac.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es, area/localization

#51353 Fix broken link to Object count quota
  content/en/docs/concepts/policy/resource-quotas.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51302 Add missing closing round bracket in deploy-intro.md
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, tide/merge-method-squash, language/en

#51370 [zh] sync addons kubeadm-upgrade-phase labels-annotations-taints/_index
  content/zh-cn/docs/concepts/cluster-administration/addons.md
  content/zh-cn/docs/reference/labels-annotations-taints/_index.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/kubeadm-upgrade-phase.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#51377 [zh-cn]sync kubeadm_config_images_pull.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_config/kubeadm_config_images_pull.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#51366 Grammar fix in volumes.md: media -> medium
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51077 Revise best practice for autoscaling
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, sig/autoscaling, language/en

#51292 [zh] Add 2025-05-02-mutable-csi-node-allocatable.md
  content/zh-cn/blog/_posts/2025-05-02-mutable-csi-node-allocatable.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51322 [zh-cn]Add blog:2025-06-10-enhancing-kubernetes-event-management-custom-aggregation
  content/zh-cn/blog/_posts/2025-06-10-enhancing-kubernetes-event-management-custom-aggregation.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#51049 [pt-br] Add /tasks/run-application/run-single-instance-stateful-application.md
  content/pt-br/docs/tasks/run-application/run-single-instance-stateful-application.md
  content/pt-br/examples/application/mysql/mysql-deployment.yaml
  content/pt-br/examples/application/mysql/mysql-pv.yaml
  content/pt-br/includes/default-storage-class-prereqs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt, area/localization

#51413 refactor(scripts): improve robustness and readability of lsync.sh
  scripts/lsync.sh
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved
