Repository kubernetes/website, pull requests merged in 2025-10, with the labels that each got.

#52547 [ja] Translated /docs/concepts/security/linux-security.md into Japanese
  content/ja/docs/concepts/security/linux-security.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#52261 [ko] Translate pods-some-nodes into Korean
  content/ko/docs/tasks/manage-daemon/pods-some-nodes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko, area/localization

#52517 [ko] fix mistranslation in kubelet description
  content/ko/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#52518 Update dns-debugging-resolution.md
  content/en/docs/tasks/administer-cluster/dns-debugging-resolution.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#52595 Update Vietnamese to support Docsy-style menus
  content/vi/blog/_index.md
  content/vi/case-studies/_index.html
  content/vi/community/_index.html
  content/vi/docs/home/_index.md
  content/vi/partners/_index.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/vi, area/localization

#52606 docs: Fix RFC 1123 label names documentation
  content/en/docs/concepts/overview/working-with-objects/names.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#52363 [zh] Add text to controllers/statefulset.md
  content/zh-cn/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52598 Update topology manager.md
  content/en/docs/tasks/administer-cluster/topology-manager.md
  static/images/docs/topology-manager-flow.png
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#49249 Add blog article on 7 Common Kubernetes Pitfalls
  content/en/blog/_posts/2024-12-27-seven-kubernetes-pitfalls-and-how-to-avoid.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, area/blog

#52629 [bn] sync with PR 50223
  content/bn/blog/_posts/2024-05-09-gateway-api-v1.1/index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/localization, language/bn

#52630 Publish blog article
  content/en/blog/_posts/2025-10-20-seven-kubernetes-pitfalls-and-how-to-avoid.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#52266 [de] Fix large cluster guidelines page
  content/de/docs/setup/best-practices/cluster-large.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de, area/localization

#51959 [de] Update kubectl installation to use new pkgs.k8s.io repositories
  content/de/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/de, area/localization

#52644 [fr] sync with PR 43217
  content/fr/docs/reference/glossary/workload.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr, area/localization

#52638 [vi] Add Vietnamese translation for logging
  content/vi/docs/reference/glossary/logging.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/vi, area/localization

#52652 [vi] Add Vietnamese translation for Master
  content/vi/docs/reference/glossary/master.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/vi, area/localization

#52612 Fix typo in horizontal pod autoscale documentation
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en
