Repository kubernetes/website, pull requests merged in 2025-02, with the labels that each got.

#49603 [ja] Fix link typo for mrbobbytables
  content/ja/blog/_posts/2024-06-06-10-Years-of-Kubernetes/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#49610 fix: use docsy dependency without hugo-extended
  package-lock.json
  package.json
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#49607 Update the description of TopologySpreadConstraints's matchLabelKeys to align with the design change
  content/en/docs/concepts/scheduling-eviction/topology-spread-constraints.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#49619 [pt] update cluster add-on link
  content/pt-br/docs/tasks/administer-cluster/dns-custom-nameservers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/localization

#48897 [pt-br] Update Brazilian Portuguese contributor guide
  content/pt-br/docs/contribute/localization_pt-br.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pt, area/localization

#49500 [pt-br] Localize tasks/debug/_index.md
  content/pt-br/docs/tasks/debug/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt, area/localization

#49617 Localize content/pt-br/docs/tasks/debug/debug-application/_index.md
  content/pt-br/docs/tasks/debug/debug-application/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/localization

#49613 Fix header nesting in cpu-management-policies.md
  content/en/docs/tasks/administer-cluster/cpu-management-policies.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#49631 updates attribute to integrity
  layouts/partials/scripts.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#49628 [ja] Remove monitoring link
  content/ja/docs/tasks/debug/debug-cluster/resource-usage-monitoring.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#49323 [ja] Translate docs/reference/glossary/priority-class.md
  content/ja/docs/concepts/scheduling-eviction/pod-priority-preemption.md
  content/ja/docs/reference/glossary/priority-class.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#48258 Refactor KubeWeekly signup form
  assets/scss/_custom.scss
  content/en/_index.html
  layouts/index.html
  layouts/partials/hooks/head-end.html
  layouts/shortcodes/kubeweekly.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/web-development

#49621 [zh] fix md formatting in nodelocaldns.md
  content/zh-cn/docs/tasks/administer-cluster/nodelocaldns.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49604 [zh-cn] fix: code block typo in deployment.md
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49611 [zh-cn] Fix link typo for mrbobbytables
  content/zh-cn/blog/_posts/2024-06-06-10-Years-of-Kubernetes/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49618 Merge main branch into dev 1.33
  assets/scss/_case-studies.scss
  assets/scss/_custom.scss
  assets/scss/case_studies.scss
  content/en/blog/_posts/2025-01-15-swap-fresh-improvements.md
  content/en/blog/_posts/2025-02-03-introducing-jobset/index.md
  content/en/blog/_posts/2025-02-03-introducing-jobset/jobset_diagram.svg
  content/en/docs/concepts/configuration/manage-resources-containers.md
  content/en/docs/concepts/services-networking/dns-pod-service.md
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/concepts/workloads/autoscaling.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/contribute/new-content/open-a-pr.md
  content/en/docs/reference/access-authn-authz/mutating-admission-policy.md
  content/en/docs/reference/access-authn-authz/rbac.md
  content/en/docs/reference/access-authn-authz/validating-admission-policy.md
  content/en/examples/access/simple-clusterrole.yaml
  content/en/examples/access/simple-role.yaml
  content/en/examples/service/simple-service.yaml
  content/ja/blog/_posts/2024-06-06-10-Years-of-Kubernetes/index.md
  content/ja/docs/concepts/security/hardening-guide/authentication-mechanisms.md
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
  data/announcements/scheduled.yaml
  hugo.toml
  layouts/_default/baseof.html
  layouts/case-studies/list.html
  layouts/case-studies/single-baseof.html
  layouts/case-studies/single.html
  layouts/partials/css.html
  static/css/gridpage.css
  static/images/announcements/kccnc-eu-2025-white.svg
  static/images/case-studies/story.png
  static/images/case-studies/story.svg
Labels: cncf-cla: yes, size/XXL, lgtm, approved, language/en

#49653 [zh] Sync validate-dual-stack and extend-service-ip-ranges
  content/zh-cn/docs/tasks/network/extend-service-ip-ranges.md
  content/zh-cn/docs/tasks/network/validate-dual-stack.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49516 [zh] Sync service-accounts-admin.md
  content/zh-cn/docs/reference/access-authn-authz/service-accounts-admin.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49272 [zh] Add mutating-admission-policy.md
  content/zh-cn/docs/reference/access-authn-authz/mutating-admission-policy.md
  content/zh-cn/examples/mutatingadmissionpolicy/applyconfiguration-example.yaml
  content/zh-cn/examples/mutatingadmissionpolicy/json-patch-example.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49650 [zh-cn] sync manage-resources-containers.md
  content/zh-cn/docs/concepts/configuration/manage-resources-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49238 [ja]Translate content/en/docs/tasks/run-application/configure-pdb.md
  content/ja/docs/tasks/run-application/configure-pdb.md
  content/ja/examples/policy/zookeeper-pod-disruption-budget-maxunavailable.yaml
  content/ja/examples/policy/zookeeper-pod-disruption-budget-minavailable.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#49638 Update the Website Setup Instructions in Contributor Docs and README
  README.md
  content/en/docs/contribute/new-content/open-a-pr.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en

#49671 fix: typo in diagram-guide.md
  content/en/docs/contribute/style/diagram-guide.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49666 kubeadm: graduate WaitForAllControlPlaneComponents to Beta
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: cncf-cla: yes, size/XS, lgtm, kind/feature, sig/cluster-lifecycle, approved, language/en

#49615 Updated the threshold parameter in example
  content/en/docs/tasks/administer-cluster/kubelet-config-file.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49661 [zh-cn] sync sidecar-containers.md
  content/zh-cn/docs/concepts/workloads/pods/sidecar-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49630 Fix incorrect width for search page
  assets/scss/_custom.scss
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/web-development

#49664 Clean up dns-pod-service.md
  content/en/docs/concepts/services-networking/dns-pod-service.md
Labels: cncf-cla: yes, size/L, lgtm, approved, kind/cleanup, language/en

#49598 Improve the styles for case studies' pages
  assets/scss/case_studies.scss
  layouts/case-studies/single.html
  static/css/gridpage.css
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/web-development

#49592 Add support for KaTeX formulas
  content/en/docs/contribute/style/style-guide.md
  layouts/partials/scripts.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/en, area/web-development

#49657 [pl] docs/contribute/style/_index.md
  content/pl/docs/contribute/style/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl, area/localization

#49689 [zh] Fix typo in mismatchLabelKeys example
  content/zh-cn/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49679 [zh] Sync docs/test.md
  content/zh-cn/docs/test.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49682 [zh-cn]sync open-a-pr.md
  content/zh-cn/docs/contribute/new-content/open-a-pr.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49680 Fix a figure rendering issue in docs/test.md
  content/en/docs/test.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49681 [zh-cn] sync cpu-management-policies.md
  content/zh-cn/docs/tasks/administer-cluster/cpu-management-policies.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49683 [zh-cn]sync addons basic-stateful-set
  content/zh-cn/docs/concepts/cluster-administration/addons.md
  content/zh-cn/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49687 Tweak job-with-pod-to-pod-communication.md
  content/en/docs/tasks/job/job-with-pod-to-pod-communication.md
Labels: cncf-cla: yes, size/M, lgtm, approved, kind/cleanup, language/en

#49662 [zh-cn] sync dns-pod-service.md
  content/zh-cn/docs/concepts/services-networking/dns-pod-service.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh, area/web-development, area/localization

#49486 [zh-cn]sync apiserver-config.v1.md
  content/zh-cn/docs/reference/config-api/apiserver-config.v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49677 feat: move js detection script to its own module and import into body-end
  assets/js/detect-js.js
  layouts/partials/hooks/body-end.html
  static/js/script.js
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/web-development

#49697 [zh-cn]sync job-with-pod-to-pod-communication
  content/zh-cn/docs/tasks/job/job-with-pod-to-pod-communication.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49703 [ru] Fixed link for core dns helm charts
  content/ru/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru, area/localization

#49693 Merge main branch into dev-1.33
  Makefile
  README.md
  assets/scss/_custom.scss
  assets/scss/case_studies.scss
  content/en/_index.html
  content/en/docs/concepts/services-networking/dns-pod-service.md
  content/en/docs/contribute/new-content/open-a-pr.md
  content/en/docs/contribute/style/diagram-guide.md
  content/en/docs/contribute/style/style-guide.md
  content/en/docs/tasks/administer-cluster/cpu-management-policies.md
  content/en/docs/tasks/administer-cluster/kubelet-config-file.md
  content/en/docs/tasks/job/job-with-pod-to-pod-communication.md
  content/en/docs/test.md
  content/fr/docs/concepts/workloads/pods/pod-lifecycle.md
  content/ja/docs/concepts/scheduling-eviction/pod-priority-preemption.md
  content/ja/docs/reference/glossary/priority-class.md
  content/ja/docs/tasks/debug/debug-cluster/resource-usage-monitoring.md
  content/ja/docs/tasks/run-application/configure-pdb.md
  content/ja/examples/policy/zookeeper-pod-disruption-budget-maxunavailable.yaml
  content/ja/examples/policy/zookeeper-pod-disruption-budget-minavailable.yaml
  content/pl/docs/contribute/style/_index.md
  content/pt-br/docs/contribute/localization_pt-br.md
  content/pt-br/docs/tasks/administer-cluster/dns-custom-nameservers.md
  content/pt-br/docs/tasks/debug/_index.md
  content/pt-br/docs/tasks/debug/debug-application/_index.md
  content/zh-cn/blog/_posts/2024-06-06-10-Years-of-Kubernetes/index.md
  content/zh-cn/docs/concepts/cluster-administration/addons.md
  content/zh-cn/docs/concepts/configuration/manage-resources-containers.md
  content/zh-cn/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/zh-cn/docs/concepts/services-networking/dns-pod-service.md
  content/zh-cn/docs/concepts/services-networking/service.md
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
  content/zh-cn/docs/concepts/workloads/pods/sidecar-containers.md
  content/zh-cn/docs/contribute/new-content/open-a-pr.md
  content/zh-cn/docs/reference/access-authn-authz/mutating-admission-policy.md
  content/zh-cn/docs/reference/access-authn-authz/service-accounts-admin.md
  content/zh-cn/docs/reference/config-api/apiserver-config.v1.md
  content/zh-cn/docs/tasks/administer-cluster/cpu-management-policies.md
  content/zh-cn/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md
  content/zh-cn/docs/tasks/administer-cluster/nodelocaldns.md
  content/zh-cn/docs/tasks/network/extend-service-ip-ranges.md
  content/zh-cn/docs/tasks/network/validate-dual-stack.md
  content/zh-cn/docs/test.md
  content/zh-cn/docs/tutorials/stateful-application/basic-stateful-set.md
  content/zh-cn/examples/mutatingadmissionpolicy/applyconfiguration-example.yaml
  content/zh-cn/examples/mutatingadmissionpolicy/json-patch-example.yaml
  content/zh-cn/examples/service/simple-service.yaml
  layouts/case-studies/single.html
  layouts/index.html
  layouts/partials/hooks/head-end.html
  layouts/partials/scripts.html
  layouts/shortcodes/kubeweekly.html
  package-lock.json
  package.json
  static/css/gridpage.css
Labels: cncf-cla: yes, size/XXL, lgtm, approved, language/en

#49698 [zh] Sync system-metric, container-lifecycle-hooks, and security index
  content/zh-cn/docs/concepts/cluster-administration/system-metrics.md
  content/zh-cn/docs/concepts/containers/container-lifecycle-hooks.md
  content/zh-cn/docs/concepts/security/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49704 Id/translate networking reference port and protocol page
  content/id/docs/reference/networking/_index.md
  content/id/docs/reference/networking/ports-and-protocols.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/id, area/localization

#49393 nftables kube-proxy blog post for 1.33
  content/en/blog/_posts/2025-02-28-nftables-kube-proxy/index.md
  content/en/blog/_posts/2025-02-28-nftables-kube-proxy/iptables-only.svg
  content/en/blog/_posts/2025-02-28-nftables-kube-proxy/iptables-vs-nftables.svg
  content/en/blog/_posts/2025-02-28-nftables-kube-proxy/ipvs-vs-nftables.svg
  content/en/blog/_posts/2025-02-28-nftables-kube-proxy/nftables-only.svg
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en, area/blog

#49675 [pl] update: docs/home/_index.md
  content/pl/docs/home/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl, area/localization

#48200 fix inconsistency in documentation of default storageclass
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/tasks/administer-cluster/change-default-storage-class.md
Labels: cncf-cla: yes, size/S, lgtm, sig/storage, approved, language/en

#49709 [zh] Add case-studies n-p pages
  content/zh-cn/case-studies/naic/index.html
  content/zh-cn/case-studies/naic/naic_featured_logo.svg
  content/zh-cn/case-studies/nav/index.html
  content/zh-cn/case-studies/nav/nav_featured_logo.svg
  content/zh-cn/case-studies/nerdalize/index.html
  content/zh-cn/case-studies/nerdalize/nerdalize_featured_logo.svg
  content/zh-cn/case-studies/newyorktimes/index.html
  content/zh-cn/case-studies/newyorktimes/newyorktimes_featured.svg
  content/zh-cn/case-studies/nokia/index.html
  content/zh-cn/case-studies/nokia/nokia_featured_logo.svg
  content/zh-cn/case-studies/northwestern-mutual/index.html
  content/zh-cn/case-studies/northwestern-mutual/northwestern_featured_logo.svg
  content/zh-cn/case-studies/ocado/index.html
  content/zh-cn/case-studies/ocado/ocado_featured_logo.svg
  content/zh-cn/case-studies/openAI/index.html
  content/zh-cn/case-studies/openAI/openai_featured.svg
  content/zh-cn/case-studies/peardeck/index.html
  content/zh-cn/case-studies/peardeck/peardeck_featured.svg
  content/zh-cn/case-studies/pearson/index.html
  content/zh-cn/case-studies/pearson/pearson_featured.svg
  content/zh-cn/case-studies/pingcap/index.html
  content/zh-cn/case-studies/pingcap/pingcap_featured_logo.svg
  content/zh-cn/case-studies/pinterest/index.html
  content/zh-cn/case-studies/pinterest/pinterest_feature.svg
  content/zh-cn/case-studies/prowise/index.html
  content/zh-cn/case-studies/prowise/prowise_featured_logo.svg
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh, area/localization

#49648 [zh] Add 2025-01-21-sig-arch-enhancements-spotlight
  content/zh-cn/blog/_posts/2025-01-21-sig-arch-enhancements-spotlight.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49712 update text and maintainers to zh-cn/README.md
  content/zh-cn/README.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#49714 Publish nftables GA blog post
  content/en/blog/_posts/2025-02-28-nftables-kube-proxy/index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#49718 Use math formulae in HPA task page
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#49713 [zh-cn]sync configure-upgrade-etcd.md
  content/zh-cn/docs/tasks/administer-cluster/configure-upgrade-etcd.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49717 [pt] Fixed link for core dns helm charts
  content/pt-br/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/localization

#49726 Use math formula to show division
  content/en/docs/reference/node/systemd-watchdog.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#45802 Concepts/ClusterAdministration: Expand Node Autoscaling documentation
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/concepts/cluster-administration/_index.md
  content/en/docs/concepts/cluster-administration/cluster-autoscaling.md
  content/en/docs/concepts/cluster-administration/node-autoscaling.md
  content/en/docs/concepts/containers/images.md
  content/en/docs/concepts/scheduling-eviction/topology-spread-constraints.md
  content/en/docs/concepts/workloads/autoscaling.md
  content/en/docs/concepts/workloads/pods/disruptions.md
  content/en/docs/setup/best-practices/cluster-large.md
  content/en/docs/setup/production-environment/_index.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
  static/_redirects
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, sig/autoscaling, language/en

#49720 docs(style): embed rolebinding code samples
  content/en/docs/reference/access-authn-authz/rbac.md
  content/en/examples/access/simple-clusterrolebinding.yaml
  content/en/examples/access/simple-rolebinding-with-clusterrole.yaml
  content/en/examples/access/simple-rolebinding-with-role.yaml
  content/en/examples/controllers/job.yaml
Labels: cncf-cla: yes, size/L, lgtm, kind/documentation, approved, language/en

#49508 Drop stale reviewers for Pod priority pages
  content/en/docs/concepts/scheduling-eviction/pod-priority-preemption.md
  content/en/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, kind/cleanup, language/en

#49474 update image tag in manifest
  content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
  content/en/examples/pods/inject/dapi-envars-container.yaml
  content/en/examples/pods/inject/dapi-envars-pod.yaml
  content/en/examples/pods/inject/dapi-volume-resources.yaml
  content/en/examples/pods/inject/dapi-volume.yaml
  content/en/examples/pods/pod-configmap-env-var-valueFrom.yaml
  content/en/examples/pods/pod-configmap-envFrom.yaml
  content/en/examples/pods/pod-configmap-volume-specific-key.yaml
  content/en/examples/pods/pod-configmap-volume.yaml
  content/en/examples/pods/pod-multiple-configmap-env-variable.yaml
  content/en/examples/pods/pod-single-configmap-env-variable.yaml
  content/en/examples/pods/probe/exec-liveness.yaml
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#49273 Annual updation of OWNERS_ALIASES
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved

#49731 [ja] Fixed link for core dns helm charts
  content/ja/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#49584 [ja] Translate content/en/docs/tasks/extend-kubernetes/configure-multiple-schedulers.md into Japanese
  content/ja/docs/tasks/extend-kubernetes/_index.md
  content/ja/docs/tasks/extend-kubernetes/configure-multiple-schedulers.md
  content/ja/examples/admin/sched/clusterrole.yaml
  content/ja/examples/admin/sched/my-scheduler.yaml
  content/ja/examples/admin/sched/pod1.yaml
  content/ja/examples/admin/sched/pod2.yaml
  content/ja/examples/admin/sched/pod3.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#48744 [ja]docs/concepts/security/security-checklist.md #47547
  content/ja/docs/concepts/security/security-checklist.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#48920 Switch extensible admission payload example from YAML to JSON
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en

#49736 Update release schedule
  data/releases/eol.yaml
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, sig/release, approved, area/release-eng

#49722 Add KUBECTL_KUBERC environment variable description
  content/en/docs/reference/kubectl/kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, sig/cli, language/en

#49748 [it] Fixed link for core dns helm charts
  content/it/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/it, area/localization

#49612 add blog post 2025-02-14 on cloud controller managers and the chicken and egg problem
  content/en/blog/_posts/2025-02-14-cloud-controller-manager-chicken-egg-problem.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en, area/blog

#49755 Fix annotation incorrectly used as label
  content/en/blog/_posts/2025-02-14-cloud-controller-manager-chicken-egg-problem.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#48298 Added Hindi translation for concepts/policy page
  content/hi/docs/concepts/policy/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/hi, area/localization

#49719 [zh] Sync horizontal-pod-autoscale.md
  content/zh-cn/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#49769 fix: add missing title to front-matter
  content/pl/docs/concepts/overview/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl, area/localization

#49645 [pl] docs/contribute/review/_index.md
  content/pl/docs/contribute/review/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pl, area/localization

#49632 [pl] docs/contribute/_index.md
  content/pl/docs/contribute/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pl, area/localization

#49735 [pl] maintenance: content/pl/includes/index.md
  content/pl/includes/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl, area/localization

#49767 [zh-cn]sync configure-liveness-readiness-startup-probes.md
  content/zh-cn/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49766 [zh-cn] client-libraries.md
  content/zh-cn/docs/reference/using-api/client-libraries.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49762 [zh-cn]sync guaranteed-scheduling-critical-addon-pods
  content/zh-cn/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49756 fixups to 2025-02-14 ccm chicken and egg blog
  content/en/blog/_posts/2025-02-14-cloud-controller-manager-chicken-egg-problem/ccm-chicken-egg-problem-sequence-diagram.svg
  content/en/blog/_posts/2025-02-14-cloud-controller-manager-chicken-egg-problem/index.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en, area/blog

#49360 Updated node roles in docs
  content/en/docs/concepts/architecture/nodes.md
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#49414 Fixed link navigation bug
  content/en/docs/tutorials/configuration/updating-configuration-via-a-configmap.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49512 kubeadm: Document ControlPlaneKubeletLocalMode promotion to beta
  content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, sig/docs, approved, language/en

#49602 Add deprecation notices related to PodAffinity's matchLabelKeys/mismatchLabelKeys
  content/en/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/S, lgtm, sig/scheduling, approved, language/en

#49798 [id] Fixed link for core dns helm charts
  content/id/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#49757 ID / translate protocols for services page
  content/id/docs/reference/networking/service-protocols.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/id, area/localization

#49763 [zh-cn]sync change-default-storage-class
  content/zh-cn/docs/tasks/administer-cluster/change-default-storage-class.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49764 [zh-cn]sync style-guide.md
  content/zh-cn/docs/contribute/style/style-guide.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#49765 [zh-cn]sync kubectl_create/*
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_clusterrole.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_role.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_rolebinding.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_secret_docker-registry.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_service_clusterip.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_service_nodeport.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_serviceaccount.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49750 [zh-cn] sync StatefulSet with en
  content/zh-cn/docs/concepts/workloads/controllers/statefulset.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49802 [zh] Sync assign-pod-node.md
  content/zh-cn/docs/concepts/scheduling-eviction/assign-pod-node.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#49805 [zh-cn]sync kubectl.md
  content/zh-cn/docs/reference/glossary/kubectl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49716 Fix some confused cloud-controller documentation
  content/en/docs/concepts/architecture/cloud-controller.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#49812 [es] Fixed link for core dns helm charts
  content/es/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es, area/localization

#49796 Pod lifecycle concept: use formula for clearer math
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, kind/cleanup, language/en

#49808 Fix typo in autoscaling docs
  content/en/docs/concepts/workloads/autoscaling.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49777 [zh-cn]sync apiserver-config.v1beta1.md
  content/zh-cn/docs/reference/config-api/apiserver-config.v1beta1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49725 Fix formula in HPA page
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49815 update /ja/README.md
  content/ja/README.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja, area/localization

#49827 [zh] Fixed command for kubectl patch statefulset
  content/zh-cn/docs/tutorials/stateful-application/basic-stateful-set.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49834 extra space in pod tag
  content/en/docs/reference/glossary/device-plugin.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49799 fix(typo): Update sidecar-containers.md
  content/en/docs/concepts/workloads/pods/sidecar-containers.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49817 Mark DisableCloudProviders and DisableKubeletCloudCredentialProviders as removed
  content/en/docs/reference/command-line-tools-reference/feature-gates/DisableCloudProviders.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/DisableKubeletCloudCredentialProviders.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49312 mark AppArmorFields as removed
  content/en/docs/reference/command-line-tools-reference/feature-gates/AppArmorFields.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49833 Clean up storage/volumes.md
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/L, lgtm, approved, kind/cleanup, language/en

#49673 [ja] Update version-skew-policy.md
  content/ja/releases/version-skew-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#49737 fix(de): fixed small typos
  content/de/docs/contribute/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de, area/localization

#49824 Update kubectl subresource documentation
  content/en/docs/reference/kubectl/conventions.md
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning.md
  content/en/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch.md
Labels: cncf-cla: yes, size/S, lgtm, approved, sig/cli, language/en

#46798 Add more suggestions for avoiding deadlocks to webhook docs
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
Labels: cncf-cla: yes, size/M, lgtm, approved, lifecycle/stale, language/en

#49706 Define 'resource' in glossary
  content/en/docs/reference/glossary/api-resource.md
  content/en/docs/reference/glossary/infrastructure-resource.md
  content/en/docs/reference/glossary/object.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#49813 [zh] Sync architecture/cloud-controller.md
  content/zh-cn/docs/concepts/architecture/cloud-controller.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#49849 [zh] Add glossary: api-resource and infrastructure-resource
  content/zh-cn/docs/reference/glossary/api-resource.md
  content/zh-cn/docs/reference/glossary/infrastructure-resource.md
  content/zh-cn/docs/reference/glossary/object.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49853 [zh] Sync releases/release.md
  content/zh-cn/releases/release.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49854 Add note about deployment cleanup policy
  content/en/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/S, lgtm, approved, sig/apps, language/en

#49860 [zh] Fixed order of translation IDs
  data/i18n/zh-cn/zh-cn.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49424 [zh] Add case-studies/adidas/
  content/zh-cn/case-studies/adidas/index.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49851 [ja] content/ja/docs/concepts/containers/container-lifecycle-hooks.md follow of the en text
  content/ja/docs/concepts/containers/container-lifecycle-hooks.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#43836 Add diagram for admission control phases which shows the new validatingadmissionpolicies
  content/en/docs/reference/access-authn-authz/admission-control-phases.svg
  content/en/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#49864 [bn] Fixed order of translation IDs
  data/i18n/bn/bn.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/localization, language/bn

#49872 [pt] Fixed order of translation IDs
  data/i18n/pt-br/pt-br.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/localization

#49867 correct one chinese word
  content/zh-cn/docs/concepts/security/cloud-native-security.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49818 [zh] sync topology-spread-constraints autoscaling cluster-large
  content/zh-cn/docs/concepts/scheduling-eviction/topology-spread-constraints.md
  content/zh-cn/docs/concepts/workloads/autoscaling.md
  content/zh-cn/docs/setup/best-practices/cluster-large.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49861 [zh-cn]sync updating-configuration-via-a-configmap
  content/zh-cn/docs/tutorials/configuration/updating-configuration-via-a-configmap.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49816 [zh-cn] sync architecture/nodes.md
  content/zh-cn/docs/concepts/architecture/nodes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49874 Improve JSONPath reference
  content/en/docs/reference/kubectl/jsonpath.md
Labels: cncf-cla: yes, size/S, lgtm, approved, kind/cleanup, language/en

#49878 Added "LinkedIn" to en.toml
  data/i18n/en/en.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#49825 Use Docsy-like styling for documentation
  assets/scss/_documentation.scss
  assets/scss/_variables_project.scss
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, area/web-development

#49643 Remove unnecessary i18nDir from hugo.toml
  content/en/docs/contribute/localization.md
  content/en/docs/contribute/style/page-content-types.md
  data/i18n/OWNERS
  hugo.toml
  i18n/OWNERS
  i18n/bn.toml
  i18n/bn/OWNERS
  i18n/bn/bn.toml
  i18n/de.toml
  i18n/de/OWNERS
  i18n/de/de.toml
  i18n/en.toml
  i18n/en/OWNERS
  i18n/en/en.toml
  i18n/es.toml
  i18n/es/OWNERS
  i18n/es/es.toml
  i18n/fr.toml
  i18n/fr/OWNERS
  i18n/fr/fr.toml
  i18n/hi.toml
  i18n/hi/OWNERS
  i18n/hi/hi.toml
  i18n/id.toml
  i18n/id/OWNERS
  i18n/id/id.toml
  i18n/it.toml
  i18n/it/OWNERS
  i18n/it/it.toml
  i18n/ja.toml
  i18n/ja/OWNERS
  i18n/ja/ja.toml
  i18n/ko.toml
  i18n/ko/OWNERS
  i18n/ko/ko.toml
  i18n/nl.toml
  i18n/nl/nl.toml
  i18n/no.toml
  i18n/no/no.toml
  i18n/pl.toml
  i18n/pl/OWNERS
  i18n/pl/pl.toml
  i18n/pt-br.toml
  i18n/pt-br/OWNERS
  i18n/pt-br/pt-br.toml
  i18n/ru.toml
  i18n/ru/OWNERS
  i18n/ru/ru.toml
  i18n/uk.toml
  i18n/uk/OWNERS
  i18n/uk/uk.toml
  i18n/vi.toml
  i18n/vi/OWNERS
  i18n/vi/vi.toml
  i18n/zh-cn.toml
  i18n/zh-cn/OWNERS
  i18n/zh-cn/zh-cn.toml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/en, language/ko, language/ja, language/zh, language/fr, language/it, language/de, language/es, language/pt, language/id, language/hi, language/ru, language/vi, language/pl, language/uk, area/localization, language/bn

#49806 [zh-cn]sync kubectl_apply/* kubectl_taint
  content/zh-cn/docs/reference/kubectl/generated/kubectl_apply/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_apply/kubectl_apply_edit-last-applied.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_taint/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49855 [zh-cn]sync pod-priority-preemption
  content/zh-cn/docs/concepts/scheduling-eviction/pod-priority-preemption.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49881 Merge main branch into dev 1.33
  assets/scss/_custom.scss
  content/de/docs/contribute/_index.md
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/concepts/workloads/pods/sidecar-containers.md
  content/en/docs/reference/access-authn-authz/admission-control-phases.svg
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md
  content/en/docs/reference/glossary/api-resource.md
  content/en/docs/reference/glossary/device-plugin.md
  content/en/docs/reference/glossary/infrastructure-resource.md
  content/en/docs/reference/glossary/object.md
  content/en/docs/reference/kubectl/jsonpath.md
  content/ja/docs/concepts/containers/container-lifecycle-hooks.md
  content/ja/releases/version-skew-policy.md
  content/zh-cn/case-studies/adidas/index.html
  content/zh-cn/docs/concepts/architecture/cloud-controller.md
  content/zh-cn/docs/concepts/architecture/nodes.md
  content/zh-cn/docs/concepts/scheduling-eviction/topology-spread-constraints.md
  content/zh-cn/docs/concepts/security/cloud-native-security.md
  content/zh-cn/docs/concepts/workloads/autoscaling.md
  content/zh-cn/docs/reference/glossary/api-resource.md
  content/zh-cn/docs/reference/glossary/infrastructure-resource.md
  content/zh-cn/docs/reference/glossary/object.md
  content/zh-cn/docs/setup/best-practices/cluster-large.md
  content/zh-cn/docs/tutorials/configuration/updating-configuration-via-a-configmap.md
  content/zh-cn/docs/tutorials/stateful-application/basic-stateful-set.md
  content/zh-cn/releases/release.md
  data/i18n/bn/bn.toml
  data/i18n/en/en.toml
  data/i18n/pt-br/pt-br.toml
  data/i18n/ru/ru.toml
  data/i18n/zh-cn/zh-cn.toml
  layouts/_default/baseof.html
  layouts/blog/baseof.html
  layouts/blog/list.html
  layouts/blog/single.html
  layouts/case-studies/list.html
  layouts/case-studies/single-baseof.html
  layouts/docs/baseof.html
  layouts/docs/glossary.html
  layouts/docs/list.html
  layouts/docs/release-info.html
  layouts/docs/single.html
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en, language/ja, language/zh, language/de, language/pt, language/ru, area/web-development, area/localization, language/bn

#49885 Update pod-security-standards.md
  content/en/docs/concepts/security/pod-security-standards.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49882 [zh-cn]sync localization.md
  content/zh-cn/docs/contribute/localization.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49614 fix: indentation for list items in reviewing-prs.md
  content/en/docs/contribute/review/reviewing-prs.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49832 [zh] Fix 404 pages in case-studies/s*
  content/zh-cn/case-studies/slamtec/index.html
  content/zh-cn/case-studies/slamtec/slamtec_featured_logo.svg
  content/zh-cn/case-studies/slingtv/index.html
  content/zh-cn/case-studies/slingtv/slingtv_featured_logo.svg
  content/zh-cn/case-studies/sos/index.html
  content/zh-cn/case-studies/sos/sos_featured_logo.svg
  content/zh-cn/case-studies/spotify/index.html
  content/zh-cn/case-studies/spotify/spotify-featured.svg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49877 [zh] Sync controllers/deployment.md
  content/zh-cn/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49876 [zh] Add a diagram to admission-controllers.md
  content/zh-cn/docs/reference/access-authn-authz/admission-control-phases.svg
  content/zh-cn/docs/reference/access-authn-authz/admission-controllers.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#49888 [zh] Sync kubectl/jsonpath.md
  content/zh-cn/docs/reference/kubectl/jsonpath.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49911 [zh] Sync kubelet-config-file.md
  content/zh-cn/docs/tasks/administer-cluster/kubelet-config-file.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49912 [zh] Update on-duty maintainers list in readme
  content/zh-cn/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#49793 [pl] docs/concepts/windows/_index.md
  content/pl/docs/concepts/windows/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pl, area/localization

#49892 [bn] Add Tencent Cloud in cloud provider security
  content/bn/docs/concepts/security/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/localization, language/bn

#49711 Clean up two pages for migrating-from-dockershim
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/_index.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/migrate-dockershim-dockerd.md
  content/en/docs/tasks/administer-cluster/migrating-from-dockershim/troubleshooting-cni-plugin-related-errors.md
Labels: cncf-cla: yes, size/L, lgtm, approved, kind/cleanup, language/en

#49920 Update VMware security link
  content/bn/docs/concepts/security/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/localization, language/bn

#49907 [ja] Add Tencent Cloud in cloud provider security
  content/ja/docs/concepts/security/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#49935 Fix grammar in "Autoscaling Workloads" page
  content/en/docs/concepts/workloads/autoscaling.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49938 Fix typo on the Russian kube-apiserver.md page
  content/ru/docs/reference/glossary/kube-apiserver.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ru, area/localization

#48747 Mention graceful_node_shutdown_state in kubelet local files page
  content/en/docs/reference/node/kubelet-files.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/node, approved, language/en

#49923 [en] Fix VMware link
  content/en/docs/concepts/security/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en
