Repository kubernetes/website, pull requests merged in 2025-09, with the labels that each got.

#52056 [zh-cn]sync container-lifecycle-hooks kubelet-credential-provider DRAAdminAccess
  content/zh-cn/docs/concepts/containers/container-lifecycle-hooks.md
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/DRAAdminAccess.md
  content/zh-cn/docs/tasks/administer-cluster/kubelet-credential-provider.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52057 [zh-cn] Sync projected-volumes and its yaml
  content/zh-cn/docs/concepts/storage/projected-volumes.md
  content/zh-cn/examples/pods/storage/projected-podcertificate.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52108 [zh-cn]sync WatchList
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/WatchList.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52092 [id] Correct Prometheus text format link in system-metrics page
  content/id/docs/concepts/cluster-administration/system-metrics.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#52129 [zh-cn]sync cpu-management-policies.md
  content/zh-cn/docs/tasks/administer-cluster/cpu-management-policies.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52100 [zh-cn]sync system-metrics device-plugins system-traces
  content/zh-cn/docs/concepts/cluster-administration/system-metrics.md
  content/zh-cn/docs/concepts/cluster-administration/system-traces.md
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52132 [id] sync examples/controllers/daemonset.yaml
  content/id/examples/controllers/daemonset.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#52110 Schedule KEP-5109 blog for publication
  content/en/blog/_posts/2025-09-02-prefer-align-cpus-by-uncore-cache-beta/c2c_latency.png
  content/en/blog/_posts/2025-09-02-prefer-align-cpus-by-uncore-cache-beta/cache-align-diagram.png
  content/en/blog/_posts/2025-09-02-prefer-align-cpus-by-uncore-cache-beta/index.md
  content/en/blog/_posts/2025-09-02-prefer-align-cpus-by-uncore-cache-beta/mono_vs_split_uncore.png
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#52052 Schedule KEP-4205 blog for publication
  content/en/blog/_posts/2025-09-04-introducing-psi-metrics-beta/index.md
  content/en/blog/_posts/2025-09-04-introducing-psi-metrics-beta/psi-metrics-some-vs-full.svg
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#52136 Publish Auto Node Config Blog Post
  content/en/blog/_posts/2025-09-12-auto-node-configuration-goes-ga.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#51846 Updating windsr/winoverlay feature-gate markdown files for v1.34
  content/en/docs/reference/command-line-tools-reference/feature-gates/WinDSR.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/WinOverlay.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#52107 [zh-cn]sync KubeletCgroupDriverFromCRI node-metrics implementation-details
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/KubeletCgroupDriverFromCRI.md
  content/zh-cn/docs/reference/instrumentation/node-metrics.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/implementation-details.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52109 [zh-cn]sync authentication.md
  content/zh-cn/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52134 [zh] sync service user-namespaces
  content/zh-cn/docs/concepts/services-networking/service.md
  content/zh-cn/docs/concepts/workloads/pods/user-namespaces.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#52106 Fix typo in device plugins documentation
  content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51862 [id] Avoid YAML parsing error in kustomization.yaml
  content/id/docs/tasks/manage-kubernetes-objects/kustomization.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#51608 Fix broken example volume links
  content/en/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#52159 [zh-cn]sync storage/volumes
  content/zh-cn/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#52037 Enhance PSI example CPU stress pod; fix PSI Prometheus metrics grep regex
  content/en/docs/reference/instrumentation/understand-psi-metrics.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#51364 Update /docs/tutorials/hello-minikube image from echoserver to agnhost
  content/en/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#52150 Fix typo on seccomp documentation
  content/en/docs/reference/node/seccomp.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#52165 [zh-cn]sync device-plugins.md
  content/zh-cn/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52148 [zh] Add 2025-09-01-introducing-env-files/
  content/zh-cn/blog/_posts/2025-09-01-introducing-env-files/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52156 [ja] sync extended-resource-node.md
  content/ja/docs/tasks/administer-cluster/extended-resource-node.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#51575 Add Pod Level Resources Blog Post
  content/en/blog/_posts/2025-xx-xx-pod-level-resources/index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, sig/release, approved, language/en, area/blog

#52190 [bn] Update release informations
  content/bn/includes/task-tutorial-prereqs.md
  content/bn/releases/_index.md
  content/bn/releases/patch-releases.md
  content/bn/releases/release-managers.md
  content/bn/releases/release.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, area/localization, language/bn

#52191 [bn] Add careers page for Kubernetes in Bengali
  content/bn/careers/_index.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/localization, language/bn

#52194 [id] sync with PR #52155
  content/id/docs/concepts/configuration/overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#49741 [pl] docs/contribute/generate-ref-docs/metrics-reference.md
  content/pl/docs/contribute/generate-ref-docs/metrics-reference.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, lifecycle/rotten, language/pl, area/localization

#51740 [hi] hi localization of PR 51364 to update hello-minikube image
  content/hi/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/hi, area/localization

#52146 [pt-br] Add content/pt-br/docs/reference/glossary/service-account.md
  content/pt-br/docs/reference/glossary/service-account.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pt, area/localization

#52242 [ja] Fix broken links to https-nginx example
  content/ja/docs/concepts/services-networking/connect-applications-service.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#52184 Update API resource reference for v1.34
  content/en/docs/reference/kubernetes-api/authentication-resources/pod-certificate-request-v1alpha1.md
  content/en/docs/reference/kubernetes-api/authorization-resources/self-subject-access-review-v1.md
  content/en/docs/reference/kubernetes-api/authorization-resources/subject-access-review-v1.md
  content/en/docs/reference/kubernetes-api/cluster-resources/node-v1.md
  content/en/docs/reference/kubernetes-api/common-parameters/common-parameters.md
  content/en/docs/reference/kubernetes-api/config-and-storage-resources/csi-driver-v1.md
  content/en/docs/reference/kubernetes-api/config-and-storage-resources/persistent-volume-claim-v1.md
  content/en/docs/reference/kubernetes-api/config-and-storage-resources/persistent-volume-v1.md
  content/en/docs/reference/kubernetes-api/config-and-storage-resources/volume-attachment-v1.md
  content/en/docs/reference/kubernetes-api/config-and-storage-resources/volume-attributes-class-v1.md
  content/en/docs/reference/kubernetes-api/config-and-storage-resources/volume.md
  content/en/docs/reference/kubernetes-api/extend-resources/device-class-v1.md
  content/en/docs/reference/kubernetes-api/other-resources/_index.md
  content/en/docs/reference/kubernetes-api/other-resources/mutating-admission-policy-binding-list-v1beta1.md
  content/en/docs/reference/kubernetes-api/policy-resources/mutating-admission-policy-v1beta1.md
  content/en/docs/reference/kubernetes-api/policy-resources/network-policy-v1.md
  content/en/docs/reference/kubernetes-api/workload-resources/daemon-set-v1.md
  content/en/docs/reference/kubernetes-api/workload-resources/job-v1.md
  content/en/docs/reference/kubernetes-api/workload-resources/pod-v1.md
  content/en/docs/reference/kubernetes-api/workload-resources/resource-claim-template-v1.md
  content/en/docs/reference/kubernetes-api/workload-resources/resource-claim-v1.md
  content/en/docs/reference/kubernetes-api/workload-resources/resource-slice-v1.md
Labels: cncf-cla: yes, size/XXL, lgtm, approved, language/en

#52126 Add banner for KubeCon 2025 NA
  data/announcements/scheduled.yaml
  static/images/announcements/kccnc-na-2025-white.svg
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, committee/steering, tide/merge-method-squash

#51120 [ja] Translated /content/en/docs/tasks/administer-cluster/safely-drain-node.md into Japanese
  content/ja/docs/tasks/administer-cluster/safely-drain-node.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#52204 sync blog publish date of v1.34 env files blog
  content/zh-cn/blog/_posts/2025-09-10-introducing-env-files/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52293 [uk] sync task-tutorial-prereqs.md
  content/uk/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/uk, area/localization

#52251 [zh-cn]sync kubectl_cluster-info/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_cluster-info/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52213 [zh-cn]sync kubectl_set_serviceaccount.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_set/kubectl_set_serviceaccount.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52210 [zh-cn]sync kubectl_set_subject.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_set/kubectl_set_subject.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52205 [zh-cn]sync kubectl_annotate/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_annotate/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52201 [zh-cn]sync kubectl_api-resources/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_api-resources/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52206 [zh-cn]sync node-resource-managers.md
  content/zh-cn/docs/concepts/policy/node-resource-managers.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52208 [zh-cn]sync kubeadm_config_images_list.md
  content/zh-cn/docs/reference/setup-tools/kubeadm/generated/kubeadm_config/kubeadm_config_images_list.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#52211 [zh-cn]sync kubectl_set_selector
  content/zh-cn/docs/reference/kubectl/generated/kubectl_set/kubectl_set_selector.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52214 [zh-cn]sync kubectl_set_resources.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_set/kubectl_set_resources.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52244 [zh-cn]sync kubectl_debug/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_debug/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52247 [zh-cn]sync kubectl_expose/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_expose/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52249 [zh-cn]sync kubectl_cluster-info_dump.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_cluster-info/kubectl_cluster-info_dump.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52254 [zh-cn]sync kubectl_edit/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_edit/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52290 [id] sync content/id/includes/task-tutorial-prereqs.md
  content/id/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#52174 [ko] fix: instrumentation guidelines link in device plugin page
  content/ko/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#52081 [zh-cn]sync set-up-dra-cluster
  content/zh-cn/docs/tasks/configure-pod-container/assign-resources/set-up-dra-cluster.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52088 [zh-cn]sync storage-limits container-runtimes define-environment-variable-container debug
  content/zh-cn/docs/concepts/storage/storage-limits.md
  content/zh-cn/docs/setup/production-environment/container-runtimes.md
  content/zh-cn/docs/tasks/debug/_index.md
  content/zh-cn/docs/tasks/inject-data-application/define-environment-variable-container.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52175 [zh-cn]sync seccomp hello-minikube
  content/zh-cn/docs/reference/node/seccomp.md
  content/zh-cn/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52301 [zh-cn]sync kubectl.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52041 [zh-cn]sync releases/_index.md
  content/zh-cn/releases/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52299 [zh-cn]sync kubectl_logs/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_logs/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52319 website: update patch release schedule
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, area/release-eng

#52318 Fix video width/horizontal scroll on the main page
  assets/scss/_base.scss
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#52125 Add CoreDNS rebalance note to kubeadm HA guide + remove parallel join note
  content/en/docs/setup/production-environment/tools/kubeadm/high-availability.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/cluster-lifecycle, approved, language/en

#52008 [zh] Add a blog: 2025-09-16-volume-group-snapshot-beta-2.md
  content/zh-cn/blog/_posts/2025-09-16-volume-group-snapshot-beta-2.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52337 [es] sync case-studies/_index.html
  content/es/case-studies/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es, area/localization

#52344 [ja] Fix broken example volume links
  content/ja/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#52306 [pt-br] Update /tutorials/hello-minikube.md
  content/pt-br/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pt, area/localization

#52350 Fix typo in v1.34 Release Announcement
  content/en/blog/_posts/2025-08-27-Kubernetes-v1-34-Release/index.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en, area/blog

#52359 [fr] Fix broken example volume links
  content/fr/docs/concepts/storage/volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr, area/localization

#52361 [zh-cn]sync kubectl_create_namespace.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_namespace.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52351 [zh] Sync kubectl_top/kubectl_top_node.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_top/kubectl_top_node.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51930 [fa] translate /community/
  content/fa/community/_index.html
  content/fa/community/code-of-conduct.md
  content/fa/community/static/OWNERS
  content/fa/community/static/README.md
  content/fa/community/static/cncf-code-of-conduct.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/fa

#52342 [fa] translate /docs/contribute/blog/_index.md/
  content/fa/docs/contribute/blog/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved

#51974 Try to clarify the status of ipvs kube-proxy
  content/en/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/S, lgtm, sig/network, approved, language/en

#51739 [es] es localization of PR 51364 to update hello-minikube image
  content/es/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es, area/localization

#51914 Reword explanation of external authn integrations
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/L, lgtm, sig/auth, approved, language/en

#52393 Fix indentation of kubelet, kubeadm, kubectl install commands
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#52407 Update deprecation version(1.34) for apiserver_storage_objects metric
  content/en/docs/reference/instrumentation/metrics.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#52352 [zh] sync resize-container-resources
  content/zh-cn/docs/tasks/configure-pod-container/resize-container-resources.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#52412 Clean up authn reference
  content/en/docs/reference/access-authn-authz/authentication.md
Labels: cncf-cla: yes, size/M, lgtm, approved, kind/cleanup, language/en

#52424 adding khanhtc1202 and ntheanh201 as owners/reviewers to the Vietnamese translation team
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#51106 [vi] Add Vietnamese translation for Garbage Collection reference
  content/vi/docs/reference/glossary/garbage-collection.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, lifecycle/stale, language/vi, area/localization

#52019 [vi] Update kubectl install steps to pkgs.k8s.io
  content/vi/docs/tasks/tools/install-kubectl.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/vi, area/localization

#51772 [vi] sync with PR 45871
  content/vi/case-studies/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/vi, area/localization

#51752 [vi] Update upcoming events
  content/vi/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/vi, area/localization

#51770 [vi] sync with PR 50206
  content/vi/case-studies/huawei/index.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/vi, area/localization

#51773 [vi] sync with PR 24186
  content/vi/_common-resources/images/kub_video_banner_homepage.jpg
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/vi, area/localization

#51145 [vi] Add Vietnamese translation for mixed-version-proxy.md
  content/vi/docs/concepts/architecture/mixed-version-proxy.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/vi, area/localization

#51936 [ko] Sync /ko/docs/concepts/overview/components.md to match latest en contents
  content/ko/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ko, area/localization

#52419 [zh-cn] Delete redundant comments to fix rendering issues.
  content/zh-cn/docs/concepts/architecture/cri.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/zh, area/localization

#52432 [zh-cn]sync kubectl_certificate_deny.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_certificate/kubectl_certificate_deny.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52434 [zh-cn]sync kubectl_certificate/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_certificate/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52430 [zh-cn]sync kubectl_diff/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_diff/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52409 [zn-ch] fix cel expression in resourceclaimtemplate.yaml
  content/zh-cn/examples/dra/resourceclaimtemplate.yaml
  docs/zn-cn-fix-resourceclaim.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#52429 [zh-cn]sync kubectl_replace/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_replace/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52431 [zh-cn]sync kubectl_delete/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_delete/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52435 [zh-cn]sync kubectl_cordon/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_cordon/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52437 [zh-cn]sync kubectl_config_get-users.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_config/kubectl_config_get-users.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52423 [zh-cn]sync kubectl_port-forward/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_port-forward/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52421 [zh-cn]sync kubectl_cp/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_cp/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52417 [zh-cn]sync kubectl_auth_reconcile.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_auth/kubectl_auth_reconcile.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52415 [zh-cn]sync kubectl_label/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_label/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52413 [zh-cn]sync kubectl_patch/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_patch/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52403 [zh-cn]sync kubectl_api-versions/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_api-versions/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52402 [zh-cn]sync kubectl_create/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52404 [zh-cn]sync kubectl_exec/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_exec/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52414 [zh-cn]sync kubectl_drain/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_drain/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52416 [zh-cn]sync kubectl_auth_whoami.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_auth/kubectl_auth_whoami.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52385 [zh-cn]sync kubectl_create_cronjob.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_cronjob.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52380 [zh-cn]sync kubectl_create_quota.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_quota.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52377 [zh-cn]sync kubectl_create_service.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_service.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52378 [zh-cn]sync kubectl_create_clusterrolebinding.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_clusterrolebinding.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52379 [zh-cn]sync kubectl_create_secret_generic.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_secret_generic.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52389 [zh-cn]sync kubectl_create_role.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_role.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52396 [zh-cn]sync kubectl_create_secret_docker-registry.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_secret_docker-registry.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52420 [zh-cn]sync kubectl_auth/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_auth/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52448 Fix typo on the broken link in the description of feature gate
  content/en/docs/reference/command-line-tools-reference/feature-gates/ExternalServiceAccountTokenSigner.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#52466 [fr] Update image from echoserver to agnhost
  content/fr/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/fr, area/localization

#52479 [zh-cn]sync kubectl_wait/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_wait/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52471 [zh-cn]sync kubectl_proxy/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_proxy/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52328 [zh] Sync kubectl_top/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_top/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52460 [zh-cn]sync kubectl_config_set.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_config/kubectl_config_set.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52468 [zh-cn]sync kubectl_config_get-clusters.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_config/kubectl_config_get-clusters.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52469 [zh-cn]sync kubectl_config/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_config/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52264 [pl] sync with PR 52153
  content/pl/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl, area/localization

#52320 [ja] Sync /ja/docs/concepts/overview/components.md to match en contents
  content/ja/docs/concepts/overview/components.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#52501 [pt-br] Add docs/reference/glossary/duration.md
  content/pt-br/docs/reference/glossary/duration.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, kind/documentation, approved, language/pt, area/localization

#52513 Fix typo: EndppointSlice -> EndpointSlice
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#51882 [Vi] Add Vietnamese translation for Ingress.md
  content/vi/docs/reference/glossary/ingress.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/vi, area/localization

#52502 [vi] Add Vietnamese transaltion for glossary Persistent Volume Claim
  content/vi/docs/reference/glossary/persistent-volume-claim.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/vi, area/localization

#52512 [vi] Add Vietnamese transaltion for glossary Pod Disruption
  content/vi/docs/reference/glossary/pod-disruption.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/vi, area/localization

#52525 [en] fix small typo in documentation
  content/en/docs/concepts/architecture/leases.md
  content/en/docs/concepts/cluster-administration/flow-control.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#52286 [vi] Add Vietnamese translation for "Immutable Infrastructure"
  content/vi/docs/reference/glossary/immutable-infrastructure.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/vi, area/localization

#52527 [vi] add Vietnamese translation for cluster operations glossary
  content/vi/docs/reference/glossary/cluster-operations.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/vi, area/localization

#52536 [vi] Add Vietnamese translation for RBAC
  content/vi/docs/reference/glossary/rbac.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/vi, area/localization

#52524 [vi] Add Vietnamese transaltion for glossary Pod Disruption Budget
  content/vi/docs/reference/glossary/pod-disruption-budget.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/vi, area/localization

#52487 [vi] add Vietnamese translation for glossary Group Version Resource
  content/vi/docs/reference/glossary/group-version-resource.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/vi, area/localization

#50399 [ja] Translate content/en/docs/reference/glossary/taint.md into Japanese
  content/ja/docs/reference/glossary/taint.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#50419 [ja] Translate content/en/docs/reference/glossary/toleration.md into Japanese
  content/ja/docs/reference/glossary/toleration.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/ja, area/localization

#52335 [bn] sync case-studies/_index.html
  content/bn/case-studies/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/localization, language/bn

#52116 [ko] Translate /docs/tasks/manage-daemon/create-daemon-set into Korean
  content/ko/docs/tasks/manage-daemon/create-daemon-set.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko, area/localization

#52236 [ko] Sync /docs/concepts/policy/limit-range.md with latest EN
  content/ko/docs/concepts/policy/limit-range.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ko, area/localization

#52530 [zh-cn] improve cluster networking
  content/zh-cn/docs/concepts/cluster-administration/networking.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#52529 [zh-cn]sync kubectl_completion/_index.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_completion/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#51994 Document PartialObjectMetadata accept param
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#51559 [vi] add Vietnamese translation for jwt glossary
  content/vi/docs/reference/glossary/jwt.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, ok-to-test, language/vi, area/localization

#52567 [zh] Sync kubectl_rollout_undo.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_rollout/kubectl_rollout_undo.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52498 Fix broken link to guestbook example
  content/en/docs/concepts/overview/working-with-objects/labels.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/en

#52372 [zh-cn]sync kubectl_create_priorityclass.md
  content/zh-cn/docs/reference/kubectl/generated/kubectl_create/kubectl_create_priorityclass.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#52542 [ja] Translated /docs/concepts/cluster-administration/kube-state-metrics.md into Japanese
  content/ja/docs/concepts/cluster-administration/kube-state-metrics.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/ja, area/localization

#52576 [ja] fix typo in tasks/configure-pod-container/security-context.md
  content/ja/docs/tasks/configure-pod-container/security-context.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#52579 [Vi] Add Vietnamese translation for Istio
  content/vi/docs/reference/glossary/istio.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/vi, area/localization
