Repository kubernetes/website, pull requests merged in 2025-04, with the labels that each got.

#50288 [zh-cn] sync pods/user-namespaces.md
  content/zh-cn/docs/concepts/workloads/pods/user-namespaces.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#50312 id: translate security tutorial pod security standards
  content/id/docs/tutorials/security/ns-level-pss.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/id, area/localization

#49688 [zh-cn]sync rbac validating-admission-policy
  content/zh-cn/docs/reference/access-authn-authz/rbac.md
  content/zh-cn/docs/reference/access-authn-authz/validating-admission-policy.md
  content/zh-cn/examples/access/simple-clusterrole.yaml
  content/zh-cn/examples/access/simple-role.yaml
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50347 [zh] sync authentication kubelet-authn-authz
  content/zh-cn/docs/reference/access-authn-authz/authentication.md
  content/zh-cn/docs/reference/access-authn-authz/kubelet-authn-authz.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49906 add pod generation to docs for v1.33
  content/en/docs/concepts/workloads/pods/_index.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/PodObservedGenerationTracking.md
  content/en/docs/reference/command-line-tools-reference/kube-controller-manager.md
  content/en/docs/reference/command-line-tools-reference/kube-scheduler.md
  content/en/docs/reference/command-line-tools-reference/kubelet.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#50063 [ja] Update `tutorials/hello-minikube.md` to follow the upstream
  content/ja/docs/tutorials/hello-minikube.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#50374 [id] Added "LinkedIn" to toml
  i18n/id/id.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#49936 [KEP-4639] Graduate image volume source to beta
  content/en/docs/concepts/storage/volumes.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/ImageVolume.md
  content/en/docs/tasks/configure-pod-container/image-volumes.md
  content/en/examples/pods/image-volumes-subpath.yaml
Labels: cncf-cla: yes, size/M, lgtm, kind/feature, sig/node, approved, language/en

#50331 [ja] Translate blog: Spotlight on SIG Cloud Provider into Japanese
  content/ja/blog/_posts/2024-03-01-sig-cloud-provider-spotlight.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#50378 [ja] Fix broken image in SIG Node Spotlight 2024 blog post due to incorrect path
  content/ja/blog/_posts/2024-05-21-sig-node-spotlight/index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#50384 [ja] Added "LinkedIn" to toml
  i18n/ja/ja.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#50336 [pl] sync with PR #45916,#44349
  content/pl/docs/reference/_index.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/pl, area/localization

#50315 [pl] Added "LinkedIn" to toml
  i18n/pl/pl.toml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pl

#50256 [pl] Renamed search placeholder
  i18n/pl/pl.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl

#49940 [pl] update: remove docs/sitemap.md
  content/pl/docs/sitemap.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/pl, area/localization

#49782 [pl] docs/concepts/configuration/_index.md
  content/pl/docs/concepts/configuration/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl, area/localization

#49788 [pl] docs/reference/glossary/pod-disruption.md
  content/pl/docs/reference/glossary/pod-disruption.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pl, area/localization

#49791 [pl] docs/concepts/storage/_index.md
  content/pl/docs/concepts/storage/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pl, area/localization

#50324 create the Assign memory resources to Containers and Pods page
  content/vi/docs/tasks/configure-pod-container/_index.md
  content/vi/docs/tasks/configure-pod-container/assign-memory-resource.md
  content/vi/examples/pods/resource/memory-request-limit-2.yaml
  content/vi/examples/pods/resource/memory-request-limit-3.yaml
  content/vi/examples/pods/resource/memory-request-limit.yaml
  content/vi/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/vi, area/localization

#50359 [ja] Translate blog: Kubernetes v1.33 sneak peek into Japanese
  content/ja/blog/_posts/2024-03-12-mid-cycle-1.30.md
  content/ja/blog/_posts/2025-03-26-kubernetes-1.33-sneak-peek.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#49746 Multiple Service CIDRs - KEP 1880
  content/en/docs/reference/command-line-tools-reference/feature-gates/DisableAllocatorDualWrite.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/MultiCIDRServiceAllocator.md
  content/en/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/M, lgtm, approved, tide/merge-method-squash, language/en

#49749 user-namespaces: add idsPerPod configuration
  content/en/docs/concepts/workloads/pods/user-namespaces.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#49858 KEP 4818: PodLifecycleSleepActionAllowZero beta graduation
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/PodLifecycleSleepActionAllowZero.md
Labels: cncf-cla: yes, size/S, lgtm, sig/node, approved, tide/merge-method-squash, language/en

#49685 update SidecarContainers to stable in v1.33
  content/en/docs/concepts/workloads/pods/_index.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/SidecarContainers.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, tide/merge-method-squash, language/en

#49933 [KEP-4817] DRAResourceClaimDeviceStatus to Beta
  content/en/docs/reference/command-line-tools-reference/feature-gates/DRAResourceClaimDeviceStatus.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, tide/merge-method-squash, language/en

#49732 docs: add necessary feature gate information for KEP-5073 - Declarative Validation of K8s Native Types With validation-gen
  content/en/docs/reference/command-line-tools-reference/feature-gates/DeclarativeValidation.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/DeclarativeValidationTakeover.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/en, area/blog

#49884 Add docs for PSAT for Kubelet Image Credential Providers alpha
  content/en/docs/reference/command-line-tools-reference/feature-gates/KubeletServiceAccountTokenForCredentialProviders.md
  content/en/docs/tasks/administer-cluster/kubelet-credential-provider.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en

#50389 Fix broken link in "Node Labels Populated By The Kubelet" page
  content/en/docs/reference/node/node-labels.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49413 KEP-4193: 1.33 updates for ServiceAccountTokenNodeBinding GA
  content/en/docs/reference/access-authn-authz/service-accounts-admin.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/ServiceAccountTokenNodeBinding.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, approved, language/en

#49955 bump ClusterTrustBundle FGs to beta
  content/en/docs/reference/command-line-tools-reference/feature-gates/ClusterTrustBundle.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/ClusterTrustBundleProjection.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/auth, approved, language/en, sig/security

#49927 [Scheduler] Graduate NodeInclusionPolicy to GA
  content/en/docs/concepts/scheduling-eviction/topology-spread-constraints.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/NodeInclusionPolicyInPodTopologySpread.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/scheduling, approved, tide/merge-method-squash, language/en

#48592 Rewrite tutorials in Markdown
  content/en/docs/tutorials/kubernetes-basics/_index.html
  content/en/docs/tutorials/kubernetes-basics/_index.md
  content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.md
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html
  content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.md
  content/en/docs/tutorials/kubernetes-basics/explore/explore-intro.html
  content/en/docs/tutorials/kubernetes-basics/explore/explore-intro.md
  content/en/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/en/docs/tutorials/kubernetes-basics/expose/expose-intro.md
  content/en/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/en/docs/tutorials/kubernetes-basics/scale/scale-intro.md
  content/en/docs/tutorials/kubernetes-basics/update/update-intro.html
  content/en/docs/tutorials/kubernetes-basics/update/update-intro.md
  static/css/style_tutorials.css
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, lifecycle/stale, language/en, area/web-development

#49897 KEP-2625: cpumanager full-pcpus-only becomes GA
  content/en/docs/concepts/policy/node-resource-managers.md
  content/en/docs/tasks/administer-cluster/cpu-management-policies.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#50316 [ja] Translate content/en/docs/concepts/workloads/management.md into Japanese
  content/ja/docs/concepts/workloads/management.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#50400 [zh-cn]sync node-labels.md
  content/zh-cn/docs/reference/node/node-labels.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#50367 [ja] Translate content/en/docs/tasks/manage-daemon/rollback-daemon-set.md
  content/ja/docs/tasks/manage-daemon/rollback-daemon-set.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/ja, area/localization

#49886 KEP 2535: Ensure Secret Pulled Images
  content/en/docs/concepts/containers/images.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/kubelet-ensure-secret-pulled-images.md
  content/en/docs/reference/node/kubelet-files.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#50414 JSONPath example
  content/en/docs/reference/kubectl/jsonpath.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#50329 [zh-cn]sync assign-pod-node topology-spread-constraints user-namespaces
  content/zh-cn/docs/concepts/scheduling-eviction/assign-pod-node.md
  content/zh-cn/docs/concepts/scheduling-eviction/topology-spread-constraints.md
  content/zh-cn/docs/concepts/workloads/pods/user-namespaces.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50412 [zh-cn]sync update/update-intro
  content/zh-cn/docs/tutorials/kubernetes-basics/update/update-intro.html
  content/zh-cn/docs/tutorials/kubernetes-basics/update/update-intro.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#50340 [ja] Translate content/en/blog/_posts/2024-08-20-websocket-transition.md into Japanese
  content/ja/blog/_posts/2024-08-20-websocket-transition.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ja, area/localization

#49826 Add documentation for configurable autoscaling tolerance.
  content/en/docs/reference/command-line-tools-reference/feature-gates/HPAConfigurableTolerance.md
  content/en/docs/tasks/run-application/horizontal-pod-autoscale.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#50287 [KEP-3973]: update the DeploymentPodReplacementPolicy FG references to DeploymentReplicaSetTerminatingReplicas
  content/en/docs/concepts/workloads/controllers/deployment.md
  content/en/docs/concepts/workloads/controllers/replicaset.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/deployment-pod-replacement-policy.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#50325 cfg: update sig docs es owners aliases
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/localization

#50192 [ko] Removed site-searchbar
  content/ko/_index.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#50264 Remove all files related to `nl` and `no` localisations
  content/no/_common-resources/index.md
  content/no/_index.html
  content/no/blog/_index.md
  content/no/blog/_posts/2018-09-06-2018-steering-committee-election-cycle-kicks-off.md
  content/no/case-studies/_index.md
  content/no/case-studies/adform/index.html
  content/no/docs/_index.md
  content/no/docs/contribute/_index.md
  content/no/docs/home/_index.md
  content/no/docs/reference/_index.md
  content/no/docs/reference/glossary/container.md
  content/no/docs/reference/glossary/index.md
  content/no/docs/setup/_index.md
  content/no/docs/setup/pick-right-solution.md
  content/no/docs/tutorials/kubernetes-basics/_index.md
  hugo.toml
  i18n/nl/nl.toml
  i18n/no/no.toml
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, kind/cleanup, area/localization

#49742 [pl] docs/contribute/generate-ref-docs/prerequisites-ref-docs.md
  content/pl/docs/contribute/generate-ref-docs/prerequisites-ref-docs.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/pl, area/localization

#50420 fix: projected volumes: clustertrustbundle API is beta in 1.33+
  content/en/docs/concepts/storage/projected-volumes.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49929 5018 dra admin access
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/DRAAdminAccess.md
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/node, approved, tide/merge-method-squash, language/en, wg/device-management

#49943 KEP-3015 PreferSameNode TrafficDistribution 1.33
  content/en/docs/concepts/services-networking/service.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/PreferSameTrafficDistribution.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/ServiceTrafficDistribution.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/TopologyAwareHints.md
  content/en/docs/reference/networking/virtual-ips.md
Labels: cncf-cla: yes, size/L, lgtm, approved, tide/merge-method-squash, language/en

#49869 Document DRA prioritized list(s)
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/DRAPrioritizedList.md
Labels: cncf-cla: yes, size/M, lgtm, approved, tide/merge-method-squash, language/en

#49941 KEP-4988 documentation changes
  content/en/docs/reference/using-api/api-concepts.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#50034 KEP-5080: OrderedNamespaceDeletion
  content/en/docs/reference/command-line-tools-reference/feature-gates/OrderedNamespaceDeletion.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#49918 Add docs for KEP-4876: Mutable CSINode Allocatable Property
  content/en/docs/concepts/storage/storage-limits.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/MutableCSINodeAllocatableCount.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#50092 Add guide to blog contributions
  content/en/docs/contribute/_index.md
  content/en/docs/contribute/blog/_index.md
  content/en/docs/contribute/blog/buddying.md
  content/en/docs/contribute/blog/guidelines.md
  content/en/docs/contribute/blog/mirroring.md
  content/en/docs/contribute/blog/release-comms.md
  content/en/docs/contribute/blog/submission.md
  content/en/docs/contribute/docs.md
  content/en/docs/contribute/new-content/_index.md
  content/en/docs/contribute/new-content/blogs-case-studies.md
  content/en/docs/contribute/new-content/case-studies.md
  content/en/docs/contribute/new-content/new-features.md
  content/en/docs/contribute/review/for-approvers.md
  content/en/docs/contribute/review/reviewing-prs.md
  content/en/docs/contribute/suggesting-improvements.md
  static/_redirects
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/en

#49801 KEP-4049: Add StorageCapacityScoring feature gate documents
  content/en/docs/concepts/scheduling-eviction/scheduling-framework.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/StorageCapacityScoring.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/VolumeCapacityPriority.md
  content/en/docs/reference/scheduling/config.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#50423 [zh] Update 2024-05-09-gateway-api-v1.1/index.md
  content/zh-cn/blog/_posts/2024-05-09-gateway-api-v1.1/index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#50425 [zh] Add new-content/case-studies.md and update _index.md
  content/zh-cn/docs/contribute/new-content/_index.md
  content/zh-cn/docs/contribute/new-content/case-studies.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50270 [zh-cn] sync blog file 2024-08-14-pv-last-phase-transition-time-ga.md
  content/zh-cn/blog/_posts/2024-08-14-pv-last-phase-transition-time-ga.md
  content/zh-cn/docs/concepts/storage/persistent-volumes.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#50426 [zh-cn]sync blogs-case-studies new-features
  content/zh-cn/docs/contribute/new-content/blogs-case-studies.md
  content/zh-cn/docs/contribute/new-content/new-features.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50430 [zh-cn] sync contribute/docs.md
  content/zh-cn/docs/contribute/docs.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#50432 [zh-cn] sync review/for-approvers.md
  content/zh-cn/docs/contribute/review/for-approvers.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49942 KEP-4858: Add StrictIPCIDRValidation feature gate file
  content/en/docs/reference/command-line-tools-reference/feature-gates/StrictIPCIDRValidation.md
Labels: cncf-cla: yes, size/S, lgtm, sig/network, approved, language/en

#49857 KEP 4960: Container Stop Signals
  content/en/docs/concepts/containers/container-lifecycle-hooks.md
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/ContainerStopSignals.md
Labels: cncf-cla: yes, size/M, lgtm, approved, tide/merge-method-squash, language/en

#49928 4742 Expose Node Labels in Downward API Docs
  content/en/docs/reference/access-authn-authz/admission-controllers.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/PodTopologyLabelsAdmission.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#49840 KEP-5142: Add SchedulerPopFromBackoffQ feature gate docs
  content/en/docs/reference/command-line-tools-reference/feature-gates/SchedulerPopFromBackoffQ.md
Labels: cncf-cla: yes, size/S, lgtm, sig/scheduling, approved, language/en

#50272 id: translate tutorial pod security
  content/id/docs/tutorials/security/cluster-level-pss.md
  content/id/examples/security/example-baseline-pod.yaml
  content/id/examples/security/kind-with-cluster-level-baseline-pod-security.sh
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/id, area/localization

#50291 id: translate index page on security tutorial
  content/id/docs/tutorials/security/_index.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/id, area/localization

#50431 [zh-cn] sync contribute/_index.md
  content/zh-cn/docs/contribute/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#49895 KEP-4205: update for alpha release in 1.33
  content/en/docs/concepts/cluster-administration/system-metrics.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/KubeletPSI.md
  content/en/docs/reference/instrumentation/node-metrics.md
  content/en/docs/reference/node/kernel-version-requirements.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#49904 Website updates for WinDSR / WinOverlay v1.33 beta
  content/en/docs/concepts/services-networking/windows-networking.md
Labels: cncf-cla: yes, size/S, lgtm, sig/windows, sig/network, approved, language/en

#50065 KEP-4603: Docs for feature behind ReduceDefaultCrashLoopBackoffDecay feature gate
  content/en/docs/concepts/workloads/pods/pod-lifecycle.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/ReduceDefaultCrashLoopBackOffDecay.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#49996 KEP-4832: graduate the async preemption feature to beta
  content/en/docs/reference/command-line-tools-reference/feature-gates/SchedulerAsyncPreemption.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49868 Document DRA partitionable devices
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/DRAPartitionableDevices.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#50439 Add cgroup v2 to PSI requirements
  content/en/docs/concepts/cluster-administration/system-metrics.md
  content/en/docs/reference/instrumentation/node-metrics.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#49905 Removing docs for Windows hostNetwork support for v1.33
  content/en/docs/concepts/windows/intro.md
Labels: cncf-cla: yes, size/S, lgtm, sig/windows, sig/network, approved, tide/merge-method-squash, language/en

#50443 [zh] Move 'Namespaces Walkthrough' to tutorials section
  content/zh-cn/docs/tutorials/cluster-management/namespaces-walkthrough.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#50429 [zh] Sync review/reviewing-prs.md
  content/zh-cn/docs/contribute/review/reviewing-prs.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49822 DRA: device taints and tolerations
  content/en/docs/concepts/scheduling-eviction/dynamic-resource-allocation.md
  content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md
  content/en/docs/reference/command-line-tools-reference/feature-gates/DRADeviceTaints.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en, wg/device-management

#49311 mark AppArmor as removed
  content/en/docs/reference/command-line-tools-reference/feature-gates/AppArmor.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#50249 [es] Renamed search placeholder
  i18n/es/es.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es, area/localization

#50255 [ko] Renamed search placeholder
  i18n/ko/ko.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#49313 mark JobPodFailurePolicy as removed
  content/en/docs/reference/command-line-tools-reference/feature-gates/JobPodFailurePolicy.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#50416 [ru] Text corrections for various pages
  content/ru/docs/concepts/overview/components.md
  content/ru/docs/concepts/overview/kubernetes-api.md
  content/ru/docs/concepts/overview/what-is-kubernetes.md
  content/ru/docs/concepts/overview/working-with-objects/kubernetes-objects.md
  content/ru/docs/concepts/overview/working-with-objects/labels.md
  content/ru/docs/concepts/overview/working-with-objects/namespaces.md
  content/ru/docs/reference/glossary/kube-apiserver.md
  content/ru/docs/reference/glossary/kube-scheduler.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, tide/merge-method-squash, language/ru, area/localization

#50404 [zh-cn]sync kubernetes-basics/_index
  content/zh-cn/docs/tutorials/kubernetes-basics/_index.html
  content/zh-cn/docs/tutorials/kubernetes-basics/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50444 [zh] Sync kubectl/jsonpath.md and kubectl_get/
  content/zh-cn/docs/reference/kubectl/generated/kubectl_get/_index.md
  content/zh-cn/docs/reference/kubectl/jsonpath.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#50457 [zh-cn] Sync declare-network-policy.md
  content/zh-cn/docs/tasks/administer-cluster/declare-network-policy.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/zh, area/localization

#50458 [zh-cn] Remove undefined feature gate PreferAlignCpusByUncoreCache
  content/zh-cn/docs/reference/command-line-tools-reference/feature-gates/PreferAlignCpusByUncoreCache.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#50470 [ja] Update the check for open port in install-kubeadm.md
  content/ja/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#49670 [ko] fix: typo in leases.md
  content/ko/docs/concepts/architecture/leases.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#50479 [ko] Update the check for open port in install-kubeadm.md
  content/ko/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#50452 Update the kubeadm config v1beta4 for readability
  content/en/docs/reference/config-api/kubeadm-config.v1beta4.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en

#50483 [pt] Update the check for open port in install-kubeadm.md
  content/pt-br/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/pt, area/localization

#50183 [pt-br] Update concepts/containers/images
  content/pt-br/docs/concepts/containers/images.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, tide/merge-method-squash, language/pt, area/localization

#50477 [zh-cn]sync config-map-v1
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/config-map-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#50476 [zh-cn]sync extend-resources/*
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/custom-resource-definition-v1.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/mutating-webhook-configuration-v1.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/validating-webhook-configuration-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50473 [zh-cn]sync horizontal-pod-autoscaler-* job-v1
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/horizontal-pod-autoscaler-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/horizontal-pod-autoscaler-v2.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/job-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50472 [zh-cn]sync authorization-resources/*
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/cluster-role-binding-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/cluster-role-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/role-binding-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authorization-resources/role-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50475 [zh-cn]sync service-resources/*
  content/zh-cn/docs/reference/kubernetes-api/service-resources/endpoint-slice-v1.md
  content/zh-cn/docs/reference/kubernetes-api/service-resources/endpoints-v1.md
  content/zh-cn/docs/reference/kubernetes-api/service-resources/ingress-class-v1.md
  content/zh-cn/docs/reference/kubernetes-api/service-resources/ingress-v1.md
  content/zh-cn/docs/reference/kubernetes-api/service-resources/service-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50468 [zh-cn] sync kubernetes-api/authentication-resources/*
  content/zh-cn/docs/reference/kubernetes-api/authentication-resources/certificate-signing-request-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authentication-resources/cluster-trust-bundle-v1alpha1.md
  content/zh-cn/docs/reference/kubernetes-api/authentication-resources/service-account-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authentication-resources/token-request-v1.md
  content/zh-cn/docs/reference/kubernetes-api/authentication-resources/token-review-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50466 Add bootstrap-5.3.2.min.js dependency for api reference v1.29+
  static/js/README.md
  static/js/bootstrap-5.3.2.min.js
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#50474 [zh-cn]sync lease-v1 namespace-v1 node-v1
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/lease-v1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/namespace-v1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/node-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50467 [zh-cn]sync config-and-storage-resources/volume.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/volume.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50464 [zh-cn] sync device-class-v1beta1.md
  content/zh-cn/docs/reference/kubernetes-api/extend-resources/device-class-v1beta1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50465 [zh-cn]sync resource-slice-v1beta1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/resource-slice-v1beta1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50463 [zh-cn] sync persistent-volume-v1.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/persistent-volume-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50182 [zh-cn]sync admission-webhooks-good-practices
  content/zh-cn/docs/concepts/cluster-administration/admission-webhooks-good-practices.md
Labels: cncf-cla: yes, size/XXL, lgtm, sig/docs, approved, language/zh, area/localization

#50478 Add 1.33 to the release schedule for 1.33 release
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, sig/release, approved, area/release-eng

#50460 id: translate issues-security into ID
  content/id/docs/reference/issues-security/OWNERS
  content/id/docs/reference/issues-security/_index.md
  content/id/docs/reference/issues-security/issues.md
  content/id/docs/reference/issues-security/official-cve-feed.md
  content/id/docs/reference/issues-security/security.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/id, area/localization

#50000 Add HPA 'configurable tolerance' blog post (KEP-4951).
  content/en/blog/_posts/XXXX-XX-XX-hpa-configurable-tolerance.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en, area/blog

#49772 [de] Fixed link for core dns helm charts
  content/de/docs/concepts/cluster-administration/addons.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/de, area/localization

#50488 id: translate application security checklist
  content/id/docs/concepts/security/application-security-checklist.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/id, area/localization

#50424 [zh] Add contribute/blog/_index.md
  content/zh-cn/docs/contribute/blog/_index.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50484 [zh] Sync workload-resources/cron-job-v1, daemon-set-v1, replica-set-v1
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/cron-job-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/daemon-set-v1.md
  content/zh-cn/docs/reference/kubernetes-api/workload-resources/replica-set-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50485 [zh] Sync kubernetes-api/policy-resources/*
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/flow-schema-v1.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/limit-range-v1.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/network-policy-v1.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/pod-disruption-budget-v1.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/priority-level-configuration-v1.md
  content/zh-cn/docs/reference/kubernetes-api/policy-resources/resource-quota-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50487 [zh] Sync config-and-storage-resources/persistent-volume-claim-v1.md
  content/zh-cn/docs/reference/kubernetes-api/config-and-storage-resources/persistent-volume-claim-v1.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50411 [zh-cn]sync scale/scale-intro
  content/zh-cn/docs/tutorials/kubernetes-basics/scale/scale-intro.html
  content/zh-cn/docs/tutorials/kubernetes-basics/scale/scale-intro.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#50494 [zh] sync ip-address-v1beta1 runtime-class-v1 service-cidr-v1beta1
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/ip-address-v1beta1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/runtime-class-v1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/service-cidr-v1beta1.md
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, language/zh, area/localization

#50461 Improve Job docs by clarifying defaulting of backoffLimit field
  content/en/docs/concepts/workloads/controllers/job.md
Labels: cncf-cla: yes, size/S, lgtm, approved, language/en

#50482 Include drafts in preview deploy
  Makefile
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#50211 Rework blog sidebar to align to how Docsy sidebars are implemented
  layouts/partials/blog-sidebar-tree.html
  layouts/partials/blog-sidebar.html
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, area/web-development

#50199 Remove the site-searchbar shortcode
  layouts/_default/search.html
  layouts/index.html
  layouts/shortcodes/site-searchbar.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#50262 Remove the search placeholder workaround
  layouts/partials/search-input-custom.html
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, area/web-development

#50496 [zh] sync api-service-v1 event-v1
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/api-service-v1.md
  content/zh-cn/docs/reference/kubernetes-api/cluster-resources/event-v1.md
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, approved, language/zh, area/localization

#50499 Updates case studies link
  layouts/shortcodes/blocks/case-studies.html
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, area/web-development

#49130 Improve PV Storage Task
  content/en/docs/tasks/configure-pod-container/configure-persistent-volume-storage.md
  content/en/examples/pods/storage/nginx.conf
  content/en/examples/pods/storage/pv-duplicate.yaml
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en

#50375 Document kubeadm OS version requirement
  content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
Labels: cncf-cla: yes, size/M, lgtm, sig/cluster-lifecycle, approved, language/en

#50421 blog: add Kubernetes sidecar patterns
  content/en/blog/_posts/2025-04-11-multicontainer-patterns/index.md
Labels: cncf-cla: yes, size/L, lgtm, approved, language/en, area/blog

#50348 fix: escape pipe symbol in a table
  content/en/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, language/en

#49551 Add ianychoi to sig-docs-ko-owners & sig-docs-ko-reviews
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved

#50217 Replaced the deprecation-warning partial with docsy provided version-banner
  assets/scss/_custom.scss
  assets/scss/_k8s_community.scss
  assets/scss/_styles_project.scss
  hugo.toml
  layouts/_default/baseof.html
  layouts/blog/baseof.html
  layouts/docs/baseof.html
  layouts/partials/deprecation-warning.html
  layouts/partials/version-banner.html
Labels: cncf-cla: yes, size/M, lgtm, sig/docs, approved, area/web-development

#50518 Add March 2025 and delay April 2025 releases
  data/releases/schedule.yaml
Labels: cncf-cla: yes, size/S, lgtm, sig/docs, sig/release, approved, area/release-eng

#50491 [ko] add new playground to kubernetes documentation
  content/ko/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#50450 [ko] Remove broken hyperlink
  content/ko/docs/tasks/debug/debug-cluster/crictl.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#49372 [ko] Remove tutorials link to java microservice example
  content/ko/docs/tutorials/_index.md
  content/ko/docs/tutorials/configuration/configure-java-microservice/_index.md
  content/ko/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice-interactive.html
  content/ko/docs/tutorials/configuration/configure-java-microservice/configure-java-microservice.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, lifecycle/stale, language/ko, area/localization

#49842 [ko] Add cloudcoil to client libraries
  content/ko/docs/reference/using-api/client-libraries.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#49977 [ko] fix: code block typo in deployment.md
  content/ko/docs/concepts/workloads/controllers/deployment.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#50019 [ko] Fix VMware link
  content/ko/docs/concepts/security/overview.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#50024 Add in-Place pod resize beta blog post
  content/en/blog/_posts/XXXX-XX-XX-in-place-pod-resize-beta.md
Labels: cncf-cla: yes, size/M, lgtm, approved, language/en, area/blog

#49467 [es] Fix Borg research publication link
  content/es/docs/concepts/overview/what-is-kubernetes.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/es, area/localization

#50505 Document endpoints.kubernetes.io/managed-by
  content/en/docs/reference/labels-annotations-taints/_index.md
Labels: cncf-cla: yes, size/S, lgtm, sig/network, approved, language/en

#50405 [zh-cn]sync create-cluster/cluster-intro
  content/zh-cn/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html
  content/zh-cn/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#49694 [ko] Fix OpenTelemetry Protocol hyperlink
  content/ko/docs/concepts/cluster-administration/system-traces.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#50401 [ko] Added "LinkedIn" to toml
  i18n/ko/ko.toml
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ko, area/localization

#50527 [ja] add new playground to kubernetes documentation
  content/ja/includes/task-tutorial-prereqs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/docs, approved, language/ja, area/localization

#50433 [zh-cn] add contribute/blog/buddying.md
  content/zh-cn/docs/contribute/blog/buddying.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50407 [zh-cn]sync explore/explore-intro
  content/zh-cn/docs/tutorials/kubernetes-basics/explore/explore-intro.html
  content/zh-cn/docs/tutorials/kubernetes-basics/explore/explore-intro.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#50408 [zh-cn]sync expose/expose-intro
  content/zh-cn/docs/tutorials/kubernetes-basics/expose/expose-intro.html
  content/zh-cn/docs/tutorials/kubernetes-basics/expose/expose-intro.md
Labels: cncf-cla: yes, size/XL, lgtm, sig/docs, approved, language/zh, area/localization

#50427 [zh-cn]Add contribute/blog/mirroring.md
  content/zh-cn/docs/contribute/blog/mirroring.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization

#50428 [zh-cn]Add contribute/blog/release-comms.md
  content/zh-cn/docs/contribute/blog/release-comms.md
Labels: cncf-cla: yes, size/L, lgtm, sig/docs, approved, language/zh, area/localization
